@keyframes footer-fixed{
  0%   {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 102%, 0);
    -webkit-transform: translate3d(0, 102%, 0);
  }
}
@keyframes footer-fixed-active{
  0%   {
    transform: translate3d(0, 102%, 0);
    -webkit-transform: translate3d(0, 102%, 0);
  }
  100% {transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes rotate-loader {
  0%{-webkit-transform: rotate(0deg); transform: rotate(0deg);}
  50%{-webkit-transform: rotate(180deg); transform: rotate(180deg); }
  100%{-webkit-transform: rotate(360deg); transform: rotate(360deg);}
}
@keyframes rotate-loader {
  0%{-webkit-transform: rotate(0deg); transform: rotate(0deg);}
  50%{-webkit-transform: rotate(180deg); transform: rotate(180deg); }
  100%{-webkit-transform: rotate(360deg); transform: rotate(360deg);}
}