.big-contain-view {
  float: left;
  width: 100%;
  min-width: 970px;
  padding: 0;
}

.gaming-wrapper-asia {
  float: left;
  width: 100%;
  min-width: 970px;
  height: 100%;
  font: 10px/12px $font-f !important;
  .md-progress-circular.md-theme:not(.not-main) {
    left: 50%;
    margin-left: -50px;
    margin-top: 40px;
    //padding: 20px 0 40px !important;
    @include rtl {
      left: auto;
      right: 50%;
      margin-left: 0;
      margin-right: -50px;
    }
  }
  .contein-mini-filtr .md-progress-circular.md-theme {
    position: absolute;
    top: 1px;
    left: auto;
    right: 22px;
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  .contain-open-bets > .md-progress-circular.md-theme {
    top: 0 !important;
    left: 50% !important;
  }
}

.asian-contain {
  width: 100%;
  float: left;
  padding: 10px 10px 32px;
  position: relative;
  box-sizing: border-box;
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  .asian-fix-buttons {
    position: fixed;
    bottom: 0;
    right: 10px;
    button {
      float: left;
      height: 30px;
      color: $text-palette-1;
      background: rgba(lighten(desaturate($skin-color, 18), 19), 0.65);
      padding: 0 16px 0 46px;
      border: none;
      box-sizing: border-box;
      text-transform: uppercase;
      cursor: pointer;
      font: 12px/30px $font-f;
      transform: translate3d(0, 0, 0);
      &.asian-button-refresh-view {
        width: 54px;
        padding: 0 10px 0 30px;
        &:before {
          font: 10px/30px icomoon;
        }
      }
      &.asian-button-to-top:before {
        content: "\e661";
        position: absolute;
        top: 6px;
        left: 4px;
        display: block;
        width: 30px;
        height: 18px;
        border-right: 1px solid $text-palette-1;
        font: 16px/18px icomoon;
      }
      & + button {
        margin-left: 2px;
      }
    }
  }
}

/*left block*/
.asian-left-menu-fixed {
  float: left;
  width: 280px;
  @include rtl {
    float: right;
  }
}

.asian-left-menu-scroll-wrapper {
  float: left;
  width: 280px;
  height: calc(100vh - 20px - #{$header-first-line-height + $header-nav-line-height + $subheader-height});
  transition: 300ms margin, 300ms height;
  &.scrollable-fixed {
    margin: 10px 0 0;
    height: calc(100vh - 20px - #{$subheader-height});
  }
}

.asian-left-contain-menu {
  padding: 0 1px 0 0;
  float: left;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  @include rtl {
    padding: 0 0 0 1px;
  }
  .right-block-list {
    float: left;
    width: 100%;
  }
}

//animation & video
.asian-left-contain-menu {
  .video-animation-vox-v3 {
    height: 138px;
    .video-player-container {
      height: 138px;
    }
  }
  .contain-v-a-fanction-icons-v3 > ul > li.resize-icon-b-v3 {
    display: none;
  }
  .video-player-control {
    top: -28px;
    right: 112px;
  }
}

.gaming-wrapper-asia .video-player-control.volume-control {
  top: -28px;
  right: 82px;
}

.gaming-wrapper-asia .video-player-control.volume-control > span,
.gaming-wrapper-asia .contain-v-a-fanction-icons-v3 > ul > li.sound-icon-v3:before {
  font-size: 18px;
}

.gaming-wrapper-asia .video-player-control > span.video-pause:before,
.gaming-wrapper-asia .video-player-control > span.video-play:before {
  content: "\e651";
  position: absolute;
  left: 0;
  text-indent: 0;
  font: 18px/20px icomoon;
  width: 24px;
  text-align: center;
  top: 2px;
}

.gaming-wrapper-asia .video-player-control > span.video-play:before {
  content: "\e650";
}

.gaming-wrapper-asia .game-video-detached {
  padding: 0;
  box-shadow: 0 0 20px #000000;
}

.gaming-wrapper-asia .game-video-detached .animation-video-title-row-v3 {
  position: relative;
  z-index: 99;
  top: -31px;
  width: calc(100% + 2px);
  left: -1px;
}

.gaming-wrapper-asia .game-video-detached .game-video-container.detached-game-container {
  padding: 31px 0 0;
}

.gaming-wrapper-asia .game-video-fullscreen .game-video-container.detached-game-container {
  padding: 0;
}

.gaming-wrapper-asia .game-video-detached .detached-game-container .game-video-container {
  position: absolute;
  z-index: 22;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

.gaming-wrapper-asia .game-video-detached .detached-game-container .animation-control .game-video .video-player-container {
  height: 100%;
}

.gaming-wrapper-asia .game-video-detached .detached-game-container .video-player-control {
  background: none;
  top: -28px;
  right: 54px;
  position: absolute;
  height: 24px;
  width: 24px;
}

.gaming-wrapper-asia .game-video-fullscreen .detached-game-container .video-player-control {
  width: 100%;
  right: 24px;
  top: 0;
  height: 18px;
  @include rtl {
    left: 24px;
    right: auto;
  }
}

.gaming-wrapper-asia .game-video-detached .detached-game-container .video-player-control.volume-control {
  right: 27px;
  top: -32px;
}

.gaming-wrapper-asia .game-video-detached .detached-game-container .animation-control .game-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.gaming-wrapper-asia .game-video-detached .detached-game-container .animation-control {
  overflow: inherit;
  height: 100%;
  z-index: 111;
}

.gaming-wrapper-asia .detached-game-container .detached-game-name {
  text-shadow: none;
  height: 24px;
}

.gaming-wrapper-asia .detached-game-container .detached-game-name p {
  line-height: 24px;
}

.gaming-wrapper-asia .game-video.game-video-detached.game-video-fullscreen {
  float: left;
  position: relative;
  top: 0;
  left: 0;
  z-index: 22;
  width: 100% !important;
  margin-bottom: 30px;
  box-shadow: none;
}

.gaming-wrapper-asia .game-video-container a:not(.not-this) {
  text-indent: -9999em;
  box-sizing: border-box;
  background: none;
  width: 24px;
  height: 24px;
  font: 9px/24px icomoon;
  top: 0;
  right: 0;
  @include rtl {
    left: 0;
    right: auto;
  }
  &:before {
    box-sizing: border-box;
    content: "\e6f2";
    position: absolute;
    right: 0;
    text-indent: 0;
    width: 24px;
    text-align: center;
  }
}

.gaming-wrapper-asia .game-video-fullscreen .game-video-container object {
  position: relative;
  top: 0;
}

.gaming-wrapper-asia .detached-info {
  line-height: 13px;
  padding: 0 10px 0 0;
  position: absolute;
  right: 75px;
  @include rtl {
    left: 75px;
    right: auto;
    padding: 0 0 0 10px;
  }
}

//animation & video END

/*betslip*/

.asian-left-contain-menu {
  .list-bet-block {
    width: 100%;
    border-radius: 4px;
    margin: 0 0 10px;
    border: none;
  }
  .quick-bet-button {
    top: 32px;
    left: 10px;
  }
  .bankers-button-container {
    top: 0;
    right: 24px;
  }
  .betting-result-info {
    margin: 0;
  }
  .quickbet-processing-info {
    top: -14px;
  }
}

.asian-left-contain-menu .list-bet-block ul li:first-child span a {
  background: none;
  width: 20px;
  height: 20px;
  position: relative;
}

.asian-left-contain-menu .list-bet-block ul li:first-child span a:after {
  content: "\e6eb";
  font: 16px/20px "icomoon";
  left: 0;
  position: absolute;
  overflow: hidden;
  top: -2px;
  text-indent: 1px;
  width: 20px;
  height: 20px;
}

.asian-left-contain-menu .list-bet-block ul li {
  font-size: 10px;
}

.asian-left-contain-menu .eachway-selector,
.asian-left-contain-menu .empty-betslip,
.asian-left-contain-menu .quickbet-mode-betslip,
.asian-left-contain-menu .detached-info {
  font-size: 10px;
}

.asian-left-contain-menu .bet-event-title {
  display: table;
  padding: 0 10px 0 0;
  @include rtl {
    padding: 0 0 0 10px;
  }
}

.asian-left-contain-menu .bet-event-notifications {
  top: 0;
}

.asian-left-contain-menu .single-bet-container .single-bet-betmax {
  border: none;
  border-radius: 2px;
  padding: 1px 1px 2px 3px;
  margin: 1px 0 0 4px;
  opacity: 1;
}

.asian-left-contain-menu .bet-currency-value .single-bet-betmax {
  border-radius: 2px;
  border: none;
  padding: 0 3px 1px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 7px 6px 0 0;
}

.asian-left-contain-menu .superbet-checkbox input[type="checkbox"] {
  position: absolute;
}

.asian-left-contain-menu .bet-conflict-warning {
  margin-top: 1px;
}

.asian-left-contain-menu .list-bet-block ul li .betprice {
  font-size: 11px;
}

.asian-left-contain-menu .list-bet-block ul li p,
.asian-left-contain-menu .list-bet-block ul li p span.pick {
  font-size: 10px;
}

.asian-left-contain-menu .list-bet-block ul li span {
  font-size: 10px;
}

.asian-left-contain-menu .betslip-options label {
  font-size: 10px;
}

.asian-left-contain-menu .button-bet .bet-button-wrapper {
  padding: 0;
}

.asian-left-contain-menu .button-bet .bet-notification-update-container {
  padding: 0 10px 0 0;
}

.asian-left-contain-menu .button-bet {
  width: calc(100% - 20px);
  padding: 10px;
  height: 31px;
}

.asian-left-contain-menu .button-bet button {
  border: none;
  min-height: 26px;
  margin: 0;
}

.asian-left-contain-menu .betslip-clearall-button i {
  border-radius: 0 0 4px 4px;
}

.asian-left-contain-menu .betslip-clearall-button input {
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10px;
  height: 16px;
  border: none;
  padding: 0 5px 2px 5px;
  z-index: 33;
  position: relative;
  display: block;
  float: left;
}

.asian-left-contain-menu .quick-bet-button p {
  line-height: 18px;
}

.asian-left-contain-menu .superbet-checkbox label {
  line-height: 18px;
  min-width: 85px;
  max-width: 85px;
}

.asian-left-contain-menu .express-stake-label {
  height: 28px;
}

.asian-left-contain-menu .bet-form form input[type="text"] {
  width: 60px;
  height: 20px;
  border-radius: 3px;
  padding: 2px 4px;
  font-size: 12px;
  line-height: 20px;
  margin-right: 4px;
}

.asian-left-contain-menu .single-bet-container [type="text"] {
  box-shadow: none;
  font-size: 11px;
  width: 50px;
  height: 13px;
  border-radius: 3px;
  padding: 2px 4px;
}

.asian-left-contain-menu .bet-form form .bet-currency-value p {
  padding-top: 7px;
}

.asian-left-contain-menu .bs-type-switcher,
.asian-left-contain-menu .betslip-system-chenge {
  box-shadow: none;
  border: none;
  padding: 6px 4px 6px 6px;
}

.asian-left-contain-menu .open-type-switcher {
  box-shadow: none;
  right: 0;
  top: 24px;
}

.asian-left-contain-menu .open-type-switcher ul li a {
  min-width: 100px;
  border-left: none;
  border-right: none;
  font-size: 11px;
}

.asian-left-contain-menu .betslip-system-chenge .open-type-switcher ul li a {
  width: 85px;
  white-space: nowrap;
  font-size: 10px;
}

.asian-left-contain-menu .open-type-switcher ul li:last-child a,
.asian-left-contain-menu .betslip-system-chenge .open-type-switcher ul:last-child li:last-child a {
  border-radius: 0 0 3px 3px;
}

.asian-left-contain-menu .betslip-system-chenge .open-type-switcher ul li:last-child a {
  border-radius: inherit;
  border-top: none;
}

.asian-left-contain-menu .bs-type-switcher p,
.asian-left-contain-menu .betslip-system-chenge p {
  font-size: 11px;
  line-height: 11px;
}

.asian-left-contain-menu .list-bet-block .bet-container .bet-conflict-warning .conflict-content ul {
  padding: 0;
}

.asian-left-contain-menu .list-bet-block .bet-container .bet-conflict-warning .conflict-content ul li {
  box-shadow: none;
  background: none;
}

.asian-left-contain-menu .bet-conflict-warning .list-bet-block .bet-container .conflict-content ul:last-child {
  border-bottom: none;
}

.asian-left-contain-menu .name-b-list {
  height: auto;
  border: 0;
  z-index: 20;
}

.asian-left-contain-menu .all-bets-info {
  float: left;
  width: 100%;
  position: relative;
  z-index: 10;
}

.asian-left-contain-menu .name-b-list h2 {
  margin: 0;
  padding: 0;
  width: 100%;
  text-indent: 10px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 24px;
  border-radius: 3px 3px 0 0;
  @include rtl {
    margin: 0;
    padding: 0;
    font-size: 11px;
  }
}

.asian-left-contain-menu .list-bet-block ul li {
  padding: 5px 16px 5px 5px;
  @include rtl {
    padding: 5px 5px 5px 16px;
  }
}

.asian-left-contain-menu .bet-container {
  max-height: inherit;
  overflow: inherit;
}

.asian-left-contain-menu .bet-settings-container {
  border-bottom: none;
}

.asian-left-contain-menu .mini-game-container iframe {
  height: 129px;
}

.asian-left-contain-menu .list-bet-block ul li > .better-odd-contain {
  right: 2px;
  top: 20px;
}

.asian-left-contain-menu .list-bet-block ul li > .better-odd-contain > span {
  display: inline-block;
  padding: 0 3px;
}

/*betslip END*/

/*Menu tabs*/

.menu-tabs-b {
  float: left;
  width: 100%;
  margin: 0 0 5px;
  @include rtl {
    transform: translate3d(0,0,0);
  }
  ul {
    float: left;
    width: 100%;
    display: table;
    li {
      display: table-cell;
      width: 30%;
      text-align: center;
      vertical-align: middle;
      font-size: 11px;
      text-transform: uppercase;
      padding: 10px 5px;
      &:first-child {
        border: none;
        border-radius: 5px 0 0 5px;
        @include rtl {
          border-radius: 0 5px 5px 0;
        }
      }
      &:last-child {
        border-radius: 0 5px 5px 0;
        @include rtl {
          border-radius: 5px 0 0 5px;
        }
      }
    }
  }
}

/*Menu tabs END*/

/*left menu sport*/

.asian-left-menu {
  float: left;
  width: 100%;
  ul {
    float: left;
    width: 100%;
    > div {
      float: left;
      width: 100%;
      transform: translate3d(0, 0, 0);
    }
    li {
      float: left;
      width: 100%;
      padding: 0;
      margin: 1px 0;
      font-size: 11px;
      line-height: 24px;
      text-transform: uppercase;
      border-radius: 4px;
      position: relative;
      height: auto;
      overflow: hidden;
      max-height: 24px;
      //min-height: 24px;
      transition: max-height 280ms, background 200ms, color 200ms;
      &.active {
        //height: 100%;
        margin: 1px 0 5px;
        max-height: 300px;
        //min-height: auto;
      }
      > div:not(.icon-sport-asia) {
        float: left;
        width: 100%;
      }
    }
  }
}

.asian-left-contain-menu.type-1 .asian-left-menu ul li.active {
  margin: 1px 0;
}

.icon-sport-asia {
  position: absolute;
  z-index: 22;
  left: 10px;
  top: 4px;
  width: 18px;
  height: 16px;
  font: 16px/16px 'sport-icon';
  text-align: center;
  transition: color 200ms;
  @include rtl {
    left: auto;
    right: 10px;
  }
}

.asian-left-menu ul li > div.menu-arrow-asia {
  float: none;
  width: 24px;
}

.sport-name-asia {
  float: left;
  padding: 0 0 0 36px;
  width: calc(100% - 24px);
  box-sizing: border-box;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include rtl {
    float: right;
    padding: 0 36px 0 0;
  }
}

.menu-arrow-asia {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 0;
  top: 0;
  text-align: center;
  @include rtl {
    left: 0;
    right: auto;
  }
  &:before {
    font: 16px/24px "icomoon";
    content: "\e674";
    position: absolute;
    display: block;
    left: 4px;
    top: 0;
    @include rtl {
      left: auto;
      right: 4px;
    }
  }
}

.asian-left-menu ul li.active .menu-arrow-asia:before {
  content: "\e675";
}

.sport-market-counts {
  position: absolute;
  right: 0;
  top: 0;
  @include rtl {
    left: 0;
    right: auto;
  }
}

.sport-markets-menu {
  float: left;
  width: 100%;
  margin: 0;
}

.sport-markets-menu ul li {
  border-radius: inherit;
  border-top: none;
  margin: 0;
}

.market-neme-asia {
  padding: 0 36px 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  @include rtl {
    padding: 0 10px 0 36px;
  }
  .sport-market-counts {
    right: 6px;
    @include rtl {
      left: 6px;
      right: auto;
    }
  }
}

.sport-markets-menu ul li.active {
  margin: 0;
}

/*left menu sport END*/

/*left block END*/

/*Game wrapper*/

.game-contain {
  float: right;
  width: calc(100% - 290px);
  padding: 0;
  @include rtl {
    float: left;
  }
}

.game-list-compitishion {
  float: left;
  width: 100%;
  margin: 0 0 10px;
  overflow: hidden;
  border-radius: 4px;
}

/*filter*/

.big-filter-wrapper {
  float: left;
  width: 100%;
  margin: 0 0 10px;
  position: relative;
  z-index: 700;
}

.big-filter-wrapper ul {
  width: 100%;
  display: table;
  float: left;
  &:nth-child(3) {
    width: calc(100% - 74px);
  }
}

.big-filter-wrapper ul li {
  display: table-cell;
  width: 25%;
  height: 24px;
  line-height: 24px;
  font-size: 11px;
  text-indent: 10px;

}

.big-filter-wrapper ul li:first-child {
  border: none;
  border-radius: 4px 0 0 4px;
  @include rtl {
    border-radius: 0 4px 4px 0;
  }
}

.big-filter-wrapper ul li.active:first-child {
  border-radius: 4px 0 0 0;
}

.big-filter-wrapper ul li.active .sub-menu-filter li:first-child {
  border-radius: inherit;
}

.contein-mini-filtr {
  float: left;
  width: 100%;
  position: relative;
  height: 24px;
}

.contein-mini-filtr.date {
  .sub-menu-filter ul li:last-child {
    height: auto;
    button {
      float: right;
      margin: 10px 12px;
      height: 24px;
      padding: 0 24px;
      text-transform: uppercase;
      font: 12px $font-f;
      transition: 300ms color, 300ms background, 300ms border-color;
      @include rtl {
        float: left;
      }
    }
  }
}

.filter-icon {
  float: left;
  width: 24px;
  height: 24px;
  text-align: center;
  position: relative;
  overflow: hidden;
  @include rtl {
    float: right;
  }
}

.filter-icon:before {
  font: 18px/24px "icomoon";
  content: "";
  position: absolute;
  display: block;
  left: -4px;
  top: 0;
  width: 24px;
  text-align: center;
  @include rtl {
    left: auto;
    right: -4px;
  }
}

.filter-icon.back:before {
  content: "\e66f";
  @include rtl {
    content: "\e672";
  }
}

.big-filter-wrapper ul li:first-child .filter-icon:before {
  font: 20px/24px icomoon;
  content: "\e665";
  left: -4px;
}

.big-filter-wrapper ul li:first-child .contein-mini-filtr .filter-icon.asc:before {
  content: "\e664";
}

.date .filter-icon:before {
  font: 12px/24px "icomoon";
  content: "\e907";
  left: -2px;
}

.competition .filter-icon:before,
.name-filter-asian .filter-icon:before {
  content: "\e63f";
}

.contein-mini-filtr .menu-arrow-asia:before {
  left: -10px;
  @include rtl {
    left: auto;
    right: -10px;
  }
}

.big-filter-wrapper ul li.active .menu-arrow-asia:before {
  content: "\e675";
}

.sub-menu-filter {
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
  z-index: 201;
  display: none;
}

.big-filter-wrapper ul li.active .sub-menu-filter {
  display: block;
}

.sub-menu-filter ul {
  float: left;
  width: 100%;
  display: block;
}

.sub-menu-filter ul li {
  display: block;
  width: 100%;
  float: left;
  border: none;
  font-size: 11px;
  position: relative;
}

.sub-menu-filter ul li:first-child {
  border-radius: inherit;
}

.name-filter-b {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(100% - 24px);
}

.contein-mini-filtr.time .name-filter-b {
  max-width: 100%;
  position: relative;
  z-index: 33;
}

.sub-menu-filter ul li p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sub-menu-filter ul li:last-child {
  border-radius: 0 0 4px 4px;
}

.sub-menu-filter ul li input[type="checkbox"],
.popup-asian-info input[type="checkbox"] {
  position: absolute;
  left: -9999em;
  @include rtl {
    left: auto;
    right: -9999px;
  }
}

.sub-menu-filter ul li label {
  float: left;
  height: 24px;
  width: 100%;
  text-indent: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sub-menu-filter ul li input[type="checkbox"] + label:before,
.popup-asian-info input[type="checkbox"] + label:before {
  content: "";
  display: block;
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 2px;
  left: 8px;
  top: 6px;
  @include rtl {
    left: auto;
    right: 8px;
  }
}

.sub-menu-filter ul li input[type="checkbox"]:checked + label:after,
.popup-asian-info input[type="checkbox"]:checked + label:after {
  font-family: "icomoon";
  content: "\e6f3";
  display: block;
  position: absolute;
  border-radius: 2px;
  line-height: 0;
  font-size: 6px;
  left: 11px;
  top: 12px;
  text-indent: 0;
  @include rtl {
    left: auto;
    right: 10px;
  }
}

/*filter END*/

/*compitishion layout*/

.asian-separator-container-b {
  float: left;
  width: 100%;
}

.market_list_view {
  float: left;
  width: 100%;
}

.game-list-compitishion.closed {
  height: 24px;
}

.name-chempionship-asia {
  float: left;
  width: 100%;
  height: 24px;
  overflow: hidden;
  position: relative;
}

.name-chempionship-asia h3 {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 99%;
  display: block;
  line-height: 24px;
  text-indent: 28px;
  font-size: 11px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  @include rtl {
    left: auto;
    right: 0;
  }
}

.all_view .name-chempionship-asia h3 {
  padding-left: 24px;
}

.all_view .name-chempionship-asia .icon-sport-asia {
  left: 25px;
}

.name-chempionship-asia h3:before {
  font: normal 14px/24px "icomoon";
  content: "\e671";
  position: absolute;
  display: block;
  left: -21px;
  top: 0;
  @include rtl {
    left: auto;
    right: -21px;
  }
}

.game-list-compitishion.closed .name-chempionship-asia h3:before,
.game-list-compitishion-j.closed .name-chempionship-asia h3:before {
  font: normal 14px/24px "icomoon";
  content: "\e670";
  position: absolute;
  display: block;
  left: -21px;
  top: 0;
}

.game-list-compitishion table {
  float: left;
  width: 100%;
}

.game-list-compitishion table tr td {
  padding: 0;
  vertical-align: middle;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
}

.info-bl {
  float: left;
  width: 100%;
  padding: 0;
  position: relative;
}

.info-bl p {
  padding: 5px;
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.match-odd1X2 .info-bl p {
  padding: 7px 10px;
}

.match-odd1X2.ft-ht .info-bl p.time-g-asia {
  padding: 1px 5px;
  text-align: center;
}

.outright-tamplate .info-bl p {
  padding: 5px 10px;
}

.outright-tamplate.sport .sport-outright .info-bl p {
  padding-left: 38px;
}

.outright-tamplate.sport .sport-outright .info-bl p i {
  top: 8px;
}

.section-2 .info-bl p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.game-list-compitishion table tr td.big-row {
  min-width: 230px;
  max-width: 230px;
  width: 230px;
  text-transform: uppercase;
  text-align: left;
  @include rtl {
    text-align: right;
  }
}

.game-list-compitishion table.name-ft-ht-layout.odd-even tr td.big-row {
  min-width: 374px;
  max-width: 374px;
  width: 374px;
}

.game-list-compitishion table tr td.m-odds-b {
  width: 52%;
}

.game-list-compitishion table tr td.big-row p {
  padding: 5px 5px 5px 38px;
  @include rtl {
    padding: 5px 38px 5px 5px;
  }
}

.game-list-compitishion table tr td.big-row p i {
  top: 3px;
}

.game-list-compitishion table tr td.sport-outright {
  min-width: 144px;
  max-width: 144px;
  width: 144px;
  text-transform: uppercase;
  text-align: left;
  @include rtl {
    text-align: right;
  }
}

.game-list-compitishion table.outright-tamplate.sport tr td.big-row {
  min-width: 144px;
  max-width: 144px;
  width: 144px;
}

.game-list-compitishion table.match-odd1X2.total-goal tr td.big-row {
  min-width: 230px;
  max-width: 230px;
  width: 230px;
}

.game-list-compitishion table tr td.outiright-odds-asia {
  text-align: left;
  @include rtl {
    text-align: right;
  }
}

.game-list-compitishion table tr td.section-1 {
  min-width: 48px;
  max-width: 48px;
  width: 48px;
  text-align: center;
  height: 20px;
}

.game-list-compitishion table tr td.event-title-asia {
  min-width: 464px;
  max-width: 464px;
  width: 464px;
  text-align: left;
  @include rtl {
    text-align: right;
  }
}

.game-list-compitishion table tr td.section-2 {
  min-width: 154px;
  max-width: 154px;
  width: 154px;
  text-align: left;
  @include rtl {
    text-align: right;
  }
}

.game-list-compitishion table.match-odd1X2 tr td.section-2 {
  min-width: 182px;
  max-width: 182px;
  width: 182px;
}

.game-list-compitishion table.match-odd1X2.odd-even tr td.section-2 {
  min-width: 325px;
  max-width: 325px;
  width: 325px;
}

.game-list-compitishion table tr td.section-3 {
  min-width: 26px;
  max-width: 26px;
  width: 26px;
}

.game-list-compitishion table tr td.factor-name {
  min-width: 60px;
  max-width: 60px;
  width: 20%;
}

.game-list-compitishion table tr td.factor-w {
  min-width: 60px;
  max-width: 60px;
  width: 20%;
}

.game-list-compitishion table tr td.factor-w .info-bl p b,
.k-and-info p b {
  display: inline-block;
  width: 50%;
  text-align: left;
}

.game-list-compitishion table tr td.factor-w .info-bl p i,
.k-and-info p i {
  font-style: normal;
  float: right;
  display: inline-block;
  width: 50%;
  text-align: right;
}

.game-list-compitishion table.match-odd1X2.correct-score tr td.factor-w {
  min-width: 60px;
  max-width: 200px;
  width: 30%;
}

.game-list-compitishion table.ft-ht tr td.factor-w {
  min-width: 40px;
  max-width: 40px;
  width: 10%;
}

.game-list-compitishion table.match-odd1X2.total-goal tr td.factor-w,
.game-list-compitishion table.match-odd1X2.total-goal tr td.factor-name {
  min-width: 50px;
  max-width: 50px;
  width: 10%;
}

.game-list-compitishion table.hdp-contain tr td.factor-w .info-bl p b:only-child {
  width: auto;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.game-list-compitishion table tr td.factor-w:hover,
.game-list-compitishion table tr td.outiright-odds-asia:hover {

}

.game-list-compitishion table tr td.more-competition {
  min-width: 50px;
  max-width: 50px;
  width: 50px;
}

.game-list-compitishion table tr td.border-d {
  border-bottom-color: transparent;
}

.time-g-asia span {
  padding: 0 4px 0 0;
  display: inline-block;
  @include rtl {
    padding: 0 0 0 4px;
  }
}

.teams-n-account-asia {
  display: table;
}

.teams-n-account-asia span {
  display: table-cell;
  padding: 0 8px;
  width: 10%;
}

.teams-n-account-asia span.name-team-asian-1x2 {
  max-width: 100px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  @include rtl {
    text-align: right;
  }
}

.match-odd1X2.odd-even .teams-n-account-asia span.name-team-asian-1x2 {
  max-width: 220px;
}

.teams-n-account-asia span.account-asian-1x2 {
  text-align: right;
  white-space: nowrap;
  min-width: 40px;
  max-width: 40px;
  width: 40px;
}

.teams-n-account-asia span.account-asian-1x2 b {
  background: black;
  color: white;
  display: inline-block;
  padding: 3px 7px;
  border-radius: 3px;
  position: relative;
}

.match-odd1X2.correct-score .info-bl p {
  padding: 4px 10px;
}

.match-odd1X2.correct-score p.teams-n-account-asia {
  display: inline-block;
  padding: 5px 0;
  float: left;
  text-transform: uppercase;
}

.match-odd1X2.correct-score .teams-n-account-asia span {
  display: inline;
}

.match-odd1X2.correct-score .teams-n-account-asia span.account-asian-1x2 {
  text-align: left;
  padding: 4px 0;
}

.match-odd1X2.ft-ht .teams-n-account-asia span.account-asian-1x2 b {
  padding: 2px 7px 3px;
}

.teams-n-account-asia span.account-asian-1x2 b:first-child {
  margin-right: 5px;
}

.teams-n-account-asia span.account-asian-1x2 b:first-child:after {
  content: ":";
  position: absolute;
  right: -5px;
  top: 3px;
}

.match-odd1X2.ft-ht .teams-n-account-asia span.account-asian-1x2 b:first-child:after {
  top: 1px;
}

.more-arrow-b-asia {
  width: 100%;
  height: 22px;
  text-align: center;
  position: relative;

}

.more-arrow-b-asia:before {
  font: 16px/20px "icomoon";
  content: "\e674";
}

.more-b-asia.active .more-arrow-b-asia:before {
  content: "\e675";
}

.game-list-compitishion table tr td.name-teams-hdp {
  text-align: left;
  border-right-color: transparent;
  text-transform: uppercase;
}

.game-list-compitishion table tr td.filters-hdp {
  text-align: right;
  border-left-color: transparent;
  border-right-color: transparent;
}

.game-list-compitishion table tr td.more-competition.first {
  border-left-color: transparent;
}

.game-list-compitishion table tr td.name-teams-hdp .info-bl p {
  padding: 4px 10px;
}

.game-list-compitishion table tr td.name-teams-hdp .info-bl p span:first-child:after {
  content: " - ";
}

.block-filter-hdp {
  float: right;
  @include rtl {
    float: left;
  }
}

.block-filter-hdp ul {
  float: left;
}

.block-filter-hdp ul li {
  float: left;
  display: inline-block;
  padding: 0 10px;
  height: 18px;
  font: 9px/18px $font-f;
  margin: 0 0 0 1px;
  transition: 240ms color, 240ms background;
  box-sizing: border-box;
  @include rtl {
    float: right;
    margin: 0 1px 0 0;
  }
}

.game-list-compitishion table.hdp-contain-title tr td.big-row {
  min-width: 304px;
  max-width: 304px;
  width: 304px;
}

.game-list-compitishion table tr td.title-names-1x2 {
  width: 30%;
}

.game-list-compitishion table.hdp-contain-title tr td.title-names-hdp {
  width: 17%;
}

.game-list-compitishion table.hdp-contain tr td.section-2 {
  min-width: 254px;
  max-width: 254px;
  width: 254px;
}

.game-list-compitishion table .second-l-hdp tr td:first-child,
.game-list-compitishion table .second-l-hdp tr td:last-child {
  border-top: none;
  border-bottom: none;
}

.game-list-compitishion table .second-l-hdp tr td:first-child,
.game-list-compitishion table .second-l-hdp tr td:last-child {
  border-top: none;
  border-bottom: none;
}

.game-list-compitishion table .second-l-hdp tr:nth-child(2n+1) td.section-2 {
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.hdp-contain .teams-n-account-asia span {
  padding: 2px 8px;
}

.hdp-contain .teams-n-account-asia span.name-team-asian-1x2 {
  max-width: 180px;
}

.hdp-contain .teams-n-account-asia span.account-asian-1x2 {
  padding-right: 2px;
}

.hdp-contain .teams-n-account-asia span.account-asian-1x2 b:first-child {
  margin-right: 0;
}

.hdp-contain .teams-n-account-asia span.account-asian-1x2 b:first-child:after {
  display: none;
}

.match-odd1X2.correct-score .block-filter-hdp {
  margin: 1px 54px 2px 0;
  @include rtl {
    margin: 1px 0 2px 54px;
  }
}

.match-odd1X2.correct-score .block-filter-hdp ul li {
  height: 20px;
  line-height: 20px;
}

.game-list-compitishion .match-odd1X2.correct-score tr td.section-1,
.game-list-compitishion .match-odd1X2.correct-score tr td.more-competition {
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.big-row .info-bl {
  position: relative;
}

.big-row .info-bl .icon-sport-asia {
  left: 0;
  top: 0;
  width: 26px;
  height: 100%;
  @include rtl {
    left: auto;
    right: 0;
  }
}

.big-row .info-bl .icon-sport-asia:before {
  left: 0;
  top: 3px;
  position: relative;
}

.big-row .info-bl:before,
.big-row .info-bl:after {
  content: "";
  position: absolute;
  top: -54%;
  width: 26px;
}

.big-row .info-bl:after {
  top: auto;
  bottom: -54%;
}

.name-chempionship-asia.more-c .block-filter-hdp {
  margin: 3px 10px 0 0;
}

.name-chempionship-asia.more-c .block-filter-hdp li {
  height: 18px;
  line-height: 18px;
  padding: 0 15px;
}

.game-list-compitishion table tr td.name-b-more {
  min-width: 230px;
  max-width: 230px;
  width: 230px;
  text-align: left;
}

.game-list-compitishion table tr td.comp-column-more {
  width: 30%;
}

.game-list-compitishion table tr td.name-b-more.title {
  text-transform: uppercase;
}

.sport-more-title,
.name-b-teame-more {
  float: left;
  width: 100%;
}

.sport-more-title p,
.name-b-teame-more p {
  padding: 5px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.game-list-compitishion table.more-events-t tr td.factor-w {
  width: 14%;
  min-width: 50px;
  max-width: 50px;
}

.name-chempionship-asia.more-c h3 {
  max-width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.game-list-compitishion table.second-more-view td.more-c-view {
  width: 10%;
}

.name-market-view {
  float: left;
  width: 100%;
  display: table;
}

.name-market-view p {
  display: table-cell;
  padding: 5px 0;
  text-align: left;
  width: 90%;
  max-width: 90%;
  vertical-align: middle;
  position: relative;
}

.name-market-view p i {
  font-style: normal;
  display: block;
  width: 90%;
  position: absolute;
  padding: 5px 10px;
  left: 0;
  top: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.name-market-view span {
  display: table-cell;
  padding: 5px 10px;
  vertical-align: middle;
  white-space: nowrap;
}

.game-list-compitishion table.any-markets-more td.more-c-view {
  width: 10%;
}

.game-list-compitishion table.any-markets-more td.more-c-view .name-market-view span {
  border: none;
  background: none;
}

.many-columns-b {
  float: left;
  width: 100%;
}

.many-columns-b ul {
  float: left;
  width: 100%;
}

.many-columns-b .name-market-view p {
  width: 100%;
}

.many-columns-b ul li:hover {

}

.many-columns-b .name-market-view span {
  background: none;
}

/*compitishion layout END*/

/*Game wrapper END*/

/*popup*/

.popup-wrapper-asian {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: rgba(#121623, 0.5);
  overflow: hidden;
}

.popup-wrapper-asian.active {
  display: block;
}

.contain-poput-asia {
  width: 950px;
  margin: 0 auto;
  display: table;
  height: 100%;
}

.block-position-b {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.popup-asian-info {
  display: inline-block;
  width: calc(100% - 40px);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.5);
}

.popup-title-b {
  float: left;
  width: 100%;
  margin: 0 0 20px;
}

.name-filter-asian {
  float: left;
  @include rtl {
    float: right;
  }
}

.name-filter-asian h3 {
  float: left;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.filter-function-b {
  float: right;
  @include rtl {
    float: left;
  }
}

.filter-function-b ul {
  float: left;
}

.filter-function-b ul li {
  float: left;
  margin: 0 0 0 10px;
  position: relative;
  @include rtl {
    float: right;
    margin: 0 10px 0 0;
  }
}

.popup-asian-info label {
  float: left;
  height: 24px;
  width: 100%;
  font-size: 12px;
  line-height: 24px;
  text-indent: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  @include rtl {
    float: right;
  }
}

.filter-function-b ul li label {
  margin: 0 20px 0 0;
  overflow: inherit;
  @include rtl {
    margin: 0 0 0 20px;
  }
}

.filter-function-b ul li button {
  float: right;
  height: 24px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 11px;
  font-weight: bold;
  min-width: 100px;

}

.filter-function-b ul li button:disabled {
  pointer-events: none;
}

.all-filter-competitions {
  float: left;
  width: 100%;
  @include scroll;
  max-height: 480px;
}

.all-filter-competitions ul {
  float: left;
  width: 100%;
  position: relative;
  left: -5px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  -ms-column-gap: 0;
  column-gap: 0;
  @include rtl {
    left: auto;
    right: -9px;
  }
}

.all-filter-competitions ul li {
  float: none;
  width: 100%;
  max-width: 294px;
  height: 24px;
  border-top: none;
  margin: 0 0 0 5px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  @include rtl {
    margin: 0 5px 0 0;
  }
}

/*popup END*/

/*top swicher*/

.gaming-wrapper-asia .sportsbook-top-tab-t {
  float: left;
  width: 100%;
  height: 28px;
  border-radius: 3px 3px 0 0;
  margin: 0 0 10px;
  text-align: center;
}

.gaming-wrapper-asia .layout-switcher {
}

.gaming-wrapper-asia .layout-switcher > ul {
  float: none;
}

.gaming-wrapper-asia .sportsbook-top-tab-t > ul li {
  line-height: 26px;
}

.gaming-wrapper-asia .layout-switcher > ul li,
.gaming-wrapper-asia .sportsbook-top-tab-t > ul li a {
  float: none;
  height: 28px;
  display: inline-block;
  position: relative;
  font: 12px/28px $font-f;
  padding: 0 20px 0 42px;
  margin: 0;
  text-transform: uppercase;
  transition-duration: 250ms;

}

.gaming-wrapper-asia .layout-switcher > ul li.title-sep {
  font: 12px/26px $font-f;
  display: none;
}

.gaming-wrapper-asia .layout-switcher > ul li.active-format:before {
  display: none;
}

.gaming-wrapper-asia .game-score-multiset > ul.title li:first-child span {
  text-indent: 10px;
}

.gaming-wrapper-asia .layout-switcher > ul li i {
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 50%;
  display: block;
  left: 20px;
  top: 6px;
  text-align: center;
  font: 10px/15px $font-f;
}

.gaming-wrapper-asia .factor-change-wrapper {
  right: 10px;
  height: 28px;
}

.gaming-wrapper-asia .factor-change-wrapper > p {
  font: 12px/28px $font-f;
}

.gaming-wrapper-asia .factor-change-wrapper > p:after {
  font: 16px/28px icomoon;
}

.gaming-wrapper-asia .sportsbook-top-tab-t > ul li .statistics-icon-new {
  top: 9px;
  font-size: 12px;
}

.gaming-wrapper-asia .sportsbook-top-tab-t > ul li .calendar-icon-new {
  font-size: 16px;
  top: 6px;
}

/*top swicher end*/

/*live game style END*/

/*asian view END*/

/*asian full view*/

@media screen and (min-width: 1250px) {
  .game-list-compitishion table.hdp-contain-title tr td.big-row {
    max-width: 366px;
    width: 35%;
  }
  .game-list-compitishion table.hdp-contain-title tr td.title-names-hdp {
    width: 20%;
  }
  .game-list-compitishion table tr td.more-competition {
    width: 5%;
  }
  .game-list-compitishion table tr td.m-odds-b {
    width: 55.5%;
  }
}

/*asian full view END*/
.game-list-compitishion.outright:before {
  display: none;
}

.teams-n-account-asia span.account-asian-1x2 b {
  &.red-card-asian,
  &.yellow-card-asian {
    padding: 3px 2px;
    min-width: 10px;
    text-align: center;
    font-size: 9px;
    &.ng-hide {
      opacity: 0;
      display: inline-block !important;
    }
  }
  &.red-card-asian {
    background: #af1428;
  }
  &.yellow-card-asian {
    background: #fde000;
    color: black;
  }
}

.asian-left-contain-menu .viewSwitcher-j {
  margin: 0 0 2px;
}

.selectSportsbookColor-j {
  float: right;
  width: 24px;
  height: 24px;
  border-radius: 0 4px 4px 0;
  position: relative;
  z-index: 200;
  + ul {
    width: calc(100% - 25px);
  }
  p {
    width: 100%;
    height: 100%;
    border-radius: 0 4px 0 0;
    &:before {
      content: "\e958";
      width: 24px;
      height: 24px;
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      font: normal 14px/24px icomoon;
      text-align: center;
    }
  }
  &.active {
    > div {
      display: inline-block;
    }
  }
  > div {
    display: none;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 100%;
    white-space: nowrap;
    > div {
      box-sizing: border-box;
      float: left;
      width: 100%;
      font: 14px/30px icomoon;;
      height: 30px;
      width: 30px;
      transition: color 240ms, background 240ms;
      text-align: center;
      text-transform: uppercase;
      &:before {
        content: "\e958";
      }
      &.white {
        background: white;
        color: black !important;
      }
      &.black {
        background: black;
        color: white !important;
      }
      &.default {
        background: #2e323e;
        color: #8a8a8a !important;
      }
      &.blue {
        background: #3D699E;
        color: #fff !important;
      }
      &.gold {
        background: rgb(206, 159, 91);
        color: #fff !important;
      }
      &.active {
        display: none;
      }
    }
  }
}

.asian-left-contain-menu {
  .bookingTabs-j {
    button {
      &.active {
        box-shadow: none;
      }
    }
  }
  .bsTypeSwitchers-j {
    position: static;
    float: left;
    width: 100%;
  }
  .game-video-container p {
    margin: 52px 0 0 0;
    font-size: 15px;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
  }
  .sports-item-v3 {
    border-radius: 4px;
    height: 24px;
    box-shadow: none;
    padding-right: 48px;
    &.active {
      border-radius: 4px 4px 0 0;
    }
    > p {
      line-height: 24px;
      font-size: 11px;
      text-transform: uppercase;
    }
  }
  .sport-icon-v3 {
    line-height: 24px;
    box-shadow: none;
  }
  .single-game-item-v3:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .single-game-item-v3:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .single-game-item-v3 {
    margin-top: 1px;
  }
  .sport-games-count-v3 {
    line-height: 24px;
    font-size: 11px;
    padding: 0 26px 0 0;
    @include rtl {
      padding: 0 0 0 26px;
    }
  }
  .arrow-view-v3 {
    font: 12px/24px icomoon;
  }
  .favorite-nav-icon-v3:before {
    font: 16px/24px icomoon;
  }
  .games-list-mini-view-v3 {
    padding: 0 0 5px;
    border: none;
  }
}

.asian-status-icons {
  display: table;
  width: 100%;
  > div {
    display: table-cell;
    font: 11px/20px icomoon;
    text-align: center;
  }
}

.game-is-neutral {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
  font: 11px/20px icomoon;
  @include rtl {
    margin: 0 0 0 5px;
  }
  &:before {
    content: '\e959';
  }
}

.has-video {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
  font: 11px/20px icomoon;
  @include rtl {
    margin: 0 0 0 5px;
  }
  &:before {
    content: "\e683";
  }
}

.icon-favorite {
  font: 11px/20px icomoon;
  &:before {
    content: "\f005";
  }
}

.h2h-stats {
  font: 11px/20px icomoon;
  &:before {
    content: "\e6b8";
  }
}

.prematch-game-title {
  float: left;
  width: 100%;
  padding: 0 7px;
  margin-bottom: 10px;
  height: 30px;
  border-radius: 4px;
  box-sizing: border-box;
  p {
    float: left;
    width: calc(100% - 60px);
    line-height: 30px;
  }
  > div {
    float: right;
    margin-left: 10px;
    line-height: 30px;
  }
}

.asian-left-menu ul .asian-menu-group-wrap-j {
  float: left;
  width: 100%;
  > li {
    margin-bottom: 1px;
    .sport-name-asia {
      padding: 0 22px 0 36px;
      width: calc(100% - 24px);
      box-sizing: border-box;
    }
    &.active {
      ~ div {
        max-height: inherit;
      }
    }
  }
  > div {
    float: left;
    width: 100%;
    overflow: hidden;
    max-height: 0;
  }
}

.asian-contain {
  position: relative;
  .settings-icon-contain.clock-set-b {
    position: absolute;
    top: -30px;
    right: 0;
  }
}

.many-columns-b {
  > div {
    margin: 1px 0 0 0;
  }
  &.cols-2 {
    > div {
      width: 50%;
      float: left;
      margin: 1px 0 0 0;
      &:nth-child(odd) {
        width: calc(50% - 1px);
        margin: 1px 1px 0 0;
      }
    }
  }
  &.cols-3 {
    width: calc(100% + 2px);
    > div {
      float: left;
      margin: 1px 0 0 0;
      width: calc((100% - 1px) / 3);
      @include rtl {
        float: right;
      }
      &:nth-child(3n+2) {
        margin: 1px 1px 0;
        width: calc((100% - 4px) / 3);
      }
    }
  }
  &.cols-4 {
    width: calc(100% + 2px);
    > div {
      width: calc(25% - 1px);
      float: left;
      margin: 1px 1px 0 0;
    }
  }
  &.cols-5 {
    > div {
      width: calc(20% - 1px);
      float: left;
      margin: 1px 1px 0 0;
    }
  }
}

.asian-market-overflow-j {
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.asian-market-wrap-j {
  position: relative;
  border-collapse: separate;
  float: left;
  width: 100%;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 300px;
    left: 0;
    margin: -150px 0 0;
    z-index: 10;
  }
  &.empty {
    pointer-events: none;
    .asian-market-j {
      height: 26px;
    }
  }
  .asian-market-j {
    display: table;
    float: left;
    width: 100%;
    font: 11px/26px $font-f;
    box-sizing: border-box;
    position: relative;
    &:not(.locked) .odd-container-j {
      position: relative;
      &:before, &:after {
        content: "\e66d";
        font: 12px / 12px icomoon;
        display: inline-block;
        vertical-align: middle;
        opacity: 0;
      }
    }
    .asian-market-cell-j {
      display: table-cell;
      position: relative;
      vertical-align: top;
      white-space: nowrap;
      .asian-market-rub-j {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 0 0 12px;
        box-sizing: border-box;
        text-align: left;
        @include rtl {
          padding: 0 12px 0 0;
          text-align: right;
        }
      }
      &:nth-child(2) {
        width: 1%;
        text-align: right;
      }
      &:only-child {
        width: 100%;
        text-align: center;
      }
    }
  }
  &.up:not(.locked) .asian-market-j {
    .odd-container-j:before {
      opacity: 1;
    }
  }
  &.down:not(.locked) .asian-market-j {
    .odd-container-j:before {
      content: "\e66c";
      opacity: 1;
    }
  }
  &.locked {
    pointer-events: none;
    .asian-market-j {
      .odd-container-j {
        font-size: 0;
        &:before {
          content: "\e68f";
          font: 10px / 12px icomoon;
          display: inline-block;
          vertical-align: middle;
          opacity: 1;
        }
      }
    }
  }
}

.game-list-compitishion-j {
  float: left;
  width: 100%;
  margin: 0 0 10px;
  overflow: hidden;
  border-radius: 2px;
  &.closed {
    height: 24px;
  }
}

table.hdp-contain-j {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  float: left;
  font: 11px/12px $font-f;
  td,
  th {
    box-sizing: border-box;
    position: relative;
    &.xs {
      width: 50px;
      min-width: 50px;
      max-width: 50px;
      text-align: center;
    }
    &.xs-s {
      //width: 84px;
      width: 12%;
      min-width: 84px;
      max-width: 84px;
      vertical-align: middle;
      text-align: center;
    }
    &.ms {
      //width: 110px;
      width: 14%;
      min-width: 110px;
      max-width: 110px;
      text-align: center;
    }
  }
  td {
    height: 27px;
    vertical-align: top;
    small {
      display: block;
      float: left;
      width: 100%;
      margin: 6px 0px;
      font: 10px/14px $font-f;
    }
    &.no-markets-j {
      vertical-align: middle;
    }
    .asian-status-icons > div {
      line-height: 26px;
    }
    &.asian-more-markets-count-j {
      vertical-align: middle;
    }
    &.more-arrow-j-asia {
      vertical-align: middle;
      font: 11px/11px $font-f;
      text-transform: uppercase;
      &:after {
        content: "\e674";
        font: 16px/16px "icomoon";
        vertical-align: sub;
        display: inline-block;
        margin: 0 0 0 3px;
        @include rtl {
          margin: 0 3px 0 0;
        }
      }
      &.active:after {
        content: "\e675";
      }
    }
    table {
      display: table;
      table-layout: fixed;
      width: 100%;
      border-collapse: separate;
    }
  }
  th {
    text-align: left;
    height: 20px;
    font-weight: normal;
    vertical-align: middle;
    text-transform: uppercase;
    @include rtl {
      text-align: right;
    }
    > p {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      padding: 0 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 20px;
    }
    .asian-status-icons > div {
      line-height: 18px;
    }
  }
  .asian-team-name-wrapper-j {
    display: table;
    float: left;
    width: 100%;
    > div {
      display: table-cell;
      vertical-align: middle;
      height: 26px;
      position: relative;
      &.asian-team-rub-j {
        width: 1%;
        font: 0/0 $font-f;
        white-space: nowrap;
        padding: 0 4px 0 0;
        @include rtl {
          padding: 0 0 0 4px;
        }
      }
      > p {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 0 0 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 26px;
        line-height: 26px;
        @include rtl {
          padding: 0 10px 0 0;
        }
      }
      > b {
        display: inline-block;
        font: bold 9px/18px $font-f;
        padding: 0 2px;
        min-width: 10px;
        text-align: center;
        border-radius: 3px;
        + b {
          margin: 0 0 0 3px;
          @include rtl {
            margin: 0 3px 0 0;
          }
        }
        &.yellow-card-asia {
          background: #f7cb4a;
          color: #000;
        }
        &.red-card-asia {
          background: #e00000;
          color: white;
        }
        &.score-card-asia {
          background: rgba(0, 0, 0, 0.4);
          color: white;
        }
        &.ng-hide {
          opacity: 0;
          display: inline-block !important;
        }
      }
    }
  }
  &.hdp-titile-j {
    td {
      > p {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 26px;
        line-height: 26px;
        text-align: center;
        text-transform: uppercase;
      }
      &.xs {
        > p {
          padding: 0;
        }
      }
      &:first-child {
        > p {
          padding: 0 10px 0 34px;
          text-align: left;
          @include rtl {
            padding: 0 34px 0 10px;
            text-align: right;
          }
        }
      }
    }
  }
  .asian-market-wrap-j .asian-market-j {
    table-layout: fixed;
    .asian-market-cell-j {
      width: 50%;
      .asian-market-rub-j {
        position: static;
        float: left;
        width: 100%;
        padding: 0 3px 0 0;
        text-align: right;
        @include rtl {
          padding: 0 0 0 3px;
          text-align: left;
        }
      }
      &:nth-last-child(2) {
        text-align: right;
        @include rtl {
          text-align: left;
        }
      }
      &:nth-child(2) {
        padding: 0 0 0 3px;
        text-align: left;
        @include rtl {
          padding: 0 3px 0 0;
          text-align: right;
        }
      }
    }
  }
}

.asian-pagination {
  float: left;
  width: 100%;
  margin: 0 0 10px;
  font: 0/0 $font-f;
  text-align: right;
  > button {
    display: inline-block;
    vertical-align: top;
    border: 0;
    height: 24px;
    padding: 0 8px;
    text-align: center;
    min-width: 24px;
    margin: 0 1px 0 0;
    transition: 240ms color, 240ms background, 240ms opacity;
    font: 12px/24px $font-f;
    &.cms-jcon-arrow-left5 {
      width: 36px;
      padding: 0;
      border-radius: 2px 0 0 2px;
    }
    &.cms-jcon-arrow-right5 {
      width: 36px;
      padding: 0;
      border-radius: 0 2px 2px 0;
    }
    &:disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

.asian-separator-container-b .fixed-element-parent .scrollable-fixed {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0;
  z-index: 600;
  width: calc(100% - 310px);
  left: 300px;
}
.asian-button-refresh-view,
.refresh-asian-view button {
  float: right;
  display: block;
  width: 48px;
  height: 24px;
  text-align: center;
  padding: 0 0 0 17px;
  border: 0;
  margin: 0 1px;
  background: none;
  position: relative;
  font: 12px/24px $font-f;
  transition: 300ms color, 300ms background;
  &:before {
    content: "\e6f4";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    text-align: center;
    font: 10px/24px icomoon;
  }
  &.loading-proccess:before {
    animation: rotate-loader 1.5s linear infinite;
    -webkit-animation: rotate-loader 1.5s linear infinite;
  }
}

.asian-separator-container-b .fixed-element-parent {
  position: static;
}

.asian-live-game {
  margin: 0 5px 0 0;
  background: #1A7051;
  height: 16px;
  color: white;
  padding: 0 6px;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  font: 9px/16px $font-f;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  @include rtl {
    margin: 0 0 0 5px;
  }
}

.asian-sticky-top {
  position: static;
  position: sticky;
  position: -webkit-sticky;
  top: 38px;
  z-index: 300;
  box-shadow: 0 0 0 2px rgba(black, 0.2)
}
.body-wrapper.asian .asian-left-contain-menu .list-bet-block .bets-selections-content .bet-container ul:last-child {
  border-bottom: 0;
}
.asian .bet-status-container {
  background: darken(desaturate(adjust-hue($skin-color, 4deg), 15), 1);
  border-radius: 0;
}
.balance-int-row {
  float: left;
  width: 100%;
  text-align: right;
  font: 13px/26px $font-f;
  overflow: hidden;
  margin: 1px 0 6px;
  box-sizing: border-box;
  padding: 0 24px;
  background: lighten(desaturate($skin-color, 17), 12);
  color: $text-palette-2;
  word-spacing: 4px;
}