$asian-view-custom: false !default;

@if $asian-view-custom == true {
  .asian-separator-container-b .fixed-element-parent .scrollable-fixed {
    width: 1130px;
    left: auto;
  }
  .asian-contain {
    padding: 10px;
  }
  .asian-left-menu-scroll-wrapper {
    height: calc(100vh - 20px - 150px);
  }
  .asian-left-menu ul li,
  .asian-left-contain-menu {
    .sport-icon-v3 {
      line-height: 34px;
    }
    .sports-item-v3 {
      min-height: 34px;
      max-height: 34px;
      line-height: 34px;
      margin: 1px 0 0;
      .icon-sport-asia {
        top: 9px;
      }
      .menu-arrow-asia,
      .arrow-view-v3 {
        height: 34px;
        &:before {
          line-height: 34px;
        }
      }
    }
  }
  .asian-left-contain-menu .sports-item-v3 > p,
  .asian-left-contain-menu .sport-games-count-v3,
  .asian-left-contain-menu .sports-item-v3.favoritecompetitions:before {
    line-height: 34px;
  }
   .sports-item-v3 {
    @include ltr {
      padding: 0 30px 0 36px;
    }
     @include rtl {
       padding: 0 36px 0 30px;
     }
  }
  .asian-live-game {
    width: 32px;
    height: 12px;
    padding: 0;
    color: $brand-color-1;
    background: none;
    font: 0/0 $font-f;
    position: relative;
    &:before {
      content: "\5e";
      position: absolute;
      top: -6px;
      left: 5px;
      font: 24px/24px icomoon;
    }
  }
  .match-odd1X2.ft-ht .info-bl p.time-g-asia {
    padding: 0 1px;
  }
  .game-list-compitishion table tr td {
    line-height: 11px;
    &[rowspan="2"] .asian-market-wrap-j {
      &.up-0:not(.locked) .asian-market-j .odd-container-j:before,
      &.up-1:not(.locked) .asian-market-j .odd-container-j:before {
        top: -22px;
      }
      &.down0:not(.locked) .asian-market-j .odd-container-j:before,
      &.down-1:not(.locked) .asian-market-j .odd-container-j:before {
        bottom: -22px;
      }
    }
  }
  .asian-status-icons {
    display: inline-block;
    width: auto;
    > div {
      display: inline-block;
      margin: 0 2px;
      padding: 1px 0;
      line-height: 15px;
    }
  }
  .match-odd1X2 {
    &.correct-score .info-bl p, .info-bl p {
      padding: 1px 0;
    }
    .info-bl p.teams-n-account-asia {
      padding: 5px 0;
    }
  }
  .body-wrapper.asian {
    .gaming-wrapper-asia {
      background: rgba(set-color(darken( desaturate( adjust-hue( $skin-color, 4deg ), 11 ), 1 )), 0.5);
      @if $white-skin == true {
        background: rgba(black, 0.03);
      }
      .viewSwitcher-j > ul,
      .asian-left-contain-menu .list-bet-block,
      .asian-left-contain-menu .name-b-list h2,
      .animation-video-title-row-v3,
      .menu-tabs-b ul li,
      .asian-left-menu ul li,
      .big-filter-wrapper ul li,
      .asian-pagination > button,
      .game-list-compitishion-j,
      .game-list-compitishion,
      .prematch-game-title,
      .markets-group-wrap-v3 > ul.has-dropdown > li,
      .asian-left-contain-menu .bet-form form input[type="text"],
      .button-bet button,
      .asian-left-contain-menu .sports-item-v3 {
        border-radius: 0;
      }
      .viewSwitcher-j > ul > li:not(:only-child):not(:last-child):after {
        background: rgba(set-color(darken( desaturate( adjust-hue( $skin-color, 4deg ), 11 ), 1 )), 0.5);
      }
      .factor-w .asian-market-wrap-j .asian-market-j {
        line-height: 43px;
      }
      .contain-v-a-fanction-icons-v3 > ul > li {
        @include ltr {
          border-color: rgba(set-color(darken( desaturate( adjust-hue( $skin-color, 4deg ), 11 ), 1 )), 0.5);
        }
        @include rtl {
          border-color: rgba(set-color(darken( desaturate( adjust-hue( $skin-color, 4deg ), 11 ), 1 )), 0.5);
        }
      }
      .game-finished-v3 {
        color: darken( desaturate( adjust-hue( $skin-color, 4deg ), 11 ), 1 );
      }
    }
    .competition-title-v3 {
      height: 34px;
    }
    .asian-left-contain-menu .competition-title-v3 {
      > label {
        span {
          font-size: 11px;
          color: $text-palette-4;
          transition: color 300ms;
          &.favorite-competitions-icon-t {
            top: 0;
          }
        }
        .flag-view-v3 {
          top: 9px;
        }
      }
      &:hover, &.active {
        > label span {
          color: $text-palette-1;
        }
      }
    }
    .big-filter-wrapper > ul > li {
      @include ltr {
        border-left: 1px solid rgba(set-color(darken( desaturate( adjust-hue( $skin-color, 4deg ), 11 ), 1 )), 0.5);
      }
      @include rtl {
        border-right: 1px solid rgba(set-color(darken( desaturate( adjust-hue( $skin-color, 4deg ), 11 ), 1 )), 0.5);
      }
      &:first-child {
        @include ltr {
          border: none;
        }
        @include rtl {
          border: none;
        }
      }
    }
    table.hdp-contain-j {
      th, td {
        &.xs-s {
          width: 94px;
          min-width: 94px;
        }
        &.ms {
          width: 150px;
          min-width: 150px;
        }
      }
    }
    .sport-markets-menu ul li {
      margin: 0;
      border-bottom: 1px solid rgba(set-color(darken( desaturate( adjust-hue( $skin-color, 4deg ), 11 ), 1 )), 0.5);
      &:first-child {
        &.active, &:hover {
          box-shadow: 0 1px 0 rgba(set-color(darken( desaturate( adjust-hue( $skin-color, 4deg ), 11 ), 1 )), 0.5) inset;
        }
      }
    }
    .menu-tabs-b ul li {
      @include ltr {
        border-color: rgba($text-palette-1,0.5);
      }
      @include rtl {
        border-color: rgba($text-palette-1,0.5);
      }
      &:first-child {
        border: none;
      }
      &.active {
        background: lighten( desaturate( adjust-hue( $skin-color, 3deg), 16), 4);;
        box-shadow: inset 0 -3px 0 $hero-color;
        color: $text-palette-1;
      }
    }
    .asian-market-wrap-j {
      &:not(.locked):not(.active):hover .asian-market-j {
        color: set-color($hero-color);
        background: $hero-color;
        box-shadow: 0 0 0 200px $hero-color;
        .asian-market-rub-j {
          color: set-color($hero-color);
        }
      }
      &:not(.locked):not(.active):not(.up-0):not(.up-1):not(.down0):not(.down-1):hover .asian-market-j {
        color: set-color($hero-color);
      }
      &:not(.locked) .odd-container-j {
        &:before{
          content: "";
          position: absolute;
          top: auto;
          bottom: 0;
          @include ltr {
            right: 0;
            border-left: 8px solid transparent;
          }
          @include rtl {
            left: 0;
            border-right: 8px solid transparent;
          }
        }
        &:after {
          display: none;
        }
      }
      &.up-1, &.up-0 {
        &:not(.locked) .asian-market-j {
          .odd-container-j:before {
            top: 0;
            bottom: auto;
            border-top: 8px solid map-get($coeff-color-map, asian-up);
          }
        }
      }
      &.down0,
      &.down-1 {
        &:not(.locked) .asian-market-j {
          .odd-container-j:before {
            content: "";
            border-bottom: 8px solid map-get($coeff-color-map, asian-down);
          }
        }
      }
      &:hover, &.active {
        &.up-0, &.up-1  {
          &:not(.locked) .asian-market-j {
            .odd-container-j:before {
              border-top-color: set-color($hero-color);
            }
          }
        }
        &.down0,
        &.down-1 {
          &:not(.locked) .asian-market-j {
            .odd-container-j:before {
              border-bottom-color: set-color($hero-color);
            }
          }
        }
      }
    }
    // Start HDP & OU

    .market_list_view {
      table.hdp-contain-j {
        .asian-team-name-wrapper-j > div {
          > p {
            text-transform: uppercase;
          }
          > b {
            border-radius: 3px !important;
          }
        }
        tr {
          &:not(:first-child):nth-child(odd) .light-bg-j,
          &:nth-child(odd) .asian-market-overflow-j,
          &:nth-child(odd) .br-j.bb-j {
            background: lighten( desaturate( $skin-color, 18), 19);
          }
          &:nth-child(even) {
            .asian-market-overflow-j,
            .br-j.bb-j,
            .dark-bg-j.br-j {
              background: lighten( desaturate( $skin-color, 17 ), 12 );
            }
          }
          .asian-market-overflow-j .asian-market-j {
            line-height: 27px;
            background: none;
            box-shadow: none;
          }
        }
        .dark-bg-j.asian-market-overflow-j .asian-market-wrap-j .asian-market-j .asian-market-cell-j:nth-last-child(2) {
          background: none;
          box-shadow: none;
        }
        td {
          &.br-j {
            border: 0;
          }
          &.dark-bg-j.br-j.bb-j.more-arrow-j-asia {
            color: set-color($skin-palette-9);
            background: $skin-palette-9;
            &:hover, &.active {
              background: lighten( saturate( $skin-palette-9, 1 ), 7 );
            }
          }
          small {
            width: 50px;
            word-break: break-all;
          }
        }
        td,
        th {
          &.xs-s {
            width: 94px;
            min-width: 94px;
          }
          &.ms {
            width: 150px;
            min-width: 150px;
          }
        }
        .asian-market-wrap-j {
          .asian-market-j {
            table-layout: fixed;
            .asian-market-cell-j {
              background: rgba(0, 0, 0, 0.1);
              &:hover {
                background: $hero-color;
              }
              .asian-market-rub-j {
                text-align: center;
              }
              &:nth-last-child(2) {
                text-align: right;
              }
              &:nth-child(2) {
                text-align: center;
              }
            }
          }
          &:not(.locked) {
            &:not(.active):not(.up-0):not(.up-1):not(.down0):not(.down-1):hover .asian-market-j {
              color: set-color($hero-color);
            }
            &:not(.active):hover .asian-market-j,
            &.active .asian-market-j {
              background: none;
              box-shadow: none;
              .odd-container-j {
                background: $hero-color;
              }
            }
          }
          &:not(.locked) .odd-container-j {
            &:before, &:after {
              bottom: 1px;
            }
          }
          &.up-0,
          &.up-1 {
            &:not(.locked) .asian-market-j {
              .odd-container-j:before {
                top: 1px;
              }
            }
          }
        }
      }
    }

    // End HDP & OU

    // Start FT & HT 1x2 and Correct score and others

    .game-list-compitishion table {
      background: darken( desaturate( adjust-hue( $skin-color, 4deg), 15), 1);
      &.match-odd1X2 {
        tr td.factor-w {
          border-color:  darken( desaturate( adjust-hue( $skin-color, 4deg), 15), 1);
        }
        .asian-market-wrap-j {
          &:hover.up-0:not(.active):not(.locked) .asian-market-j,
          &:hover.up-1:not(.active):not(.locked) .asian-market-j,
          &:hover.down0:not(.active):not(.locked) .asian-market-j,
          &:hover.down-1:not(.active):not(.locked) .asian-market-j {
            color: set-color($hero-color);
          }
        }
        &.correct-score .asian-market-cell-j {
          @include ltr {
            padding: 0 12px 0 0;
          }
          @include rtl {
            padding: 0 0 0 12px;
          }
        }
        &:not(.correct-score) .asian-market-wrap-j .asian-market-j {
          line-height: 47px;
        }
        &.correct-score {
          .asian-market-overflow-j .asian-market-wrap-j .asian-market-j {
            line-height: 41px;
          }
        }
      }
    }

    // End  FT & HT 1x2 and Correct score

    .fullgame-j .asian-market-cell-j {
      @include ltr {
        padding: 0 12px 0 0;
      }
      @include rtl {
        padding: 0 0 0 12px;
      }
    }
  }
}
.asian-left-contain-menu .competition-title-v3{
  > label.new{
    @include ltr{
      padding-right: 48px;
    }
    @include rtl{
      padding-left: 48px;
    }
    &:after{
      content: '';
      display: block;
      background: url(../../../images/new-label.png) 0 0 no-repeat;
      height: 12px;
      width: 27px;
      position: absolute;
      top: 6px;
      background-size: contain;
      @include ltr{
        right: 26px;
      }
      @include rtl{
        left: 26px;
      }
    }
  }
}

.asian-left-menu ul li.new .sport-name-asia{
  @include ltr{
    padding-right: 45px;
  }
  @include rtl{
      padding-left: 45px;
  }
  &:after{
    content: '';
    display: block;
    background: url(../../../images/new-label.png) 0 0 no-repeat;
    height: 12px;
    width: 27px;
    position: absolute;
    top: 6px;
    background-size: contain;
    @include ltr{
      right: 16px;
    }
    @include rtl{
      left: 16px;
    }
  }
}

