@mixin asian-view($skin-color: $skin-color, $asian-light-skin: false) {
  $text-color: $skin-color;
  $text-palette-1: #ffffff; //#ffffff;
  $text-palette-2: lighten(desaturate(adjust-hue($text-color, 18deg), 22), 79); //#f3f3f5;
  $text-palette-3: lighten(desaturate(adjust-hue($text-color, 2deg), 21), 61); //#c2c5cd;
  $text-palette-4: lighten(desaturate(adjust-hue($text-color, 2deg), 22), 36); //#7b8191;
  $text-palette-5: lighten(desaturate($text-color, 18), 19); //#505767;
  $text-palette-6: lighten(desaturate($text-color, 17), 12); //#3f4553;
  $text-palette-7: lighten(desaturate(adjust-hue($text-color, 3deg), 16), 4); //lighten( desaturate( adjust-hue( $skin-color, 3deg ), 16 ), 4 );
  $text-palette-8: darken(desaturate(adjust-hue($text-color, 4deg), 11), 1); //#212532;
  $text-palette-9: lighten($text-color, 4); //#242e45;
  $text-palette-10: $text-color; //#1e2639;
  $text-palette-11: darken(adjust-hue($text-color, 4deg), 4); //#171c2c;
  $text-palette-12: darken(saturate(adjust-hue($text-color, 4deg), 1), 7); //#121623;
  $text-palette-13: #000000; //#000000;
  $text-palette-14: lighten(desaturate(adjust-hue($text-color, 5deg), 16), 52); //#000000;
  $text-palette-15: lighten(desaturate(adjust-hue($text-color, 4deg), 23), 32); //#000000;
  $button-disable-bg: lighten(desaturate($skin-color, 17), 12);
  @if $asian-light-skin==true {
    $text-color: #0d1423;
    $text-palette-15: darken(desaturate(adjust-hue($text-color, 4deg), 23), 32);
    $text-palette-14: darken(desaturate(adjust-hue($text-color, 5deg), 16), 52);
    $text-palette-13: #ffffff;
    $text-palette-12: lighten(desaturate(adjust-hue($text-color, 18deg), 22), 79);
    $text-palette-11: lighten(desaturate(adjust-hue($text-color, 2deg), 21), 61);
    $text-palette-10: lighten(desaturate(adjust-hue($text-color, 2deg), 22), 36);
    $text-palette-9: lighten(desaturate($text-color, 18), 19);
    $text-palette-8: lighten(desaturate($text-color, 17), 12);
    $text-palette-7: lighten(desaturate(adjust-hue($text-color, 3deg), 16), 4);
    $text-palette-6: darken(desaturate(adjust-hue($text-color, 4deg), 11), 1);
    $text-palette-5: lighten($text-color, 4);
    $text-palette-4: $text-color;
    $text-palette-3: darken(adjust-hue($text-color, 4deg), 4);
    $text-palette-2: darken(saturate(adjust-hue($text-color, 4deg), 1), 7);
    $text-palette-1: #000000;
    $button-border-color: rgba(0, 0, 0, 0.3);
    $button-disable-bg: rgba(0, 0, 0, 0.2);
  }
  .gaming-wrapper-asia {
    color: $text-palette-1;
    .markets-group-wrap-v3 {
      background: none;
    }
    .game-info {
      .game-detailed-stats {
        > span.icon-stat-details {
          box-shadow: 0 -3px 0 darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1);
          background: darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1);
          &:before {
            background: set-color($skin-color);
            box-shadow: 0 4px 0 set-color($skin-color), 0 8px 0 set-color($skin-color);
          }
        }
        .hover-sp {
          scrollbar-base-color: darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1);
          scrollbar-track-color: darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1);
          scrollbar-shadow-color: darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1);
          scrollbar-base-color: lighten(desaturate($skin-color, 18), 19);
          scrollbar-arrow-color: lighten(desaturate($skin-color, 18), 19);
          &::-webkit-scrollbar-track {
            border-radius: 10px;
          }
          &::-webkit-scrollbar {
            width: $scrollbar-width;
            background: darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1);
            border-radius: 10px;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: lighten(desaturate($skin-color, 18), 19);
            &:hover {
              background: lighten(desaturate(lighten(desaturate($skin-color, 18), 19), 1), 6);
            }
          }
        }
      }
      .game-control .toggle-stats {
        color: $text-palette-4;
        &:hover {
          color: $text-palette-2;
        }
      }
    }
    .viewSwitcher-j.select-pagination > p {
      background: darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1);
      > i {
        background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
      }
    }
  }
  & {
    background: darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
  }
  .gaming-wrapper-asia .video-player-control.volume-control > span,
  .gaming-wrapper-asia .contain-v-a-fanction-icons-v3 > ul > li.sound-icon-v3:before {
    color: $text-palette-1;
  }
  .gaming-wrapper-asia .video-player-control > span.video-pause:before,
  .gaming-wrapper-asia .video-player-control > span.video-play:before {
    border-right: 1px solid lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
  }
  .gaming-wrapper-asia .game-video-detached {
    border: 1px solid lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
  }
  .gaming-wrapper-asia .detached-game-container .detached-game-name {
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
  }
  .gaming-wrapper-asia .detached-game-container .detached-game-name p {
    color: set-color(lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4));
  }
  .asian-left-contain-menu .list-bet-block {
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
  }
  .asian-left-contain-menu .betting-result-info {
    border-bottom: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
  }
  .asian-left-contain-menu .bet-notification-warning a {
    color: $text-palette-1;
  }
  .asian-left-contain-menu .list-bet-block ul li:first-child span a {
    color: $text-palette-4;
  }
  .asian-left-contain-menu .list-bet-block ul li {
    color: $text-palette-4;
    box-shadow: 1px 0 0 darken(saturate(adjust-hue($skin-color, 4deg), 1), 7) inset, 1px 0 0 darken(saturate(adjust-hue($skin-color, 4deg), 1), 7) inset;
    background: darken(desaturate(adjust-hue($skin-color, 4deg), 15), 1);
  }
  .asian-left-contain-menu .bet-event-title {
    color: $text-palette-3;
  }
  .asian-left-contain-menu .single-bet-container .single-bet-betmax {
    background: lighten(desaturate(adjust-hue($skin-color, 2deg), 22), 36);
    color: $text-palette-1;
  }
  .asian-left-contain-menu .bet-currency-value .single-bet-betmax {
    background: lighten(desaturate(adjust-hue($skin-color, 2deg), 22), 36);
    color: $text-palette-1;
    span {
      max-width: 50px;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      overflow: hidden;
    }
  }
  .asian-left-contain-menu .list-bet-block ul li .single-bet-container .single-bet-betmax span {
    color: $text-palette-1;
  }
  .asian-left-contain-menu .single-bet-container .single-bet-betmax:hover,
  .asian-left-contain-menu .bet-currency-value .single-bet-betmax:hover {
    background: lighten(desaturate($skin-color, 18), 19);
  }
  .asian-left-contain-menu .list-bet-block ul li .betprice, .asian-left-contain-menu .list-bet-block ul li p:nth-of-type(2) span, .asian-left-contain-menu .list-bet-block ul li p span.pick {
    color: $brand-color-2;
  }
  .asian-left-contain-menu .list-bet-block ul li p {
    color: $text-palette-4;
  }
  .asian-left-contain-menu .list-bet-block ul li span.bet-initial-price {
    color: #c33451;
  }
  .asian-left-contain-menu .button-bet button {
    background: $hero-color;
  }
  .asian-left-contain-menu .p-v {
    color: #CE9F5B;
    @if $asian-light-skin == true {
      color: #000;
    }
  }
  .asian-left-contain-menu .button-bet button:disabled {
    background: darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1);
    color: $button-disable-bg;
  }
  .asian-left-contain-menu .betslip-clearall-button i {
    background: $hero-color;
  }
  .asian-left-contain-menu .betslip-clearall-button input {
    color: set-color($hero-color);
  }
  .asian-left-contain-menu .bet-form form input[type="text"] {
    border: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    color: $brand-color-2;
    background: darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
  }
  .asian-left-contain-menu .single-bet-container [type="text"],
  .offer-stake-form .offer-input input {
    border: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    color: $brand-color-2;
    background: lighten($skin-color, 4);
  }
  .asian-left-contain-menu .bet-form form input[type="text"]:focus,
  .asian-left-contain-menu .single-bet-container input[type="text"]:focus {
    border-color: $text-palette-4;
  }
  .asian-left-contain-menu .bet-form form .bet-currency-value p {
    color: $text-palette-5;
  }
  .asian-left-contain-menu .express-stake-label span {
    color: $text-palette-3;
  }
  .asian-left-contain-menu .list-bet-block ul li:first-child span a:hover {
    color: $text-palette-5;
  }
  .asian-left-contain-menu .express-stake-label span,
  .asian-left-contain-menu .bet-form form p span,
  .list-bet-block ul li span {
    color: $text-palette-4;
  }
  .list-bet-block ul li:not(.open-bets-games-info) > b {
    color: $brand-color-2;
  }
  .asian-left-contain-menu .betslip-system-chenge {
    background: darken(desaturate(adjust-hue($skin-color, 4deg), 15), 1);
  }
  .asian-left-contain-menu .betslip-system-chenge p {
    color: $text-palette-1;
  }
  .asian-left-contain-menu .bet-settings-container .set-icon:after {
    color: $text-palette-1;
  }
  .asian-left-contain-menu .settings-icon-bet {
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
  }
  .asian-left-contain-menu .list-bet-block .bet-container .bet-conflict-warning .conflict-content-v3 li {
    border-top: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    color: $text-palette-5;
  }
  .asian-left-contain-menu .name-b-list h2 {
    color: set-color($hero-color);
    background: $hero-color;
  }
  .asian-left-contain-menu .bet-container .list-bet-block ul {
    border-bottom: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
  }
  .asian-left-contain-menu .bet-container .list-bet-block ul.deleted {
    border-bottom: 1px solid lighten(desaturate($skin-color, 17), 12);
  }
  .asian-left-contain-menu .list-bet-block .bet-container ul:last-child {
    border-bottom: 1px solid $hero-color;
  }
  .asian-left-contain-menu .list-bet-block ul.changed-j li {
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
  }
  .asian-left-contain-menu .info-mini-icon {
    background: darken(desaturate(adjust-hue($skin-color, 4deg), 15), 1);
  }
  .asian-left-contain-menu .better-odds {
    border-bottom-color: darken(desaturate(adjust-hue($skin-color, 5deg), 14), 1);
  }
  .menu-tabs-b ul li {
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
    color: $text-palette-1;
    @include ltr {
      border-left: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    }
    @include rtl {
      border-right: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    }
  }
  .menu-tabs-b ul li.active {
    background: $hero-color;
    color: set-color($hero-color);
  }
  .asian-left-menu ul li {
    color: $text-palette-1;
    background: darken(desaturate(adjust-hue($skin-color, 4deg), 15), 1);
  }
  .asian-left-menu .sport-markets-menu ul li {
    background: darken(desaturate(adjust-hue($skin-color, 4deg), 15), 1);
  }
  .asian-left-menu ul li:hover .icon-sport-asia,
  .asian-live .mini-icon-1,
  .asian-left-menu ul li.active .asian-live .mini-icon-1 {
    color: $text-palette-1;
  }
  .asian-left-menu ul li .icon-sport-asia,
  .asian-live .mini-icon-1 {
    color: $text-palette-4;
  }
  .asian-left-menu ul li:hover {
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
  }
  .asian-left-menu ul li.active {
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
  }
  .icon-sport-asia {
    color: $text-palette-1;
  }
  .menu-arrow-asia {
    color: $text-palette-1;
  }
  .sport-markets-menu ul li {
    border-bottom: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
    color: $text-palette-4;
    box-shadow: 1px 0 0 darken(desaturate(adjust-hue($skin-color, 4deg), 15), 1) inset, -1px 0 0 darken(desaturate(adjust-hue($skin-color, 4deg), 15), 1) inset;
  }
  .sport-markets-menu ul li.active {
    color: $text-palette-1;
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
    box-shadow: 1px 0 0 lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4), -1px 0 0 lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
  }
  .sport-markets-menu ul li:first-child.active,
  .sport-markets-menu ul li:first-child:hover {
    box-shadow: 0 1px 0 darken(saturate(adjust-hue($skin-color, 4deg), 1), 7) inset;
  }
  .sport-markets-menu ul li:hover {
    box-shadow: 1px 0 0 lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4), -1px 0 0 lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
    color: $text-palette-1;
  }
  .big-filter-wrapper > ul > li {
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
    color: $text-palette-4;
    @include ltr {
      border-left: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    }
    @include rtl {
      border-right: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    }
    .menu-arrow-asia {
      color: $text-palette-4;
    }
  }
  .sub-menu-filter ul li {
    border-bottom: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
    box-shadow: 1px 0 0 darken(saturate(adjust-hue($skin-color, 4deg), 1), 7) inset, -1px 0 0 darken(saturate(adjust-hue($skin-color, 4deg), 1), 7) inset;
    color: $text-palette-4;
  }
  .sub-menu-filter ul li:first-child {
    border-top: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    border-bottom: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
  }
  .sub-menu-filter ul li:hover {
    color: $text-palette-1;
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
  }
  .sub-menu-filter ul li.active,
  .sub-menu-filter ul li.active:hover {
    color: set-color($hero-color);
    background: $hero-color;
  }
  .sub-menu-filter ul li input[type="checkbox"] + label:before,
  .popup-asian-info input[type="checkbox"] + label:before {
    background: darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    box-shadow: 0 0 2px lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 10);
  }
  .sub-menu-filter ul li input[type="checkbox"]:checked + label:after,
  .popup-asian-info input[type="checkbox"]:checked + label:after {
    color: $text-palette-4;
  }
  .sub-menu-filter ul li.active input[type="checkbox"]:checked + label:after {
    color: $hero-color;
  }
  .name-chempionship-asia {
    background: lighten(desaturate($skin-color, 18), 19);
  }
  .name-chempionship-asia h3 {
    color: $text-palette-1;
  }
  .game-list-compitishion table tr td {
    border: 1px solid darken(desaturate(adjust-hue($skin-color, 4deg), 15), 1);
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
  }
  .game-list-compitishion table tr td.big-row {
    background: lighten(desaturate($skin-color, 17), 12);
  }
  .game-list-compitishion table tr td.sport-outright {
    background: lighten(desaturate($skin-color, 17), 12);
  }
  .game-list-compitishion table tr td.sport-outright.date {
    background: darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
  }
  .game-list-compitishion table.outright-tamplate tr:nth-last-child(even) td {
    background: lighten(desaturate($skin-color, 18), 19);
  }
  .game-list-compitishion table tr td.section-2 {
    background: lighten(desaturate($skin-color, 17), 12);
  }
  .game-list-compitishion table tr td.section-3 {
    background: lighten(desaturate($skin-color, 17), 12);
  }
  .game-list-compitishion table tr td.section-3 .info-bl {
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
    color: set-color($skin-color);
  }
  .game-list-compitishion table tr td.more-competition {
    background: lighten(desaturate($skin-color, 17), 12);
  }
  .game-list-compitishion table.match-odd1X2 tr td.factor-w,
  .game-list-compitishion table.name-ft-ht-layout tr td.factor-w {
    border-left-color: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
    border-right-color: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
  }
  .game-list-compitishion table.match-odd1X2 tr td.factor-w.border-c,
  .game-list-compitishion table.name-ft-ht-layout tr td.factor-w.border-c {
    border-right-color: darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
  }
  .game-list-compitishion table.match-odd1X2 tr td:nth-last-child(2),
  .game-list-compitishion table.name-ft-ht-layout tr td:nth-last-child(2) {
    border-right-color: darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
  }
  .game-list-compitishion table tr td.border-d {
    border-bottom-color: transparent;
  }
  .teams-n-account-asia span.account-asian-1x2 b {
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
    color: set-color($skin-color);
  }
  .teams-n-account-asia span.account-asian-1x2 b:first-child:after {
    color: $text-palette-1;
  }
  .more-arrow-b-asia {
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
    color: $text-palette-1;
  }
  .game-list-compitishion table tr td.name-teams-hdp {
    border-right-color: transparent;
  }
  .game-list-compitishion table tr td.filters-hdp {
    border-left-color: transparent;
    border-right-color: transparent;
  }
  .game-list-compitishion table tr td.more-competition.first {
    border-left-color: transparent;
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
  }
  .block-filter-hdp ul li {
    background: $text-palette-1;
    color: set-color($text-palette-1);
  }
  .block-filter-hdp ul li:hover,
  .block-filter-hdp ul li.active {
    background: $hero-color;
    color: set-color($hero-color);
  }
  .game-list-compitishion table tr td.more-b-asia {
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
  }
  .game-list-compitishion table .second-l-hdp tr td:first-child,
  .game-list-compitishion table .second-l-hdp tr td:last-child {
    border-top: none;
    border-bottom: none;
  }
  .game-list-compitishion table .second-l-hdp tr:last-child td:first-child,
  .game-list-compitishion table .second-l-hdp tr:last-child td:last-child {
    border-bottom: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
  }
  .game-list-compitishion table .second-l-hdp tr td:first-child,
  .game-list-compitishion table .second-l-hdp tr td:last-child {
    border-top: none;
    border-bottom: none;
  }
  .game-list-compitishion table .second-l-hdp tr:last-child td:first-child,
  .game-list-compitishion table .second-l-hdp tr:last-child td:last-child {
    border-bottom: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
  }
  .game-list-compitishion table .second-l-hdp tr:nth-child(2n+1) td.section-2 {
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
  .game-list-compitishion .match-odd1X2.correct-score tr td.section-1,
  .game-list-compitishion .match-odd1X2.correct-score tr td.more-competition {
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
  .game-list-compitishion .match-odd1X2.correct-score tr:last-child td.section-1,
  .game-list-compitishion .match-odd1X2.correct-score tr:last-child td.more-competition {
    border-bottom-color: darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
  }
  .big-row .info-bl:before,
  .big-row .info-bl:after {
    background: lighten(desaturate($skin-color, 18), 19);
    box-shadow: 0 1px 0 lighten(desaturate($skin-color, 18), 19), 0 -1px 0 lighten(desaturate($skin-color, 18), 19), -1px 0 0 lighten(desaturate($skin-color, 18), 19);
  }
  .name-chempionship-asia.more-c .block-filter-hdp li {
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
  }
  .name-chempionship-asia.more-c .block-filter-hdp li.active,
  .name-chempionship-asia.more-c .block-filter-hdp li:hover {
    background: darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    color: $text-palette-1;
  }
  .game-list-compitishion table tr td.name-b-more {
    background: lighten(desaturate($skin-color, 17), 12);
  }
  .game-list-compitishion table tr td.comp-column-more {
    color: $text-palette-4;
  }
  .game-list-compitishion table tr td.name-b-more.title {
    background: darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
  }
  .game-list-compitishion table.more-events-t tr td.factor-w.border-light {
    border-right-color: lighten(desaturate(adjust-hue(lighten(desaturate(adjust-hue($skin-color, 2deg), 22), 36), 34deg), 13), 41);
  }
  .game-list-compitishion table.second-more-view td.more-c-view {
    background: lighten(desaturate($skin-color, 17), 12);
  }
  .name-market-view span {
    background: darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    border-left: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
  }
  .game-list-compitishion table.any-markets-more td.more-c-view .name-market-view span {
    border: none;
    background: none;
  }
  .many-columns-b .name-market-view span {
    border: none;
  }
  .many-columns-b ul li {
    display: inline-block;
    float: left;
    width: calc(100% - 2px);
    border: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    border-top: none;
  }
  .many-columns-b.cols-2 ul li {
    width: calc((100% - 3px) / 2);
  }
  .many-columns-b.cols-2 ul li:nth-child(even) {
    border-left: none;
  }
  .many-columns-b.cols-3 ul li {
    width: calc((100% - 5px) / 3);
    border-left: none;
  }
  .many-columns-b.cols-3 ul li:first-child,
  .many-columns-b.cols-3 ul li:nth-child(3n+4) {
    border-left: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    width: calc((100% - 2px) / 3);
  }
  .many-columns-b.cols-4 ul li {
    width: calc((100% - 4px) / 4);
    border-left: none;
  }
  .many-columns-b.cols-4 ul li:first-child,
  .many-columns-b.cols-4 ul li:nth-child(4n+5) {
    border-left: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    width: calc((100% - 8px) / 4);
  }
  .many-columns-b.cols-5 ul li {
    width: calc((100% - 5px) / 5);
    border-left: none;
  }
  .many-columns-b.cols-5 ul li:first-child,
  .many-columns-b.cols-5 ul li:nth-child(5n+6) {
    border-left: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    width: calc((100% - 10px) / 5);
  }
  .many-columns-b ul li:hover {
    background: lighten(desaturate($skin-color, 18), 19);
  }
  .many-columns-b ul li:nth-child(1):hover,
  .many-columns-b ul li:nth-child(2):hover,
  .many-columns-b ul li:nth-child(1),
  .many-columns-b ul li:nth-child(2) {
    box-shadow: 0 1px 0 darken(saturate(adjust-hue($skin-color, 4deg), 1), 7) inset;
  }
  .many-columns-b ul li.active,
  .many-columns-b ul li.active:hover {
    color: set-color($hero-color);
    background: $hero-color;
  }
  .many-columns-b .name-market-view span {
    background: none;
  }
  .popup-asian-info {
    background: darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    label {
      color: $text-palette-4;
    }
  }
  .name-filter-asian h3 {
    color: $text-palette-4;
  }
  .filter-function-b {
    ul li button {
      background: $hero-color;
      color: set-color($hero-color);
      &:disabled {
        background: darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1);
      }
    }
  }
  .all-filter-competitions ul li {
    border: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
  }
  .all-filter-competitions ul li:hover {
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
    @include ltr {
      border-left-color: $hero-color;
      border-right-color: darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    }
    @include rtl {
      border-left-color: darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
      border-right-color: $hero-color;
    }
  }
  .all-filter-competitions ul li.active,
  .all-filter-competitions ul li.active:hover {
    background: $hero-color;
    border-left-color: $hero-color;
    border-right-color: $hero-color;
  }
  .all-filter-competitions ul li:hover label,
  .all-filter-competitions ul li.active label {
    color: $text-palette-1;
  }
  .asian-live {
    border: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    .sport-title {
      background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
      border-top: 1px solid lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
      color: set-color(lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4));
      b {
        color: $text-palette-4;
      }
    }
    .game-score-multiset ul.title li {
      background: lighten(desaturate($skin-color, 18), 19);
      border-top: 0 none;
      color: $text-palette-1;
    }
    &.game-soccer,
    &.game-cyberfootball {
      color: $text-palette-1;
    }
    .mini-icon-1 {
      background: none;
      @extend .icon-sport-asia;
    }
    .live-stats {
      .game-control {
        border-top: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
      }
      .game-control .statistics-toggle {
        color: white;
      }
      .game-control .game-statistics li .team-2 {
        box-shadow: none;
      }
    }
  }
  .selectSportsbookColor-j {
    background: lighten(desaturate(adjust-hue($skin-color, 6deg), 19), 7);
    p:before {
      color: $text-palette-4;
    }
    > div {
      background: lighten(desaturate(adjust-hue($skin-color, 6deg), 19), 7);
      > div {
        color: $text-palette-4;
        &:hover {
          color: $text-palette-1;
        }
      }
    }
  }
  .gaming-wrapper-asia .list-bet-block ul {
    border-bottom: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
  }
  .gaming-wrapper-asia .list-bet-block ul li p span {
    color: $text-palette-4;
  }
  .gaming-wrapper-asia .list-bet-block .button-info-text-view-v3 {
    width: 245px;
    bottom: 100%;
    right: 10px;
    background: #e4e5ea;
    >  ul {
      border: none;
      > li {
        background: none;
        box-shadow: none;
        padding: 0 0 0 21px;
        > p {
          color: #404654;
          font-size: 12px;
          font-weight: normal;
        }
      }
    }
    &:before {
      border-color: #e4e5ea transparent transparent transparent;
    }
  }
  .gaming-wrapper-asia .asian-left-contain-menu .bet-form form p {
    span:nth-child(2) {
      color: $text-palette-1;
    }
    input:disabled {
      color: $text-palette-1;
    }
  }
  .gaming-wrapper-asia .asian-left-contain-menu .bet-form form p.express-odds span:nth-child(2) {
    color: $brand-color-2;
  }
  .gaming-wrapper-asia .big-row .info-bl i:before {
    color: $text-palette-1;
  }
  .asian-left-contain-menu {
    .quickBet-and-bsSettings-j {
      color: $text-palette-15;
      background: darken(desaturate(adjust-hue($skin-color, -3deg), 8), 5);
      .quickBetButton-j {
        .md-progress-circular.small-progress {
          position: absolute;
          top: 3px;
          left: 8px;
          padding: 0 !important;
          margin: 0 !important;
        }
        i {
          @if $asian-light-skin==true {
            background: rgba(0, 0, 0, 0.1);
          } @else {
            background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
          }
          &:before {
            @if $asian-light-skin==true {
              background: $skin-palette-2;
            } @else {
              background: $text-palette-2;
            }
          }
        }
        &.active i {
          background: $brand-color-1;
          &:before {
            background: set-color($brand-color-1);
          }
        }
      }
    }
    .betSettingsContainer-j {
      > i {
        color: $text-palette-15;
      }
    }
    .betslipOptions-j {
      > div {
        background: darken(desaturate(adjust-hue($skin-color, -3deg), 8), 5);
      }
      label {
        span {
          &:before {
            background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
          }
        }
        input[type="radio"]:checked + span:before {
          background: $brand-color-1;
        }
        input[type="radio"]:checked + span:after {
          background: set-color($brand-color-1);
        }
      }
    }
    .additionalButtonsBetslip-j {
      background: darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1);
      button {
        span,
        a {
          color: lighten(desaturate(adjust-hue($text-color, 1deg), 21), 34);
        }
        &:not(:only-child):not(:first-child):before {
          background: darken(saturate(adjust-hue($skin-color, 4deg), 2), 7);
        }
        &:hover {
          span,
          a {
            color: set-color($brand-color-1);
            background: $brand-color-1;
          }
        }
      }
    }
    .open-bets-buttons {
      button {
        background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
        color: $text-palette-4;
        &.active {
          background: darken(desaturate(adjust-hue($skin-color, -3deg), 8), 5);
          color: $brand-color-1;
          box-shadow: none;
        }
      }
    }
    .open-bets-buttons button {
      height: 30px;
      font: #{6+$size-font}/30px $font-f;
    }
    .bsTypeSwitchers-j {
      background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
      position: static;
      .bsTypeSwitcher-j {
        > p {
          color: $text-palette-1;
          &:before {
            color: $text-palette-2;
          }
        }
        &.open > p {
          background: lighten(desaturate(adjust-hue($skin-color, 6deg), 19), 7);
        }
        > div {
          background: lighten(desaturate(adjust-hue($skin-color, 6deg), 19), 7);
          box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.4);
          > button {
            color: $text-palette-4;
            background: none;
            > a {
              box-shadow: 0 1px 0 darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1) inset;
            }
            &.active {
              background: $brand-color-1;
              color: set-color($brand-color-1);
              a {
                box-shadow: none;
              }
            }
            &:hover {
              color: $text-palette-1;
            }
          }
        }
      }
    }
  }
  .gaming-wrapper-asia .viewSwitcher-j {
    > ul {
      background: darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1);
      color: $text-palette-14;
      > li {
        &.scrollToggle,
        &.systemCalculator {
          &:hover,
          &.active {
            color: $text-palette-1;
          }
        }
        &:not(:only-child):not(:last-child):after {
          background: darken(desaturate(adjust-hue($skin-color, 5deg), 9), 9);
        }
        p {
          &:before {
            color: $text-palette-5;
          }
        }
        &.active {
          p {
            background: lighten(desaturate(adjust-hue($skin-color, 6deg), 19), 7);
          }
        }
        > ul {
          background: lighten(desaturate(adjust-hue($skin-color, 6deg), 19), 7);
          > li {
            color: $text-palette-4;
            font: 12px/30px $font-f;
            span {
              box-shadow: 0 1px 0 darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1) inset;
            }
            &.active {
              background: $brand-color-1;
              color: set-color($brand-color-1);
              span {
                box-shadow: none;
              }
            }
            &:hover {
              color: $text-palette-1;
            }
          }
        }
      }
    }
  }
  .statistic-view-v3 .live-game-container .sport-title,
  .statistic-view-v3 .game-score-multiset ul.title li {
    color: set-color(lighten( desaturate( adjust-hue( $skin-color, 3deg ), 16 ), 4 ));
    background: lighten( desaturate( adjust-hue( $skin-color, 3deg ), 16 ), 4 );
    border-color: lighten( desaturate( adjust-hue( $skin-color, 3deg ), 16 ), 4 );
  }
  .sport-icon-title .mini-icon-1:before,
  .calendar-nav label span.mini-icon-1:before,
  .sport-icon-inplay.mini-icon-1:before,
  .calendar-content h3 .mini-icon-1:before,
  .live-game-container .sport-title .mini-icon-1:before,
  .game-score-multiset ul.title .mini-icon-1:before,
  .game-score-multiset ul li.serve-team .mini-icon-1:before {
    color: $text-palette-3;
  }
  .asian-live .mini-icon-1:before {
    color: set-color(lighten(desaturate($skin-color, 18), 19));
  }
  .gaming-wrapper-asia {
    .animation-video-title-row-v3 {
      border-bottom: 1px solid lighten(desaturate(adjust-hue(darken(adjust-hue($skin-color, 4deg), 4), -4deg), 18), 23);
      background: lighten(desaturate(adjust-hue(darken(adjust-hue($skin-color, 4deg), 4), -1deg), 16), 8);
    }
    .anime-video-switcher-v3 > ul > li:before {
      @if $asian-light-skin==true {
        color: darken(desaturate(adjust-hue($text-palette-11, -4deg), 18), 23);
      } @else {
        color: lighten(desaturate(adjust-hue($text-palette-11, -2deg), 22), 40);
      }
    }
    .anime-video-switcher-v3 > ul > li.active:before {
      color: set-color($hero-color);
    }
    .contain-v-a-fanction-icons-v3 > ul > li {
      @include ltr {
        border-left: 1px solid lighten(desaturate(adjust-hue(darken(adjust-hue($skin-color, 4deg), 4), -1deg), 16), 3);
      }
      @include rtl {
        border-right: 1px solid lighten(desaturate(adjust-hue(darken(adjust-hue($skin-color, 4deg), 4), -1deg), 16), 3);
      }
    }
    .contain-v-a-fanction-icons-v3 > ul > li:before {
      @if $asian-light-skin==true {
        color: darken(desaturate(adjust-hue($text-palette-11, -2deg), 22), 40);
      } @else {
        color: lighten(desaturate(adjust-hue($text-palette-11, -2deg), 22), 40);
      }
    }
    .contain-v-a-fanction-icons-v3 > ul > li.active:before {
      color: $text-palette-1;
    }
    .animation-control,
    .animation-control .game-video {
      background: darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1);
    }
    .game-video-container p {
      color: $text-palette-1;
    }
    .last-event-and-stats-toggle .hover-sp:not(.items-1):hover {
      background: lighten( desaturate( adjust-hue( $skin-color, 3deg ), 16 ), 4 );
      .football-gamer-name {
        color: $text-palette-4;
        box-shadow: 0 -1px 0 darken( desaturate( adjust-hue( $skin-color, 3deg ), 11 ), 1 ) inset;
      }
    }
  }
  .game-additional-info-v3 {
    color: $text-palette-4;
    background: darken( desaturate( adjust-hue( $skin-color, 6deg ), 3 ), 10 );
  }
  .game-additional-icons > i {
    color: lighten( desaturate( adjust-hue( $text-color, 6deg ), 16 ), 52 );
    &:hover {
      color: lighten( desaturate( adjust-hue( $text-color, 18deg ), 21 ), 79 );
    }
  }
  .asian-left-contain-menu .booking-id-text-v3 {
    border-bottom: 1px solid darken(desaturate(adjust-hue(darken(adjust-hue($skin-color, 4deg), 4), 6deg), 1), 5);
    color: $text-palette-4;
    span > span {
      color: $text-palette-2;
    }
    i {
      color: $text-palette-3;
    }
    &.booking-no-border {
      border: 0;
    }
  }
  .icon-favorite.active {
    color: $brand-color-2;
  }
  .asian-left-contain-menu .quick-bet-notifications-j {
    color: $text-palette-4;
    b {
      color: $text-palette-2;
    }
  }
  .game-list-compitishion table tr td.section-1,
  table.hdp-contain-j td small,
  .game-list-compitishion table tr .more-arrow-b-asia {
    color: $text-palette-3;
  }
  .game-list-compitishion table.hdp-contain-title tr td.more-competition {
    color: $text-palette-3;
  }
  .has-video,
  .game-is-neutral,
  .asian-icon-Bet-Builder {
    color: $text-palette-1;
  }
  .prematch-game-title {
    background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
  }
  .asian-left-contain-menu {
    popular-in-sportsbook .sports-item-v3:before {
      color: #1DA1F2;
    }
    .sports-item-v3 {
      color: $text-palette-3;
      background: darken(desaturate(adjust-hue($skin-color, 4deg), 15), 1);
      > p {
        color: $text-palette-1;
      }
      .sport-games-count-v3 {
        color: $text-palette-1;
      }
      &.active > .arrow-view-v3:before {
        color: $text-palette-1;
      }
      &:hover {
        .arrow-view-v3 {
          color: $text-palette-1;
          &:before {
            color: $text-palette-1;
          }
        }
        &:before {
          color: $text-palette-1;
          transition: color 300ms;
        }
      }
      &:before {
        color: $text-palette-4;
      }
      &:after {
        content: none;
      }
      &:hover, &.active {
        background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
      }
    }
    .single-game-item-v3 {
      background: darken(desaturate(adjust-hue($skin-color, 4deg), 15), 1);
      .team-name-1-v3:before {
        color: $text-palette-3;
      }
      .game-info-mini-v3 > p {
        color: $text-palette-4;
      }
      &.active {
        background: lighten(desaturate(adjust-hue($skin-color, 4deg), 15), 10);
        &:before {
          box-shadow: 2px 0 0 lighten(desaturate($skin-color, 18), 19) inset;
        }
      }
      .l-b .single-events-b-v3:not(:hover):not(.active) {
        color: lighten( desaturate( adjust-hue( $skin-color, 4deg ), 20 ), 43 );
        background: rgba(darken( saturate( adjust-hue( $skin-color, 4deg ), 2 ), 7 ), 0.7);
      }
      .single-events-b-v3 {
        &:hover {
          color: $text-palette-3;
          background: lighten( desaturate( $skin-color, 17 ), 12 );
        }
        &.active,
        &.active:hover {
          background: $hero-color;
          color: set-color($hero-color);
        }
        &.active > .p-v {
          color: set-color($hero-color);
        }
      }
    }
    .games-list-mini-view-v3 .blocked-icon-v3 {
      background: darken(adjust-hue($skin-color, 4deg), 4);
    }
    .icon-separator-v3 {
      color: $text-palette-4;
    }
    .favorite-nav .icon-separator-v3.favorite.active:before {
      color: $text-palette-4;
    }
    .icon-separator-v3.market-count-v3 > span {
      background: darken(adjust-hue($skin-color, 4deg), 4);
      color: $text-palette-3;
    }
    .competition-title-v3 {
      background: darken(desaturate(adjust-hue($skin-color, 4deg), 15), 1);
      &:hover, &.active {
        background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
      }
    }
  }
  .asian-separator-container-b {
    .markets-group-wrap-v3 {
      border-bottom-color: lighten(desaturate($skin-color, 17), 12);
      > ul {
        > li {
          background-color: darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1);
          color: $text-palette-4;
          &.more-j {
            &:before {
              color: $text-palette-4;
            }
          }
          &.favorte-markets-group-j {
            background-color: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
            &,
            &.active {
              &:before {
                color: #ac8336;
              }
            }
          }
          &:hover,
          &.active {
            background-color: lighten(desaturate($skin-color, 17), 12);
            color: $text-palette-1;
          }
        }
        &.has-dropdown {
          > li {
            &:nth-child(7) ~ li {
              background: lighten(desaturate(adjust-hue(lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4), 3deg), 3), 3);
              &:hover,
              &.active {
                background: $brand-color-1;
                color: set-color($brand-color-1);
                span {
                  box-shadow: 0 -1px 0 rgba(darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1), 0) inset;
                }
              }
              span {
                box-shadow: 0 -1px 0 darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1) inset;
              }
            }
          }
          &.show-dropdown {
            > li {
              &.more-j {
                &,
                &:hover {
                  background: lighten(desaturate(adjust-hue(lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4), 3deg), 3), 3);
                  background-clip: padding-box;
                  color: $text-palette-1;
                }
              }
            }
          }
        }
      }
    }
  }
  .asian-market-wrap-j {
    &:not(.locked):not(.active):not(.up-0):not(.up-1):not(.down0):not(.down-1):hover .asian-market-j {
      color: darken(#CE9F5B, 10);
      @if $asian-light-skin == true {
        color: #000;
      }
      .asian-market-rub-j {
        color: $text-palette-2;
      }
    }
    &:not(.locked):not(.active):hover .asian-market-j {
      background: lighten(desaturate($skin-color, 17), 12);
      box-shadow: 0 0 0 200px lighten(desaturate($skin-color, 17), 12);
    }
    &.active:not(.locked) .asian-market-j {
      background: $hero-color;
      box-shadow: 0 0 0 200px $hero-color;
      color: set-color($hero-color);
      &:hover {
        background: lighten($hero-color, 10);
        box-shadow: 0 0 0 200px lighten($hero-color, 10);
        .asian-market-rub-j {
          color: set-color($hero-color);
        }
      }
      .asian-market-rub-j {
        color: set-color($hero-color);
      }
    }
    .asian-market-j {
      background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
      box-shadow: 0 0 0 200px lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
      color: #CE9F5B;
      @if $asian-light-skin == true {
        color: #000;
      }
      .asian-market-rub-j {
        color: $text-palette-3;
      }
    }
  }
  .headerVersion_2 .subtop-header-menu-j, .headerVersion_2 .subtop-game-menu-j {
    background: darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1);
  }
  .subtop-header-menu-j {
    > ul {
      > li {
        > a {
          color: rgba(set-color(darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1)), 0.73);
          &:hover {
            color: set-color(darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1));
          }
        }
        &.active {
          > a {
            color: set-color(darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1));
          }
        }
      }
    }
  }
  table.hdp-contain-j {
    .dark-bg-j {
      background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
    }
    .light-bg-j {
      background: lighten(desaturate($skin-color, 17), 12);
    }
    .dark-bg-j.asian-market-overflow-j .asian-market-wrap-j .asian-market-j {
      .asian-market-cell-j {
        &:nth-last-child(2) {
          background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
          box-shadow: 0 26px 0 lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4), 0 -26px 0 lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
          .asian-market-rub-j {
            color: $text-palette-3;
          }
        }
      }
    }
  }
  .asian-pagination {
    > button {
      background: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);
      color: $text-palette-4;
      &:hover {
        background: lighten(lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4), 10);
        color: lighten($text-palette-4, 10);
      }
      &.active {
        background: $brand-color-1;
        color: set-color($brand-color-1);
      }
    }
  }
  .asian-left-contain-menu {
    scrollbar-base-color: darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1);
    scrollbar-track-color: darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1);
    scrollbar-shadow-color: darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1);
    scrollbar-base-color: lighten(desaturate($skin-color, 18), 19);
    scrollbar-arrow-color: lighten(desaturate($skin-color, 18), 19);
    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }
    &::-webkit-scrollbar {
      width: $scrollbar-width;
      background: darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: lighten(desaturate($skin-color, 18), 19);
      &:hover {
        background: lighten(desaturate(lighten(desaturate($skin-color, 18), 19), 1), 6);
      }
    }
  }
  .dark-bg-j.more-arrow-j-asia {
    color: $text-palette-1;
    &:hover {
      background: lighten(desaturate($skin-color, 17), 12);
    }
  }
  .asian-button-refresh-view,
  .refresh-asian-view button {
    color: $text-palette-3;
    &:hover {
      background: $hero-color;
      color: set-color($hero-color);
    }
  }
  .contein-mini-filtr.date {
    .sub-menu-filter ul li:last-child {
      border-top: 1px solid $skin-color;
      button {
        border: 1px solid $text-palette-4;
        color: $text-palette-4;
        background: none;
        &:not(:disabled):hover {
          background: $hero-color;
          border-color: $hero-color;
          color: set-color($hero-color);
        }
      }
    }
  }
  table.hdp-contain-j td {
    $border-color: lighten(desaturate($skin-color, 18), 19);
    &.br-j {
      @include ltr {
        border-right: 1px solid $border-color;
      }
      @include rtl {
        border-left: 1px solid $border-color;
      }
    }
    &.bt-j {
      border-top: 1px solid $border-color;
    }
    &.bb-j {
      border-bottom: 1px solid $border-color;
    }
    &.bl-j {
      border-left: 1px solid $border-color;
    }
    table td {
      &.dark-bg-j {
        &:first-child, &:last-child {
          &.bb-j {
            border-bottom-color: lighten(desaturate(adjust-hue($skin-color, 3deg), 16), 4);;
          }
        }
      }
    }
  }
  .asian-fix-buttons button {
    background: rgba(darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1), 0.65);
    color: set-color($skin-color);
    &:before {
      border-color: set-color($skin-color);
    }
  }
  .open-bets-buttons {
    margin: 0;
    border-top: 1px solid darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
    border-bottom-color: darken(saturate(adjust-hue($skin-color, 4deg), 1), 7);
  }
  .status-icon-open-bets {
    top: 16px;
    @include ltr {
      right: 4px;
    }
    @include rtl {
      left: 6px;
    }
  }
  .balance-int-row {
    background: lighten(desaturate($skin-color, 17), 12);
    color: $text-palette-2;
  }
  + .statistic-on-hover {
    background: $skin-color;
    .statistics-p {
      background: darken( saturate( adjust-hue( $skin-color, 4deg ), 2 ), 7 );
      border: 1px solid lighten( desaturate( $skin-color, 17 ), 12 );
      table {
        thead tr {
          th p {
            color: $text-palette-4;
            background: desaturate(adjust-hue($skin-color, 6deg), 14);
          }

          td {
            background: lighten(desaturate(adjust-hue($skin-color, -1deg), 19), 14);
            box-shadow: inset 0 1px 0 lighten(desaturate(adjust-hue($skin-color, -1deg), 18), 8);
          }
        }

        p {
          color: lighten( desaturate( adjust-hue( $text-color, 4deg ), 20 ), 43 );
          &.active {
            color: $text-palette-2;
          }
          &.green,
          &.red,
          &.yellow {
            &:hover {
              color: #ffffff;
            }
          }
        }
      }
    }
  }
  .system-calculator {
    background: lighten( desaturate( adjust-hue( $skin-color, 3deg ), 16 ), 4 );
    box-shadow: 0 0 0 5px rgba(lighten( desaturate( $skin-color, 18 ), 19 ),0.6), 0 5px 30px 10px rgba(darken( saturate( adjust-hue( $skin-color, 4deg ), 2 ), 7 ), 0.6);
  }
  .system-calculator-title {
    background: darken( desaturate( adjust-hue( $skin-color, 3deg ), 11 ), 1 );
    > h3 {
      color: rgba(set-color(darken( desaturate( adjust-hue( $skin-color, 3deg ), 11 ), 1 )), 0.71);
    }
  }
  .closed-calculator-b {
    color: rgba(set-color(darken( desaturate( adjust-hue( $skin-color, 3deg ), 11 ), 1 )), 0.18);
    &:hover {
      color: set-color(darken( desaturate( adjust-hue( $skin-color, 3deg ), 11 ), 1 ));
    }
  }
  .calculator-select-contain {
    background: lighten( desaturate( adjust-hue( $skin-color, 3deg ), 16 ), 4 );
    border-color: darken( desaturate( adjust-hue( $skin-color, -3deg ), 8 ), 5 );
  }
  .select-calc-box-b .select-block {
    background: darken( desaturate( adjust-hue( $skin-color, -3deg ), 8 ), 5 );
    > select {
      color: rgba(set-color(darken(desaturate(adjust-hue(darken( desaturate( adjust-hue( $skin-color, -3deg ), 8 ), 5 ), -3deg), 8), 5)), 0.74);
      > option {
        background: darken( desaturate( adjust-hue( $skin-color, -3deg ), 8 ), 5 );
      }
    }
    &:after {
      color: rgba(set-color(darken(desaturate(adjust-hue(darken( desaturate( adjust-hue( $skin-color, -3deg ), 8 ), 5 ), -3deg), 8), 5)), 0.26);
    }
  }
  .total-stake-input-b > {
    input[type="text"],
    input[type="number"] {
      color: rgba(set-color(darken( desaturate( adjust-hue( $skin-color, -3deg ), 8 ), 5 )), 0.74);
      background: darken( desaturate( adjust-hue( $skin-color, -3deg ), 8 ), 5 );
      @include placeholder {
        color: rgba(set-color(darken( desaturate( adjust-hue( $skin-color, -3deg ), 8 ), 5 )), 0.74);
      }
    }
  }
  .system-events-view-box {
    background: darken( desaturate( adjust-hue( $skin-color, 3deg ), 11 ), 1 );
    border-color: darken( desaturate( adjust-hue( $skin-color, -3deg ), 8 ), 5 );
    box-shadow: 0 1px 0 lighten( desaturate( adjust-hue( $skin-color, 7deg ), 18 ), 8 );
    > ul > li {
      color: rgba(set-color(darken( desaturate( adjust-hue( $skin-color, 3deg ), 11 ), 1 )), 0.73);
    }
  }
  .sistem-event-icons-b {
    color: rgba(set-color(darken( desaturate( adjust-hue( $skin-color, 3deg ), 11 ), 1 )), 0.73);
  }
  .scroll-view-contain-calculator .event-view-box-separator {
    background: rgba(set-color( darken( desaturate( adjust-hue( $skin-color, 3deg ), 11 ), 1 )), 0.06);
    &:nth-child(even) {
      background: rgba(set-color( darken( desaturate( adjust-hue( $skin-color, 3deg ), 11 ), 1 )), 0.09);
    }
  }
  .event-view-box-separator > ul > li {
    color: rgba(set-color(darken( desaturate( adjust-hue( $skin-color, 3deg ), 11 ), 1 )), 0.73);
    > input[type="text"],
    > label {
      background: darken( desaturate( adjust-hue( $skin-color, 3deg ), 11 ), 1 );
    }
  }
  .mini-calc-info-box > ul {
    border-color: lighten( desaturate( adjust-hue( $skin-color, 7deg ), 18 ), 8 );
    > li {
      border-top-color: lighten( desaturate( adjust-hue( $skin-color, 7deg ), 18 ), 8 );
      border-bottom-color: darken( desaturate( adjust-hue( $skin-color, 6deg ), 3 ), 10 );
      color: rgba(set-color(lighten( desaturate( adjust-hue( $skin-color, 3deg ), 16 ), 4 )), 0.71);
      &:first-child {
        border-top: none;
        > span {
          color: rgba(set-color(lighten( desaturate( adjust-hue( $skin-color, 3deg ), 16 ), 4 )), 0.71);
        }
      }
    }
  }
  .statistic-quality-contain {
    background: darken(desaturate(adjust-hue($skin-color, 4deg), 11), 1);
  }
  .main-title-statistic-quality,
  .title-statistic-quality,
  .sub-title-statistic-quality,
  .overview-statistic-quality > li > p,
  .detail-statistic-qualit > li,
  .qualify-statistic-quality > li.average-goals > b,
  .statistic-no-available,
  .qualify-statistic-quality > li > p,
  .qualify-statistic-quality > li > span {
    color: $text-palette-1;
  }
  .tab-statistic-quality > li {
    color: $text-palette-3;
    background: lighten(desaturate($skin-color, 17), 12);
    &:hover, &.active {
      color: $text-palette-1;
    }
  }
  .detail-statistic-qualit > li > span {
    background: lighten(desaturate($skin-color, 17), 12);
  }
  .qualify-statistic-quality > li {
    &.average-goals > p {
      color: $text-palette-3;
    }
    > span {
      color: $text-palette-4;
    }
  }
  .more-statistic-quality {
    color: $text-palette-4;
  }
}

.body-wrapper.asian {
  @include asian-view($skin-color, $white-skin);
}

$compile-asian-themes: false !default;
@if $compile-asian-themes==true {
  .body-wrapper.asian-white {
    @include asian-view(#d6d6d6, true);
  }
  .body-wrapper.asian-blue {
    @include asian-view(#0e2238);
  }
  .body-wrapper.asian-gold {
    background: #251e09 !important;
    @include asian-view(#5e481e);
  }
  .body-wrapper.asian-black {
    @include asian-view(#161616);
  }
}
.body-wrapper.asian .menu-tabs-b ul li{

  &.boosted-bets{
    background-image: linear-gradient(to right,#751f9f,#ffc353 119%);
    position: relative;
    overflow: hidden;

   &.active{
     background-image: linear-gradient(to right,#751f9f,#ffc353 119%);
     &:after{
       content: "";
       display: block;
       width: 0;
       height: 86%;
       position: absolute;
       top: 7%;
       left: 0;
       opacity: 0;
       box-shadow: 0 0 35px 10px rgba(255,255,255,.7);
       transform: skewX(-45deg);
       animation: boosted-shine 1000ms linear infinite;
     }
   }
  }
}
