.bet-builder {
  width: 820px;
  height: 712px;
  display: table-cell;
  background: $skin-palette-12;
  position: relative;
  z-index: 33;
  overflow: hidden;
  white-space: nowrap;
  line-height: 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  @include ltr {
    text-align: left;
  }
  @include rtl {
    text-align: right;
  }
  .button-confirm {
    margin: 0;
  }
}
.bet-builder-teams {
  float: left;
  width: 100%;
  height: 100%;
  padding: 4px;
  box-sizing: border-box;
  white-space: normal;
  > h2 {
    float: left;
    width: 100%;
    height: 52px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba(set-color($skin-palette-12),0.9);
    font: normal 18px/50px $font-f;
    @include ltr {
      padding: 0 32px 0 14px;
    }
    @include rtl {
      padding: 0 14px 0 32px;
    }
  }
  > h3 {
    float: left;
    width: 100%;
    padding: 20px 14px;
    box-sizing: border-box;
    color: set-color($skin-palette-8);
    background: $skin-palette-8;
    text-transform: none;
    font: normal 14px/16px $font-f;
  }
  > p {
    float: left;
    width: 100%;
    padding: 90px 14px 0;
    box-sizing: border-box;
    text-align: center;
    white-space: normal;
    color: rgba(set-color($skin-palette-8),0.4);
    font: normal 16px/20px $font-f;
  }
  > .md-progress-circular {
    margin-top: 180px;
  }
}
.bet-builder-container {
  float: left;
  width: 100%;
  height: calc(100% - 108px);
  background: $skin-palette-8;
}
.bet-builder-left-block,
.bet-builder-right-block {
  height: 100%;
  @include ltr {
    float: left;
  }
  @include rtl {
    float: right;
  }
}
.bet-builder-left-block {
  width: 60%;
}
.bet-builder-right-block {
  width: 40%;
}
.bet-builder-content {
  float: left;
  width: 100%;
  height: 100%;
  padding: 0 14px 20px;
  box-sizing: border-box;
  > p {
    float: left;
    width: 100%;
    margin: 6px 0 20px;
    white-space: normal;
    color: rgba(set-color($skin-palette-8),0.5);
    font: 12px/14px $font-f;
  }
  h5 {
    float: left;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    color: rgba(set-color($skin-palette-8),0.5);
    background: $skin-palette-8;
    font: 12px/14px $font-f;
    border-top: 1px solid rgba(set-color($skin-palette-8),0.2);
    @include ltr {
      text-align: left;
    }
    @include rtl {
      text-align: right;
    }
  }
  > input {
    float: right;
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
    color: rgba(set-color($skin-palette-8),0.5);
    background: none;
    border: none;
    box-shadow: inset 0 0 0 1px rgba(set-color($skin-palette-8),0.5);
    height: 34px;
    font: 12px/34px $font-f;
    -webkit-text-fill-color: rgba(set-color($skin-palette-8),0.5);
    caret-color: rgba(set-color($skin-palette-8),0.5);
    @include placeholder {
      color: rgba(set-color($skin-palette-8),0.5);
    }
    &:-webkit-autofill{
      box-shadow: inset 0 0 0 1px rgba(set-color($skin-palette-8),0.5), inset 0 0 0 100px $skin-palette-8;
      -webkit-text-fill-color: rgba(set-color($skin-palette-8),0.5);
      &:focus {
        box-shadow: inset 0 0 0 1px rgba(set-color($skin-palette-8),0.5), inset 0 0 0 100px $skin-palette-8;
        -webkit-text-fill-color: rgba(set-color($skin-palette-8),0.5);
      }
    }
  }
}
.b-b-info-text {
  float: left;
  width: 100%;
  display: block;
  white-space: normal;
  margin-bottom: 10px;
  color: rgba(set-color($skin-palette-8),0.5);
  font: 12px/14px $font-f;
  &.error {
    color: #e20d36;
  }
}
.bet-builder-odd {
  float: left;
  width: 100%;
  height: 34px;
  text-align: center;
  margin-bottom: 10px;
  color: $brand-color-2;
  background: $skin-palette-12;
  font: 12px/34px $font-f;
  > span {
    color: rgba(set-color($skin-palette-12),0.8);
  }
}
.bet-builder-add {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  > li {
    float: left;
    width: 100%;
    height: 40px;
    color: set-color($skin-palette-6);
    position: relative;
    box-sizing: border-box;
    background: $skin-palette-6;
    font: 12px/40px $font-f;
    transition: background 240ms;
    @include ltr {
      padding: 0 10px 0 40px;
    }
    @include rtl {
      padding: 0 40px 0 10px;
    }
    &:before {
      content: "\e957";
      position: absolute;
      top: 0;
      width: 21px;
      height: 100%;
      text-align: center;
      color: rgba(set-color($skin-palette-6),0.5);
      font: 20px/40px icomoon;
      @include ltr {
        left: 10px;
      }
      @include rtl {
        right: 10px;
      }
    }
    &:hover {
      background: lighten($skin-palette-6,10);
    }
    + li {
      margin-top: 1px;
    }
  }
}
.bet-builder-match-result-wrapper {
  float: left;
  width: 100%;
  max-height: 312px;
  margin-bottom: 10px;
  @include scroll(auto)
}
.bet-builder-match-result {
  float: left;
  width: 100%;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  background: rgba($skin-palette-6,0.5);
  + .bet-builder-match-result {
    margin-top: 4px;
  }
  > i {
    position: absolute;
    top: 50%;
    text-align: center;
    color: rgba(set-color($skin-palette-6),0.7);
    font: 18px/20px icomoon;
    transform: translateY(-50%);
    @include ltr {
      right: 10px;
    }
    @include rtl {
      left: 10px;
    }
    &:before {
      content: "\ea68";
    }
  }
  > p {
    float: left;
    width: 100%;
    margin-bottom: 6px;
    color: rgba(set-color($skin-palette-6),0.8);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    font: 12px/14px $font-f;
    @include ltr {
      padding-right: 20px;
    }
    @include rtl {
      padding-left: 20px;
    }
  }
  > span {
    float: left;
    width: 100%;
    display: block;
    color: rgba(set-color($skin-palette-6),0.6);
    font: 10px/12px $font-f;
  }
  + .bet-builder-add > li {
    color: rgba(set-color($skin-palette-6),0.69);
    background: rgba($skin-palette-6,0.3);
    &:before {
      color: rgba(set-color($skin-palette-6),0.2);
    }
    &:hover {
      background: lighten(rgba($skin-palette-6,0.3),10);
    }
  }
  &:hover {
    background: $skin-palette-6;
  }
  &.active {
    background: $hero-color;
    > p,
    > span,
    > i {
      color: set-color($hero-color);
    }
  }
}
.bet-builder-teams-odd {
  float: left;
  width: 100%;
  margin-bottom: 14px;
  background: rgba($skin-palette-6,0.4);
}
.bet-builder-score {
  float: left;
  width: 100%;
  .bet-builder-teams-info {
    width: 33.33333333%;
    box-sizing: border-box;
    &:first-of-type {
      @include ltr {
        border-right: 1px solid $skin-palette-8;
      }
      @include rtl {
        border-left: 1px solid $skin-palette-8;
      }
    }
    &:nth-of-type(2) {
      border-bottom: 1px solid $skin-palette-8;
    }
    &:last-of-type {
      @include ltr {
        border-left: 1px solid $skin-palette-8;
      }
      @include rtl {
        border-right: 1px solid $skin-palette-8;
      }
    }
    > li {
      + li {
        border-top: 1px solid $skin-palette-8;
      }
    }
  }
}
.bet-builder-teams-info {
  width: 100%;
  @include ltr {
    float: left;
  }
  @include rtl {
    float: right;
  }
  > li {
    float: left;
    width: 100%;
    height: 34px;
    text-align: center;
    padding: 0 5px;
    box-sizing: border-box;
    color: rgba(set-color($skin-palette-6),0.5);
    font: 12px/34px $font-f;
    transition: color 240ms, background 240ms;
    &:hover,
    &.active {
      color: set-color($skin-palette-6);
      background: $skin-palette-6;
    }
  }
  &.WINNER > li + li {
    border-top: 1px solid $skin-palette-8;
  }
  &.TOTALS,
  &.BOTHTEAMTOSCORE {
    > li {
      width: 50%;
      &:nth-child(odd):last-child {
        width: 100%;
      }
      &:nth-child(even) {
        @include ltr {
          border-left: 1px solid $skin-palette-8;
        }
        @include rtl {
          border-right: 1px solid $skin-palette-8;
        }
      }
      &:nth-child(n+3):nth-child(odd),
      &:nth-child(n+4):nth-child(even) {
        border-top: 1px solid $skin-palette-8;
      }
    }
  }
}
.bet-builder-teams-match {
  display: table;
  width: 100%;
  table-layout: fixed;
  > li {
    display: table-cell;
    height: 34px;
    text-align: center;
    vertical-align: middle;
    color: rgba(set-color($skin-palette-6),0.5);
    background: rgba($skin-palette-6,0.4);
    font: 12px/14px $font-f;
    transition: color 240ms, background 240ms;
    &:hover, &.active {
      color: set-color($skin-palette-6);
      background: $skin-palette-6;
    }
    + li {
      @include ltr {
        border-left: 1px solid $skin-palette-8;
      }
      @include rtl {
        border-left: 1px solid $skin-palette-8;
      }
    }
  }
}
.HANDICAP3WAY {
  background: none;
  text-align: center;
  > ul {
    margin-bottom: 10px;
    background: rgba($skin-palette-6,0.4);
    > li + li {
      border-top: 1px solid $skin-palette-8;
    }
  }
  .bet-builder-odd {
    transition: color 240ms, background 240ms;
    &:hover,
    &.active {
      color: set-color($brand-color-1);
      background: $brand-color-1;
    }
  }
  .b-b-info-text {
    margin-bottom: 0;
    @include ltr {
      text-align: left;
    }
    @include rtl {
      text-align: right;
    }
  }
}
.b-b-goal {
  display: inline-block;
  min-width: 120px;
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  background: $skin-palette-12;
  position: relative;
  margin-bottom: 10px;
  > p {
    display: inline-block;
    padding: 0 10px;
    box-sizing: border-box;
    color: $brand-color-2;
    font: 12px/40px $font-f;
    vertical-align: middle;
  }
  > i {
    display: inline-block;
    color: rgba(set-color($skin-palette-12),0.5);
    vertical-align: middle;
    font: 16px/20px icomoon;
    transition: color 240ms;
    &:hover {
      color: rgba(set-color($skin-palette-12),0.8);
    }
    &.b-b-up-goal:before {
      content: "\e957";
    }
    &.b-b-down-goal:before {
      content: "\e956";
    }
    &.disabled-opacity {
      opacity: 0.3;
    }
  }
}
.b-b-range-wrapper {
  float: left;
  width: 100%;
  .bet-builder-buttons {
    width: auto;
    min-width: 130px;
    padding: 20px 0 10px;
    position: relative;
    @include ltr {
      float: right;
    }
    @include rtl {
      float: left;
    }
    > p.bet-notification-warning {
      width: 200%;
      bottom: 47px;
      z-index: 102;
      @include ltr {
        left: auto;
        right: 0;
      }
      @include rtl {
        left: 0;
        right: auto;
      }
      &:after {
        @include ltr {
          left: auto;
          right: 10px;
        }
        @include rtl {
          left: 10px;
          right: auto;
        }
      }
    }
  }
}
.b-b-range {
  float: left;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  > p {
    float: left;
    width: 100%;
    padding: 6px 0;
    box-sizing: border-box;
    color: rgba(set-color($skin-palette-8),0.5);
    font: 12px/14px $font-f;
    @include ltr {
      text-align: left;
    }
    @include rtl {
      text-align: right;
    }
  }
  > ul {
    width: 100%;
    height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    > li {
      position: relative;
      color: $skin-palette-3;
      font: 14px/16px $font-f;
      z-index: 101;
      &:before {
        content: "";
        position: absolute;
        top: -13px;
        left: -1px;
        width: 9px;
        height: 9px;
        background: $skin-palette-3;
        border-radius: 50%;
        pointer-events: none;
      }
      &.active:before {
        background: lighten($brand-color-1,30);
      }
      &.selected:before {
        top: -15px;
        left: -2px;
        width: 13px;
        height: 13px;
        background: $brand-color-1;
      }
    }
  }
}
.b-b-range-input-wrapper {
  float: left;
  width: 100%;
  height: 16px;
  position: relative;
  small {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    position: absolute;
    background: lighten($brand-color-1,30);
    background: -moz-linear-gradient(left, lighten($brand-color-1,30) 0%, $brand-color-1 100%);
    background: -webkit-linear-gradient(left, lighten($brand-color-1,30) 0%, $brand-color-1 100%);
    pointer-events: none;
    top: calc(50% - 1px);
    z-index: 100
  }
  input {
    display: block;
    width: 100%;
    height: 16px;
    opacity: 0;
    cursor: pointer;
  }
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(set-color($skin-palette-8),0.5);
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
    pointer-events: none;
  }
}
.bet-builder-right-content {
  position: relative;
  padding-bottom: 170px;
}
.bet-builder-buttons {
  float: left;
  width: 100%;
  padding: 20px 14px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  > button {
    float: left;
    width: 100%;
    height: 34px;
    color: rgba(set-color($skin-palette-8),0.7);
    background: none;
    border: 1px solid rgba(set-color($skin-palette-8),0.7);
    font: 12px/14px $font-f;
    transition: color 240ms, background 240ms, border-color 240ms;
    &.brand-color-1 {
      margin-top: 10px;
      color: set-color($brand-color-1);
      background: $brand-color-1;
      border-color: $brand-color-1;
    }
    &:not([disabled]):hover,
    &.active {
      color: set-color($brand-color-1);
      background: lighten($brand-color-1, 10);
      border-color: lighten($brand-color-1, 10);
    }
    &:disabled {
      opacity: 0.5;
      cursor: auto;
    }
    + button {
      margin-top: 10px;
    }
    &[type="submit"] ~ .small-progress {
      box-sizing: border-box;
      position: absolute;
      right: calc(50% - 10px);
      top: 27px;
    }
    &[disabled="disabled"]:hover ~ .bet-notification-warning {
      display: block;
    }
  }
  > p {
    float: left;
    width: 100%;
    margin-bottom: 5px;
    padding: 8px 34px;
    box-sizing: border-box;
    position: relative;
    color: rgba(set-color($skin-palette-8),0.8);
    background: $skin-palette-12;
    font: 12px/16px $font-f;
    &:before {
      content: '\e6b2';
      display: block;
      top: 8px;
      position: absolute;
      color: $brand-color-2;
      font: 16px/16px icomoon;
      @include ltr {
        left: 12px;
      }
      @include rtl {
        right: 12px;
      }
    }
    &.bet-notification-warning {
      display: none;
      position: absolute;
      bottom: 101px;
      width: calc(100% - 28px);
      @include ltr {
        left: 14px;
      }
      @include rtl {
        right: 14px;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -8px;
        border-style: solid;
        border-width: 8px 6px 0 6px;
        border-color: $skin-palette-12 transparent transparent transparent;
        @include ltr {
          left: 10px;
        }
        @include rtl {
          right: 10px;
        }
      }
    }
    &.success-message {
      color: #1A7051;
      &:before {
        content: "\e6ec";
        color: inherit;
      }
    }
  }
  &.winning{
    position: relative;
    > button{
      width: 120px;
      float: none;
    }
    p.bet-notification-warning{
      bottom: 50px;
    }
  }
}