.size-1 {
  width: 8.33333333%;
  .hp-slider-17 .hp-slider-arrows-17 small {
    width: 24px;
    height: 24px;
    font: 14px/24px icomoon;
  }
}
.size-2, .size-2-5 {
  width: 16.66666667%;
  .hp-slider-17 .hp-slider-arrows-17 small {
    width: 24px;
    height: 24px;
    font: 14px/24px icomoon;
  }
}
.size-2-5 {
  width: 20.833333335%;
}
.size-3 {
  width: 25%;
}
.size-4 {
  width: 33.33333333%;
}
.size-5 {
  width: 41.66666667%;
}
.size-6 {
  width: 50%;
}
.size-7 {
  width: 58.33333333%;
}
.size-8 {
  width: 66.66666667%;
}
.size-9 {
  width: 75%;
}
.size-10 {
  width: 83.33333333%;
}
.size-11 {
  width: 91.66666667%;
}
.size-12 {
  width: 100%;
  .hp-slider-17 .hp-slider-arrows-17 small {
    width: 36px;
    height: 36px;
    font: 20px/36px icomoon;
  }
}
@media screen and (max-width: 1260px) {
  .size-m-1 {
    width: 8.33333333%;
  }
  .size-m-2 {
    width: 16.66666667%;
  }
  .size-m-3 {
    width: 25%;
  }
  .size-m-4 {
    width: 33.33333333%;
  }
  .size-m-5 {
    width: 41.66666667%;
  }
  .size-m-6 {
    width: 50%;
  }
  .size-m-7 {
    width: 58.33333333%;
  }
  .size-m-8 {
    width: 66.66666667%;
  }
  .size-m-9 {
    width: 75%;
  }
  .size-m-10 {
    width: 83.33333333%;
  }
  .size-m-11 {
    width: 91.66666667%;
  }
  .size-m-12 {
    width: 100%;
  }
  .row .row-child > div.size-m-12 {
    display: table;
    height: auto;
  }
  .row .row-child > div.size-m-12.top {
    display: table-caption;
  }
}
@media screen and (min-width: 1261px) {
  .kill-height-til-media {
    height: auto !important;
  }
}
.row {
  overflow: hidden;
  float: left;
  width: 100%;
  &:first-of-type {
    padding-top: 5px;
  }
  &:last-of-type {
    padding-bottom: 5px;
  }
  .row-child {
    display: table;
    height: 100%;
    border-spacing: 0;
    box-sizing: border-box;
    float: left;
    width: calc(100% + 10px);
    margin: 0 0 0 -5px;
    .md-progress-circular {
      margin: 30px auto !important;
    }
    .hp-slider-17, .featured-game-block-j {
      + .md-progress-circular {
        margin: 110px auto !important;
      }
    }
    .last-minute-bets-j .md-progress-circular {
      margin: -50px 0 0 -50px !important;
    }
    > div {
      display: table-cell;
      position: relative;
      vertical-align: top;
      box-sizing: border-box;
      height: 100%;
      overflow: hidden;
      > {
        div, products-slider, ng-include {
          display: block;
          float: left;
          width: 100%;
          height: 100%;
          > {
            div, ng-include {
              float: left;
              width: 100%;
              height: 100%;
              padding: 5px;
              box-sizing: border-box;
              transform: translate3d(0,0,0);
            }
          }
        }
      }
    }
  }
}
.guide {
  max-width: 1310px;
  width: calc(100% - 20px);
  float: none;
  margin: 0 auto;
  position: relative;
  box-sizing: content-box !important;
  padding-left: 10px;
  padding-right: 10px;
  clear: both;
  @include rtl {
    direction: rtl;
  }
  @media screen and (max-width: 1260px) {
    width: 960px;
  }
  &:after, &:before{
    display: block;
    content: '';
    clear: both;
  }
}
body {
  .row {
    background: rgba($skin-palette-11,0.55);
    &:first-of-type {
      box-shadow: 0 -160px 0 rgba($skin-palette-11,0.55);
    }
  }
  .better-homepage {
    float: left;
    width: 100%;
    margin: 0 0 48px;
    .absolute-widget {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 5px;
      overflow: hidden;
      z-index: 30;

      &.last-minutes-widget-b {
        // height: calc(100% - 5px);
        height: 100%;
      }
    }
  }
}
.homepage-main-title {
  padding-top: 30px;
  color: rgba($text-palette-1,0.69);
  text-transform: uppercase;
  font: 20px/22px $font-f;
  > a {
    color: rgba($text-palette-1,0.5);
    text-transform: none;
    text-decoration: underline;
    font: 18px/22px $font-f;
    transition: color 240ms;
    @include ltr {
      float: right;
    }
    @include rtl {
      float: left;
    }
    &:hover {
      color: rgba($text-palette-1,0.69);
    }
  }
}
.hp-slider-17 {
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
  transform: translate3d(0,0,0);
  * {
    box-sizing: border-box;
  }
  .hp-slider-action-button-17 {
    display: block;
    position: absolute;
    height: 36px;
    padding: 0 24px;
    font: 12px/36px $font-f;
    text-transform: uppercase;
    bottom: 72px;
    left: 36px;
    background: $brand-color-1;
    color: set-color($brand-color-1);
    transition: 300ms color;
    cursor: pointer;
    &:hover {
      background: lighten($brand-color-1, 10);
    }
  }
  .hp-slide-17 {
    width: 100%;
    transition: 500ms opacity;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    &.active {
      position: relative;
      float: left;
      width: 100%;
      z-index: 30;
      opacity: 1;
      > p {
        position: absolute;
        left: 36px;
        bottom: 60px;
        z-index: 20;
        color: white;
        font: 28px/32px $font-f;
      }
    }
    a {
      display: block;
      float: left;
      width: 100%;
      position: relative;
      img {
        display: block;
        float: left;
        width: 100%;
      }
    }
  }
  &.liveDealer {
    .slider-landing-overlay {
      text-transform: uppercase;
      padding: 5%;
      box-sizing: border-box;
      .guide {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
      }
      h2 {
        width: 100%;
        font: 48px/1 $font-f;
        white-space: nowrap;
        margin: 0;
      }
      .primary-info-slide {
        height: 91px;
        font: 700 24px/30px $font-f;
        margin: 0;
      }
    }
    .hp-slider-pagination {
      position: absolute;
      bottom: auto;
      top: 100%;
      padding: 12px 10px;
    }
  }
}


.casino-games-list-h{
  > .float-width {
    > ul {
      float: left;
      width: calc(100% + 10px);
      position: relative;
      right: 10px;
    }
  }
}
.custom-w{
  width: auto;
  &.v-1{
    width: 20.96%;
  }
}
@media screen and (max-width: 1260px){
  .custom-w{
    width: auto;
    &.v-1{
      width: 22.166%;
    }
  }
}
.hp-slider-pagination {
  position: absolute;
  z-index: 40;
  bottom: 10px;
  padding: 10px 20px;
  white-space: nowrap;
  box-sizing: border-box;
  font: 0/0 $font-f;
  @include ltr {
    left: 0;
    text-align: left;
  }
  @include rtl {
    right: 0;
    text-align: right;
  }
  small {
    display: inline-block;
    vertical-align: top;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: rgba(white, 0.2);
    transition: 240ms background;
    + small {
      @include ltr {
        margin: 0 0 0 12px;
      }
      @include rtl {
        margin: 0 12px 0 0;
      }
    }
    &:hover {
      background: rgba(white, 0.4);
    }
    &.active {
      background: rgba($hero-color, 0.5);
    }
  }
  button {
    min-width: 30px;
    height: 22px;
    color: rgba(white, 0.7);
    background: rgba(black, 0.3);
    text-align: center;
    border: 0;
    transition: 300ms background, 300ms color;
    @include ltr {
      float: left;
    }
    @include rtl {
      float: right;
    }
    &:not(.slider-amount-btn) {
      font: 10px/20px icomoon;
      &:hover {
        color: rgba(white, 1);
        background: rgba(black, 0.6);
      }
    }
    &:first-child {
      @include ltr {
        border-radius: 10px 0 0 10px;
      }
      @include rtl {
        border-radius: 0 10px 10px 0;
      }
      &:before {
        @include ltr {
          content: "\eaaa";
        }
        @include rtl {
          content: "\eaab";
        }
      }
    }
    &:last-child {
      @include ltr {
        border-radius: 0 10px 10px 0;
      }
      @include rtl {
        border-radius: 10px 0 0 10px;
      }
      &:before {
        @include ltr {
          content: "\eaab";
        }
        @include rtl {
          content: "\eaaa";
        }
      }
    }
  }
}
.slider-amount-btn {
  padding: 0 6px;
  font: 12px/22px $font-f;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.news-widget {
  float: left;
  width: 100%;
  .block-news-preview {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    overflow: hidden;
    bottom: 0;
    padding: 5px;
    box-sizing: border-box;
    > ul {
      display: table;
      float: left;
      width: 100%;
      height: 100%;
      > li {
        display: table-cell;
        vertical-align: top;
        position: relative;
        &:first-child {
          width: 60%;
        }
        &:last-child {
          width: 40%;
        }
      }
    }
  }
  .news-img-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: translateZ(0);
    .news-slide {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 11;
      transform: translate3d(0,0,0);
      transition: 500ms opacity;
      &.ng-hide {
        opacity: 0;
        display: block !important;
      }
      &.active {
        opacity: 1;
        z-index: 22;
        > a {
          display: block;
        }
      }
      > a {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        transition: all 300ms;
        -webkit-filter: saturate(0.18);
        filter: saturate(0.18);
        display: none;
      }
      > p {
        position: absolute;
        bottom: 0;
        pointer-events: none;
        left: 0;
        width: 100%;
        > small {
          display: block;
          float: left;
          background: $hero-color;
          color: set-color($hero-color);
          font: 11px/38px $font-f;
          padding: 0 30px;
          box-sizing: border-box;
        }
        > span {
          display: block;
          float: left;
          width: 100%;
          font: 16px/24px $font-f;
          padding: 25px 30px;
          background: rgba($skin-palette-10, 0.9);
          color: $text-palette-1;
          box-sizing: border-box;
        }
      }
    }
  }
  .news-list {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
    @include scroll;
    > ul {
      float: left;
      width: 100%;
      margin: 0 0 41px;
      padding: 0 5px 0 0;
      box-sizing: border-box;
      > li {
        display: block;
        float: left;
        width: 100%;
        + li {
          margin: 1px 0 0;
        }
        > a {
          display: block;
          float: left;
          width: 100%;
          background: lighten( desaturate( $skin-palette-10, 7 ), 4 );
          padding: 15px;
          box-sizing: border-box;
          text-decoration: none;
          color: $text-palette-3;
          transition: 300ms background;
          > p {
            float: left;
            width: 100%;
            &.date-news-info {
              color: $text-palette-4;
              margin: 0 0 5px;
            }
          }
        }
        &.active {
          > a {
            background: $skin-palette-12;
          }
        }
      }
    }
  }
  .all-news-link-j {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 30;
    display: block;
    text-decoration: none;
    width: calc(100% - 22px);
    background: $skin-palette-10;
    padding: 0 15px;
    height: 40px;
    box-sizing: border-box;
    font: 12px/40px $font-f;
    color: $text-palette-3;
    transition: 300ms color;
    &:hover {
      color: $text-palette-1;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      width: calc(100% - 9px);
    }
  }
  .md-progress-circular.md-theme {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px !important;
  }
}
.featured-game-wrapper-j {
  height: 100%;
  width: 100%;
  float: left;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body .better-homepage .absolute-widget {
    display: table;
  }
  .news-widget .block-news-preview > ul > li {
    float: left;
    height: 100%;
  }
}
.featured-game-block-j {
  height: 100%;
  width: 100%;
  background: $skin-palette-12 no-repeat 100% 50% / cover;
  padding: 24px 32px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  > ul {
    float: left;
    width: 100%;
    position: relative;
    z-index: 200;
    > li {
      float: left;
      width: 100%;
      &:last-child {
        margin-top: 31px;
        left: 0;
        box-sizing: border-box;
        bottom: 0;
        padding: 29px 37px;
      }
    }
  }
  .featured-game-title-container-j {
    h1 {
      float: left;
      width: 100%;
      font: 700 24px/24px $font-f;
      color: $text-palette-2;
      text-transform: uppercase;
      margin: 0 0 12px;
    }
    > p {
      font: 12px/14px $font-f;
      color: $text-palette-3;
      small {
        display: inline-block;
        vertical-align: top;
        font: 10px/14px $font-f;
        background: $hero-color;
        color: set-color($hero-color);
        text-transform: uppercase;
        padding: 0 4px;
        margin: 0 5px 0 0;
      }
      u {
        text-decoration: none;
        border-bottom: 1px dotted $text-palette-3;
      }
    }
  }
  .featured-game-footer-j {
    float: left;
    width: 100%;
    margin: 20px 0 0;
    .featured-game-button-j {
      display: block;
      text-decoration: none;
      float: left;
      height: 36px;
      text-transform: uppercase;
      font: 14px/34px $font-f;
      border: 1px solid $hero-color;
      padding: 0 24px;
      color: $text-palette-1;
      white-space: nowrap;
      margin: 0 16px 0 0;
      transition: 300ms color, background 300ms, border 300ms;
      &:hover {
        background: $hero-color;
        color: set-color($hero-color);
      }
    }
    .featured-game-more-markets-j {
      display: block;
      text-decoration: none;
      float: left;
      height: 36px;
      white-space: nowrap;
      text-transform: uppercase;
      font: 14px/34px $font-f;
      color: $text-palette-3;
      transition: color 300ms;
      &:hover {
        color: $text-palette-1;
      }
    }
  }
  .featured-game-bet-container-j {
    float: left;
    width: 100%;
    > a {
      display: block;
      float: left;
      width: calc(100% + 4px);
      margin: 0 0 0 -2px;
    }
    > ul,
    > a > ul {
      display: table;
      table-layout: fixed;
      float: left;
      width: 100%;
      > li {
        display: table-cell;
        vertical-align: top;
        position: relative;
      }
    }
  }
  .featured-game-team-names-container-j {
    margin: 0 0 2px;
    > li {
      background: rgba($skin-palette-12, 0.75);
      color: $text-palette-3;
      height: 40px;
      text-transform: uppercase;
      position: relative;
      > p {
        font: 700 16px/40px $font-f;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 0 6px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &:nth-child(2) {
        width: 80px;
        > span {
          display: block;
          width: 50%;
          font: 700 16px/40px $font-f;
          float: left;
          padding: 0 0 0 10px;
          box-sizing: border-box;
          &:first-child {
            text-align: right;
            padding: 0 10px 0 0;
            &:before {
              content: "";
              position: absolute;
              display: block;
              width: 10px;
              height: 1px;
              top: 50%;
              left: 50%;
              margin: 0 0 0 -5px;
              background: $text-palette-3;
            }
          }
        }
      }
      &:first-child {
        text-align: right;
      }
    }
  }
  ul.featured-game-markets-group-j {
    border-spacing: 2px 0;
    border-collapse: separate;
    > li {
      height: 32px;
      &:nth-child(2) {
        width: 90px;
      }
    }
  }
  .featured-game-market-j {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: table;
    background: rgba($skin-palette-12, 0.75);
    color: $text-palette-1;
    transition: 300ms background, 300ms box-shadow;
    &:hover {
      background: rgba($skin-palette-8, 0.75);
      box-shadow: inset 0 0 0 1px $skin-palette-6;
    }
    > li {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      > p {
        padding: 0 10px;
        font: 14px/32px $font-f;
      }
      &:first-child {
        > p {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 32px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &.rub-j {
        width: 1%;
        color: $brand-color-2;
      }
    }
  }
}
@mixin featured-game-one-line {
  .featured-game-wrapper-j {
    position: static;
  }
  .featured-game-block-j {
    height: 120px;
    > ul {
      height: 100%;
      > li {
        height: 100%;
        &:first-child {
          width: 30%;
        }
        &:last-child {
          width: 70%;
          margin-top: 0;
          position: static;
          padding: 0;
        }
      }
    }
    .featured-game-bet-container-j {
      width: 60%;
    }
    .featured-game-footer-j {
      width: 40%;
      margin: 0;
      padding: 0 0 0 20px;
      box-sizing: border-box;
    }
  }
}
.size-12 {
  @include featured-game-one-line;
}
@media screen and (max-width: 1260px) {
  .size-m-12  {
    @include featured-game-one-line;
  }
}
.text-banners{
  background: $skin-palette-10;
  border-bottom: 2px solid $skin-palette-12;
  float: left;
  width: 100%;
  padding: 25px 0;
  ul {
    float: left;
    width: 100%;
    display: table;
    table-layout: fixed;
    border-spacing: 15px 0;
    li {
      color: $text-palette-4;
      font: 14px/18px $font-f;
      font-weight: $bold-text;
      text-transform: uppercase;
      display: table-cell;
      vertical-align: top;
      a {
        color: $text-palette-4;
        font: $bold-text 14px/18px $font-f;
        display: table;
        text-decoration: none;
        padding: 0;
        position: relative;
        min-height: 50px;
        img {
          max-width: 65px;
          margin: 0 20px 0 0;
          max-height: 50px;
        }
        p {
          font: $bold-text 14px/18px $font-f;
          color: $text-palette-4;
          transition: color 250ms;
          display: table-cell;
          vertical-align: middle;
        }
        &:hover {
          p {
            color: $text-palette-1;
          }
        }
      }
    }
  }
}
.homepage-about-us-block {
  float: left;
  width: 100%;
  background: $skin-palette-12;
  > a {
    display: block;
    text-decoration: none;
    height: 100%;
    > p {
      float: left;
      overflow: hidden;
      box-sizing: border-box;
      img {
        display: block;
        width: 100%;
        height: auto;
        &:not([src]) {
          display: none;
        }
      }
      &:last-child {
        padding: 36px;
      }
    }
  }
  span {
    display: block;
    float: left;
    width: 100%;
    color: $text-palette-3;
    font: 14px/20px $font-f;
    &.title {
      text-transform: uppercase;
      color: $hero-color;
      font: bold 28px/30px $font-f;
      margin-bottom: 20px;
    }
  }
}


.homepage-search-widget {
  height: 100%;
  min-height: 340px;
  background: linear-gradient(to bottom, $skin-palette-10, $skin-palette-8);
  padding: 4px 4px 2px 4px;
  .search-widget-content {
    position: relative;
    height: calc(100% - 48px);
  }
  .sport-casino-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .buttons-wrap {
    border: 1px solid $skin-palette-4;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 6px;
    box-sizing: border-box;
  }
  .divider {
    width: 1px;
    height: 25px;
    display: block;
    background: $skin-palette-4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sport-casino-btn {
    height: 37px;
    line-height: 37px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: $text-palette-1;
    background-color: transparent;
    width: 50%;
    border: none;
    @include ltr {
      float: left;
    }
    @include rtl {
      float: right;
    }
    &.active {
      background-color: $skin-palette-4;
      & ~ .divider {
        display: none;
      }
    }
  }
  form {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    @media only screen and (max-width: 1400px) {
      width: 100%;
    }
    @include ltr {
      left: 0;
    }
    @include rtl {
      right: 0;
    }
    .block-search {
      background: none;
      width: 100%;
      height: 100%;
      max-width: initial;
      margin: 0;
      box-sizing: border-box;
      &:after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $skin-palette-6;
        height: 44px;
      }
      &:before {
        top: 7px;
        z-index: 1;
        color: $text-palette-3;
        @include ltr {
          right: 14px;
          left: initial;
        }
        @include rtl {
          left: 14px;
        }
      }
      input {
        width: calc(100% - 8px);
        height: 36px;
        box-sizing: border-box;
        margin: 4px;
        padding: 0 6px;
        border: 1px solid $skin-palette-4;
        border-radius: 0;
        color: $text-palette-3;
        @include placeholder {
          color: $text-palette-3;
        }
        &:focus {
          width: calc(100% - 8px);
        }
      }
    }
  }
  .games-type-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    @include ltr {
      right: 0;
    }
    @include rtl {
      left: 0;
    }
    &:before, & + p {
      display: none;
    }
    .casino-games-search {
      width: 50%;
      height: 100%;
      top: 0;
      @include ltr {
        right: 0;
      }
      @include rtl {
        left: 0;
      }
      @media only screen and (max-width: 1400px) {
        width: 100%;
      }
      .block-games-search {
        max-width: initial;
        position: relative;
        top: initial;
        height: initial;
        background: $skin-palette-6;
        overflow: hidden;
        padding: 4px;
        input[type=text] {
          &:focus + i, &.pin-search-input + i {
            @include ltr {
              right: 4px;
            }
            @include rtl {
              left: 4px;
            }
          }
        }
        #casino-search-input {
          border: 1px solid $skin-palette-4;
          color: $text-palette-3;
          height: 36px;
          width: 100%;
          opacity: 1;
          padding: 0 6px;
          @include placeholder {
            color: $text-palette-3;
          }
          &:focus {
            padding: 0 6px;
          }
        }
        i {
          top: 4px;
          margin: 0;
          color: $text-palette-3;
          @include ltr {
            right: 4px;
          }
          @include rtl {
            left: 4px;
          }
        }
      }
    }
  }
  .search-results-container, .search-results-container-scroll {
    width: 100%;
    height: 100%;
    top: 40px;
    @include ltr {
      left: 0;
    }
    @include rtl {
      left: initial;
      right: 0;
    }
    h3 {
      display: none;
      padding: 0;
    }
    #result-search {
      max-height: 80%;
      margin: 0;
      background: $skin-palette-6;
      dl {
        padding: 4px 6px;
        dt {
          background: $skin-palette-7;
          color: $text-palette-1;
          text-transform: initial;
          font-size: 12px;
          border-bottom: none;
        }
        dd {
          &:last-child button {
            box-shadow: none;
          }
          &.active button {
            background: transparent;
          }
          button, span, div {
            color: $text-palette-1;
          }
          button {
            box-shadow: 0 -1px 0 $skin-palette-5 inset;
            &:hover {
              background: $skin-palette-10;
            }
          }
        }
      }
    }
  }
  .arrow-sport {
    display: none;
  }
  .search-results-inner {
    height: 100%;
    background: transparent;
    padding: 0;
  }
  .casino-games-results {
    top: 44px;
    width: 100%;
    height: 100%;
    max-height: 80%;
    text-align: center;
    box-shadow: none;
    color: $text-palette-4;
    @include ltr {
      right: 0;
    }
    @include rtl {
      left: 0;
    }
    &:before {
      display: none;
    }
    .games-results {
      min-width: initial;
      ul {
        & + ul {
          border-top: 1px solid $skin-palette-4;
        }
        li {
          &:first-child {
            width: 1%;
            vertical-align: middle;
          }
        }
        .results-buttons {
          width: 96%;
          div {
            @include ltr {
              float: left;
            }
            @include rtl {
              float: right;
            }
          }
        }
        @media only screen and (min-width: 1400px) {
          .results-buttons {
            display: table-column;
            div {
              float: none;
              display: table;
              &:first-child {
                margin-bottom: 8px;
              }
            }
          }
          li p {
            min-height: 20px;
          }
        }
      }
    }
  }
  .no-result-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .casino-search-widget-icon {
    font-style: normal;
    font-size: 67px;
    display: block;
    @media only screen and (max-width: 1260px) {
      font-size: 40px;
    }
  }
  .no-games-result, .search-no-results span {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
  }
  .search-no-results {
    position: relative;
    height: 100%;
    max-height: 80%;
    line-height: initial;
    color: $text-palette-4;
    background-color: $skin-palette-6;
    text-align: center;
    @include rtl {
      text-align: center;
    }
  }
}

