/* Buddy to buddy transfer */

.buddy-transfer-j {
  float: left;
  width: 100%;
}
.buddy-transfer-j * {
  box-sizing: border-box;
}
.topprim-text-j h2 {
  color: $brand-color-2;
  font: 400 18px/20px $font-f;
  @include ltr{
    float: left;
  }
  @include rtl{
    float: right;
  }
}
.topprim-text-j a {
  display: block;
  float: right;
  color: $text-palette-2;
  font: 400 14px/16px $font-f;
  text-decoration: none;
}
.topprim-text-j a i {
  font: normal 16px/16px icomoon;
  color: $text-palette-4;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}
.topprim-text-j a i:before {
  content: "\e6f4";
}
.transb-group-j,
.topprim-text-j {
  float: left;
  width: 100%;
  padding-top: 40px;
}
.transfer-block-j {
  float: left;
  background: $skin-palette-8;
  height: 365px;
  width: calc(100% / 4);
  border: 1px solid  $skin-palette-12;
  border-left-color: $skin-palette-7;
  border-right-color: $skin-palette-12;
  position: relative;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
  margin: 0 0 50px 0;
}
.buddy-transfer-mixed-view-t .transfer-block-j{
  width: calc(100% / 3);
}
.transfer-block-j:first-of-type {
  border-left: 0;
}
.transfer-block-j:last-of-type {
  border-right: 0;
}
.transfer-block-j:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255, 0.2);
  cursor: default;
  z-index: 99;
}
.transfer-block-j.active:before {
  display: none;
}
.transferb-title-j {
  height: 66px;
  width: 100%;
  float: left;
  background: lighten( desaturate( adjust-hue( $skin-color, 6deg ), 19 ), 8 );
}
.transferb-title-j h3 {
  color: $text-palette-2;
  font: 700 18px/66px $font-f;
  text-indent: 30px;
  @include ltr{
    text-align: left;
  }
  @include rtl{
    text-align: right;
  }
}
.transb-inner-wrap {
  padding: 16px 30px 0;
  width: 100%;
  float: left;
}
.tb-button-w-j {
  padding: 25px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.tb-button-w-j button {
  border-radius: 6px;
  border: none;
  background: $hero-color;
  height: 36px;
  width: calc(50% - 5px);
  color: set-color($hero-color);
  font: 400 14px $font-f;
  text-transform: uppercase;
  cursor: pointer;
  float: right;
  &:hover {
    background: lighten( saturate( $hero-color, 1 ), 7 );
  }
  &:disabled{
    color: invert(rgba(set-color($popup-form-palette),0.47));
    background: rgba(set-color($popup-form-palette),0.09);
    cursor: default;
  }
}
.tb-button-w-j button:only-of-type {
  width: 100%;
}
.tb-button-w-j button:first-of-type {
  float: left;
}
.tb-button-w-j button.skin-j {
  color: $text-palette-2;
  border: 2px solid lighten( desaturate( adjust-hue( $skin-color, 2deg ), 16 ), 9 );
  background: transparent;
}
.transfer-block-j.choose-user-j .tb-button-w-j button {
  width: calc(50% - 5px);
  float: right;
}
.transfer-block-j.success-j {
  text-align: center;
}
.transfer-block-j.success-j .succes-big-j {
  background: lighten( desaturate( adjust-hue( $skin-color, 6deg ), 19 ), 8 );
  border-radius: 50%;
  height: 110px;
  width: 110px;
  margin: 34px auto 0;
}
.transfer-block-j.success-j .succes-big-j:before {
  content: "\e6ec";
  font: normal 60px/110px icomoon;
  color: $hero-color;
}
.transfer-block-j.success-j p {
  display: block;
  margin-top: 25px;
  color: $text-palette-3;
  font: 700 14px/16px $font-f;
}
.confirm-info-j {
  border-bottom: 1px solid lighten( desaturate( adjust-hue( $skin-color, 6deg ), 19 ), 8 );
  margin-bottom: 15px;
  float: left;
  width: 100%;
  padding-bottom: 5px;
}
.confirm-info-j li {
  color: $text-palette-3;
  font: 400 14px/16px $font-f;
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.confirm-info-j li:last-child p {
  float: left;
  display: block;
  @include rtl{
    float: right;
  }

}
.confirm-info-j li:last-child p:last-child {
  float: right;
  @include rtl{
    float: left;

  }
}
.confirm-info-j p.info-title-j a {
  color: $text-palette-4;
  border-bottom: 1px solid #7b8191;
}
p.info-title-j {
  float: left;
  width: 100%;
  color: $text-palette-4;
  font: 400 14px/16px $font-f;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
p.info-title-j a,
p.info-title-j .active-j {
  color: $text-palette-3;
  border-bottom: 1px solid $text-palette-3;
  text-decoration: none;
}
.transb-inner-wrap label {
  width: 100%;
  float: left;
  display: block;
  margin-bottom: 10px;
  position: relative;
}
.transb-inner-wrap label p {
  margin-bottom: 8px;
}
.transb-inner-wrap .select-tb-j {
  background: #2c2b2b;
  border-radius: 5px;
  height: 36px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.transb-inner-wrap .select-tb-j:before {
  content: "\e674";
  font: 18px icomoon;
  position: absolute;
  right: 8px;
  top: calc((100% - 18px) / 2);
  height: 12px;
  color: #505767;
}
.transb-inner-wrap .select-tb-j select {
  width: calc(100% + 24px);
  height: 36px;
  display: inline-block;
  padding: 0 15px;
  background: transparent;
  border: 0;
  color: $text-palette-3;
  font: 400 14px $font-f;
  position: relative;
  z-index: 60;
}
.transb-inner-wrap .select-tb-j select option,
.transb-inner-wrap .select-tb-j select optgroup {
  background: #2c2b2b;
}
.tbuddy-amount-j input {
  width: calc(100% - 87px);
  float: left;
  display: block;
  height: 36px;
  border-radius: 5px;
  border: 1px solid lighten( desaturate( adjust-hue( $skin-color, 2deg ), 16 ), 9 );
  background: lighten( desaturate( adjust-hue( $skin-color, 3deg ), 14 ), 1 );
  padding: 0 55px 0 15px;
  color: $text-palette-14;
  font: 400 12px $font-f;
  transition: .25s background, .25s border;
  &::-webkit-input-placeholder {color:$text-palette-4;font: 12px $font-f;text-transform: capitalize;}
  &::-moz-placeholder          {color:$text-palette-4;font: 12px $font-f;text-transform: capitalize;}
  &:-moz-placeholder           {color:$text-palette-4;font: 12px $font-f;text-transform: capitalize;}
  &:-ms-input-placeholder      {color:$text-palette-4;font: 12px $font-f;text-transform: capitalize;}
  &:focus {
    background: darken( desaturate( adjust-hue( $skin-color, 3deg ), 11 ), 1 );
    border-color: $skin-palette-6;
  }
  @include rtl{
    padding: 0 15px 0 30px;
  }
}
.tbuddy-amount-j span {
  display: block;
  height: 36px;
  color: $text-palette-3;
  font: 400 14px/36px $font-f;
  width: 55px;
  position: absolute;
  bottom: 0;
  @include rtl{
    left: 0;
  }
  @include ltr{
    right: 86px;
  }
}
.tbuddy-amount-j button {
  width: 77px;
  height: 36px;
  border: 2px solid lighten( desaturate( adjust-hue( $skin-color, 2deg ), 16 ), 9 );
  display: block;
  color: $text-palette-2;
  font: 400 14px $font-f;
  text-align: center;
  float: right;
  background: none;
  border-radius: 5px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.firends-scroll-j {
  @include scroll($scroll: auto);
  width: 100%;
  height: 102px;
  float: left;
}
.firends-scroll-j li {
  display: block;
  float: left;
  position: relative;
  width: 100%;
}
.firends-scroll-j li:last-child label {
  margin: 0;
}
.firends-scroll-j label {
  display: block;
  float: left;
  width: calc(100% - 38px);
  cursor: pointer;
  margin-bottom: 8px;
}
.firends-scroll-j label i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: $skin-palette-7;
  border-radius: 50%;
  text-align: center;
}
.firends-scroll-j label input[type="radio"] {
  display: none;
}
.firends-scroll-j label input[type="radio"]:checked + i:before {
  content: '';
  width: 6px;
  height: 6px;
  background: $text-palette-3;
  vertical-align: middle;
  border-radius: 50%;
  display: block;
  margin: 5px;
}
.firends-scroll-j label input[type="radio"]:checked + i + span {
  color: $text-palette-2;
}
.firends-scroll-j label span {
  display: inline-block;
  text-indent: 10px;
  color: $text-palette-4;
  font: 400 12px/16px $font-f;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.buddy-transfer-mixed-view-t .firends-scroll-j label span{
  width: calc(100% - 25px);
}
.firends-scroll-j button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid $skin-palette-4;
  color: $text-palette-4;
  cursor: pointer;
  background: none;
  padding: 0;
  position: relative;
  margin: 0 6px;
  transition-duration: 200ms;
}
.firends-scroll-j button.remove-j:before {
  font: 6px icomoon;
  content: "\e6f2";
  display: inline-block;
  top: 4px;
  position: absolute;
  left: 0;
  right: 0;
}
.firends-scroll-j button.added-j {
  background: $skin-palette-4;
}
.firends-scroll-j button.added-j:before {
  font: 6px icomoon;
  content: "\e6f3";
  color: #363636;
  display: inline-block;
  top: 4px;
  position: absolute;
  left: 0;
  right: 0;
}
.firends-scroll-j button.add-j:before {
  content: '+';
  font: 12px Arial, Helvetica, sans-serif;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.firends-scroll-j button.added-j + button.remove-j {
  position: absolute;
  right: 10px;
  top: 0;
  opacity: 0;
  visibility: hidden;
}
.firends-scroll-j:hover button.added-j {
  opacity: 0;
  visibility: hidden;
}
.firends-scroll-j:hover button.added-j + button.remove-j {
  opacity: 1;
  visibility: visible;
  z-index: 30;
}
.choose-user-j input[type="text"] {
  height: 36px;
  display: block;
  float: left;
  width: 100%;
  background: $skin-palette-7;
  border-radius: 5px;
  color: $text-palette-3;
  font: 400 14px $font-f;
  padding: 0 35px 0 15px;
  border: 0;
}
.transb-group-j .choose-user-j .transb-inner-wrap form label .search-j {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 36px;
  width: 36px;
  border: 0;
  background: transparent;
  z-index: 20;
  cursor: pointer;
  text-align: center;
  padding: 0;
  &:hover {
    background: transparent;
  }
}
.choose-user-j form button:before {
  content: "\e6d4";
  font: 13px/36px icomoon;
  color: $text-palette-4;
}
.search-result-j p.info-title-j {
  margin-bottom: 10px;
}
.search-result-j p.info-title-j span {
  cursor: pointer;
}
.search-result-j p.info-title-j span:last-child {
  margin: 0 0 0 14px;
}
.transfer-block-j.success-j.error-j .succes-big-j:before {
  color: #D61436;
  content: "\e6eb";
}
@media screen and (max-width: 1260px) {
  .tb-button-w-j button,
  .tbuddy-amount-j button {
    width: 100%;
    margin-top: 10px;
  }
  .transfer-block-j {
    height: 460px;
  }
  .tbuddy-amount-j input {
    width: 100%;
  }
  .tbuddy-amount-j span {
    right: 0;
    bottom: 46px;
  }
  .firends-scroll-j {
    height: 210px;
  }
  .transfer-block-j.choose-user-j .tb-button-w-j button {
    width: 100%;
  }
}
.transb-group-j .transfer-block-j.choose-user-j .md-progress-circular.page-center {
  margin: -20px 0 0 -50px;
  padding: 0 !important;
}
/* end buddy to buddy transfer */