.classic-view-row-v3.results-view-b{
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
.results-view-b .center-column-v3 {
  overflow: inherit;
  @include ltr {
    border-right: 0;
  }
  @include rtl {
    border-left: 0;
  }
}
.results-view-b .games-view-wrapper-v3 {
  overflow: inherit;
}
//left menu
.results-view-b .filter-view-v3 {
  height: 100px;
}
.results-view-b  {
  .classic-view-column-v3.left-menu-closed-v3 {
    .view-switcher-v3 > ul > li,
    .filter-view-v3 {
      display: none;
    }
    .view-switcher-v3 > ul > li:nth-child(3) {
      display: table-cell;
    }
    .left-nav-view-v3 {
      @include rtl {
        margin-left: 0;
      }
    }
  }
  .left-column-v3-header {
    &.hide-result-filter {
      .filter-view-v3 {
        display: none;
      }
    }
  }
}
.results-f-row-view {
  float: left;
  width: 100%;
  margin-top: 3px;
}
.date-r-filter-b .mini-form-box-b .input-group {
  box-shadow: 0 0 0 1px $c16-sp-8;
  transition: 240ms box-shadow;
  &:not(.active):hover {
    box-shadow: 0 0 0 1px $c16-tp-6;
  }
}
.results-f-row-view > .time-filter-v3 {
  width: 100%;
  height: 30px;
  box-shadow: 0 0 0 1px $c16-sp-8 inset;
  transition: 250ms box-shadow;
  &:not(.active):hover {
    box-shadow: 0 0 0 1px $c16-tp-6 inset;
  }
}
.results-f-row-view > .time-filter-v3.active {
  box-shadow: none;
}
.results-f-row-view > .time-filter-v3.active > .sub-nav-filter-time-v3 {
  top: 30px;
}
.results-f-row-view > .time-filter-v3 > p {
  line-height: 30px;
}
.results-f-row-view > .time-filter-v3 > p:before {
  box-sizing: border-box;
  width: 28px;
  height: 24px;
  position: absolute;
  top: 0;
  display: block;
  color: $c16-tp-6;
  font: 16px/30px icomoon;
  text-align: center;
  content: "\e6e2";
  @include ltr {
    left: 0;
  }
  @include rtl {
    right: 0;
  }
}
.results-f-row-view > .time-filter-v3 > p > .arrow-rotate-filter-v3 {
  height: 30px;
  line-height: 30px;
}
.results-view-b .view-switcher-v3 {
  box-shadow: 0 -1px 0 $brand-color-2 inset;
}
.results-view-b .view-switcher-v3 > ul > li.active > button,
.results-view-b .view-switcher-v3 > ul > li:hover > button {
  background: $brand-color-2;
}
.results-view-b .view-switcher-v3 > ul {
  table-layout: fixed;
  > li {
    &:first-child:nth-last-child(3) {
      width: auto;
      > button {
        @include ltr {
          padding: 0 8px 0 15px;
        }
        @include rtl {
          padding: 0 15px 0 8px;
        }
      }
    }
    &:last-child {
      width: 38px;
      .closed-left-nav-v3 {
        top: 10px;
        @include ltr {
          right: 8px;
        }
        @include rtl {
          left: 8px;
        }
      }
      &:hover > button {
        background: $c16-sp-9;
      }
    }
  }
}
.date-r-filter-b {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 0 0;
  margin: 5px 0;
  position: relative;
}
.date-r-filter-b:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 1px;
  background: $c16-tp-11;
  @include ltr {
    left: -10px;
    width: calc(100% + 20px);
  }
  @include rtl {
    right: -5px;
    width: calc(100% + 13px);
  }
}
.date-r-filter-b > ul {
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.date-r-filter-b > ul > li {
  width: 50%;
  box-sizing: border-box;
  @include ltr {
    float: left;
    padding: 0 2px 0 3px;
  }
  @include rtl {
    float: right;
    padding: 0 3px 0 2px;
  }
}
.date-r-filter-b > ul > li:first-child {
  padding-left: 0;
}
.date-r-filter-b > ul > li:last-child {
  padding-right: 0;
}
.date-r-filter-b > ul > li > p {
  float: left;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 6 + $size-font;
  line-height: 14px;
  color: $c16-tp-6;
  padding: 0 0 5px;
}
.date-r-filter-b > ul > li .input-group ul {
  right: auto !important;
  left: 0 !important;
  @include rtl{
    right: 0 !important;
    left: auto !important;
  }
}
.date-r-filter-b > ul > li .input-group ul:before {
  right: 94px;
  border-color: transparent transparent $c16-tp-6 transparent;
}
.results-view-b .icon-separator-v3.favorite {
  position: absolute;
  right: 8px;
  font-size: 14px;
  top: 8px;
  color: $c16-tp-11;
}
.results-view-b .prematch-view .competition-title-v3 > label {
  padding-right: 24px;
}
//left menu END

//results-games-list
.results-games-view-container-n {
  width: 41%;
  box-sizing: border-box;
  height: 100%;
  @include scroll;
  @include ltr {
    float: left;
  }
  @include rtl {
    float: right;
  }
}
.mini-wrapper-r-g-list {
  float: left;
  width: 100%;
  box-sizing: border-box;
  @include ltr {
    padding: 0 6px 0 0;
  }
  @include rtl {
    padding: 0 0 0 6px;
  }
}
.r-single-competition-view {
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 6px;
  .r-competition-info-holder {
    width: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    > .game-score-v{
      flex: 1;
    }
    > .display-float {
      display: block;
      width: 100%;
      float: left;
      box-sizing: border-box;
    }
  }
  .popular-game-view-wrapper-v3 {
    height: 162px;
    .popular-game-team-name-v3 {
      padding-top: 20px;
      > table {
        width: 100%;
        tr td {
          padding: 0 0 10px;
        }
      }
    }
  }
  .video-animation-vox-v3 {
    @media screen and (max-width: 1600px) {
      height: auto;
      margin: 0 0 6px;
    }
  }
}
@media screen and (min-width: 1601px) {
  .r-single-competition-view .r-competition-info-holder {
    > .display-float{
      width: 287px;
      padding: 0;
      margin-left: 6px;
      overflow: hidden;
      float: right;
      border-radius: 2px;
    }
  }
}
.r-competition-title-view {
  float: left;
  width: 100%;
  padding: 8px 0;
  text-align: center;
  position: relative;
  background: $skin-palette-7;
  box-sizing: border-box;
  box-shadow: 0 1px 0 rgba($c16-sp-6, 0.15) inset;
  border-radius: 2px;
  &.closed-results-all-games {
    height: 34px;
    padding: 0 12px;
    background: lighten( desaturate( adjust-hue( $c16-sp, 2deg ), 11 ), 2 );
    @include ltr {
      text-align: left;
    }
    @include rtl {
      text-align: right;
    }
  }
}
.r-competition-title-view.active {
  border-radius: 2px 2px 0 0;
}
.r-competition-title-view > p {
  box-sizing: border-box;
  color: $c16-tp-3;
  font-size: 5 + $size-font;
  line-height: 13px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  @include ltr {
    margin: 2px 0 0 4px;
  }
  @include rtl {
    margin: 2px 4px 0 0;
  }
}
.remove-c-r-icon {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  width: 36px;
  height: 100%;
  text-align: center;
  font: 8px/36px icomoon;
  color: $c16-tp-3;
  cursor: pointer;
  @include ltr {
    left: 0;
  }
  @include rtl {
    right: 0;
  }
}
.remove-c-r-icon:before {
  content: "\e6f2";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 36px;
  margin-top: -18px;
}
.open-r-c-view {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  width: 36px;
  height: 100%;
  text-align: center;
  font: 14px/36px icomoon;
  color: $c16-tp-3;
  cursor: pointer;
  @include ltr {
    right: 0;
  }
  @include rtl {
    left: 0;
  }
}
.open-r-c-view:before {
  content: "\e670";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 36px;
  margin-top: -18px;
}
.r-competition-title-view.active > .open-r-c-view:before {
  content: "\e671";
}
.competition-logo-r {
  text-align: center;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
}
.competition-logo-r > img {
  display: inline-block;
  vertical-align: top;
  height: 24px;
}
.all-result-list-view-n {
  float: left;
  width: 100%;
}
.r-c-games-date-list {
  float: left;
  width: 100%;
  box-sizing: border-box;
  border-left: 1px solid $c16-sp-9;
  border-right: 1px solid $c16-sp-9;
  border-bottom: 1px solid $c16-sp-9;
  padding: 6px 5px 0;
  margin: 0;
}
.date-r-group-title {
  float: left;
  width: 100%;
  box-sizing: border-box;
  height: 25px;
  background: $c16-sp-10;
  border-radius: 2px;
  position: relative;
  padding: 0 24px;
  cursor: pointer;
  margin: 0 0 4px;
  transition: background 240ms, box-shadow 240ms;
}
.date-r-group-title:after {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  text-align: center;
  box-sizing: border-box;
  font: 14px/24px icomoon;
  content: "\e670";
  color: $c16-tp-6;
  display: block;
  @include ltr {
    right: 0;
  }
  @include rtl {
    left: 0;
  }
}
.date-r-group-title.active:after {
  content: "\e671";
}
.date-r-group-title > p {
  float: left;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 5 + $size-font;
  line-height: 24px;
  color: $c16-tp-7;
  text-transform: uppercase;
  transition: color 240ms;
}
.date-r-group-title:hover {
  background: $c16-sp-9;
  box-shadow: 0 1px 0 rgba($c16-sp-6, 0.15) inset;
}

.date-r-group-title:hover > p {
  color: $c16-tp-6;
}
.date-r-group-title.active, .date-r-group-title.active:hover {
  box-shadow: 0 1px 0 $brand-color-2;
  border-radius: 0;
  background: lighten( desaturate( adjust-hue( $c16-sp, 2deg ), 11 ), 2 );
}
.date-r-group-title.active > p, .date-r-group-title.active:hover > p {
  color: $c16-tp-5;
}
.time-period-view-r {
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
.r-c-games-view-list-box {
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  max-height: 0;
  transition: max-height 400ms;
}
.date-r-group-title.active + .r-c-games-view-list-box {
  max-height: 9999px;
}
.result-single-game-view-b {
  float: left;
  width: 100%;
  height: 30px;
  background: $c16-sp-10;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 0 0 4px;
  position: relative;
  transition: background 240ms, box-shadow 240ms;
  cursor: pointer;
  @include ltr {
    padding: 0 54px 0 0;
  }
  @include rtl {
    padding: 0 0 0 54px;
  }
  .match-key {
    position: absolute;
    top: 0;
    font: 12px/30px icomoon;
    color: $c16-sp-6;
    @include ltr {
      right: 32px;
    }
    @include rtl {
      left: 32px;
    }
    > ul {
      top: -32px;
      @include ltr {
        right: -13px;
      }
      @include rtl {
        left: -13px;
      }
    }
  }
}
.r-c-games-view-list-box:first-child {
  margin-top: 5px;
}
.result-single-game-view-b.r-live-game {
  min-height: 30px;
  height: auto;
  background: $c16-sp-9;
  box-shadow: 0 1px 0 rgba($c16-sp-6, 0.15) inset;
}
.result-single-game-view-b.active, .result-single-game-view-b:hover, .result-single-game-view-b.r-live-game:hover {
  box-shadow: 0 1px 0 rgba($c16-sp-6, 0.15) inset;
  background: $c16-sp-8;
}
.result-single-game-view-b > ul {
  float: left;
  width: 100%;
  display: table;
  table-layout: fixed;
  box-sizing: border-box;
}
.result-single-game-view-b > ul > li {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
  &.one-team-name-t {
    .r-team-name-score-logo > ul > li {
      &.score-view-column-r,
      &.right-r {
        //display: block;
      }
    }
    .left-r {
      padding-left: 28px;
      > p {
        text-align: left;
      }
      > .team-logo-r {
        left: 0;
      }
    }
  }
}

.r-date-view {
  width: 68px;
}
.r-date-view > span {
  float: left;
  height: 16px;
  box-sizing: border-box;
  font-size: 5 + $size-font;
  line-height: 16px;
  color: $c16-tp-6;
  padding: 0 5px;
  border-radius: 2px;
  text-transform: uppercase;
  @include ltr {
    margin: 7px 0 0 9px;
  }
  @include rtl {
    margin: 7px 9px 0 0;
  }
}
.r-live-game .r-date-view > span {
  background: $brand-color-1;
  color: set-color($brand-color-1);
}
.r-team-name-score-logo {
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.r-team-name-score-logo > ul {
  float: left;
  width: 100%;
  display: table;
  table-layout: fixed;
  box-sizing: border-box;
  @include rtl {
    direction: ltr;
  }
}
.r-team-name-score-logo > ul > li {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: top;
  color: $c16-tp-4;
  font-size: 8 + $size-font;
  line-height: 30px;
}
.team-name-b-r {
  position: relative;
}
.team-name-b-r > p {
  float: left;
  width: 100%;
  font-size: 12px;
  line-height: 30px;
  box-sizing: border-box;
  color: $c16-tp-3;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.left-r > p {
  text-align: right;
}
.left-r {
  padding: 0 30px 0 5px;
}
.right-r {
  padding: 0 5px 0 30px;
}
.right-r > p {
  @include rtl {
    text-align: left;
  }
}
.score-view-column-r {
  width: 80px;
  text-align: center;
}
.score-view-column-r > span {
  color: $brand-color-2;
  font-weight: bold;
  letter-spacing: 3px;
}
.r-live-game .score-view-column-r > span {
  color: $c16-tp-3;
}
.result-single-game-view-b.active .score-view-column-r > span, .result-single-game-view-b.r-live-game.active .score-view-column-r > span {
  color: $brand-color-2;
}
.team-logo-r {
  position: absolute;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  top: 5px;
  text-align: center;
}
.left-r > .team-logo-r {
  right: 0;
}
.right-r > .team-logo-r {
  left: 0;
}
.team-logo-r > img {
  max-width: 100%;
  max-height: 20px;
  display: inline-block;
  vertical-align: top;
}
.arrow-r-game-view {
  width: 24px;
  height: 30px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  text-align: center;
  font: 14px/30px icomoon;
  color: $c16-tp-7;
  @include ltr {
    right: 0;
  }
  @include rtl {
    left: 0;
  }
}
.result-single-game-view-b.active .r-date-view > span, .result-single-game-view-b.active .team-name-b-r > p {
  color: set-color($brand-color-1);
}
.result-single-game-view-b.active .arrow-r-game-view {
  color: $c16-tp-4;
}
.arrow-r-game-view:before {
  @include ltr {
    content: "\e672";
  }
  @include rtl {
    content: "\e673";
  }
}
.result-score-info {
  padding-bottom: 6px;
  color: $c16-tp-3;
  text-align: center;
  @include ltr {
    padding-left: 68px;
  }
  @include rtl {
    padding-right: 68px;
  }
}

//results-games-list END

//results-markets-list
.results-markets-list-n {
  float: right;
  width: 59%;
  box-sizing: border-box;
  height: 100%;
  @include ltr {
    padding: 0 0 0 4px;
  }
  @include rtl {
    padding: 0 4px 0 0;
  }
  > .results-markets-view-container-n{
    @include ltr {
      padding: 0 4px 0 0;
    }
    @include rtl {
      padding: 0 0 0 4px;
    }
  }
}
.results-markets-view-container-n {
  float: left;
  width: 100%;
  box-sizing: border-box;
  @include scroll;
  height: 100%;
}
//results-markets-list END