.games-view-wrapper-v3 {
  box-sizing: border-box;
  display: block;
  width: 100%;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  height: 100%;
}

.all-game-info-container-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  padding: 0 6px 0 0;
  @include rtl {
    padding: 0 0 0 6px;
  }
}

//Statistic
.statistic-view-v3 {
  float: left;
  width: 100%;
  border-bottom: 1px solid $skin-palette-7;
}

//Statistic END
//Live game view
.live-game-view-contain-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 55;
}

.live-events-view-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  display: block;
}
.games-view-wrapper-v3 .md-progress-circular,
.prematch-list-view-v3 .md-progress-circular {
  box-sizing: border-box;
  margin: 200px auto auto;
}

.Info-text-view-market-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin: 20px 0;
}

.Info-text-view-market-v3 > p {
  box-sizing: border-box;
  float: left;
  width: 100%;
  text-align: center;
  font-size: 7 + $size-font;
  line-height: 16px;
  color: $c16-tp-6;
  padding: 5px 10px;
}

.game-finished-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  text-align: center;
  font-size: 14 + $size-font;
  line-height: 24px;
  text-transform: uppercase;
  color: $c16-tp-5;
  padding: 30px 10px;
}

.right-left-events-wrapper {
  float: left;
  width: 100%;
  &.one-column-view {
    .live-events-column-v3 {
      width: 100%;
      padding: 0;
    }
  }
}

.live-events-column-v3 {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 0 0 0 3px;
  @include rtl {
    float: right;
    padding: 0 3px 0 0;
  }
  &:first-child {
    padding: 0 3px 0 0;
    @include rtl {
      padding: 0;
    }
  }
  &.single-market-showed {
    width: 100%;
    padding-right: 0;
    + .live-events-column-v3 {
      display: none;
    }
  }
}

.market-ciew-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin: 0 0 5px;
  //overflow: hidden;
  //border-radius: 2px;
  //transform: translate3d(0, 0, 0);
  //transform-box: view-box;
  @include rtl {
    margin-left: 4px;
  }
}

.market-title-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  border-radius: 2px 2px 0 0;
  contain: strict;
  //position: relative;
  height: 28px;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  background: darken(desaturate(adjust-hue($c16-sp-8, 6deg), 2), 5);
  box-shadow: 0 1px 0 darken(saturate(adjust-hue($c16-sp-8, 1deg), 2), 4) inset;
  padding: 0;
  &.closed{
    border-radius: 2px;
  }
  @include rtl {
    position: relative;
  }
}

.market-title-v3 > .arrow-view-v3 {
  box-sizing: border-box;
  width: 26px;
  line-height: 28px;
  color: $c16-tp-6;
  cursor: pointer;
}

.market-title-v3 > .arrow-view-v3:before {
  box-sizing: border-box;
  content: "\e671";
}

//.market-title-v3.closed > .arrow-view-v3:before{
//  box-sizing: border-box;
//  content: "\e670";
//}
.name-market-row-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  position: relative;
  height: 28px;
}

.market-name-icon-row-v3 {
  float: left;
  box-sizing: border-box;
  width: 100%;
  height: 28px;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  //position: absolute;
  //display: table;
  //top: 0;
  //left: 0;
}

.market-title-v3 > h3 {
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 0 0 10px;
  font-size: 6 + $size-font;
  line-height: 28px;
  font-weight: normal;
  color: $c16-tp-3;
  //position: relative;
  //width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include rtl {
    padding: 0 10px 0 0;
  }
}

//.market-name-icon-row-v3 > h3 > i{
//box-sizing: border-box;
////position: absolute;
////left: 0;
////top: 0;
//display: inline-block;
//vertical-align: top;
//padding: 0 0 0 10px;
//font-style: normal;
//}
.market-icons-view-v3 {
  box-sizing: border-box;
  //position: relative;
  display: inline-block;
  padding: 0;
  > .arrow-view-v3 {
    position: static;
    display: inline-block;
    vertical-align: top;
    float: right;
    line-height: 28px;
    color: $c16-tp-5;
    &:before {
      content: "\e671";
    }
  }
}

.market-title-v3.closed .market-icons-view-v3 > .arrow-view-v3:before {
  content: "\e670";
}

.market-icons-view-v3 > ul {
  box-sizing: border-box;
  float: left;
  padding: 4px 0 3px;
  @include rtl {
    float: right;
  }
}

.market-icons-view-v3 > ul > li {
  box-sizing: border-box;
  height: 20px;
  min-width: 30px;
  display: inline-block;
  vertical-align: top;
  float: left;
  border-right: 1px solid rgba($c16-tp-12, 0.25);
  font-size: 8 + $size-font;
  line-height: 20px;
  padding: 0 5px;
  text-align: center;
  white-space: nowrap;
  color: $c16-tp-3;
  @include rtl {
    float: right;
    border-left: 1px solid rgba($c16-tp-12, 0.25);
    border-right: none;
  }
}

.market-icons-view-v3 > ul > li:before {
  box-sizing: border-box;
  font: 14px/20px icomoon;
}

.favorite-icon-market-v3:before {
  box-sizing: border-box;
  content: "\f005";
  color: darken(saturate(adjust-hue($c16-sp, -2deg), 5), 3);
  cursor: pointer;
  //transition: color 240ms;
}

.favorite-icon-market-v3.active:before,
.favorite-icon-market-v3:hover:before,
.favorite-icon-market-v3.remove:before {
  box-sizing: border-box;
  color: $brand-color-2;
}

.cashout-icon-market-v3:before {
  box-sizing: border-box;
  content: "\e68a";
  color: #028947;
}

.link-icon-market-v3:before {
  box-sizing: border-box;
  content: "\e613";
  color: #9fa948;
  position: relative;
  top: 1px;
}
.market-title-v3.closed ~ .l-b {
  display: none;
}
.l-b {
  box-sizing: border-box;
  width: 100%;
  float: left;
  display: grid;
  font-size: 0;
  grid-column-gap: 1px;
  grid-template-rows: auto;
  contain: style;
  &.column-1 {
    grid-template-columns: repeat(1, 100%);
  }
  &.column-2, &.column-0, &.default {
    grid-template-columns: repeat( auto-fit, minmax(49%, 1fr));
    > .single-events-b-v3:last-child:not(:nth-child(even)):nth-last-child(odd):not(:first-child) {
      width: 200.5%;
    }
  }
  &.column-2.two-odds {
    > .single-events-b-v3:nth-child(2) {
      display: none;
    }
    > .single-events-b-v3:last-child:not(:nth-child(even)):nth-last-child(odd) {
      width: 100%;
    }
  }
  &.column-3 {
    grid-template-columns: repeat( auto-fit, minmax(33%, 1fr));
    > .single-events-b-v3:nth-child(3n+1):nth-last-child(1):not(:first-child) {
      width: 301%;
    }
    > .single-events-b-v3:nth-child(3n+2):nth-last-child(1):not(:nth-child(2)) {
      grid-column: 2 / 4;
    }
  }
  &.column-4 {
    grid-template-columns: repeat( auto-fit, minmax(24%, 1fr));
  }
  &.column-5 {
    grid-template-columns: repeat( auto-fit, minmax(19%, 1fr));
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .virtual-games .market-contain-b .race-market ul li .single-events-b-v3{
    width: 100%;
  }
  .single-events-b-v3 {
    float: left;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.4) inset;
  }
  .l-b {
    display: block;
    &.column-1 > .single-events-b-v3 {
      width: 100%;
    }
    &.column-2 > .single-events-b-v3,
    &.default > .single-events-b-v3,
    &.column-0 > .single-events-b-v3 {
      width: 50%;
    }
    &.column-3 {
      > .single-events-b-v3 {
        width: 33.3%;
      }
    }
    &.column-4 > .single-events-b-v3 {
      width: 25%;
    }
    &.column-5 > .single-events-b-v3 {
      width: 20%;
    }
    &.column-2 > .single-events-b-v3:nth-child(2n+1),
    &.column-3 > .single-events-b-v3:nth-child(3n+1),
    &.column-4 > .single-events-b-v3:nth-child(4n+1),
    &.column-5 > .single-events-b-v3:nth-child(5n+1),
    &.column-0 > .single-events-b-v3:nth-child(2n+1),
    &.default > .single-events-b-v3:nth-child(2n+1),
    &.column-2.two-odds > .single-events-b-v3:nth-child(3n+1) {
      box-shadow: none;
    }
    &.column-2.two-odds > .single-events-b-v3:nth-child(2) {
      display: none;
      box-shadow: none;
    }
  }
}

.s-box {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding-left: 1px;
  cursor: default;
}

@keyframes open-market-animate-b {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 0.4, 1);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 0.4, 1);
    -o-transform: translate3d(0, 0, 0) scale3d(1, 0.4, 1);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 0.4, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 0.4, 1);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}
.prematch-list-view-v3 .column-3 > .s-box {
  width: 37%;
}
.prematch-list-view-v3 .column-3 > .s-box:nth-child(2) {
  width: 26%;
}
.single-events-b-v3 {
  box-sizing: border-box;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  font-size: 6 + $size-font;
  line-height: 28px;
  height: 28px;
  padding: 0 10px;
  background: $c16-sp-10;
  color: $c16-tp-5;
  position: relative;
  cursor: pointer;
  margin: 1px 0 0;
  contain: layout;
  &:before {
    content: "" attr(title) "";
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 6 + $size-font;
    padding: 0 5px 0 0;
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include rtl {
      text-align: right;
      padding: 0 0 0 5px;
    }
  }
  &:hover {
    background: $c16-sp-8;
    color: $c16-tp-3;
  }
  &.active {
    background: $hero-color;
    color: set-color($hero-color);
    &:hover {
      background: $hero-color;
      color: set-color($hero-color);
    }
    &.blocked:after {
      color: set-color($hero-color);
    }
  }
  &.pointer-events-none:hover {
    background: $c16-sp-10;
    cursor: default;
  }
}

.race-market .single-events-b-v3:before {
  display: none;
}

.single-events-b-v3.blocked:after {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  text-align: right;
  font: 10px/28px icomoon;
  font-style: normal;
  content: "\e68f";
  color: $c16-tp-6;
}

.single-events-b-v3.blocked > .p-v {
  display: none;
}

.single-events-b-v3.blocked .mini-box-market-info-v3 > p > i {
  box-sizing: border-box;
  padding-right: 28px;
  font-style: normal;
}

.max-bet-tooltip-v3 {
  box-sizing: border-box;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  text-align: center;
  display: none;
  padding: 2px 4px;
  background: $brand-color-1;
  border-radius: 2px;
  font-size: 5 + $size-font;
  line-height: 16px;
  color: set-color($brand-color-1);
  white-space: nowrap;
  overflow: hidden;
  &:before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0;
    border-color: $brand-color-1 transparent transparent;
  }
}
.single-events-b-v3:hover > .max-bet-tooltip-v3,
.modern-max-bet-t:hover > .max-bet-tooltip-v3 {
  height: auto;
  overflow: inherit;
  display: block;
}
.max-bet-tooltip-v3 > p {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  background: $brand-color-1;
 }
.max-bet-tooltip-v3 > p > i {
  box-sizing: border-box;
  font-style: normal;
}
//.modern-max-bet-t .max-bet-tooltip-v3:before {
  //bottom: -6px;
//}
.asian-in-classic-table-wrapper .multicolumn-table .max-bet-tooltip-v3 {
  bottom: 35px;
  &:before {
    //bottom: -6px;
    left: auto;
    right: 20px;
  }
}
.p-v {
  box-sizing: border-box;
  display: inline-block;
  font-weight: normal;
  color: map-get($coeff-color-map, classic);
  vertical-align: top;
  text-align: right;
  &:only-child {
    text-align: center;
    margin: 0 auto;
  }
}

.factor-top:before,
.factor-bottom:before {
  box-sizing: border-box;
  font: 12px/28px icomoon;
  content: "\e66d";
  display: inline-block;
  @if ($classic-switch-odds-state-colors == true) {
    color: #e9044a;
  } @else {
    color: #04e914;
  }
  animation: arrow-blick-v3 300ms ease;
  transform: translate3d(0, 0, 0);
}
.factor-bottom:before {
  box-sizing: border-box;
  @if ($classic-switch-odds-state-colors == true) {
    color: #04e914;
  } @else {
    color: #e9044a;
  }
  content: "\e66c";
}
@keyframes arrow-blick-v3 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.single-events-b-v3:hover > .p-v {
  color: map-get($coeff-color-map, classic-hover);
}
.single-events-b-v3.active .factor-top:before,
.single-events-b-v3.active .factor-bottom:before,
.single-events-b-v3.active > .p-v {
  color: set-color($hero-color);
}
.single-events-b-v3.active > .mini-box-market-info-v3 > .p-v,
.single-events-b-v3.active:hover > .mini-box-market-info-v3 > .p-v {
  color: map-get($coeff-color-map, classic-active);
}
//Live game view END
//favorite market view
.favorite-market-view-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  padding: 0 6px 0 3px;
}

//Pre-match view
.prematch-view-v3 {
  box-sizing: border-box;
  overflow: inherit;
}
.prematch-view-v3 .favorite-market-view-v3 {
  box-sizing: border-box;
  padding: 0 6px 0 0;
}
.game-header-view-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  height: 46px;
  background: $c16-sp-9;
  border-radius: 2px 2px 0 0;
  transform: translate3d(0, 0, 0);
}
.game-header-view-v3:before {
  display: none;
}
.prematch-header-view-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  position: relative;
  padding: 0 30px 0 10px;
  height: 30px;
  margin: 7px 0 0;
  @include rtl {
    padding: 0 10px 0 30px;
  }
}
.prematch-header-row-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
}
.prematch-header-row-v3 > ul {
  box-sizing: border-box;
  float: left;
  width: 100%;
  display: table;
  height: 30px;
}
.prematch-header-row-v3 > ul > li {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: top;
  height: 100%;
  padding: 0 0 0 10px;
  @include rtl {
    padding: 0 10px 0 0;
  }
}
.prematch-header-row-v3 > ul > li:first-child {
  box-sizing: border-box;
  width: 2%;
  border-right: 1px solid lighten(desaturate(adjust-hue($c16-sp, -1deg), 16), 3);
  padding: 0 10px 0 0;
  min-width: 64px;
  @include rtl {
    padding: 0 0 0 10px;
    border-left: 1px solid lighten(desaturate(adjust-hue($c16-sp, -1deg), 16), 3);
    border-right: none;
  }
}
.prematch-header-row-v3 > ul > li > p {
  box-sizing: border-box;
  float: left;
  width: 100%;
  color: $c16-tp-6;
  font-size: 5 + $size-font;
  line-height: 16px;
  text-transform: uppercase;
}
.title-teams-premztch-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  height: 17px;
  position: relative;
}
.title-teams-premztch-v3 > p {
  box-sizing: border-box;
  float: left;
  width: 100%;
  font-size: 6 + $size-font;
  line-height: 14px;
  color: $c16-tp-3;
  position: absolute;
}
.title-teams-premztch-v3 > p > span {
  box-sizing: border-box;
  max-width: 45%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  &:first-child:nth-last-child(2) {
    max-width: calc(100% - 1px);
  }
}
.title-teams-premztch-v3 > p > b {
  color: $c16-tp-6;
  font-weight: normal;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  font-size: 5 + $size-font;
}
.prematch-competition-title-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
}
.prematch-competition-title-v3 > p {
  box-sizing: border-box;
  width: 100%;
  font-size: 6 + $size-font;
  line-height: 14px;
  color: $c16-tp-6;
}

.prematch-competition-title-v3 > p > .prematch-region-icon-v3 {
  box-sizing: border-box;
  margin: -1px 6px 0 0;
  @include rtl {
    margin: -1px 0 0 6px;
  }
}
.prematch-competition-title-v3 > p > span {
  box-sizing: border-box;
  display: inline-block;
  max-width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.statistic-icon-view-p-v3 {
  box-sizing: border-box;
  position: absolute;
  right: 15px;
  top: 0;
  font: 12px/16px icomoon;
  color: lighten(desaturate($c16-tp, 19), 51);
  @include rtl {
    left: 15px;
    right: auto;
  }
}
.statistic-icon-view-p-v3:before {
  box-sizing: border-box;
  content: "\e6b8";
}
.prematch-games-list {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 48%;
  height: 100%;
  padding: 0;
  max-height: 100%;
  @include rtl {
    left: auto;
    right: 0;
  }
  @media screen and (min-width: 1280px) {
    &.multi-column-view {
      width: 60%;
    }
  }
}

.favorite-game-open-euro2016 > .prematch-games-list {
  box-sizing: border-box;
  display: none;
}

.prematch-view-v3.favorite-game-open-euro2016 > .live-game-view-contain-v3 {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
}

.prematch-view-v3.favorite-game-open-euro2016 .all-game-info-container-v3 {
  box-sizing: border-box;
  padding-left: 0;
}

.prematch-games-list-title-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  height: 36px;
  background: $c16-sp-9;
  border-radius: 2px 2px 0 0;
}

.prematch-column-title-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  position: relative;
  padding: 0 8px;
}

.prematch-column-title-v3 > h2 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  color: $c16-tp-3;
  font-size: 6 + $size-font;
  line-height: 36px;
  font-weight: normal;
}

.prematch-region-icon-v3 {
  box-sizing: border-box;
  display: inline-block;
  font-weight: normal;
  float: left;
  margin: 10px 8px 0 0;
  @include rtl {
    float: right;
    margin: 10px 0 0 8px;
  }
}

.prematch-markets-filter-v3 {
  box-sizing: border-box;
  position: absolute;
  z-index: 66;
  right: 0;
  padding: 6px;
  top: 0;
  white-space: nowrap;
  @include rtl {
    left: 0;
    right: auto;
  }
}

.prematch-markets-filter-v3 .time-filter-v3 {
  box-sizing: border-box;
  min-width: 150px;
  max-width: 160px;
}

.prematch-markets-filter-v3 .time-filter-v3 > p {
  box-sizing: border-box;
  text-transform: none;
  padding: 0 28px 0 10px;
  text-align: right;
  @include rtl {
    padding: 0 10px 0 28px;
    text-align: left;
  }
}

.prematch-column-title-v3 > h2 > span {
  box-sizing: border-box;
  display: inline-block;
  white-space: nowrap;
  float: left;
  max-width: calc(100% - 150px);
  text-overflow: ellipsis;
  overflow: hidden;
  @include rtl {
    float: right;
  }
}

.closed-all-games-v3 {
  box-sizing: border-box;
  padding: 0 8px 0 2px;
  font: 8px/36px icomoon;
  color: $c16-tp-3;
  text-align: center;
  cursor: pointer;
  @include rtl {
    padding: 0 2px 0 8px;
  }
}

.closed-all-games-v3:before {
  box-sizing: border-box;
  content: "\e6f2";
}

.prematch-list-view-v3 {
  box-sizing: border-box;
  position: absolute;
  top: 41px;
  right: 0;
  width: 100%;
  height: calc(100% - 41px);
  padding: 0 6px 0 0;
  transform: translate3d(0, 0, 0);
  @include scroll;
  @include rtl {
    padding: 0 0 0 6px;
  }
  > include-template {
    @include rtl {
      margin: 0 0 0 4px;
    }
  }
}

.prematch-view-v3 .live-game-view-contain-v3 {
  box-sizing: border-box;
  float: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 52%;
  padding: 0 0 0 5px;
  @include rtl {
    left: 0;
    right: auto;
    padding: 0 5px 0 0;
  }
}

.close-multiv-j:empty {
  display: none;
}

.multi-view-game-info-v3 > .close-multiv-j {
  display: block;
}

@media screen and (min-width: 1280px) {
  .prematch-view-v3 .prematch-games-list.multi-column-view ~ .live-game-view-contain-v3 {
    width: 40%;
  }
}

.prematch-view-v3 .all-game-info-container-v3 {
  box-sizing: border-box;
  float: none;
  position: absolute;
  top: 51px;
  right: 0;
  width: 100%;
  height: calc(100% - 51px);
  padding: 0 6px 0 5px;
  transform: translate3d(0, 0, 0);
  @include scroll;
  @include rtl {
    padding: 0 6px 0 5px;
  }
}

.prematch-view-v3 {
  .game-additional-icons > ul {
    display: none;
  }
  .live-events-column-v3 {
    width: 100%;
    padding: 0;
  }
}

//prematch game list
.prematch-game-view-contain-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  max-height: 30000px;
  //animation: region-open-animate-b 500ms ease-in-out;
  overflow: hidden;
  @include rtl {
    margin: 0 0 0 4px;
  }
}

.prematch-game-view-contain-v3.closed {
  box-sizing: border-box;
  max-height: 29px;
  //animation: region-closed-animate-b 240ms ease;
}

@keyframes region-open-animate-b {
  0% {
    max-height: 29px;
  }
  100% {
    max-height: 999px;
  }
}

@keyframes region-closed-animate-b {
  0% {
    display: block;
    max-height: 500px;
  }
  100% {
    display: block;
    max-height: 29px;
  }
}

.prematch-game-view-contain-v3.closed > .title-championship-v3 {
  border-radius: 2px;
}

.time-info-game-box-v3 > .time-title-view-v3 > .arrow-view-v3:before {
  box-sizing: border-box;
  content: "\e671";
}

.prematch-game-view-contain-v3.closed > .title-championship-v3 > .arrow-view-v3:before,
.time-info-game-box-v3.closed > .time-title-view-v3 > .arrow-view-v3:before {
  content: "\e670";
}

.title-championship-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  background: $c16-sp-10;
  position: relative;
  height: 24px;
  padding: 0 30px;
  margin: 0 0 5px;
  border-radius: 2px 2px 0 0;
}

.prematch-list-view-v3.prematch .title-championship-v3 {
  box-sizing: border-box;
  padding-left: 10px;
}

.title-championship-v3 > .arrow-view-v3,
.time-title-view-v3 > .arrow-view-v3 {
  box-sizing: border-box;
  height: 24px;
  line-height: 24px;
  color: $c16-tp-6;
}

.title-championship-v3 > p {
  box-sizing: border-box;
  color: $c16-tp-3;
  font-size: 5 + $size-font;
  line-height: 24px;
  text-transform: uppercase;
  float: left;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.closed-game-icon-v3 {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 50%;
  width: 28px;
  font: 8px/24px icomoon;
  color: #c1c4cd;
  text-align: center;
  cursor: pointer;
  z-index: 60;
  margin-top: -12px;
  @include rtl {
    left: auto;
    right: 0;
  }
}

.closed-game-icon-v3:before {
  box-sizing: border-box;
  content: "\e6f2";
}

.time-title-view-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  position: relative;
  padding: 0 30px 0 10px;
  height: 24px;
  background: lighten(desaturate(adjust-hue($c16-sp, 2deg), 11), 2);
  border-radius: 2px 2px 0 0;
  margin: 0 0 2px;
  transition: background 240ms;
  @include rtl {
    padding: 0 10px 0 30px;
  }
}

.time-info-game-box-v3.closed > .time-title-view-v3 {
  box-sizing: border-box;
  background: $c16-sp-10;
}

.time-title-view-v3:hover,
.time-info-game-box-v3.closed > .time-title-view-v3:hover {
  background: $c16-sp-9;
}

.time-title-view-v3 > p {
  box-sizing: border-box;
  color: $c16-tp-6;
  font-size: 5 + $size-font;
  line-height: 24px;
  text-transform: uppercase;
  float: left;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color 240ms;
  @include rtl {
    float: right;
  }
}

.time-title-view-v3:hover > p {
  color: $c16-tp-6;
}

.time-info-game-box-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  overflow: hidden;
  max-height: 30000px;
  //animation: prematch-open-animate-b 500ms ease-in-out;
}

.time-info-game-box-v3.closed {
  max-height: 26px;
  //animation: prematch-closed-animate-b 240ms ease;
}

.time-info-game-box-v3.closed > .time-title-view-v3 {
  border-radius: 2px;
}

@keyframes prematch-open-animate-b {
  0% {
    max-height: 26px;
  }
  100% {
    max-height: 999px;
  }
}

@keyframes prematch-closed-animate-b {
  0% {
    display: block;
    max-height: 200px;
  }
  100% {
    display: block;
    max-height: 26px;
  }
}

.game-events-view-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin: 0 0 4px;
  overflow: hidden;
  border-radius: 0 0 2px 2px;
}

.mini-title-box-gameview-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  border-radius: 2px 2px 0 0;
  position: relative;
  height: 30px;
  background: lighten(desaturate(adjust-hue($c16-sp, 2deg), 19), 11);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06) inset;
  padding: 0 50px 0 30px;
  //transition: background 240ms;
  @include rtl {
    padding: 0 30px 0 50px;
  }
}

.mini-title-box-gameview-v3.active,
.mini-title-box-gameview-v3:hover {
  background: $classic-prematch-group-title-active-bg;
  .team-names-date-icons-v3 > p > span {
    color: set-color($classic-prematch-group-title-active-bg);
  }
  .arrow-icon-b-v3,
  .team-names-date-icons-v3 > p > span > b,
  .time-game-v3 > p {
    color: rgba(set-color($classic-prematch-group-title-active-bg), 0.5);
  }
  .favorite-icon-market-v3:before {
    color: rgba(darken(saturate(adjust-hue($c16-sp, -2deg), 5), 3), 0.5)
  }
  .favorite-icon-market-v3.active:before,
  .favorite-icon-market-v3:hover:before,
  .favorite-icon-market-v3.remove:before {
    color: $brand-color-2;
  }
}

//.events-list-view-v3 {
//  float: left;
//  width: 100%;
//  @include rtl {
//    transform: translate3d(0, 0, 0);
//  }
//}

.prematch-list-view-v3.prematch .mini-title-box-gameview-v3 {
  box-sizing: border-box;
  padding: 0 50px 0 10px;
  @include rtl {
    padding: 0 10px 0 50px;
  }
}

.markets-count-view-v3 {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  padding: 0 15px 0 0;
  cursor: pointer;
  @include rtl {
    left: 0;
    right: auto;
    padding: 0 0 0 15px;
  }
}

.markets-count-view-v3 > span {
  box-sizing: border-box;
  float: left;
  width: 100%;
  font-size: 5 + $size-font;
  line-height: 30px;
  color: $c16-tp-6;
  padding: 0 0 0 5px;
  //transition: color 240ms;
  @include rtl {
    padding: 0 5px 0 0;
  }
}

.markets-count-view-v3:hover > span,
.mini-title-box-gameview-v3:hover .markets-count-view-v3 > span,
.mini-title-box-gameview-v3.active .markets-count-view-v3 > span {
  box-sizing: border-box;
  color: $c16-tp-1;
}

.arrow-icon-b-v3 {
  box-sizing: border-box;
  position: absolute;
  width: 15px;
  height: 100%;
  right: 0;
  top: 0;
  font: 16px/30px icomoon;
  color: $c16-tp-7;
  //transition: color 240ms;
  text-indent: -4px;
  @include rtl {
    left: 0;
    right: auto;
  }
}

.arrow-icon-b-v3:before {
  box-sizing: border-box;
  content: "\e672";
  @include rtl {
    content: "\e66f";
  }
}

.team-name-view-table-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  height: 30px;
  display: table;
}

.mini-title-box-gameview-v3 > .closed-game-icon-v3 {
  box-sizing: border-box;
  height: 100%;
  line-height: 30px;
  margin-top: -15px;
}

.team-names-date-icons-v3 {
  box-sizing: border-box;
  width: 100%;
  display: table-cell;
  position: relative;
  .team-name-table {
    float: left;
    display: table;
    width: 100%;
    white-space: nowrap;
    .team-data-tc,
    .team-name-tc {
      display: table-cell;
      width: 100%;
    }
    .team-data-tc {
      width: 1%;
    }
  }
}

.time-game-v3 {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  padding: 0 4px 0 0;
  transform-style: preserve-3d;
  @include rtl {
    padding: 0 0 0 4px;
  }
  &.animation-rotate-soon {
    animation: rotate-soon 8000ms infinite 2000ms;
  }
}

.time-game-v3 > p {
  box-sizing: border-box;
  color: $c16-tp-6;
  font-size: 5 + $size-font;
  line-height: 30px;
  float: left;
  white-space: nowrap;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  //transition: color 240ms, background 240ms;
}

.soon-v {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -3px;
  transform: translateX(-50%) rotateX(180deg);
  padding: 0 4px;
  height: 13px;
  font: 9px/13px $font-f;
  background: #c33451;
  color: white !important;
  border-radius: 2px;
  text-transform: uppercase;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  @include rtl {
    margin: -6px 0 0 3px;
  }
}

@keyframes rotate-soon {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.pematch-single-game-info-v3 {
  box-sizing: border-box;
  float: left;
  width: 100%;
}

.team-names-date-icons-v3 .team-name-table .team-name-tc > p {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  float: left;
  height: 30px;
}

.team-names-date-icons-v3 .team-name-table .team-name-tc .game-is-neutral {
  margin: 0 2px 0 0;
  line-height: 30px;
  vertical-align: top;
}

.team-names-date-icons-v3 .team-name-table .team-name-tc > p > span {
  box-sizing: border-box;
  width: 100%;
  font-size: 5 + $size-font;
  line-height: 30px;
  color: $c16-tp-3;
  white-space: nowrap;
  position: absolute;
  height: 30px;
}

.team-names-date-icons-v3 .team-name-table .team-name-tc > p > span > i {
  box-sizing: border-box;
  font-style: normal;
  display: inline-block;
  max-width: calc(50% - 14px);
  text-overflow: ellipsis;
  overflow: hidden;
  &:empty {
    display: none;
  }
  &:nth-child(2):nth-last-child(2) {
    max-width: calc(100% - 10px);
  }
}

.team-names-date-icons-v3 .team-name-table .team-name-tc > p > span > b {
  box-sizing: border-box;
  font-weight: normal;
  color: $c16-tp-6;
  display: inline-block;
  width: 28px;
  text-align: center;
  vertical-align: top;
  transition: color 240ms;
}

.game-icons-view-list-v3 {
  box-sizing: border-box;
  display: table-cell;
  padding: 5px 0 5px 5px;
  vertical-align: top;
}

.game-icons-view-list-v3 > ul {
  box-sizing: border-box;
  float: right;
  display: table;
}

.game-icons-view-list-v3 > ul > li {
  box-sizing: border-box;
  display: table-cell;
  min-width: 30px;
  border-right: 1px solid rgba($c16-tp-12, 0.25);
  height: 20px;
  padding: 0 5px;
  text-align: center;
  vertical-align: middle;
  @include rtl {
    border-left: 1px solid rgba($c16-tp-12, 0.25);
    border-right: none;
  }
}

.game-icons-view-list-v3 > ul > li.game-id-v3 {
  font-size: 5 + $size-font;
  color: $c16-tp-4;
  padding: 0 8px;
}

.game-icons-view-list-v3 > ul > li:before {
  box-sizing: border-box;
  font: 16px/20px icomoon;
}

.game-icons-view-list-v3 > ul > li.statistic-icon-market-v3:before {
  box-sizing: border-box;
  content: "\e6b8";
  color: $c16-tp-4;
  font-size: 6 + $size-font;
  position: relative;
  top: -1px;
}

.tv-icon-market-v3:before {
  box-sizing: border-box;
  content: "\e683";
  color: $c16-tp-4;
}

//prematch game list END{box-sizing: border-box;"id":5068492,"addedInMultiView":true}
//Pre-match view END
//.classic-view-wrapper-v3 .left-column-v3.ng-hide ~ .center-column-v3,
//.virtualsports .classic-view-wrapper-v3 .center-column-v3 {
//  box-sizing: border-box;
//  width: calc(100% - 296px);
//}

//Live calendar
.classic-view-wrapper-v3 .live-calendar-16-j .md-progress-circular {
  margin: 100px auto auto;
}

.livecalendar .classic-view-wrapper-v3 .center-column-v3 .live-calendar-16-j {
  box-sizing: border-box;
  padding: 0;
}

.livecalendar .classic-view-wrapper-v3 .center-column-v3 .live-calendar-16-scroll-fix-j {
  box-sizing: border-box;
  left: 0;
  top: 38px;
  right: 0;
}

.livecalendar .animation-video-box-v3,
.overview .animation-video-box-v3 {
  display: none;
}

//Live calendar END
.single-events-b-v3.blocked {
  pointer-events: none;
  .price {
    display: none;
  }
}

.markets-group-wrap-v3 {
  float: left;
  width: 100%;
  border-bottom: 1px solid $c16-sp-8;
  padding: 0 0 1px;
  height: 35px;
  box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: $classic-view-background;
  z-index: 200;
  margin: 0 0 4px;
  @include rtl {
    margin-left: 4px;
  }
  > ul {
    display: table;
    table-layout: fixed;
    position: relative;
    float: left;
    width: 100%;
    > li {
      display: table-cell;
      box-sizing: border-box;
      background: $c16-sp-10;
      background-clip: padding-box;
      border-left: 1px solid transparent;
      position: relative;
      color: $c16-tp-6;
      height: 33px;
      text-align: center;
      z-index: 10;
      transition: 240ms color, 240ms background, 240ms box-shadow;
      @include rtl {
        border-left: none;
        border-right: 1px solid transparent;
      }
      span {
        position: absolute;
        top: 0;
        left: 10px;
        font-size: 6 + $size-font;
        line-height: 33px;
        width: calc(100% - 20px);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
        i, b {
          font-style: normal;
          font-weight: normal;
        }
      }
      &.more-j {
        display: none;
        width: 60px;
        border-radius: 2px 0 0 0;
        text-align: right;
        @include rtl {
          text-align: left;
        }
        &:before {
          content: "\e66c";
          font: 12px/36px icomoon;
          display: block;
          position: absolute;
          top: 0;
          right: 9px;
          color: $c16-tp-6;
          @include rtl {
            left: 9px;
            right: auto;
          }
        }
        > span {
          left: 0;
          width: calc(100% - 28px);
          font-size: 6 + $size-font;
          line-height: 33px;
          @include rtl {
            left: auto;
            right: 0;
          }
        }
        + li {
          border: 0;
        }
      }
      &:nth-child(2) {
        border-radius: 0 2px 0 0;
      }
      &.favorte-markets-group-j {
        width: 38px;
        background: $c16-sp-9;
        background-clip: padding-box;
        position: relative;
        > span:before {
          box-sizing: border-box;
          content: "\f005";
          cursor: pointer;
          display: block;
          width: 100%;
          font: 18px/33px icomoon;
          color: #ac8336;
        }
        &:not([data-count='0']):after {
          content: attr(data-count);
          display: inline-block;
          box-sizing: border-box;
          min-width: 14px;
          height: 14px;
          padding: 0 3px;
          border-radius: 8px;
          background: rgba(0, 0, 0, 0.3);
          color: #f3f3f5;
          text-align: center;
          font-size: 3 + $size-font;
          line-height: 14px;
          position: absolute;
          top: 3px;
          right: 3px;
          @include rtl {
            left: 3px;
            right: auto;
          }
        }
        + li {
          border-left: 2px solid transparent;
          @include rtl {
            border-left: none;
            border-right: 2px solid transparent;
          }
        }
        &.ng-hide + li {
          border-radius: 2px 0 0 0;
          border-left: none;
          @include rtl {
            border-radius: 0 2px 0 0;
            border-right: none;
          }
        }
        > span {
          transform: translate3d(0,0,0);
          -ms-overflow: visible;
          > i {
            display: none;
          }
        }
        &.animate-star-even > span {
          width: 100%;
          height: 100%;
          left: 0;
          text-align: center;
          &:before{
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            animation: star-scale-even 1 .25s ease-out;
          }
        }
        &.animate-star-odd > span {
          width: 100%;
          height: 100%;
          left: 0;
          text-align: center;
          &:before{
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            animation: star-scale-odd 1 .25s ease-out;
          }
        }
      }
      &:hover,
      &.active {
        background: $c16-sp-8;
        color: $c16-tp-1;
        background-clip: padding-box;
      }
    }
    &:not(.has-dropdown) {
      > li:last-child {
        border-radius: 0 2px 0 0;
        @include rtl {
          border-radius: 2px 0 0 0;
        }
      }
    }
    &.has-dropdown {
      display: block;
      height: 33px;
      > li {
        display: block;
        float: left;
        height: 33px;
        @include rtl {
          float: right;
        }
        &.more-j {
          float: right;
          display: block;
          @include rtl {
            float: left;
          }
        }
        &:not(.column-3):not(.to-dropdown) {
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7) {
            width: calc((100% - 98px) / 5);
          }
        }
        &.favorte-markets-group-j.ng-hide {
          ~ li {
            &:not(.column-3):not(.to-dropdown) {
              &:nth-child(3),
              &:nth-child(4),
              &:nth-child(5),
              &:nth-child(6),
              &:nth-child(7) {
                width: calc((100% - 60px) / 5);
              }
            }
          }
        }
        &.column-3 {
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            width: calc((100% - 98px) / 3);
          }
        }
        &.to-dropdown {
          background: lighten(desaturate(adjust-hue($c16-sp-9, 3deg), 3), 3);
          line-height: 29px;
          height: 29px;
          border: 0;
          float: right;
          clear: both;
          width: 190px;
          display: none;
          @include rtl {
            float: left;
          }
          &:hover,
          &.active {
            background: $brand-color-1;
            color: set-color($brand-color-1);
            span {
              box-shadow: 0 -1px 0 rgba($c16-sp-10, 0) inset;
            }
          }
          span {
            display: table;
            height: 29px;
            line-height: 29px;
            box-shadow: 0 -1px 0 $c16-sp-10 inset;
            transition: 240ms box-shadow;
            i {
              display: table-cell;
              position: relative;
              &:last-child {
                width: 1%;
                padding: 0 0 0 10px;
                @include rtl {
                  padding: 0 10px 0 0;
                }
              }
              &:first-child {
                text-align: left;
                @include rtl {
                  text-align: right;
                }
                b {
                  display: block;
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                }
              }
            }
          }
          &:last-child {
            span {
              box-shadow: none;
            }
          }
        }
      }
      &.show-dropdown {
        > li {
          &.more-j {
            &:before {
              content: "\e66d";
            }
            &,
            &:hover {
              background: lighten(desaturate(adjust-hue($c16-sp-9, 3deg), 3), 3);
              background-clip: padding-box;
              color: $c16-tp-1;
            }
          }
          &.to-dropdown {
            display: block;
          }
        }
      }
    }
  }
}

.multi-column-mode-toggle {
  float: left;
  display: block;
  border-left: 1px solid rgba(set-color($c16-sp-9), 0.09);
  height: 20px;
  margin: 2px 4px 2px 0;
  font-size: 6 + $size-font;
  line-height: 20px;
  color: rgba(set-color($c16-sp-9), 0.73);
  position: relative;
  cursor: pointer;
  padding: 0 34px 0 12px;
  @include rtl {
    margin: 2px 0 2px 4px;
    padding: 0 12px 0 34px;
    border-left: none;
    border-right: 1px solid rgba(set-color($c16-sp-9), 0.09);
  }
  input {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    &:checked {
      ~ p {
        &:before {
          background: #1F6F52;
        }
        &:after {
          background: #FFFFFF;
          right: 1px;
          @include rtl {
            left: 1px;
            right: auto;
          }
        }
      }
    }
  }
  p {
    &:before {
      content: "";
      width: 26px;
      height: 16px;
      border-radius: 36px;
      display: block;
      position: absolute;
      top: 2px;
      right: 0;
      background: rgba(set-color($c16-sp-9), 0.07);
      transition: background 240ms;
      @include rtl {
        left: 0;
        right: auto;
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 3px;
      right: 11px;
      background: $c16-sp-6;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      transform: translate3d(0, 0, 0);
      transition: right 240ms, background 240ms;
      @include rtl {
        left: 11px;
        right: auto;
      }
    }
  }
}