.size-h-container{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: block;
}
.body-wrapper.sport.euro2016 {
  box-sizing: border-box;
  font-family: $font-f;
}
.classic-version-euro2016 {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: $classic-view-background;
	position: relative;
  //*:not(.soon-v):not(.md-progress-circular):not(.max-bet-tooltip-v3):not(.animation-video-box-v3 ){
  //  transform: none !important;
  //}
}
.container-p {
  height: 100%;
  font-family: $font-f;
}
.classic-view-wrapper-v3 {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.classic-view-column-v3 {
  box-sizing: border-box;
  //position: absolute;
  //left: 0;
  //top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 10fr auto;
  grid-template-rows: 12fr;
  grid-gap: 0;
  grid-template-areas: "left center right";
  //align-content: start;
  border-top: 7px solid transparent;
  > include-template:last-child,
  > .right-column-v3{
    display: block;
    grid-area: right;
    -ms-grid-column: 3;
		position: relative;
    //transform: translate3d(0, 0, 0);
  }
  > include-template:last-child{
    > .right-column-v3{
      display: inline-block;
      vertical-align: top;
      height: 100%;
      position: relative;
      contain: style;
    }
  }
}
.right-column-v3{
	> .scroll-c-b{
		@include scroll;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
      .scroll-c-b{
        position: static;
        height: auto;
      }
	}
  > .virtual-sports-right-b{
    position: static;
    height: auto;
    width: 100%;
    display: block;
  }
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .classic-view-column-v3{
    display: -ms-grid;
    -ms-grid-auto-flow: column;
    -ms-grid-template-columns: auto 1fr auto;
    -ms-grid-template-rows: 100%;
    -ms-grid-columns: auto 1fr auto;
    -ms-grid-rows: 100%;
  }
}
.left-column-v3 {
  box-sizing: border-box;
  grid-area: left;
  width: 300px;
  height: 100%;
  -ms-grid-column: 1;
  position: relative;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: 999;
  @include rtl {
    direction: rtl;
  }
}
.center-column-v3 {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  width: 100%;
  grid-area: center;
  -ms-grid-column: 2;
  @include scroll;
  &.prematch,
  &.dashboard {
    overflow: inherit;
  }
}
.r-v{
  position: relative;
  display: block;
}
.results-v{
  position: absolute;
  left: 0;
  top: 0;
}
.livecalendar .center-column-v3{
  overflow: inherit;
}
.right-column-v3 {
  box-sizing: border-box;
  width: 296px;
  position: relative;
  border-radius: 0 3px 0 0;
  transform: translate3d(0,0,0);
  contain: strict;
  @include ltr {
    padding: 0;
  }
  @include rtl {
    direction: rtl;
    padding-left: 4px;
  }
  .right-column-v3{
    contain: initial;
  }
}

.classic-version-euro2016 .animation-control * {
  box-sizing: content-box;
}

.classic-version-euro2016 .game-video-detached {
  box-sizing: border-box;
  border: 1px solid $c16-sp-9;
}
.classic-version-euro2016 .game-video-container.detached-game-container {
  box-sizing: border-box;
  min-width: 240px;
  min-height: 135px;
}

.classic-version-euro2016 .game-video-detached {
  box-sizing: border-box;
  box-shadow: 0 0 15px $c16-sp-12;
  padding: 31px 0 0;
}

.classic-version-euro2016 .detached-game-container > .animation-video-title-row-v3 {
  box-sizing: border-box;
  float: none;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
}

.classic-version-euro2016 .detached-game-container .animation-control {
  box-sizing: border-box;
  height: 100%;
  overflow: inherit;
  margin: 0;
}

.classic-version-euro2016 .detached-game-container .animation-control .game-video .video-player-container,
.classic-version-euro2016 .detached-game-container .game-video-container {
  box-sizing: border-box;
  height: 100%;
}

.classic-version-euro2016 .detached-game-container .animation-control .game-control {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

.classic-version-euro2016 .video-player-control {
  box-sizing: border-box;
  background: none;
  position: absolute;
  top: -26px;
  height: 20px;
  width: 30px;
  right: 110px;
  padding: 0;
}

.classic-version-euro2016 .video-player-control.volume-control {
  box-sizing: border-box;
  right: 79px;
}

.classic-version-euro2016 .detached-game-container .video-player-control {
  box-sizing: border-box;
  right: 57px;
}

.classic-version-euro2016 .detached-game-container .video-player-control.volume-control {
  box-sizing: border-box;
  right: 26px;
}

.classic-version-euro2016 .video-player-control > span {
  box-sizing: border-box;
  margin: 0;
  width: 30px;
  height: 20px;
  position: relative;
  background: none;
}

.classic-version-euro2016 .video-player-control > span:before {
  box-sizing: border-box;
  font: 15px/20px icomoon;
  color: $c16-tp-6;
  width: 30px;
  height: 20px;
  position: absolute;
  display: block;
  text-indent: 0;
  text-align: center;
}

.classic-version-euro2016 .video-player-control .video-mute:before {
  content: "\e688";
}

.classic-version-euro2016 .video-player-control .video-unmute:before {
  content: "\e686";
}

.classic-version-euro2016 .video-player-control .video-pause:before {
  content: "\e651";
}

.classic-version-euro2016 .video-player-control .video-play:before {
  content: "\e650";
}

.game-video.game-video-detached.game-video-fullscreen {
  position: relative;
  top: 0;
  left: 5px;
  padding-bottom: 56.5%;
  z-index: 990;
  width: calc(100% - 10px) !important;
  margin-bottom: 46px;
}
.game-video.game-video-detached.game-video-fullscreen .detached-game-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.classic-version-euro2016 .game-video.game-video-detached.game-video-fullscreen .detached-game-container {
  box-sizing: border-box;
  height: 96%;
  video-player,
  .e-s-video-player {
    margin-top: 18px;
  }
  .detached-info {
    position: absolute;
    @include ltr {
      right: 75px;
    }
    @include rtl {
      left: 75px;
    }
  }
  > video {
    margin-top: 18px;
  }
}

.classic-version-euro2016 .game-video.game-video-detached.game-video-fullscreen {
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px 0 57.4%;
  left: 0;
  width: calc(100% - 5px) !important;
  border-radius: 2px;
  box-shadow: none;
  background: $c16-sp-9;
  @include rtl {
    transform: translate3d(0,0,0);
  }
}

.classic-version-euro2016 .game-video.game-video-detached.game-video-fullscreen .video-player-control {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  top: -6px;
  text-align: right;
  color: $c16-tp-5;
  border: none;
  @include ltr {
    left: auto;
    right: 20px;
  }
  @include rtl {
    left: 20px;
    right: auto;
  }
}

.classic-version-euro2016 .game-video.game-video-detached.game-video-fullscreen .detached-game-container .detached-game-name {
  box-sizing: border-box;
  background: none;
  text-shadow: none;
  position: relative;
  top: -6px;
}

.classic-version-euro2016 .game-video.game-video-detached.game-video-fullscreen .detached-game-container .detached-game-name p {
  box-sizing: border-box;
  max-width: 50%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: $c16-tp-5;
}

.classic-version-euro2016 .game-video.game-video-detached.game-video-fullscreen .game-video-container a {
  box-sizing: border-box;
  background: none;
  width: 24px;
  height: 24px;
  font: 9px/24px icomoon;
  color: $c16-tp-2;
  top: -8px;
  text-indent: 9999em;
  @include ltr {
    right: 0;
    border-left: 1px solid lighten(desaturate(adjust-hue($c16-sp, -1deg), 16), 3);
  }
  @include rtl {
    left: 0;
    border-right: 1px solid lighten(desaturate(adjust-hue($c16-sp, -1deg), 16), 3);

  }
}

.classic-version-euro2016 .game-video.game-video-detached.game-video-fullscreen .game-video-container a:before {
  box-sizing: border-box;
  content: "\e6f2";
  position: absolute;
  right: 0;
  text-indent: 0;
  width: 24px;
  text-align: center;
}

.classic-version-euro2016 .game-video.game-video-detached.game-video-fullscreen:before {
  box-sizing: border-box;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: $c16-sp-7;
  top: 27px;
  position: absolute;
}

.right-column-v3 .buner-b img {
  display: block;
  width: 100%;
  height: auto;
}

.game-pinned {
  live-game-scores {
    z-index: 300;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
  }
}
//Old browsers
@supports not (display: grid) {
  .body-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    > .view-container{
      min-height: 100%;
      height: auto;
    }
  }
  .classic-view-column-v3{
    position: static;
    display: table;
    table-layout: fixed;
    > .include-template, > div{
      display: table-cell;
      vertical-align: top;
    }
  }
  .euro2016-multiview{
    float: left;
    width: 100%;
  }
  .left-column-v3-header{
    display: flex;
    flex-direction: row;
    position: static !important;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: calc(100vh - 140px);
  }
  .full-menu-wrapper-box-v3{
    min-height: inherit !important;
    float: left;
    width: 100%;
  }
  .full-menu-wrapper-box-v3,
  .classic-view-column-v3 > include-template:last-child, .classic-view-column-v3 > .right-column-v3{
    overflow: inherit !important;
    max-width: 300px;
    min-height: calc(100vh - 138px);
  }
  .classic-view-column-v3 .right-column-v3{
    overflow: hidden !important;
  }
  .center-column-v3{
    width: calc(100vw - 620px);
  }
  .left-menu-closed-v3 {
    > .left-column-v3 {
      width: 36px;
    }
    > .center-column-v3{
      width: calc(100vw - 356px);
    }
  }
  .livecalendar {
    .center-column-v3{
      width: calc(100vw - 316px);
      overflow: inherit;
    }
  }
  .russia2018 .classic-version-euro2016 .classic-view-column-v3{
    .center-column-v3 {
      width: calc(100vw - 316px);
      height: 100vh;
    }
  }
  .virtualsports, .insvirtualsports{
    .center-column-v3{
      width: calc(100vw - 316px);
      height: 100vh;
    }
  }
  .virtual-games .market-contain-b .race-market ul li .single-events-b-v3{
    width: 100%;
  }
  .single-events-b-v3 {
    float: left;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.4) inset;
  }
  .l-b {
    display: block;
    &.column-1 > .single-events-b-v3 {
      width: 100%;
    }
    &.column-2 > .single-events-b-v3,
    &.default > .single-events-b-v3,
    &.column-0 > .single-events-b-v3 {
      width: 50% !important;
    }
    &.column-3 > .single-events-b-v3 {
      width: 33.3%;
    }
    &.column-4 > .single-events-b-v3 {
      width: 25%;
    }
    &.column-5 > .single-events-b-v3 {
      width: 20%;
    }
    &.column-2 > .single-events-b-v3:nth-child(2n+1),
    &.column-3 > .single-events-b-v3:nth-child(3n+1),
    &.column-4 > .single-events-b-v3:nth-child(4n+1),
    &.column-5 > .single-events-b-v3:nth-child(5n+1),
    &.column-0 > .single-events-b-v3:nth-child(2n+1),
    &.default > .single-events-b-v3:nth-child(2n+1),
    &.column-2.two-odds > .single-events-b-v3:nth-child(3n+1) {
      box-shadow: none;
    }
    &.column-2.two-odds > .single-events-b-v3:nth-child(2) {
      display: none;
      box-shadow: none;
    }
  }
  .container-p{
    height: calc(100vh - 136px);
  }
  @media screen and (max-width: 1359px){
    .center-column-v3{
      width: calc(100vw - 532px);
    }
    .full-menu-wrapper-box-v3{
      max-width: 250px;
    }
    .left-menu-closed-v3 {
      > .center-column-v3{
        width: calc(100vw - 316px) !important;
      }
    }
    .virtualsports, .insvirtualsports, .livecalendar, .russia2018 .classic-version-euro2016 .classic-view-column-v3 {
      .center-column-v3{
        width: calc(100vw - 280px);
        min-width: 690px;
      }
    }
  }
  @media screen and (max-width: 1000px){
    .russia2018 .classic-version-euro2016 .classic-view-column-v3 {
      .center-column-v3{
        width: 710px;
      }
    }
  }
  .size-h-container{
    min-height: calc(100vh - 136px);
  }
  .integration {
    .size-h-container , .container-p{
      min-height: calc(100vh - 36px);
    }
  }
  .integration.livecalendar {
    .classic-view-wrapper-v3{
      height: calc(100vh - 46px);
    }
    .classic-view-column-v3 > include-template:last-child{
      overflow-y: auto !important;
      overflow-x: hidden !important;
      height: calc(100vh - 46px);
    }
  }
  .l-t-box{
    z-index: 1111 !important;
  }
  .subtop-game-menu-j.stretch-items ul{
    display: block;
    width: 100%;
    text-align: center;
    > li{
      margin: 0 10px;
    }
  }
}
//Old browsers END

.view-container{
  &.vip-club{
    max-width: 1310px;
    margin: 0 auto;
    @media screen and (max-width: 1260px){
      max-width: 996px;
      .container-p{
        min-width: 960px;
      }
    }
  }
}

/* Express off the day cards styles */
.express-of-day {
  float: left;
  width: 100%;
  > div {
    &:not(.md-progress-circular):not(.no-market) {
      width: 100%;
      padding: 4px;
      box-sizing: border-box;
      max-width: 650px;
      @include ltr {
        float: left;
      }
      @include rtl {
        float: right;
      }

      &.col-2 {
        width: 50%;
      }

      &.col-3 {
        width: 33.333%;
      }

      &.col-4 {
        width: 25%;
      }

      &.updated-columns-3 {
        width: 66.667%;

        .express-bet-item:not(:only-child) {
          width: calc(50% - 4px);
          @include rtl {
            float: right;
          }

          + .express-bet-item {
            padding-top: 0;
            @include ltr {
              float: right;
            }
            @include rtl {
              float: left;
            }
          }
        }

        &:first-child {
          max-width: 1300px;
        }

        + .updated-columns-3 {
          width: 33.333%;
        }
      }
    }
  }
}
.express-of-the-day-item {
  float: left;
  width: 100%;
  padding: 8px 0;
  background: $c16-sp-10;
  border-radius: 2px;
}
.express-bet-item {
  float: left;
  width: 100%;
  overflow: hidden;
  .mini-list-events-b-v3 {
    padding: 0;
  }
  + .express-bet-item {
    padding-top: 4px;
  }
}
.express-of-the-day-time {
  color: $c16-tp-3;
}
.express-of-the-day-ul {
  float: left;
  width: 100%;
}
.express-off-the-day-event-item {
  float: left;
  width: 100%;
  padding: 10px 8px 8px;
  box-sizing: border-box;
  border-top: 1px solid rgba(set-color($c16-sp-9), 0.3);
  transition: background 240ms;
  &:hover {
    background: $c16-sp-9;
  }
  .bet-price-view-b-v3 {
    .p-v.up-0:before, .p-v.up-1:before, .p-v.down0:before, .p-v.down-1:before {
      line-height: 13px;
    }
  }
}
.express-of-the-day-heading-bonus {
  float: left;
  width: 100%;
  margin-bottom: 6px;
  padding: 0 8px;
  box-sizing: border-box;
  font: 12px/14px $font-f;
}
.express-of-the-day-heading {
  color: $c16-tp-3;
  letter-spacing: 0.45px;
  font: 600 14px/26px $font-f;
}
.express-of-the-day-bonus {
  height: 26px;
  padding: 6px 10px;
  box-sizing: border-box;
  color: set-color($hero-color);
  background: $hero-color;
}
.date-count-wrap {
  margin: 5px 0 10px 0;
  padding: 0 8px;
  box-sizing: border-box;
}
.express-of-the-day-bet-count {
  font-size: 12px;
  font-weight: bold;
  color: $brand-color-1;
}
.express-of-the-day-date {
  color: $c16-tp-6;
  box-sizing: border-box;
}
.express-of-the-day-wrap {
  .single-event-info-view-v3 > ul > li:not(:first-child) {
    margin-top: 6px;
  }
  .odds-contain-ew-v3 {
    border-bottom: none;
    margin: 0;
  }
  .flag-icon,
  .sport-icon-v3 {
    @include ltr {
      float: left;
      margin-right: 8px;
    }
    @include rtl {
      float: right;
      margin-left: 8px;
    }
  }
  .sport-icon-v3 {
    width: 16px;
    height: 16px;
    position: static;
  }
  .title-event-b-v3 {
    .betslip-event-icon-view {
      position: absolute;
      top: 21px;
      ~  span {
        margin: 0;
        @include ltr {
          padding-left: 18px;
        }
        @include rtl {
          padding-right: 18px;
        }
      }
    }
    span {
      float: left;
      width: 100%;
      padding-top: 4px;
    }
  }
  .bet-accept-changes-b-v3 > ul:not(:first-child) > li:first-child > .button-view-contain-v3 > .button-info-text-view-v3 {
    left: -9999px;
  }
}
.express-of-the-day-load {
  float: left;
  width: 100%;
  height: 36px;
  margin-top: 8px;
  padding: 0 8px;
  box-sizing: border-box;
  > button {
    float: left;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: $c16-tp-5;
    background: rgba($c16-sp-7, 0.5);
    border: none;
    position: relative;
    font-size: 14px;
    &.closed:before {
      content: "\eab5";
    }
    &:before {
      content: "\eab4";
      display: inline-block;
      vertical-align: bottom;
      font: 16px icomoon;
      @include ltr{
        padding-right: 5px;
      }
      @include rtl{
        padding-left: 5px;
      }
    }
  }
}
/* End Express off the day cards styles */