@media screen and (max-height: 850px), (max-height: 940px) and (max-width: 1440px) {
  .header-nav-contain > ul > li.sub-menu-item {
    clear: none;
    width: 34%;
    > .top-menu-sub-a-t {
      &, > a {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 1359px) {
  .multiselect-view-v3 .competition-title-v3:hover > .sub-menu-multiselect-view-v3 {
    left: 250px;
    @include ltr {
      left: 250px;
    }
    @include rtl {
      right: 250px;
    }
  }
  .right-column-v3 {
    box-sizing: border-box;
    width: 260px;
  }
  .right-column-v3 .animation-control .game-video .video-player-container {
    height: 142px;
  }
  .right-column-v3 .game-video-container p {
    font-size: 8 + $size-font;
    margin-top: 50px;
  }
  .button-info-text-view-v3 {
    width: 225px;
  }
  .mini-filters-box-v3 > ul > li > button > span {
    box-sizing: border-box;
    display: none;
  }
}
@media screen and (max-width: 1440px) {
  .live-events-column-v3 {
    width: 100%;
    &:first-child {
      @include ltr {
        padding-right: 0;
      }
      @include rtl {
        padding-left: 0;
      }
    }
    &:last-child {
      @include ltr {
        padding-left: 0;
      }
      @include rtl {
        padding-right: 0;
      }
    }
  }
  .switchers-markets,
  .column-view-switcher-vs {
    display: none;
  }
  div.markets-group-wrap-v3 > ul {
    width: 100%;
  }
}
@media screen and (max-width: 1400px) {
  .left-column-v3:not(.live) {
    position: absolute;
    top: 0;
    background: $classic-view-background;
    box-shadow: 0 0 10px -1px $classic-view-background;
    @include ltr {
      left: 0;
    }
    @include rtl {
      right: 0;
    }
  }
  .prematch-competition-title-v3 > p > span {
    &:nth-child(2) {
      max-width: 20.5%;
    }
    &:last-child{
      max-width: 32%;
    }
  }
  .center-column-v3:not(.live){
    @include ltr {
      border-left-width: 43px;
    }
    @include rtl {
      border-right-width: 43px;
    }
    &.prematch{
      .l-b{
        grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
        > .single-events-b-v3.pointer-events-none{display: none;}
      }
      .l-b.column-3 > .single-events-b-v3:nth-child(3n+2):nth-last-child(1):not(:nth-child(2)){
        grid-column: initial;
      }
    }
    .l-b.column-2 > .single-events-b-v3:last-child:not(:nth-child(even)):nth-last-child(odd):not(:first-child), .l-b.column-0 > .single-events-b-v3:last-child:not(:nth-child(even)):nth-last-child(odd):not(:first-child), .l-b.default > .single-events-b-v3:last-child:not(:nth-child(even)):nth-last-child(odd):not(:first-child),
    .l-b.column-3 > .single-events-b-v3:nth-child(3n+1):nth-last-child(1):not(:first-child){
      width: 100%;
    }
  }
  .virtualsports, .livecalendar, .overview{
    .center-column-v3{
      @include ltr {
        border-left-width: 7px;
      }
      @include rtl {
        border-right-width: 7px;
      }
    }
  }
  .favorite-game-open-euro2016 > .prematch-games-list ~ .live-game-view-contain-v3 {
    top: 0;
    height: 100%;
  }
  .prematch-view-v3 .all-game-info-container-v3 {
    padding-left: 0;
  }
  .prematch-list-view-v3 .md-progress-circular {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1599px) {
  .dashboard-view-v3 > .live-events-column-v3 {
    width: 100%;
  }
  .center-column-v3.dashboard{
    @include scroll;
  }
  .dashboard-view-v3 > .live-events-column-v3 {
    &:first-child{
      margin: 0 0 5px;
      width: 100%;
      @include ltr {
        padding-right: 6px;
      }
      @include rtl {
        padding-left: 6px;
      }
    }
    &:last-child {
      @include ltr {
        padding-right: 6px;
      }
      @include rtl {
        padding-left: 6px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .betslip-expanded .right-column-v3 {
    width: 400px;
  }
  .betslip-expanded .right-column-v3 .bet-status-recaptcha .tooltip-wrapper-j {
    transform: none;
  }
  .betslip-expanded .right-column-v3 .mini-game-container-j {
    height: 291px;
  }
  .betslip-expanded .right-column-v3 .mini-game-container-j.closed {
    height: 31px;
  }
  .betslip-expanded .right-column-v3 .mini-game-container-j iframe {
    height: 260px;
  }
  .betslip-expanded .video-animation-vox-v3 .game-video-container,
  .betslip-expanded .video-animation-vox-v3 .video-player-container {
    height: 207px;
  }
  .betslip-expanded .right-column-v3 .buner-b {
    width: 100%;
  }
}
@media screen and (min-width: 1600px) {
  .center-column-v3.dashboard .games-view-wrapper-v3 {
    overflow: inherit;
  }
  .dashboard-view-v3 {
    > .live-events-column-v3 {
      height: 100%;
      @include scroll;
      @include ltr {
        padding: 0 6px;
      }
      @include rtl {
        padding: 0 9px 0 0;
      }
      &:nth-last-child(2) {
        @include ltr {
          padding-left: 0;
        }
        @include rtl {
          padding-right: 0;
        }
      }
    }
  }
}