.body-wrapper.exchange-shop {
    background: #121522;
}
.exchange-shop-j {
    float: left;
    width: 100%;
    margin: 12px 0 40px;
    * {
        box-sizing: border-box;
    }
    .guide-j {
        margin: 0 auto;
        min-width: 980px;
        max-width: 1310px;
        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }
    .es-big-intro-j {
        float: left;
        width: 100%;
        > ul {
            display: table;
            table-layout: fixed;
            float: left;
            width: 100%;
            > li {
                display: table-cell;
                vertical-align: top;
                position: relative;
            }
        }
    }
    .es-big-product-j {
        float: left;
        width: 100%;
        position: relative;
        img {
            display: block;
            width: 100%;
            float: left;
        }
        hgroup {
            display: block;
            position: absolute;
            z-index: 50;
            left: 0;
            top: 0;
            width: 100%;
            padding: 9% 0 0 50px;
            h1 {
                color: #f3f3f5;
                font: bold 24px/26px $font-f;
                float: left;
                width: 100%;
            }
            h2 {
                color: #c29440;
                font: bold 32px/34px $font-f;
                float: left;
                width: 100%;
            }
            p {
                margin: 16px 0 0;
                border: 1px solid rgba(255, 255, 255, 0.45);
                border-radius: 36px;
                padding: 0 15px;
                height: 36px;
                color: #f3f3f5;
                font: 18px/34px $font-f;
                float: left;
            }
        }
        button {
            position: absolute;
            bottom: 15%;
            left: 50px;
            z-index: 60;
            min-width: 148px;
            padding: 0 24px;
            display: block;
            height: 36px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            font: 14px $font-f;
            color: white;
            text-transform: uppercase;
            transition: 250ms color, 250ms background, 250ms border-color;
            background: none;
            &:hover {
                background: #C29440;
                color: white;
                border-color: #C29440;
            }
        }
    }
    fieldset {
        color: #f3f3f5;
        font: 14px $font-f;
        text-transform: uppercase;
        border-top: 1px solid #5A5C65;
        float: left;
        width: 100%;
        margin: 22px 0 8px;
        legend {
            padding: 0 20px;
        }
    }
    .es-small-products-j {
        float: left;
        width: 100%;
        overflow: hidden;
        > ul {
            float: left;
            width: calc(100% + 10px);
            margin: 0 0 0 -5px;
            > li {
                display: inline-block;
                vertical-align: top;
                padding: 5px;
                width: calc(100% / 6);
            }
        }
    }
    .es-small-product-j {
        float: left;
        width: 100%;
        position: relative;
        text-align: center;
        img {
            display: block;
            width: 100%;
            float: left;
        }
        hgroup {
            position: absolute;
            z-index: 40;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            font: 0/0 $font-f;
            padding: 40px 0 0;
            h1 {
                font: bold 16px/18px $font-f;
                color: #27a779;
            }
            h2 {
                font: bold 16px/18px $font-f;
                color: #caa35a;
            }
            p {
                border-radius: 100px;
                margin: 8px 0 0;
                padding: 0 9px;
                font: 12px/22px $font-f;
                color: #f3f3f5;
                border: 1px solid rgba(255, 255, 255, 0.3);
                display: inline-block;
                vertical-align: top;
            }
        }
        .es-splash-j {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 20;
            background: rgba(#212532, 0.9);
            opacity: 0;
            transition: 250ms opacity;
            button {
                position: absolute;
                bottom: 20px;
                left: 20px;
                width: calc(100% - 40px);
                height: 30px;
                font: 12px $font-f;
                text-transform: uppercase;
                color: #ffffff;
                background: #C29440;
                border: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                cursor: pointer;
            }
        }
        &:hover {
            .es-splash-j {
                opacity: 1;
            }
        }
    }
}
.eshop-item-wrapper {
    width: 870px;
    display: inline-block;
    text-align: left;
    position: relative;
    margin: 20px 0;
    .close-j {
        width: 54px;
        display: block;
        text-align: center;
        color: #7b8191;
        font: 10px/48px icomoon;
        position: absolute;
        top: 0;
        transition: 240ms color;
        &:hover {
            color: darken(#7b8191, 20);
        }
        &:before {
            content: "\e6ee";
        }
        @include ltr{
            right: 0;
        }
        @include rtl{
            left: 0;
        }
    }
}
.eshop-item-left-info {
    width: 320px;
    background: #F3F3F4;
    @include ltr{
        float: left;
    }
    @include rtl{
        float: right;
    }
    h3 {
        margin: 20px 0 0;
        float: left;
        width: 100%;
        padding: 0 20px;
        font: 700 16px/18px $font-f;
        color: #C39547;
        @include rtl{
            text-align: right;
        }
    }
}
.eshop-item-right-info {
    width: 540px;
    background: #F3F3F4;
    @include ltr{
        float: right;
    }
    @include rtl{
        float: left;
    }
}
.eshop-item-header {
    float: left;
    width: 100%;
    height: 49px;
    border-bottom: 1px solid #C2C5CD;
    padding: 0 20px;
    color: #212532;
    font: 18px/48px $font-f;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    @include rtl{
        text-align: right;
    }
}
.eshop-item-content {
    height: 375px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #C2C5CD;
    @include scroll($scroll: auto, $background: #C2C5CC);
}
.eshop-item-footer {
    float: left;
    width: 100%;
    height: 76px;
}
.eshop-slider-wrapper {
    float: left;
    width: 100%;
    padding: 36px 40px 0;
    > ul {
        float: left;
        width: 100%;
        text-align: center;
        > li {
            display: inline-block;
            vertical-align: top;
            margin: 0 3px;
        }
    }
    button {
        color: #3f4553;
        display: block;
        background: none;
        border: 0;
        padding: 0;
        font: 18px/44px icomoon;
        &.prev-j:before {
            content: "\e66f";
        }
        &.next-j:before {
            content: "\e672";
        }
    }
}
.eshop-slider-previw {
    width: 60px;
    height: 30px;
    padding-top: 14px;
}
.eshop-slider-active-image {
    float: left;
    width: 100%;
    height: 212px;
    margin: 0 0 36px;
    background: no-repeat 50% 50% / contain;
}
.eshop-item-price-row {
    float: left;
    width: 100%;
    border-bottom: 1px solid #C2C5CD;
    height: 41px;
    font: 18px/40px $font-f;
    color: #3F4552;
    padding: 0 20px;
    strong {
        float: right;
        @include rtl{
            float: left;
        }
    }
    p {
        float: left;
        @include rtl{
            float: right;
        }
    }
}
.eshop-popup-buttons {
    float: right;
    padding: 20px 17px;
    @include rtl{
        float: left;
    }
    button {
        display: block;
        float: left;
        margin: 0 5px;
        height: 36px;
        min-width: 130px;
        border: 1px solid #3F4552;
        background: none;
        text-transform: uppercase;
        font: 14px $font-f;
        color: #212532;
        padding: 0 24px;
        transition: 300ms color, 300ms background, 200ms border-color;
        @include rtl{
            float: right;
        }
        &:hover {
            background: $brand-color-1;
            border-color: $brand-color-1;
            color: set-color($brand-color-1);
        }
        + button {
            background: #B58637;
            border-color: #B58637;
            color: white;
            &:hover {
                background: lighten(#B58637, 10);
                border-color: lighten(#B58637, 10);
            }
        }
        &:disabled{
            opacity: 0.6;
            pointer-events: none;
        }
    }
}
.eshop-form-checkbox{
    float: left;
    width: 100%;
    padding: 22px;
    box-sizing: border-box;
    position: relative;
    > label{
        float: left;
        width: 100%;
        text-align: left;
        position: relative;
        box-sizing: border-box;
        padding-left: 25px;
        @include rtl{
            padding-right: 25px;
        }
        &:before{
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            top: 0;
            display: block;
            border: 1px solid rgba(0,0,0,.19);
            box-sizing: border-box;
            left: 0;
            @include rtl{
                right: 0;
            }
        }

    }
    > input[type="checkbox"]{
        opacity: 0;
        margin: 0;
        float: left;
        padding: 0;
        width: 16px;
        height: 16px;
        position: absolute;
        z-index: 66;
        left: 22px;
        top: 22px;
        @include rtl{
            right: 22px;
        }
    }
    > input[type="checkbox"]:checked + label:after {
        font: 10px/16px icomoon;
        content: "\54";
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        text-align: center;
        left: 0;
        @include rtl{
            right: 0;
        }

    }
    p{
        font-size: 12px;
        line-height: 18px;
        color: #3F4552;
        @include rtl{
            text-align: right;
        }
        > a{
            text-decoration: none;
            color: #3F4552;
            font-weight: bold;
        }
    }

}
.eshop-item-primary-description {
    float: left;
    width: 100%;
    position: relative;
    height: 102px;
    border-bottom: 1px solid #C1C5CC;
    padding: 22px 20px 20px;
    h6 {
        float: left;
        width: 100%;
        font: 20px/24px $font-f;
        color: #121623;
        margin: 0 0 10px;
        @include rtl{
            text-align: right;
        }
    }
    h5 {
        float: left;
        width: 100%;
        color: #3F4552;
        font: 700 30px/30px $font-f;
        @include rtl{
            text-align: right;
        }
    }
    .eshop-item-options {
        position: absolute;
        bottom: 16px;
        right: 20px;
        > small {
            margin: 4px 5px;
            width: 16px;
            height: 16px;
            border: 1px solid rgba(0,0,0,0.5);
            float: left;
            display: block;
            transition: 300ms transform;
            &.active {
                transform: scale(1.2)
            }
        }
    }
    .eshop-item-options-select {
        float: left;
        position: relative;
        height: 24px;
        margin: 0 0 0 18px;
        select {
            height: 24px;
            padding: 0 20px 0 12px;
            color: #3F4552;
            font: 12px $font-f;
            border: 1px solid #828283;
            background: none;
        }
        &:before {
            content: "\e66c";
            display: block;
            color: #3F4552;
            font: 12px/26px icomoon;
            position: absolute;
            top: 0;
            right: 7px;
            pointer-events: none;
        }
    }
}
.eshop-item-description {
    float: left;
    width: 100%;
    padding: 22px;
}
.eshop-item-description-scroll {
    float: left;
    width: 100%;
    height: 158px;
    @include scroll($scroll: auto, $background: #C2C5CC);
    padding: 0 32px 0 0;
    font: 14px/18px $font-f;
    color: #3F4552;
    ul {
        color: #737887;
        padding: 0 0 0 16px;
        list-style: inherit;
        line-height: 20px;
        list-style-type: square;
    }
    @include rtl{
        text-align: right;
        padding: 0 0 0 32px;
    }
}
.eshop-delivery-form {
    float: left;
    width: 100%;
    padding: 24px 20px;
    h5 {
        float: left;
        width: 100%;
        font: 12px/14px $font-f;
        color: #3F4552;
    }
    h6 {
        float: left;
        width: 100%;
        font: 18px/20px $font-f;
        color: #212532;
        margin: 0 0 20px;
    }
    ul {
        float: left;
        width: calc(100% + 20px);
        margin: 0 0 0 -10px;
        > li {
            display: block;
            float: left;
            padding: 0 10px;
            margin: 0 0 20px;
            width: 100%;
            &:first-child:nth-last-child(2) {
                &, ~ li {
                    width: 50%;
                }
            }
        }
    }
    label {
        float: left;
        width: 100%;
        position: relative;
        p {
            float: left;
            width: 100%;
            font: 12px $font-f;
            color: #3F4552;
            margin: 0 0 8px;
        }
        input, select {
            background: white;
            float: left;
            display: block;
            width: 100%;
            height: 36px;
            border: 1px solid #C2C5CD;
            font: 12px $font-f;
            padding: 0 14px;
            color: #3F4552;
            @include placeholder {
                color: #737887;
                font: 12px/34px $font-f;
            }
            &:focus {
                border-color: darken(#C2C5CD, 20);
            }
        }
        .select-j {
            position: relative;
            float: left;
            width: 100%;
            &:before {
                content: "\e674";
                font: 18px icomoon;
                pointer-events: none;
                position: absolute;
                right: 8px;
                top: calc((100% - 18px) / 2);
                height: 12px;
                color: #000;
                z-index: 40;
            }
        }
    }
    .eshop-form-checkbox {
        label {
            width: auto;
            cursor: pointer;
            padding: 0 0 0 24px;
            input {
                position: absolute;
                opacity: 0;
                pointer-events: none;
                &:checked + p {
                    &:after {
                        content: "\e6f3";
                        font: 6px/16px icomoon;
                    }
                }
            }
            p {
                margin: 0;
                line-height: 16px;
                &:before, &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 16px;
                    height: 16px;
                    background: #C1C5CC;
                    text-align: center;
                }
                a {
                    font-weight: 700;
                    color: inherit;
                }
            }
        }
    }
}
.not-enough-founds {
    span {
        background: #ff0041;
        padding: 0 6px;
        font: 12px/18px Roboto;
        display: inline-block;
        color: #fff;
        border-radius: 3px;
        margin: 0 0 6px;
    }
}