.help-landing {
    background: $skin-palette-11;
    min-height: 100vh;
    .block-faq-content {
        background: $skin-palette-11;
        padding-top: 30px;
        a {
            text-decoration: none;
            color: $hero-color;
            font: $style-text 16px/26px $font-f;
        }
        .help-rules:not(.payments) {
            width: calc( 100% - 40px );
        }
        .help-rules {
            &:before {
                content: none;
            }
            > h1, & > h2 {
                display: none;
            }
            p {
                color: $text-palette-3;
            }
            b, strong {
                color: $text-palette-1;
                font: $style-text 16px/26px $font-f;
            }
            * a {
                text-decoration: none;
                color: $hero-color;
                font: $style-text 16px/26px $font-f;
            }
        }
        &.rules.sportsbook {
            .help-rules {
                width: calc(100% - 276px);
            }
        }
        &.contact-us p {
            font-size: 0;
            > strong, & > em, & > b {
                font-size: 0;
            }
            table {
                font-size: 16px;
                margin-top: 20px;
                tbody {
                    display: table-row;
                    tr {
                        display: table-cell;
                        width: 1%;
                        td {
                            font: $style-text 16px/26px $font-f;
                            display: block;
                            border: 0;
                            text-align: left;
                            &:first-child {
                                padding-bottom: 15px;
                                img {
                                    max-width: 30px;
                                    max-height: 30px;
                                    vertical-align: bottom;
                                    margin-right: 14px;
                                }
                                h1, h2, h3, h4, h5, h6 {
                                    float: right;
                                    width: calc( 100% - 44px );
                                    font: $style-text 30px/32px $font-f;
                                    color: $text-palette-1;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.home.help {
            table {
                tr {
                    td {
                        width: 1%;
                        border: 0;
                        text-align: left;
                        vertical-align: top;
                        font: $style-text 16px/26px $font-f;
                        color: $text-palette-3;
                        padding: 0;
                        &:first-child {
                            padding-right: 62px;
                        }
                    }
                    &:nth-child(odd) {
                        td {
                            padding-top: 40px;
                            padding-bottom: 15px;
                            * {
                                color: $text-palette-1;
                                font: $style-text 30px/32px $font-f;
                            }
                            img {
                                max-width: 30px;
                                max-height: 30px;
                                vertical-align: bottom;
                                margin-right: 14px;
                            }
                        }
                    }
                }
            }
        }
        &.home.faq {
            .help-rules {
                > p {
                    h1, h2, h3, h4, h5, h6 {
                        font: $style-text 30px/32px $font-f;
                        color: $text-palette-1;
                        padding-top: 35px;
                        padding-bottom: 20px;
                        span, strong, em, b {
                            font: $style-text 30px/32px $font-f;
                            color: $text-palette-1;
                        }
                        span {
                            color: $hero-color;
                        }
                    }
                }
            }
        }
        &.rules.sportsbook {
            p {
                color: $text-palette-3;
                font: 16px/25px $font-f;
                b, strong {
                    color: $text-palette-1;
                    font: $style-text 16px/26px $font-f;
                }
            }
            .rules-menu-b {
                ul {
                    li {
                        a {
                            padding: 6px 0 6px 20px;
                            &:before {
                                font-size: 30px;
                                text-shadow: none;
                                width: auto;
                                height: auto;
                                left: -12px;
                                top: 10px;
                                transition-duration: 0s;
                            }
                            &:hover {
                                transition-duration: 0s;
                                color: $text-palette-1;
                                &:before {
                                    color: $text-palette-1;
                                }
                            }
                        }
                        &.active {
                            a, a:before {
                                color: $text-palette-1;
                            }
                        }
                    }
                }
            }
        }
        &.payments {
            .help-rules {
                padding: 0;
            }
            .currency-block {
                top: 35px;
                label {
                    margin: 16px  28px 0 0;
                    color: $text-palette-1;
                    font: 14px/16px $font-f;
                }
                .select-block {
                    width: 140px;
                    height: 40px;
                    border: 0;
                    position: relative;
                    select {
                        border: 1px solid $skin-palette-5;
                        background: $skin-palette-7;
                        height: 36px;
                        color: $text-palette-4;
                        padding: 0 33px 0 10px;
                        width: 100%;
                        transition: border-color 200ms;
                        top: 6px;
                        > option{
                            background: $skin-palette-7;
                            border-color: $skin-palette-7;
                            color: $text-palette-4;
                        }
                        &:focus{
                            border-color: $form-elements-focus;
                        }
                    }
                    &:after {
                        color: $text-palette-4;
                        content: "\e674";
                        font: 18px/48px icomoon;
                        position: absolute;
                        right: 8px;
                        top: 0;
                        pointer-events: none;
                        z-index: 40;
                        display: block;
                    }
                }
            }
            .payments-tab {
                border: 0;
                height: auto;
                margin: 40px 0 25px 0;
                ul {
                    li {
                        border: 0;
                        width: auto;
                        background: none;
                        box-shadow: none;
                        padding: 0;
                        font: $style-text 30px/32px $font-f;
                        display: inline-block;
                        color: lighten( desaturate( $skin-palette-12, 21 ), 20 );
                        margin-right: 28px;
                        &:before {
                            content: '';
                            display: inline-block;
                            vertical-align: bottom;
                            height: 30px;
                            width: 30px;
                            background: lighten( desaturate( $skin-palette-12, 21 ), 20 );
                            background-size: 100%;
                            margin-right: 14px;
                            border-radius: 100%;
                        }
                        &.active {
                            box-shadow: none;
                            border: 0;
                            color: $text-palette-1;
                            &:before {
                                background-color: $hero-color;
                            }
                        }
                        &:last-child:before {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            .peymants-info {
                table {
                    font: $style-text 14px/16px $font-f;
                    tbody {
                        tr td {
                            background: $skin-palette-10;
                            border: 0;
                            border-top: 3px solid $skin-palette-11;
                            color: $text-palette-1;
                            -moz-user-select: none;
                            -khtml-user-select: none;
                            user-select: none;
                            -webkit-user-select: none;
                            -ms-user-select: none;
                            &:last-child .information-icon {
                                height: 60px;
                                span {
                                    font: normal 0 "icomoon";
                                    width: auto;
                                    height: auto;
                                    border-radius: 0;
                                    display: inline-block;
                                    background: none;
                                    text-shadow: none;
                                    color: $text-palette-3;
                                    top: 21px;
                                    &:before {
                                        content: "\e6e4";
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                        &:nth-child(odd) tr td {
                            background: $skin-palette-7;
                        }
                        &:first-child {
                            tr th {
                                background: none;
                                border: 0;
                                color: $text-palette-1;
                                font-weight: $style-text;
                            }
                        }
                        &:nth-child(2) {
                            tr td {
                                border: 0;
                                &:first-child {
                                    border-top-left-radius: 3px;
                                }
                                &:last-child {
                                    border-top-right-radius: 3px;
                                }
                            }
                        }
                        &:last-child {
                            tr td {
                                &:first-child {
                                    border-bottom-left-radius: 3px;
                                }
                                &:last-child {
                                    border-bottom-right-radius: 3px;
                                }
                            }
                        }
                        tr.open-info {
                            td {
                                &:last-child .information-icon {
                                    box-shadow: none;
                                }
                                &:first-child .payment-content-block {
                                    box-shadow: none;
                                }
                            }
                        }
                        tr.block-info.open {
                            td {
                                padding: 0;
                                border-radius: 0;
                                position: relative;
                                border-top: 1px solid #2D3242;
                                .payment-b-contain {
                                    border-color: #2D3242;
                                    margin: 0;
                                    padding: 15px;
                                    width: calc( 100% - 30px );
                                    ul li button {
                                        font: 12px $font-f;
                                        background: $brand-color-1;
                                        text-transform: capitalize;
                                    }
                                }
                                > p {
                                    padding: 15px 30px;
                                    width: calc(100% - 60px );
                                    font: $style-text 14px/22px $font-f;
                                    strong, b, em {
                                        font: $style-text 14px/22px $font-f;
                                    }
                                }
                            }
                        }
                        &:nth-child(odd) tr.block-info.open {
                            td, .payment-b-contain {
                                border-color: $skin-palette-10;
                            }
                        }
                    }
                }
            }
        }
    }
    .sub-nav-faq {
        max-height: 60px;
        border-bottom: 0;
        background: $skin-palette-12;
        overflow: hidden;
        ul {
            margin-left: 20px;
            border-left: 1px solid darken( desaturate( adjust-hue( $skin-palette-12, -1deg ), 10 ), 3 );
            border-right: 1px solid lighten( desaturate( adjust-hue( $skin-palette-12, 3deg ), 7 ), 3 );
            li {
                margin: 0;
                font: 14px/16px  $font-f;
                font-weight: $bold-text;
                border-left: 1px solid lighten( desaturate( adjust-hue( $skin-palette-12, 3deg ), 7 ), 3 );
                border-right: 1px solid darken( desaturate( adjust-hue( $skin-palette-12, -1deg ), 10 ), 3 );
                a {
                    color: $text-palette-1;
                    text-transform: uppercase;
                    padding: 22px 18px;
                }
                &.active {
                    box-shadow: inset 0 -3px 0 $hero-color;
                }
            }
        }
    }
    .question-faq ul li {
        background: none;
        border-bottom: 1px solid lighten( desaturate( $skin-palette-11, 20 ), 17 );
        border-radius: 0;
        padding: 22px 0;
        margin: 0;
        width: 100%;
        max-height: inherit;
        overflow: inherit;
        h3 {
            text-shadow: none;
            color: $text-palette-1;
            font: $style-text 30px/32px $font-f;
            padding: 0;
            text-indent: 44px;
            &:before {
                font: 18px/28px 'icomoon';
                content: "\e671";
                width: 30px;
                height: 30px;
                background: lighten( desaturate( $skin-palette-11, 20 ), 17 );
                border-radius: 100px;
                color: $skin-palette-11;
            }
        }
        &.open-q {
            h3:before {
                transform: rotate(180deg);
            }
            p {
                color: $text-palette-3;
                font: 16px/25px $font-f;
            }
            > p {
                padding: 20px 0 0 0;
                b, strong {
                    color: $text-palette-1;
                    font: $style-text 16px/25px $font-f;
                }
                table {
                    margin: 10px 0 0 0;
                    border: 0;
                    color: $text-palette-1;
                    tr {
                        & td {
                            background: $skin-palette-7;
                            border: 0;
                            border-top: 3px solid $skin-palette-11;
                            padding: 12px 10px;
                        }
                        &:nth-child(even) td {
                            background: $skin-palette-10;
                        }
                        &:first-child td {
                            background: none;
                            border: 0;
                        }
                        &:nth-child(2) td {
                            border: 0;
                            &:first-child {
                                border-top-left-radius: 3px;
                            }
                            &:last-child {
                                border-top-right-radius: 3px;
                            }
                        }
                        &:last-child td {
                            &:first-child {
                                border-bottom-left-radius: 3px;
                            }
                            &:last-child {
                                border-bottom-right-radius: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
    .block-faq-content.payments .peymants-info .faq-betshops-t table {
        width: 100% !important;
        tr {
            td {
                background: #1e2639;
                border: 0;
                border-top: 3px solid #171c2c;
                color: #FFF;
            }
        }
    }
}
.help-landing .block-faq-content {
    p {
        color: $text-palette-3;
        font: 14px/16px $font-f;
    }
    .peymants-info table {
        width: 100% !important;
        table-layout: fixed;
        tr {
            td  {
                height: 40px;
                padding: 0 10px;
                color: $text-palette-4;
                background: $skin-palette-8;
                font: 14px/40px $font-f;
                vertical-align: middle;
                border: none;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                &:first-child {
                    text-align: left;
                }
            }
            &:first-child td {
                color: $text-palette-3;
                background: $skin-palette-7;
                &:first-child {
                    border-radius: 6px 0 0 0;
                }
                &:last-child {
                    border-radius: 0 6px 0 0;
                }
            }
            &:last-child td:first-child {
                border-radius: 0 0 0 6px;
            }
            &:last-child td:last-child {
                border-radius: 0 0 6px 0;
            }
            &:nth-child(even) td {
                background: lighten( desaturate( adjust-hue( $skin-palette-10, 3deg ), 14 ), 2 );
            }
        }
    }
}