.flag-icon {
  background: url(../../../images/flags.png#{$delete-cache}) no-repeat 0 0 / 100%;
  width: 16px;
  height: 16px;
  image-rendering: pixelated;
}

.flag-asean {
  background-position: 0 0;
}

.flag-afghanistan {
  background-position: 0 0.34483%;
}

.flag-africa {
  background-position: 0 0.68966%;
}

.flag-aland {
  background-position: 0 1.03448%;
}

.flag-albania {
  background-position: 0 1.37931%;
}

.flag-alderney {
  background-position: 0 1.72414%;
}

.flag-algeria {
  background-position: 0 2.06897%;
}

.flag-all {
  background-position: 0 2.41379%;
}

.flag-americansamoa {
  background-position: 0 2.75862%;
}

.flag-andorra {
  background-position: 0 3.10345%;
}

.flag-angola {
  background-position: 0 3.44828%;
}

.flag-anguilla {
  background-position: 0 3.7931%;
}

.flag-antiguaandbarbuda {
  background-position: 0 4.13793%;
}

.flag-arableague {
  background-position: 0 4.48276%;
}

.flag-argentina {
  background-position: 0 4.82759%;
}

.flag-armenia {
  background-position: 0 5.17241%;
}

.flag-aruba {
  background-position: 0 5.51724%;
}

.flag-asia {
  background-position: 0 5.86207%;
}

.flag-australia {
  background-position: 0 6.2069%;
}

.flag-austria {
  background-position: 0 6.55172%;
}

.flag-azerbaijan {
  background-position: 0 6.89655%;
}

.flag-bahamas {
  background-position: 0 7.24138%;
}

.flag-bahrain {
  background-position: 0 7.58621%;
}

.flag-bangladesh {
  background-position: 0 7.93103%;
}

.flag-barbados {
  background-position: 0 8.27586%;
}

.flag-basquecountry {
  background-position: 0 8.62069%;
}

.flag-belarus {
  background-position: 0 8.96552%;
}

.flag-belgium {
  background-position: 0 9.31034%;
}

.flag-belize {
  background-position: 0 9.65517%;
}

.flag-benin {
  background-position: 0 10%;
}

.flag-bermuda {
  background-position: 0 10.34483%;
}

.flag-bhutan {
  background-position: 0 10.68966%;
}

.flag-bolivia {
  background-position: 0 11.03448%;
}

.flag-bonairesinteustatiusandsaba {
  background-position: 0 11.37931%;
}

.flag-bosniaherzegovina {
  background-position: 0 11.72414%;
}

.flag-botswana {
  background-position: 0 12.06897%;
}

.flag-bouvet {
  background-position: 0 12.41379%;
}

.flag-brazil {
  background-position: 0 12.75862%;
}

.flag-britishindianoceanterritory {
  background-position: 0 13.10345%;
}

.flag-brunei {
  background-position: 0 13.44828%;
}

.flag-bulgaria {
  background-position: 0 13.7931%;
}

.flag-burkinafaso {
  background-position: 0 14.13793%;
}

.flag-burundi {
  background-position: 0 14.48276%;
}

.flag-caricom {
  background-position: 0 14.82759%;
}

.flag-cis {
  background-position: 0 15.17241%;
}

.flag-cambodja, .flag-cambodia {
  background-position: 0 15.51724%;
}

.flag-cameroon {
  background-position: 0 15.86207%;
}

.flag-canada {
  background-position: 0 16.2069%;
}

.flag-capeverde {
  background-position: 0 16.55172%;
}

.flag-catalonia {
  background-position: 0 16.89655%;
}

.flag-caymanislands {
  background-position: 0 17.24138%;
}

.flag-centralafricanrepublic {
  background-position: 0 17.58621%;
}

.flag-chad {
  background-position: 0 17.93103%;
}

.flag-chile {
  background-position: 0 18.27586%;
}

.flag-china {
  background-position: 0 18.62069%;
}

.flag-chinesetaipei {
  background-position: 0 18.96552%;
}

.flag-christmas {
  background-position: 0 19.31034%;
}

.flag-cocoskeeling {
  background-position: 0 19.65517%;
}

.flag-colombia {
  background-position: 0 20%;
}

.flag-commonwealth {
  background-position: 0 20.34483%;
}

.flag-comoros {
  background-position: 0 20.68966%;
}

.flag-congobrazzaville {
  background-position: 0 21.03448%;
}

.flag-congokinshasa {
  background-position: 0 21.37931%;
}

.flag-cookislands {
  background-position: 0 21.72414%;
}

.flag-costarica {
  background-position: 0 22.06897%;
}

.flag-cotedivoire {
  background-position: 0 22.41379%;
}

.flag-croatia {
  background-position: 0 22.75862%;
}

.flag-cuba {
  background-position: 0 23.10345%;
}

.flag-curacao {
  background-position: 0 23.44828%;
}

.flag-cyprus {
  background-position: 0 23.7931%;
}

.flag-czechrepublic {
  background-position: 0 24.13793%;
}

.flag-denmark {
  background-position: 0 24.48276%;
}

.flag-djibouti {
  background-position: 0 24.82759%;
}

.flag-dominica {
  background-position: 0 25.17241%;
}

.flag-dominicanrepublic {
  background-position: 0 25.51724%;
}

.flag-ecuador {
  background-position: 0 25.86207%;
}

.flag-egypt {
  background-position: 0 26.2069%;
}

.flag-elsalvador {
  background-position: 0 26.55172%;
}

.flag-england {
  background-position: 0 26.89655%;
}

.flag-equatorialguinea {
  background-position: 0 27.24138%;
}

.flag-eritrea {
  background-position: 0 27.58621%;
}

.flag-estonia {
  background-position: 0 27.93103%;
}

.flag-ethiopia {
  background-position: 0 28.27586%;
}

.flag-europe {
  background-position: 0 28.62069%;
}

.flag-fao {
  background-position: 0 28.96552%;
}

.flag-falkland {
  background-position: 0 29.31034%;
}

.flag-faroes,.flag-faroeislands{
  background-position: 0 29.65517%;
}

.flag-fiji {
  background-position: 0 30%;
}

.flag-finland {
  background-position: 0 30.34483%;
}

.flag-france {
  background-position: 0 30.68966%;
}

.flag-french-guiana {
  background-position: 0 31.03448%;
}

.flag-frenchsouthernandantarcticlands {
  background-position: 0 31.37931%;
}

.flag-gabon {
  background-position: 0 31.72414%;
}

.flag-galicia {
  background-position: 0 32.06897%;
}

.flag-gambia {
  background-position: 0 32.41379%;
}

.flag-georgia {
  background-position: 0 32.75862%;
}

.flag-germany {
  background-position: 0 33.10345%;
}

.flag-ghana {
  background-position: 0 33.44828%;
}

.flag-gibraltar {
  background-position: 0 33.7931%;
}

.flag-greatbritain {
  background-position: 0 34.13793%;
}

.flag-greece {
  background-position: 0 34.48276%;
}

.flag-greenland {
  background-position: 0 34.82759%;
}

.flag-grenada {
  background-position: 0 35.17241%;
}

.flag-guadeloupe {
  background-position: 0 35.51724%;
}

.flag-guam {
  background-position: 0 35.86207%;
}

.flag-guatemala {
  background-position: 0 36.2069%;
}

.flag-guernsey {
  background-position: 0 36.55172%;
}

.flag-guinea {
  background-position: 0 36.89655%;
}

.flag-guineabissau {
  background-position: 0 37.24138%;
}

.flag-guyana {
  background-position: 0 37.58621%;
}

.flag-haiti {
  background-position: 0 37.93103%;
}

.flag-heardislandandmcdonald {
  background-position: 0 38.27586%;
}

.flag-honduras {
  background-position: 0 38.62069%;
}

.flag-hongkong {
  background-position: 0 38.96552%;
}

.flag-hungary {
  background-position: 0 39.31034%;
}

.flag-iaea {
  background-position: 0 39.65517%;
}

.flag-iho {
  background-position: 0 40%;
}

.flag-iceland {
  background-position: 0 40.34483%;
}

.flag-india {
  background-position: 0 40.68966%;
}

.flag-indonesia {
  background-position: 0 41.03448%;
}

.flag-international {
  background-position: 0 41.37931%;
}

.flag-iran {
  background-position: 0 41.72414%;
}

.flag-iraq {
  background-position: 0 42.06897%;
}

.flag-ireland {
  background-position: 0 42.41379%;
}

.flag-islamicconference {
  background-position: 0 42.75862%;
}

.flag-isleofman {
  background-position: 0 43.10345%;
}

.flag-israel {
  background-position: 0 43.44828%;
}

.flag-italy {
  background-position: 0 43.7931%;
}

.flag-jamaica {
  background-position: 0 44.13793%;
}

.flag-japan {
  background-position: 0 44.48276%;
}

.flag-jersey {
  background-position: 0 44.82759%;
}

.flag-jordan {
  background-position: 0 45.17241%;
}

.flag-kazakhstan {
  background-position: 0 45.51724%;
}

.flag-kenya {
  background-position: 0 45.86207%;
}

.flag-kiribati {
  background-position: 0 46.2069%;
}

.flag-kosovo {
  background-position: 0 46.55172%;
}

.flag-kurdish {
  background-position: 0 46.89655%;
}

.flag-kuwait {
  background-position: 0 47.24138%;
}

.flag-kyrgyzstan {
  background-position: 0 47.58621%;
}

.flag-laos,.flag-laopeoplesdemocraticrepublic {
  background-position: 0 47.93103%;
}

.flag-latvia {
  background-position: 0 48.27586%;
}

.flag-lebanon {
  background-position: 0 48.62069%;
}

.flag-lesotho {
  background-position: 0 48.96552%;
}

.flag-liberia {
  background-position: 0 49.31034%;
}

.flag-libya {
  background-position: 0 49.65517%;
}

.flag-liechtenshein {
  background-position: 0 50%;
}

.flag-lithuania {
  background-position: 0 50.34483%;
}

.flag-luxembourg {
  background-position: 0 50.68966%;
}

.flag-macao,  .flag-macau {
  background-position: 0 51.03448%;
}

.flag-macedonia, .flag-northmacedonia  {
  background-position: 0 51.37931%;
}

.flag-madagascar {
  background-position: 0 51.72414%;
}

.flag-malawi {
  background-position: 0 52.06897%;
}

.flag-malaysia {
  background-position: 0 52.41379%;
}

.flag-maldives {
  background-position: 0 52.75862%;
}

.flag-mali {
  background-position: 0 53.10345%;
}

.flag-malta {
  background-position: 0 53.44828%;
}

.flag-marshallislands {
  background-position: 0 53.7931%;
}

.flag-martinique {
  background-position: 0 54.13793%;
}

.flag-mauritania {
  background-position: 0 54.48276%;
}

.flag-mauritius {
  background-position: 0 54.82759%;
}

.flag-mayotte {
  background-position: 0 55.17241%;
}

.flag-mexico {
  background-position: 0 55.51724%;
}

.flag-micronesia {
  background-position: 0 55.86207%;
}

.flag-moldova {
  background-position: 0 56.2069%;
}

.flag-monaco {
  background-position: 0 56.55172%;
}

.flag-mongolia {
  background-position: 0 56.89655%;
}

.flag-montenegro {
  background-position: 0 57.24138%;
}

.flag-montserrat {
  background-position: 0 57.58621%;
}

.flag-morocco {
  background-position: 0 57.93103%;
}

.flag-mozambique {
  background-position: 0 58.27586%;
}

.flag-myanmar {
  background-position: 0 58.62069%;
}

.flag-nato {
  background-position: 0 58.96552%;
}

.flag-namibia {
  background-position: 0 59.31034%;
}

.flag-nauru {
  background-position: 0 59.65517%;
}

.flag-nepal {
  background-position: 0 60%;
}

.flag-netherlands {
  background-position: 0 60.34483%;
}

.flag-netherlandsantilles {
  background-position: 0 60.68966%;
}

.flag-newcaledonia {
  background-position: 0 61.03448%;
}

.flag-newzealand {
  background-position: 0 61.37931%;
}

.flag-nicaragua {
  background-position: 0 61.72414%;
}

.flag-niger {
  background-position: 0 62.06897%;
}

.flag-nigeria {
  background-position: 0 62.41379%;
}

.flag-niue {
  background-position: 0 62.75862%;
}

.flag-norfolk {
  background-position: 0 63.10345%;
}

.flag-northamerica {
  background-position: 0 63.44828%;
}

.flag-northkorea {
  background-position: 0 63.7931%;
}

.flag-northerncyprus {
  background-position: 0 64.13793%;
}

.flag-northernireland {
  background-position: 0 64.48276%;
}

.flag-northernmariana {
  background-position: 0 64.82759%;
}

.flag-norway {
  background-position: 0 65.17241%;
}

.flag-oas {
  background-position: 0 65.51724%;
}

.flag-opec {
  background-position: 0 65.86207%;
}

.flag-oceania {
  background-position: 0 66.2069%;
}

.flag-olimpics {
  background-position: 0 66.55172%;
}

.flag-oman {
  background-position: 0 66.89655%;
}

.flag-pakistan {
  background-position: 0 67.24138%;
}

.flag-palau {
  background-position: 0 67.58621%;
}

.flag-palestine {
  background-position: 0 67.93103%;
}

.flag-panama {
  background-position: 0 68.27586%;
}

.flag-papuanewguinea {
  background-position: 0 68.62069%;
}

.flag-paraguay {
  background-position: 0 68.96552%;
}

.flag-peru {
  background-position: 0 69.31034%;
}

.flag-philippines {
  background-position: 0 69.65517%;
}

.flag-pitcairn {
  background-position: 0 70%;
}

.flag-poland {
  background-position: 0 70.34483%;
}

.flag-portugal {
  background-position: 0 70.68966%;
}

.flag-puertorico {
  background-position: 0 71.03448%;
}

.flag-qatar {
  background-position: 0 71.37931%;
}

.flag-quebec {
  background-position: 0 71.72414%;
}

.flag-redcross {
  background-position: 0 72.06897%;
}

.flag-reunion {
  background-position: 0 72.41379%;
}

.flag-romania {
  background-position: 0 72.75862%;
}

.flag-russia {
  background-position: 0 73.10345%;
}

.flag-rwanda {
  background-position: 0 73.44828%;
}

.flag-saintbarthelemy {
  background-position: 0 73.7931%;
}

.flag-sainthelena {
  background-position: 0 74.13793%;
}

.flag-saintlucia {
  background-position: 0 74.48276%;
}

.flag-saintmartin {
  background-position: 0 74.82759%;
}

.flag-saintpierreandmiquelon {
  background-position: 0 75.17241%;
}

.flag-samoa {
  background-position: 0 75.51724%;
}

.flag-sanmarino {
  background-position: 0 75.86207%;
}

.flag-saotomeandprincipe {
  background-position: 0 76.2069%;
}

.flag-saudiarabia {
  background-position: 0 76.55172%;
}

.flag-scotland {
  background-position: 0 76.89655%;
}

.flag-senegal {
  background-position: 0 77.24138%;
}

.flag-serbia {
  background-position: 0 77.58621%;
}

.flag-seychelles {
  background-position: 0 77.93103%;
}

.flag-sierraleone {
  background-position: 0 78.27586%;
}

.flag-singapore {
  background-position: 0 78.62069%;
}

.flag-sintmaarten {
  background-position: 0 78.96552%;
}

.flag-slovakia {
  background-position: 0 79.31034%;
}

.flag-slovenia {
  background-position: 0 79.65517%;
}

.flag-solomonislands {
  background-position: 0 80%;
}

.flag-somalia {
  background-position: 0 80.34483%;
}

.flag-somaliland {
  background-position: 0 80.68966%;
}

.flag-southafrica {
  background-position: 0 81.03448%;
}

.flag-southamerica {
  background-position: 0 81.37931%;
}

.flag-southgeorgiaandsouthsandwich {
  background-position: 0 81.72414%;
}

.flag-southkorea {
  background-position: 0 82.06897%;
}

.flag-southsudan {
  background-position: 0 82.41379%;
}

.flag-spain {
  background-position: 0 82.75862%;
}

.flag-srilanka {
  background-position: 0 83.10345%;
}

.flag-saintkittsandnevis {
  background-position: 0 83.44828%;
}

.flag-stvincentandthegrenadines {
  background-position: 0 83.7931%;
}

.flag-sudan {
  background-position: 0 84.13793%;
}

.flag-suriname {
  background-position: 0 84.48276%;
}

.flag-svalbardandjanmayen {
  background-position: 0 84.82759%;
}

.flag-swaziland {
  background-position: 0 85.17241%;
}

.flag-sweden {
  background-position: 0 85.51724%;
}

.flag-switzerland {
  background-position: 0 85.86207%;
}

.flag-syria {
  background-position: 0 86.2069%;
}

.flag-tahiti {
  background-position: 0 86.55172%;
}

.flag-taiwan {
  background-position: 0 86.89655%;
}

.flag-tajikistan {
  background-position: 0 87.24138%;
}

.flag-tanzania,.flag-United.Republic.of.Tanzania, .flag-unitedrepublicoftanzania{
  background-position: 0 87.58621%;
}

.flag-thailand {
  background-position: 0 87.93103%;
}

.flag-timorleste {
  background-position: 0 88.27586%;
}

.flag-togo {
  background-position: 0 88.62069%;
}

.flag-tokelau {
  background-position: 0 88.96552%;
}

.flag-tonga {
  background-position: 0 89.31034%;
}

.flag-trinidadtobago {
  background-position: 0 89.65517%;
}

.flag-tristandacunha {
  background-position: 0 90%;
}

.flag-tunisia {
  background-position: 0 90.34483%;
}

.flag-turkey {
  background-position: 0 90.68966%;
}

.flag-turkmenistan {
  background-position: 0 91.03448%;
}

.flag-turksandcaicosislands {
  background-position: 0 91.37931%;
}

.flag-tuvalu {
  background-position: 0 91.72414%;
}

.flag-usa {
  background-position: 0 92.06897%;
}

.flag-uganda {
  background-position: 0 92.41379%;
}

.flag-ukraine {
  background-position: 0 92.75862%;
}

.flag-unitedarabemirates, .flag-uae {
  background-position: 0 93.10345%;
}

.flag-unitedkingdom {
  background-position: 0 93.44828%;
}

.flag-uruguay {
  background-position: 0 93.7931%;
}

.flag-uzbekistan {
  background-position: 0 94.13793%;
}

.flag-vanutau, .flag-vanuatu {
  background-position: 0 94.48276%;
}

.flag-vaticancity {
  background-position: 0 94.82759%;
}

.flag-venezuela {
  background-position: 0 95.17241%;
}

.flag-vietnam {
  background-position: 0 95.51724%;
}

.flag-virginislandsbritish {
  background-position: 0 95.86207%;
}

.flag-virginislandsus {
  background-position: 0 96.2069%;
}

.flag-wales {
  background-position: 0 96.55172%;
}

.flag-wallisandfutuna {
  background-position: 0 96.89655%;
}

.flag-westernsahara {
  background-position: 0 97.24138%;
}

.flag-westindies {
  background-position: 0 97.58621%;
}

.flag-world {
  background-position: 0 97.93103%;
}

.flag-yemen {
  background-position: 0 98.27586%;
}

.flag-zambia {
  background-position: 0 98.62069%;
}

.flag-zimbabwe {
  background-position: 0 98.96552%;
}

.flag-allupcoming {
  background-position: 0 99.31034%;
}

.flag-america, .flag-americas  {
  background-position: 0 99.65517%;
}

.flag-withvideo {
  background-position: 0 100%;
}

$languages:(
        eng: flag-greatbritain,
        arm: flag-armenia,
        rus: flag-russia,
        alb: flag-albania,
        bgr: flag-bulgaria,
        bos: flag-bosniaherzegovina,
        chi: flag-china,
        zhh: flag-china,
        cze: flag-czechrepublic,
        dut: flag-netherlands,
        fas: flag-iran,
        fre: flag-france,
        fin: flag-finland,
        geo: flag-georgia,
        ger: flag-germany,
        gre: flag-greece,
        hrv: flag-croatia,
        heb: flag-israel,
        ita: flag-italy,
        jpn: flag-japan,
        kor: flag-southkorea,
        lat: flag-latvia,
        lav: flag-latvia,
        lit: flag-lithuania,
        mac: flag-macedonia,
        nor: flag-norway,
        pol: flag-poland,
        por: flag-portugal,
        pt-br: flag-brazil,
        slv: flag-slovenia,
        spa: flag-spain,
        srp: flag-serbia,
        swa: flag-tanzania,
        swe: flag-sweden,
        tur: flag-turkey,
        ukr: flag-ukraine,
        vnm: flag-vietnam,
        kur: flag-kurdish,
        est: flag-estonia,
        hun: flag-hungary,
        arb: flag-arableague,
        slk: flag-slovakia,
        rum: flag-romania,
        aze: flag-azerbaijan,
        dan: flag-denmark,
        tha: flag-thailand,
        mlg: flag-madagascar,
        uzb: flag-uzbekistan,
        en-ca: flag-canada,
        hin: flag-india,
);
@each $className, $extendSelector in $languages {
  .separator-contain-nav .settings-icon-contain.leng-b {
    &.selected-#{$className}:before,
    ~ div .drop-items-contain-b > ul > li.#{$className}:before {
      background-color: transparent;
      background-image: url(../../../images/flags.png#{$delete-cache});
      background-size: 100%;
      @extend #{"." + $extendSelector};
    }
  }
}
.separator-contain-nav .settings-icon-contain.leng-b {
  @include ltr {
    padding: 0 18px 0 30px;
  }
  @include rtl {
    padding: 0 30px 0 18px;
  }
  &:before, ~ div .drop-items-contain-b > ul > li:before {
    border-radius:0
  }
  ~ div .drop-items-contain-b > ul > li {
    &.active:after,
    &:hover:after,
    &.active:hover:after{
      display:none;
    }
  }
  &:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    @include ltr {
      left: 5px;
    }
    @include rtl {
      right: 5px;
    }
  }
}