.flag-icon {
  background: url(../../../images/flags.png#{$delete-cache}) no-repeat 0 0 / 100%;
  width: 16px;
  height: 16px;
  image-rendering: pixelated;
}
.flag-asean { background-position: 0 0;}
.flag-afghanistan { background-position: 0 0.347222%;}
.flag-africa { background-position: 0 0.694444%;}
.flag-aland { background-position: 0 1.041667%;}
.flag-albania { background-position: 0 1.388889%;}
.flag-alderney { background-position: 0 1.736111%;}
.flag-algeria { background-position: 0 2.083333%;}
.flag-all { background-position: 0 2.430556%;}
.flag-americansamoa { background-position: 0 2.777778%;}
.flag-andorra { background-position: 0 3.125%;}
.flag-angola { background-position: 0 3.472222%;}
.flag-anguilla { background-position: 0 3.819444%;}
.flag-antiguaandbarbuda { background-position: 0 4.166667%;}
.flag-arableague { background-position: 0 4.513889%;}
.flag-argentina { background-position: 0 4.861111%;}
.flag-armenia { background-position: 0 5.208333%;}
.flag-aruba { background-position: 0 5.555556%;}
.flag-asia { background-position: 0 5.902778%;}
.flag-australia { background-position: 0 6.25%;}
.flag-austria { background-position: 0 6.597222%;}
.flag-azerbaijan { background-position: 0 6.944444%;}
.flag-bahamas { background-position: 0 7.291667%;}
.flag-bahrain { background-position: 0 7.638889%;}
.flag-bangladesh { background-position: 0 7.986111%;}
.flag-barbados { background-position: 0 8.333333%;}
.flag-basquecountry { background-position: 0 8.680556%;}
.flag-belarus { background-position: 0 9.027778%;}
.flag-belgium { background-position: 0 9.375%;}
.flag-belize { background-position: 0 9.722222%;}
.flag-benin { background-position: 0 10.069444%;}
.flag-bermuda { background-position: 0 10.416667%;}
.flag-bhutan { background-position: 0 10.763889%;}
.flag-bolivia { background-position: 0 11.111111%;}
.flag-bonairesinteustatiusandsaba { background-position: 0 11.458333%;}
.flag-bosniaherzegovina { background-position: 0 11.805556%;}
.flag-botswana { background-position: 0 12.152778%;}
.flag-bouvet { background-position: 0 12.5%;}
.flag-brazil { background-position: 0 12.847222%;}
.flag-britishindianoceanterritory { background-position: 0 13.194444%;}
.flag-brunei { background-position: 0 13.541667%;}
.flag-bulgaria { background-position: 0 13.888889%;}
.flag-burkinafaso { background-position: 0 14.236111%;}
.flag-burundi { background-position: 0 14.583333%;}
.flag-caricom { background-position: 0 14.930556%;}
.flag-cis { background-position: 0 15.277778%;}
.flag-cambodja { background-position: 0 15.625%;}
.flag-cameroon { background-position: 0 15.972222%;}
.flag-canada { background-position: 0 16.319444%;}
.flag-capeverde { background-position: 0 16.666667%;}
.flag-catalonia { background-position: 0 17.013889%;}
.flag-caymanislands { background-position: 0 17.361111%;}
.flag-centralafricanrepublic { background-position: 0 17.708333%;}
.flag-chad { background-position: 0 18.055556%;}
.flag-chile { background-position: 0 18.402778%;}
.flag-china { background-position: 0 18.75%;}
.flag-chinesetaipei { background-position: 0 19.097222%;}
.flag-christmas { background-position: 0 19.444444%;}
.flag-cocoskeeling { background-position: 0 19.791667%;}
.flag-colombia { background-position: 0 20.138889%;}
.flag-commonwealth { background-position: 0 20.486111%;}
.flag-comoros { background-position: 0 20.833333%;}
.flag-congobrazzaville { background-position: 0 21.180556%;}
.flag-congokinshasa { background-position: 0 21.527778%;}
.flag-cookislands { background-position: 0 21.875%;}
.flag-costarica { background-position: 0 22.222222%;}
.flag-cotedivoire { background-position: 0 22.569444%;}
.flag-croatia { background-position: 0 22.916667%;}
.flag-cuba { background-position: 0 23.263889%;}
.flag-curacao { background-position: 0 23.611111%;}
.flag-cyprus { background-position: 0 23.958333%;}
.flag-czechrepublic { background-position: 0 24.305556%;}
.flag-denmark { background-position: 0 24.652778%;}
.flag-djibouti { background-position: 0 25%;}
.flag-dominica { background-position: 0 25.347222%;}
.flag-dominicanrepublic { background-position: 0 25.694444%;}
.flag-ecuador { background-position: 0 26.041667%;}
.flag-egypt { background-position: 0 26.388889%;}
.flag-elsalvador { background-position: 0 26.736111%;}
.flag-england { background-position: 0 27.083333%;}
.flag-equatorialguinea { background-position: 0 27.430556%;}
.flag-eritrea { background-position: 0 27.777778%;}
.flag-estonia { background-position: 0 28.125%;}
.flag-ethiopia { background-position: 0 28.472222%;}
.flag-europe { background-position: 0 28.819444%;}
.flag-fao { background-position: 0 29.166667%;}
.flag-falkland { background-position: 0 29.513889%;}
.flag-faroeislands { background-position: 0 29.861111%;}
.flag-fiji { background-position: 0 30.208333%;}
.flag-finland { background-position: 0 30.555556%;}
.flag-france { background-position: 0 30.902778%;}
.flag-french-guiana { background-position: 0 31.25%;}
.flag-frenchsouthernandantarcticlands { background-position: 0 31.597222%;}
.flag-gabon { background-position: 0 31.944444%;}
.flag-galicia { background-position: 0 32.291667%;}
.flag-gambia { background-position: 0 32.638889%;}
.flag-georgia { background-position: 0 32.986111%;}
.flag-germany { background-position: 0 33.333333%;}
.flag-ghana { background-position: 0 33.680556%;}
.flag-gibraltar { background-position: 0 34.027778%;}
.flag-greatbritain { background-position: 0 34.375%;}
.flag-greece { background-position: 0 34.722222%;}
.flag-greenland { background-position: 0 35.069444%;}
.flag-grenada { background-position: 0 35.416667%;}
.flag-guadeloupe { background-position: 0 35.763889%;}
.flag-guam { background-position: 0 36.111111%;}
.flag-guatemala { background-position: 0 36.458333%;}
.flag-guernsey { background-position: 0 36.805556%;}
.flag-guinea { background-position: 0 37.152778%;}
.flag-guineabissau { background-position: 0 37.5%;}
.flag-guyana { background-position: 0 37.847222%;}
.flag-haiti { background-position: 0 38.194444%;}
.flag-heardislandandmcdonald { background-position: 0 38.541667%;}
.flag-honduras { background-position: 0 38.888889%;}
.flag-hongkong { background-position: 0 39.236111%;}
.flag-hungary { background-position: 0 39.583333%;}
.flag-iaea { background-position: 0 39.930556%;}
.flag-iho { background-position: 0 40.277778%;}
.flag-iceland { background-position: 0 40.625%;}
.flag-india { background-position: 0 40.972222%;}
.flag-indonesia { background-position: 0 41.319444%;}
.flag-international { background-position: 0 41.666667%;}
.flag-iran, .flag-faroes { background-position: 0 42.013889%;}
.flag-iraq { background-position: 0 42.361111%;}
.flag-ireland { background-position: 0 42.708333%;}
.flag-islamicconference { background-position: 0 43.055556%;}
.flag-isleofman { background-position: 0 43.402778%;}
.flag-israel { background-position: 0 43.75%;}
.flag-italy { background-position: 0 44.097222%;}
.flag-jamaica { background-position: 0 44.444444%;}
.flag-japan { background-position: 0 44.791667%;}
.flag-jersey { background-position: 0 45.138889%;}
.flag-jordan { background-position: 0 45.486111%;}
.flag-kazakhstan { background-position: 0 45.833333%;}
.flag-kenya { background-position: 0 46.180556%;}
.flag-kiribati { background-position: 0 46.527778%;}
.flag-kosovo { background-position: 0 46.875%;}
.flag-kuwait { background-position: 0 47.222222%;}
.flag-kyrgyzstan { background-position: 0 47.569444%;}
.flag-laos { background-position: 0 47.916667%;}
.flag-latvia { background-position: 0 48.263889%;}
.flag-lebanon { background-position: 0 48.611111%;}
.flag-lesotho { background-position: 0 48.958333%;}
.flag-liberia { background-position: 0 49.305556%;}
.flag-libya { background-position: 0 49.652778%;}
.flag-liechtenshein { background-position: 0 50%;}
.flag-lithuania { background-position: 0 50.347222%;}
.flag-luxembourg { background-position: 0 50.694444%;}
.flag-macau, flag-macao { background-position: 0 51.041667%;}
.flag-macedonia { background-position: 0 51.388889%;}
.flag-madagascar { background-position: 0 51.736111%;}
.flag-malawi { background-position: 0 52.083333%;}
.flag-malaysia { background-position: 0 52.430556%;}
.flag-maldives { background-position: 0 52.777778%;}
.flag-mali { background-position: 0 53.125%;}
.flag-malta { background-position: 0 53.472222%;}
.flag-marshallislands { background-position: 0 53.819444%;}
.flag-martinique { background-position: 0 54.166667%;}
.flag-mauritania { background-position: 0 54.513889%;}
.flag-mauritius { background-position: 0 54.861111%;}
.flag-mayotte { background-position: 0 55.208333%;}
.flag-mexico { background-position: 0 55.555556%;}
.flag-micronesia { background-position: 0 55.902778%;}
.flag-moldova { background-position: 0 56.25%;}
.flag-monaco { background-position: 0 56.597222%;}
.flag-mongolia { background-position: 0 56.944444%;}
.flag-montenegro { background-position: 0 57.291667%;}
.flag-montserrat { background-position: 0 57.638889%;}
.flag-morocco { background-position: 0 57.986111%;}
.flag-mozambique { background-position: 0 58.333333%;}
.flag-myanmar { background-position: 0 58.680556%;}
.flag-nato { background-position: 0 59.027778%;}
.flag-namibia { background-position: 0 59.375%;}
.flag-nauru { background-position: 0 59.722222%;}
.flag-nepal { background-position: 0 60.069444%;}
.flag-netherlands { background-position: 0 60.416667%;}
.flag-netherlandsantilles { background-position: 0 60.763889%;}
.flag-newcaledonia { background-position: 0 61.111111%;}
.flag-newzealand { background-position: 0 61.458333%;}
.flag-nicaragua { background-position: 0 61.805556%;}
.flag-niger { background-position: 0 62.152778%;}
.flag-nigeria { background-position: 0 62.5%;}
.flag-niue { background-position: 0 62.847222%;}
.flag-norfolk { background-position: 0 63.194444%;}
.flag-northamerica { background-position: 0 63.541667%;}
.flag-northkorea { background-position: 0 63.888889%;}
.flag-northerncyprus { background-position: 0 64.236111%;}
.flag-northernireland { background-position: 0 64.583333%;}
.flag-northernmariana { background-position: 0 64.930556%;}
.flag-norway { background-position: 0 65.277778%;}
.flag-oas { background-position: 0 65.625%;}
.flag-opec { background-position: 0 65.972222%;}
.flag-oceania { background-position: 0 66.319444%;}
.flag-olimpics { background-position: 0 66.666667%;}
.flag-oman { background-position: 0 67.013889%;}
.flag-pakistan { background-position: 0 67.361111%;}
.flag-palau { background-position: 0 67.708333%;}
.flag-palestine { background-position: 0 68.055556%;}
.flag-panama { background-position: 0 68.402778%;}
.flag-papuanewguinea { background-position: 0 68.75%;}
.flag-paraguay { background-position: 0 69.097222%;}
.flag-peru { background-position: 0 69.444444%;}
.flag-philippines { background-position: 0 69.791667%;}
.flag-pitcairn { background-position: 0 70.138889%;}
.flag-poland { background-position: 0 70.486111%;}
.flag-portugal { background-position: 0 70.833333%;}
.flag-puertorico { background-position: 0 71.180556%;}
.flag-qatar { background-position: 0 71.527778%;}
.flag-quebec { background-position: 0 71.875%;}
.flag-redcross { background-position: 0 72.222222%;}
.flag-reunion { background-position: 0 72.569444%;}
.flag-romania { background-position: 0 72.916667%;}
.flag-russia { background-position: 0 73.263889%;}
.flag-rwanda { background-position: 0 73.611111%;}
.flag-saintbarthelemy { background-position: 0 73.958333%;}
.flag-sainthelena { background-position: 0 74.305556%;}
.flag-saintlucia { background-position: 0 74.652778%;}
.flag-saintmartin { background-position: 0 75%;}
.flag-saintpierreandmiquelon { background-position: 0 75.347222%;}
.flag-samoa { background-position: 0 75.694444%;}
.flag-sanmarino { background-position: 0 76.041667%;}
.flag-saotomeandprincipe { background-position: 0 76.388889%;}
.flag-saudiarabia { background-position: 0 76.736111%;}
.flag-scotland { background-position: 0 77.083333%;}
.flag-senegal { background-position: 0 77.430556%;}
.flag-serbia { background-position: 0 77.777778%;}
.flag-seychelles { background-position: 0 78.125%;}
.flag-sierraleone { background-position: 0 78.472222%;}
.flag-singapore { background-position: 0 78.819444%;}
.flag-sintmaarten { background-position: 0 79.166667%;}
.flag-slovakia { background-position: 0 79.513889%;}
.flag-slovenia { background-position: 0 79.861111%;}
.flag-solomonislands { background-position: 0 80.208333%;}
.flag-somalia { background-position: 0 80.555556%;}
.flag-somaliland { background-position: 0 80.902778%;}
.flag-southafrica { background-position: 0 81.25%;}
.flag-southamerica { background-position: 0 81.597222%;}
.flag-southgeorgiaandsouthsandwich { background-position: 0 81.944444%;}
.flag-southkorea { background-position: 0 82.291667%;}
.flag-southsudan { background-position: 0 82.638889%;}
.flag-spain { background-position: 0 82.986111%;}
.flag-srilanka { background-position: 0 83.333333%;}
.flag-stkittsandnevis { background-position: 0 83.680556%;}
.flag-stvincentandthegrenadines { background-position: 0 84.027778%;}
.flag-sudan { background-position: 0 84.375%;}
.flag-suriname { background-position: 0 84.722222%;}
.flag-svalbardandjanmayen { background-position: 0 85.069444%;}
.flag-swaziland { background-position: 0 85.416667%;}
.flag-sweden { background-position: 0 85.763889%;}
.flag-switzerland { background-position: 0 86.111111%;}
.flag-syria { background-position: 0 86.458333%;}
.flag-tahiti { background-position: 0 86.805556%;}
.flag-taiwan { background-position: 0 87.152778%;}
.flag-tajikistan { background-position: 0 87.5%;}
.flag-unitedrepublicoftanzania { background-position: 0 87.847222%;}
.flag-thailand { background-position: 0 88.194444%;}
.flag-timorleste { background-position: 0 88.541667%;}
.flag-togo { background-position: 0 88.888889%;}
.flag-tokelau { background-position: 0 89.236111%;}
.flag-tonga { background-position: 0 89.583333%;}
.flag-trinidadtobago { background-position: 0 89.930556%;}
.flag-tristandacunha { background-position: 0 90.277778%;}
.flag-tunisia { background-position: 0 90.625%;}
.flag-turkey { background-position: 0 90.972222%;}
.flag-turkmenistan { background-position: 0 91.319444%;}
.flag-turksandcaicosislands { background-position: 0 91.666667%;}
.flag-tuvalu { background-position: 0 92.013889%;}
.flag-usa { background-position: 0 92.361111%;}
.flag-uganda { background-position: 0 92.708333%;}
.flag-ukraine { background-position: 0 93.055556%;}
.flag-unitedarabemirates, .flag-uae { background-position: 0 93.402778%;}
.flag-unitedkingdom { background-position: 0 93.75%;}
.flag-uruguay { background-position: 0 94.097222%;}
.flag-uzbekistan { background-position: 0 94.444444%;}
.flag-vanutau { background-position: 0 94.791667%;}
.flag-vaticancity { background-position: 0 95.138889%;}
.flag-venezuela { background-position: 0 95.486111%;}
.flag-vietnam { background-position: 0 95.833333%;}
.flag-virginislandsbritish { background-position: 0 96.180556%;}
.flag-virginislandsus { background-position: 0 96.527778%;}
.flag-wales { background-position: 0 96.875%;}
.flag-wallisandfutuna { background-position: 0 97.222222%;}
.flag-westernsahara { background-position: 0 97.569444%;}
.flag-world { background-position: 0 97.916667%;}
.flag-yemen { background-position: 0 98.263889%;}
.flag-zambia { background-position: 0 98.611111%;}
.flag-zimbabwe { background-position: 0 98.958333%;}
.flag-allupcoming { background-position: 0 99.305556%;}
.flag-america { background-position: 0 99.652778%;}
.flag-withvideo { background-position: 0 100%;}
@if $header-lang-with-flag == true{
  $languages:(
    eng: flag-greatbritain,
    arm: flag-armenia,
    rus: flag-russia,
    alb: flag-albania,
    bgr: flag-bulgaria,
    bos: flag-bosniaherzegovina,
    chi: flag-china,
    zhh: flag-china,
    cze: flag-czechrepublic,
    dut: flag-germany,
    fas: flag-faroes,
    fre: flag-france,
    fin: flag-finland,
    geo: flag-georgia,
    ger: flag-germany,
    gre: flag-greece,
    hrv: flag-croatia,
    heb: flag-israel,
    ita: flag-italy,
    jpn: flag-japan,
    kor: flag-southkorea,
    lat: flag-latvia,
    lit: flag-lithuania,
    mac: flag-macedonia,
    nor: flag-norway,
    pol: flag-poland,
    por: flag-portugal,
    pt-br: flag-brazil,
    slv: flag-slovenia,
    spa: flag-spain,
    srp: flag-serbia,
    swe: flag-sweden,
    tur: flag-turkey,
    ukr: flag-ukraine,
    vnm: flag-vietnam,
    kur: flag-hungary,
    est: flag-estonia,
    hun: flag-hungary,
    arb: flag-arableague,
    slk: flag-slovakia,
    rum: flag-romania,
    aze: flag-azerbaijan,
  );
  @each $className, $extendSelector in $languages {
    .separator-contain-nav .settings-icon-contain.leng-b {
      &.selected-#{$className}:before,
      ~ div .drop-items-contain-b > ul > li.#{$className}:before {
        background-color: transparent;
        background-image: url(../../../images/flags.png#{$delete-cache});
        background-size: 100%;
        @extend #{"." + $extendSelector};
      }
    }
  }
  .separator-contain-nav .settings-icon-contain.leng-b {
    padding: 0 18px 0 30px;
    &:before, ~ div .drop-items-contain-b > ul > li:before {
      border-radius:0
    }
    ~ div .drop-items-contain-b > ul > li {
      &.active:after,
      &:hover:after,
      &.active:hover:after{
        display:none;
      }
    }
    &:before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 2px;
      left: 5px;
    }
  }
}