@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  src: local('mardoto-regular'),
  url('../../../fonts/arm/mardoto-regular-webfont.woff2#{$delete-cache}') format('woff2'),
  url('../../../fonts/arm/mardoto-regular-webfont.woff#{$delete-cache}') format('woff'),
  url('../../../fonts/arm/mardoto-regular-webfont.ttf#{$delete-cache}') format('truetype');
  unicode-range: U+0530-058F;
  font-display: fallback;
}
@font-face {
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
  src: local('mardoto-bold'),
  url('../../../fonts/arm/mardoto-bold-webfont.woff2#{$delete-cache}') format('woff2'),
  url('../../../fonts/arm/mardoto-bold-webfont.woff#{$delete-cache}') format('woff'),
  url('../../../fonts/arm/mardoto-bold-webfont.ttf#{$delete-cache}') format('truetype');
  unicode-range: U+0530-058F;
  font-display: fallback;
}
@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  src: local('Roboto'),
  url('../../../fonts/default/Roboto.woff2#{$delete-cache}') format('woff2'),
  url('../../../fonts/default/Roboto.woff#{$delete-cache}') format('woff'),
  url('../../../fonts/default/Roboto.ttf#{$delete-cache}') format('truetype'),
  url('../../../fonts/default/Roboto.eot#{$delete-cache}'),
  url('../../../fonts/default/Roboto.eot#{$delete-cache}') format('embedded-opentype'),
  url('../../../fonts/default/Roboto.svg#{$delete-cache}') format('svg');
  font-display: fallback;
}
@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: local('Roboto Bold'),
  url('../../../fonts/default/RobotoBold.woff2#{$delete-cache}') format('woff2'),
  url('../../../fonts/default/RobotoBold.woff#{$delete-cache}') format('woff'),
  url('../../../fonts/default/RobotoBold.ttf#{$delete-cache}') format('truetype'),
  url('../../../fonts/default/RobotoBold.eot#{$delete-cache}'),
  url('../../../fonts/default/RobotoBold.eot#{$delete-cache}') format('embedded-opentype'),
  url('../../../fonts/default/RobotoBold.svg#{$delete-cache}') format('svg');
  font-display: fallback;
}
@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  src: local('IRAN_SemiBold'),
  url('../../../fonts/farsi/IRAN_SemiBold.woff2#{$delete-cache}') format('woff2'),
  url('../../../fonts/farsi/IRAN_SemiBold.woff#{$delete-cache}') format('woff'),
  url('../../../fonts/farsi/IRAN_SemiBold.ttf#{$delete-cache}') format('truetype'),
  url('../../../fonts/farsi/IRAN_SemiBold.eot#{$delete-cache}');
  unicode-range: U+0600-06FF;
  font-display: fallback;
}
@font-face {
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
  src: local('IRAN_SemiBold'),
  url('../../../fonts/farsi/IRAN_SemiBold.woff2#{$delete-cache}') format('woff2'),
  url('../../../fonts/farsi/IRAN_SemiBold.woff#{$delete-cache}') format('woff'),
  url('../../../fonts/farsi/IRAN_SemiBold.ttf#{$delete-cache}') format('truetype'),
  url('../../../fonts/farsi/IRAN_SemiBold.eot#{$delete-cache}');
  unicode-range: U+0600-06FF;
  font-display: fallback;
}


@font-face {
  font-family: 'sport-icon';
  src: url('../../../fonts/sport/fonts/icomoon.eot#{$delete-cache}');
  src: url('../../../fonts/sport/fonts/icomoon.eot#{$delete-cache}') format('embedded-opentype'),
  url('../../../fonts/sport/fonts/icomoon.woff#{$delete-cache}') format('woff'),
  url('../../../fonts/sport/fonts/icomoon.ttf#{$delete-cache}') format('truetype'),
  url('../../../fonts/sport/fonts/icomoon.svg#{$delete-cache}#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'icomoon';
  src: url('../../../fonts/icomoon/fonts/icomoon.eot#{$delete-cache}');
  src: url('../../../fonts/icomoon/fonts/icomoon.eot#{$delete-cache}') format('embedded-opentype'),
  url('../../../fonts/icomoon/fonts/icomoon.woff#{$delete-cache}') format('woff'),
  url('../../../fonts/icomoon/fonts/icomoon.ttf#{$delete-cache}') format('truetype'),
  url('../../../fonts/icomoon/fonts/icomoon.svg#{$delete-cache}#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}