.product-list-contain{
  float: left;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.product-list-contain > .md-progress-circular,
.featured-game-list-b > .md-progress-circular {
  margin: 0 auto;
}
.featured-game-list-b > .md-progress-circular {
  margin-top: 40px;
}
.product-list-contain .product-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  > a {
    width: 100%;
    height: 100%;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    position: relative;
    transform: translate3d(0,0,0);
    min-height: 180px;
    text-decoration: none;
    box-sizing: border-box;
    transition: background 250ms;
    background: lighten( desaturate( adjust-hue( $skin-color, -1deg ), 11 ), 7 );
    background: -moz-linear-gradient(top,  lighten( desaturate( adjust-hue( $skin-color, -1deg ), 11 ), 7 ) 0%, lighten( desaturate( $skin-color, 7 ), 3 ) 100%);
    background: -webkit-linear-gradient(top,  lighten( desaturate( adjust-hue( $skin-color, -1deg ), 11 ), 7 ) 0%,lighten( desaturate( $skin-color, 7 ), 3 ) 100%);
    background: linear-gradient(to bottom,  lighten( desaturate( adjust-hue( $skin-color, -1deg ), 11 ), 7 ) 0%,lighten( desaturate( $skin-color, 7 ), 3 ) 100%);
    background-clip: content-box;
    > img {
      display: block;
      float: left;
      width: 100%;
    }
    &.show {
      background: none;
      min-height: auto;
    }
    &:before {
      display: none;
    }
    &:hover {
      background: desaturate( adjust-hue( $skin-color, -1deg ), 3 );
      background: -moz-linear-gradient(top,  desaturate( adjust-hue( $skin-color, -1deg ), 3 ) 0%, lighten( desaturate( adjust-hue( $skin-color, -1deg ), 11 ), 7 ) 100%);
      background: -webkit-linear-gradient(top,  desaturate( adjust-hue( $skin-color, -1deg ), 3 ) 0%,lighten( desaturate( adjust-hue( $skin-color, -1deg ), 11 ), 7 ) 100%);
      background: linear-gradient(to bottom,  desaturate( adjust-hue( $skin-color, -1deg ), 3 ) 0%,lighten( desaturate( adjust-hue( $skin-color, -1deg ), 11 ), 7 ) 100%);
      background-clip: content-box;
      &.show {
        background: none;
        min-height: auto;
      }
    }
    + a {
      @include ltr {
        margin-left: 10px;
      }
      @include rtl {
        margin-right: 10px;
      }
    }
  }
}
.icon-container-product{
  float: left;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  height: 88px;
  position: relative;
  color: rgba($text-palette-1, 0.7);
  transition: color 250ms;
  transform: translate3d(0,0,0);
  font: 48px/52px icomoon;
  animation: shadowSlide 4s infinite;
  animation-fill-mode: both;
  @if $white-skin == true {
    color: #2A3041;
  }
  &.cms-jcon-fantasy-sport {
    font-size: 74px;
  }
}
$anim-time: 5;
@keyframes shadowSlide {
  @if $white-skin == true {
    0%, 50%, 100% {
      color: #2A3042;
    }
    25% {
      color: #505767;
    }
  } @else {
    0%, 50%, 100% {
      text-shadow: 0 0 4px rgba(darken($hero-color, 20), 0), 0 0 4px rgba(0, 0, 0, 0), 0 0 5px rgba(darken($hero-color, 15), 0);
      color: rgba($text-palette-1, 0.7);
    }
    25% {
      text-shadow: 0 0 54px rgba(lighten($hero-color, 20), 1), 0 0 4px rgba(0, 0, 0, 0.21), 0 0 5px rgba(darken($hero-color, 15), 0.39);
      color: $text-palette-1;
    }
  }
}
.product-list-contain .product-list-wrapper > a {
  &:nth-child(2) .icon-container-product {
    animation-delay: #{2.0 / $anim-time}s;
  }
  &:nth-child(3) .icon-container-product {
    animation-delay: #{2.0 / $anim-time * 2}s;
  }
  &:nth-child(4) .icon-container-product {
    animation-delay: #{2.0 / $anim-time * 3}s;
  }
  &:nth-child(5) .icon-container-product {
    animation-delay: #{2.0 / $anim-time * 4}s;
  }
  &:nth-child(6) .icon-container-product {
    animation-delay: #{2.0 / $anim-time * 5}s;
  }
  &:hover .icon-container-product:before {
    animation: pulse-j 800ms ease-out;
  }
}
@keyframes pulse-j {
  0%, 40%, 100% {
    transform: translate3d(0,36px,0);
  }
  20% {
    transform: translate3d(0,10px,0);
  }
  60% {
    transform: translate3d(0,28px,0);
  }
  70% {
    transform: translate3d(0,30px,0);
  }
}
.icon-container-product:before {
  content: "\69";
  display: block;
  transform: translate3d(0,36px,0);
}
.icon-container-product.sportsbook:before{content: "\e6d7";}
.icon-container-product.casino:before{content: "\e6d6";}
.icon-container-product.live.casino:before{content: "\71";}
.icon-container-product.belote:before{content: "\e6d0";}
.icon-container-product.backgammon:before{content: "\e6cf";}
.icon-container-product.Pool.Betting:before, .icon-container-product.Colossusbets:before{content: "\e6fb";}
.icon-container-product.Fantasy:before{
  content: "\67";
  font-size: 66px;
  display: block;
}
.icon-container-product.live.russian.poker:before, .icon-container-product.Live.Russian.Poker:before{content: "\e903";}
.icon-container-product.statistics:before, .icon-container-product.Statistics:before{content: "\e6de";}
.icon-container-product.free.quiz:before, .icon-container-product.Free.Quiz:before{content: "\e912";}
.icon-container-product.poker:before{
  content: "\e6c0";
  font-size: 64px;
}
.icon-container-product.Fortune:before {
  content: "\e6f8";
}
.product-list-contain .product-list-wrapper > a:hover > .icon-container-product {color: $text-palette-2;}
.product-list-contain .product-list-wrapper > a > .product-title-animation-wrapper {
  float: left;
  width: 100%;
  margin: 17px 0 0;
  overflow: hidden;
  > h4{
    float: left;
    width: 100%;
    padding: 0 4px;
    text-align: center;
    box-sizing: border-box;
    font: 700 14px/16px $font-f;
    color: $text-palette-2;
    text-transform: uppercase;
    transition: color 250ms;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    overflow: hidden;
  }
  &.has-animation {
    > h4 {
      &:first-child {
        animation-name: product-title-animation-first;
      }
      &:nth-child(2) {
        animation-name: product-title-animation-second;
        max-height: 0;
      }
    }
  }
}

@keyframes product-title-animation-first {
  0% {
    max-height: 48px;
  }
  20%, 60% {
    max-height: 0;
  }
  80% {
    max-height: 48px;
  }
}
@keyframes product-title-animation-second {
  0% {
    max-height: 0;
  }
  10%, 50% {
    max-height: 48px;
  }
  70% {
    max-height: 0;
  }
}

.product-list-contain .product-list-wrapper > a:hover > .product-title-animation-wrapper > h4{
  color: $text-palette-1;
}
.product-list-contain .product-list-wrapper > a > button {
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 36px;
  background: $skin-palette-12;
  border: 0;
  font: 12px $font-f;
  color: $text-palette-4;
  cursor: pointer;
  transition: color 250ms;
  overflow: hidden;
  padding: 0;
  @if $white-skin == true {
    background: #F6F6F7;
  }
  @media screen and (max-width: 1260px) {
    font-size: 11px;
  }
  span {
    display: block;
    position: relative;
    z-index: 10;
  }
}
.product-list-contain .product-list-wrapper > a > button:before {
  content: "";
  display: block;
  width: 100%;
  left: 0;
  height: 1px;
  top: -2px;
  background: $hero-color;
  transition: background 250ms;
  position: absolute;
}

.product-list-contain .product-list-wrapper > a > button:after {
  content: "";
  display: block;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
  background: $hero-color;
  transition: opacity 180ms, max-height 240ms;
  position: absolute;
  opacity: 0;
  max-height: 0;
}

.product-list-contain .product-list-wrapper > a:hover {
  > button {
    color: set-color($hero-color);
    &:after {
      opacity: 1;
      max-height: 100%;
    }
  }
}
.product-list-contain .product-list-wrapper > a > button:hover:before {
  background: darken( desaturate( adjust-hue( $skin-color, 4deg ), 11 ), 1 );
}
.featured-game-list-b{
  float: left;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  height: 195px;
  background: $skin-palette-12;
}
.title-b-wg{
  float: left;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  position: relative;
  @include ltr {
    padding: 0 160px 0 20px;
  }
  @include rtl {
    padding: 0 20px 0 160px;
  }
}
.title-b-wg > h3{
  float: left;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font: 16px/50px $font-f;
  color: $text-palette-4;
  text-transform: uppercase;
}
.mini-slider-b-contain{
  height: 50px;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  @include ltr {
    right: 20px;
  }
  @include rtl {
    left: 20px;
  }
}
.change-b-slide{
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: lighten( desaturate( adjust-hue( $skin-color, 1deg ), 21 ), 11 );
  transition: background 200ms;
  cursor: pointer;
  @include ltr {
    float: left;
    margin: 19px 0 0 7px;
  }
  @include rtl {
    float: right;
    margin: 19px 7px 0 0;
  }
}
.change-b-slide.active{
  background: $hero-color;
  cursor: default;
}
.games-view-slider-contain{
  float: left;
  width: 100%;
  height: 145px;
  box-sizing: border-box;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.games-view-slider-contain > ul{
  float: left;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.games-view-slider-contain > ul > li{
  width: calc((100% - 22px) / 3);
  height: 100%;
  box-sizing: border-box;
  background: lighten( desaturate( $skin-color, 7 ), 4 );
  position: relative;
  animation: fadeInUp 0.3s;
  animation-fill-mode: both;
  transform: translate3d(0, 0, 0);
  @include ltr {
    float: left;
    margin: 0 0 0 10px;
    padding: 0 0 0 100px;
  }
  @include rtl {
    float: right;
    margin: 0 10px 0 0;
    padding: 0 100px 0 0;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.games-view-slider-contain > ul > li:nth-child(1),
.games-view-slider-contain > ul > li:nth-child(3),
.games-view-slider-contain > ul.column-2 > li:nth-child(2) {
  animation-delay: 0.15s;
  animation-duration: 0.6s;
}
.games-view-slider-contain > ul.column-2 > li:nth-child(1),
.games-view-slider-contain > ul.column-1 > li:nth-child(1) {
  animation-delay: 0s;
  animation-duration: 0.3s;
}
.games-view-slider-contain > ul > li:first-child{
  @include ltr {
    margin: 0;
  }
  @include rtl {
    margin: 0;
  }
}
.date-championship-logo {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  background: $skin-palette-10;
  box-sizing: border-box;
  @include ltr {
    left: 0;
  }
  @include rtl {
    right: 0;
  }
}
.date-championship-logo > p{
  box-sizing: border-box;
  float: left;
  width: 100%;
  height: 100%;
  color: $text-palette-3;
  font: 12px/16px $font-f;
  text-align: center;
  padding: 84px 10px 16px;
  background-size:auto 48px;
  background-position: 50% 20px;
  background-repeat: no-repeat;
}

.date-championship-logo > p:first-line {
  color: $text-palette-4;
  font-size: 11px;
}
.date-championship-logo > p > b{
  float: left;
  width: 100%;
  display: inline-block;
  color: $text-palette-3;
  font-weight: normal;
}
.date-championship-logo > p > i{
  float: left;
  width: 100%;
  display: inline-block;
  font-style: normal;
  font-weight: bold;
}
.competition-logo-contain{
  float: left;
  width: 100%;
  height: 66px;
}
.game-full-information-w{
  float:left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 15px 20px 0;
  background: $skin-palette-12 no-repeat 50% 50% / cover;
}
.game-full-information-w:before {
  position: absolute;
  bottom: 14px;
  color: rgba(set-color($skin-palette-12),0.7);
  display: block;
  font: 18px/18px sport-icon;
  @include ltr {
    right: 20px;
  }
  @include rtl {
    left: 20px;
  }
}
.game-full-information-w > img{
  position: absolute;
  top: 0;
  right: 0;
  width: 110%;
  height: auto;
  z-index: 11;
}
.team-names-wrapper-b{
  float: left;
  width: 100%;
  height: 86px;
  box-sizing: border-box;
  position: relative;
  z-index: 22;
}
.team-names-wrapper-b > ul{
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.team-names-wrapper-b > ul > li{
  float: left;
  width: 100%;
  display: table;
  box-sizing: border-box;
  height: 22px;
  + li {
    margin-top: 10px;
  }
}
.team-names-wrapper-b > ul > li > p {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  font: 16px/22px $font-f;
  color: rgba(set-color($skin-palette-12), 0.8);
  background-repeat: no-repeat;
  background-size: 20px;
  display: table-cell;
  @include ltr {
    background-position: 0 50%;
  }
  @include rtl {
    background-position: 100% 50%;
  }
}
.team-names-wrapper-b > ul > li > p > b {
  font-weight: normal;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  @include ltr {
    padding: 0 0 0 35px;
  }
  @include rtl {
    padding: 0 35px 0 0;
  }
}
.team-names-wrapper-b > ul > li > span {
  box-sizing: border-box;
  display: table-cell;
  text-align: right;
  font: 700 16px/22px $font-f;
  height: 100%;
  color: map-get($coeff-color-map, featured-games);
  position: relative;
  @include ltr {
    padding-left: 10px;
  }
  @include rtl {
    padding-right: 10px;
  }
  &:before{
    position: absolute;
    top: -2px;
    @include ltr {
      left: -2px;
    }
    @include rtl {
      right: -2px;
    }
  }
  &.up-0:before,
  &.up-1:before,
  &.down0:before,
  &.down-1:before {
    box-sizing: border-box;
    font: 12px/28px icomoon;
    content: "\e66d";
    display: inline-block;
    transform: translate3d(0, 0, 0);
    animation-duration: 7000ms;
    animation-fill-mode: forwards;
    @include rtl {
      transform: none;
    }
    @if ($classic-switch-odds-state-colors == true) {
      color: #e9044a;
    } @else {
      color: #04e914;
    }
  }
  &.down0:before,
  &.down-1:before {
    content: "\e66c";
    box-sizing: border-box;
    @if ($classic-switch-odds-state-colors == true) {
      color: #04e914;
    } @else {
      color: #e9044a;
    }
  }
  &.up-0:before { animation-name: odds-arrow-up-0; }
  &.up-1:before { animation-name: odds-arrow-up-1; }
  &.down0:before { animation-name: odds-arrow-down0; }
  &.down-1:before { animation-name: odds-arrow-down-1; }
}
.team-names-wrapper-b > ul > li > span > i {
  box-sizing: border-box;
  display: inline-block;
  font-style: normal;
}
.game-link-wrapper-b{
  float: left;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 22;
  margin:  8px 0 0;
}
.game-link-wrapper-b > a{
  max-width: 80%;
  text-decoration: none;
  color: set-color($brand-color-1);
  font: 12px/14px $font-f;
  text-transform: uppercase;
  padding: 6px;
  background: $brand-color-1;
  border: 1px solid $brand-color-1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  transition: background 500ms, border-color 500ms;
  @include ltr {
    float: left;
  }
  @include rtl {
    float: right;
  }
  @media screen and (max-width: 1260px) {
    max-width: 148px;
  }
}
.games-view-slider-contain > ul > li:hover .game-link-wrapper-b > a{
  background: darken($brand-color-1, 10);
  border-color: darken($brand-color-1, 10);
}
.body-wrapper.homepage {
  .temp_bg, .news-block-section {
    min-height: 350px;
  }
  .lmb-time-selector {
    box-shadow: none;
    background: $skin-palette-12;
  }
  .lmb-time-selector h3 {
    color: $text-palette-4;
  }
  .big-cash {
    background: none;
  }
  .new-homepage .featured-games-container {
    border-color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
  }
  .lmb-sport-select-j {
    margin: 0;
    height: 30px;
  }
  .lmb-sport-select-j ul {
    margin: 0;
  }
  .news-block-section .block-news-preview {
    margin: 0;
    border: 0;
  }
  .news-block-section .block-news-preview .news-img-block {
    height: 300px;
    box-shadow: 0 2px 0 $skin-palette-12;
  }
  .news-block-section .block-news-preview .news-list {
    height: 300px;
    margin: 0;
    position: relative;
    > ul {
      width: calc(100% - 5px);
      padding-bottom: 40px;
    }
  }
  .news-block-section .block-news-preview .all-news-link a {
    padding: 12px 0;
    box-shadow: 0 2px 0 $skin-palette-12;
    width: calc(100% - 22px);
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      width: calc(100% - 9px);
    }
    background: $skin-palette-10;
  }
  .news-block-section .block-news-preview .news-list ul li {
    background: lighten( desaturate( $skin-palette-10, 7 ), 4 );
    border-bottom-color: $skin-palette-11;
  }
  .news-block-section .block-news-preview .news-list ul li p.date-news-info {
    color: $text-palette-4;
  }
  .news-block-section .block-news-preview .news-list ul li p.news-text-inform {
    color: $text-palette-3;
  }
  .news-block-section .block-news-preview .news-list ul li.active-news {
    background: $skin-palette-12;
  }
  .news-block-section .block-news-preview .news-img-block p {
    background: rgba(lighten( desaturate( $skin-palette-10, 7 ), 4 ), 0.9);
  }
  .news-block-section .block-news-preview a {
    color: set-color(lighten( desaturate( $skin-palette-10, 7 ), 4 ), #000000, #f3f3f5);
  }
  .new-homepage .nav-news-sport ul li {
    transition: box-shadow 250ms;
  }
  .new-homepage .nav-news-sport ul li a {
    color: $text-palette-4;
    transition: color 250ms;
    &:hover {
      color: $text-palette-3;
    }
  }
  .new-homepage .nav-news-sport ul li h3 {
    color: $text-palette-4;
  }
  .new-homepage .nav-news-sport ul .last-item a {
    background: desaturate( adjust-hue( $skin-palette-10, 5deg ), 4 );
  }
  @media screen and (max-width: 1260px) {
    .new-homepage .featured-games-container {
      margin: 0;
    }
  }
  .nav-news-sport ul .last-item .contein-games ul li a {
    background: none;
  }
}
div.slider-image-wrapper-b {
  @if $homepage-banners-size == default {
    background-size: auto 100%;
  } @else {
    background-size: $homepage-banners-size;
  }
  @media screen and (max-width: 1260px) {
    background-size: 100%;
  }
}


//homepage banner hover START

.product-list-contain .product-list-wrapper > a {
  &.show{
      overflow: hidden;
    .product-slider-image {
      transition: 0.6s transform ease;
    }
    &:hover{
          .product-slider-image {
            transform: scale(1.13);
        }
     }
  }
}
//homepage banner hover END


.product-list-contain .product-list-wrapper > a .product-slider-image {
  display: none;
  width: 100%;
  &:before, &:after {
    display: none;
  }
  &.show {
    display: block;
    position: relative;
    ~ .icon-container-product,
    ~ h4,
    ~ .product-title-animation-wrapper {
      display: none;
    }
    ~ button {
      position: relative;
    }
    &.hide-button {
      ~ button {
        display: none;
      }
    }



  }
}
.nav-news-sport-j {
  display: table;
  float: left;
  width: 100%;
  height: 50px;
  background: $skin-palette-12;
  > div {
    display: table-cell;
    vertical-align: top;
    position: relative;
    z-index: 50;
  }
}
.nav-news-sport-cat-j > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 50px;
  .fake-width {
    width: calc(100% + 1px);
    padding: 0 1px 0 0
  }
}
.nav-news-sport-cat-j a, .hp-news-more-j > span {
  display: block;
  padding: 0 9px;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  height: 50px;
  font: 12px/50px $font-f;
  color: $text-palette-4;
  transition: 300ms color, 300ms box-shadow,  300ms background;
  position: relative;
  @include ltr {
    float: left;
  }
  @include rtl {
    float: right;
  }
  &:hover {
    color: $text-palette-1;
  }
}
.nav-news-sport-cat-j a{
  border-right: 1px solid $skin-palette-10;
  box-shadow: inset 0 0 0 $hero-color;
  &.active {
    box-shadow: inset 0 -3px 0 $hero-color;
  }
}
.sport-news-link-t:after{
  content: '1';
  font-size: 8px;
  line-height: 12px;
  font-family: sans-serif;
  text-align: center;
  display: block;
  background: $hero-color;
  color: set-color($hero-color);
  width: 10px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  right: 8px;
}
.hp-news-more-j {
  width: 1%;
  .hp-news-group-j {
    position: absolute;
    top: 100%;
    display: none;
    width: 320px;
    background: $skin-palette-10;
    box-sizing: border-box;
    padding: 20px 20px 6px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 10px -2px rgba(0, 0, 0, 0.2);
    @include ltr {
      right: 0;
    }
    @include rtl {
      left: 0;
    }
    .hp-news-category-search-j {
      float: left;
      width: 100%;
      height: 36px;
      margin: 0 0 12px;
      position: relative;
      input {
        display: block;
        float: left;
        width: 100%;
        height: 36px;
        background: none;
        border: 0;
        box-shadow: 0 0 0 1px $text-palette-6 inset;
        font: 12px/36px $font-f;
        color: $text-palette-4;
        box-sizing: border-box;
        transition: box-shadow 240ms;
        @include ltr {
          padding: 0 30px 0 12px;
        }
        @include rtl {
          padding: 0 12px 0 30px;
        }
        @include placeholder {
          font: 12px/36px $font-f;
          color: $text-palette-4;
        }
        &:focus {
          box-shadow: 0 0 0 1px $text-palette-4 inset;
        }
      }
      &:before {
        box-sizing: border-box;
        position: absolute;
        font: 14px/36px icomoon;
        content: "\e6d4";
        color: $text-palette-4;
        display: block;
        top: 0;
        z-index: 5;
        pointer-events: none;
        @include ltr {
          right: 12px;
        }
        @include rtl {
          left: 12px;
        }
      }
    }
    .hp-new-more-cats-j {
      float: left;
      width: 100%;
      height: 226px;
      @include scroll($scroll: auto);
      &::-webkit-scrollbar {
        background: transparent;
      }
      .hp-news-group-letter-j, .hp-news-group-letter-j ~ div {
        border-bottom: 1px solid $skin-palette-11;
        padding: 12px 0px;
        font: 14px/16px $font-f;
        color: $text-palette-4;
        transition: 300ms color;
        width: 100%;
      }
      .hp-news-group-letter-j {
        color: $text-palette-3;
        font-size: 16px;
        padding: 11px 0;
      }
      .hp-news-group-letter-j ~ div:hover {
        color: $text-palette-1;
      }
    }
  }
  &:hover {
    .hp-news-group-j {
      display: block;
    }
    > span {
      background: $skin-palette-10;
      color: $text-palette-1;
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
      &:before {
        content: "";
        display: block;
        position: absolute;
        height: 5px;
        background: $skin-palette-10;
        bottom: -5px;
        left: -2px;
        z-index: 40;
        width: calc(100% + 2px);
      }
    }
  }
  > span {
    z-index: 30;
    transition: 300ms color;
    > i {
      display: block;
      font-style: normal;
      line-height: 26px;
      height: 26px;
      background: $skin-palette-10;
      margin: 12px 0;
      position: relative;
      white-space: nowrap;
      border-radius: 30px;
      @include ltr {
        padding: 0 24px 0 12px;
      }
      @include rtl {
        padding: 0 12px 0 24px;
      }
      &:after {
        content: "\e674";
        font: 20px/26px icomoon;
        display: block;
        position: absolute;
        top: 0;
        @include ltr {
          right: 4px;
        }
        @include rtl {
          left: 4px;
        }
      }
    }
  }
}
.homepage-small-banners-j {
  float: left;
  width: 100%;
  margin: 0 0 48px;
  text-align: left;
  img, a {
    display: block;
    float: left;
    width: 100%;
    text-decoration: none;
  }
  h2 {
    float: left;
    width: 100%;
    padding: 12px 20px;
    font: 12px/16px $font-f;
    color: $text-palette-3;
    box-sizing: border-box;
    background: $skin-palette-12;
    margin: 0 0 12px;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    float: left;
    width: 100%;
    font: 12px/16px $font-f;
    color: $text-palette-4;
  }
  button {
    display: block;
    position: absolute;
    background: none;
    bottom: 0;
    right: 10px;
    height: 36px;
    padding: 0 24px;
    box-sizing: border-box;
    border: 1px solid $skin-palette-4;
    color: $text-palette-3;
    text-transform: uppercase;
    transition: 300ms color, 300ms border-color, 300ms background;
    font: 12px $font-f;
    cursor: pointer;
  }
  &:hover {
    button {
      background: $brand-color-1;
      border-color: $brand-color-1;
      color: set-color($brand-color-1);
    }
  }
}
// start count down styles

.row .row-child > div > div > div.countdown-block-b{
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 0 5px;
  z-index: 3;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.champions-date-count{
  display: table;
  width: 100%;
  height: 180px;
  table-layout: fixed;
  padding: 30px;
  box-sizing: border-box;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 5px 0;
  position: relative;
}
.championship-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.championship-team-name{
  width: 50%;
  float: left;
  > p{
    float: left;
    width: 100%;
    font-size: 38px;
    line-height: 46px;
    color: $text-palette-1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-shadow: 4px 0 4px rgba(0, 0, 0, 0.73);
  }
}
.championship-time-count{
  width: 50%;
  float: right;
  text-align: right;
  direction: ltr;
  > p{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
    min-width: 83px;
    color: $text-palette-1;
       > span{
      font-size: 58px;
      line-height: 68px;
      font-weight: bold;
    }
    > i{
      font-style: normal;
      font-size: 11px;
      display: block;
      text-transform: uppercase;
    }
    + p {
      &:before {
        content: ":";
        position: absolute;
        display: block;
        top: 0;
        color: $text-palette-1;
        font-size: 52px;
        left: -6.5px;
      }
    }
  }
}

//EURO banner START

.row .row-child > div {
  &.euro-2020 {
    @media screen and (max-width: 1480px) {
      display: table-row;
    }
    .champions-date-count {
      display: block;
      height: 195px;
      line-height: 195px;
      padding: 0 10px 0 0;
      background-position: 0  top;
    }
    .championship-team-name {
      width: 25%;
    }
    .championship-time-count {
      width: 75%;
      height: 100%;
      line-height: 195px;
      box-sizing: border-box;
      > p {
        line-height: normal;
      }
    }
    .championship-time-count.count-down-expired {
      display: none;
    }
  }
}



//EURO banner END


.play-now-ch{
  position: absolute;
  bottom: 10%;
  left: 47%;
  z-index: 555;
  > a {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    padding: 0 18px;
    font-size: 12px;
    background: $hero-color;
    color:  set-color($hero-color);
    text-transform: uppercase;
    line-height: 32px;
    &:hover {
      background: lighten($hero-color, 10);
    }
  }
}


