
.statistic-view-v3 .statistics-toggle.flip-contain .flip-btn {
    box-sizing: content-box;
}

.statistic-view-v3 .game-info * {
    box-sizing: content-box;
}

.statistic-view-v3 .live-game-container .sport-title, .statistic-view-v3 .game-score-multiset ul.title li {
    background: $c16-sp-9;
    border-top: 1px solid $c16-sp-9;
    font-weight: normal;
    color: set-color($c16-sp-9);
    white-space: nowrap;
}

.statistic-view-v3 .live-game-container .sport-title, .statistic-view-v3 .game-score-multiset ul.title li:first-child {
    @include ltr {
        border-radius: 2px 0 0;
    }
    @include rtl {
        border-radius: 0 2px 0 0;
    }
}

.statistic-view-v3 .live-game-container .sport-title, .statistic-view-v3 .game-score-multiset ul.title li:last-child {
    @include ltr {
        border-radius: 0 2px 0 0;
    }
    @include rtl {
        border-radius: 2px 0 0;
    }
}

.game-info .game-detailed-stats > span.icon-stat-details {
    box-shadow: 0 -3px 0 $c16-sp-10;
    background: $c16-sp-10;
}

.game-info .game-detailed-stats .icon-stat-details:before {
    background: set-color($c16-sp);
    box-shadow: 0 4px 0 set-color($c16-sp), 0 8px 0 set-color($c16-sp);
}

.live-game-container .sport-title .statistics-h2h {
    color: set-color($c16-sp);
}

.live-score-include-holder {
    width: 100%;
    position: relative;
    @include ltr {
        float: left;
    }
    @include rtl {
        float: right;
    }
}

.live-game-template-wrapper {
    float: left;
    width: 100%;
}

.live-score-background-archery,
.live-score-background-archeryh2h {
    background: url(../../../images/live-score/archery.svg#{$delete-cache}) no-repeat 100% 100% / contain, linear-gradient(111deg, #2d3580 36%, #d6428e 99%);
}

live-game-scores {
    display: block;
    float: left;
    width: 100%;
    contain: layout;
    position: relative;
    z-index: 250;
}

.last-event-and-stats-toggle {
    position: absolute;
    top: 74px;
    left: 0;
    width: 100%;
    z-index: 1000;
    font: 0/0 $font-f;
    white-space: nowrap;
    > ul {
        width: 100%;
        float: left;
        display: table;
        > li {
            display: table-cell;
            vertical-align: top;
            position: relative;
            width: 4px;
            &:nth-child(2) {
                width: 1%;
                height: 22px;
            }
        }
    }
    .game-detailed-stats {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        transform: translate3d(0, 0, 0);
        z-index: 100;
        @include ltr {
            padding: 0 6px 0 3px;
        }
        @include rtl {
            padding: 0 3px 0 6px;
        }
    }
    .football-gamer-name {
        width: 100%;
        color: white;
        background: none;
        @include rtl {
            text-align: right;
        }
        ~ .football-gamer-name {
            display: none;
        }
    }
    .hover-sp {
        width: auto;
        max-width: 100%;
        position: static;
        margin: -9px 0 0;
        max-height: 40px;
        overflow: hidden;
        white-space: nowrap;
        @include ltr {
            float: left;
        }
        @include rtl {
            float: right;
        }
        &:not(.items-1):hover {
            @include scroll;
            width: auto;
            max-height: 200px;
            max-width: inherit;
            transition: max-height 300ms;
            box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
            background: lighten(desaturate(adjust-hue($classic-skinning-color, -1deg), 16), 8);
            .football-gamer-name {
                color: $text-palette-4;
                display: block;
                box-shadow: 0 -1px 0 lighten(desaturate($classic-skinning-color, 11), 3) inset;
            }
        }
    }
}

.game-additional-info-v3 {
    box-sizing: border-box;
    float: left;
    width: 100%;
    position: relative;
    font-size: 5 + $size-font;
    line-height: 22px;
    color: $text-palette-4;
    background: darken(desaturate(adjust-hue($classic-skinning-color, 3deg), 1), 6);
    margin: 0 0 2px;
    > p {
        max-width: 71%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include ltr {
            float: left;
            padding: 0 0 0 24px;
        }
        @include rtl {
            float: right;
            padding: 0 24px 0 0;
        }
        &:before {
            content: "\e6e4";
            box-sizing: border-box;
            font: 10px/22px icomoon;
            position: absolute;
            top: 0;
            color: $text-palette-5;
            @include ltr {
                left: 8px;
            }
            @include rtl {
                right: 8px;
            }
        }
    }
}

.text-info {
    @include rtl {
        direction: ltr;
        unicode-bidi: isolate;
        margin-left: 4px;
    }
}
.pre-match-additional-info {
    float: left;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    position: sticky;
    top: 0;
    color: $text-palette-4;
    font: #{5+$size-font}/24px $font-f;
    background: darken(desaturate(adjust-hue($classic-skinning-color, 3deg), 1), 6);
    z-index: 10;
    @include ltr {
        padding-left: 24px;
    }
    @include rtl {
        padding-right: 24px;
    }
    &:before {
        content: "\e6e4";
        box-sizing: border-box;
        font: 10px/24px icomoon;
        position: absolute;
        top: 0;
        color: $text-palette-5;
        @include ltr {
            left: 8px;
        }
        @include rtl {
            right: 8px;
        }
    }
    + .markets-group-wrap-v3 {
        top: 24px;
    }

}

.game-additional-icons {
    padding: 0 6px;
    @include ltr {
        float: right;
    }
    @include rtl {
        float: left;
    }
    > i {
        display: block;
        padding: 0 6px;
        color: $c16-tp-4;
        font: normal 11px/24px icomoon;
        transition: 250ms color;
        @include ltr {
            float: left;
        }
        @include rtl {
            float: right;
        }
        &:hover {
            color: $c16-tp-2;
        }
    }
}

.statistics-icon-j:before {
    content: "\e6b8";
}

// add linep styles
.lineUpPopupContainer{
    position: absolute;
    width: 320px;
    background: $skin-palette-6;
    top: 34px;
    max-height: 430px;
    height: 415px;
    z-index: 999;
    @include scroll;
    box-shadow: 0 0 5px -1px $skin-palette-12;
    @include ltr {
        right: 0;
    }
    @include rtl {
        left: 0;
    }
    &.empty{
        height: 60px;
        > p{
            text-align: center;
            padding: 15px 0;
        }
    }
}
.multiview-contain .lineUpPopupContainer{
    max-height: 210px;
}
.cash-game {
    position: relative;
    .lineUpPopupContainer{
        font-weight: normal;
        left: 0;
    }
}
.lineup{
    font-style: normal;
    font-size: 11px;
    line-height: 24px;
    position: relative;
      &.opened{
            &:after{
                display: block;
                content: '';
                position: absolute;
                bottom: -16px;
                left: 40%;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 8px 8px 8px;
                border-color: transparent transparent $skin-palette-6 transparent;
                position: absolute;

            }
        }
}
.lineup-team-name{
    float: left;
    width: 100%;
    height: 30px;
    background: $skin-palette-6;
    box-sizing: border-box;
    display: table;
    table-layout: fixed;
    vertical-align: top;
    box-shadow: 0 -1px 0 $hero-color inset;
    position: sticky;
    top: 0;
    z-index: 1;
    > span{
        font-size: 12px;
        line-height: 30px;
        display: table-cell;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: $text-palette-3;
        text-align: center;
        padding: 0 8px;
        box-sizing: border-box;
        &.active{
            position: relative;
            background: $hero-color;
            color: set-color($hero-color);
        }
    }
}
.active-players{
    float: left;
    width: 100%;
    background: $skin-palette-7;
    height: 26px;
    padding: 0 10px;
    position: relative;
    left: -10px;
    > span{
        float: left;
        width: 100%;
        font-size: 11px;
        line-height: 26px;
        color: $skin-palette-3;
    }
}
.single-game-i{
    float: left;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}
.single-player-name{
    float: left;
    width: 100%;
    height: 39px;
    border-bottom: 1px solid $skin-palette-5;
    box-sizing: border-box;
    > span{
        font-size: 12px;
        line-height: 40px;
        color: $text-palette-3;
        display: inline-block;
        vertical-align: top;
        > i{
            display: inline-block;
            font: 15px/40px icomoon;
            vertical-align: top;
            @include ltr {
                margin-left: 5px;
            }
            @include rtl {
                margin-right: 5px;
            }
           &:before{
                display: block;
                //position: absolute;
                //left: 10px;
                //top: -15px;
                content: '';
            }
            &.icon-event-SUB:before{
                content: '\ea59';
            }
            &.icon-event-YC:before{
                content: '\66';
                color: #e2bc3d;
            }
            &.icon-event-RC:before{
                content: '\66';
                color: #bf3d3d;
            }
            &.icon-event-G:before{
                content: '\6c';
                font-size: 16px;
            }
            &.icon-own-goal:before{
                content: '\ea5c';
                font-size: 22px;
            }
            &.icon-penalty-goal:before{
                content: '\ea5d';
            }
        }
        &:first-child{
            width: 20px;
            position: relative;
            display: inline-block;
            text-align: center;
            background: red;
            border-radius: 50%;
            line-height: 20px;
            background: $skin-palette-2;
            vertical-align: top;
            margin-top: 10px;
            height: 20px;
            color: $text-palette-7;
            font-size: 11px;
            font-weight: bold;
            @include ltr {
                margin-right: 8px;
            }
            @include rtl {
                margin-left: 8px;
            }
        }
        &:last-child{
            color: $text-palette-4;
            @include ltr {
                float: right;
            }
            @include rtl {
                float: left;
            }
        }
        &.position-c{
            background: none;
            color: $text-palette-3;
            &:before{
                content: '\ea62';
                font: 18px/20px icomoon;
            }
        }
    }
    &:last-child{
        border-bottom: none;
    }
}
.team-form-player {
    font-weight: normal;
    @include ltr {
        float: left;
    }
    @include rtl {
        float: right;
    }
    &:not(:only-child) {
        width: 37%;
    }
}
.game-score-multiset .current-delivery{
    width: 60%;
    @include  ltr{
        float: right;
        text-align: right;
    }
    @include rtl{
        float: left;
        text-align: left;
    }
    > i{
        font-style: normal;
        margin: 0 0 0 5px;
    }
}
@media screen and (min-width: 1400px) and  (max-width: 1500px){
    .prematch-games-list.multi-column-view ~ .live-game-view-contain-v3{
        .shot-result-b{
            bottom: -12px;
        }
    }
}
.modern {
    .live-game-basketball-shots {
        width: calc(100% - 360px);
        .show-points {
            @include ltr {
                right: calc(-100% - 18px);
            }
            @include rtl {
                left: calc(-100% - 18px);
            }
        }
    }
    .no-video-flash{
        &.no-video-ie8{
            &.live-game-basketball-shots {
                width: 100%;
                .show-points {
                    @include ltr {
                        right: 0;
                    }
                    @include rtl {
                        left: 0;
                    }
                }
            }
        }

    }
}