/*overview*/

.body-wrapper.overview .contain-gameing > .md-progress-circular {
  margin: 50px auto auto;
}
.all-inplay-wrapper {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 0 6px 6px;
  //animation-name: examplelive;
  //animation-duration: 800ms;
  //transition-timing-function: linear;
  //animation-fill-mode: forwards;
}
.inplay-game-wrapper {
  float: left;
  width: 100%;
  height: initial;
  margin: 0 0 10px;
  opacity: 1;
  transition: opacity 240ms;
  box-sizing: border-box;
  border-radius: 3px;
  background: $classic-skinning-color;
  //overflow: hidden;
  //border: 1px solid lighten( desaturate( adjust-hue( $skin-color, 4deg), 23), 15);
  //max-height: 9999px;
  //animation-name: exampleopen;
  //animation-duration: 3600ms;
  //transition-timing-function: linear;
  @include rtl {
    transform: translate3d(0,0,0);
  }
}
//@keyframes exampleopen {
//  0% {
//    max-height: 28px;
//  }
//  100% {
//    max-height: 9999px;
//  }
//}
//@keyframes exampleclosed {
//  0% {
//    min-height: 86px;
//  }
//  100% {
//    min-height: 28px;
//  }
//}

.inplay-game-wrapper.GrassHockey.closed {
  background: lighten( desaturate( adjust-hue( #366233, -1deg), 16), 8);
  .title-sport-inplay > p,
  .arrow-toggle-inplay,
  .sport-icon-inplay.mini-icon-1:before {
    color: set-color(lighten( desaturate( adjust-hue( #366233, -1deg), 16), 8));
  }
}
.inplay-game-wrapper:before {
  display: none;
}
.inplay-game-wrapper.Favorites {
  border-color: #ac8336;
  margin: 0;
}
.inplay-game-wrapper.Favorites.closed {
  background: #ac8336;
}
.inplay-game-wrapper.closed {
  //height: 28px;
  max-height: 32px;
  overflow: hidden;
  opacity: 0.5;
  //animation-name: exampleclosed;
  //animation-duration: 180ms;
  //transition-timing-function: linear;
  //border-color: lighten( desaturate( adjust-hue( $classic-skinning-color, -1deg), 16), 8);
  &:hover{
    opacity: 1;
  }
}
.inplay-game-wrapper.pointer-events-none .arrow-toggle-inplay {
  display: none;
}
.separator-overview-b {
  float: left;
  width: 100%;
}
.title-sport-inplay {
  background: $classic-skinning-color;
  float: left;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px 2px 0 0;
  padding: 2px 30px;
  position: relative;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 33;
  height: 32px;
  cursor: pointer;
  > .md-progress-circular.small-progress{
    position: absolute;
    top: 6px;
    margin: 0;
    @include ltr {
      right: 30px;
    }
    @include rtl {
      left: 30px;
    }
  }
}
.title-sport-inplay > p {
  float: left;
  width: 100%;
  font: 12px/28px $font-f;
  color: $text-palette-1;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sport-icon-inplay {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 7px;
  border-radius: 50%;
  @include ltr {
    left: 8px;
  }
  @include rtl {
    right: 8px;
  }
}
.sport-icon-inplay.Favorites {
  height: 20px;
}
.sport-icon-inplay.Favorites:before {
  font: 16px/20px icomoon;
  content: "\f005";
  color: $favorite-active-color;
  display: block;
}
.inplay-game-wrapper.Favorites .sport-icon-inplay {
  left: 25px;
  top: 2px;
}
.inplay-game-wrapper.Favorites .sport-icon-inplay.Favorites {
  left: 8px;
  top: 3px;
}
.arrow-toggle-inplay {
  position: absolute;
  top: 3px;
  width: 24px;
  height: 24px;
  color: $text-palette-1;
  font: 16px/24px icomoon;
  text-align: center;
  cursor: pointer;
  @include ltr {
    right: 0;
  }
  @include rtl {
    left: 0;
  }
}
.arrow-toggle-inplay:before {
  content: "\e670";
}
.overview-championship-info .arrow-toggle-inplay {
  top: 0;
  @include ltr {
    left: 0;
    right: auto;
  }
  @include rtl {
    left: auto;
    right: 0;
  }
}
.inplay-game-wrapper.closed .title-sport-inplay .arrow-toggle-inplay:before,
.mini-wrapper-info-inplay.closed .overview-championship-info .arrow-toggle-inplay:before {
  @include ltr {
    content: "\e672";
  }
  @include rtl {
    content: "\e66f";
  }
}
.all-info-game-inplay-container {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 2px 5px 0;
}
.mini-wrapper-info-inplay {
  float: left;
  width: 100%;
  background: lighten( desaturate( adjust-hue( $classic-skinning-color, -1deg), 16), 8);
  border: 1px solid darken( saturate( adjust-hue( lighten( desaturate( adjust-hue( $classic-skinning-color, -1deg), 16), 8), 1deg), 18), 11);
  box-sizing: border-box;
  margin: 0 0 5px;
  //max-height: 9999px;
  //animation-name: exampleopen;
  //animation-duration: 3600ms;
  //transition-timing-function: linear;
  height: initial;
  //overflow: hidden;
  &.closed{
    > .overview-game-info{
      display: none;
    }
  }
}
//.mini-wrapper-info-inplay.closed {
  //height: 27px;
  //animation-name: exampleclosed;
  //animation-duration: 180ms;
  //transition-timing-function: linear;
//}
.overview-championship-info {
  float: left;
  width: 100%;
  height: 25px;
  background: lighten( desaturate( adjust-hue( $classic-skinning-color, -3deg), 14), 3);
  box-shadow: 0 1px 0 $classic-skinning-color;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  @include ltr {
    padding: 0 0 0 24px;
  }
  @include rtl {
    padding: 0 24px 0 0;
  }
}
@supports (position: sticky)or (position: -webkit-sticky) {
  .overview-championship-info{
    position: sticky;
    position: -webkit-sticky;
    top: 32px;
    z-index: 22;
  }
}
.overview-championship-info > h4 {
  float: left;
  width: 100%;
  color: $text-palette-4;
  font-weight: normal;
  font: 12px/24px $font-f;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.overview-championship-info > h4 > .fav-name-overview-b-sport {
  padding: 0 4px 0 22px;
  display: inline;
  color: $favorite-active-color;
  text-transform: uppercase;
  font: 12px/24px $font-f;
}
.overview-championship-info > h4 > .championship-name-country-overview {
  position: relative;
  display: inline;
  box-sizing: border-box;
  @include ltr {
    padding: 0 0 0 25px;
  }
  @include rtl {
    padding: 0 25px 0 0;
  }
}
.overview-championship-info > h4 > .championship-name-country-overview > i {
  font-style: normal;
}
.flag-overview {
  position: absolute;
  width: 16px;
  height: 18px;
  top: -1px;
  @include ltr {
    left: 2px;
  }
  @include rtl {
    right: 2px;
  }
}
.overview-game-info {
  float: left;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border-top: 1px solid darken( saturate( adjust-hue( lighten( desaturate( adjust-hue( $classic-skinning-color, -1deg), 16), 8), 1deg), 18), 11);
  @include ltr {
    padding: 0 50px 0 0;
  }
  @include rtl {
    padding: 0 0 0 50px;
  }
}
.overview-name-column {
  display: inline-block;
  box-sizing: border-box;
  height: 72px;
  width: 28%;
  @include ltr {
    float: left;
    border-right: 1px solid darken( saturate( adjust-hue( lighten( desaturate( adjust-hue( $classic-skinning-color, -1deg), 16), 8), 1deg), 18), 11);
  }
  @include rtl {
    float: right;
    border-left: 1px solid darken( saturate( adjust-hue( lighten( desaturate( adjust-hue( $classic-skinning-color, -1deg), 16), 8), 1deg), 18), 11);
  }
}
.overview-name-column > a {
  float: left;
  width: 100%;
  display: block;
  text-decoration: none;
}
.overview-markets-column {
  display: inline-block;
  box-sizing: border-box;
  width: 24%;
  height: 70px;
  padding: 0 3px;
  @include ltr {
    float: left;
    border-right: 1px solid darken( saturate( adjust-hue( lighten( desaturate( adjust-hue( $classic-skinning-color, -1deg), 16), 8), 1deg), 18), 11);
  }
  @include rtl  {
    float: right;
    border-left: 1px solid darken( saturate( adjust-hue( lighten( desaturate( adjust-hue( $classic-skinning-color, -1deg), 16), 8), 1deg), 18), 11);
  }
  &:nth-child(2):nth-last-child(4){
    width: 28%;
    ~ .overview-markets-column{
      width: 22%;
    }
  }
  &:nth-child(2):nth-last-child(2){
    width: 72%;
  }
  &:nth-child(2):nth-last-child(3){
    width: 36%;
    + .overview-markets-column{
      width: 36%;
    }
  }
  > p{
    font-size: 20px;
    line-height: 70px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $text-palette-4;

  }
}
.overview-more-events-column {
  position: absolute;
  width: 50px;
  height: 72px;
  box-shadow: -1px 0 0 $skin-palette-11;
  top: 0;
  @include ltr {
    right: 0;
  }
  @include rtl {
    left: 0;
  }
}
.name-market-overview {
  float: left;
  width: 100%;
  border-bottom: 1px solid darken( saturate( adjust-hue( lighten( desaturate( adjust-hue( $classic-skinning-color, -1deg), 16), 8), 1deg), 18), 11);
  box-sizing: border-box;
  height: 29px;
  position: relative;
  @include ltr {
    padding: 0 65px 0 0;
  }
  @include rtl {
    padding: 0 0 0 65px;
  }
}
.change-markets-box {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 0 5px;
  position: relative;
}
.change-markets-box > p {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  font: 10px/28px $font-f;
  color: lighten($brand-color-1, 18);
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  @include ltr {
    float: left;
  }
  @include rtl {
    float: right;
  }
}
.base-i-v{
  display: inline-block;
  vertical-align: top;
  color: $text-palette-3;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 26px;
  @include ltr {
    margin: 0 2px 0 0;
  }
  @include rtl {
    margin: 0 0 0 2px;
  }
}
/*
.change-markets-box > p:before{
  content: "\e670";
  position: absolute;
  left: 0;
  top: 1px;
  text-align: center;
  color: $text-palette-4;
  font: 12px/28px icomoon;
  text-align: center;
}
.change-markets-box.active > p:before{
  content: "\e671";
}
*/

.change-markets-box > ul {
  position: absolute;
  left: 2px;
  top: 28px;
  background: #393E4C;
  z-index: 33;
  box-sizing: border-box;
  box-shadow: 0 10px 40px -10px $skin-palette-13;
  display: none;
}
.change-markets-box.active > ul {
  display: block;
}
.change-markets-box > ul:before {
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  left: 4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 7px 5px;
  border-color: transparent transparent #393E4C transparent;
}
.change-markets-box > ul > li {
  box-sizing: border-box;
  padding: 0 5px;
  color: $text-palette-4;
  font: 11px/27px $font-f;
  border-bottom: 1px solid #222630;
  border-left: 1px solid #222630;
  border-right: 1px solid #222630;
  cursor: pointer;
  -webkit-transition: background 150ms, color 150ms;
  -moz-transition: background 150ms, color 150ms;
  -ms-transition: background 150ms, color 150ms;
  transition: background 150ms, color 150ms;
}
.change-markets-box > ul > li:first-child {
  border-top: 1px solid #222630;
}
.change-markets-box > ul > li:hover {
  color: $text-palette-1;
  background: #2e323e;
}
.chain-cashout-icons {
  position: absolute;
  top: 4px;
  height: 20px;
  box-sizing: border-box;
  @include ltr {
    right: 0;
    padding-right: 5px;
  }
  @include rtl {
    left: 0;
    padding-left: 5px;
  }
}
.chain-cashout-icons span {
  text-align: center;
  color: $text-palette-4;
  font: 14px/22px $font-f;
  @include ltr {
    float: left;
  }
  @include rtl {
    float: right;
  }
}
.chain-cashout-icons span.chain-icon-overview,
.chain-cashout-icons span.cashout-b-overview {
  font: 16px/20px icomoon;
}
.chain-cashout-icons span.chain-icon-overview {
  color: #9fa948;
  &:before {
    content: "\e613";
  }
}
.chain-cashout-icons span.cashout-b-overview {
  color: $brand-color-1;
  box-sizing: border-box;
  @include ltr {
    right: 0;
    margin-left: 5px;
    padding-left: 6px;
    border-left: 1px solid rgba($skin-palette-12, 0.25);
  }
  @include rtl {
    left: 0;
    margin-right: 5px;
    padding-right: 6px;
    border-right: 1px solid rgba($skin-palette-12, 0.25);
  }
  &:before {
    content: "\e68a";
  }
}
.mini-b-events-overview {
  float: left;
  width: 100%;
  > .l-b{
    > .single-events-b-v3{
      display: block;
      flex-direction: column;
      height: 39px;
      padding: 0 5px;
      &.blocked:after{
        display: block;
        line-height: 14px;
        text-align: center;
      }
      &:before{
        width: 100%;
        display: block;
        text-align: center;
        height: 20px;
        font-size: 10px;
        line-height: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      > .p-v{
        width: 100%;
        display: block;
        height: 20px;
        line-height: 14px;
        text-align: center;
        &:before{
          line-height: 14px;
        }
      }
    }
  }
}
//.mini-b-events-overview > ul {
//  float: left;
//  width: 100%;
//  margin: 2px 0 0;
//  box-sizing: border-box;
//  padding: 0 2px;
//}
//.mini-b-events-overview > ul > li {
//  float: left;
//  display: inline-block;
//  box-sizing: border-box;
//  background: lighten( desaturate( adjust-hue( $classic-skinning-color, -3deg), 14), 3);
//  border: 1px solid darken( saturate( adjust-hue( lighten( desaturate( adjust-hue( $classic-skinning-color, -3deg), 14), 3), 3deg), 14), 3);
//  position: relative;
//  width: calc((100% - 2px) / 2);
//  border-radius: 4px;
//  height: 26px;
//  margin: 0 0 0 2px;
//  padding: 0 55px 0 0;
//  cursor: pointer;
//  -webkit-transition: background 150ms;
//  -moz-transition: background 150ms;
//  -ms-transition: background 150ms;
//  transition: background 150ms;
//  @include rtl {
//    float: right;
//    margin: 0 2px 0 0;
//    padding: 0 0 0 55px;
//  }
//}
//.overview-game-info.blocked .mini-b-events-overview > ul > li {
//  opacity: 0.6;
//  cursor: default;
//}
//.mini-b-events-overview > ul.column-3 > li {
//  width: calc((100% - 4px) / 3);
//}
//.mini-b-events-overview > ul > li:first-child {
//  margin: 0;
//  @include rtl {
//    margin: 0;
//  }
//}
//.mini-b-events-overview > ul > li > p {
//  width: 100%;
//  color: $text-palette-1;
//  font: 11px/24px $font-f;
//  padding: 0 0 0 5px;
//  white-space: nowrap;
//  text-overflow: ellipsis;
//  overflow: hidden;
//  @include rtl {
//    padding: 0 5px 0 0;
//  }
//}
//.mini-b-events-overview > ul > li:hover {
//  background: lighten( desaturate( adjust-hue( $classic-skinning-color, -2deg), 17), 13);
//}
//.mini-b-events-overview > ul > li.active, .mini-b-events-overview > ul > li.active:hover {
//  background: $hero-color;
//  border-color: darken( $hero-color, 3);
//  p,
//  > span.price1:before,
//  > span.price-1:before {
//    color: set-color($hero-color);
//  }
//  > span {
//    color: map-get($coeff-color-map, classic-active)
//  }
//}
//.mini-b-events-overview > ul > li > span {
//  position: absolute;
//  top: 0;
//  display: block;
//  right: 0;
//  height: 26px;
//  box-sizing: border-box;
//  padding: 0 5px 0 12px;
//  color: map-get($coeff-color-map, classic);
//  font: 12px/24px $font-f;
//  text-align: right;
//  @include rtl {
//    left: 0;
//    right: auto;
//    padding: 0 12px 0 5px;
//  }
//}
//.mini-b-events-overview > ul > li:hover > span  {
//  color: map-get($coeff-color-map, classic-hover);
//}
//.mini-b-events-overview > ul > li > span.price-1:before,
//.mini-b-events-overview > ul > li > span.price1:before {
//  top: 5px;
//}
.favorite-overview-icon {
  float: left;
  width: 24px;
  height: 36px;
  font: 20px/30px icomoon;
  color: $text-palette-5;
  text-align: center;
  transition: color 150ms;
  cursor: pointer;
  margin: 3px 13px;
  &:before {
    content: "\f005";
  }
}
.favorite-overview-icon.active,
.favorite-overview-icon:hover {
  color: $favorite-active-color;
}
//.favorite-overview-icon.active:before,
//.favorite-overview-icon:hover:before {
//  content: "\f005";
//}
.any-events-b {
  float: left;
  width: 100%;
  height: 28px;
  font: 11px/28px $font-f;
  text-align: center;
  color: $text-palette-4;
  box-sizing: border-box;
  padding: 0;
}
.any-events-b > a {
  text-decoration: none;
  display: block;
  font: 11px/28px $font-f;
  text-align: center;
  color: $text-palette-4;
  box-sizing: border-box;
  padding: 0 2px;
  -webkit-transition: color 150ms;
  -moz-transition: color 150ms;
  -ms-transition: color 150ms;
  transition: color 150ms;
  height: 28px;
}
.any-events-b > a:hover {
  color: $text-palette-1;
}
.name-team-overview {
  float: left;
  width: 100%;
  height: 40px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  @include ltr {
    padding: 0 30px 0 0;
  }
  @include rtl {
    padding: 0 0 0 30px;
  }
}
.name-team-overview > p {
  float: left;
  width: 100%;
  color: $text-palette-2;
  font: 11px/16px $font-f;
  box-sizing: border-box;
  padding: 5px 7px 0;
  //white-space: nowrap;
  //text-overflow: ellipsis;
  //overflow: hidden;
  > span{
    float: left;
    width: 100%;
    letter-spacing: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
//.name-team-overview > p > span:first-child:after {
//  content: " - ";
//}
.video-icon-overview {
  position: absolute;
  width: 30px;
  height: 28px;
  top: 0;
  font: 16px/30px icomoon;
  color: $text-palette-4;
  text-align: center;
  @include ltr {
    right: 0;
  }
  @include rtl {
    left: 0;
  }
}
.video-icon-overview:before {
  content: "\e61e";
}
.detail-info-overview {
  float: left;
  width: 100%;
  height: 30px;
  position: relative;
  box-sizing: border-box;
  @include ltr {
    padding: 0 55px 0 0;
  }
  @include rtl {
    padding: 0 0 0 5px;
  }
}
.detail-info-overview > p {
  float: left;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font: 11px/30px $font-f;
  color: $text-palette-4;
  box-sizing: border-box;
  padding: 0 5px;
}
.score-contain-overview-b {
  display: inline-block;
  background: lighten( desaturate( adjust-hue( $classic-skinning-color, -3deg), 14), 3);
  padding: 4px 6px;
  text-align: center;
  border-radius: 4px;
  color: map-get($coeff-color-map, overview-score);
  font: 12px/18px $font-f;
  @include ltr {
    margin: 0 5px 0 0;
  }
  @include rtl {
    margin: 0 0 0 5px;
  }
}
.score-contain-overview-b > b {
  font-weight: bold;
}
.score-contain-overview-b > b + b:not(:empty):before {
  content: " : ";
  position: relative;
  top: -1px;
}
.overview-game-team-inform > i {
  font-style: normal;
  @include ltr {
    padding: 0 0 0 5px;
  }
  @include rtl {
    padding: 0 5px 0 0;
  }
}
.time-match-overview {
  position: absolute;
  width: 30px;
  top: 1px;
  font: 12px/30px $font-f;
  color: $text-palette-4;
  @include ltr {
    right: 0;
    padding: 0 5px 0 0;
    text-align: right;
  }
  @include rtl {
    left: 0;
    padding: 0 0 0 5px;
    text-align: left;
  }
}
.overview-blocked-icon {
  position: absolute;
  width: 20px;
  height: 30px;
  top: 0;
  color: $text-palette-4;
  font: 14px/31px icomoon;
  text-align: center;
  display: none;
  @include ltr {
    right: 34px;
  }
  @include rtl {
    left: 34px;
  }
}
.overview-blocked-icon:before {
  content: "\e68f";
}
.overview-game-info.blocked .overview-blocked-icon {
  display: block;
}

/*overview END*/
