/* timeline control */

.game-info .timeline-container {
    width: 94%;
    height: 36px;
    margin: 8px 0 5px 3%;
    &[class*="timeline-extra"] {
        width: 70%;
        @include ltr {
            left: 0;
        }
        @include rtl {
            right: 0;
        }
        + .timeline-container {
            width: 22%;
            @include ltr {
                right: 0;
                left: auto;
            }
            @include rtl {
                left: 0;
                right: auto;
            }
            .timeline-control {
                &:before {
                    content: "\00a0 90";
                }
                &.tl-110:before {
                    content: "\00a0 80";
                }
            }
        }
    }
    &.timeline-extra-80 {
        width: 68%;
        + .timeline-container {
            width: 24%;
        }
    }
}

.timeline-container {
    position: relative;
    float: left;
    width: 100%;
    height: 36px;
}
.game-info .timeline-container .timeline-control:before {
    box-shadow: none;
}
.timeline-control {
    position: absolute;
    width: 97%;
    height: 32px;
    color: #fff;
    text-align: left;
    font: 12px/12px arial;
    box-shadow: 1px 0 0 #fff inset, -1px 0 0 #fff inset;
    &:before {
        content: "\00a0 0";
        position: absolute;
        left: 0;
        width: 100%;
        top: 4px;
        top: calc(50% - 12px);
        border-bottom: 1px solid #fff;
        box-shadow: 0 -6px 6px rgba(0, 0, 0, 0.3) inset, 0 6px 6px rgba(0, 0, 0, 0.3);
    }
    &:after {
        content: "9 0";
        position: absolute;
        left: 97.5%;
        left: calc(100% - 9px);
        top: 4px;
        top: calc(50% - 12px);
        white-space: nowrap;
    }
    //span.tl-20,
    //span.tl-40,
    //span.tl-6-0,
    //span.tl-80 {
    //    display: none;
    //}
    span {
        position: absolute;
        top: 0;
        width: 11.11111%;
        width: calc(100% / 9);
        height: 100%;
        box-shadow: -1px 0 0 #fff inset;
        text-shadow: 1px 1px 0 #000;
        &:before {
            position: absolute;
            left: 75%;
            left: calc(100% - 9px);
            top: 4px;
            top: calc(50% - 12px);
            white-space: nowrap;
        }
        &:after {
            content: "";
            position: absolute;
            top: 25%;
            width: 50%;
            height: 50%;
            box-shadow: 1px 0 0 #fff inset, -1px 0 0 #fff inset;
        }

        &.ht-ft {
            &:before {
                content: "H T";
                left: -9px;
                top: -10px;
                box-shadow: none;
            }
            &:after {
                content: "F T";
                left: 96.5%;
                left: calc(100% - 9px);
                top: -10px;
                box-shadow: none;
                max-width: 30px;
                overflow: hidden;
            }
        }
    }

    &.extra {
        &:after {
            content: "1 20";
        }
        span {
            &.tl-15:before {
                content: "9 5";
            }
            &.tl-30:before {
                content: "1 00";
            }
            &.tl-45:before {
                content: "1 05";
            }
            &.tl-60:before {
                content: "1 10";
            }
            &.tl-75:before {
                content: "1 15";
            }
        }
        &.tl-110 {
            &:after {
                content: "1 10";
            }
            span {
                &.tl-15:before {
                    content: "8 5";
                }
                &.tl-30:before {
                    content: "9 0";
                }
                &.tl-45:before {
                    content: "9 5";
                }
                &.tl-60:before {
                    content: "1 00";
                }
                &.tl-75:before {
                    content: "1 05";
                }
            }
        }
    }
}
.tl-data {
    position: relative;
    height: 100%;
    width: 97%;
    /* the width of actual 90 minutes of game */
    .current-minute {
        position: absolute;
        top: 10%;
        height: 80%;
        background: rgba(255, 181, 73, 0.2);
    }
    .tl-info {
        position: absolute;
        top: 4px;
        width: 17px;
        height: 37px;
        margin-left: -9px;
        background: url("../../../images/timeline/stats_tl.png#{$delete-cache}") no-repeat;
        .hover-sp {
            display: none;
        }
        &:hover {
            .hover-sp {
                left: -10px;
                max-height: 200px;
                overflow: hidden;
                overflow-y: auto;
                background: #494949;
                box-shadow: 0 2px 5px #111;
                display: block;
                &.to-center {
                    left: -150px;
                }
                &.to-right {
                    left: auto;
                    right: -4px;
                }
            }
        }
    }
    .team1-tl-goal {
        bottom: 0;
    }
    .team1-tl-yellow_card,
    .team1-tl-red_card,
    .team1-tl-corner,
    .team1-tl-exchange,
    .team1-tl-substitution {
        position: absolute;
        bottom: 2px;
    }
    .team1-group {
        position: absolute;
        bottom: -14px;
    }
    .team2-tl-goal,
    .team2-tl-yellow_card,
    .team2-tl-red_card,
    .team2-tl-corner,
    .team2-tl-exchange,
    .team2-tl-substitution {
        position: absolute;
        bottom: -21px;
    }
    .team2-group {
        position: absolute;
        bottom: -33px;
    }
    .tl-goal {
        position: absolute;
        opacity: 1;
        width: 12px;
        height: 12px;
        background-color: #fff;
        background-image: url("../../../images/timeline/soccer-ball-bg.png");
        background-size: 80%;
        background-position: 108% 35%;
        border-radius: 50%;
        box-shadow: 2px 5px 1px rgba(0, 0, 0, 0.3), inset 1px -2px 2px rgba(0, 0, 0, 0.57);
    }
    .tl-card {
        position: absolute;
        width: 10px;
        height: 12px;
        border-radius: 20%;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    }
    .tl-yellow_card,
    .tl-red_card {
        @extend .tl-card;
        width: 11px;
        height: 14px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    }
    .tl-yellow_card {
        background: #fc0;
    }
    .tl-red_card {
        background: #f00;
    }
    .tl-exchange {
        position: absolute;
        width: 18px;
        height: 12px;
        background-image: url("../../../images/timeline/tl-exchange.png");
    }
    .tl-details {
        position: absolute;
        display: none;
        left: 4px;
        top: -40px;
        padding: 6px;
        margin-left: -20px;
        box-shadow: 0 1px 2px #111;
        background: #fff;
        color: #000;
        font-size: 13px;
        white-space: nowrap;
        vertical-align: bottom;
        text-transform: capitalize;
        z-index: 100;
        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 15px;
            width: 0;
            height: 0;
            border-width: 0.5em;
            border-style: solid;
            border-color: #fff transparent transparent transparent;
        }
        &:before {
            border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
            bottom: calc(100% + 1px);
        }
        &.to-right {
            left: auto;
            right: -8px;
            margin: 0 -20px 0 0;
            &:before,
            &:after {
                left: auto;
                right: 15px;
            }
        }
    }
    .hover-sp .football-gamer-name{
        background: #494949;
        color: #ccc;
    }
    > div > div:hover .tl-details {
        display: block;
    }
}
.tl-substitution,
.tl-corner {
    color: #ffffff;
    position: absolute;
}
.tl-substitution {
    font: 14px/14px icomoon;
    &:before {
        content: "\e909";
    }
}
.tl-corner {
    font: 12px/12px icomoon;
    &:before {
        content: "\76";
    }
    + .tl-details.to-right {
        right: 7px;
    }
}
.statistics-toggle .tl-data .tl-info:hover {
    background: url("../../../images/animation/stats_tl.png#{$delete-cache}") no-repeat;
}



.timeline-control span.small-separator{
    height:50%;
    top: 25%;
}
.timeline-control span:before {
    content: "" attr(data-content) "" !important;
    left: 0;
    width: 30px;
    top: -10px;
    white-space: pre-line;
}
.timeline-control span:after {
    content: none;
}

.timeline-control:before {
    top: 50%;
    content: "" !important;
}


.timeline-control:after {
    content: "" !important;
}




//----------------------------------------------------

/* timeline control END */

.game-basketballshots,
.game-archery,
.game-archeryh2h {
    .last-event-and-stats-toggle {
        display: none;
    }
}

//add new  backetball shots
.game-score-basketball-shots > div.basketball-shots-game-container{
    float: left;
    width: 100%;
    height: 136px;
    box-sizing: border-box !important;
    padding: 15px 20px;
    position: relative;
    border-radius: 2px;

}
.short-info-box{
    float: left;
    min-width: 100%;
    text-align: left;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    > h6{
        float: left;
        width: 100%;
        font-size: 18px;
        line-height: 20px;
        color: #ffffff;
        font-weight: bold;
        text-transform: uppercase;
        box-sizing: border-box !important;
        @include ltr{
            padding: 0 135px 0 0;
        }
        @include rtl{
            text-align: right;
            padding: 0 0 0 135px;
        }
    }
    p{
        color: rgba(255, 255, 255, 0.6);
        font-size: 14px;
        line-height: 16px;
        padding: 10px 0 0 0;
        float: left;
        width: 100%;
        @include rtl{
            text-align: right;
        }
        > span{
            color: rgba(255, 255, 255, 0.9);
            display: inline-block;
            padding-left: 5px;
        }
    }
    @include rtl{
        direction: rtl;
    }
}
.shot-result-b{
    box-sizing: border-box !important;
    overflow: hidden;
    float: left;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 44px;
    padding: 0 32px;
}
.show-points{
    position: absolute;
    background: #ffffff;
    height: 38px;
    padding: 5px 20px 5px 10px;
    top: 12px;
    box-sizing: border-box !important;
    @include ltr{
        text-align: left;
        right: -20px;
    }
    @include rtl{
        text-align: right;
        left: -20px;
    }
    > span{
        font-size: 24px;
        line-height: 26px;
        color: #b6862e;
    }
}
.short-points{
    float: left;
    width: 100%;
    box-sizing: border-box !important;
    .prev-shot{
        height: 100%;
        width: 20px;
        position: absolute;
        top: 0;
        @include ltr {
            left: 0;
            border-right: 1px solid #ffffff;
        }
        @include rtl {
            right: 0;
            border-left: 1px solid #ffffff;
        }
        &:before{
            font: 22px/40px icomoon;
            display: block;
            color: #ffffff;
            position: absolute;
            top: 0;
            @include ltr {
                content: '\e673';
                left: -5px;
            }
            @include rtl {
                content: '\e676';
                right: -5px;
            }
        }
        &.inactive{
            opacity: 0.7;
        }
    }
    .next-shot{
        height: 100%;
        width: 20px;
        position: absolute;
        top: 0;
        @include ltr {
            right: 0;
            border-left: 1px solid #ffffff;
        }
        @include rtl {
            left: 0;
            border-right: 1px solid #ffffff;
        }
        &:before{
            font: 22px/40px icomoon;
            display: block;
            color: #ffffff;
            position: absolute;
            top: 0;
            @include ltr {
                content: '\e676';
                right: -5px;
            }
            @include rtl {
                content: '\e673';
                left: -5px;
            }
        }
        &.inactive{
            opacity: 0.7;
        }
    }

}
.status-short-l{

    box-sizing: border-box !important;
    float: left;
    width: 100%;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    white-space: nowrap;
    @include scroll($scroll: auto);
    &::-webkit-scrollbar{
        border-radius: 0;
        height: 6px;
    }
    @include ltr{
        float: left;
    }
    @include rtl{
        float: right;
        text-align: right;
    }

}
.each-point{

    display: inline-block;
    vertical-align: top;
    > p{

        height: 44px;
        width: 22px;
        background: #ffffff;
        border-radius: 10px;
        padding: 0;
        position: relative;
        @include ltr{
            margin: 0 15px 0 0;
        }
        @include rtl{
            margin: 0 0 0 15px;
        }
        > i{
            width: 100%;
            position: absolute;
            text-align: center;
            top: 5px;
            left: 0;
            font-size: 12px;
            line-height: 14px;
            color: #121623;
            font-style: normal;
        }
        &:after{
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #c2c5cd;
            position: absolute;
            bottom: 1px;
            left: 1px;

        }
    }
    &.approved{
        p{
            background: rgba(#ffffff, 0.8);
            &:after{
                background: #008d47;
            }
            &:before{
                content: '\e6f3';
                font: 8px/10px icomoon;
                display: block;
                color: #ffffff;
                bottom: 5px;
                z-index: 9999;
                left: 6px;
                position: absolute;
            }
        }
    }
    &.missed{
        p{
            background: rgba(#ffffff, 0.8);
            &:after{
                background: #e9044a;
            }
            &:before{
                content: '\e6f2';
                font: 8px/10px icomoon;
                display: block;
                color: #ffffff;
                bottom: 5px;
                z-index: 9999;
                left: 7px;
                position: absolute;
            }
        }
    }
}
.center-column-v3 {
    .team-info-events-group {
        @media screen and (max-width: 1260px) {
            .team-info-events {
                padding: 5px 3px;
                .team1-tl-corner,
                .team1-tl-goal,
                .team1-tl-yellow_card,
                .team1-tl-red_card,
                .team1-tl-exchange,
                .team1-tl-substitution,
                .team2-tl-corner,
                .team2-tl-goal,
                .team2-tl-yellow_card,
                .team2-tl-red_card,
                .team2-tl-exchange,
                .team2-tl-substitution {
                    margin: 0;
                    > p {
                        max-width: 126px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
    &.prematch .team-info-events-group .team-info-events {
        padding: 5px 3px;
        .team1-tl-corner,
        .team1-tl-goal,
        .team1-tl-yellow_card,
        .team1-tl-red_card,
        .team1-tl-exchange,
        .team1-tl-substitution,
        .team2-tl-corner,
        .team2-tl-goal,
        .team2-tl-yellow_card,
        .team2-tl-red_card,
        .team2-tl-exchange,
        .team2-tl-substitution {
            margin: 0;
            > p {
                max-width: 126px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}
.team-info-events-group {
    height: 14px;
    width: 14px;
    text-align: center;
    color: #ffffff;
    background: #278B66;
    border-radius: 50%;
    font: 10px/14px $font-f;
    &:hover {
        > .team-info-events {
            display: block;
        }
    }
    .team-info-events {
        top: 50%;
        left: 22px;
        bottom: auto;
        transform: translateY(-50%);
        &:before,
        &:after {
            top: 50%;
            transform: translateY(-50%);
        }
        &:before {
            left: -11px;
            border-color: transparent rgba(0, 0, 0, 0.5) transparent transparent;
        }
        &:after {
            left: -10px;
            border-color: transparent #ffffff transparent transparent;
        }
    }
    &.to-right {
        .team-info-events {
            left: auto;
            right: 22px;
            &:before,
            &:after {
                left: auto;
            }
            &:before {
                right: -11px;
                border-color: transparent transparent transparent rgba(0, 0, 0, 0.5);
            }
            &:after {
                right: -10px;
                border-color: transparent transparent transparent #ffffff;
            }
        }
    }
    .tl-substitution,
    .tl-corner {
        color: #000000;
    }
}
.team-info-events {
    display: none;
    position: absolute;
    bottom: 26px;
    left: -18px;
    white-space: nowrap;
    color: #000;
    background: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px #111;
    z-index: 10;
    .team1-tl-corner,
    .team1-tl-goal,
    .team1-tl-yellow_card,
    .team1-tl-red_card,
    .team1-tl-exchange,
    .team1-tl-substitution,
    .team2-tl-corner,
    .team2-tl-goal,
    .team2-tl-yellow_card,
    .team2-tl-red_card,
    .team2-tl-exchange,
    .team2-tl-substitution {
        position: static;
        margin-top: 4px;
        text-align: left;
        > i {
            position: static;
            display: inline-block;
            vertical-align: middle;
        }
        > p {
            font-size: 11px;
            line-height: 13px;
            display: inline-block;
            vertical-align: middle;
            @include ltr {
                margin-left: 5px;
            }
            @include rtl {
                margin-right: 5px;
            }
        }
        &:first-child {
            margin: 0;
        }
    }
    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 15px;
        width: 0;
        height: 0;
        border-width: 0.5em;
        border-style: solid;
    }
    &:before {
        border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
        top: calc(100% + 1px);
    }
    &:after {
        top: 100%;
        border-color: #fff transparent transparent transparent;
    }
}
.modern{
    .short-info-box{
        padding: 0 15px;
    }
    .shot-result-b{
        //position: relative;
        bottom: -46px;
    }
    .show-points{
        top: -50px;
        @include rtl{
            left: 0;
        }
    }
    .conteiner-live-block:hover .open-game .game-live-row li.team.inactive:hover,
    .conteiner-live-block:hover .game-live-row li.team.inactive:hover,
    .conteiner-live-block:hover .open-game .game-live-row li.factor.inactive:hover
    {
        box-shadow: none;
    }
}
.games-save-slider ul li.sport-BasketballShots .teams:after {
    content: "";
}
.closed-game-container-BasketballShots  .game-live-row .account span:after {
    content: '';
}

// Archery Start

div.live-score-background-archery {
    &.game-team {
        height: 202px;
    }
}
div.live-score-background-archeryh2h {
    &.game-team {
        height: 223px;
    }
}

.game-score-archery-shots {
    float: left;
    width: 100%;
    position: relative;

    box-sizing: border-box !important;
    @include ltr {
        padding: 16px 110px 12px 16px;
    }
    @include rtl {
        padding: 16px 16px 12px 110px;
    }
}
.game-score-archery-total {
    display: block;
    position: absolute;
    top: 26px;
    height: 32px;
    padding: 0 10px;
    color: #d6428e;
    background: rgba(#111827,0.9);
    line-height: 32px;
    box-sizing: border-box !important;
    @include ltr {
        right: 0;
        border-radius: 8px 0 0 8px;
    }
    @include rtl {
        left: 0;
        border-radius: 0 8px 8px 0;
    }
    b {
        font-size: 18px;
        vertical-align: top;
        letter-spacing: 0.43px;
    }
    span {
        opacity: 0.8;
        font-size: 12px;
        font-weight: bold;
        vertical-align: top;
        letter-spacing: 0.29px;
        text-transform: uppercase;
    }
    > li {
        display: inline-block;
        vertical-align: top;
        + li {
            color: #e8eaeb;
            position: relative;
            box-sizing: border-box !important;
            @include ltr {
                margin-left: 4px;
                padding-left: 8px;
            }
            @include rtl {
                margin-right: 4px;
                padding-right: 8px;
            }
            &:before {
                content: "";
                position: absolute;
                top: 10px;
                width: 1px;
                height: 12px;
                background: rgba(#e8eaeb,0.2);
                @include ltr {
                    left: 0;
                }
                @include rtl {
                    right: 0;
                }
            }
        }
    }
}

.game-score-archery-title {
    float: left;
    width: 100%;
    color: #ffffff;
    white-space: nowrap;
    box-sizing: border-box !important;
    text-transform: uppercase;
    font: 22px/24px $font-f;
    @include ltr {
        text-align: left;
    }
    @include rtl {
        text-align: right;
    }
    > span {
        display: inline-block;
        vertical-align: middle;
        max-width: 45%;
    }
    > b {
        margin: 0 10px;
        color: rgba(255,255,255,0.4);
        vertical-align: middle;
        font: normal 16px/18px $font-f;
    }
}
.game-score-archery-paragraph {
    float: left;
    width: 100%;
    margin: 10px 0;
    color: rgba(#ffffff,0.8);
    font: 600 14px/16px $font-f;
    @include ltr {
        text-align: left;
    }
    @include rtl {
        text-align: right;
    }
}
.game-score-archery-set {
    float: left;
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
    @include scroll(hidden,$background: rgba(#ffffff,0.1),$scroll-main-thumb-color: rgba(#ffffff,0.3));
    overflow-x: auto;
    @include ltr {
        text-align: left;
    }
    @include rtl {
        text-align: right;
    }
    &::-webkit-scrollbar {
        height: 4px;
    }
    &::-webkit-scrollbar-thumb {
        &:hover {
            background: rgba(#ffffff,0.45);
        }
    }
    &.grabbing {
        cursor: grabbing;
    }
}
.game-score-archery {
    display: inline-block;
    text-align: center;
    height: 60px;
    padding: 28px 10px 10px;
    border-radius: 12px;
    position: relative;
    background: rgba(#0f161d,0.6);
    box-sizing: border-box !important;
    transition: all 400ms linear;
    transform: translate3d(0, 0, 0);
    > span {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.34px;
        color: #ffffff;
        position: absolute;
        top: 50%;
        opacity: 1;
        display: block;
        white-space: nowrap;
        transition: all 400ms linear;
        @include ltr {
            left: 50%;
        }
        @include rtl {
            right: 50%;
        }
    }
    &:not(.archery-set-expand) {
        width: 60px;
        .archery-point {
            width: 0;
        }
    }
    &:not(.archery-set-expand) {
        > span {
            @include ltr {
                transform: translate(-50%, -50%);
            }
            @include rtl {
                transform: translate(50%, -50%);
            }
        }
    }
    &.archery-set-expand {
        width: 220px;
        > span {
            @include ltr {
                left: 10px;
            }
            @include rtl {
                right: 10px;
            }
        }
    }
    &.archery-set-expand,
    &.archery-set-info {
        background: rgba(#0f161d,0.9);
        > span {
            opacity: 0.3;
            font-size: 12px;
            letter-spacing: 0.29px;
            top: 3px;
        }
    }
    + .game-score-archery {
        @include ltr {
            margin-left: 8px;
        }
        @include rtl {
            margin-right: 8px;
        }
    }
    * {
        pointer-events: none
    }
}
.archery-point {
    float: left;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    transition: width 300ms linear;
    > li {
        display: inline-block;
        vertical-align: middle;
        > i {
            display: inline-block;
            vertical-align: middle;
            width: 22px;
            height: 22px;
            color: #ffffff;
            text-indent: -1px;
            background: rgba(#464e9a,0.3);
            border-radius: 50%;
            position: relative;
            font: 500 normal 14px/23px $font-f;
            + i {
                @include ltr {
                    margin-left: 6px;
                }
                @include rtl {
                    margin-right: 6px;
                }
            }
            &.archery-point-5,
            &.archery-point-6 {
                background: #1fb3eb;
            }
            &.archery-point-7,
            &.archery-point-8 {
                background: #de232a;
            }
            &.archery-point-9,
            &.archery-point-10 {
                background: #d69b42;
            }
            &.archery-point-miss {
                background: #626259;
            }
            &.active:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                opacity: 0;
                background: #525283;
                border-radius: 50%;
                animation: archery-shooting 2000ms linear 3;
            }
        }
        &.archery-point-total {
            @include ltr {
                margin-left: 12px;
            }
            @include rtl {
                margin-right: 12px;
            }
            > i {
                background: #d6428e;
                text-indent: -1px;
            }
        }
    }
    + .archery-point {
        margin-top: 3px;
    }
}
@keyframes archery-shooting {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
.archery-gamer {
    width: 100px;
    color: #ffffff;
    text-transform: uppercase;
    font: bold 13px/15px $font-f;
    @include ltr {
        margin-right: 10px;
        text-align: left;
    }
    @include rtl {
        margin-left: 10px;
        text-align: right;
    }
}
.archery-h2h {
    .game-score-archery {
        height: 80px;
        &.archery-set-expand {
            width: min-content;
            max-width: 250px;
        }
        &.archery-set-shot-off {
            width: 156px;
        }
    }
    .archery-set-info {
        > span {
            @include ltr {
                transform: translateX(-50%);
            }
            @include rtl {
                transform: translateX(50%);
            }
        }
        .archery-point {
            width: 100%;
        }
        .archery-point-total {
            @include ltr {
                margin: 0;
            }
            @include rtl {
                margin: 0;
            }
        }
        .archery-point li:not(.archery-point-total) {
            display: none;
        }
    }
}
.modern {
    .live-game-archery-shots,
    .live-game-archery-shots-h2h {
        width: calc(100% - 359px);
        @include ltr {
            float: left;
        }
        @include rtl {
            float: right;
        }
        .game-score-archery-shots {
            @include ltr {
                padding-right: 16px;
            }
            @include rtl {
                padding-left: 16px;
            }
            .game-score-archery-title,
            .game-score-archery-paragraph {
                width: 75%;
            }
        }
    }
    .no-video-flash.no-video-ie8 {
        &.live-game-archery-shots,
        &.live-game-archery-shots-h2h {
            width: 100%;
        }
    }
}
// Archery End
