.mini-games{
  float: left;
  width: 100%;
}
.mini-game-p {
  float: left;
  width: 100%;
  margin: 10px 0 0;
  background:  $classic-view-background;
  border-radius: 2px;
  overflow: hidden;
  box-sizing: border-box;
  transition: height 250ms;
  &.closed {
    height: 28px;
    .mini-block-close-p:after {
      content: "\e670";
    }
  }
  &.open-dropdown-menu-p {
    .mini-select-p {
      background: $c16-sp-10;
      p {
        color: $c16-tp-1;
        &:after {
          content: "\e66c";
          color: $c16-tp-1;
        }
      }
      > span {
        display: none;
      }
    }
    .mini-block-close-p {
      display: none;
    }
    .mini-games-close-p {
      display: block;
    }
    .mini-game-type-p {
      height: 100%;
      border-top: 1px solid $c16-sp-9;
      border-bottom: 1px solid $c16-sp-9;
    }
  }
}
.mini-header-p {
  float: left;
  width: 100%;
  height: 28px;
  position: relative;
  background: $c16-sp-9;
  box-sizing: border-box;
}
.mini-block-close-p,
.mini-games-close-p {
  text-decoration: none;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font: 12px/28px $font-f;
  @include ltr {
    padding: 0 24px 0 10px;
  }
  @include rtl {
    padding: 0 10px 0 24px;
  }
}
.mini-block-close-p {
  width:100%;
  display: block;
  color: $c16-tp-6;
  &:after {
    content: "\e671";
    position: absolute;
    top: 0;
    color: $c16-tp-6;
    font: 16px/28px icomoon;
    @include ltr {
      right: 4px;
    }
    @include rtl {
      left: 6px;
    }
  }
}
.mini-games-close-p {
  width:100%;
  position: relative;
  text-transform: uppercase;
  top: 0;
  left: 0;
  color: $c16-tp-1;
  display: none;
  &:after {
    content: "\e6ee";
    position: absolute;
    top: 0;
    color: $c16-tp-1;
    font: 10px/28px icomoon;
    @include ltr {
      right: 6px;
    }
    @include rtl {
      left: 8px;
    }
  }
}
.mini-ifram-container-p {
  float: left;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  background:  $classic-view-background;
}
.mini-game-type-p {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  overflow: auto;
  background: $c16-sp-10;
  box-sizing: border-box;
  transition: height 300ms;
  z-index: 10;
  @include ltr {
    text-align: left;
  }
  @include rtl {
    text-align: right;
  }
  @include scroll($scroll: auto);
  li {
    display: block;
    padding: 0 10px;
    box-sizing: border-box;
    a {
      display: block;
      color: $c16-tp-6;
      border-bottom: 1px solid $c16-sp-9;
      box-sizing: border-box;
      text-decoration: none;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: relative;
      font: 12px/28px $font-f;
      @include ltr {
        padding: 0 24px 0 0;
      }
      @include rtl {
        padding: 0 0 0 24px;
      }
      &.active {
        color: $c16-tp-1;
        &:after {
          content: "\54";
          position: absolute;
          top: 0;
          color: $c16-tp-1;
          font: 12px/28px icomoon;
          @include ltr {
            right: 10px;
          }
          @include rtl {
            left: 10px;
          }
        }
      }
    }
    &:last-child a {
      border-bottom: none;
    }
  }
}
.mini-ifram-p {
  float: left;
  width: 100%;
  height: 100%;
  padding: 30%;
  position: relative;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  iframe {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.mini-select-p {
  float: left;
  width: 100%;
  height: 28px;
  padding: 4px 0;
  text-align: center;
  background: $c16-sp-9;
  box-sizing: border-box;
  position: relative;
  p {
    max-width: 180px;
    color: $c16-tp-6;
    cursor: pointer;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font: 12px/20px $font-f;
    @include ltr {
      padding: 0 16px 0 0;
    }
    @include rtl {
      padding: 0 0 0 16px;
    }
    &:after {
      content: "\e66d";
      position: absolute;
      top: 0;
      color: $c16-tp-6;
      font: 16px/20px icomoon;
      @include ltr {
        right: -4px;
      }
      @include rtl {
        left: -4px;
      }
    }
  }
}
.arrow-left-p,
.arrow-right-p {
  width: 24px;
  height: 20px;
  cursor: pointer;
  text-align: center;
  &:before {
    content: "";
    color: $c16-tp-6;
    font: 18px/20px icomoon;
  }
}
.arrow-left-p {
  @include ltr {
    float: left;
    border-right: 1px solid lighten( desaturate( adjust-hue( $c16-sp, -1deg ), 16 ), 3 );
  }
  @include rtl {
    float: right;
    border-left: 1px solid lighten( desaturate( adjust-hue( $c16-sp, -1deg ), 16 ), 3 );
  }
  &:before {
    @include ltr {
      content: "\e66f";
    }
    @include rtl {
      content: "\e672";
    }
  }
}
.arrow-right-p {
  @include ltr {
    float: right;
    border-left: 1px solid lighten( desaturate( adjust-hue( $c16-sp, -1deg ), 16 ), 3 );
  }
  @include rtl {
    float: left;
    border-right: 1px solid lighten( desaturate( adjust-hue( $c16-sp, -1deg ), 16 ), 3 );
  }
  &:before {
    @include ltr {
      content: "\e672";
    }
    @include rtl {
      content: "\e66f";
    }
  }
}
// Modern
.modern {
  .mini-game-p {
    border: 1px solid darken($modern-view-betslip-palette, 15);
    @include ltr {
      margin: 10px 0;
    }
    @include rtl {
      margin: 10px 0;
    }
    &.open-dropdown-menu-p {
      .mini-select-p {
        background: $modern-view-news-block-palette;
        p {
          color: set-color($modern-view-betslip-palette);
          &:after {
            content: "\e66c";
            color: set-color($modern-view-betslip-palette);
          }
        }
      }
      .mini-game-type-p {
        border-color: #7b8191;
      }
    }
  }
  .mini-header-p {
    background: $modern-view-betslip-palette;
  }
  .mini-block-close-p {
    color: #7b8191;
    &:after {
      color: #7b8191;
    }
  }
  .mini-games-close-p {
    color: set-color($modern-view-news-block-palette);
    &:after {
      color: set-color($modern-view-news-block-palette);
    }
  }
  .mini-ifram-container-p {
    background: $modern-view-news-block-palette;
  }
  .mini-game-type-p {
    background: $modern-view-news-block-palette;
    li a {
      color: #7b8191;
      border-color: $modern-view-betslip-palette;
      &.active {
        color: set-color($modern-view-news-block-palette);
        &:after {
          color: set-color($modern-view-news-block-palette);
        }
      }
    }
  }
  .mini-select-p {
    background: $modern-view-betslip-palette;
    p {
      color: #7b8191;
    }
  }
  .arrow-left-p,
  .arrow-right-p {
    border-color: #cbcbcb;
    &:before {
      color: #7b8191;
    }
  }
}
