$delete-cache: '?v=' + random(666);
@function set-color($color, $color-dark: #000000, $color-light: #ffffff) {
  @if ($color == $brand-color-1 and nth($disable-button-bg-sc, 1) == true) {
    @return nth($disable-button-bg-sc, 2);
  }
  @else if ($color == $brand-color-1 and nth($disable-brand-color-1-sc, 1) == true) {
    @return nth($disable-brand-color-1-sc, 2);
  }
  @else if ($color == $brand-color-2 and nth($disable-brand-color-2-sc, 1) == true) {
    @return nth($disable-brand-color-2-sc, 2);
  }
  @else if ($color == $popup-form-palette and nth($disable-popup-form-palette-sc, 1) == true) {
    @return nth($disable-popup-form-palette-sc, 2);
  }
  @else if ($color == $hero-color and nth($disable-hero-color-sc, 1) == true) {
    @return nth($disable-hero-color-sc, 2);
  } @else {
    @if (lightness($color) > 50) {
      @return $color-dark;
    } @else {
      @return $color-light;
    }
  }
}
@mixin rtl {
  html[dir="rtl"] & {
    @content;
  }
}
@mixin placeholder {
  &::-webkit-input-placeholder {@content; opacity: 1;}
  &:-moz-placeholder           {@content; opacity: 1;}
  &::-moz-placeholder          {@content; opacity: 1;}
  &:-ms-input-placeholder      {@content; opacity: 1;}
}
@mixin scroll($scroll: scroll, $width: $scrollbar-width, $background: $scroll-main-color, $scroll-main-thumb-color: $scroll-main-thumb-color, $border-radius: 10px, $scroll-main-thumb-color: $scroll-main-thumb-color) {
  overflow-y: $scroll;
  overflow-x: hidden;
  scrollbar-track-color: $background;
  scrollbar-shadow-color: $background;
  scrollbar-base-color: $scroll-main-thumb-color;
  scrollbar-arrow-color: $scroll-main-thumb-color;
  &::-webkit-scrollbar-track {
    border-radius: $border-radius;
  }
  &::-webkit-scrollbar {
    width: $width;
    background: $background;
    border-radius: $border-radius;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: $border-radius;
    background: $scroll-main-thumb-color;
    &:hover {
      background: lighten( desaturate( $scroll-main-thumb-color, 1 ), 6 );
    }
  }
}
@mixin payments($name, $x,  $width, $parentClass: "", $size: "", $path: '../../../images/payments.png#{$delete-cache}') {
  #{$parentClass} .paymentIcon.#{$name} {
    background: no-repeat url(#{$path + $delete-cache}) #{$x}px 50% #{$size};
    width: #{$width}px;
  }
}
@mixin coloring-by-sports ($sports-name, $sports-color) {
  .sports-item-v3.#{$sports-name} {
    &:before{color: $sports-color;}
    &.Soccer:before {
      color: set-color($c16-sp-9);
    }
  }
  .sport-icon-v3.#{$sports-name}{
    color: $sports-color;
    &.Soccer {
      color: set-color($c16-sp-9);
    }
  }
  .sports-item-v3.#{$sports-name} {
    &.active > .arrow-view-v3 {
      background: $sports-color;
      &:before {
        color: set-color($sports-color);
      }
    }
    &:before {
      box-shadow: 3px 0 0 $sports-color inset;
      @include rtl {
        box-shadow: -3px 0 0 $sports-color inset;
      }
    }
    + .region-item-row-v3 .single-game-item-v3.active:before {
      box-shadow: 2px 0 0 $sports-color inset;
      @include rtl {
        box-shadow: -2px 0 0 $sports-color inset;
      }
    }
  }
  .game-header-view-v3.#{$sports-name} {
    box-shadow: 0 -1px 0 $sports-color inset, inset 0 -2px 0 darken( adjust-hue( $c16-sp-11, -18deg ), 2 );
  }
  .sport-name-up-game-v3.#{$sports-name} {
    box-shadow: 0 -1px 0 $sports-color inset;
  }
  .inplay-game-wrapper.#{$sports-name} {
    border-color: $sports-color;
    &.closed {
      background: $sports-color;
      border-color: lighten( desaturate( adjust-hue( $classic-skinning-color, -1deg), 16), 8);
      .title-sport-inplay > p,
      .arrow-toggle-inplay,
      .sport-icon-inplay.mini-icon-1:before {
        color: set-color($sports-color);
      }
    }
  }
  .classic-view-column-v3 .sports-item-v3.#{$sports-name} + .region-item-row-v3 .single-game-item-v3.active:after {
    background: rgba($sports-color,0.635);
    background: -moz-linear-gradient(left, rgba($sports-color,0.635) 0%, rgba($c16-sp-9,1) 60%,  rgba($c16-sp-9,1) 100%);
    background: -webkit-linear-gradient(left, rgba($sports-color,0.635) 0%, rgba($c16-sp-9,1) 60%,  rgba($c16-sp-9,1) 100%);
    background: linear-gradient(to right, rgba($sports-color,0.635) 0%, rgba($c16-sp-9,1) 60%,  rgba($c16-sp-9,1) 100%);
  }
}
@mixin liveScoreBackgrounds($alias, $imageName: $alias, $imagePath: "../../../images/live-score/") {
  .live-score-background-#{$alias} {
    background: url(#{$imagePath + $imageName}.jpg#{$delete-cache}) no-repeat 50% 50% / cover;
  }
}