$popup-overlay-background-opacity: 0.7 !default;
$popup-overlay-background: black !default;
.new-default-popup-j {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999999;
  animation: popup-bg-enter .3s ease-in-out;
  @include rtl {
    direction: rtl;
  }
  @include scroll($scroll: auto);
  background: rgba($popup-overlay-background, $popup-overlay-background-opacity);
  @-moz-document url-prefix() {
    background: $popup-overlay-background;
  }
  * {
    box-sizing: border-box;
  }
  &:not(.low-balance) img {
    max-width: calc(100vw - 100px);
    max-height: calc(100vh - 230px);
    width: auto;
    height: auto;
    min-height: 100% !important;
  }
  &.allow-header-access {
    height: calc(100% - 94px);
    top: 94px;
    z-index: 9999;
  }
  &.ng-hide {
    animation: popup-bg-closed .3s ease-in-out;
    .popup-wrapper-j {
      animation: popup-closed .3s ease-in-out;
    }
  }
  &.info, &.warning, &.error, &.success {
    .pu-contain-j {
      padding-top: 180px;
      &:before {
        content: '';
        width: 110px;
        height: 110px;
        border-radius: 100%;
        display: block;
        position: absolute;
        top: 40px;
        left: 50%;
        margin-left: -55px;
        background: $skin-palette-10;
      }
      &:after {
        display: block;
        font: 60px icomoon;
        text-align: center;
        position: absolute;
        top: 65px;
        left: 0;
        right: 0;
      }
    }
  }
  &.info {
    .pu-contain-j:after {
      content: "\e6e4";
      color: $text-palette-4;
    }
  }
  &.lp-exchange {
    .pu-contain-j {
      input {
        width: 100%;
        height: 36px;
        margin: 26px 0 0;
        box-sizing: border-box;
        background: rgba(invert(set-color($skin-palette-9)), 0.2);
        transition: border 300ms;
        border: 1px solid $skin-palette-5;
        color: $text-palette-4;
        padding: 0 12px;
        font: 12px/36px $font-f;
        &:focus{
          border: 1px solid $form-elements-focus;
          transition: border-color 300ms;
        }
      }
    }
    .popup-wrapper-j .pu-button-wrap-j button:only-of-type {
      width: 100%;
    }
  }
  &.warning {
    .pu-contain-j:after {
      content: "\e6ed";
      color: #aa8136;
    }
  }
  &.error {
    .pu-contain-j:after {
      content: "\e6eb";
      color: #8e263a;
    }
  }
  &.success {
    .pu-contain-j:after {
      content: "\e6ec";
      color: #1a7051;
    }
  }
  &.feedback {
    .pu-contain-j {
      padding-bottom: 20px;
      @include ltr {
        text-align: left;
      }
      @include rtl {
        text-align: right;
      }
      > p {
        margin-bottom: 35px;
      }
    }
    label {
      display: block;
      p {
        margin-bottom: 10px;
      }
      input[type=email] {
        display: block;
        width: 100%;
        color: $text-palette-2;
        font: normal 12px/36px $font-f;
        border: 1px solid $skin-palette-5;
        transition: 200ms border-color;
        padding: 0 14px;
        height: 36px;
        margin-bottom: 20px;
        box-shadow: none;
        outline: 0;
        background: none;
        caret-color: $text-palette-2;
        @include placeholder {
          color: $text-palette-4;
          font: normal 12px/36px $font-f;
        }
        &:-webkit-autofill {
          -webkit-text-fill-color: rgba(set-color($skin-palette-8),0.5);
          box-shadow: inset 0 0 0 100px $skin-palette-8;
          &:focus {
            border-color: $form-elements-focus;
            box-shadow: 0 0 0 100px $skin-palette-8 inset;
          }
        }
        &:focus {
          border-color: $form-elements-focus;
        }
      }
      textarea {
        display: block;
        width: 100%;
        color: $text-palette-2;
        font: normal 12px/16px $font-f;
        border: 1px solid $skin-palette-5;
        transition: 200ms border-color;
        padding: 12px 14px;
        height: 133px;
        resize: none;
        background: none;
        &:focus {
          border-color: $form-elements-focus;
        }
        @include scroll($scroll: auto);
        @include placeholder {
          color: $text-palette-4;
          font: normal 12px/16px $font-f;
        }
      }
    }
  }
  &.pu-tour-list-j {
    iframe {
      width: 670px;
      height: 550px;
      display: block;
      float: left;
      border-radius: 0 0 5px 5px;
    }
  }
  &.tab-popup-j {
    .pu-head-j {
      border: 0;
      padding: 0;
      line-height: 52px;
      span {
        display: block;
        float: left;
        height: 52px;
        padding: 0 25px;
        font-size: 12px;
        text-transform: uppercase;
        color: $text-palette-4;
        &.active {
          background: $skin-palette-9;
          border: 1px solid $skin-palette-11;
          border-width: 0 1px;
          color: $text-palette-1;
          pointer-events: none;
          &:first-of-type {
            border-left: 0;
          }
        }
      }
    }
  }
  &.cashout-j {
    .pu-contain-j {
      .all-info-cashout-j {
        font-size: 13px;
        line-height: 20px;
        padding: 10px 0;
      }
      .warning-j {
        color: #ef6653;
      }
    }
    .cashout-id-wrapper {
      float: left;
      width: 100%;
      > li {
        float: left;
        width: 100%;
        display: block;
        @include rtl {
          text-align: right;
        }
      }
      p {
        font: 18px/22px $font-f;
      }
    }
    .cashout-amount-head {
      float: left;
      width: 100%;
      display: block;
      height: 40px;
      font: 700 18px $font-f;
      text-transform: uppercase;
      color: $text-palette-3;
      background: none;
      border: 1px solid $text-palette-4;
      text-align: center;
    }
    .cashout-range-box {
      float: left;
      width: 100%;
      height: 42px;
      font: 14px/16px $font-f;
      color: $text-palette-3;
      > ul {
        float: left;
        width: 100%;
        margin: 5px 0 1px;
        > li {
          display: block;
          @include ltr {
            float: left;
          }
          @include rtl {
            float: right;
          }
          &:last-child {
            @include ltr {
              float: right;
            }
            @include rtl {
              float: left;
            }
          }
        }
      }
    }

    .cashout-options {
      width: calc(100% + 60px);
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      @include ltr {
        margin: -30px 0 10px -30px;
      }
      @include rtl {
        margin: -30px -30px 0 0;
      }
      > li {
        display: block;
        float: left;
        width: 100%;
        padding: 20px 30px;
        background: rgba(white, 0.02);
        &:nth-child(2) {
          border: 1px solid #101219;
          border-width: 1px 0;
        }
        &.disabled {
          background: none;
          strong, .cashout-amount-slider {
            opacity: 0.3;
            pointer-events: none;
          }
        }
      }
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
    .cashout-option {
      float: left;
      width: 100%;
      text-align: left;
      > label {
        display: block;
        cursor: pointer;
        float: left;
        width: 100%;
        position: relative;
        @include ltr {
          padding: 0 0 0 22px;
        }
        @include rtl {
          padding: 0 22px 0 0;
        }
        > strong {
          display: block;
          float: left;
          width: 100%;
          font: 700 18px $font-f;
          color: $text-palette-3;
          @include rtl {
            text-align: right;
          }
        }
        > input {
          opacity: 0;
          position: absolute;
          pointer-events: none;
          top: 0;
          @include ltr {
            left: 0;
          }
          @include rtl {
            right: 0;
          }
          &:checked ~ p {
            &:after {
              transform: scale(1);
            }
          }
        }
        > p {
          float: left;
          width: 100%;
          font: 14px/16px $font-f;
          @include rtl {
            text-align: right;
          }
          b {
            display: inline-block;
            vertical-align: top;
            text-transform: uppercase;
          }
          &:before, &:after {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            background: $text-palette-4;
            position: absolute;
            top: 0;
            @include ltr {
              left: 0;
            }
            @include rtl {
              right: 0;
            }
          }
          &:after {
            width: 8px;
            height: 8px;
            margin: 4px;
            background: $text-palette-12;
            transform: scale(0);
            transition: 300ms transform;
          }
        }
      }
    }
  }
  &.video-frame {
    .close-j {
      width: 36px;
      height: 36px;
      line-height: 36px;
      background: $skin-palette-10;
      border-radius: 100%;
      margin: 12px;
    }
    iframe {
      display: block;
      float: left;
      width: 1280px;
      height: 720px;
      transition: 300ms width, 300ms height;
      @media screen and (max-width: 1290px), screen and (max-height: 730px){
        width: 640px;
        height: 360px;
      }
    }
  }
  &.results-popup {
    .results-table-j {
      @include scroll;
      height: calc(80vh - 140px);
    }
  }
  &.pokerklas {
    .contein-smoll-loader {
      top: 56px;
      width: 650px;
      height: 224px;
    }
    .transfer-form-game-j {
      float: left;
      width: 100%;
      padding: 30px;
      .transfer-form-content {
        float: left;
        width: 100%;
        ul {
          float: left;
          width: 100%;
          margin-bottom: 6px;
          li {
            padding: 0 30px 14px 0;
            display: block;
            float: left;
            width: 50%;
            &:last-child {
              padding: 0 0 14px 30px;
              border-left: 1px solid #b2b2b2;
            }
            input {
              display: block;
              float: left;
              width: 100%;
              height: 36px;
              background: none;
              padding: 0 0 0 15px;
              color: $text-palette-3;
              border: 1px solid $registration-fields-background-border;
              font: 12px $font-f;
              transition-duration: 300ms;
              margin: 0 0 30px 0;
              &:focus {
                border-color: $form-elements-focus;
              }
            }
            button {
              float: left;
              width: 100%;
              height: 36px;
              background: $brand-color-1;
              border: 1px solid $brand-color-1;
              color: set-color($brand-color-1);
              font: 14px $font-f;
              text-transform: uppercase;
              transition: opacity 500ms, border 300ms, background 300ms, color 300ms;
              cursor: pointer;
              &:disabled {
                background: none;
                opacity: 0.4;
                pointer-events: none;
                border: 1px solid $button-border-color;
                color: $text-palette-1;
              }
              &:hover {
                background: lighten($brand-color-1, 10);
                border: 1px solid lighten($brand-color-1, 10);
              }
            }
          }
        }
        p {
          float: left;
          width: 100%;
          text-align: center;
          font: 12px/14px $font-f;
          text-transform: uppercase;
          color: #737888;
          margin: 14px 0 0;
          &.transfer-form-success {
            color: $brand-color-1;
          }
          &.transfer-form-error {
            color: #bf4751;
          }
        }
      }
    }
  }
  .paymentImageWrapper {
    img{
      min-height: inherit !important;
    }
  }
}
.cashout-range-input-wrapper {
  float: left;
  width: 100%;
  height: 16px;
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: $text-palette-12;
    position: absolute;
    left: 0;
    top: 50%;
    pointer-events: none;
  }
  small {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    position: absolute;
    background: #128C49;
    pointer-events: none;
    top: 50%;
    z-index: 100;
    @include ltr {
      left: 0;
    }
    @include rtl {
      right: 0;
    }
    &:before {
      content: "";
      display: block;
      box-sizing: border-box;
      width: 12px;
      height: 12px;
      background: #A5AABB;
      border-radius: 100%;
      box-shadow: 0 0 0 2px rgba(white,0.2);
      position: absolute;
      top: -6px;
      @include ltr {
        right: -6px;
      }
      @include rtl {
        left: -6px;
      }
    }
    &:after {
      content: "";
      display: block;
      box-sizing: border-box;
      width: 4px;
      height: 1px;
      background: $text-palette-12;
      box-shadow: 0 2px 0 $text-palette-12;
      position: absolute;
      top: -1px;
      @include ltr {
        right: -2px;
      }
      @include rtl {
        left: -2px;
      }
    }
  }
  input {
    display: block;
    width: 100%;
    height: 16px;
    opacity: 0;
  }
}
.pp-table-j {
  display: table;
  height: 100%;
  width: 100%;
  .table-row-j {
    display: table-row;
    .table-cell-j {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
}

.cashout-amount-slider {
  float: left;
  width: 100%;
  p {
    font: 12px/14px $font-f;
    color: $text-palette-4;
    float: left;
    width: 100%;
    margin: 10px 0 5px;
    @include ltr {
      text-align: left;
    }
    @include rtl {
      text-align: right;
    }
  }
}
.form-error-text-j {
  .error-icon-f-j {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 7px;
    @include ltr {
      right: 8px;
    }
    @include rtl {
      left: 8px;
    }
    &:before {
      font: 18px/22px icomoon;
      content: "\e6eb";
      color: #9D2C45;
      background: $skin-palette-10;
    }
  }
  span {
    display: block;
    color: $text-palette-6;
    font: 12px/16px $font-f;
    width: 140px;
    min-height: 25px;
    padding: 10px;
    top: 0;
    background: $skin-palette-3;
    z-index: 99;
    position: absolute;
    @include ltr {
      text-align: left;
      left: calc(100% + 10px);
    }
    @include rtl {
      right: calc(100% + 10px);
      text-align: right;
    }
    &:before {
      display: block;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      top: 13px;
      @include ltr {
        left: -6px;
        border-width: 6px 6px 6px 0;
        border-color: rgba(0, 0, 0, 0) $skin-palette-3 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      }
      @include rtl {
        right: -6px;
        border-width: 6px 0 6px 6px;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $skin-palette-3;
      }
    }
  }
}
.winners-pu-group-j {
  float: left;
  width: 100%;
  max-height: 510px;
  @include scroll($scroll: auto);
  > ul {
    float: left;
    width: 100%;
    margin: 0 0 6px;
    > li {
      height: 72px;
      display: block;
      float: left;
      width: 100%;
      border-bottom: 1px solid $skin-palette-11;
      padding: 10px 34px 0 20px;
    }
  }
  .winner-info-pu-j {
    float: left;
    p {
      float: left;
      width: 150px;
      text-align: left;
      color: $text-palette-3;
      font: 16px / 20px $font-f;
      font-weight: bold;
      margin: 4px 0 0 15px;
    }
  }
  .win-amount-pu-j {
    float: right;
    p {
      color: $text-palette-3;
      font: 24px / 46px $font-f;
      font-weight: bold;
    }
  }
  .winner-photo-pu-j {
    border-radius: 4px;
    height: 50px;
    width: 50px;
    line-height: 48px;
    float: left;
    border: 1px solid $skin-palette-4;
    overflow: hidden;
    position: relative;
    background-size: cover;
    img {
      width: 100%;
      height: 100%;
      vertical-align: middle;
    }
  }
}

.rules-pu-group-j {
  float: left;
  width: 100%;
  max-height: 510px;
  @include scroll($scroll: auto);
  > ul {
    float: left;
    width: 100%;
    margin: 0 0 6px;
    counter-reset: list;
    > li {
      display: block;
      float: left;
      width: 100%;
      color: $text-palette-3;
      font: 12px / 16px $font-f;
      text-align: left;
      padding: 17px 27px;
      border-bottom: 1px solid $skin-palette-11;
      &:before {
        counter-increment: list;
        content: counter(list);
        display: block;
        width: 36px;
        height: 36px;
        font: 18px/36px $font-f;
        font-weight: bold;
        text-align: center;
        float: left;
        color: $text-palette-2;
        background-color: $brand-color-1;
        border-radius: 100%;
        margin: 0 22px 0 0;
      }
      > div {
        float: left;
        width: calc(100% - 60px);
      }
    }
  }
}

.popup-wrapper-j {
  display: inline-block;
  margin: 20px 0;
  animation: popup-enter .3s ease-in-out;
  background: $skin-palette-8;
  position: relative;
  .pu-head-j {
    font: normal 18px/20px $font-f;
    position: relative;
    z-index: 120;
    padding: 20px 60px 0;
    color: $text-palette-1;
    letter-spacing: 1px;
    > span, > p {
      display: block;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
  .popup-info-tooltip {
    color: $text-palette-5;
    transition: 300ms color;
    font: 12px/18px icomoon;
    display: inline-block;
    vertical-align: top;
    width: 18px;
    text-align: center;
    margin: 0 10px;
    &:before {
      content: "\e967";
    }
    .popup-info-tooltip-content {
      position: absolute;
      top: 128%;
      left: 0;
      width: 100%;
      display: none;
      background: #C2C5CD;
      text-align: left;
      color: #3F4552;
      font: 12px/16px $font-f;
      padding: 16px 24px;
    }
    &:hover {
      color: $text-palette-4;
      .popup-info-tooltip-content {
        display: block;
      }
      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 9px 8px 9px;
        border-color: transparent transparent #C2C5CD transparent;
        display: block;
        position: absolute;
        bottom: -11px;
      }
    }
  }
  .close-j {
    text-decoration: none;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 19px;
    transition: color 200ms;
    width: 20px;
    height: 20px;
    text-align: center;
    color: $text-palette-5;
    font: 14px/20px icomoon;
    @include ltr {
      right: 20px;
    }
    @include rtl {
      left: 20px;
    }
    &:hover {
      color: $text-palette-2;
    }
    &:before {
      content: "\e6ee";
    }
  }
  .pu-contain-j {
    float: left;
    width: 100%;
    padding: 30px 30px 26px;
    position: relative;
    color: $text-palette-4;
    h3 {
      font: bold 14px/16px $font-f;
      margin-bottom: 12px;
      color: $text-palette-3;
    }
    p {
      color: $text-palette-4;
      font: normal 12px $font-f;
      -moz-user-select: auto;
      -khtml-user-select: auto;
      user-select: auto;
      -webkit-user-select: auto;
      -ms-user-select: auto;
      a {
        color: $text-palette-2;
      }
    }
  }
  .pu-button-wrap-j {
    width: 100%;
    display: inline-block;
    padding: 0 30px 30px;
    position: relative;
    button {
      width: calc(50% - 5px);
      font: normal 14px $font-f;
      display: block;
      border: 1px solid $button-border-color;
      background: none;
      transition: 200ms;
      height: 36px;
      color: $text-palette-1;
      text-transform: uppercase;
      cursor: pointer;
      outline: 0;
      @include ltr {
        float: left;
      }
      @include rtl {
        float: right;
      }
      + button {
        @include ltr {
          margin-left: 10px;
        }
        @include rtl {
          margin-right: 10px;
        }
      }
      &:only-of-type {
        width: auto;
        min-width: 180px;
        max-width: 100%;
        @include ltr {
          float: none;
          margin: 0 auto;
        }
        @include rtl {
          float: none;
          margin: 0 auto;
        }
      }
      &:disabled, &.brand-color-1[disabled="disabled"] {
        border-color: $button-disable-bg;
        color: $button-disable-bg;
        pointer-events: none;
        background: none;
      }
      &:hover {
        background: lighten($brand-color-1, 10);
        border-color: lighten($brand-color-1, 10);
      }
      &.cancel-j + button:not(:disabled), &.brand-color-1 {
        background: $brand-color-1;
        border-color: $brand-color-1;
        color: set-color($brand-color-1);
        &:hover {
          background: lighten($brand-color-1, 10);
          border-color: lighten($brand-color-1, 10);
        }
      }
    }
    .md-progress-circular.small-progress {
      top: 8px;
      margin: 0;
      @include ltr {
        left: auto;
        right: 34px;
      }
      @include rtl {
        left: 34px;
        right: auto;
      }
    }
    .runtime-popup{
      margin-top:10px;
      @include ltr {
      text-align: left;
      }
      @include rtl {
        text-align: right;
      }

    }
  }
  .dialog-text-box-b {
    float: left;
    width: 100%;
    text-align: center;
    margin: 12px 0;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    input {
      display: inline-block;
      border: 0;
      background: rgba($skin-palette-13, 0.3);
      font: bold 14px/36px $font-f;
      color: $text-palette-1;
      height: 36px;
      width: 180px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      @include ltr {
        padding: 0 30px 0 30px;
        text-align: center;
      }
      @include rtl {
        text-align: left;
        padding: 0 30px 0 10px;
      }
    }
    .bs-print-icon {
      position: absolute;
      top: 0;
      display: block;
      color: $c16-tp-3;
      font: 12px/36px icomoon;
      @include ltr {
        left: 50px;
      }
      @include rtl {
        right: 50px;
      }
      &:before {
        content: "\e6fc";
      }
    }
  }
  .fedback-wrapper {
    width: auto;
    display: block;
  }
  .md-progress-circular {
    position: absolute;
    bottom: 100px;
    right: 170px;
  }
  .info &, .warning &, .error &, .success &, .lp-exchange & {
    width: 320px;
  }
  .extended & {
    width: 50%;
  }
  .extended-scroll & {
    width: 80%;
    height: calc(100vh - 130px);
  }
  .feedback & {
    width: 430px;
  }
  .image & {
    width: 500px;
  }
  .cashout-j & {
    width: 330px;
    .pu-button-wrap-j button {
      width: 100%;
      ~ button {
        @include ltr {
          margin-left: 0;
        }
        @include rtl {
          margin-right: 0;
        }
      }
      &:not(.ng-hide) ~ button {
        margin: 14px 0 0;
      }
    }
  }
  .winners-rules-pu-j & {
    width: 650px;
  }
  .regional-cup-register-j & {
    width: 650px;
  }
  .pokerklas & {
    width: 650px;
  }
  .coupon-check &{
    width: 575px;
  }
  .results-popup & {
    width: 80vw;
    background: $classic-view-background;
  }
  .preference-confirmation-t & {
    ng-include {
      display: inline-block;
      width: 320px;
      @include ltr {
        text-align: left;
      }
      @include rtl {
        text-align: right;
      }
    }
    .pu-contain-j {
      float: none;
      padding-bottom: 0;
    }
    .pu-button-wrap-j button {
      width: 100%;
      @include ltr {
        margin: 0;
      }
      @include rtl {
        margin: 0;
      }
      &:first-child {
        background: $brand-color-1;
        border-color: $brand-color-1;
        color: set-color($brand-color-1);
        @include ltr {
          margin: 0 0 15px;
        }
        @include rtl {
          margin: 0 0 15px;
        }
        &:hover {
          background: lighten($brand-color-1, 10);
          border-color: lighten($brand-color-1, 10);
        }
        &:disabled {
          opacity: 0.4;
          pointer-events: none;
        }
      }
    }
  }
  .scrolable-t {
    overflow-y: scroll;
    width: 100%;
    height: calc(100vh - 370px);
    padding-right: 10px;
    margin: 10px 0 10px 0;
    text-align: justify;
    @include scroll($scroll: auto, $background: $skin-palette-10);
  }
}
.reality-check-popup .popup-wrapper-j{
  max-width: 40%;
}
@media  screen and (max-width: 1200px){
  .reality-check-popup .popup-wrapper-j{
    max-width: 55%;
    min-width: 400px;
  }
}
.auto-cashout-rule {
  float: left;
  width: 100%;
  min-height: 68px;
  text-align: center;
  background: $skin-palette-8;
  > h4 {
    display: inline-block;
    box-sizing: border-box;
    text-transform: uppercase;
    color: rgba(set-color($skin-palette-8), 0.7);
    text-align: center;
    font: 18px/20px $font-f;
    margin-bottom: 8px;
    position: relative;
    @include ltr {
      padding: 0 26px 0 0;
    }
    @include rtl {
      padding: 0 0 0 26px;
    }
    &:after {
      content: "\e6ec";
      position: absolute;
      top: 0;
      color: #208c65;
      font: 18px/20px icomoon;
      @include ltr {
        right: 0;
      }
      @include rtl {
        left: 0;
      }
    }
  }
  > p {
    width: 100%;
    display: inline-block;
    margin-bottom: 4px;
    text-align: center;
    color: rgba(set-color($skin-palette-8), 0.34);
    font: 14px/16px $font-f;
    > span {
      display: inline-block;
    }
    > b {
      display: inline-block;
      color: rgba(set-color($skin-palette-8), 0.7);
      text-transform: uppercase;
      font-weight: normal;
    }
  }
}
input[type='number'] {
  -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.preferenc-popup-contain {
  > p {
    padding: 0 0 20px;
  }
  h2 {
    font: 14px/16px $font-f;
    color: $text-palette-3;
    padding: 0 0 12px;
  }
  table {
    border-spacing: 0 2px;
    width: 100%;
    border-collapse: separate;
    font: 500 16px/20px $font-f;
    color: $text-palette-1;
    td {
      vertical-align: middle;
      background: rgba($skin-palette-5, 0.5);
      padding: 6px 10px;
      &:not(:first-child) {
        width: 1%;
        white-space: nowrap;
        text-transform: uppercase;
      }
    }
  }
  a {
    display: inline-block;
    vertical-align: top;
    margin: 14px 0 16px;
    text-decoration: underline;
    color: $text-palette-4;
    transition: 300ms color;
    &:hover {
      color: $text-palette-3;
    }
  }
  label {
    display: block;
    cursor: pointer;
    color: $c16-tp-4;
    transition: 300ms color;
    input {
      display: none;
      &:checked ~ {
        small {
          color: $text-palette-1;
        }
        i {
          border-color: $text-palette-1;
          &:before {
            transform: scale(1);
          }
        }
      }
    }
    small {
      display: inline-block;
      vertical-align: middle;
    }
    i {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      border: 2px solid $text-palette-4;
      position: relative;
      transition: 300ms border;
      &:before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: $text-palette-1;
        margin: 3px;
        transition: 300ms transform;
        transform: scale(0);
      }
    }
  }
}
.pu-cont-tabs {
  padding-top: 20px;
  border-bottom: 1px solid $skin-palette-12;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  ul {
    float: left;
    width: 100%;
    border-bottom: 2px solid $skin-palette-5;
    li {
      display: block;
      width: 50%;
      border-bottom: 1px solid $skin-palette-8;
      background: $skin-palette-7;
      font: 12px/34px $font-f;
      color: $text-palette-4;
      @include ltr {
        float: left;
      }
      @include rtl {
        float: right;
      }
      i {
        display: inline-block;
        vertical-align: top;
        font: 12px/36px icomoon;
        height: 34px;
        color: rgba(set-color($skin-palette-7), 0.4);
        @include ltr {
          margin: 0 6px 0 0;
        }
        @include rtl {
          margin: 0 0 0 6px;
        }
      }
      + li {
        border-left: 1px solid $skin-palette-8;
      }
      &.active {
        background: $skin-palette-5;
        border-bottom-color: $skin-palette-5;
        &, i {
          color: $text-palette-2;
        }
      }
    }
  }
}
.cash-out-ask {
  float: left;
  width: 100%;
  text-align: left;
  > h4 {
    float: left;
    width: 100%;
    font: 12px/16px $font-f;
    color: rgba(set-color($skin-palette-8),0.8);
    padding: 8px 12px;
    @include rtl {
      text-align: right;
    }
  }
  > div {
    float: left;
    width: 100%;
    position: relative;
    > p {
      float: left;
      width: 100%;
      height: 42px;
      padding: 0 36px;
      color: set-color($skin-palette-7);
      background: $skin-palette-7;
      position: relative;
      font: 12px/42px $font-f;
      @include rtl {
        text-align: right;
      }
      &:before {
        position: absolute;
        top: 0;
        color: rgba(set-color($skin-palette-7),0.4);
        font: 14px/42px icomoon;
        @include ltr {
          left: 12px;
        }
        @include rtl {
          right: 12px;
        }
      }
    }
    > ul {
      width: 100%;
      position: absolute;
      top: 43px;
      left: 0;
      max-height: 0;
      overflow: hidden;
      background: $skin-palette-7;
      box-shadow: 0 12px 19px 0 rgba(0,0,0,0.15);
      transition: max-height 240ms;
      z-index: 10;
      > li {
        float: left;
        width: 100%;
        padding: 0 16px;
        color: $text-palette-4;
        font: 12px/42px $font-f;
        transition: color 240ms, background 240ms;
        @include rtl {
          text-align: right;
        }
        > p {
          float: left;
          width: 100%;
          border-bottom: 1px solid $skin-palette-8;
          transition: border-color 240ms;
        }
        &:last-child > p {
          border-bottom: none;
        }
        &:hover, &.active {
          color: set-color($brand-color-1);
          background: $brand-color-1;
          > p {
            border-color: $brand-color-1;
          }
        }
      }
    }
    &.active > ul {
      max-height: 126px;
    }
  }
}
.auto-cashout-wrapper {
  float: left;
  width: 100%;
  clear: both;
  text-align: left;
  &:after {
    clear: both;
    content: "";
    display: block;
  }
  p {
    float: left;
    width: 100%;
    font: 12px $font-f;
    color: #7C8190;
    margin: 0 0 10px;
  }
  > ul {
    float: left;
    width: 100%;
    > li {
      float: left;
      width: 100%;
      border-top: 1px solid #0e141a;
      .cashout-option {
        > label {
          margin: 13px 0;
          > p {
            margin: 0;
          }
        }
      }
      &.disabled {
        .cashout-amount-slider {
          opacity: 0.3;
          pointer-events: none;
        }
      }
    }
  }
  .cashout-amount-slider {
    p {
      margin-top: 0;
    }
  }
  .cashout-range-box {
    margin: 0 0 12px;
  }
}
.limit {
  .popup-wrapper-j {
    width: 954px;
    background: $skin-palette-7;
    .pu-head-j {
      background: $skin-palette-7;
      box-shadow: inset 0 -1px 0 rgba(invert(set-color($skin-palette-9)), 0.2);
    }
    .pu-contain-j {
      padding: 0 25px;
      h3, p {
        margin: 0;
        padding: 20px 0;
        text-align: left;
        font: 18px/24px $font-f;
        box-shadow: inset 0 -1px 0 rgba(invert(set-color($skin-palette-9)), 0.2);
      }
    }
    .pu-button-wrap-j {
      padding: 12px 25px;
      button {
        width: calc((100% / 3) - 10px);
        background: $brand-color-1;
        border-color: $brand-color-1;
        &:first-child {
          border: none;
          background: none;
        }
        &:hover {
          background: lighten($brand-color-1, 10);
          border-color: lighten($brand-color-1, 10);
        }

      }
    }
  }
}

.login-warning-popup {
  float: left;
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
.l-w-p-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.l-w-p-content {
  width: 360px;
  margin: 0 auto;
  padding: 28px;
  box-sizing: border-box;
  background: $popup-form-palette;
  > p {
    color: opacify(rgba(set-color($popup-form-palette),0.7), $popup-form-opacify);
    font: 16px/22px $font-f;
  }
  > button {
    width: 100%;
    height: 36px;
    margin-top: 20px;
    background: $brand-color-1;
    text-transform: uppercase;
    font: 14px $font-f;
    color: set-color($brand-color-1);
    cursor: pointer;
    border: 0;
    transition: 200ms background, 200ms border-color;
    transform: translate3d(0,0,0);
    &:hover {
      color: set-color($brand-color-1);
      background: lighten( saturate( $brand-color-1, 1 ), 7 );
    }
  }
}
.gift-bet-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  background: rgba($popup-overlay-background, $popup-overlay-background-opacity);
}
.gift-bet-t {
  float: left;
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
.gift-bet-t-c {
  display: table-cell;
  vertical-align: middle;
}
.gift-bet-wrapper {
  width: 400px;
  margin: 0 auto;
  padding: 28px;
  box-sizing: border-box;
  background: $popup-form-palette;
  position: relative;
  overflow: hidden;
  cursor: auto;
  > form {
    float: left;
    width: 100%;
    > i {
      display: block;
      color: opacify(rgba(set-color($popup-form-palette),0.32), $popup-form-opacify);
      font: 60px/60px icomoon;
      &:before {
        content: "\ea63";
      }
    }
    > h2 {
      float: left;
      width: 100%;
      margin: 10px 0;
      color: opacify(rgba(set-color($popup-form-palette),0.7), $popup-form-opacify);
      font: 16px/18px $font-f;
    }
    > p {
      float: left;
      white-space: normal;
      color: opacify(rgba(set-color($popup-form-palette),0.32), $popup-form-opacify);
      font: 14px/20px $font-f;
    }
    .button-confirm > button {
      width: 50%;
      &:nth-child(2) {
        background: $skin-palette-4;
        border-color: $skin-palette-4;
        color: $text-palette-8;
        &:hover {
          background: lighten($skin-palette-4, 10);
        }
        @if $white-skin == true {
          background: #7b8191;
          border-color: #7b8191;
          color: #f3f3f5;
          &:hover {
            background: lighten(#7b8191, 10);
          }
        }
      }
    }
  }
  .md-progress-circular.md-theme {
    position: relative;
    top: auto;
    left: auto;
    margin: 28px auto;
  }
}
.homework-popup {
  .gift-bet-wrapper,
  .vbet-popup-wr-holder {
    width: 900px;
    height: 664px;
    padding: 0;
    background: none;
  }
}
.select-doc-a{
  max-width: 500px;
  width: 500px;
  li{
    float: left;
    width: 100%;
    text-align: left;
    @include rtl{
      text-align: right;
    }
    > h2{
      font-size: 14px;
      line-height: 16px;
      color: $text-palette-3;
      @include rtl{
        text-align: right;
      }
    }
    > label{
      p {
        font-size: 12px;
        line-height: 14px;
        color: $text-palette-4;
        margin: 20px 0 8px 0;
      }
    }
    &.error-msg{
      color: #EB1729;
      font-size: 12px;
      line-height: 14px;
      margin-top: 10px;
    }
  }
  .upload-verify{
    float: left;
    width: 100%;
    > p {
      font-size: 12px;
      line-height: 14px;
      color: $text-palette-4;
      margin: 20px 0 8px 0;
      &.error-msg{
        color: #EB1729;
        font-size: 12px;
        line-height: 14px;
        margin-top: 10px;
      }
    }
    > ul{
      width: 100%;
      display: table;
      li{
        display: table-cell;
        vertical-align: bottom;
        float: none;
        position: relative;
        > input{
          background: $registration-fields-background;
          box-sizing: border-box;
          margin: 0;
          padding: 0 14px 0 14px;
          font: 12px $font-f;
          height: 36px;
          border-radius: 0;
          width: 100%;
          border: 1px solid $registration-fields-background-border;
          color: $text-palette-4;
          transition: border-color 200ms;
          box-shadow: none;
          -webkit-text-fill-color: opacify(rgba(set-color($registration-fields-background),0.39), $popup-form-opacify);
          caret-color: $text-palette-4;
          @include rtl {
            text-align: right;
          }
          @include placeholder {
            color: $text-palette-4;
            font: 12px $font-f;
          }
        }
        &:first-child{
          width: 40%;
          @include ltr{
            padding: 0 12px 0 0;
          }
          @include rtl{
            padding: 0 0 0 12px;
          }
        }
        &:last-child{
          //width: calc(30% - 10px);
        }
        > button{
          box-sizing: border-box;
          height: 36px;
          background: rgba($skin-palette-1, 0.2);
          text-align: center;
          border: 1px solid $skin-palette-5;
          color: $text-palette-2;
          font-size: 14px;
          line-height: 36px;
          width: 100%;
          text-transform: uppercase;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          cursor: pointer;
          padding: 0 24px;
          //&:hover{
          //  background: lighten(saturate($brand-color-1, 1), 7);
          //}
          &:disabled{
            background: rgba(255,255,255,.2);
            color: #f4f4f6;
            text-align: center;
            border: 1px solid #505768;
            pointer-events: none;
          }
        }
        #passportImage{
          top: 42px;
          width: calc(100% + 112px);
          @include rtl{
            right: 0;
          }
        }
      }
    }

  }
  .button-confirm{
    > button {
      width: 100%;
      margin-top: 20px;
      &:disabled{
        position: relative;
        pointer-events: inherit;
        &:hover{
          &:before{
            content: attr(title);
            display: inline-block;
            position: absolute;
            top: -25px;
            left: 0;
            text-transform: none;
            font-size: 10px;
            line-height: 12px;
            text-align: left;
          }
        }
      }
    }
  }
  .error-msg + .button-confirm{
    > button{
      margin-top: 0;
    }
  }
}

.gift-bet-form {
  float: left;
  width: 100%;
  position: relative;
  > label {
    float: left;
    display: block;
    width: 100%;
    margin: 20px 0 8px;
    color: opacify(rgba(set-color($popup-form-palette),0.39), $popup-form-opacify);
    font: 12px/14px $font-f;
    @include ltr {
      text-align: left;
    }
    @include rtl {
      text-align: right;
    }
  }
  > input {
    float: left;
    width: 100%;
  }
  .tooltip-j {
    top: 0;
    display: block;
  }
  &.error > input {
    border-color: #8e263a;
    @if $white-skin == true {
      border-color: #9d2c45;
    }
  }
}
.gift-bet-error {
  float: left;
  margin-top: 10px;
  color: #ef6653;
  font: 12px/14px $font-f;
  @include ltr {
    text-align: left;
  }
  @include rtl {
    text-align: right;
  }
}
.gift-bet-success {
  float: left;
  width: 100%;
  padding-top: 20px;
  .gift-bet-success {
    margin-bottom: 20px;
    color: #1a7051;
    font: 60px/60px icomoon;
    &:before {
      content: "\e6ec";
    }
  }
  > p {
    white-space: normal;
    color: opacify(rgba(set-color($popup-form-palette),0.32), $popup-form-opacify);
    font: 14px/20px $font-f;
  }
}
.gift-bet-t-c.new-recaptcha-v{
  .button-confirm > button{
    float: none;
  }
  .bet-status-recaptcha .tooltip-wrapper-j {
    transform-origin: right;
    margin-left: -20px;
  }
}

.reality-info{
  float: left;
  width: 100%;
  > h4{
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: $text-palette-3;
    float: left;
    width: 100%;
    text-align: center;
  }
  > span {
    margin-top: 10px;
    color: $text-palette-4;
    font-size: 14px;
    line-height: 16px;
  }
}
.reality-title{
  width: 70%;
  @include ltr {
    float: left;
    text-align: left;
  }
  @include rtl {
    float: right;
    text-align: right;
  }
}
.reality-value{
  width: 30%;
  font-weight: bold;
  box-sizing: border-box;
  @include ltr {
    float: right;
    text-align: right;
    padding-left: 10px;
  }
  @include rtl {
    float: left;
    text-align: left;
    padding-right: 10px;
  }
}
.new-default-popup-j.gift-bet-popup{
  .popup-wrapper-j{
    min-width: 560px;
    min-height: 382px;
    .md-progress-circular {
      bottom: -160px;
      right: 220px;
    }
  }
}
.new-default-popup-j.info.accepted .pu-contain-j{
  &:before{
    background: #008d47;
  }
  &:after{
    content: "\e6f3";
    color: #ffffff;
  }
}
.new-default-popup-j.info.declined .pu-contain-j{
  &:before{
    background: #e9044a;
  }
  &:after{
    content: "\e6f2";
    color: #ffffff;
  }
}
.session-reality-check {
  .popup-wrapper-j {
    max-width: 500px;
  }
  .button-confirm {
    > button {
      margin-bottom: 10px;
    }
  }
}
.session-reality-check-content {
  float: left;
  width: 100%;
  color: $text-palette-4;
  font: 14px/18px $font-f;
}
.session-reality-footer {
  float: left;
  width: 100%;
  margin-top: 20px;
  > a {
    color: $text-palette-3;
    font: 14px/16px $font-f;
    transition: color 240ms;
    @include ltr {
      float: left;
    }
    @include rtl {
      float: right;
    }
    &:first-child {
      width: 100%;
      margin-bottom: 20px;
    }
    &:last-child {
      @include ltr {
        float: right;
      }
      @include rtl {
        float: left;
      }
    }
    &:hover {
      color: $text-palette-1;
    }
  }
}
.SMS_VERIFICATION_POPUP {
  .pu-head-j,
  .pu-contain-j > p {
    display: none;
  }
}
.sms-verification-popup {
  float: left;
  width: 100%;
  max-width: 400px;
  .settings-info-contain {
    width: 100%;
  }
  .sms-v-f {
    float: left;
    width: 100%;
  }
  .tooltip-wrapper-j {
    width: calc(100% - 110px);
    @include rtl {
      float: right;
    }
    + .cashier-button {
      width: 110px;
    }
  }
  .settings-info-contain input[type=text] {
    width: 100%;
    margin: 0;
    color: $text-palette-4;
    background: $skin-palette-7;
    border-color: $skin-palette-5;
    border-radius: 0;
  }
  .cashier-button {
    margin: 0;
    position: static;
    .sms-time-btn:disabled {
      color: set-color($skin-palette-6);
    }
  }
  .change-button-container .cashier-button {
    width: 100%;
    button {
      width: calc(50% - 4px);
      @include ltr {
        float: left;
      }
      @include rtl {
        float: right;
      }
      + button {
        background: $skin-palette-4;
        border-color: $skin-palette-4;
        color: $text-palette-8;
        @include ltr {
          margin-left: 8px;
        }
        @include rtl {
          margin-right: 8px;
        }
        &:hover {
          background: lighten($skin-palette-4, 10);
        }
        @if $white-skin == true {
          background: #7b8191;
          border-color: #7b8191;
          color: #f3f3f5;
          &:hover {
            background: lighten(#7b8191, 10);
          }
        }
      }
    }
  }
}

// Recharge popup Start

.low-balance .popup-wrapper-j {
  max-width: 800px;
  .pu-button-wrap-j {
    padding: 30px 0 0;
    button {
      &:first-child {
        color: set-color($brand-color-1);
        background: $brand-color-1;
        border-color: $brand-color-1;
        &:not([disabled]):hover {
          color: set-color($brand-color-1);
          background: lighten($brand-color-1, 10);
          border-color: lighten($brand-color-1, 10);
        }
      }
    }
  }
}
.new-default-popup-j {
  .contain-footer-block {
    float: none;
    width: auto;
    display: inline-block;
    background: none;
    .guide {
      @media screen and (max-width: 1260px) {
        width: calc(100% - 20px);
      }
    }
    .paymen-icons-list {
      background: none;
    }
    .payment-content-block {
      width: auto;
      > ul {
        padding: 30px 0 0;
        > li {
          padding: 0 10px;
        }
      }
    }
  }
}

// Recharge popup End