.regional-cup-page-j {
  float: left;
  width: 100%;
  background: #171d2c;
  background-size: 100%;
  margin: 44px 0 0 0;
}
.regional-cup-page-j * {
  box-sizing: border-box;
}
.rcup-slider-wrap-j {
  position: relative;
  float: left;
  width: 100%;
  height: 460px;
  margin: 24px 0 0 0;
  background: #121623;
}
.rcup-slider-wrap-j .slides-j,
.rcup-slider-wrap-j li {
  float: left;
  height: 100%;
  width: 100%;
  position: relative;
}
.rcup-slider-wrap-j li {
  background-size: cover;
  background-position: 50% 50%;
}
.rcup-slider-wrap-j .rcup-max-width-j {
  float: left;
  width: 390px;
  padding: 65px 0 0 52px;
}
.rcup-slider-wrap-j h2 {
  font: 78px/80px $font-f;
  font-weight: normal;
  color: #f3f3f5;
  text-transform: uppercase;
}
.rcup-slider-wrap-j h2:first-line {
  font-weight: bold;
}
.rcup-slider-wrap-j p {
  margin: 25px 0 0 0;
  font: 400 16px/22px $font-f;
  color: #c2c5cd;
  overflow: hidden;
}
.rcup-pagination-j {
  position: absolute;
  height: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(18, 22, 35, 0.6);
  text-align: center;
}
.rcup-pagination-j ul {
  display: inline-block;
}
.rcup-pagination-j ul li {
  display: block;
  float: left;
  width: 18px;
  cursor: pointer;
}
.rcup-pagination-j ul span {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 23px 0 0 0;
  transition: 250ms background;
}
.rcup-pagination-j ul span.active-j,
.rcup-pagination-j ul span:hover {
  background-color: rgba(243, 243, 245, 0.8);
}
.rcup-pagination-j .prev-j,
.rcup-pagination-j .next-j {
  margin: 0 20px;
}
.rcup-pagination-j .prev-j:before,
.rcup-pagination-j .next-j:before {
  font: 18px/60px icomoon;
  color: rgba(255, 255, 255, 0.7);
}
.rcup-pagination-j .next-j:before {
  content: "\e67a";
}
.rcup-pagination-j .prev-j:before {
  content: "\e677";
}
.rcup-games-j {
  float: left;
  width: 100%;
  height: 620px;
  margin: 10px 0 36px 0;
}
.rcup-games-j .icon-rcup-j {
  background-color: $hero-color;
  width: 80px;
  height: 80px;
  display: inline-block;
  color: white;
  border-radius: 100%;
  font-family: icomoon;
  line-height: 80px;
  font-size: 38px;
}
.rcup-games-j .icon-rcup-j + p {
  display: block;
  float: left;
  width: 100%;
  font: 400 30px/32px $font-f;
  color: #ffffff;
  text-transform: uppercase;
  margin: 15px 0 0 0;
}
.rcup-games-j ul {
  float: left;
  height: 100%;
  width: 100%;
}
.rcup-games-j li {
  background-size: cover;
  background-position: 50% 50%;
  width: calc(100% / 3 - 7px);
  height: 100%;
  margin: 0 10px 0 0;
  padding: 55px 0 0;
  position: relative;
  text-align: center;
  float: left;
}
.rcup-games-j li:last-child {
  margin: 0;
}
.rcup-games-j li.poker-j i:before {
  content: "\e6c0";
  font-size: 50px;
}
.rcup-games-j li.belote-j i:before {
  content: "\e6d0";
}
.rcup-games-j li.backgammon-j i:before {
  content: "\e6cf";
}
.rcup-games-j .button-wrap-j {
  position: absolute;
  display: inline-block;
  bottom: 28px;
  left: 76px;
  right: 76px;
}
.rcup-games-j .button-wrap-j .rc-button-j {
  display: block;
  margin: 12px 0 0 0;
  width: 100%;
  float: left;
  border: 2px solid #206d53;
  background-color: #206d53;
  border-radius: 5px;
  color: #ffffff;
  font: 700 18px $font-f;
  cursor: pointer;
  height: 56px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 250ms background-color, 250ms border-color;
}
.rcup-games-j .button-wrap-j .rc-button-j.skin-j {
  background-color: transparent;
  border-color: #ffffff;
}
.rcup-games-j .button-wrap-j .rc-button-j:hover,
.rcup-games-j .button-wrap-j .rc-button-j.skin-j:hover {
  background: $hero-color;
  border-color: $hero-color;
}
.new-default-popup-j.pu-game-rules-j .table-row-j .table-cell-j {
  display: block;
  position: absolute;
  top: 16%;
  width: 100%;
}
.pu-rules-wrap-j {
  display: inline-block;
  width: 940px;
  padding: 0px 24px;
  text-align: left;
}
.pu-rules-wrap-j h2 {
  float: left;
  width: calc(100% - 30px);
  color: #dddddd;
  font: 28px/30px $font-f;
  font-weight: normal;
  margin: 0 0 8px 0;
}
.pu-rules-wrap-j h2 i.icon-j {
  display: inline-block;
  vertical-align: text-bottom;
  width: 34px;
  height: 34px;
  background-color: rgba(87, 92, 102, 0.4);
  border-radius: 50%;
  margin: 0 8px 0 0;
  text-align: center;
  font: 20px/34px icomoon;
  color: white;
}
.pu-rules-wrap-j h2 i.icon-j:before {
  content: "\3a";
}
.pu-rules-wrap-j .close-pu-rules-j {
  display: block;
  float: right;
  font: 20px/20px icomoon;
  color: #9398a7;
  margin: 7px 0 0 0;
  cursor: pointer;
}
.pu-rules-wrap-j .close-pu-rules-j:before {
  content: "\e117";
}
.rules-tabs-j,
.rules-tabs-j ul {
  width: 100%;
  float: left;
}
.rules-tabs-j li {
  float: left;
  border-radius: 4px 4px 0 0;
  height: 40px;
  background-color: #272e3f;
  transition: 250ms background, 250ms color;
  padding: 0 30px;
  font: 18px/40px $font-f;
  color: #9398a7;
  cursor: pointer;
}
.rules-tabs-j li.active-j {
  background-color: #141927;
  color: #ffffff;
}
.rules-tab-group-j {
  float: left;
  width: 100%;
}
.rules-tab-group-j .rules-tab-j {
  background-color: #171c2c;
  float: left;
  width: 100%;
  padding: 22px 34px;
  color: #9398a7;
  font: 14px/20px $font-f;
  max-height: 480px;
  @include scroll($scroll: auto);
}
.rules-tab-group-j h1 {
  float: left;
  width: 100%;
  color: #ffffff;
  font: 30px/34px $font-f;
  font-weight: normal;
  border-bottom: 3px solid $hero-color;
  margin: 0 0 20px 0;
  padding: 0 0 3px 0;
}
.rules-tab-j table {
  width: 100% !important;
  float: left;
  font: 12px/16px Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #f3f3f5;
  td {
    border-top: 3px solid #171c2c;
    padding: 12px 20px;
    text-align: center;
    vertical-align: middle;
    background: #2e3343;
    text-align: left;
  }
  tr:nth-child(even) td {
    background: #1e2639;
  }
  tr:first-child td {
    background: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
  }
  tr:nth-child(2) td {
    background: none;
  }
  tr:nth-child(3) td {
    &:first-child {
      border-top-left-radius: 8px;
    }
    &:last-child {
      border-top-right-radius: 8px;
    }
  }
  tr:last-child td {
    &:first-child {
      border-bottom-left-radius: 8px;
    }
    &:last-child {
      border-bottom-right-radius: 8px;
    }
  }
}