.block-slider.popup{
  z-index: 99999;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba($popup-overlay-background, $popup-overlay-background-opacity);
  padding: 0;
  overflow: hidden;
  transition-duration: inherit;
  animation: popup-bg-enter .3s ease-in-out;
  .closed-arrow-b, .close, .close-slider-button-j{
    display: none;
  }
}
.block-slider.popup .registration-form {
  position: absolute;
  width: 100%;
  height: 100%;
}
.form-register-layout{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.popup-layout-registration{
  margin: 0 auto;
  display: block;
  height: 100%;
  text-align: center;
  @include scroll($scroll: auto);
  + .registration-form {
    display: none;
  }
}
.popup-layout-registration:after{
  content: "";
  clear: both;
  display: block;
}
.vertical-middle-wrapper{
  display: inline-table;
  height: 100%;
}
.all-popup-separator{
  display: table-cell;
  vertical-align: middle;
}
.register-contain-new {
  float: left;
  width: 100%;
  padding: 28px;
  box-sizing: border-box;
  white-space: normal;
}

.register-container  {
  float: left;
  display: table;
  width: 100%;
  margin: 20px 0;
  animation: popup-enter .3s ease-in-out;
  transition: 200ms width;
  > ng-include {
    display: table-cell;
    vertical-align: top;
    position: relative;
    background: $popup-form-palette;
  }
}
.register-steps-b {
  width: 360px;
  max-width: 360px;
  display: table-cell;
  background: $popup-form-palette;
  position: relative;
  box-sizing: border-box;
  z-index: 33;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
  line-height: 0;
  .reg-s-left-col,
  .reg-s-right-col {
    width: 50%;
    box-sizing: border-box;
  }
  .reg-s-left-col {
    padding: 0 12px 0 0;
  }
  .reg-s-right-col {
    padding: 0 0 0 12px;
  }
  &.two-column {
    width: 650px;
    max-width: 650px;
  }
  .reg-s-steps {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    width: 100%;
    padding: 28px;
    box-sizing: border-box;
    transition: transform 400ms, max-height 1000ms, opacity 300ms ease 100ms;
    transform: translate3d(0,0,0);
    overflow: hidden;
    max-height: 300px;
    opacity: 0;
    font: 12px/14px $font-f;
    @include rtl {
      direction: rtl;
    }
    &.active {
      max-height: 450vh;
      opacity: 1;
    }
    &.show-second {
      transform: translate3d(-100%,0,0);
      + .reg-s-steps {
        @include ltr {
          transform: translate3d(-100%,0,0);
        }
        @include rtl {
          transform: translate3d(100%,0,0);
        }
      }
    }
    &.step-2 {
      .field-separator {
        &:first-child,
        &:nth-child(3).birth_year {
          .tooltip-j {
            top: calc(100% + 5px);
            bottom: auto;
            &:before {
              top: auto;
              bottom: 100%;
              border-width: 0 6px 6px 6px;
              border-color: transparent transparent #c1c4cd transparent;
            }
          }
        }
      }
    }
  }
  .field-separator {
    width: 100%;
    @include ltr {
      float: left;
    }
    @include rtl {
      float: right;
    }
    &.birth_day,
    &.doc_issue_day {
      width: 70px;
    }
    &.birth_month,
    &.doc_issue_month {
      width: calc(100% - 70px - 91px - 14px);
      margin: 0 7px;
    }
    &.birth_year,
    &.doc_issue_year {
      width: 91px;
    }
    &.g_recaptcha_response {
      text-align: center;
      > div {
        display: inline-block;
        > div {
          display: inline-block;
        }
      }
    }
  }
  .checkbox-separator {
    .tooltip-wrapper-j {
      width: auto;
    }
  }
}
.reg-commercial-banner {
  float: left;
  width: 360px;
  height: 100%;
  display: block;
  text-align: left;
}
.reg-commercial-scroll {
  float: left;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  @include ltr {
    padding: 20px 0 41px 30px;
  }
  @include rtl {
    padding: 20px 30px 41px 0;
  }
}
.reg-commercial-content {
  float: left;
  width: 100%;
  height: 100%;
  padding: 0 4px 0 0;
  box-sizing: border-box;
  > a {
    float: left;
    display: block;
    width: 100%;
    img {
      float: left;
      width: 100%;
      display: block;
    }
  }
  > div {
    float: left;
    width: 100%;
    > p {
      float: left;
      width: 100%;
      color: $text-palette-4;
      box-sizing: border-box;
      white-space: normal;
      font: 12px/16px $font-f;
      @include ltr {
        padding: 0 4px 0 0;
      }
      @include rtl {
        padding: 0 0 0 4px;
        text-align: right;
      }
      & + p {
        margin: 8px 0 0;
      }
    }
  }
}
.commercial-title {
  float: left;
  width: 100%;
  margin: 26px 0 20px;
  color: $text-palette-3;
  font: 16px/18px $font-f;
  text-transform: uppercase;
  white-space: normal;
  line-height: 22px;
  @include rtl {
    text-align: right;
  }
  &.ng-hide {
    opacity: 0 !important;
    display: block !important;
    min-height: 22px;
  }
}
.reg-steps-footer {
  float: left;
  width: 100%;
  height: 41px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: $popup-form-palette;
  box-sizing: border-box;
  @include ltr {
    padding-left: 30px;
  }
  @include rtl {
    padding-right: 30px;
  }
  .hp-slider-pagination {
    padding: 0 20px;
    bottom: 4px;
    .reg-pagination {
      line-height: 30px;
      @include ltr {
        float: left;
      }
      @include rtl {
        float: right;
      }
      small {
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        margin: 0 2px;
        cursor: pointer;
        border-radius: 50%;
        background: set-color($skin-palette-12);
        transition: 250ms background;
        &:hover {
          background: set-color(lighten($skin-palette-12,10));
        }
        &.active {
          background: $hero-color;
        }
      }
    }
  }
}
.register-container .hp-slider-pagination {
  @include rtl {
    right: 0;
    left: auto;
  }
}
.reg-social {
  line-height: 41px;
  @include ltr {
    float: right;
  }
  @include rtl {
    float: left;
  }
  > a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 3px;
    vertical-align: middle;
  }
}

.reg-s-pagination {
  float: left;
  width: 100%;
  margin: 0 0 15px;
  text-align: center;
  font-size: 0;
  line-height: 0;
  @include rtl {
    direction: rtl;
  }
  small {
    margin: 0 4px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: rgba(set-color($popup-form-palette), 0.1);
    &.active {
      background: rgba(set-color($popup-form-palette), 0.59);
    }
  }
}
.back-popup-form{
  position: absolute;
  top: 20px;
  z-index: 55;
  @include ltr {
    left: 20px;
  }
  @include rtl {
    right: 20px;
  }
  &:before{
    font: 12px/12px icomoon;
    color: opacify(rgba(set-color($popup-form-palette),0.39), $popup-form-opacify);
    content: "\e677";
    cursor: pointer;
    transition: 250ms color;
  }
  &:hover:before {
    color: opacify(rgba(set-color($popup-form-palette),0.7), $popup-form-opacify);
  }
}
.closed-popup-form{
  position: absolute;
  top: 20px;
  z-index: 55;
  @include ltr {
    right: 20px;
  }
  @include rtl {
    left: 20px;
  }
  &:before{
    font: 12px/12px icomoon;
    color: opacify(rgba(set-color($popup-form-palette),0.39), $popup-form-opacify);
    content: "\e6ee";
    cursor: pointer;
    transition: 250ms color;
  }
  &:hover:before {
    color: opacify(rgba(set-color($popup-form-palette),0.7), $popup-form-opacify);
  }
}
.logo-form-b{
  float: left;
  width: 100%;
  height: 76px;
  margin: 15px 0 20px;
  line-height: 76px;
  text-align: center;
  img {
    display: inline-block;
    vertical-align: middle;
    max-height: 76px;
    max-width: 100%;
  }
}
.register-information-b{
  float: left;
  width: 100%;
  text-align: center;
}
.block-slider.popup .register-information-b > h2{
  float: left;
  width: 100%;
  color: opacify(rgba(set-color($popup-form-palette),0.32), $popup-form-opacify);
  font: 14px/16px $font-f;
  margin: 0 0 5px;
}
.block-slider.popup .all-popup-separator .register-information-b h3{
  float: left;
  width: 100%;
  color: opacify(rgba(set-color($popup-form-palette),0.7), $popup-form-opacify);
  font: 16px/18px $font-f !important;
  margin: 0 0 5px;
  box-shadow: none;
  text-transform: none;
  text-shadow: none;
}
.mail-use-b{
  float: left;
  width: 100%;
  margin: 20px 0;
  font: 12px/14px $font-f;
  > p{
    display: inline-block;
    color: $text-palette-4;
    margin: 0 10px 0 0;
    padding: 0;
    &.active{
      display: inline-block;
      color: $text-palette-3;
      border-bottom: 1px dotted $skin-palette-4;
      cursor: pointer;
      padding: 0;
      margin: 0 10px 0 0;
    }
  }
}
.reg-form-steps{
  float: left;
  width: 100%;
}
.reg-form-steps div.error,
.reg-form-ste div.success{
  float: left;
  width: 100%;
}
.reg-form-steps > div > p{
  color: $text-palette-4;
  float: left;
  width: 100%;
  font: 12px/14px $font-f;
  margin: 5px 0 10px;
  text-align: left;
}
.reg-form-steps > div.error > p{
  color: #a82d46;
}
.name-info-registration-b {
  float: left;
  width: 100%;
  margin: 10px 0 0;
  box-sizing: border-box;
  padding: 0 0 0 15px;
  min-height: 104px;
}
.name-info-registration-b > p{
  font: 11px/14px $font-f;
  color: $text-palette-4;
  text-align: left;
  width: 100%;
  padding: 0 0 5px;
}
.input-separator-b{
  float: left;
  width: 100%;
  margin: 20px 0 0;
  position: relative;
}
.register-steps-b .reg-form-input-number{
  width: 200px;
}
.block-sign-in-form .select-j select,
.register-steps-b div,
.register-steps-b .reg-form-input-number,
.form-register-layout.signin .field-separator .form-text,
.send-message-j .tooltip-wrapper-j,
.right-block-history.message.compose.send-message-j .settings-info-contain .form-text {
  &.error {
    input, textarea{
      border-color: #8e263a;
      @if $white-skin == true {
        border-color: #9d2c45;
      }
    }
    input {
      @include ltr {
        padding: 0 38px 0 14px;
      }
      @include rtl {
        padding: 0 14px 0 38px;
      }
    }
  }
}
.block-sign-in-form .error .select-j select, .reg-list-item-wrapper-j .error input {
  border-color: #8e263a !important;
  @if $white-skin == true {
    border-color: #9d2c45 !important;
  }
}
.reg-list-item-wrapper-j .error input {
  padding: 0 38px 0 14px;
}
.input-separator-b input,
.form-register-layout.signin .field-separator .form-text input,
.register-steps-b input:not([type="radio"]),
.register-steps-b .registration-form-city input,
.register-steps-b .reg-form-input-number input,
.reg-list-item-wrapper-j input,
.send-message-j input[type="text"],
.gift-bet-form > input {
  background: $registration-fields-background;
  box-sizing: border-box;
  margin: 0;
  padding: 0 14px 0 14px;
  font: 12px $font-f;
  height: 36px;
  border-radius: 0;
  width: 100%;
  border: 1px solid $registration-fields-background-border;
  color: $text-palette-4;
  transition: border-color 200ms;
  box-shadow: none;
  -webkit-text-fill-color: opacify(rgba(set-color($registration-fields-background),0.39), $popup-form-opacify);
  caret-color: $text-palette-4;
  @include rtl {
    text-align: right;
  }
  @include placeholder {
    color: $text-palette-4;
    font: 12px $font-f;
  }
  &:-moz-placeholder {
    font: 12px/34px $font-f;
  }
  &::-moz-placeholder {
    font: 12px/34px $font-f;
  }
  &:-webkit-autofill {
    &, &:focus {
      box-shadow: inset 0 0 0 1px $registration-fields-background-border, inset 0 0 0 100px $registration-fields-background;
      -webkit-text-fill-color: opacify(rgba(set-color($popup-form-palette),0.39), $popup-form-opacify);
      border: 0;
    }
    &:focus {
      box-shadow: inset 0 0 0 1px $form-elements-focus, inset 0 0 0 100px $registration-fields-background;
    }
  }
  &:focus{
    border-color: $form-elements-focus;
    transition: border-color 300ms;
    &::-webkit-contacts-auto-fill-button, &::-webkit-credentials-auto-fill-button {
      background-color: $form-elements-focus;
    }
  }
}

.register-steps-b,
.reg-list-item-wrapper-j {
  input[autocomplete="new-password"] {
    @include ltr {
      padding: 0 30px 0 14px;
    }
    @include rtl {
      padding: 0 14px 0 30px;
    }
  }
  div.error {
    input[autocomplete="new-password"] {
      text-overflow: ellipsis;
      @include ltr {
        padding: 0 74px 0 14px;
      }
      @include rtl {
        padding: 0 14px 0 74px;
      }
    }
    .tooltip-wrapper-j > i {
      @include ltr {
        right: 38px;
        border-right: 1px solid #8e263a;
      }
      @include rtl {
        left: 38px;
        border-left: 1px solid #8e263a;
      }
    }
  }
}


.form-register-layout.signin .register-steps-b .field-separator label{
  &.checkbox{
    margin: 5px 0;
    width: auto;
  }
}


.register-steps-b label:not(.label-reg-radio) {
  float: left;
  width: 100%;
  margin: 20px 0 8px;
  white-space: nowrap;
  min-height: 14px;
  @include ltr {
    text-align: left;
  }
  @include rtl {
    direction: rtl;
    text-align: right;
  }
  > span {
    white-space: normal;
  }

}
.currency_name label{
  &:empty{
    margin: 0;
  }
}
.register-steps-b label.wrap{
  white-space: normal;
}
.registration-list-columns-j .reg-list-item-wrapper-j, .register-steps-b label:not(.label-reg-radio) {
  color: opacify(rgba(set-color($popup-form-palette),0.39), $popup-form-opacify);
  font: 12px/14px $font-f;
}
.view-passward{
  position: absolute;
  top: 0;
  height: 36px;
  width: 37px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  @include ltr {
    right: 0;
  }
  @include rtl {
    left: 0;
  }
}
.view-passward:before{
  font: 18px/36px icomoon;
  content: "\e6b3";
  color: $text-palette-4;
}
.register-steps-b .info-tooltip p{
  white-space: normal;
  width: 250px;
  border-radius: 5px;
  background: $skin-palette-3;
  color: $text-palette-6;
}
.register-steps-b .info-tooltip p .arrow-sport{
  background: none;
}
.register-steps-b .info-tooltip p .arrow-sport:before{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent $skin-palette-3 transparent;
  position: absolute;
  top: 5px;
}
.account-link-b{
  float: left;
  width: 100%;
  text-align: center;
  font: 12px/16px $font-f;
  margin: 20px 0 0;
  @include rtl {
    direction: rtl;
  }
}
.account-link-b > p{
  float: none;
  width: auto;
  margin: 0;
  display: inline-block;
  color: opacify(rgba(set-color($popup-form-palette),0.39), $popup-form-opacify);
  @include ltr {
    padding: 0 10px 0 0;
  }
  @include rtl {
    padding: 0 0 0 10px;
  }
}
.account-link-b > span{
  display: inline-block;
  color: opacify(rgba(set-color($popup-form-palette),0.6), $popup-form-opacify);
  border-bottom: 1px dotted opacify(rgba(set-color($popup-form-palette),0.7), $popup-form-opacify);;
  cursor: pointer;
  text-transform: capitalize;
}
.button-confirm{
  float: left;
  width: 100%;
  margin: 20px 0 0;
  position: relative;
}
.button-confirm .md-progress-circular.small-progress{
  position: absolute;
  top: 8px;
  z-index: 10;
  margin: 0;
  @include ltr {
    left: auto;
    right: 2px;
  }
  @include rtl {
    left: 2px;
    right: auto;
  }
}
.button-confirm > button{
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: $brand-color-1;
  text-transform: uppercase;
  font: 14px $font-f;
  height: 36px;
  color: set-color($brand-color-1);
  cursor: pointer;
  padding: 0;
  top: 0;
  max-width: inherit;
  margin: 0;
  border: 0;
  transition: 200ms background, 200ms border-color;
  transform: translate3d(0,0,0);
  @include ltr {
    float: left;
  }
  @include rtl {
    float: right;
  }
}
.button-confirm.step-2 button:nth-of-type(2) {
  border-left: 0;
}
.button-confirm > button:hover, .button-confirm.step-2 button:hover {
  background: lighten( saturate( $brand-color-1, 1 ), 7 );
  color: set-color($brand-color-1);
}
.button-confirm.step-2 button:nth-child(2){
  background: $skin-palette-4;
  border-color: $skin-palette-4;
  color: $text-palette-8;
  &:hover {
    background: lighten($skin-palette-4, 10);
  }
  @if $white-skin == true {
    background: #7b8191;
    border-color: #7b8191;
    color: #f3f3f5;
    &:hover {
      background: lighten(#7b8191, 10);
    }
  }
}
.button-confirm > button:disabled{
  color: rgba(set-color($popup-form-palette),0.3);
  background: rgba(set-color($popup-form-palette),0.09);
  cursor: default;
}
.forgot-password .bet-status-recaptcha .tooltip-wrapper-j {
  transform: scale(1);
}
.via-reset {
  float: left;
  width: 100%;
  margin-top: 16px;
  color: opacify(rgba(set-color($popup-form-palette),0.36), $popup-form-opacify);
  font: 14px/16px $font-f;
  @include ltr {
    text-align: left;
  }
  @include rtl {
    text-align: right;
  }
}
.reg-or {
  float: left;
  width: 100%;
  overflow: hidden;
  > span {
    display: inline-block;
    color: opacify(rgba(set-color($popup-form-palette),0.32), $popup-form-opacify);
    position: relative;
    margin-top: 14px;
    padding: 0 10px;
    box-sizing: border-box;
    text-transform: uppercase;
    font: 13px/15px $font-f;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      width: 100vw;
      height: 1px;
      background: opacify(rgba(set-color($popup-form-palette),0.07), $popup-form-opacify);
    }
    &:before {
      left: 100%;
    }
    &:after {
      right: 100%;
    }
  }
}
.button-sms,
.button-mail {
  float: left;
  width: 100%;
  margin-top: 14px;
  > button {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    color: opacify(rgba(set-color($popup-form-palette),0.32), $popup-form-opacify);
    background: none;
    box-sizing: border-box;
    border: 1px solid $brand-color-1;
    text-transform: uppercase;
    height: 36px;
    cursor: pointer;
    font: 14px $font-f;
    transition: color 200ms, background 200ms, border-color 200ms;
    &:hover {
      color: set-color($brand-color-1);
      border-color: lighten( saturate( $brand-color-1, 1 ), 7 );
      background: lighten( saturate( $brand-color-1, 1 ), 7 );
    }
  }
}
.input-separator-b > label{
  float: left;
  width: 100%;
  color: $text-palette-4;
  font: 12px/14px $font-f;
  text-align: left;
  padding: 0;
  margin: 0 0 8px;
}
.gender-select-b{
  float: left;
  width: 100%;
  color: $text-palette-4;
  font: 12px/14px $font-f;
  margin: 20px 0 0;
}
.gender-select-b > p{
  float: left;
  padding: 0;
  margin: 0;
}
.radio-male-b {
  float: left;
  margin: 0 0 0 20px;
  position: relative;
}
.radio-male-b > input {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 33;
  opacity: 0;
  width: 16px;
  height: 16px;
}
.radio-male-b > label{
  float: left;
  margin: 0;
  padding: 0 0 0 10px;
}

.radio-male-b > input[type="radio"] + label:before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 0;
  left: 0;
  display: block;
  background: $skin-palette-10;
}
.radio-male-b > input[type="radio"]:checked + label:after{
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  display: block;
  background: $skin-palette-4;
}
.checkbox-separator{
  float: left;
  width: 100%;
  margin: 20px 0;
}
.checkbox-separator .mini-checkbox-b a {
  color: opacify(rgba(set-color($popup-form-palette),0.6), $popup-form-opacify);
  text-decoration: none;
}
.button-confirm.step-2 button{
  width: 50%;
}
.mini-checkbox-b{
  float: left;
  width: 100%;
  text-align: left;
  font: 12px/14px $font-f;
  color: $text-palette-4;
  position: relative;
  margin: 2px 0 8px;
}
.mini-checkbox-b > input[type="checkbox"]{
  opacity: 0;
  margin: 0;
  float: left;
  padding: 0;
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 66;
  left: 0;
  top: 0;
}
.register-steps-b .mini-checkbox-b > label{
  margin: 0;
  box-sizing: border-box;
  white-space: normal;
  @include ltr {
    padding: 0 0 0 23px;
  }
  @include rtl {
    padding: 0 23px 0 0;
  }
}
.mini-checkbox-b > input[type="checkbox"] + label:before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  display: block;
  border: 1px solid $registration-fields-background-border;
  box-sizing: border-box;
  @include ltr {
    left: 0;
  }
  @include rtl {
    right: 0;
  }
}
.mini-checkbox-b > input[type="checkbox"]:checked + label:after{
  font: 10px/16px icomoon;
  content: "\54";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  text-align: center;
  @include ltr {
    left: 0;
  }
  @include rtl {
    right: 0;
  }
}
.reg-s-steps.step-1:not(.show-second) {
  .reg-radio {
    width: calc(100% + 5px);
    margin-left: -5px;
    > div {
      width: 50%;
      padding: 0 10px;
      box-sizing: border-box;
    }
  }
}
.reg-radio {
  float: left;
  width: 100%;
  > h2 {
    float: left;
    width: 100%;
    margin: 4px 0 10px;
    color: opacify(rgba(set-color($popup-form-palette),0.39), $popup-form-opacify);
    font: 12px/14px $font-f;
  }
  > div {
    float: left;
    width: 100%;
    margin: 0 0 10px;
    font: 12px/14px $font-f;
    > p {
      padding: 0;
      text-align: left;
      color: opacify(rgba(set-color($popup-form-palette),0.39), $popup-form-opacify);
      @include ltr {
        float: left;
      }
      @include rtl {
        float: right;
      }
    }
    > input[type="radio"] {
      display: none;
      &:checked + label:after {
        display: block;
      }
    }
    > label {
      width: auto;
      margin: 0;
      padding: 0 0 0 16px;
      box-sizing: border-box;
      cursor: pointer;
      position: relative;
      color: opacify(rgba(set-color($popup-form-palette),0.39), $popup-form-opacify);
      @include ltr {
        float: right;
      }
      @include rtl {
        float: left;
      }
      > span {
        float: left;
        display: block;
        margin: 0 0 0 4px;
      }
      &:before {
        content: "";
        width: 14px;
        height: 14px;
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.37);
      }
      &:after {
        content: "";
        width: 6px;
        height: 6px;
        position: absolute;
        left: 4px;
        top: 4px;
        display: none;
        border-radius: 50%;
        background: lighten( desaturate( adjust-hue( $header-brand-color-1, 9deg ), 51 ), 40 );
      }
      & ~ label {
        @include ltr {
          margin: 0 10px 0 0;
        }
        @include rtl {
          margin: 0 0 0 10px;
        }
      }
    }
    &:last-child {
      margin: 0 0 20px;
    }
    &.error {
      > p, > label {
        color: #9d2c45;
      }
    }
  }
}
.select-wrap-contain{
  float: left;
  width: 100%;
  height: 36px;
  background: $skin-palette-10;
  overflow: hidden;
  border-radius: 4px;
}
.register-steps-b .city-form-block{
  float: left;
  width: 100%;
}
.register-steps-b .select-block{
  line-height: 34px;
  width: 100%;
  float: left;
}
.block-sign-in-form .select-j select, .left-block-history .form-sign-in .select-block select, .contain-cashier-forms .select-block select{
  border: 1px solid $registration-fields-background-border;
  background: $registration-fields-background;
  height: 36px;
  color: opacify(rgba(set-color($registration-fields-background),0.39), $popup-form-opacify);
  width: 100%;
  transition: border-color 200ms;
  border-radius: 0;
  font: 12px $font-f;
  box-sizing: border-box;
  @include ltr {
    padding: 0 33px 0 10px;
  }
  @include rtl {
    padding: 0 10px 0 33px;
  }
  > option{
    background: $registration-fields-background;
    border-color: $registration-fields-background;
    color: opacify(rgba(set-color($registration-fields-background),0.39), $popup-form-opacify);
  }
  &:focus{
    border-color: $form-elements-focus;
  }
}
.register-steps-b .form-text {
  float: left;
  position: relative;
  width: 100%;
}
.block-sign-in-form .select-j:after,
.left-block-history .form-sign-in div.select-block:after,
.contain-cashier-forms .select-block:after,
.block-sign-in-form div.phone_code .tooltip-wrapper-j:before{
  color: opacify(rgba(set-color($registration-fields-background),0.39), $popup-form-opacify);
  pointer-events: none;
}

.block-slider.popup .form-contain {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  @include rtl {
    direction: rtl;
  }
}
.block-slider.popup .form-register-layout.signin .form-sign-in {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  background: none;
  box-shadow: none;
  border: none;
}
.block-slider.popup .form-register-layout.signin .button-sign {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
.block-slider.popup .form-register-layout.signin .button-sign ul li{
  @include ltr {
    margin: 0 15px 0 0;
  }
  @include rtl {
    margin: 0 0 0 15px;
  }
}

.block-slider.popup .form-register-layout.signin .button-sign ul li a{
  border: none;
  font: 11px/14px $font-f;
  color: opacify(rgba(set-color($popup-form-palette),0.39), $popup-form-opacify);
  position: relative;
  @include ltr {
    padding: 0 0 0 15px;
  }
  @include rtl {
    padding: 0 15px 0 0;
  }
}
.block-slider.popup .form-register-layout.signin .button-sign ul li.create-account-icon a:before{
  font: 10px/12px icomoon;
  content: "\2b";
  position: absolute;
  top: 0;
  @include ltr {
    left: 0;
  }
  @include rtl {
    right: 0;
  }
}
.block-slider.popup .form-register-layout.signin .button-sign ul li.forgot-password-icon a:before{
  font: 10px/12px icomoon;
  content: "\e6ef";
  position: absolute;
  top: 0;
  @include ltr {
    left: 1px;
  }
  @include rtl {
    right: 1px;
  }
}
.live-chat-b-contain{
  float: left;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.block-slider.popup .live-chat-b-contain .help-b{
  position: relative;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  height: 32px;
  text-indent: 0;
  float: left;
  width: 100%;
  display: table;
  table-layout: fixed;
}
.block-slider.popup .live-chat-b-contain .help-b:after{display: none;}
.block-slider.popup .live-chat-b-contain .help-b a{
  height: 32px;
  font: 12px/16px $font-f;
  padding: 4px 30px;
  float: none;
  color: opacify(rgba(set-color($popup-form-palette),0.39), $popup-form-opacify);
  display: table-cell;
  position: relative;
  width: auto;
  background: none;
  vertical-align: middle;
  white-space: inherit;
  &:before, &:after {
    display: none;
  }
}
.block-slider.popup .signin-error-message {
  float: left;
  width: 100%;
}
.block-slider.popup .signin-error-message p,
.input-error-message{
  color: #ef6653;
  font: 12px/14px $font-f;
  position: relative;
  background: none;
}
.input-hide{
  display: none;
}
.block-slider.popup .signin-error-message p:before, .input-error-message:before{
  content: "\e6eb";
  font: 18px/22px icomoon;
  color: #ef6653;
  top: -5px;
  position: absolute;
  @include ltr {
    left: 0;
  }
  @include rtl {
    right: 0;
  }
}
.finish-register-buttons{
  float: left;
  width: 100%;
}
.finish-register-buttons .button-confirm.step-2{
  width: 304px;
  float: right;
}
.mini-checkbox-b.error > input[type="checkbox"] + label:before{
  border-color: #8e263a;
}
/*popup error, success*/
.name-popup-registratin-b {
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 1px solid $skin-palette-9;
  border-bottom: 1px solid darken( saturate( $skin-palette-10, 1 ), 3 );
  border-radius: 5px 5px 0 0;
  top: 0;
  background: $skin-palette-10;
  height: 60px;
  z-index: 22;
  box-sizing: border-box;
  padding: 10px 30px;
  box-shadow: 0 1px 0 lighten( desaturate( adjust-hue( $skin-palette-10, -1deg ), 8 ), 9 );
}
.name-popup-registratin-b > h4{
  float: left;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font: 18px/38px $font-f;
  font-weight: normal;
  text-align: left;
  color: $text-palette-3;
  @include rtl{
    text-align: right;
  }
}
.register-contain-new.popup-err-success{
  margin: 30px 0 0;
}
.icon-popup-registration-b{
  float: left;
  width: 100%;
  height: 110px;
  text-align: center;
  margin: 40px 0 30px;
}
.icon-popup-registration-b.error-icon:before {
  display: none;
}
.icon-popup-registration-b > span{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: $skin-palette-10;
  box-sizing: border-box;
  border-top: 1px solid darken( adjust-hue( $skin-palette-10, 2deg ), 3 );
  border-bottom: 1px solid lighten( desaturate( adjust-hue( $skin-palette-10, -1deg ), 8 ), 9 );
  display: inline-block;
}
.icon-popup-registration-b > span:before{
  font: 60px/110px icomoon;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: $text-palette-8;
}
.icon-popup-registration-b.success-icon > span:before{
  color: #1a7051;
  content: "\e6ec";
}
.icon-popup-registration-b.error-icon > span:before{
  background: $skin-palette-8;
  color: #8e263a;
  content: "\e6eb";
}
.inform-reg-popup{
  float: left;
  width: 100%;
  margin: 0 0 10px;
}
.inform-reg-popup > h5{
  color: $text-palette-3;
  float: left;
  width: 100%;
  font: 14px/16px $font-f;
  font-weight: normal;
}
.inform-reg-popup > h6{
  color: $text-palette-4;
  float: left;
  width: 100%;
  font: 12px/16px $font-f;
  font-weight: normal;
  margin: 10px 0 0;
}
.register-steps-b.popup-errors{
  width: 320px;
  margin: 20px 0;
}
/*popup error, success END*/
// Captcha
.block-sign-in-form .captcha {
  img {
    position: absolute;
    bottom: 1px;
    left: 1px;
    height: 34px;
    display: block;
    width: 120px;
    & + button {
      position: absolute;
      height: 34px;
      width: 26px;
      font-size: 0;
      display: block;
      left: 121px;
      bottom: 1px;
      border: 0;
      text-align: center;
      background: none;
      &:before {
        content: "\e6f4";
        font: 12px icomoon;
        display: block;
        color: opacify(rgba(set-color($popup-form-palette),0.39), $popup-form-opacify);
      }
    }
  }
  label {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  div input {
    @include ltr {
      padding: 0 8px 0 146px;
    }
    @include rtl {
      padding: 0 146px 0 8px;
    }
  }
}
// End captcha
label.sign-in-checkbox-j, label.runtime-checkbox-j {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  color: opacify(rgba(set-color($popup-form-palette),0.39), $popup-form-opacify);
  font: 12px/14px $font-f;
  @include ltr {
    padding-left: 25px;
  }
  @include rtl {
    padding-right: 25px;
  }
  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    margin: 0;
    &:checked + span:after {
      color: opacify(rgba(set-color($popup-form-palette),0.39), $popup-form-opacify);
    }
  }
  span {
    line-height: 16px;
  }
  span:before, span:after {
    content: '';
    display: block;
    box-sizing: border-box;
    border: 1px solid opacify(rgba(set-color($popup-form-palette),0.39), $popup-form-opacify);
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    text-align: center;
    @include ltr {
      left: 0;
    }
    @include rtl {
      right: 0;
    }
  }
  span:after {
    border: none;
    content: '\e6f3';
    color: transparent;
    font: 6px/16px icomoon;
    transition: color 150ms;
  }
}
.block-slider.popup.block-slider-register-t, .block-slider.popup.block-slider-login-t, .block-slider.popup.block-slider-forgotPasswordForm-t {
  position: fixed;
  overflow-y: auto;
  width: calc(100% + 17px);
  top: 0;
}

@media screen and (max-width: 1260px) {
  .block-slider-register-t .block-sign-in-form {
    width: 954px;
  }
}


//partial-registration
.form-register-layout.partial-registration {
  .register-steps-b {
    width: 660px;
    max-width: 660px;
    label:not(.label-reg-radio) {
      margin-top: 12px;
    }
    .mini-checkbox-b > label {
      margin: 0;
      a {
        color: opacify(rgba(set-color($popup-form-palette),0.6), $popup-form-opacify);
      }
    }
  }
  .reg-form-steps {
    width: calc(100% + 20px);
    margin-left: -10px;
    > div.field-separator {
      width: calc(50% - 10px);
      float: left;
      padding: 0 5px;
      &.birth_day {
        width: 70px;
        margin-right: 7px;
      }
      &.birth_month {
        width: 90px;
      }
      &.birth_year {
        width: 93px;
        margin-left: 7px;
      }
      &.phone_code{
        width: 90px;
        float: left;
        + .field-separator.phone_number {
          width: calc(50% - 110px);
          float: left;
          margin: 0;
        }
      }
    }
  }
  .checkbox-separator {
    margin: 10px 0;
    .mini-checkbox-b {
      width: auto;
    }
  }

}
// top right tooltip
.registration-list-columns-j, .form-sign-in.fb, .profile-tab-contain-b {
  .tooltip-j {
    left: auto;
    top: auto;
    bottom: calc(100% + 5px);
    max-width: 100%;
    @include ltr {
      right: 0;
    }
    @include rtl {
      left: 0;
    }
    &:before{
      top: 100%;
      border-width: 6px 6px 0 6px;
      border-color: #c1c4cd rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      @include ltr {
        left: auto;
        right: 14px;
      }
      @include rtl {
        left: 14px;
        right: auto;
      }
    }
  }
}
// END top right tooltip
// List registration 2 columns
.registration-list-columns-wrapper-j {
  float: left;
  width: 100%;
  .social-sign-in {
    width: 100%;
  }
}
.registartion-title-wrapper-j {
  margin: 30px 0 10px;
  float: left;
  display: table;
  width: 100%;
  color: $text-palette-3;
  font: 13px/18px $font-f;
  h3 {
    float: left;
    width: 100%;
    color: $text-palette-3;
    font: normal 20px $font-f;
    text-align: left;
    text-transform: uppercase;
    padding: 2px;
    box-sizing: border-box;
    @include rtl{
      text-align: right;
    }
  }
  li {
    display: table-cell;
    box-sizing: border-box;
    vertical-align: middle;
    &:first-child {
      width: 1%;
      padding: 0 25px 0 0;
      vertical-align: top;
    }
    &:nth-child(2) {
      padding: 0 0 0 25px;
      border-left: 1px solid $skin-palette-7;
    }
  }
}
.registration-list-columns-j {
  display: table;
  table-layout: fixed;
  border-spacing: 2px 0;
  width: 100%;
  float: left;
  * {
    box-sizing: border-box;
  }
  > ul {
    display: table-row;
    > li {
      display: table-cell;
      vertical-align: top;
      background: $skin-palette-11;
      padding: 20px;
    }
  }
  .reg-list-item-wrapper-j {
    float: left;
    width: calc(50% - 10px);
    margin: 0 5px 20px;
    position: relative;
    &.registrationCallVerificationMessage-j, &.checkbox {
      width: calc(100% - 10px);
    }
    label {
      min-height: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      float: left;
      display: block;
    }
    .checkbox-reg-j label {
      overflow: visible;
      white-space: normal;
    }
    .tooltip-wrapper-j {
      height: 36px;
    }
  }
}
.registration-list-columns-footer-j {
  display: table;
  border-spacing: 2px 0;
  width: 100%;
  float: left;
  > ul {
    display: table-row;
    > li {
      display: table-cell;
      vertical-align: top;
      padding: 20px 0;
      position: relative;
      //@include rtl{
      //  float: left;
      //}
      &:last-child {
        width: 1%;
        padding: 20px 0 20px 12px;
        //@include rtl{
        //  float: right;
        //}
      }
    }
  }
  .submit-reg-wrapper-j {
    position: relative;
    float: left;
    //@include rtl{
    //  float: right;
    //}
    input {
      float: left;
      box-sizing: border-box;
      background: $brand-color-1;
      text-transform: uppercase;
      font: 14px $font-f;
      height: 36px;
      color: set-color($brand-color-1);
      cursor: pointer;
      padding: 0 24px;
      border: 0;
      transition: 200ms background, 200ms border-color;
      &:hover {
        background: lighten( saturate( $brand-color-1, 1 ), 7 );
        color: set-color($brand-color-1);
      }
      &:disabled {
        opacity: 0.4;
        pointer-events: none;
      }
    }
    .md-progress-circular {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
      margin: -10px;
      &:not(.ng-hide) + input {
        color: transparent;
      }
    }
  }
}
$disable-middle-name: false !default;
.registration-list-columns-j .reg-list-item-wrapper-j {
  &.birth_day, &.birth_year{
    width: calc(33% - 8px);
  }
  &.birth_month {
    width: calc(33% - 10px);
  }
  @if ($disable-middle-name == false) {
    &.first_name, &.last_name {
      width: calc(33% - 8px);
    }
    &.middle_name {
      width: calc(33% - 10px);
    }
  }
}
.block-sign-in-form div.phone_code{
  width: 90px;
  float: left;
  label {
    overflow: visible;
  }
  .tooltip-wrapper-j:before {
    content: "+";
    position: absolute;
    bottom: 0;
    font: 12px/36px normal;
    @include ltr {
      left: 11px;
    }
    @include rtl {
      right: 11px;
    }
  }
  input{
    @include ltr {
      padding: 0 10px 0 20px;
    }
    @include rtl {
      padding: 0 20px 0 10px;
    }
  }
  .form-error-icon-j {
    display: none;
  }
  + .phone_number {
    width: calc(50% - 110px);
  }
  + .field-separator.phone_number {
    width: calc(100% - 100px);
    float: left;
    @include ltr {
      margin: 0 0 0 10px;
    }
    @include rtl {
      margin: 0 10px 0 0;
    }
  }
}
.checkbox-reg-j {
  float: left;
  width: 100%;
  position: relative;
  padding: 0 0 0 24px;
  margin: 0 0 8px;
  color: $text-palette-5;
  font: 12px/16px $font-f;
  box-sizing: border-box;
  @include rtl{
    padding: 0 24px 0 0;
  }
  input {
    opacity: 0;
    left: 0;
    top: 0;
    pointer-events: none;
    position: absolute;
    margin: 0;
    width: 1px;
    height: 1px;
    @include rtl{
      right: 0;
      left: inherit;
    }
    &:checked ~ label:after {
      color: $text-palette-4;
    }
  }
  label {
    display: block;
    float: left;
    position: relative;
    cursor: pointer;
    white-space: normal;
    @include rtl{
      float: right;
    }
    &.error {
      .disableTermsLink-j .tooltip-j {
        display: none;
      }
      &:before {
        border-color: #8E263A;
      }
    }
    &:before, &:after {
      content: '';
      display: block;
      box-sizing: border-box;
      border: 1px solid $registration-fields-background-border;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 0;
      left: -24px;
      text-align: center;
      transition: border-color 250ms;
      @include rtl{
        left: inherit;
        right: -24px;
      }
    }
    &:after {
      border: none;
      content: '\e6f3';
      color: transparent;
      font: 6px/16px icomoon;
      left: -23px;
      transition: color 150ms;
    }
    a {
      color: $text-palette-3;
      transition: 300ms color;
      &:hover {
        color: $text-palette-1;
      }
    }
    .disableTermsLink-j {
      display: inline-block;
      color: $text-palette-3;
      .tooltip-j {
        bottom: 120%;
        top: auto;
      }
      &:hover .tooltip-j {
        display: block;
      }
    }
    .tooltip-j {
      top: -45px;
    }
  }
}
.verification-code-area{
  float: left;
  width: 100%;

  > label{
    margin-top: 10px  !important;
    &:last-child{
      margin-top: 0  !important;
      margin-bottom: 0 !important;
      border-radius: 0;
      width: 100%;
      padding: 0;
      box-sizing: border-box;
      font-size: 12px;
      line-height: 14px;
      cursor: pointer;
    }
  }
}
.reg-list-item-wrapper-j input {
  background: $form-elements-bg;
  border: 1px solid $form-elements-bg;
  color: $text-palette-4;
  transition: border-color 200ms;
  -webkit-text-fill-color: $text-palette-4;
  caret-color: $text-palette-4;
  @include placeholder {
    color: $text-palette-4;
    font-style: normal;
  }
  &:-webkit-autofill, &:-webkit-autofill:focus{
    box-shadow: 0 0 0 100px $form-elements-bg inset;
    -webkit-text-fill-color: $text-palette-4;
  }
  &:focus{
    border: 1px solid $form-elements-focus;
    transition: border-color 300ms;
  }
}

.block-sign-in-form  .reg-list-item-wrapper-j .select-j select {
  border: 1px solid $form-elements-bg;
  background: $form-elements-bg;
  color: $text-palette-4;
  transition: border-color 200ms;
  > option{
    background: $form-elements-bg;
    border-color: $form-elements-bg;
    color: $text-palette-4;
  }
  &:focus{
    border-color: $form-elements-focus;
  }
}
// END list registration 2 columns
.login-birthdate-t {
  float: left;
  width: 100%;
  > div {
    float: left;
    width: calc(33% - 8px);
    &.birth_month {
      margin: 0 12px;
    }
  }
}
.body-wrapper.VBET:not(.wwwvbetlat):not(.cmsvbetdk) {
  .register-steps-b .field-separator.country_id{
    width: calc(100% - 90px);
  }
  .register-steps-b .field-separator.currency_name{
    width: 80px;
    @include ltr {
      float: right;
    }
    @include rtl {
      float: left;
    }
  }
}
.reg-s-steps.step-1.show-second {
  .tooltip-wrapper-j {
    height: 36px;
  }
  input {
    display: none;
  }
}


.reg-steps-padding {
  float: left;
  max-width: 1010px;
  width: 1010px;
  height: 600px;
  margin: 0 auto;
  padding: 20px 10px;
  box-sizing: border-box;
}
.reg-steps-left,
.reg-steps-right {
  float: left;
  width: 50%;
  height: 100%;
}

.reg-steps-left {
  background: #121623;

}
.sms-confirmation-wrap {
  float: left;
  width: 100%;
  display: table;
  > li {
    display: table-cell;
    vertical-align: bottom;
    &:last-child {
      width: 1%;
      white-space: nowrap;
      padding: 0 0 0 12px;
    }
  }
  button {
    height: 36px;
    float: right;
    border: 0;
    background: $brand-color-1;
    color: set-color($brand-color-1);
    text-transform: uppercase;
    font: 12px $font-f;
    padding: 0 20px;
    transition: 300ms background, 300ms color;
    &:hover {
      background: lighten($brand-color-1, 10);
    }
    &:disabled {
      background: rgba(invert(set-color($popup-form-palette)), 0.15);
      color: rgba(set-color($popup-form-palette), 0.5);
    }
  }
}
#zimpler-authorize {
  position: relative;
  height: 582px;
  width: 341px;
  padding: 10px;
  background: rgba($popup-form-palette,0.7);
  box-sizing: border-box;
  .md-progress-circular {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
  }
  .closed-popup-form {
    top: 13px;
    right: 15px;
    &:before  {
      color: rgba(set-color($popup-form-palette),0.39);
    }
    &:hover:before {
      color: rgba(set-color($popup-form-palette),0.7);
    }
    &:first-child:before {
      color: rgba(set-color(#ffffff),0.39);
      &:hover:before {
        color: rgba(set-color(#ffffff),0.7);
      }
    }
  }
}
.recaptcha-v3 {
  color: opacify(rgba(set-color($popup-form-palette),0.39), $popup-form-opacify);
  font: 12px/14px $font-f;
  a {
    color: opacify(rgba(set-color($popup-form-palette),0.6), $popup-form-opacify);
    text-decoration: none;
  }
}
.block-slider.popup .form-verification {
  .register-information-b {
    h2 {
      margin-top: 10px;
      color: opacify(rgba(set-color($popup-form-palette),0.5), $popup-form-opacify);
      font: normal 16px/18px $font-f;
    }
    h3 {
      margin-top: 30px;
      color: opacify(rgba(set-color($popup-form-palette),0.36), $popup-form-opacify);
      font: normal 12px/14px $font-f !important;
    }
    > p {
      color: #4285f4;
      text-align: center;
      font: 14px/16px $font-f;
      text-transform: uppercase;
    }
  }
  .field-separator label {
    margin-top: 30px !important;
  }
}
.qr-code-popup {
  display: inline-block;
  margin: 30px 0 14px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid opacify(rgba(set-color($registration-fields-background),0.1), $popup-form-opacify);
  > img {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background: #ffffff;
  }
}
.barcod-authentication-popup {
  float: left;
  width: 100%;
  margin-top: 30px;
  text-align: left;
  > h5 {
    float: left;
    width: 100%;
    color: opacify(rgba(set-color($popup-form-palette),0.5), $popup-form-opacify);
    font: normal 14px/16px $font-f;
  }
  > p {
    float: left;
    width: 100%;
    margin-top: 12px;
    color: opacify(rgba(set-color($popup-form-palette),0.36), $popup-form-opacify);
    font: normal 14px/20px $font-f;
    > span {
      color: #4285f4;
    }
  }
  > button {
    color: #4285f4;
    min-width: 304px;
    height: 60px;
    margin: 14px 0 10px;
    padding: 0 5px;
    background: none;
    border-radius: 10px;
    border: 1px solid opacify(rgba(set-color($registration-fields-background),0.1), $popup-form-opacify);;
    font: normal 12px/60px $font-f;
    > i {
      display: inline-block;
      width: 12px;
      height: 14px;
      font: 12px/14px icomoon;
      @include ltr {
        margin-left: 4px;
      }
      @include rtl {
        margin-right: 4px;
      }
      &:before {
        content: "\ea30";
      }
    }
  }
}
.field-verification {
  margin-top: 22px;
  > p {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font: 14px/16px $font-f;
    color: opacify(rgba(set-color($popup-form-palette),0.36), $popup-form-opacify);
  }
  .verification-input {
    float: left;
    width: 100%;
    padding: 0 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
    > input {
      float: left;
      width: calc((100% / 6) - 10px);
      height: 48px;
      padding: 0;
      border-width: 2px;
      border-radius: 2px;
      font-size: 28px;
      @include ltr {
        text-align: center;
      }
      @include rtl {
        text-align: center;
      }
      &:focus {
        border-width: 2px;
        caret-color: transparent;
      }
      + input {
        margin-left: 12px;
      }
    }
  }
}


.settings-info-contain .error .form-error-icon-j + .view-passward {

  @include ltr{
    right: 30px;
  }
  @include rtl{
    left: 30px;
  }
}