.page-about {
  position: relative;
  float: left;
  width: 100%;
  min-width: 960px;
}
.page-about .full-screen-sections {
  position: relative;
  height: 100%;
  background: white;
}
.full-screen-sections .section-content {
  position: relative;
  min-width: 950px;
  max-width: 1240px;
  width: calc(100% - 50px);
  margin: 0 auto;
  padding: 0 10px;
  min-height: 720px;
  height: 100vh;
}
.full-screen-sections .section-about .section-content {
  height: calc(100vh - 100px);
  padding-top: 100px;
}
.section-about .title-block {
  position: absolute;
  bottom: 130px;
  width: 41.222222%;
}
.section-about .title-block h3 {
  font-size: 48px;
  font-weight: normal;
  text-transform: uppercase;
}
.section-about .title-block p {
  margin-top: 20px;
  font: 16px/21px $font-f;
}
.section-about .short-summary {
  position: absolute;
  bottom: 130px;
  right: 0;
  width: 32.824427%;
}
.section-about .short-summary p {
  margin-bottom: 60px;
  font: 12px/16px $font-f;
}
.section-about .short-summary .action-btn {
  display: block;
  float: left;
  height: 45px;
  padding: 0 40px;
  font-size: 18px;
  line-height: 45px;
  border-radius: 8px;
  text-transform: uppercase;
  text-decoration: none;
}
.section-details .active-title {
  position: relative;
  top: 135px;
  top: 10vh;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
.section-details .active-title span {
  height: 106px;
  padding: 0 40px;
  border-radius: 8px;
  display: inline-block;
}
.section-details .active-title span:after {
  content: '+';
  position: relative;
  top: -15px;
  left: 2px;
  font-size: 50px;
}
.section-details .active-title h3 {
  margin: 42px 0 34px;
  font-size: 48px;
  font-weight: normal;
}
.section-details .active-title p {
  font-size: 14px;
  line-height: 18px;
}
.section-details .service-items {
  position: absolute;
  width: 100%;
  border-spacing: 10px;
  margin-top: 125px;
  bottom: 112px;
  bottom: 10vh;
  font-size: 0;
  text-align: center;
}
.section-details .service-items li {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  text-align: center;
  padding-top: 160px;
  position: relative;
}
.section-details .service-items li h3 {
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
}
.section-details .service-items li h3 span:after {
  content: "+";
  position: relative;
  top: -12px;
  left: 2px;
  font-size: 18px;
}
.section-details .service-items li p {
  font-size: 12px;
  line-height: 16px;
  margin: 36px 15px 0;
}
.section-map {
  position: relative;
}
.section-map iframe {
  position: absolute;
  width: 100%;
  height: 0;
  display: none;
  top: 0;
  z-index: -1;
  transition-duration: 400ms;
}
.section-map.visible-map iframe {
  height: 100%;
  display: block;
  z-index: 9;
  transition-duration: 400ms
}
.section-map .hide-map-btn {
  display: none;
  position: absolute;
  position: absolute;
  bottom: 15px;
  left: 315px;
  z-index: 10;
}
.section-map.visible-map .hide-map-btn {
  display: block;
}
.section-map .headline {
  padding-top: 165px;
  padding-top: 13vh;
  width: 50%;
}
.section-map .headline h3 {
  font-size: 48px;
  font-weight: normal;
  text-transform: uppercase;
}
.section-map .headline p {
  font-size: 14px;
  line-height: 18px;
  margin-top: 45px;
}
.section-map .map-buttons {
  position: absolute;
  bottom: 15vh;
}
.section-map .map-buttons button,
.section-map .hide-map-btn {
  height: 55px;
  line-height: 50px;
  padding: 0 45px;
  font-size: 22px;
  text-transform: uppercase;
  margin-right: 10px;
  border-radius: 8px;
  border: none;
}
.section-contact .contacs-title {
  padding: 70px 0;
  margin: 0 auto;
  text-align: center;
}
.section-contact .contacs-title h3 {
  font-size: 48px;
  font-weight: normal;
}
.section-contact .contacs-title p {
  width: 650px;
  margin: 35px auto 0;
  font-size: 16px;
  line-height: 21px;
}
.section-contact .contact-list {
  display: table;
  max-width: 1310px;
  margin: 40px auto;
}
.section-contact .contact-list ul {
  display: table-row;
}
.section-contact ul li {
  display: table-cell;
  width: 33.3333%;
  padding: 26px 20px 26px 100px;
  vertical-align: middle;
  position: relative;
}
.section-contact iframe {
  float: left;
  width: 100%;
  height: 600px;
}
.full-screen-sections .section-about {
  background-color: #171c2c;
  background: url(../../../images/backgrounds/about-bg1.jpg#{$delete-cache}) repeat 50% 100%;
  background-size: cover;
}
.full-screen-sections .section-details {
  background-color: #171c2c;
  background: url(../../../images/backgrounds/about-bg2.jpg#{$delete-cache}) repeat 50% 100%;
  background-size: cover;
}
.section-about {
  color: white;
}
.section-about .title-block h3 {
  font-family: $font-f;
}
.page-about .about-icon {
  position: absolute;
  top: 200px;
  left: 10px;
  width: 124px;
  height: 124px;
  &:before {
    content: '\e6e4';
    display: block;
    width: 70px;
    height: 70px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    position: absolute;
    top: 26px;
    left: 26px;
    font: 45px/70px icomoon;
    text-align: center;
    box-shadow: 0 0 0 14px rgba(255, 255, 255, 0.1), 0 0 0 27px rgba(255, 255, 255, 0.1);
    color: #fff;
  }
}
.section-about .short-summary .action-btn {
  color: white;
  background: $hero-color;
  font-family: $font-f;
}
.section-about .short-summary {
  color: #c2c5cd;
}
.section-details .active-title span {
  color: white;
  background: $hero-color;
  font: 64px/106px $font-f;
}
.section-details .active-title h3 {
  font-family: $font-f;
  color: white
}
.section-details .active-title p {
  font-family: $font-f;
  color: #c2c5cd;
}
.section-details .service-items li h3 {
  font-family: $font-f;
  color: white;
}
.section-details .service-items li p {
  font-family: $font-f;
  color: #c2c5cd;
}
.section-details .service-items li:before {
  content: '';
  display: block;
  width: 70px;
  height: 70px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  position: absolute;
  top: 26px;
  left: 50%;
  margin-left: -35px;
  font: 45px/70px icomoon;
  text-align: center;
  box-shadow: 0 0 0 14px rgba(255, 255, 255, 0.1), 0 0 0 27px rgba(255, 255, 255, 0.1);
  color: #fff;
}
.section-details .service-items li.time-service:before {
  content: "\e933";
}
.section-details .service-items li.category-service:before {
  content: "\e932";
}
.section-details .service-items li.trade-service:before {
  content: "\e931";
}
.section-details .service-items li.reliable-service:before {
  content: "\e6ec";
}
.full-screen-sections .section-map {
  background: url(../../../images/backgrounds/about-map-bg.jpg) repeat 50% 100%;
  background-size: cover;
}
.section-map .headline {
  color: white;
}
.section-map .headline h3 {
  font-family: $font-f;
}
.section-map .headline p {
  font-family: $font-f;
}
.section-map .map-buttons button,
.section-map .hide-map-btn {
  font-family: $font-f;
}
.section-map .map-buttons .primary-btn,
.section-map .hide-map-btn {
  background: #1d7d34;
  color: white;
}
.section-map .map-buttons .contact-btn {
  background: white;
}
.section-contact .contacs-title {
  color: #1e2639;
  background: #f3f3f5;
}
.section-contact .contacs-title h3 {
  font-family: $font-f;
}
.section-contact .contacs-title p {
  font-family: $font-f;
}
.section-contact ul li p {
  font: 13px/18px $font-f;
}
.section-contact ul li:before {
  content: '';
  display: block;
  width: 45px;
  height: 45px;
  background: #121623;
  border-radius: 100%;
  top: 13px;
  left: 13px;
  position: absolute;
  box-shadow: 0 0 0 6px #bcbdc1, 0 0 0 12px #e7e7e9;
  color: #fff;
  font: 24px/45px icomoon;
  text-align: center;
}
.section-contact ul li.head-office:before {
  content: '\e6e4';
}
.section-contact ul li.office-mail:before {
  content: "\e69f";
}
.section-contact ul li.support:before {
  content: "\e6be";
}