  @import 'classic-view-version-3/sportsbook-structure';
  @import 'classic-view-version-3/left-column-menu';
  @import 'classic-view-version-3/centre-column';
  @import 'classic-view-version-3/dashboard-column';
  @import 'classic-view-version-3/betslip-styles';
  @import 'classic-view-version-3/live-game-score';
  @import 'classic-view-version-3/live-multiview';
  @import 'classic-view-version-3/resize-media';
  @import 'classic-view-version-3/results2016';
  @include classic-new-view-1;
  @include classic-new-view-2;
  @include classic-new-view-3;
  @include classic-new-view-4;
  @include classic-new-view-5;
  @include classic-new-view-6;
  @include classic-new-view-7;
  @include classic-new-view-8;
  @include classic-new-view-9;