.contain-footer-block {
  float: left;
  width: 100%;
  position: relative;
  z-index: 30;
  background: $footer-background;
  .paymen-icons-list {
    background: $footer-payments-line-background;
    @if $custom-footer-sprite == true {
      display: block !important;
    }
  }
  &.footer-fixed {
    overflow: hidden;
    position: fixed;
    z-index: 100009;
    bottom: 0;
    animation: footer-fixed 300ms;
    transform: translate3d(0, 102%, 0);
    -webkit-transform: translate3d(0, 102%, 0);
    &.active {
      animation: footer-fixed-active 300ms;
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
    }
  }
  .payment-content-block {
    box-sizing: border-box;
    display: table;
    table-layout: fixed;
    float: left;
    width: 100%;
    max-height: 140px;
    > ul {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 20px 0;
      > li {
        display: inline-block;
        vertical-align: middle;
        min-width: 9.5%;
        padding: 0 6px;
        &:nth-child(n+19) {
          display: none;
        }
      }
      @if $custom-footer-sprite == true {
        background: url(../images/custom-footer-sprite.png#{$delete-cache}) no-repeat 50% 50%;
        height: 86px;
        > li {
          display: none;
        }
      }
    }
  }
}
.footer-button {
  background: $skin-palette-7;
  @if $white-skin == true {
    background: rgba(0, 0, 0, 0.4);
    color: #121623;
  }
  &.footer-button-open {
    background: $skin-palette-12;
    @if $white-skin == true {
      background: rgba(0, 0, 0, 0.4);
      color: #121623;
    }
  }
}
.footer-section {
  padding: 35px 0 0;
  width: 100%;
  display: table-cell;
  vertical-align: top;
  &.left{
    padding: 35px 20px 0 0;
  }
  &.right{
    width: 1%;
    white-space: nowrap;
    text-align: right;
  }
}
.footer-j {
  display: table;
  float: left;
  width: 100%;
  margin: 0 0 20px;
  a {
    text-decoration: none;
  }
  .back-block-j {
    float: left;
    width: 100%;
    font-size: 0;
    margin: 12px 0 0;
    .age-restriction-j {
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
      background: $skin-palette-11;
      box-shadow: 0 0 1px lighten( desaturate( adjust-hue( $skin-palette-11, -4deg ), 18 ), 23 ) inset;
      font: 16px/42px $font-f;
      color: $text-palette-1;
      border-radius: 100%;
      text-align: center;
    }
    button {
      display: inline-block;
      vertical-align: middle;
      height: 32px;
      padding: 0 18px;
      margin: 0 0 0 12px;
      font: 12px $font-f;
      border: 1px solid $hero-color;
      background: $hero-color;
      color: set-color($hero-color);
      text-transform: uppercase;
      transition: 300ms background, 300ms border;
      &:hover {
        background: lighten($hero-color, 10);
        border-color: lighten($hero-color, 10);
      }
      + button {
        background: none;
        border-color: $button-border-color;
        color: $text-palette-1;
        &:hover {
          background: $brand-color-1;
          border-color: $brand-color-1;
        }
      }
    }
  }
  .copyright-j {
    float: left;
    width: 100%;
    font: 12px/20px $font-f;
    color: $text-palette-3;
    a {
      color: $text-palette-3;
    }
  }
  .old-version-link-j {
    font-size: 0;
    float: left;
    width: 100%;
    a {
      display: inline-block;
      vertical-align: top;
      font: 10px/22px $font-f;
      height: 22px;
      margin: 20px 0 0;
      padding: 0 10px;
      border: 1px solid $brand-color-1;
      color: $text-palette-1;
      text-transform: uppercase;
      transition: 300ms background, 300ms border, 300ms color;
      + a {
        margin: 0 0 0 10px;
      }
      &:hover {
        background: $brand-color-1;
        border-color: $brand-color-1;
        color: set-color($brand-color-1);
      }
      &.flash {
        border-color: $hero-color;
        &:hover {
          background: $hero-color;
          border-color: $hero-color;
          color: set-color($hero-color);
        }
      }
    }
  }
  .footer-nav-b {
    margin: 10px 0 0;
    display: table;
    ul {
      float: none;
      width: 204px;
      max-width: inherit;
      display: table-cell;
      padding: 0 20px 0 0;
      li {
        padding: 7px 0;
        &:first-child {
          padding-bottom: 12px;
        }
        a {
          color: $text-palette-4;
          font: 12px/14px $font-f;
          &:hover{
            color: $text-palette-3;
          }
        }
        &.top-level-page {
          a {
            font: $bold-text 14px/16px $font-f;
            color: $text-palette-1;
            pointer-events: none;
          }
        }
      }
    }
  }
}
.extended-license-footer {
  float: left;
  width: 100%;
  border-top: 1px solid $skin-palette-7;
  padding: 20px 0;
  font: 11px/16px $font-f;
  color: $text-palette-5;
  a {
    color: $skin-palette-4;
    text-decoration: none;
    &:hover {
      color: $skin-palette-3;
    }
  }
  > ul {
    display: table;
    float: left;
    width: 100%;
    > li {
      display: table-cell;
      vertical-align: top;
      &.gamble-logos-j {
        width: 1%;
        padding: 0 0 0 10px;
        > ul {
          display: table;
          float: right;
          ~ ul {
            margin: 16px 0 0;
          }
          > li {
            display: table-cell;
            vertical-align: middle;
            + li {
              padding: 0 0 0 16px;
            }
          }
        }
        a, img, iframe {
          display: block;
          float: left;
        }
      }
    }
  }
}
.seo-about-text-j {
  float: left;
  width: 100%;
  background: $footer-payments-line-background;
  padding: 20px 0;
  .ceo-title-j {
    float: left;
    width: 100%;
    height: 50px;
    font: 400 16px/50px $font-f;
    padding: 0 20px;
    text-transform: uppercase;
    position: relative;
    background: $skin-palette-12;
    color: $text-palette-4;
    box-sizing: border-box;
    &:after {
      display: block;
      font: 32px/50px icomoon;
      color: #9599a6;
      content: "\e642";
      position: absolute;
      right: 15px;
      top: 0;
      transition: color 0.2s;
    }
    &:hover:after {
      color: $text-palette-2;
    }
  }
}
.seo-about-content-j {
  float: left;
  width: 100%;
  transition: max-height 0.2s;
  max-height: 0;
  overflow: hidden;
  &.active {
    max-height: 350px;
  }
}
.seo-about-scroll-wrapper-j {
  height: 350px;
  float: left;
  width: 100%;
  text-align: justify;
  background: $skin-palette-10;
  box-sizing: border-box;
  font: 14px/21px $font-f;
  color: $text-palette-4;
  padding: 12px 10px 12px 20px;
  .seo-about-scroll-j {
    height: 326px;
    box-sizing: border-box;
    padding: 0 10px 0 0;
    float: left;
    width: 100%;
    @include scroll($scroll: auto);
    p {
      margin-bottom: 19px;
    }
    h2, h3 {
      font-style: italic;
      font-weight: 700;
      margin-bottom: 19px;
    }
    ul li {
      list-style: square;
      margin-bottom: 19px;
      margin-left: 35px;
    }
    ol li {
      list-style: decimal;
      margin-bottom: 19px;
      margin-left: 35px;
    }
    a {
      color: $brand-color-1;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}