@import 'soccer-control';
@import 'tennis-control';
@import 'games-animations-classic';
@import 'main';
@import 'media';
@import 'introjs';
@import 'barcode';
@import 'rg-slider';
@import 'rzslider';
@import 'hopscotch';


/*'soccer-control.css', 
'tennis-control.css', 
'games-animations-classic.css', 
'main.css', 
'media.css', 
'flags.css',  
'transitions.css', 
'lib/introjs.min.css', 
'lib/barcode.css'])

<link rel="stylesheet" href="css/lib/rg-slider.min.css" />
<link rel="stylesheet" href="css/lib/rzslider.min.css" />
<link rel="stylesheet" href="css/lib/hopscotch.min.css" />

*/