.new-default-popup-j {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999;
    animation: popup-bg-enter .3s ease-in-out;
    &.rfid {
        height: calc(100% - 94px);
        top: 94px;
        z-index: 9999999;
    }
}
.new-default-popup-j.ng-hide{
    animation: popup-bg-closed .3s ease-in-out;
}
.new-default-popup-j * {
    box-sizing: border-box;
}
.pp-table-j {
    display: table;
    height: 100%;
    width: 100%;
}
.pp-table-j .table-row-j {
    display: table-row;
}
.pp-table-j .table-row-j .table-cell-j {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.pp-table-j .table-row-j .table-cell-j .fedback-wrapper {
    width: auto;
}
.pp-table-j .table-row-j .table-cell-j .popup-wrapper-j{
    width: auto;
    .feedback &{
        width: 430px;
    }
    .pu-tour-list-j & {
        width: 670px;
    }
    .fedback-wrapper {
        width: auto;
        display: block;
    }
}
.popup-wrapper-j {
    display: inline-block;
    width: 320px;
    overflow: hidden;
    animation: popup-enter .3s ease-in-out;
}
.new-default-popup-j.ng-hide .popup-wrapper-j{
    animation: popup-closed .3s ease-in-out;
}
.popup-wrapper-j .pu-head-j {
    height: 61px; 
    font: normal 18px/61px $font-f;
    text-align: left;
    padding: 0 40px 0 25px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    z-index: 120;
    span, p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
    }
}
.popup-wrapper-j .pu-head-j .close-j {
    text-decoration: none;
    font: 10px/61px icomoon;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    transition: color 200ms;
    padding: 0 24px;
}
.popup-wrapper-j .pu-head-j .close-j:before {
    content: "\e6ee";
}
.popup-wrapper-j .pu-contain-j {
    padding: 30px 30px 26px;
    position: relative;
}
.new-default-popup-j {
    &.info, &.warning, &.error, &.success {
        .pp-table-j .table-row-j .table-cell-j {
            .popup-wrapper-j {
                width: 320px;
            }
        }
        .popup-wrapper-j {
            .pu-contain-j {
                padding-top: 180px;
                &:before {
                    content: '';
                    width: 110px;
                    height: 110px;
                    border-radius: 100%;
                    display: block;
                    position: absolute;
                    top: 40px;
                    left: 50%;
                    margin-left: -55px;
                }
            }
        }
    }
}
.new-default-popup-j.info .pu-contain-j:after {
    content: '';
    display: block;
    font: 60px icomoon;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    color: $skin-palette-4;
    content: "\e6e4";
}
.new-default-popup-j.warning .pu-contain-j:after {
    content: '';
    display: block;
    font: 60px icomoon;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    content: "\e6ed";
    color: #aa8136;
}
.new-default-popup-j.error .pu-contain-j:after {
    content: '';
    display: block;
    font: 60px icomoon;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    content: "\e6eb";
    color: #8e263a;
}
.new-default-popup-j.success .pu-contain-j:after {
    content: '';
    display: block;
    font: 60px icomoon;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    content: "\e6ec";
    color: #1a7051;
}
.popup-wrapper-j .pu-contain-j h3 {
    font: bold 14px/16px $font-f;
    margin-bottom: 12px;
}
.popup-wrapper-j .pu-contain-j p {
    font: normal 12px $font-f;
    a {
        color: $text-palette-2;
        text-decoration: none;
    }
}
.popup-wrapper-j .pu-button-wrap-j {
    padding: 0 30px 30px; 
    display: inline-block;
    width: 100%;
}
.popup-wrapper-j .pu-button-wrap-j button {
    width: calc(50% - 5px);
    margin-left: 9px;
    font: normal 14px $font-f;
    display: block;
    float: left;
    border: 1px solid $button-border-color;
    background: none;
    transition: 200ms;
    height: 36px;
    color: $text-palette-1;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    &:first-child {
        margin: 0;
    }
    &:only-of-type {
        width: auto;
        float: none;
        min-width: 180px;
        margin: 0 auto;
        max-width: 100%;
    }
    &:disabled {
        border-color: $button-disable-bg;
        color: $button-disable-bg;
        cursor: default;
        background: none;
    }
    &:hover {
        background: $brand-color-1;
        border-color: $brand-color-1;
        color: set-color($brand-color-1);
    }
    &.cancel-j + button{
        background: $brand-color-1;
        border-color: $brand-color-1;
        color: set-color($brand-color-1);
    }
    &:hover, &.cancel-j + button:hover {
        background: $hero-color;
        border-color: $hero-color;
        color: set-color($hero-color);
    }
}
.new-default-popup-j.feedback .popup-wrapper-j {
    width: 430px;
    overflow: visible;
}
.new-default-popup-j.feedback .pu-contain-j {
    text-align: left;
    padding-bottom: 20px;
}
.new-default-popup-j.feedback .pu-contain-j > p {
    margin-bottom: 35px;
}
.new-default-popup-j.feedback label {
    display: block; 
}
.new-default-popup-j.feedback label p {
    margin-bottom: 10px;
}
.new-default-popup-j.feedback label input[type=email]{ 
    display: block; 
    width: 100%;
    border-radius: 4px;
    color: $text-palette-2;
    font: normal 12px/36px $font-f;
    border: 1px solid;
    transition: 200ms border-color;
    padding: 0 14px;
    height: 36px;
    margin-bottom: 20px;
    box-shadow: none;
    outline: 0;
    &::-webkit-input-placeholder {
        color: $text-palette-4;
        font: normal 12px/36px $font-f;
    }
    &:-moz-placeholder {
        color: $text-palette-4;
        font: normal 12px/36px $font-f;
    }
    &::-moz-placeholder {
        color: $text-palette-4;
        font: normal 12px/36px $font-f;
    }
    &:-ms-input-placeholder {
        color: $text-palette-4;
        font: normal 12px/36px $font-f;
    }
}
.new-default-popup-j.feedback label textarea { 
    display: block; 
    width: 100%;
    border-radius: 4px;
    color: $text-palette-2;
    font: normal 12px/16px $font-f;
    border: 1px solid;
    transition: 200ms border-color;
    &::-webkit-input-placeholder {
        color: $text-palette-4;
        font: normal 12px/16px $font-f;
    }
    &:-moz-placeholder {
        color: $text-palette-4;
        font: normal 12px/16px $font-f;
    }
    &::-moz-placeholder {
        color: $text-palette-4;
        font: normal 12px/16px $font-f;
    }
    &:-ms-input-placeholder {
        color: $text-palette-4;
        font: normal 12px/16px $font-f;
    }
}
.new-default-popup-j.feedback label textarea{
    overflow-x: hidden;
    overflow-y: auto;
    @include scroll($scroll: auto);
} 
.new-default-popup-j.feedback label input[type=email]:-webkit-autofill {
    border-width: 5px;
    -webkit-text-fill-color: $text-palette-2;
    padding: 0 10px;
}
.new-default-popup-j.feedback label textarea {
    padding: 12px 14px;
    height: 133px;
    resize: none;
}
.error-container-j {
    width: 100%;
    position: relative;
}
.form-error-text-j .error-icon-f-j {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 8px;
    top: 7px;
}
.form-error-text-j .error-icon-f-j:before {
    font: 18px/22px icomoon;
    content: "\e6eb";
}
.form-error-text-j span {
    text-align: left;
    display: block;
    color: $text-palette-6;
    font: 12px/16px $font-f;
    width: 140px;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    top: 0;
    background: $skin-palette-3;
    z-index: 99;
    position: absolute;
    left: calc(100% + 10px);
}
.form-error-text-j span:before {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 6px 0;
    border-color: rgba(0, 0, 0, 0) $skin-palette-3 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    position: absolute;
    left: -6px;
    top: 13px;
}
$popup-overlay-background-opacity: 0.95 !default;
$popup-overlay-background: $skin-palette-12 !default;
.new-default-popup-j {
    background: rgba($popup-overlay-background, $popup-overlay-background-opacity);
}
@-moz-document url-prefix() {
    .new-default-popup-j {
        background: $popup-overlay-background;
    }
}
.popup-wrapper-j {
    box-shadow: 0 0 0 6px rgba($skin-palette-13, 0.2);
    background: $skin-palette-9;
}
.popup-wrapper-j .pu-head-j {
    background: $skin-palette-10;
    box-shadow: inset 0 -1px 0$skin-palette-11;
    color: $text-palette-3;
}
.popup-wrapper-j .pu-head-j .close-j {
    color: $text-palette-5;
}
.popup-wrapper-j .pu-head-j .close-j:hover {
    color: $text-palette-2;
}
.new-default-popup-j.info .popup-wrapper-j .pu-contain-j:before,
.new-default-popup-j.warning .popup-wrapper-j .pu-contain-j:before,
.new-default-popup-j.error .popup-wrapper-j .pu-contain-j:before,
.new-default-popup-j.success .popup-wrapper-j .pu-contain-j:before {
    background: $skin-palette-10;
}
.popup-wrapper-j .pu-contain-j h3 {
    color: $text-palette-3;
}
.popup-wrapper-j .pu-contain-j p, .popup-wrapper-j .pu-contain-j {
    color: $text-palette-4;
}
.new-default-popup-j.feedback label input[type=email],
.new-default-popup-j.feedback label textarea {
    background: $skin-palette-10;
    border-color: $skin-palette-10;
    &:focus {
        border-color: $form-elements-focus;
    }
}
.new-default-popup-j.feedback label input[type=email]:-webkit-autofill {
    box-shadow: inset 0 0 0 50px $skin-palette-10;
}
.new-default-popup-j.feedback label input[type=email]:-webkit-autofill:focus {
    border-color: $skin-palette-10;
    box-shadow: 0 0 0 1px $form-elements-focus, 0 0 0 100px $skin-palette-10 inset;
}
.form-error-text-j .error-icon-f-j:before {
    color: #9D2C45;
    background: $skin-palette-10;
}
.new-default-popup-j.pu-tour-list-j .popup-wrapper-j iframe {
    width: 100%;
    height: 550px;
    display: block;
    float: left;
    border-radius: 0 0 5px 5px;
}
/* regional cup register */
.new-default-popup-j.tab-popup-j .popup-wrapper-j {
    background: $skin-palette-9;
}
.new-default-popup-j.tab-popup-j .popup-wrapper-j .pu-head-j {
    border: 0;
    padding: 0;
    line-height: 52px;
    height: 52px;
}
.new-default-popup-j.tab-popup-j .popup-wrapper-j .pu-head-j .close-j {
    line-height: 52px;
}
.new-default-popup-j.tab-popup-j .pu-head-j span {
    display: block;
    float: left;
    height: 52px;
    padding: 0 25px;
    font-size: 12px;
    text-transform: uppercase;
    color: $text-palette-4;
    cursor: default;
}
.new-default-popup-j.tab-popup-j .pu-head-j span[ng-click] {
    cursor: pointer;
}
.new-default-popup-j.tab-popup-j .pu-head-j span.active {
    background: $skin-palette-9;
    border: 1px solid $skin-palette-11;
    border-width: 0 1px;
    color: $text-palette-1;
}
.new-default-popup-j.tab-popup-j .pu-head-j span.active:first-of-type {
    border-left: 0;
}
.new-default-popup-j.regional-cup-register-j .popup-wrapper-j {
    width: 650px;
    box-shadow: inset 0 -1px 0 $skin-palette-11;
    text-align: left;
}
.regional-cup-register-j .register-regionalcup-j {
    float: left;
    width: 100%;
    padding: 22px 30px 30px;
}
.regional-cup-register-j .rc-buttons-wrap-j {
    float: left;
    width: 100%;
}
.rc-buttons-wrap-j li {
    display: inline-block;
    float: left;
    height: 36px;
}
li.button-wrap-br-regcup-j {
    float: right;
    overflow: hidden;
    border-radius: 6px;
}
li.button-wrap-br-regcup-j button {
    float: left;
    transition: 200ms color, 200ms background;
    cursor: pointer;
    display: block;
    height: 36px;
    border: 0;
    padding: 0 45px;
    background: $brand-color-1;
    text-transform: uppercase;
    color: white;
    font: 14px/36px $font-f;
}
li.button-wrap-br-regcup-j button.back-j {
    background: $skin-palette-4;
    color: $text-palette-8;
}
li.button-wrap-br-regcup-j button:hover,
li.button-wrap-br-regcup-j button.back-j:hover {
    color: $text-palette-1;
    background: $hero-color;
}
.rc-buttons-wrap-j li.terms-j label {
    float: left;
    height: 16px;
    position: relative;
    cursor: pointer;
    font: 12px/16px $font-f;
    color: $text-palette-4;
}
.rc-buttons-wrap-j li.terms-j label input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.rc-buttons-wrap-j li.terms-j label input[type="checkbox"] + i {
    display: inline-block;
    height: 16px;
    width: 16px;
    background: $skin-palette-10;
    position: relative;
    border-radius: 3px;
    text-align: center;
    vertical-align: sub;
    margin: 0 6px 0 0;
    transition: 200ms box-shadow;
}
.rc-buttons-wrap-j li.terms-j label input[type="checkbox"]:checked + i:before {
    content: "\54";
    font: 8px/17px icomoon;
    color: $text-palette-4;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.rc-buttons-wrap-j li.terms-j label input[type="checkbox"].ng-dirty + i {
    box-shadow: inset 0 0 0 1px #8e263a;
}
label.reg-cup-register-j {
    width: 50%;
    height: 60px;
    margin: 0 0 18px 0;
    float: left;
}
label.reg-cup-register-j p {
    float: left;
    width: 100%;
    height: 24px;
    font: 12px/22px $font-f;
    color: $text-palette-4;
}
label.reg-cup-register-j input {
    width: 100%;
    height: 36px;
    background: $skin-palette-10;
    border: 1px solid $skin-palette-10;
    transition: 200ms border-color;
    border-radius: 5px;
    padding: 0 14px;
    color: $text-palette-4;
    font: 12px $font-f;
    &::-webkit-input-placeholder {
        color: $skin-palette-4;
    }
    &:-moz-placeholder {
        color: $skin-palette-4;
    }
    &::-moz-placeholder {
        color: $skin-palette-4;
    }
    &:-ms-input-placeholder {
        color: $skin-palette-4;
    }
}
label.reg-cup-register-j input:focus {
    border-color: $form-elements-focus;
}
label.reg-cup-register-j input.ng-dirty {
    border-color: #8e263a;
}
label.reg-cup-register-j:nth-of-type(even) {
    padding-left: 34px;
}
.rcup-register-text-j {
    float: left;
    width: 100%;
    color: $text-palette-3;
    font: 12px/16px $font-f;
    margin: 3px 0 70px 0;
}
.new-default-popup-j.tab-popup-j.regional-cup-register-j {
    z-index: 9999999;
}
/* end regional cup register */
/* winners and rules popup for free V */
.new-default-popup-j.winners-rules-pu-j .pp-table-j .table-row-j .table-cell-j  .popup-wrapper-j {
    width: 650px;
}
.winners-pu-group-j,
.rules-pu-group-j {
    float: left;
    width: 100%;
    max-height: 510px;
    @include scroll($scroll: auto);
}
.winners-pu-group-j > ul {
    float: left;
    width: 100%;
    margin: 0 0 6px;
}
.winners-pu-group-j > ul > li {
    height: 72px;
    display: block;
    float: left;
    width: 100%;
    border-bottom: 1px solid $skin-palette-11;
    padding: 10px 34px 0 20px;
}
.winners-pu-group-j .winner-info-pu-j {
    float: left;
}
.winners-pu-group-j .win-amount-pu-j {
    float: right;
}
.winners-pu-group-j .winner-photo-pu-j {
    border-radius: 4px;
    height: 50px;
    width: 50px;
    line-height: 48px;
    float: left;
    border: 1px solid $skin-palette-4;
    overflow: hidden;
    position: relative;
    background: url(../images/no-image-winnersn.png#{$delete-cache}) no-repeat center bottom;
    background-size: 100%;
}
.winners-pu-group-j .winner-photo-pu-j img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.winners-pu-group-j .winner-info-pu-j p {
    float: left;
    width: 150px;
    text-align: left;
    color: $text-palette-3;
    font: 16px / 20px $font-f;
    font-weight: bold;
    margin: 4px 0 0 15px;
}
.win-amount-pu-j p {
    color: $text-palette-3;
    font: 24px / 46px $font-f;
    font-weight: bold;
}
.rules-pu-group-j > ul {
    float: left;
    width: 100%;
    margin: 0 0 6px;
    counter-reset: list;
}
.rules-pu-group-j > ul > li {
    display: block;
    float: left;
    width: 100%;
    color: $text-palette-3;
    font: 12px / 16px $font-f;
    text-align: left;
    padding: 17px 27px;
    border-bottom: 1px solid $skin-palette-11;
}
.rules-pu-group-j > ul > li:before {
    counter-increment: list;
    content: counter(list);
    display: block;
    width: 36px;
    height: 36px;
    font: 18px/36px $font-f;
    font-weight: bold;
    text-align: center;
    float: left;
    color: $text-palette-2;
    background-color: $brand-color-1;
    border-radius: 50%;
    margin: 0 22px 0 0;
}
.rules-pu-group-j > ul > li > div {
    float: left;
    width: calc(100% - 60px);
}
/* end winners and rules popup for free V */
.new-default-popup-j.image .popup-wrapper-j{
    width: 500px;
}
.popup-wrapper-j .pu-contain-j .dialog-text-box-b {
  float: left;
  width: 100%;
  text-align: center;
  margin: 12px 0 0;
  input {
    display: inline-block;
    background: rgba($skin-palette-13, 0.3);
    border: 0;
    font: bold 14px/36px $font-f;
    color: $text-palette-1;
    height: 36px;
    border-radius: 0;
    text-align: center;
  }
}
.new-default-popup-j.cashout-j {
    .popup-wrapper-j {
        width: 400px;        
    }
    .pu-contain-j {
        p {
            font: 16px/26px $font-f;
        }
        .id-cashout-j {
            color: #008D48;
            font: bold 16px/26px $font-f;
            margin: 0 0 10px;
        }
        .all-info-cashout-j {
            font-size: 13px;
            line-height: 20px;
            padding: 10px 0;
        }
        .warning-j {
            color: #ff335a;
        }
    }
}