// New live casino
.live-casino-slider-second-v-j {
  background: $skin-palette-12;
}
.provider-navigation-j {
  background: $skin-palette-10;
}
.provider-navigation-j li {
  border-color: $skin-palette-10;
  font: 14px/32px $font-f;
  color: $text-palette-1;
}
.provider-navigation-j li.active-j {
  border-color: $hero-color;
}
.live-casino-games-by-ul-column li {color: $text-palette-3;}
.live-casino-games-by-ul-column li > i {
  background: rgba(lighten( desaturate( adjust-hue( $skin-palette-11, -4deg ), 18 ), 23 ), 0.5);
  color: $text-palette-2;
  font: $style-text 42px/86px "icomoon";
}
.live-casino-games-by-ul-column li p {
  font: 18px/20px $font-f;
}
.live-casino-games-by-ul-column li h3 {
  font: 18px/20px $font-f;
  font-weight: $bold-text;
}
.live-casino-games-by-ul-column li button {
  font: 12px/24px $font-f;
  @include bg-and-color($hero-color);
}
.live-casino-games-by-ul-column li:hover > i {
  @include bg-and-color($hero-color);
}
.new-live-casino-j .live-casino-slider-second-v-j .brend-new-slider-j .slide-j .slide-wrap-j h4 {
  font: 48px/50px $font-f;
  color: #f3f3f5;
}
.new-live-casino-j .live-casino-slider-second-v-j .brend-new-slider-j .slide-j .slide-wrap-j p {
  color: #7b8191;
  font: 24px/30px $font-f;
  font-weight: $bold-text;
}
.live-casino-games-by-ul-column li p {
  font: 18px/22px $font-f;
  font-weight: $bold-text;
  width: 122px;
  color: $text-palette-2;
}
.live-casino-games-by-ul-column li p:first-line {
  font: 18px $font-f;
}
// End of new live casino

.new-games-page-j {
  width: 100%;
  float: left;
}
.gamesp-container-j {
  width: 100%;
  float: left;
  padding: 70px 0 60px;
  text-align: center;
}
@if $games-background == default {
  .new-games-page-j {
    background: rgb(63,67,79);
    background: -moz-radial-gradient(top, ellipse cover,  lighten( desaturate( adjust-hue( $skin-color, 3deg ), 20 ), 11 ) 0%, lighten( desaturate( adjust-hue( $skin-color, 3deg ), 20 ), 11 ) 50%, darken( saturate( adjust-hue( $skin-color, 8deg ), 1 ), 6 ) 100%);
    background: -webkit-gradient(radial, center top, 0, center center, 100%, color-stop(0%,lighten( desaturate( adjust-hue( $skin-color, 3deg ), 20 ), 11 )), color-stop(50%,lighten( desaturate( adjust-hue( $skin-color, 3deg ), 20 ), 11 )), color-stop(100%,darken( saturate( adjust-hue( $skin-color, 8deg ), 1 ), 6 )));
    background: -webkit-radial-gradient(top, ellipse cover,  lighten( desaturate( adjust-hue( $skin-color, 3deg ), 20 ), 11 ) 0%,lighten( desaturate( adjust-hue( $skin-color, 3deg ), 20 ), 11 ) 50%,darken( saturate( adjust-hue( $skin-color, 8deg ), 1 ), 6 ) 100%);
    background: -o-radial-gradient(top, ellipse cover,  lighten( desaturate( adjust-hue( $skin-color, 3deg ), 20 ), 11 ) 0%,lighten( desaturate( adjust-hue( $skin-color, 3deg ), 20 ), 11 ) 50%,darken( saturate( adjust-hue( $skin-color, 8deg ), 1 ), 6 ) 100%);
    background: -ms-radial-gradient(top, ellipse cover,  lighten( desaturate( adjust-hue( $skin-color, 3deg ), 20 ), 11 ) 0%,lighten( desaturate( adjust-hue( $skin-color, 3deg ), 20 ), 11 ) 50%,darken( saturate( adjust-hue( $skin-color, 8deg ), 1 ), 6 ) 100%);
    background: radial-gradient(ellipse at top,  lighten( desaturate( adjust-hue( $skin-color, 3deg ), 20 ), 11 ) 0%,lighten( desaturate( adjust-hue( $skin-color, 3deg ), 20 ), 11 ) 50%,darken( saturate( adjust-hue( $skin-color, 8deg ), 1 ), 6 ) 100%);
  }
  .gamesp-container-j {
    background: -moz-radial-gradient(top, ellipse cover, rgba(lighten( desaturate( adjust-hue( $skin-color, 3deg ), 20 ), 11 ), 0.64) 0%, rgba(darken( saturate( adjust-hue( $skin-color, 8deg ), 1 ), 6 ), 0.6) 48%, rgba(darken( saturate( adjust-hue( $skin-color, 8deg ), 1 ), 6 ), 0) 100%);
    background: -webkit-gradient(radial, center top, 0, center center, 100%, color-stop(0%, rgba(lighten( desaturate( adjust-hue( $skin-color, 3deg ), 20 ), 11 ), 0.64)), color-stop(48%, rgba(darken( saturate( adjust-hue( $skin-color, 8deg ), 1 ), 6 ), 0.6)), color-stop(100%, rgba(darken( saturate( adjust-hue( $skin-color, 8deg ), 1 ), 6 ), 0)));
    background: -webkit-radial-gradient(top, ellipse cover, rgba(lighten( desaturate( adjust-hue( $skin-color, 3deg ), 20 ), 11 ), 0.64) 0%, rgba(darken( saturate( adjust-hue( $skin-color, 8deg ), 1 ), 6 ), 0.6) 48%, rgba(darken( saturate( adjust-hue( $skin-color, 8deg ), 1 ), 6 ), 0) 100%);
    background: -o-radial-gradient(top, ellipse cover, rgba(lighten( desaturate( adjust-hue( $skin-color, 3deg ), 20 ), 11 ), 0.64) 0%, rgba(darken( saturate( adjust-hue( $skin-color, 8deg ), 1 ), 6 ), 0.6) 48%, rgba(darken( saturate( adjust-hue( $skin-color, 8deg ), 1 ), 6 ), 0) 100%);
    background: -ms-radial-gradient(top, ellipse cover, rgba(lighten( desaturate( adjust-hue( $skin-color, 3deg ), 20 ), 11 ), 0.64) 0%, rgba(darken( saturate( adjust-hue( $skin-color, 8deg ), 1 ), 6 ), 0.6) 48%, rgba(darken( saturate( adjust-hue( $skin-color, 8deg ), 1 ), 6 ), 0) 100%);
    background: radial-gradient(ellipse at top, rgba(lighten( desaturate( adjust-hue( $skin-color, 3deg ), 20 ), 11 ), 0.64) 0%, rgba(darken( saturate( adjust-hue( $skin-color, 8deg ), 1 ), 6 ), 0.6) 48%, rgba(darken( saturate( adjust-hue( $skin-color, 8deg ), 1 ), 6 ), 0) 100%);
  }
  .games-pattern-j:before {
    background: $lcasino-games-pattern-bg;
  }
} @else {
  .gamesp-container-j  {
    background: $games-background;
  }
}
.new-games-page-j .j-resize-950-1280 {padding: 0 15px;max-width: 1164px;}
.new-games-page-j .j-resize-950-1280 li {
  display: inline-block;
  width: 281px;
  height: 410px;
  box-shadow: 0 3px 0 darken( desaturate( adjust-hue( $skin-color, 7deg ), 1 ), 10 );
  position: relative;
  margin: 0 5px 12px;
  @media screen and (max-height: 768px) {
    height: 360px;
  }
}
.new-games-page-j .j-resize-950-1280 li p {
  display: block;
  float: left;
  color: #f3f3f5;
  font: bold 20px/26px $font-f;
  text-transform: uppercase;
  text-align: center;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 126px;
  position: relative;
  z-index: 9;
  &:before {
    height: 44px;
    width: 100%;
    position: absolute;
    content: "";
    left: 0;
    bottom: 100%;
    display: block;
    font: 44px/44px icomoon;
    color: #f3f3f5;
    text-align: center;
    padding-bottom: 24px;
  }
}
.new-games-page-j  .game-link-tj {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.new-games-page-j .j-resize-950-1280 li.added-to-favorite-j {
  box-shadow: 0 0 0 1px #b2b6c4, inset 0 0 0 1px #b2b6c4,  0 3px 0 #0d0f18;
}
.new-games-page-j .j-resize-950-1280 li.added-to-favorite-j .fav-bar-game-j {
  opacity: 1;
  color: white;
}
.new-games-page-j .j-resize-950-1280 li.added-to-favorite-j .fav-bar-game-j span:before {
  content: "\f006";
}
.new-games-page-j .j-resize-950-1280 li:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-shadow: inset 0 1px 0 #D29A09, 0 -1px 0 #624822, inset 0 2px 0 #5B523C, inset 0 3px 0 #83550D, -1px 0 0 #D08B1D, inset 1px 0 0 #E19319, 1px 0 0 #8A5D16, inset -1px 0 0 #E19319, 0 1px 0 #B78931,inset 0 -1px 0 #7E520D, inset 0 -2px 0 #322B22, inset 0 -3px 0 #FFD360, 0 3px 0 darken( desaturate( adjust-hue( $skin-color, 7deg ), 1 ), 10 );
}
.new-games-page-j .j-resize-950-1280 li:before, .fav-bar-game-j {
  transition: opacity 350ms ease-in-out;
}
.new-games-page-j .j-resize-950-1280 li:hover:before, .new-games-page-j .j-resize-950-1280 li:hover .fav-bar-game-j {
  opacity: 1;
}
.new-games-page-j li.VGSPoker {
  background: #181B2C url(../../../images/games-page/poker-1.jpg#{$delete-cache}) no-repeat 0 -411px;
  &:before {
    background: url(../../../images/games-page/poker-1.jpg#{$delete-cache}) no-repeat 0 0;
  }
  .action-button-set-j {
    overflow: visible;
  }
  p:before {
    content: "\e6c0";
    font-size: 54px;
  }
  .games-pw-buttonset-j button {
    position: relative;
  }
  .games-play-now-top-item button {
    &:after {
      content: attr(data-content);
      display: inline-block;
      color: set-color($hero-color);
      background: $hero-color;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.6);
      position: absolute;
      height: 10px;
      font: 8px/11px $font-f;
      padding: 0 2px;
      border-radius: 3px 0 3px 0;
      right: 1px;
      top: 1px;
      box-sizing: border-box;
    }
  }
} 
.new-games-page-j li.VGSchPoker {
  background: #181B2C url(../../../images/games-page/chinesse-1.jpg#{$delete-cache}) no-repeat 0 -411px;
  &:before {
    background: url(../../../images/games-page/chinesse-1.jpg#{$delete-cache}) no-repeat 0 0;
  }
  p:before {
    content: "\e6da";
  }
} 
.new-games-page-j li.VGSBELOTE {
  background: #181B2C url(../../../images/games-page/belote-1.jpg#{$delete-cache}) no-repeat 0 -411px;
  &:before {
    background: url(../../../images/games-page/belote-1.jpg#{$delete-cache}) no-repeat 0 0;
  }
  p:before {
    content: "\e6d0";
  }
}  
.new-games-page-j li.VGSDeberc {
  background: #181B2C url(../../../images/games-page/deberc-1.jpg#{$delete-cache}) no-repeat 0 -411px;
  &:before {
    background: url(../../../images/games-page/deberc-1.jpg#{$delete-cache}) no-repeat 0 0;
  }
  p:before {
    content: "\e910";
  }
} 
.new-games-page-j li.VGSnardi {
  background: #181B2C url(../../../images/games-page/nardi-1.jpg#{$delete-cache}) no-repeat 0 -411px;
  &:before {
    background: url(../../../images/games-page/nardi-1.jpg#{$delete-cache}) no-repeat 0 0;
  }
  p:before {
    content: "\e6cf";
  }
} 
.new-games-page-j li.ASG1000 {
  background: #181B2C url(../../../images/games-page/ogwil-1.jpg#{$delete-cache}) no-repeat 0 -411px;
  &:before {
    background: url(../../../images/games-page/ogwil-1.jpg#{$delete-cache}) no-repeat 0 0;
  }
  p:before {
    content: "\e911";
  }
}

.new-games-page-j li.NETkenobnjp_sw {
  background: #181B2C url(../../../images/games-page/keno-1.jpg#{$delete-cache}) no-repeat 0 -411px;
  &:before {
    background: url(../../../images/games-page/keno-1.jpg#{$delete-cache}) no-repeat 0 0;
  }
  p:before {
    content: "\e6d8";
  }
}

.new-games-page-j li.VGSshashki {
  background: #181B2C url(../../../images/games-page/checkers.jpg#{$delete-cache}) no-repeat 0 -411px;
  &:before {
    background: url(../../../images/games-page/checkers.jpg#{$delete-cache}) no-repeat 0 0;
  }
  p:before {
    content: "\e939";
  }
}
.new-games-page-j li.VGSrussianRoulette {
  background: #181B2C url(../../../images/games-page/russian-roulette.jpg#{$delete-cache}) no-repeat 0 -412px;
  &:before {
    background: url(../../../images/games-page/russian-roulette.jpg#{$delete-cache}) no-repeat 0 0;
  }
  p:before {
    content: "\e93a";
  }
}
.new-games-page-j li.VGSChingaChoong {
  background: #181B2C url(../../../images/games-page/chingachoong.jpg#{$delete-cache}) no-repeat 0 -412px;
  &:before {
    background: url(../../../images/games-page/chingachoong.jpg#{$delete-cache}) no-repeat 0 0;
  }
  p:before {
    content: "\e96d";
  }
}
.new-games-page-j li.VGSVR.Casino {
  background: #181B2C url(../../../images/games-page/vr-casino.png#{$delete-cache}) no-repeat 0 -412px;
  &:before {
    background: url(../../../images/games-page/vr-casino.png#{$delete-cache}) no-repeat 0 0;
  }
  p:before {
    content: "\e97e";
  }
}
.fav-bar-game-j {
  width: 105px;
  height: 105px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 20;
  color: #302307;
  overflow: hidden;
}
.fav-bar-game-j:before {
  content: '';
  display: block;
  background: #ddbe62;
  background: -moz-linear-gradient(45deg,  #ddbe62 0%, #decb92 20%, #a8852e 74%, #b08a36 100%);
  background: -webkit-linear-gradient(45deg,  #ddbe62 0%,#decb92 20%,#a8852e 74%,#b08a36 100%);
  background: linear-gradient(45deg,  #ddbe62 0%,#decb92 20%,#a8852e 74%,#b08a36 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddbe62', endColorstr='#b08a36',GradientType=1 );
  width: 220px;
  height: 26px;
  transform: rotate(45deg);
  position: absolute;
  top: 30px;
  left: -47px;
}
.fav-bar-game-j span {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 33px;
  right: 33px;
  transform: rotate(42deg);
  text-shadow: 1px 1px 0 #D0BB7E;
}
.fav-bar-game-j span:before {
  content: "\f005";
  font: 18px icomoon;
}
.games-pw-buttonset-j {
  position: absolute;
  z-index: 20;
  text-align: center;
  bottom: 25px;
  left: 20px;
  right: 20px; }
.games-pw-buttonset-j button {
  height: 36px;
  background: $skin-palette-1;
  color: $text-palette-8;
  text-transform: uppercase;
  min-width: 125px;
  padding: 0 10px;
  font: 13px $font-f;
  border: 0;
  cursor: pointer;
  display: block;
  float: left;
  transition-duration: 300ms;
}
.games-pw-buttonset-j button.skin-j {
  border: 1px solid white;
  color: white;
  min-width: 110px;
  background: transparent;
}
.games-pw-buttonset-j button:hover, .games-pw-buttonset-j a:hover {
  border-color: $hero-color;
  background: $hero-color;
  color: set-color($hero-color);
}
.action-button-set-j {
  float: right;
  height: 36px;
  overflow: hidden;
}
.action-button-set-j > div {
  float: left;
  width: 36px;
}
.action-button-set-j div a {
  text-decoration: none;
  width: 36px;
  height: 36px;
  border-radius: 0;
  min-width: 36px;
  position: relative;
  background: $skin-palette-9;
  color: $text-palette-3;
  padding: 0;
  display: block;
  transition-duration: 300ms;
} 
.action-button-set-j .download-j a{
  background: $skin-palette-5;
  color: $text-palette-2;
}
.action-button-set-j .download-j a:hover,
.action-button-set-j .download-j.beta-j a:hover  {
  background: $brand-color-1;
  color: set-color($brand-color-1);
}
.action-button-set-j  .download-j.beta-j a {
  background: $text-palette-4;
  position: relative;
  color: $text-palette-1;
  &:after {
    content: "NEW. \03b2";
    display: block;
    font: 8px/12px $font-f;
    height: 12px;
    min-width: 32px;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    top: -6px;
    right: -6px;
    background: $hero-color;
    text-transform: none;
  }
}
.action-button-set-j .view-j a:before {
  content: "\e6b3";
  font: 22px/36px icomoon;
}
.action-button-set-j .download-j a:before {
  content: "\e6e0";
  font: 16px/36px icomoon;
}
@media screen and (max-width: 1325px) {
  .new-games-page-j .j-resize-950-1280 {
    padding: 0 10px;
    width: 958px;
  }
  .new-games-page-j .j-resize-950-1280 li:nth-child(4) {
    margin-left: 0;
  }
  .new-games-page-j .j-resize-950-1280 li:nth-child(5) {
    margin-left: 10px;
  }
}
.casino-main .belote-with-fullscreen .contain-fantasy{
  top: 136px;
  height: calc(100% - 136px);
}