<div class="booking-popup">

    <div class="info-booking">
        <div class="booking-logo">
            <img alt=""
                 ng-src="skins/{{$root.conf.skin}}/images/{{$root.conf.bookingLogoUrl}}"
                 onload="print(); window.close()">
        </div>
        <p ng-bind-html="$root.conf.bookingBetPrint.message|translate|html:'p'"
           ng-show="$root.conf.bookingBetPrint.message"></p>

        <h1 ng-if="betData.betType===1" trans>Single</h1>
        <h1 ng-if="betData.betType===2" trans>Express</h1>
        <h1 ng-if="betData.betType===3"><span trans>System</span> {{betData.sysVal}}/{{betData.bets.length}}</h1>
        <h1 ng-if="betData.betType===4" trans>Chain</h1>

        <div ng-hide="betData.betType === 1 && betData.bets.length > 1">
            <h1 ng-hide="betData.betType === 3 || betData.betType === 4"><span trans>Odds</span> :
                {{betData.odds|oddConvert:betData.oddFormat:undefined:undefined:undefined:(betData.betType === 2)}}</h1>
            <h1><span trans>Stake</span> : {{betData.amount|bankersRoundAndNumberCommas:betData.balanceFractionSize}}
                {{betData.currencyName|currency}}</h1>
            <h1><span trans>Possible win:</span> {{betData.possibleWin|roundPossibleWin:betData.balanceFractionSize:betData.betType}}
                {{betData.currencyName|currency}}</h1>
            <!-- tax type: 1 - tax on profit ; 4 - tax on stack-->
            <div ng-if="betData.possibleWinBonusTax && !(betData.enableExpressBonus && !(betConf.hideIfOverMaxOdds && betData.maxOdd && betData.odds > betData.maxOdd) && !betData.hasSpOddTypes && betData.bets.length > betData.expressBonusVisibilityQty && betData.betType === 2 && betData.possibleWin > 0 && betData.expBonus > 0 && betData.expBonusPercentage > 0)">
                <h1><span trans>Tax</span> : <span><b>{{betData.possibleWinTax|bankersRoundAndNumberCommas:betData.balanceFractionSize}} {{betData.currencyName}}</b></span>
                </h1>
                <h1 ng-if="betData.tax.type===20"><span trans>Winning bonus</span> : <span><b>{{betData.possibleWinTax|bankersRoundAndNumberCommas:betData.balanceFractionSize}} {{betData.currencyName}}</b></span>
                </h1>
                <h1><span trans>Final Payout</span> : <span><b>{{betData.finalWinTaxValue|bankersRoundAndNumberCommas:betData.balanceFractionSize}} {{betData.currencyName}}</b></span>
                </h1>
            </div>
        </div>
        <div class="booking-singles" ng-repeat="bet in betData.bets"
             ng-show="betData.betType === 1 && betData.bets.length > 1">
            <div>
                <h1><span trans>Odds</span> : {{bet.price|oddConvert:betData.oddFormat}}</h1>
                <h1><span trans>Stake</span> : {{bet.singleStake|bankersRoundAndNumberCommas:betData.balanceFractionSize}}
                    {{betData.currencyName|currency}}</h1>
                <h1><span trans>Possible win:</span> {{bet.singlePosWin|bankersRoundAndNumberCommas:betData.balanceFractionSize}}
                    {{betData.currencyName|currency}}</h1>
                <div ng-show="bet.tax">
                    <!-- tax_type: 1 - tax on profit ; 4 - tax on stack 20 - tax on profit as fictive-->
                    <h1><span trans>Tax</span> : {{bet.tax|bankersRoundAndNumberCommas:betData.balanceFractionSize}}
                        {{betData.currencyName|currency}}</h1>
                    <h1 ng-if="betData.tax.type===20"><span trans>Winning bonus</span> :
                        {{bet.tax|bankersRoundAndNumberCommas:betData.balanceFractionSize}} {{betData.currencyName|currency}}</h1>
                    <h1><span trans>Final Payout</span> : {{bet.singlePosWin-(betData.tax.type!==20 ? bet.tax :
                        0)|bankersRoundAndNumberCommas:betData.balanceFractionSize}} {{betData.currencyName|currency}}</h1>
                </div>
            </div>
            <div barcode-generator="{{betData.bookIds[$index]}}" class="qr-code-b"></div>
            <h1 ng-bind="betData.bookIds[$index]"></h1>
        </div>

        <div ng-if="betData.enableExpressBonus && !(betConf.hideIfOverMaxOdds && betData.maxOdd && betData.odds > betData.maxOdd)"
             ng-show="!betData.hasSpOddTypes && betData.bets.length > betData.expressBonusVisibilityQty && betData.betType === 2 && betData.possibleWin > 0 && betData.expBonus > 0 && betData.expBonusPercentage > 0">
            <h1><span trans>Bonus percentage : </span><span><b>{{betData.expBonusPercentage}}</b></span></h1>
            <h1><span trans>Accumulator Bonus : </span><span><b>{{(betData.expBonus)|bankersRoundAndNumberCommas:betData.balanceFractionSize}} {{betData.currencyName|currency}}</b></span>
            </h1>
            <h1><span trans>Total win : </span><span><b>{{betData.totalPossibleWin|roundPossibleWin:betData.balanceFractionSize:betData.betType}} {{betData.currencyName|currency}}</b></span>
            </h1>

            <div ng-if="betData.possibleWinBonusTax">
                <!-- tax_type: 1 - tax on profit ; 4 - tax on stack 20 - tax on profit as fictive-->
                <h1><span trans>Tax : </span><span><b>{{betData.possibleWinBonusTax |bankersRoundAndNumberCommas:betData.balanceFractionSize}} {{betData.currencyName|currency}}</b></span>
                </h1>
                <h1 ng-if="betData.tax.type===20"><span trans>Winning bonus : </span><span><b>{{betData.possibleWinBonusTax |bankersRoundAndNumberCommas:betData.balanceFractionSize}} {{betData.currencyName|currency}}</b></span>
                </h1>
                <h1><span trans>Final Payout : </span><span><b>{{betData.finalWinBonusTaxValue | bankersRoundAndNumberCommas:betData.balanceFractionSize}} {{betData.currencyName|currency}}</b></span>
                </h1>
            </div>
        </div>

        <div ng-if="betData.bookIds.length === 1">
            <div barcode-generator="{{betData.bookIds[0]}}" class="qr-code-b"></div>
            <h1 ng-bind="betData.bookIds[0]"></h1>
        </div>
        <p ng-bind-html="$root.conf.bookingBetPrint.bottomMessage|translate|html:'p'"
           ng-show="$root.conf.bookingBetPrint.bottomMessage"></p>
    </div>
</div>
