<!--header-->
<div ng-controller="mainHeaderVersion2Controller" class="guide header-wrapper" ng-if="!conf.integrationMode && $location.path().indexOf('/widget/') === -1">
    <div class="notification-popup-l" ng-if="notificationPopup.show">
        <div class="notification-popup-info-l">
            <div></div>
            <div>
                <span ng-if="notificationPopup.title">{{notificationPopup.title|translate}}</span>
                <br>
                <a ng-if="notificationPopup.content" ng-click="notificationPopupClick(notificationPopup);broadcast(notificationPopup.broadcast[0], notificationPopup.broadcast[1]);notificationPopup.show = false;$event.stopPropagation();">{{notificationPopup.content|translate}}</a>
                <p ng-if="notificationPopup.label">
                    <label>{{notificationPopup.label|translate}}</label>
                    <input type="text" ng-model="notificationPopup.input" />
                    <input type="button" ng-click="notificationPopupInput();notificationPopup.show = false;$event.stopPropagation();" value="OK" />
                </p>
            </div>
            <a ng-click="notificationPopup.show = false" class="custom-close-l"> &#215; </a>
        </div>
    </div>
    <div class="header-license-img" ng-if="aboveHeaderOpened && $location.path() === '/'">
        <a ng-repeat="headerItem in $root.conf.header.aboveHeader.items" ng-href="{{::headerItem.url}}" target="{{::headerItem.target || '_self'}}">
            <img ng-if="headerItem.img" ng-src="{{::headerItem.img}}" width="{{headerItem.width}}"/>
            <span ng-if="headerItem.text">{{::headerItem.text|translate}}</span>
        </a>
        <i ng-click="closeAboveHeader()" title="{{'Close'|translate}}"></i>
    </div>
    <div class="accept-cookies-t" ng-if="conf.header.acceptCookies && !cookiesNotification.cookiesAccepted">
        <p ng-bind-html="::cookiesNotification.cookiesText|nl2br|html"></p>
        <button ng-click="acceptCookies()" trans>Accept</button>
    </div>
    <div class="header-container-b">
        <ul class="responsive-header-contain-j">
            <li class="responsive-header-item-j">
                <div class="logo-nav-wrapper">
                    <a ng-href="{{::$root.conf.logo.url}}" ng-click="closeSlider();">
                        <img ng-src="{{(conf.logo.image ? conf.logo.image : 'skins/' + conf.skin + '/images/logo.png') + '?v=' + env.appVersion}}" image-on-load image-width="logoWidth" ng-style="{'width' : conf.logo.width ? (conf.logo.width + 'px') : '', 'height' : conf.logo.height ? (conf.logo.height + 'px') : ''}"/>
                        <img ng-src="{{(conf.logo.imageFix ? conf.logo.imageFix : 'skins/' + conf.skin + '/images/logo2.png') + '?v=' + env.appVersion}}" ng-style="{'width' : conf.logo.widthFix ? (conf.logo.widthFix + 'px') : '', 'height' : conf.logo.heightFix ? (conf.logo.heightFix + 'px') : ''}"/>
                    </a>
                </div>
            </li>
            <li class="responsive-header-item-j auto-width">
                <div class="header-top-row">
                    <ul class="responsive-header-contain-j">
                        <li ng-if="!$root.conf.header.hideTopMenu" class="responsive-header-item-j header-icon-menu">
                            <label for="header-collapse" class="menu-visible-icon-b" trans>Menu</label>
                        </li>
                        <li class="responsive-header-item-j very-top-menu-wrapper-j auto-width">
                            <div class="original" ng-include="::'templates/header/version_2/veryTopMenu.html'|fixPath"></div>
                            <div class="duplicate" ng-include="::'templates/header/version_2/veryTopMenu.html'|fixPath"></div>
                        </li>
                        <li class="responsive-header-item-j" ng-if="conf.header.customButtons || conf.header.textForLanguage || conf.showLastLoginTime">
                            <div class="additional-header-buttons-j">
                                <a ng-if="conf.showLastLoginTime && profile.previous_login_time" class="text-only"><span trans>Last login:</span> {{profile.previous_login_time|formatDate}}</a>
                                <a ng-if="conf.header.textForLanguage[env.lang] || conf.header.textForLanguage.default" ng-href="{{conf.header.textForLanguage.href}}" class="text-only">{{conf.header.textForLanguage[env.lang] || conf.header.textForLanguage.default}}</a>
                                <a
                                        title="{{(button.toggleEnv ? button.text[env[button.toggleEnv] ? 1 : 0] : button.text)|translate}}"
                                        ng-init="button.storageEnv && (env[button.toggleEnv] = getStorageState(button.storageEnv))"
                                        ng-repeat="button in conf.header.customButtons track by $index"
                                        ng-if="(button.authorized === undefined || env.authorized === button.authorized) && !button.hide"
                                        class="{{button.class}}"
                                        style="{{button.style}}"
                                        ng-click="
                                button.hideOnClick && (button.hide = true);
                                button.toggleEnv && (env[button.toggleEnv] = !env[button.toggleEnv]);
                                button.setEnv && (env[button.setEnv[0]] = button.setEnv[1]);
                                button.broadcast && (broadcast( button.broadcast[0], button.broadcast[1]));
                                button.storageEnv && (setStorageState(button.storageEnv, env[button.toggleEnv]));
                                button.help && (openHelpPage(button.help, button.helpFrom));
                                button.slider && (conf.enableMixedView ? (selectBalanceMenuItem($event,button.slider)) : broadcast( 'toggleSliderTab',button.slider, button.authorized));
                                button.href && (openPopup(button.href, button.popupTitle, button.popupParams, button.target));
                                $event.stopPropagation();
                            "
                                >
                                    {{button.checkbox && (env[button.toggleEnv] ? '&#9745;' : '&#9744;')}}
                                    {{(button.toggleEnv ? button.text[env[button.toggleEnv] ? 1 : 0] : button.text)|translate}}
                                </a>
                            </div>
                        </li>
                        <li class="responsive-header-item-j"
                            ng-show="env.authorized && conf.header.messageIcon.showInTopRow" ng-if="conf.header.messageIcon.enabled" >
                            <div class="separator-contain-nav"
                                 prevent-fast-click ng-click="toggleSliderTab('messages')">
                                <div class="settings-icon-contain messages-icon-b">
                                    <i class="favorite-count-view" ng-bind="profile.unread_count"
                                       ng-show="profile.unread_count"></i>
                                </div>
                            </div>
                        </li>
                <li class="responsive-header-item-j"
                    ng-show="(!conf.hideBonusSectionIfNoBonus || (conf.hideBonusSectionIfNoBonus && $root.allBonusesCount.sportsbook + $root.allBonusesCount.casino +  $root.allBonusesCount.freeSpins> 0))"
                    ng-if="env.authorized && conf.promotionalBonuses.enable && $root.profile.is_bonus_allowed !== false">
                    <div class="separator-contain-nav" ng-click="toggleSliderTab('promotionalBonuses')">
                        <div class="settings-icon-contain my-bets-b">
                            <b class="mybets-icon-box-b cms-jcon-bonus2"></b>
                        <i class="mybets-count-view" ng-show="bonusesCount.sportsbook + bonusesCount.casino + bonusesCount.freeSpins > 0 && !conf.promotionalBonuses.disableCountOnIcon" ng-init="getBonusesCount();" ng-bind="bonusesCount.sportsbook + bonusesCount.casino + bonusesCount.freeSpins"></i>
                        </div>
                    </div>
                </li>
                <li class="responsive-header-item-j"
                    ng-show="!env.authorized">
                    <div class="signin-reg-buttons-b" id="signin-reg-buttons">
                        <ul ng-hide="conf.header.disableRegistrationAndLogin">
                            <li ng-if="conf.registration.enableSignIn && (!conf.rfid.loginWIthRFID || conf.rfid.loginWIthRFID && conf.rfid.allowAccessWithoutRfid)">
                                <button ng-class="{'active-s': env.sliderContent === 'login'}" ng-click="signin()" trans>Sign in</button>
                            </li>
                            <li ng-if="conf.registration.enable">
                                <button ng-click="register()" trans>Register</button>
                                <ng-include src="::'templates/header/dynamicmessage.html'|fixPath"></ng-include>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="responsive-header-item-j header-notifications-section">
                    <ng-include class="settings-include-contain" src="::'templates/header/version_2/whatsNewNotifications.html'|fixPath"></ng-include>
                </li>
                <li class="responsive-header-item-j" ng-show="env.authorized">
                    <ng-include class="settings-include-contain" src="::'templates/header/version_2/profileMenu.html'|fixPath"></ng-include>
                </li>
                <li class="responsive-header-item-j" ng-show="env.authorized">
                    <ng-include class="settings-include-contain" src="::'templates/header/version_2/balance.html'|fixPath"></ng-include>
                </li>
                <li class="responsive-header-item-j" ng-show="env.authorized && (conf.betHistoryEnabled && $root.calculatedConfigs.sportEnabled)">
                    <div class="separator-contain-nav"
                         ng-click="myBetsToggle()" prevent-fast-click id="myBets">
                        <div class="settings-icon-contain my-bets-b">
                            <b class="mybets-icon-box-b"></b>
                            <span ng-hide="headerVersion2Icons.hideLablesIsToggled" trans>My bets</span>
                        </div>
                    </div>
                </li>
                <li class="responsive-header-item-j" ng-repeat="icon in conf.header.customIcons track by $index" title="{{icon.title|translate}}">
                    <div ng-switch="icon.type">
                        <div ng-switch-when="a" class="separator-contain-nav">
                            <a class="settings-icon-contain {{icon.class}}" id="{{icon.id}}" href="{{icon.href}}" target="{{icon.target}}" ng-click="$root[icon.onclick] && $root[icon.onclick](icon)" ng-init="$root[icon.oninit] && $root[icon.oninit](icon)">{{icon.text|translate}}</a>
                        </div>
                        <div ng-switch-when="help" class="separator-contain-nav"
                             prevent-fast-click ng-click="broadcast('openHelpPage', {slug: icon.action, from: icon.target || 'footer'});">
                            <div class="settings-icon-contain {{icon.icon}}">
                            </div>
                        </div>
                        <div ng-switch-default class="separator-contain-nav"
                             prevent-fast-click ng-click="icon.action && broadcast(icon.action, icon.data);icon.func && this[icon.func]()">
                            <div class="settings-icon-contain {{icon.icon}}">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="responsive-header-item-j"
                    ng-show="!conf.rfid.loginWIthRFID || env.authorized" ng-if="(calculatedConfigs.sportEnabled || casinoEnabled) && conf.header.showFavoriteIcon" >
                    <div class="separator-contain-nav"
                         prevent-fast-click ng-click="myGamesToggle()">
                        <div class="settings-icon-contain favorite-icon-b" title="Favorite Games" trans="attr-only">
                            <i class="favorite-count-view"
                               ng-show="myGames.length || (!env.hideCasinoFavorites && casinoEnabled && myCasinoGames.length)"
                               >{{myGames.length + ((env.hideCasinoFavorites || !casinoEnabled) ? 0 : myCasinoGames.length)}}</i>
                        </div>
                    </div>
                </li>

                <li class="responsive-header-item-j"
                    ng-show="conf.header.showHelpIcon">
                    <div id="faq-header" class="separator-contain-nav dont-collaped-b {{headerVersion2Icons.helpIsToggled ? 'active' : ''}}"
                         hide-on-click state-flag-var="headerVersion2Icons.helpIsToggled"
                         ng-click="headerIconClick();"
                         ng-mouseover="headerIconClick(true);"
                         ng-mouseleave="headerIconClick(false);" >
                        <div class="settings-icon-contain help-icon-b"></div>
                        <div class="nav-open-view-contain">
                            <ul>
                                <li>
                                    <div class="drop-nav-new-b">
                                        <p><span trans>Choose Help</span></p>
                                        <div class="drop-items-contain-b icon-view-box">
                                            <ul>
                                                <li ng-click="openFaq();$event.stopPropagation()" ng-if="conf.header.haveFaq && conf.header.haveFaq==true">
                                                    <i class="icon-faq-new-b"></i>
                                                    <span trans>FAQ</span>
                                                </li>

                                                <li ng-click="openUrl(conf.header.haveFaq);$event.stopPropagation();" ng-if="conf.header.haveFaq && conf.header.haveFaq!=true && !conf.header.openFaqAsPopup">
                                                    <i class="icon-faq-new-b"></i>
                                                    <span trans>FAQ</span>
                                                </li>

                                                <li ng-click="openPopup(conf.header.haveFaq, 'FAQ', 'toolbar=0,location=0,directories=0,status=1,menubar=0,scrollbars=0,resizable=1,width=600,height=680');$event.stopPropagation();"
                                                    ng-if="conf.header.haveFaq && conf.header.haveFaq!=true && conf.header.openFaqAsPopup">
                                                    <i class="icon-faq-new-b"></i>
                                                    <span trans>FAQ</span>
                                                </li>

                                                <!-- Additional help icons (SDC-27785) -->
                                                <li ng-repeat="helpItem in (conf.header.additionalHelpIcons[env.lang] || conf.header.additionalHelpIcons.eng)">
                                                    <i ng-class="helpItem.icon"></i>
                                                    <a ng-if="helpItem.title && helpItem.slug" ng-click="broadcast('scrollTo', 'header')" ng-href="#/?help={{helpItem.slug}}" ng-bind="helpItem.title" trans></a>
                                                    <a ng-if="helpItem.title && helpItem.src" target="{{helpItem.target ? helpItem.target : '_self'}}" ng-href="{{helpItem.src}}" ng-bind="helpItem.title|translate"></a>
                                                </li>

                                                <li ng-show="!!isLiveAgent && !conf.liveChat.disableFromHeader && !conf.liveChat[env.lang].notLiveAgentIsLang" ng-click="startLiveAgent()">
                                                    <i class="icon-livechat-new-b"></i>
                                                    <span trans>Live Chat</span>
                                                </li>
                                                <li title="Live Agent" trans="attr-only" class="help-b"
                                                    ng-show="!!conf.liveChat.zopimInHeader" onclick="showZopimChat('tr');">
                                                    <i class="icon-faq-new-b"></i>
                                                    <span trans>Contact Support</span>
                                                </li>

                                                <li ng-if="::conf.liveChat.isSfChat"
                                                    ng-click="startSFChat()" title="Live Chat" trans="attr-only" class="help-b">
                                                    <i class="icon-faq-new-b"></i>
                                                    <span trans>Live Chat</span>
                                                </li>

                                                <li pass-click-to="{{ conf.liveChat.buttonId ? conf.liveChat.buttonId : (conf.liveChat.comm100ButtonId || 'live-chat-button1') }}"  ng-attr-iframe="{{!conf.liveChat.buttonIsDiv ? 'true' : ''}}" ng-attr-find="{{!conf.liveChat.buttonIsDiv ? 'a' : ''}}" ng-if="!conf.liveChat.isSfChat && conf.liveChat.siteId && conf.liveChat.codePlan && !conf.liveChat.disableFromHeader">
                                                    <i class="icon-faq-new-b"></i>
                                                    <span id="live-chat-button1" title="Live Chat" trans>Live Chat</span>
                                                </li>

                                                <li ng-if="conf.liveChat.jivositeWidgetId && !conf.liveChat.disableFromHeader" onclick="jivo_api.open()">
                                                    <i class="icon-faq-new-b"></i>
                                                    <span title="Live Chat" trans>Live Chat</span>
                                                </li>

                                                <li id="live-chat-popup-button" ng-if="conf.liveChat.popup" title="Live Chat" trans onclick="startLiveChat()">
                                                    <i class="icon-faq-new-b"></i>
                                                    <span trans>Live Chat</span>
                                                </li>
                                                <li  ng-if="conf.liveChat.headerLink" title="Live Chat">
                                                    <i class="icon-faq-new-b"></i>
                                                    <a  href="{{conf.liveChat.headerLink}}" target="_blank" trans>Live Chat</a>
                                                </li>
                                                <li  ng-if="conf.liveChat.template" title="Live Chat">
                                                    <i class="icon-livechat-new-b"></i>
                                                    <ng-include src="conf.liveChat.template|fixPath"></ng-include>
                                                </li>


                                            </ul>


                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="responsive-header-item-j"
                            ng-hide="conf.header.hideClock">
                            <div class="separator-contain-nav {{conf.header.enableTimeZoneSelect ? 'timezone-v' : 'no-timezone-v'}} {{conf.header.enableTimeZoneSelect && headerVersion2Icons.timezoneIsToggled ? 'active' : ''}}"
                                 hide-on-click state-flag-var="headerVersion2Icons.timezoneIsToggled">
                                <div class="settings-icon-contain clock-set-b"
                                     ng-click="headerVersion2Icons.timezoneIsToggled = !headerVersion2Icons.timezoneIsToggled"
                                     ng-class="{'format-12h': $root.env.timeFormat === $root.env.longTimeFormats.HALF}">
                                    <span class="time-view-w-bc">
                                        <b class="clock-time-v-bc" ng-bind="$root.env.clock"></b>
                                        <b ng-if="env.loginTime" ng-bind="env.loginTime"></b>
                                    </span>
                                </div>
                                <div class="nav-open-view-contain" ng-if="conf.header.enableTimeZoneSelect">
                                    <ul>
                                        <li>
                                            <div class="drop-nav-new-b">
                                                <p>
                                                    <span trans>Change Time zone</span>
                                                </p>
                                                <div class="drop-items-contain-b">
                                                    <ul>
                                                        <li ng-repeat="zone in timezones track by $index" ng-click="setTimezoneSwitcherValue(zone.value)" ng-class="{active: (zone.value == env.selectedTimeZone)}">
                                                            <span>{{zone.name}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="responsive-header-item-j"
                            ng-show="(conf.availableLanguages|count) > 1">
                            <div class="separator-contain-nav {{headerVersion2Icons.languageIsToggled ? 'active' : ''}}"
                                 hide-on-click state-flag-var="headerVersion2Icons.languageIsToggled">
                                <div class="settings-icon-contain leng-b selected-{{env.lang}}" ng-click="headerVersion2Icons.languageIsToggled = !headerVersion2Icons.languageIsToggled">
                                    <span>{{conf.show3LettersLanguageCode? (env.lang | uppercase) : conf.availableLanguages[env.lang].short}}</span>
                                    <i></i>
                                </div>

                                <div class="nav-open-view-contain">
                                    <ul>
                                        <li>
                                            <div class="drop-nav-new-b">
                                                <p>
                                                    <span trans>Change language</span>
                                                </p>
                                                <div class="drop-items-contain-b">
                                                    <ul>
                                                        <li ng-repeat="lang in sortedAvailableLanguages track by lang.code"
                                                            ng-click="selectLanguage(lang.code, true)" ng-class="{'active': lang.code === env.lang}" class="{{lang.code}}"><span>{{ lang.full|translate }}</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="responsive-header-item-j"
                            ng-if="(conf.header.enableSettings.authorized && env.authorized) || (conf.header.enableSettings.notAuthorized && !env.authorized)">
                            <ng-include class="settings-include-contain" src="::'templates/header/version_' + conf.header.version + '/settings.html'|fixPath"
                                        hide-on-click state-flag-var="headerVersion2Icons.settingsIsToggled"></ng-include>
                        </li>
                    </ul>
                    <div class="feedback-button" ng-show="!!conf.liveChat.zopimInFooter" onclick="showZopimChat('br');">
                        <p trans>Live Chat</p>
                    </div>

                    <div class="feedback-button" ng-show="!!conf.liveChat.popupInFooter" onclick="startLiveChat()">
                        <p trans>Live Chat</p>
                    </div>

                    <div class="feedback-button" ng-show="!!conf.liveChat.liveAgentInFooter && (conf.liveChat[env.lang]=== undefined || conf.liveChat[env.lang].liveAgentInFooter)" onclick="startLiveAgent()" >
                        <p>{{(conf.liveChat.liveAgentInFooterLabel || 'Live Chat')|translate}}</p>
                    </div>
                </div>
            </li>
        </ul>
        <input type="checkbox" id="header-collapse" ng-model="$root.headerOpen" ng-init="$root.headerOpen = true">
        <div class="header-small-view-hide" ng-class="{'vertical-nav-closed': $root.conf.customNavMenu && !$root.leftMenuOpen}" ng-init="$root.conf.customNavMenu && ($root.leftMenuOpen = true)">
            <i class="vertical-nav-arrow" ng-show="$root.conf.customNavMenu"   ng-click="$root.leftMenuOpen = !$root.leftMenuOpen;"></i>
            <ul class="responsive-header-mainMenu-j">
                <li class="header-left-small-b-j" ng-controller="cmsPagesCtrl" ng-init="loadBanners(getSlug('bannerSlugs.headerSmallBanner'));" ng-show="bannerObjects[getSlug('bannerSlugs.headerSmallBanner')] && bannerObjects[getSlug('bannerSlugs.headerSmallBanner')][$root.env.authorized]"  >
                    <a ng-repeat="banner in bannerObjects[getSlug('bannerSlugs.headerSmallBanner')][$root.env.authorized]" cms-analytics="banner" ng-href="{{banner.link}}" target="{{banner.linktarget}}">
                        <img ng-src="{{ banner.imageurl }}">
                    </a>
                </li>
                <li ng-style="{'padding' : conf.logo.padding || ('0 ' + (conf.logo.height ? '0' : conf.logo.paddingMenu || logoWidth)  + 'px')}">
                    <ng-include ng-if="!conf.header.hideTopMenu" class="include-menu-header-b" src="::'templates/header/version_2/topMenu.html'|fixPath"></ng-include>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--header END-->
<ng-include class="float-width" ng-show="$root.currentPage.hasSubHeader && $root.currentPage.isInSports && !$root.conf.hideSubHeaderByPath[$location.path()]" no-animate src="::'templates/sport/toptab.html'|fixPath"></ng-include>

<div ng-if="{'/esports/': true, '/virtualsports/': true}[$location.path()] && $root.conf.asian.showUserInfoInSubHeader && $root.profile && $root.env.authorized" class="balance-int-row">
    {{'Account'|translate}} : {{$root.profile.nick_name}} | {{'BBIN balance'|translate}}: {{$root.profile.calculatedBalance|number:$root.conf.balanceFractionSize}} {{$root.profile.currency|currency}}
</div>
<div class="guide header-wrapper" ng-if="subMenuItems && subMenuItems.length > 1">
    <div class="subtop-header-menu-j"  no-animate>
        <ul>
            <li ng-repeat="subMenuItem in subMenuItems track by $index" class="{{subMenuItem.class || ''}}"  ng-class="{'active': subMenuItem.classObject.active}" ng-if="subMenuItem.showCondition">
                <a ng-href="{{subMenuItem.href}}" data-content="{{'new'|translate}}">
                    {{subMenuItem.displayName | translate}}
                    <!--<img src="images/virtual-sport/{{::subMenuItem.displayName.split(' ').join('_').toLowerCase()}}.png"> todo -->
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="feedback-button" ng-if="conf.liveChat.liveChatInFooter" onclick="startLiveChat();">
    <p ng-bind-html="'Live Chat'|translate|html"></p>
</div>
