<!--User name-id-->
<div class="separator-contain-nav user-nav-view-b {{headerVersion2Icons.profileToggled ? 'active' : ''}}"   id="user-settings">
    <div class="settings-icon-contain balance-box" ng-class="{'user-verified': profile.is_verified}"
         ng-click="toggleProfileMenu($event)" ng-mouseover="toggleProfileMenu($event, true)" ng-mouseleave="toggleProfileMenu($event, false)" hide-on-click state-flag-var="headerVersion2Icons.profileToggled">
        <b class="mybets-icon-box-b user-icon-view"></b>
        <i></i>
        <span class="count-info-box-b"
            ng-bind="profile.unread_count"
            ng-show="profile.unread_count"
        ></span>
    </div>

    <div class="nav-open-view-contain" ng-mouseover="toggleProfileMenu($event, true)" ng-mouseleave="toggleProfileMenu($event, false)">
        <ul>
            <li>
                <div class="user-info-box-b">
                    <h3 ng-hide="conf.profileMenuHeaderFullName">{{profile.full_name}}</h3>
                    <h4 ng-show="!env.hideUsername">{{ profile['username'] }}</h4>
                    <h5 class="id-num">
                        <span trans>ID</span>:
                        <span>{{profile.unique_id}}</span>
                        <i class="profile-id-copy" ng-class="{'profile-id-copied':copyIdState}" ng-click="$event.stopPropagation(); !copyIdState && copyIdToClipboard(); " title="{{(copyIdState ? 'Copied successful' :'Copy')|translate}}"></i>
                    </h5>
                    <h6 ng-if="(profile.is_ekeng_verified === undefined && profile.is_verified && $root.conf.enableAccountVerification) || (profile.is_verified && profile.is_ekeng_verified)" class="account-verify">
                        <i class="verified"></i> <span trans>Account Verified</span>
                    </h6>

                </div>
            </li>
            <li>
                <div class="drop-nav-new-b"> <!--closed-->
                    <div class="drop-items-contain-b icon-view-box">
                        <ul>
                            <li ng-click="$location.path('/sport'); $event.stopPropagation()"
                                ng-if="profile.is_ekeng_verified === false"
                                prevent-fast-click="1.5"
                                ng-class="{'active': $root.currentPage.path === '/sport'}"
                            >
                                <i class="not-verified"></i>
                                <span trans>Sports Not Verified</span>
                            </li>
                            <li ng-click="($root.currentPage.path !== '/sport' && $location.path('/sport')); $event.stopPropagation()"
                                ng-if="profile.is_ekeng_verified && !profile.is_verified"
                                prevent-fast-click="1.5"
                                ng-class="{'active': $root.currentPage.path === '/sport'}"
                            >
                                <i class="verified"></i>
                                <span trans>Sports Verified</span>
                            </li>
                            <li ng-click="toggleSliderTab('settings', 'verifyaccount'); headerVersion2Icons.profileToggled = false; $event.stopPropagation()"
                                prevent-fast-click="1.5"
                                ng-if="profile.is_verified === false && $root.conf.enableAccountVerification"
                                ng-class="{'active': env.sliderContent === 'settings' && $root.env.mixedSettingsPage==='verifyaccount'}"
                            >
                                <i class="not-verified"></i>
                                <span ng-bind="(profile.is_ekeng_verified === undefined ? 'Account Not Verified' : 'Casino Not Verified')|translate"></span>
                            </li>
                            <li ng-click="toggleSliderTab('settings', 'verifyaccount'); headerVersion2Icons.profileToggled = false; $event.stopPropagation()"
                                prevent-fast-click="1.5"
                                ng-if="profile.is_verified && profile.is_ekeng_verified === false && $root.conf.enableAccountVerification"
                                ng-class="{'active': env.sliderContent === 'settings' && $root.env.mixedSettingsPage==='verifyaccount'}"
                            >
                                <i class="verified"></i>
                                <span trans>Casino Verified</span>
                            </li>
                            <li ng-click="toggleSliderTab('settings'); headerVersion2Icons.profileToggled = false; $event.stopPropagation()"
                                prevent-fast-click="1.5"
                                ng-class="{'active': env.sliderContent === 'settings'}"
                            >
                                <i class="my-profile-icon-b"></i>
                                <span trans>My Profile</span>
                                <!--                                                     <b>???</b> -->
                            </li>
                            <li ng-if="conf.header.messageIcon.enabled"
                                ng-show="!conf.header.messageIcon.showInTopRow"
                                ng-class="{'active': env.sliderContent === 'messages'}"
                                prevent-fast-click="1.5"
                                ng-click="toggleSliderTab('messages'); headerVersion2Icons.profileToggled = false; $event.stopPropagation()"
                            >
                                <i class="messages-icon-b"></i>
                                <span trans>Messages</span>
                                <b ng-bind="profile.unread_count" ng-show="profile.unread_count"></b>
                            </li>
                            <li ng-show="conf.enableBonuses"
                                ng-click="toggleSliderTab('promotionalBonuses'); headerVersion2Icons.profileToggled = false; $event.stopPropagation()"
                                prevent-fast-click="1.5"
                                ng-class="{'active': env.sliderContent === 'bonuses'}"
                            >
                                <i class="bonuses-icon-b"></i>
                                <span trans>Bonuses</span>
                                <b ng-if="calculatedConfigs.sportEnabled"
                                    ng-show="!env.hideBalance && profile.bonus_balance"
                                >
                                    {{profile.calculatedBonus}} {{profile.currency_name|currency}}
                                </b>
                            </li>
                            <li ng-show="conf.promotionalBonuses.enable && ($root.profile.is_bonus_allowed !== false) && (!conf.hideBonusSectionIfNoBonus || (conf.hideBonusSectionIfNoBonus && $root.allBonusesCount.sportsbook + $root.allBonusesCount.casino + $root.allBonusesCount.freeSpins  > 0))"
                                ng-click="toggleSliderTab('promotionalBonuses'); headerVersion2Icons.profileToggled = false; $event.stopPropagation()"
                                prevent-fast-click="1.5"
                                ng-class="{'active': env.sliderContent === 'promotionalBonuses'}"
                            >
                                <i class="bonuses-icon-b"></i>
                                <span trans>Promotional Bonuses</span>
                            </li>
                            <li ng-hide="env.hideLogOut" ng-click="logOut(); headerVersion2Icons.profileToggled = false; $event.stopPropagation()">
                                <i class="logout-icon-b"></i>
                                <span trans>Log Out</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
<!--User name-id END-->
