<div ng-controller="cmsPagesCtrl" ng-init="loadBanners('homepage-small-banners-'+env.lang,true);" class="product-list-contain no-select-j">
    <vbet-loader ng-show="!bannerObjects['homepage-small-banners-'+env.lang]"></vbet-loader>
    <ul class="column-{{ bannerObjects['homepage-small-banners-'+env.lang].length }}" ng-show="bannerObjects['homepage-small-banners-'+env.lang]">
        <li ng-repeat="banner in bannerObjects['homepage-small-banners-'+env.lang] track by $index">
            <div class="homepage-small-banners-j">
                <a ng-href="{{banner.link}}" target="{{banner.linktarget}}">
                    <img src="{{banner.image}}" ng-show="banner.image">
                    <h2 ng-bind-html="banner.title|html"></h2>
                    <p ng-bind-html="banner.content|html"></p>
                    <button ng-show="banner.link">{{(banner.custom_fields.button_label[0]||'Join Now')|translate}}</button>
                </a>
            </div>
        </li>
    </ul>
</div>