<div class="element-monitor">
    <ul class="field-switcher">
        <li ng-show="!isVideoDetached && game.video_id" ng-class="{'selected': game.activeFieldType==='video' && !playerRemoved}"><a ng-click="game.activeFieldType='video'; playerRemoved = false;" class="monitor-link">monitor</a></li>
        <li ng-show="game.has_animation" ng-class ="{'selected': game.activeFieldType==='field' || playerRemoved }"><a class="playing-field" ng-click="game.activeFieldType='field'">playing field</a></li>
    </ul>
</div>
<div ng-if="game.activeFieldType==='video' && !isVideoDetached && !playerRemoved" class="game-video">
    <!--<div ng-show="(!game.video_data || !videoIsLoaded) && env.authorized" class="video-notloaded-yet" trans>Video not available yet</div>-->

    <div class="game-video-container">
        <p ng-if="!env.authorized && !$root.conf.integrationMode && !game.is_guest" trans ng-click="openLoginForm($event)" class="login-link">You need to be logged in to be able to play video.</p>
        <p ng-if="!env.authorized && $root.conf.integrationMode && !game.is_guest" trans class="login-link">You need to be logged in to be able to play video.</p>
        <p ng-if="!game.is_guest && env.authorized && $root.profile.totalBalance === 0 && !game.allow_zero_balance" trans ng-click="!$root.conf.disableDepositPage && broadcast('toggleSliderTab', 'deposit');$event.stopPropagation();">You need to have non-zero balance to be able to play video.</p>
        <i ng-if="!$root.conf.video.autoPlay && game.video_data === undefined && (game.is_guest || (env.authorized && $root.profile.totalBalance !== 0 || game.allow_zero_balance))" class="video-play-button" ng-click="broadcast('game.restoreVideo', game.id)"></i>
        <div ng-if="game.video_data && (game.is_guest || (env.authorized && $root.profile.totalBalance > 0 || game.allow_zero_balance))" class="video-player-container" ng-init="soundVolume = env.sound">

            <div class="video-player-control" ng-show="videoIsLoaded">
                <span ng-click="togglePause();" ng-show="!paused" class="video-pause"></span>
                <span ng-click="togglePause();" ng-show="paused" class="video-play"></span>
            </div>
            <div class="video-player-control sounds" ng-show="videoIsLoaded">
                <span ng-click="env.sound = 0;" ng-show="env.sound > 0" class="video-mute"></span>
                <span ng-click="env.sound = 0.75;" ng-show="env.sound === 0" class="video-unmute"></span>
                <div class="sound-volume">
                    <div>
                        <rzslider rz-slider-model="env.sound" rz-slider-floor="0" rz-slider-ceil="1" rz-slider-step="0.01" rz-slider-precision="1" rz-slider-always-show-bar="true"></rzslider>
                    </div>
                </div>
            </div>
            <hls-player ng-if="$root.conf.video.providersThatSupportHls[game.tv_type]" provider-id="{{game.tv_type}}" stream-url="{{game.video_data}}"></hls-player>
            <flashplayer ng-if="!$root.conf.video.providersThatSupportHls[game.tv_type]" id="gamevideo{{game.id}}" stream-url="{{game.video_data}}" provider-id="{{game.tv_type}}" initially-muted="{{ soundVolume }}"></flashplayer>
        </div>
    </div>
    <div class="fav-monitor" ng-show="game.activeFieldType==='video' && game.video_data">
        <a ng-click="game.activeFieldType='field'; detachVideo();"><span class="detach-btn" trans>Detach</span></a>
    </div>
</div>
