<div ng-controller="freeBetCtrl" ng-init="loadVictorinas(); setTitle('Free Bet')" ng-if="calculatedConfigs.freeBetEnabled ||isIframe">
    <div class="guide">
        <div class="free-bet-container">
            <vbet-loader class="centered-j" ng-if="loading"></vbet-loader>
            <ul ng-hide="loading">
                <li>
                    <h4 trans ng-show="victorinas === null">No data</h4>
                    <form class="float-width" ng-hide="victorinas === null">
                        <div ng-repeat="(victorinaId, competition) in victorinas" class="float-width">
                            <div class="free-bet-header">
                                <h1 trans ng-show="$first">Free Bet</h1>
                                <h2>#{{victorinaId}}</h2>
                            </div>
                            <div class="free-bet-game">
                                <div class="free-bet-game-heading">
                                    <h3>{{competition.length}} <span trans>events</span></h3>
                                    <ul ng-show="victorinas && competition.length && !competition[0].have_bet">
                                        <li>
                                            <button class="random-choice" ng-click="randomChoice(victorinaId, $index)" trans>Random Choice</button>
                                        </li>
                                        <li ng-show="(victorinas[victorinaId][0].events['p1'].k && victorinas[victorinaId][0].events['p1'].k  !== 'W1') || (victorinas[victorinaId].events['p2'].k && victorinas[victorinaId].events['p2'].k !== 'W2')">
                                            <button class="favourite-choice" ng-click="favouriteChoice(victorinaId, $index)" trans>Favourite Choice</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="free-bet-table">
                                    <table>
                                        <tr>
                                            <th colspan="3"></th>
                                            <th trans>W1</th>
                                            <th>X</th>
                                            <th trans>W2</th>
                                        </tr>
                                        <tr>
                                            <td colspan="6">
                                                <hr>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="game in competition|orderBy:'order' track by game.id" ng-class="{'complete': complete[victorinaId]}" ng-show="game.events.p1 || game.events.p2 || game.events.x || game.game_name">
                                            <td class="date-cell">{{game.game_start_date|formatDate:'full':null:$root.env.timeFormat}}</td>
                                            <td class="game-comp-cell">{{game.competition_name}}</td>
                                            <td class="game-comp-cell">{{game.game_name}}</td>
                                            <td class="events-cell {{game.events.p1.status}}" title="{{statuses[game.events.p1.status]}}" ng-class="{'selected': game.events.p1 && (victorinaModel[victorinaId][game.id] == game.events.p1.event_id), 'pointer-events-none': !game.events.p1}">
                                                <label ng-show="game.events.p1">
                                                    <input name="{{victorinaId + '-' + game.id }}" type="radio" value="{{game.events.p1.event_id}}" ng-model="victorinaModel[victorinaId][game.id]" ng-disabled="game.events.p1.status == 'Waiting'"/>
                                                    <span>{{game.events.p1.k|oddConvert:env.oddFormat:null:'WINNER'}}</span>
                                                </label>
                                                <i class="status-icon"></i>
                                            </td>
                                            <td class="events-cell {{game.events.x.status}}"  title="{{statuses[game.events.p1.status]}}" ng-class="{'selected': game.events.x && (victorinaModel[victorinaId][game.id] == game.events.x.event_id), 'pointer-events-none': !game.events.x}">
                                                <label ng-show="game.events.x">
                                                    <input name="{{victorinaId + '-' + game.id }}" type="radio" value="{{game.events.x.event_id}}"   ng-model="victorinaModel[victorinaId][game.id]" ng-disabled="game.events.x.status == 'Waiting'"/>
                                                    <span>{{game.events.x.k|oddConvert:env.oddFormat:null:'WINNER'}}</span>
                                                </label>
                                                <i class="status-icon"></i>
                                            </td>
                                            <td class="events-cell {{game.events.p2.status}}" title="{{statuses[game.events.p1.status]}}" ng-class="{'selected': game.events.p2 && (victorinaModel[victorinaId][game.id] == game.events.p2.event_id), 'pointer-events-none': !game.events.p2}">
                                                <label ng-show="game.events.p2">
                                                    <input name="{{victorinaId + '-' + game.id }}" type="radio" value="{{game.events.p2.event_id}}" ng-model="victorinaModel[victorinaId][game.id]" ng-disabled="game.events.p2.status == 'Waiting'"/>
                                                    <span>{{game.events.p2.k|oddConvert:env.oddFormat:null:'WINNER'}}</span>
                                                </label>
                                                <i class="status-icon"></i>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="free-bet-game-footer" ng-show="victorinas && competition.length && !competition[0].have_bet">
                                    <button ng-click="doFreeBet(victorinaId, $event, $index)" trans ng-disabled="!complete[victorinaId]" trans>Place bets!</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
                <li>
                    <div class="free-bet-calendar-switcher" ng-if="env.authorized" ng-show="!$root.conf.main.freeBet.disableDaysFilter" ng-init="creatDays()">
                        <select ng-model="filter.day" ng-change="changeDay()" ng-options="dayObj.offset as dayObj.text for dayObj in days|orderBy:'offset':true"></select>
                    </div>
                    <div class="free-bet-rules">
                        <h6 trans>Rules</h6>
                        <p trans>freebet_info</p>
                    </div>
                    <div class="right-banner-container" ng-if="conf.enableBannerUnderBetslip" ng-controller="cmsSportNewsCtrl" ng-include="::'templates/sport/classic/banners.html'|fixPath"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
