<!--asian view-->
<div class="gaming-wrapper-asia" ng-controller="asianViewMainController as asianCtrl" id="asianView">
    <div class="asian-contain">
        <!--left-menu-->
        <div class="fixed-element-parent asian-left-menu-fixed">
            <div class="asian-left-menu-scroll-wrapper"  fixonscroll auto-positon="true" scrollable-area-id="asianView" header-id="main-header-container">
                <div class="asian-left-contain-menu" ng-class="'type-' + selectedMenuType.active">
                    <ng-include class="include-viewSwitcher-j" src="::'templates/sport/viewswitcher.html'|fixPath"></ng-include>
                    <pre-match-stream-channels channels="prematchChannels" availability="$root.profile.balance > 0" ng-if="!$root.env.live" env="$root.env"></pre-match-stream-channels>

                    <!--video and animation-->
                    <div class="animation-video-box-v3" ng-class="{'active': hideVideoAndAnimationBox}"
                         ng-if="openGame.type === 1 && (((openGame.video_id || openGame.video_data) && $root.conf.videoEnabled && !pinnedGames[openGame.id] && !enlargedGame) || openGame.has_animation)">
                        <div class="animation-video-contain-v3" ng-if="openGame.type===1">
                            <div class="animation-video-title-row-v3">
                                <div class="anime-video-switcher-v3">
                                    <ul>
                                        <li class="video-view-icon-v3" ng-click="openGame.activeFieldType='video'; playerRemoved = false;"
                                            ng-show="$root.conf.videoEnabled && (openGame.video_id || openGame.video_data) && !pinnedGames[openGame.id] && (!enlargedGame || openGame.id !== enlargedGame.id)"
                                            ng-class="{'active': openGame.activeFieldType==='video' && !playerRemoved}">
                                        </li>
                                        <li class="animation-view-icon-v3" ng-show="openGame.has_animation" ng-click="openGame.activeFieldType='field'"
                                            ng-class="{'active': openGame.activeFieldType==='field' || playerRemoved || pinnedGames[openGame.id]}">
                                        </li>
                                    </ul>
                                </div>
                                <div class="contain-v-a-fanction-icons-v3">
                                    <ul>
                                        <li class="arrow-closed-anime-b-v3" ng-click="toggleVideoAndAnimationBox()" ng-class="{'active': hideVideoAndAnimationBox}"></li>
                                        <li class="pin-icon-video-v3" ng-class="{'disabled': !openGame.is_guest && !env.authorized}" ng-show="openGame.video_data && openGame.activeFieldType == 'video' && openGame.tv_type !== $root.conf.defaultStreaming.tvType && !pinnedGames[openGame.id]" ng-click="openGame.activeFieldType='field'; detachVideo('dragable');"></li>
                                        <li class="resize-icon-full-video-v3" ng-show="openGame.video_data && openGame.activeFieldType == 'video'" ng-class="{'active': (openGame.is_guest || env.authorized) && openGame.activeFieldType == 'video' && !$root.conf.detachedVideoSizes[openGame.tv_type],'disabled': (!env.authorized && !openGame.is_guest) || openGame.activeFieldType !== 'video' || $root.conf.detachedVideoSizes[openGame.tv_type]}" ng-click="openGame.activeFieldType='field'; detachVideo('fullScreen');"></li>
                                        <li class="sound-icon-v3 " ng-click="env.sound = 0;" ng-show="(openGame.activeFieldType === 'field' || $root.conf.video.providersThatSupportHls[openGame.tv_type]) && env.sound > 0" title="Sound" trans="attr-only"></li>
                                        <li class="sound-icon-v3 active" ng-click="env.sound = 0.75;" ng-show="(openGame.activeFieldType === 'field' || $root.conf.video.providersThatSupportHls[openGame.tv_type]) && env.sound === 0" title="Sound" trans="attr-only"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="video-animation-vox-v3 animation-control">
                                <video-player ng-if="!$root.conf.video.providersThatSupportHls[openGame.tv_type] && openGame.activeFieldType === 'video' && !hideVideoAndAnimationBox && $root.conf.videoEnabled && !enlargedGame && !pinnedGames[openGame.id]"
                                              class="game-video"
                                              ng-class="{'animation-start': !$root.conf.videoProvidersThatWorkWithIframe[openGame.tv_type] && !videoState.videoIsLoaded && openGame.video_data, 'animation-end': videoState.videoIsLoaded}"
                                              player-id="gamevideo{{openGame.id}}"
                                              stream-url="{{openGame.video_data}}"
                                              provider-id="{{openGame.tv_type}}"
                                              initially-muted="{{ env.sound }}">
                                </video-player>
                                <hls-player
                                        ng-if="$root.conf.video.providersThatSupportHls[openGame.tv_type] && openGame.video_data && openGame.activeFieldType === 'video' && !hideVideoAndAnimationBox && !enlargedGame && !pinnedGames[openGame.id]"
                                        provider-id="{{openGame.tv_type}}"
                                        stream-url="{{openGame.video_data}}">
                                </hls-player>
                                <!--<include-template template-path="templates/sport/classic/video.html" ng-if="openGame.activeFieldType === 'video' && !hideVideoAndAnimationBox && $root.conf.videoEnabled && !enlargedGame && !pinnedGames[openGame.id]" class="game-video"></include-template>-->
                                <include-template template-path="templates/sport/classic/animations.html"></include-template>
                            </div>
                        </div>
                    </div>
                    <!--video and animation END-->
                    <!--betslip-->
                    <div ng-if="::!$root.conf.disableBetSlip" class="right-block-list" ng-class="{'betslip-open':betslipOpen}">
                        <div class="betslip-toggle" ng-click="betslipOpen=!betslipOpen" ng-class="{'betslip-button-open':betslipOpen }"><p>BetSlip</p><span class="betslip-bets-count" ng-bind="$root.betSlipBetsCount"></span></div>
                        <div class="list-bet-block" ng-if="$location.path() !== '/poolbetting/'" ng-include="::'templates/sport/betslip.html'|fixPath"></div>
                    </div>
                    <!--betslip END-->
                    <!--Menu tabs-->
                    <div class="menu-tabs-b">
                        <ul>
                            <li ng-click="setMenuType(value)"
                                ng-class="{'active': selectedMenuType.active === value, 'boosted-bets': value === 3}"
                                ng-repeat="(key, value) in LEFT_MENU">
                                <p>{{key|translate}} {{value === 1 && liveGamesCount ? ' (' + liveGamesCount + ')' : ''}}</p>
                            </li>
                        </ul>
                    </div>

                    <div class="right-banner-container" ng-if="$root.conf.enableBannersInAsianView" ng-controller="cmsSportNewsCtrl" ng-include="::'templates/sport/classic/banners.html'|fixPath"></div>

                    <!--Menu tabs-->
                    <!--Favorite games-->
                    <div class="asian-left-nav">
                        <vbet-loader ng-show="leftMenuIsLoading"></vbet-loader>
                        <div ng-if="!leftMenuIsLoading" class="asian-left-menu">
                            <ul>
                                <div class="p-n-v" ng-if="$root.conf.showFavoriteCompetitions && selectedMenuType.active === LEFT_MENU.FUTURE">
                                    <popular-in-sportsbook class="float-width" start-date={{dayFilter[1].from}} title="{{'Popular competitions'|translate}}" type="competition" search-field="popularCompetition"></popular-in-sportsbook>
                                </div>
                                <div class="p-n-v" ng-if="$root.conf.showFavoriteCompetitions && selectedMenuType.active === LEFT_MENU.TODAY">
                                    <popular-in-sportsbook class="float-width" start-date={{dayFilter[0].from}} end-date={{dayFilter[0].to}} title="{{'Popular competitions'|translate}}" type="competition" search-field="popularCompetition"></popular-in-sportsbook>
                                </div>
                                <div class="p-n-v" ng-if="$root.conf.showFavoriteCompetitions && selectedMenuType.active === LEFT_MENU.LIVE">
                                    <popular-in-sportsbook class="float-width" game-type="1" title="{{'Popular competitions'|translate}}" type="competition" search-field="popularCompetition"></popular-in-sportsbook>
                                </div>
                                <div ng-repeat="group in sportsGroup track by group.id" ng-show="group" ng-class="{'asian-menu-group-wrap-j' : group.hasHeader}">
                                    <li ng-click="leftMenuState[selectedMenuType.active][group.id] = !leftMenuState[selectedMenuType.active][group.id]" ng-show="group.hasHeader" ng-class="{'active': leftMenuState[selectedMenuType.active][group.id]}">
                                        <div class="icon-sport-asia sport-group-{{group.alias}}" ng-class="group.alias"></div> <!--this is temp solution, later replace ng-class group.name with group.alias -->
                                        <p class="sport-name-asia">{{group.name}}
                                            <span class="sport-market-counts">{{group.count}}</span>
                                        </p>
                                        <div class="menu-arrow-asia"></div>
                                    </li>
                                    <div>
                                        <li ng-repeat="sport in group.sports track by sport.id" ng-class="{'active': sport.id === selectedSport.id && !selectedSport.closedTab}"  class="{{$root.conf.classForSport[sport.id] || ''}}">
                                            <div ng-click="clearPage();openSport(sport, {key: 'HDP'})">
                                                <div class="icon-sport-asia" ng-class="sport.alias"></div>
                                                <p class="sport-name-asia">{{sport.name}}
                                                    <span class="sport-market-counts">{{sport.game}}</span>
                                                </p>
                                                <div class="menu-arrow-asia" ng-show="selectedMenuType.active != 1"></div>
                                            </div>
                                            <div class="sport-markets-menu" ng-if="selectedMenuType.active != 1 && !selectedSport.closedTab">
                                                <ul>
                                                    <li ng-if="sport.alias === 'Soccer'"  ng-show="marketGameCounts[sport.alias][marketType.key] > 0" ng-class="{'active pointer-events-none': marketType.key === selectedMarket.key && !isSelectedFavorites && !selectedPopularCompetition}"
                                                        ng-repeat="marketType in asianMarkets.Soccer track by $index"
                                                        ng-click="clearPage();openMarket(marketType, sport)">
                                                        <p class="market-neme-asia">{{marketType.name|translate}}<span class="sport-market-counts" ng-bind="marketGameCounts[sport.alias][marketType.key]"></span></p>
                                                    </li>
                                                    <li ng-if="sport.alias !== 'Soccer'"  ng-show="marketGameCounts[sport.alias][marketType.key] > 0" ng-class="{'active pointer-events-none': marketType.key === selectedMarket.key && !isSelectedFavorites && !selectedPopularCompetition}"
                                                        ng-repeat="marketType in asianMarkets.OTHER track by $index"
                                                        ng-click="openMarket(marketType, sport)">
                                                        <p class="market-neme-asia">{{marketType.name|translate}}<span class="sport-market-counts" ng-bind="marketGameCounts[sport.alias][marketType.key]"></span></p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div ng-show="!env.live && sportsGroup.length === 0 && !leftMenuIsLoading" trans>No event is available at the moment.</div>
                    </div>
                </div>
            </div>
        </div>
        <!--left-menu END-->
        <!-- System Calculator-->
        <div id="system-claculator-container" ng-show="$root.showSystemCalculator" draggable allow-other-mouse-events drag-from="calculator-draggable-header">
            <div ng-if="$root.showSystemCalculator" ng-include="::'templates/sport/classic/systemCalculator.html'|fixPath"></div>
        </div>
        <!-- System Calculator-->
        <!--Game-wrapper-->
        <div class="game-contain" ng-class="'type-' + selectedMenuType.active">

            <!--filter-->
            <div class="big-filter-wrapper" ng-class="{'big-filter-only': isSelectedFavorites && !showInSportsbookBanners}">
                <div ng-if="$root.conf.availableAsianViewThemes.length > 1" class="selectSportsbookColor-j" ng-class="{active: themeSelector.show}">
                    <p ng-click="themeSelector.show = !themeSelector.show"></p>
                    <div>
                        <div ng-repeat="theme in $root.conf.availableAsianViewThemes track by $index" ng-class="{active: themeSelector.name == theme.name}" ng-click="loadTheme(theme)" class="{{theme.displayName || theme.name}}"></div>
                    </div>
                </div>
                <div ng-if="$root.conf.asian.countdown.enabled" class="refresh-asian-view">
                    <button ng-class="{'loading-proccess' : countDown.remaining === 0}" ng-click="resetCountDown()" ng-bind="countDown.remaining || ''"></button>
                </div>
                <ul>
                    <li ng-class="{active: orderingMenuOpened}" hide-on-click state-flag-var="orderingMenuOpened" ng-show="!openGame">
                        <div class="contein-mini-filtr time" ng-class="{'active': orderedByTime}">
                            <div class="filter-icon" ng-click="changeSortOrder()" ng-class="{asc: sortAscending, desc: !sortAscending}"></div>
                            <p class="name-filter-b" ng-click="orderingMenuOpened = !orderingMenuOpened" ng-show="orderedByTime" trans>Order by Time</p>
                            <p class="name-filter-b"  ng-click="orderingMenuOpened = !orderingMenuOpened" ng-show="!orderedByTime" trans>Order by Competition</p>
                            <div class="menu-arrow-asia"></div>
                            <div class="sub-menu-filter">
                                <ul>
                                    <li ng-class="{'active': orderedByTime}" ng-click="orderedByTime = true; orderByTime(); selectPage(0); orderingMenuOpened = false;">
                                        <p trans>Order by Time</p>
                                    </li>
                                    <li ng-class="{'active': !orderedByTime}" ng-show="!selectedPopularCompetition" ng-click="orderedByTime = false; orderByTime(); selectPage(0); orderingMenuOpened = false;">
                                        <p trans>Order by Competition</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li ng-show="openGame" ng-click="goBackFromOpenGame(true); resetCountDown(true);">
                        <div class="contein-mini-filtr">
                            <div class="filter-icon back"></div>
                            <p trans>Back</p>
                        </div>
                    </li>
                    <li ng-click="dateFilterOpened = !dateFilterOpened" ng-class="{'active': dateFilterOpened, 'disabled-opacity': selectedPopularCompetition}" ng-show="selectedMenuType.active == 0 && activeGameId == null && !isSelectedFavorites" hide-on-click state-flag-var="dateFilterOpened" ng-class="{'disabled-opacity': selectedPopularCompetition}">
                        <div class="contein-mini-filtr date">
                            <div class="filter-icon"></div>
                            <p class="name-filter-b"><span trans>Date Filter</span>: {{ filterName}} ({{filterCount}})</p>
                            <div class="menu-arrow-asia"></div>
                            <div class="sub-menu-filter">
                                <ul>
                                    <li ng-show="dateFilterGameCount[$index].game > 0" ng-repeat="day in dayFilter track by $index">
                                        <input name="" ng-model="filters.selectedDays[day.id]" type="checkbox" value="" id="checkbox-lc-day-{{day.id}}" ng-disabled="dateFilterDaysCount <= 1" ng-change="toggleDay()" >
                                        <label for="checkbox-lc-day-{{day.id}}">{{day.from|formatDate:'ddd D':null:$root.env.timeFormat}} ({{dateFilterGameCount[$index].game}})</label>
                                    </li>
                                    <li ng-show="dateFilterGameCount[7].game > 0">
                                        <input name="" ng-model="filters.allDays.selected" type="checkbox" value="" id="checkbox-lc-day-all" ng-disabled="dateFilterDaysCount <= 1" ng-change="toggleAllDays()" >
                                        <label for="checkbox-lc-day-all">{{filters.allDays.name | translate}} ({{dateFilterGameCount[7].game}})</label>
                                    </li>
                                    <li ng-show="dateFilterGameCount.length > 0 || dateFilterGameCount[7].game > 0">
                                        <button ng-click="dateFilterConfirm()" ng-disabled="filterCount <= 0" trans>OK
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li ng-click="allowFiltering(true); showCompetitionsSelector=true" hide-on-click state-flag-var="showCompetitionsSelector" ng-show="!openGame && !isSelectedFavorites" ng-class="{'disabled-opacity': selectedPopularCompetition}">
                        <div class="contein-mini-filtr competition">
                            <div class="filter-icon"></div>
                            <p class="name-filter-b" trans>Select competition</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="asian-banner" ng-if="$root.conf.showInSportsbookBanners">
                <div class="asian-banner-blocks" ng-show="bannersState.show" ng-include="::'templates/sport/asian/sportsbook-banner.html'| fixPath"></div>
                <div class="asian-banner-swicher">
                    <button data-content="{{(bannersState.show? 'OFF': 'ON')|translate}}" ng-click="toggleBanners()"></button>
                </div>
            </div>
            <!--filter END-->
            <div ng-if="selectedMarket.key !== 'FULLGAME'" ng-show="!marketGamesAreLoading" class="viewSwitcher-j no-select-j ng-scope select-pagination">
                <p>
                    <i class="icon-favorite" ng-class="{'active': myGames.length}"></i>
                    <span ng-click="showFavouriteGames()" trans>Favorites</span>
                    <b ng-if="leftMenuFavorites.length">{{myGames.length}}</b>
                    <i class="favorite-icon-clear" ng-if="isSelectedFavorites && favoriteFilter === -1" ng-click="removeAllFavorites()"></i>
                </p>
                <div ng-if="isSelectedFavorites" class="show-all-options-f" ng-click="filterByType($event)">
                    <button data-type="0" ng-class="{'active': favoriteFilter === 0}" trans>Future</button>
                    <button data-type="1" ng-class="{'active': favoriteFilter === 1}" trans>Live</button>
                    <button data-type="-1" ng-class="{'active': favoriteFilter === -1}" trans>All</button>
                </div>
                <span ng-if="!isSelectedFavorites && !selectedPopularCompetition" trans>Select page:</span>
                <ul ng-if="!isSelectedFavorites && !selectedPopularCompetition">
                    <li state-flag-var="showPageination" ng-click="showPageination = !showPageination" ng-class="{'active': showPageination}" hide-on-click="">
                        <p>
                            {{selectedPage + 1}}
                        </p>
                        <ul>
                            <li  ng-repeat="page in pages"  ng-click="selectPage($index);resetCountDown()" ng-class="{'active': selectedPage === $index}">
                                <span ng-bind="$index + 1"></span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <vbet-loader ng-show="marketGamesAreLoading"></vbet-loader>

            <div ng-if="!marketGamesAreLoading && (centerData.competitions.length || selectedMarket.key === 'FULLGAME')" ng-init="fixSportTabScroll();"></div>
            <div class="asian-separator-container-b" ng-switch=":selectedMarket-change:selectedMarket.key" ng-show="!marketGamesAreLoading && (centerData.competitions.length || selectedMarket.key === 'FULLGAME')">
                <!-- first goal last goal-->
                <div class="asian-separator-container-b" ng-switch-when="FLG">
                    <ng-include class="asian-separator-container-b" src="::'templates/sport/asian/market/flg.html'|fixPath"></ng-include>
                </div>
                <!-- first goal last goal-->
                <!--Outright-->
                <div class="asian-separator-container-b" ng-switch-when="OUR">
                    <ng-include class="asian-separator-container-b" src="::'templates/sport/asian/market/our.html'|fixPath"></ng-include>
                </div>
                <!--Outright END-->
                <!--match odds 1X2-->
                <div class="asian-separator-container-b" ng-switch-when="MODDS" >
                    <ng-include class="asian-separator-container-b" src="::'templates/sport/asian/market/modds.html'|fixPath"></ng-include>
                </div>
                <!--match odds 1X2-->
                <!--HT FT -->
                <div class="asian-separator-container-b" ng-switch-when="HTFT">
                    <ng-include class="asian-separator-container-b" src="::'templates/sport/asian/market/htft.html'|fixPath"></ng-include>
                </div>
                <!--HT FT END-->
                <!-- HDP & OU -->
                <div class="asian-separator-container-b" ng-switch-when="HDP">
                    <ng-include class="asian-separator-container-b" src="::'templates/sport/asian/market/hdp.html'|fixPath"></ng-include>
                </div>
                <!-- HDP & OU END-->
                <!-- Ft & HT Odd/Even-->
                <div class="asian-separator-container-b" ng-switch-when="FHTOE">
                    <ng-include class="asian-separator-container-b" src="::'templates/sport/asian/market/fhtoe.html'|fixPath"></ng-include>
                </div>
                <!-- Ft & HT Odd/Even-->
                <!--FT & HT Correct Score-->
                <div class="asian-separator-container-b" ng-switch-when="FHTCS">
                    <ng-include class="asian-separator-container-b" src="::'templates/sport/asian/market/fhtcs.html'|fixPath"></ng-include>
                </div>
                <!--FT & HT Correct Score END-->
                <!-- FT & HT Double Chance -->
                <div class="asian-separator-container-b" ng-switch-when="FTDC">
                    <ng-include class="asian-separator-container-b" src="::'templates/sport/asian/market/ftdc.html'|fixPath"></ng-include>
                </div>
                <!-- FT & HT Double Chance END -->
                <!-- FT & HT Total Goal -->
                <div class="asian-separator-container-b" ng-switch-when="FHTG">
                    <ng-include class="asian-separator-container-b" src="::'templates/sport/asian/market/fhtg.html'|fixPath"></ng-include>
                </div>
                <!--FT & HT Total Goal END -->
                 <div class="asian-separator-container-b fullgame-j" ng-switch-when="FULLGAME">
                    <ng-include class="asian-separator-container-b" src="::'templates/sport/asian/fullgame.html'|fixPath"></ng-include>
                </div>
            </div>

            <div ng-show="marketGamesAreLoading !== undefined && !dayFilter && !marketGamesAreLoading && !filterLoading && !leftMenuIsLoading && centerData.competitions.length === 0" trans>Currently no event is available in the selected section</div>

            <div ng-if="pages.length > 1 && selectedMarket.key !== 'FULLGAME' && !isSelectedFavorites && !selectedPopularCompetition" ng-show="!marketGamesAreLoading" class="viewSwitcher-j no-select-j ng-scope select-pagination">
                <span trans>Select page:</span>
                <ul>
                    <li state-flag-var="showPageination" ng-click="showPageination = !showPageination" ng-class="{'active': showPageination}" hide-on-click="">
                        <p>
                            {{selectedPage + 1}}
                        </p>
                        <ul>
                            <li  ng-repeat="page in pages"  ng-click="selectPage($index);resetCountDown()" ng-class="{'active': selectedPage === $index}">
                                <span ng-bind="$index + 1"></span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!--filter popup-->
            <div class="popup-wrapper-asian" ng-show="showCompetitionsSelector">
                <div class="contain-poput-asia">
                    <div class="block-position-b">
                            <div ng-click="$event.stopPropagation();" style="cursor: initial;" class="popup-asian-info">
                                <div class="popup-title-b">
                                    <div class="name-filter-asian">
                                        <div class="filter-icon"></div>
                                        <h3 trans>Select competition</h3>
                                    </div>
                                    <div class="filter-function-b">
                                        <ul>
                                            <li>
                                                <input class="competition-search-input" name="" type="text" ng-model="competitionsQuery" placeholder="Search" trans>
                                            </li>
                                            <li>
                                                <input name="" type="checkbox" value="" id="checkbox-00" ng-model="selectedAll" ng-change="checkAll(true)">
                                                <label for="checkbox-00" trans>Check all</label>
                                            </li>
                                            <li>
                                                <button ng-click="cancelCompetitionsSelector()" trans>Cancel</button>
                                            </li>
                                            <li>
                                                <button ng-click="saveFilterData(); updateCompetitionsFilter();" ng-disabled="!enableFiltering" trans>OK</button>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="all-filter-competitions">
                                    <ul>
                                        <li ng-repeat="competition in (competitionsFilter |filter:{searchName: competitionsQuery}) | orderBy: 'regionName' track by competition.id">
                                            <input type="checkbox" ng-model="$parent.selectedCompetitionsModel[competition.id]" ng-change="allCompatitionsCheck($parent.selectedCompetitionsModel[competition.id])" id="comp{{::competition.id}}">
                                            <label for="comp{{::competition.id}}" ng-bind="competition.searchName"></label>
                                        </li>
                                     </ul>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <!--filter popup END-->
        </div>
        <ng-include ng-if="$root.conf.videoEnabled && pinnedGameType === 'dragable'" src="::'templates/sport/classic/av-pinned.html'|fixPath" style="position: fixed; z-index: 999999999;"></ng-include>
        <div ng-if="$root.conf.asian.countdown.enabled" class="asian-fix-buttons">
            <button class="asian-button-refresh-view loading-proccess" ng-class="{'loading-proccess' : countDown.remaining === 0}" ng-click="resetCountDown()" ng-bind="countDown.remaining || ''"></button>
            <button class="asian-button-to-top" ng-click="$root.broadcast('scrollTo', 'header'); $event.stopPropagation();" ng-bind="'back to top'|translate"></button>
        </div>
        <!--Game-wrapper END-->
    </div>
</div>
<!--asian view END-->
