<div class="guide">
    <table class="container404">
        <tr>
            <td>
                <div class="logo-form-b">
                    <img ng-src="{{$root.conf.logo.secondImage ? $root.conf.logo.secondImage : 'skins/' + $root.conf.skin + '/images/logo.png'}}"/>
                </div>
                <h1 trans>oops... you've got lost</h1>
                <h3 trans>We are sorry. The page you requested has either been moved or removed from the site.</h3>
                <a href="#/" trans>Home page</a>
                <button onclick="window.history.back()" trans>Go back</button>
            </td>
        </tr>
    </table>
</div>