<div ng-controller="skinningCtrl" class="guide">
    <div class="skinning-page">
        <h1>Skinning colors</h1>
        <section class="main-skin-color">
            <h3>Skin color</h3>
            <ul>
                <li ng-click="copyToClipboard($event)" class="skin-color"><div data-number="24"></div></li>
            </ul>
        </section>
        <section>
            <h3>For Adnroid and iOS</h3>
            <ul>
                <li ng-click="copyToClipboard($event)" class="skin-palette-12"><div data-number="10"></div></li>
                <li ng-click="copyToClipboard($event)" class="skin-palette-11"><div data-number="11"></div></li>
                <li ng-click="copyToClipboard($event)" class="skin-palette-8"><div data-number="12"></div></li>
                <li ng-click="copyToClipboard($event)" class="skin-palette-7"><div data-number="13"></div></li>
                <li ng-click="copyToClipboard($event)" class="skin-palette-6"><div data-number="14"></div></li>
                <li ng-click="copyToClipboard($event)" class="skin-palette-5"><div data-number="15"></div></li>
                <li ng-click="copyToClipboard($event)" class="skin-palette-4"><div data-number="16"></div></li>
                <li ng-click="copyToClipboard($event)" class="skin-palette-3"><div data-number="17"></div></li>
            </ul>
        </section>
        <section class="main-colors">
            <h3>Accent colors</h3>
            <ul>
                <li ng-click="copyToClipboard($event)" class="hero-color"><div data-number="1"></div></li>
                <li ng-click="copyToClipboard($event)" class="brand-color-1"><div data-number="2"></div></li>
                <li ng-click="copyToClipboard($event)" class="brand-color-3"><div data-number="3"></div></li>
                <li ng-click="copyToClipboard($event)" class="brand-color-2"><div data-number="4"></div></li>
            </ul>
        </section>
        <section class="other-colors">
            <h3>Other colors</h3>
            <ul>
                <li ng-click="copyToClipboard($event)" class="other-color-1"><div data-number="5"></div></li>
                <li ng-click="copyToClipboard($event)" class="other-color-2"><div data-number="6"></div></li>
                <li ng-click="copyToClipboard($event)" class="other-color-3"><div data-number="7"></div></li>
            </ul>
        </section>
        <section class="line-colors">
            <h3>Line colors</h3>
            <ul>
                <li ng-click="copyToClipboard($event)" class="line-color-1"><div data-number="9 / 21"></div></li>
                <li ng-click="copyToClipboard($event)" class="line-color-2"><div data-number="8 / 20"></div></li>
            </ul>
        </section>
        <section class="blur-color">
            <h3>Blur mask color</h3>
            <ul>
                <li ng-click="copyToClipboard($event)" class="blur-mask-color"><div data-number="22"></div></li>
            </ul>
        </section>
        <section class="superbet-colors">
            <h3>Superbet Gradient colors</h3>
            <ul>
                <li ng-click="copyToClipboard($event)" class="superbet-color-1"><div data-number="18"></div></li>
                <li ng-click="copyToClipboard($event)" class="superbet-color-2"><div data-number="19"></div></li>
            </ul>
        </section>
        <section class="icon-text-color">
            <h3>Icons and Texts color</h3>
            <ul>
                <li ng-click="copyToClipboard($event)" class="skin-palette-23"><div data-number="23"></div></li>
            </ul>
        </section>
    </div>
</div>
