<div ng-controller="featuredgameCtrl" class="size-contain-separator">
    <div ng-init="getOneLiveGame(null, showGameId || openGame.game_id)" class="size-contain-separator">
        <span ng-if="mostPopularLiveGame" ng-controller="cmsPagesCtrl" ng-init="loadPage('competition-backgrounds',true)">
            <span ng-if="pagesLoaded" ng-init="mostPopularLiveGame.game_bg_competition=getPageByField(pages, mostPopularLiveGame.competition.id, 'competition').thumbnail_images.full.url"></span>
        </span>
        <div class="bet-now-widget-contain"  ng-class="{'closed': featuredGameWidgetClosed}">
            <div ng-show="version!=2"  class="title-b-widget" ng-click="featuredGamesSlider.closed = featuredGameWidgetClosed = !featuredGameWidgetClosed">
                <h3 ng-show="mostPopularLiveGame" ng-bind="mostPopularLiveGame.sport.name + ' - ' + mostPopularLiveGame.region.name + ' - ' + mostPopularLiveGame.competition.name | removeParts:[mostPopularLiveGame.region.name]"></h3>
                <h3 ng-show="!mostPopularLiveGame" trans>loading...</h3>
                <div class="closed-open-arrow"></div>
            </div>
            <div class="full-widget-game-info" style="{{(mostPopularLiveGame.game_bg_competition||mostPopularLiveGame.game_bg?'background-image: url('+(mostPopularLiveGame.game_bg_competition||mostPopularLiveGame.game_bg)+')':'')}}">
                <vbet-loader class="centered-j" ng-show="!mostPopularLiveGame"></vbet-loader>
                <div class="wrapper-widget-info-b" ng-show="mostPopularLiveGame">
                   <div class="bg-game-featured" ng-show="mostPopularLiveGame.image.length"><img ng-src="{{mostPopularLiveGame.image.length && mostPopularLiveGame.image}}"></div>
                    
                    <div class="championship-logo-contain">
                        <div class="dashboard-championship-icon" ng-if="false"></div>
                    </div>
                    <div ng-if="!isIframe" class="contain-name-seria" ng-click="broadcast('gotoSelectedGame', {game:mostPopularLiveGame.id, competition:mostPopularLiveGame.competition.id, sport: {id: mostPopularLiveGame.sport.id, alias: mostPopularLiveGame.sport.alias}, region: mostPopularLiveGame.region.id, type: mostPopularLiveGame.type}); $event.stopPropagation();"></div>
                    <div ng-if="isIframe" class="contain-name-seria" ng-click="gotoSelectedGame({game:mostPopularLiveGame.id, competition:mostPopularLiveGame.competition.id, sport: mostPopularLiveGame.sport.id, region: mostPopularLiveGame.region.id, type: mostPopularLiveGame.type}); $event.stopPropagation();"></div>
                    <div class="game-full-information-b">
                        <ul>
                            <li class="first-team-n-contain">
                                <div class="logo-team-new" ng-if="$root.conf.teamLogosPath && mostPopularLiveGame.team1_external_id"><img ng-src="{{$root.conf.teamDefaultLogo}} ? 'images/team-logo-default.png' : {{$root.conf.teamLogosPath}}e/m/0/{{mostPopularLiveGame.team1_external_id}}.png" err-src="images/team-logo-default.png" /></div>
                                <p>{{mostPopularLiveGame.team1_name}}</p>
                            </li>
                            <li class="icon-b-wrapper" ng-if="mostPopularLiveGame.type == 1">
                                <span>{{mostPopularLiveGame.info.score1}}</span>
                                <small></small>
                                <span>{{mostPopularLiveGame.info.score2}}</span>
                                <div class="time-game-information">
                                    <div>
                                        <span class="date-time-inform-b">{{(mostPopularLiveGame.info.current_leg === undefined?(mostPopularLiveGame.info.current_game_state|convertSetName:mostPopularLiveGame.sport.alias):(mostPopularLiveGame.info.current_game_state|convertSetNameWithLeg:mostPopularLiveGame.info))|translate}}
                                        {{ (mostPopularLiveGame.info.current_game_time.split(' ').length ===2 ? mostPopularLiveGame.info.current_game_time.split(' ')[1] : mostPopularLiveGame.info.current_game_time.split(' ')[0])|translate}}</span>
                                    </div>
                                    <div>
                                        <span class="date-time-inform-b" ng-show="mostPopularLiveGame.type == 0" ng-bind="mostPopularLiveGame.start_ts|formatDate:'full':null:$root.env.timeFormat"></span>
                                    </div>
                                    <div><span class="live-information-b" ng-show="mostPopularLiveGame.type == 1" trans>live</span></div>
                                </div>
                            </li>
                            <li class="icon-b-wrapper" ng-if="mostPopularLiveGame.type != 1">
                                <span trans>VS</span>
                            </li>
                            <li class="second-team-n-contain">
                                <div class="logo-team-new" ng-if="$root.conf.teamLogosPath && mostPopularLiveGame.team2_external_id"><img ng-src="{{$root.conf.teamLogosPath}}e/m/0/{{mostPopularLiveGame.team2_external_id}}.png" err-src="images/team-logo-default.png"/></div>
                                <p>{{mostPopularLiveGame.team2_name}}</p>
                            </li>
                        </ul>
                    </div>


                    <div class="factoes-b-game-new">
                        <ul><!--class="column-2"-->
                            <li ng-click="bet(mostPopularLiveGame.event.P1, mostPopularLiveGame)" ng-class="{'active': isEventInBetSlip(mostPopularLiveGame.event.P1)}">
                                <p title="{{mostPopularLiveGame.team1_name}}">{{mostPopularLiveGame.team1_name}}</p>
                                <span>{{mostPopularLiveGame.event.P1.price | oddConvert:$root.env.oddFormat}}</span>
                            </li>
                            <li ng-click="bet(mostPopularLiveGame.event.X, mostPopularLiveGame)" ng-class="{'active': isEventInBetSlip(mostPopularLiveGame.event.X)}" ng-if="'P1XP2' === mostPopularLiveGame.choosenMarket.type">
                                <p trans>Tie</p>
                                <span>{{mostPopularLiveGame.event.X.price | oddConvert:$root.env.oddFormat}}</span>
                            </li>
                            <li ng-click="bet(mostPopularLiveGame.event.P2, mostPopularLiveGame)" ng-class="{'active': isEventInBetSlip(mostPopularLiveGame.event.P2)}">
                                <p title="{{mostPopularLiveGame.team2_name}}">{{mostPopularLiveGame.team2_name}}</p>
                                <span>{{mostPopularLiveGame.event.P2.price | oddConvert:$root.env.oddFormat}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
