<div class="table-status" ng-init="loadWithdrawStatuses()">
    <table ng-show="withdrawListLoaded">
        <tr>
            <th><p trans>Payment Method</p></th>
            <th><p trans>Date</p></th>
            <th><p trans>Time</p></th>
            <th><p trans>Amount</p></th>
            <th><p>ID</p></th>
            <th><p trans>Status</p></th>
        </tr>
        <tr ng-repeat="withdraw in withdrawHistory | orderBy: 'date': true"  ng-show="withdrawHistory.length">
            <td>
                <div ng-show="!conf.GmsPlatform" class="icon-deposit-logo" ng-class="withdraw.name"><a class="paymentIcon" ng-class="withdraw.name">{{paymentSystem.name}}</a></div>
                <p ng-show="conf.GmsPlatform">{{withdraw.payment_system_name|translate}}</p>
            </td>
            <td><p>{{withdraw.date|formatDate:'ll'}}</p></td>
            <td><p>{{withdraw.date|formatDate:'h:mm a'}}</p></td>
            <td><p>{{withdraw.amount}}</p></td>
            <td><p>{{withdraw.id}}</p></td>
			<td ng-class="'status_' + withdraw.status"><p>{{(withdrawStatus[withdraw.status] || withdraw.name)|translate}}</p>
				<div class="cancel-btn"><button  ng-mousedown="cancelWithdrawRequest(withdraw.id)" ng-disabled="cancelButton.disabled" trans>Cancel</button></div></td>
        </tr>
        <tr  ng-show="!withdrawHistory.length">
            <th colspan="6"><p trans>No Withdrawal Information</p></th>
        </tr>
    </table>
	<vbet-loader ng-show="!withdrawListLoaded"></vbet-loader>
</div>