.barcode.code128 {
    min-height: 10px;
}
.barcode.code128 > div.b {
    background: none repeat scroll 0 0 #000000;
    float: left;
    height: 100%;
}
.barcode.code128 > div.w {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 100%;
}
.barcode.code128 .w20 {
    width: 20px;
}
.barcode.code128 .w1 {
    width: 1px;
}
.barcode.code128 .w2 {
    width: 2px;
}
.barcode.code128 .w3 {
    width: 3px;
}
.barcode.code128 .w4 {
    width: 4px;
}
.barcode.code128 .w5 {
    width: 5px;
}
.barcode.code128 .w6 {
    width: 6px;
}
.barcode.code128 .w7 {
    width: 7px;
}
.barcode.code128 .w8 {
    width: 8px;
}
.barcode.code128 .w9 {
    width: 9px;
}
.barcode.code128 .w10 {
    width: 10px;
}
.barcode.code128 .b1 {
    width: 1px;
}
.barcode.code128 .b2 {
    width: 2px;
}
.barcode.code128 .b3 {
    width: 3px;
}
.barcode.code128 .b4 {
    width: 4px;
}
.barcode.code128 .b5 {
    width: 5px;
}
.barcode.code128 .b6 {
    width: 6px;
}
.barcode.code128 .b7 {
    width: 7px;
}
.barcode.code128 .b8 {
    width: 8px;
}
.barcode.code128 .b9 {
    width: 9px;
}
.barcode.code128 .b10 {
    width: 10px;
}
