//Calculator
#system-claculator-container {
  transform: translate3d(0, 0, 0);
  cursor: default !important;
  > include-template {
    float: left;
    width: 100%;
  }
}

.system-calculator {
  float: left;
  width: 296px;
  background: $skin-palette-7;
  box-shadow: 0 0 0 5px rgba($skin-palette-5, 0.6), 0 5px 30px 10px rgba($skin-palette-12, 0.6);
  overflow-x: hidden;
  @include rtl {
    direction: rtl;
  }
}

.system-calculator-title {
  float: left;
  width: 100%;
  box-sizing: border-box;
  background: $skin-palette-8;
  height: 30px;
  border-bottom: 1px solid $hero-color;
  position: relative;
  cursor: pointer;
  @include ltr {
    padding: 0 30px 0 10px;
  }
  @include rtl {
    padding: 0 10px 0 30px;
  }
}

.system-calculator-title > h3 {
  font: 700 12px/30px $font-f;
  color: rgba(set-color($skin-palette-8), 0.71);
  text-transform: uppercase;
}

.closed-calculator-b {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  text-align: center;
  font: 10px/20px icomoon;
  color: rgba(set-color($skin-palette-8), 0.18);
  transition: color 200ms;
  cursor: pointer;
  @include ltr {
    right: 5px;
  }
  @include rtl {
    left: 5px;
  }
}

.closed-calculator-b:hover {
  color: set-color($skin-palette-8);
}

.closed-calculator-b:before {
  content: "\e6ee";
}

.calculator-select-contain {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background: $skin-palette-7;
  border-bottom: 1px solid darken(desaturate(adjust-hue($skin-palette-10, -3deg), 8), 5);
  min-height: 70px;
}

.select-calc-box-b {
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 10px;
  position: relative;
}

.select-calc-box-b .select-block {
  position: relative;
  right: 0;
  width: 100%;
  top: 0;
  float: left;
  box-sizing: border-box;
  background: darken(desaturate(adjust-hue($skin-palette-10, -3deg), 8), 5);
  height: 26px;
  overflow: hidden;
  box-shadow: none;
  border: none;

}

.select-calc-box-b .select-block:after {
  top: 6px;
  color: rgba(set-color(darken(desaturate(adjust-hue($skin-palette-10, -3deg), 8), 5)), 0.26);
  content: "\e670";
  font: 16px icomoon;
  position: absolute;
  @include ltr {
    right: 5px;
  }
  @include rtl {
    left: 5px;
  }
}

.select-calc-box-b .select-block > select {
  position: absolute;
  top: 0;
  width: 100%;
  background: none;
  border: none;
  box-sizing: border-box;
  height: 26px;
  color: rgba(set-color(darken(desaturate(adjust-hue($skin-palette-10, -3deg), 8), 5)), 0.74);
  font: 12px $font-f;
  padding: 0 5px;
  z-index: 99;
  cursor: pointer;
  @include ltr {
    left: 0;
  }
  @include rtl {
    right: 0;
  }
}

.select-calc-box-b .select-block > select > option {
  background: darken(desaturate(adjust-hue($skin-palette-10, -3deg), 8), 5);
}

.total-stake-input-b {
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  height: 26px;
}

.total-stake-input-b > {
  input[type="text"],
  input[type="number"] {
    background: darken(desaturate(adjust-hue($skin-palette-10, -3deg), 8), 5);
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: rgba(set-color(darken(desaturate(adjust-hue($skin-palette-10, -3deg), 8), 5)), 0.74);
    font: 12px $font-f;
    padding: 0 10px;
    margin: 0;
    box-sizing: border-box;
    @include placeholder {
      color: rgba(set-color(darken(desaturate(adjust-hue($skin-palette-10, -3deg), 8), 5)), 0.74);
      font-size: 12px;
      font-family: $font-f;
    }
  }
}

.system-events-view-box {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background: $skin-palette-8;
  border-bottom: 1px solid darken(desaturate(adjust-hue($skin-palette-10, -3deg), 8), 5);
  box-shadow: 0 1px 0 lighten(desaturate(adjust-hue($skin-palette-10, 4deg), 18), 8);
}

.event-view-box-separator {
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 1px;
}

.sistem-event-icons-b {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  color: rgba(set-color($skin-palette-8), 0.73);
  font: 12px/20px icomoon;
  text-indent: 6px;
}

.sistem-event-icons-b.system-win:before {
  content: "\e6f3";
}

.sistem-event-icons-b.system-lost:before {
  content: "\e6f2";
}

.sistem-event-icons-b.system-return:before {
  content: "\e705";
}

.sistem-event-icons-b.system-placed:before {
  content: "\ea65";
}

.scroll-view-contain-calculator {
  float: left;
  width: 100%;
  box-sizing: border-box;
  max-height: 185px;
  @include scroll($scroll: auto);
}

.scroll-view-contain-calculator .event-view-box-separator {
  background: rgba(set-color($skin-palette-8), 0.06);
}

.scroll-view-contain-calculator .event-view-box-separator:nth-child(even) {
  background: rgba(set-color($skin-palette-8), 0.09);
}

.event-view-box-separator > ul {
  float: left;
  width: 100%;
  box-sizing: border-box;
  display: table;
}

.event-view-box-separator > ul > li {
  box-sizing: border-box;
  display: table-cell;
  font: 12px/30px $font-f;
  color: rgba(set-color($skin-palette-8), 0.73);
  height: 30px;
  text-align: center;
  padding: 0 5px;
  vertical-align: top;
  position: relative;
}

.event-view-box-separator > ul > li:nth-child(1) {
  width: 20px;
}

.event-view-box-separator > ul > li:nth-child(2) {
  width: 70px;
}

.event-view-box-separator > ul > li:nth-child(3),
.event-view-box-separator > ul > li:nth-child(4),
.event-view-box-separator > ul > li:nth-child(5) {
  width: 50px;
}

.event-view-box-separator > ul > li > {
  input[type="text"],
  input[type="number"] {
    float: left;
    margin: 5px 0 0;
    box-sizing: border-box;
    width: 70px;
    height: 20px;
    padding: 0 5px;
    font: 12px/20px $font-f;
    color: $brand-color-2;
    font-weight: bold;
    border: none;
    background: $skin-palette-8;
  }
}

.event-view-box-separator > ul > li > input[type="radio"] {
  position: absolute;
  margin: 4px 0 0 -10px;
  width: 20px;
  height: 20px;
  z-index: 22;
  opacity: 0;
  left: 50%;
}

.event-view-box-separator > ul > li > label {
  width: 14px;
  height: 14px;
  display: inline-block;
  background: $skin-palette-8;
  border-radius: 50%;
  position: relative;
  top: 3px;
}

.event-view-box-separator > ul > li > input[type="radio"]:checked + label:before {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  top: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $brand-color-2;
}

.event-view-box-separator > ul > li:nth-child(3) > input[type="radio"]:checked + label:before {
  background: $brand-color-1;
}

.event-view-box-separator > ul > li:nth-child(4) > input[type="radio"]:checked + label:before {
  background: #e9044a;
}

.full-calculation-information-b {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px 10px;
}

.mini-calc-info-box {
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.mini-calc-info-box > ul {
  float: left;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid lighten(desaturate(adjust-hue($skin-palette-10, 4deg), 18), 8);
}

.mini-calc-info-box > ul > li {
  float: left;
  width: 100%;
  box-sizing: border-box;
  height: 26px;
  font: 12px/24px $font-f;
  border-bottom: 1px solid darken(desaturate(adjust-hue($skin-palette-10, 7deg), 1), 10);
  border-top: 1px solid lighten(desaturate(adjust-hue($skin-palette-10, 4deg), 18), 8);
  display: table;
  color: rgba(set-color($skin-palette-7), 0.71);
}

.mini-calc-info-box > ul > li:first-child {
  border-top: none;
}

.mini-calc-info-box > ul > li > p {
  box-sizing: border-box;
  display: table-cell;
  position: relative;
  width: 100%;
  vertical-align: middle;
}

.mini-calc-info-box > ul > li > p > span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 4px 0 0;
  box-sizing: border-box;
}

.mini-calc-info-box > ul > li > span {
  float: right;
  color: $brand-color-2;
  font-weight: bold;
  box-sizing: border-box;
  white-space: nowrap;
}

.mini-calc-info-box > ul > li:first-child > span {
  color: rgba(set-color($skin-palette-7), 0.71);
}

.calculator-buttons-contain {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0 0;
}

.calculator-buttons-contain > ul {
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.calculator-buttons-contain > ul > li {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  position: relative;
  height: 30px;
}

.calculator-buttons-contain > ul > li > button {
  float: left;
  width: 100%;
  height: 30px;
  border: 1px solid rgba(set-color($skin-palette-7), 0.39);
  color: set-color($skin-palette-7);
  font: 12px $font-f;
  text-transform: uppercase;
  text-align: center;
  padding: 0 10px;
  background: none;
  cursor: pointer;
  transition: background 200ms, border-color 200ms;
}

.calculator-buttons-contain > ul > li > button:hover {
  border-color: $brand-color-1;
  background: $brand-color-1;
  color: set-color($brand-color-1);
}

.body-wrapper:not(.classic):not(.asian):not(.euro2016) {
  .system-calculator,
  .bet-calculator {
    background: #ffffff;
    box-shadow: 0 0 0 5px #505768, 0 0 15px 7px #3b3b3b;
  }
  .system-calculator-title > h3,
  .select-calc-box-b .select-block > select {
    color: #000000;
  }
  .calculator-select-contain {
    background: #ffffff;
    border-color: #BDBCBC;
  }
  .system-calculator-title {
    background: #CFD6DC;
    border-color: #BDBCBC;
  }
  .system-events-view-box {
    background: #CFD6DC;
    border-color: #BDBCBC;
    box-shadow: none;
  }
  .mini-calc-info-box > ul {
    border-color: #BDBCBC;
  }
  .select-calc-box-b .select-block,
  .total-stake-input-b > input[type="text"],
  .total-stake-input-b > input[type="number"],
  .select-calc-box-b .select-block > select > option {
    background: #CFD6DC;
    color: #000000;
  }
  .mini-calc-info-box > ul > li {
    border-color: #BDBCBC;
    color: #000000;
  }
  .scroll-view-contain-calculator .event-view-box-separator {
    background: #ffffff;
  }
  .scroll-view-contain-calculator .event-view-box-separator:nth-child(even) {
    background: #E8EDF1;
  }
  .mini-calc-info-box > ul > li:first-child > span {
    color: #404654;
  }
  .sistem-event-icons-b,
  .bet-calculator-system-combinations > h2 {
    color: #000000;
  }
  .event-view-box-separator > ul > li > label,
  .event-view-box-separator > ul > li > input[type="text"],
  .event-view-box-separator > ul > li > input[type="number"] {
    background: #B0BCC5;
    color: #000000;
  }
  .event-view-box-separator > ul > li {
    color: #000000;
  }
  .scroll-view-contain-calculator::-webkit-scrollbar {
    background: #B0BCC5;
  }
  .calculator-buttons-contain>ul>li>button {
    color: #000000;
    border-color: #BDBCBC;
    &:hover {
      color: #ffffff;
      border-color: #1a7051;
    }
  }
  .bet-calculator-conditions > li > label {
    background: #CFD6DC;
    > span {
      color: #000000;
    }
    > i {
      color: #000000;
      background: #ffffff;
    }
  }
  .bet-calculator-system-combinations > span {
    color: #000000;
    background: #B0BCC5;
    border-color: #CFD6DC;
  }
}
.bet-calculator {
  float: left;
  width: 400px;
  background: $skin-palette-7;
  box-shadow: 0 0 0 5px rgba($skin-palette-5, 0.6), 0 5px 30px 10px rgba($skin-palette-12, 0.6);
  overflow-x: hidden;
  @include rtl {
    direction: rtl;
  }
  .event-view-box-separator {
    > ul {
      table-layout: fixed;
      > li {
        &.bet-calculator-selections-number {
          width: 26px;
        }
        &.bet-calculator-selections-odds,
        &.bet-calculator-selections-rf,
        &.bet-calculator-selections-dh {
          width: 60px;
          @include ltr {
            text-align: left;
          }
          @include rtl {
            text-align: right;
          }
        }
        &.bet-calculator-selections-ew {
          width: 34px;
          @include ltr {
            text-align: left;
          }
          @include rtl {
            text-align: right;
          }
        }
        &.bet-calculator-selections-odds {
          > span {
            float: left;
            margin: 0 4px;
          }
        }
        &.bet-calculator-selections-wp {
          width: 26px;
          &.system-win {
            > label:before {
              background: $brand-color-1;
            }
          }
          &.system-lost {
            > label:before {
              background: #e9044a;
            }
          }
          &.system-placed {
            > label:before {
              background: #e95e16;
            }
          }
        }
        .select-calc-box-b {
          margin: 5px 0 0;
          .select-block {
            height: 20px;
            > select {
              height: 100%;
            }
            &:after {
              top: 3px;
            }
          }
        }
        > input[type="number"] {
          width: 100%;
          &.widget-calculator-selections-odds-fractional {
            width: 41%;
          }
        }
      }
    }
  }
  .sistem-event-icons-b {
    text-indent: 0;
  }
}
.bet-calculator-selections-number > i {
  display: block;
  position: relative;
  width: 10px;
  height: 100%;
  color: rgba(set-color($skin-palette-8), 0.18);
  transition: color 240ms;
  @include ltr {
    float: left;
  }
  @include rtl {
    float: right;
  }
  &:before {
    content: "\e6ee";
    position: absolute;
    top: 0;
    left: 0;
    font: 10px/30px icomoon;
  }
  &:hover {
    color: set-color($skin-palette-8);
  }
}
.bet-calculator-conditions {
  float: left;
  display: table;
  width: 100%;
  margin: 10px 0;
  table-layout: fixed;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  > li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 26px;
    > label {
      float: left;
      width: 100%;
      height: 100%;
      text-align: center;
      position: relative;
      background: darken(desaturate(adjust-hue($skin-palette-10, -3deg), 8), 5);
      > input {
        display: none;
        &:checked ~ i:before {
          color: rgba(set-color($skin-palette-7),0.8);
        }
      }
      > span {
        display: inline-block;
        vertical-align: middle;
        color: rgba(set-color(darken(desaturate(adjust-hue($skin-palette-10, -3deg), 8), 5)), 0.74);
        font: 12px/26px $font-f;
      }
      > i {
        display: inline-block;
        vertical-align: middle;
        width: 14px;
        height: 14px;
        border-radius: 2px;
        color: rgba(set-color($skin-palette-7),0);
        background: $skin-palette-7;
        position: relative;
        margin: 0 8px;
        &:before {
          content: "\e6f3";
          position: absolute;
          top: 0;
          left: 2px;
          display: block;
          transition: color 240ms;
          font: 7px/14px icomoon;
        }
      }
    }
    + li {
      @include ltr {
        padding-left: 1px;
      }
      @include rtl {
        padding-right: 1px;
      }
    }
  }
}
.bet-calculator-add {
  float: left;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  > button {
    display: inline-block;
    padding: 0 16px 0 10px;
    color: set-color($brand-color-1);
    background: $brand-color-1;
    border: 1px solid $brand-color-1;
    text-transform: uppercase;
    text-align: center;
    font: 12px/28px $font-f;
    transition: color 240ms, background 240ms, border-color 240ms;
    &:hover {
      border-color: lighten($brand-color-1, 10);
      background: lighten($brand-color-1, 10);
    }
    &:before {
      content: "\e957";
      display: inline-block;
      margin: 0 6px;
      font: 13px/28px icomoon;
    }
  }
}
.bet-calculator-system-combinations {
  float: left;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border-top: 2px solid $hero-color;
  border-bottom: 2px solid $hero-color;
  > h2 {
    float: left;
    width: 100%;
    color: rgba(set-color($skin-palette-7), 0.73);
  }
  > span {
    display: inline-block;
    height: 20px;
    margin-top: 10px;
    padding: 0 14px;
    box-sizing: border-box;
    color: rgba(set-color($skin-palette-8), 0.8);
    background: $skin-palette-8;
    box-shadow: 0 0 0 1px rgba(set-color($skin-palette-7), 0.73);
    font: 10px/20px $font-f;
    + span {
      @include ltr {
        margin-left: 6px;
      }
      @include rtl {
        margin-right: 6px;
      }
    }
  }
}