// OLD live casino popup
//save-games
.games-save-slider ul li {
    background: $skin-palette-1;
}
.my-games-save.casino .games-save-slider ul li {
    background: none;
    box-shadow: none;
}
.block-slider .my-games-save.casino .games-save-slider ul li:first-child {margin-left: 7px;}
.games-save-slider ul li .teams:after{font: 30px/42px $font-f;}
.games-save-slider ul li .teams .team-1 .score, .games-save-slider ul li .teams .team-2 .score{font: 30px/42px $font-f;}
.games-save-slider ul li .teams .team-1 .name, .games-save-slider ul li .teams .team-2 .name {
    font: 13px/18px  $font-f;
    font-weight: $bold-text;
}
.games-save-slider ul li .additional-info .details{
    color: #888888;
    font: 14px/16px $font-f;
}
.games-save-slider ul li .pre-match .additional-info .details{font: 16px/24px $font-f;}
.dont-games-block p, .registration-ok p, .registration-failed p {
    font: 16px/22px $font-f;
    color: $text-palette-3;
}
.registration-failed p.error {color: #f00;}
.registration-ok button, .registration-failed button {
    font: 13px/36px $font-f;
    color: set-color($brand-color-1);
    background: $brand-color-1;
    padding: 0 20px;
    height: 36px;
    min-width: 150px;
}
.body-wrapper.full-screen{background: $classic-skinning-color;}
.games-save-slider ul li .game-status, .games-save-slider ul li .game-status .type-game {white-space: nowrap;}
.casino-game-contain .icon-delete,
.casino-game-contain .icon-delete.popup,
.casino-game-contain .icon-delete.refresh,
.casino-game-contain .icon-delete.favourite,
.casino-game-contain .icon-delete.closed-iframe-info,
.side-bar-available .icon-delete {
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    float: none;
    display: block;
    margin-bottom: 2px;
}
.casino-game-contain .icon-delete a,
.side-bar-available .icon-delete a {
    background: $skin-palette-12;
    width: 40px;
    height: 40px;
    top: 0;
    position: static;
}
.casino-game-contain .icon-delete a:before {
    content: "\e62c";
    font: 18px/40px icomoon;
    color: $text-palette-1;
    position: absolute;
    right: 11px;
    top: 0;
    text-indent: 0;
}
.casino-game-contain .icon-delete.popup a,
.casino-game-contain .icon-delete.refresh a,
.casino-game-contain .icon-delete.favourite a,
.casino-game-contain .icon-delete.closed-iframe-info a {
    width: 40px;
    height: 40px;
    background: $skin-palette-10;
}
.casino-game-contain .icon-delete.favourite a:hover, .casino-game-contain .icon-delete.favourite a.favourite-active{
    width: 40px;
    height: 40px;
    background: $skin-palette-10;
}
.casino-game-contain .icon-delete.popup a:before{
    content: "\50";
    font: 16px/40px "icomoon";
    position: absolute;
    right: 12px;
    top: -1px;
    text-indent: 0;
}
.casino-game-contain .icon-delete.refresh a:before{
    content: "\e6f4";
    font: 16px/40px "icomoon";
    position: absolute;
    right: 12px;
    top: -1px;
    text-indent: 0;
}
.casino-game-contain .icon-delete.favourite a:before{
    content: "\f005";
    font: 18px/40px "icomoon";
    position: absolute;
    right: 12px;
    top: -1px;
    text-indent: 0;
}
.casino-game-contain .icon-delete.closed-iframe-info a:before,
.side-bar-available .icon-delete.closed-iframe-info a:before{
    content: "\10ff14";
    font: 18px/40px "icomoon";
    position: absolute;
    right: 12px;
    top: -1px;
    text-indent: 0;
}
.casino-game-contain .icon-delete.favourite a.favourite-active:before{color: $favorite-active-color;}
.games-save-slider .arrow-left-s, .games-save-slider .arrow-right-s {background: none;}
.names-team p {
    font: 13px/15px $font-f;
    color: $text-palette-13;
    font-weight: $bold-text;
    word-break: break-all;
}
.score-of-game {
    font: 35px/42px  $font-f;
    color: $text-palette-13;
    white-space: nowrap;
    overflow: hidden;
}
.score-of-game span:after {content: " :";}
.score-of-game p {
    color: #888888;
    font: 14px/26px $font-f;
}
.hover-list-of-goals .list-of-goals {
    background: #f2f2f2;
}
.amount-maney .list-of-goals p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
//save-games-contain END

//big game casino

.flash-game-contain {
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none;
    @include ltr {
        padding: 0 40px 20px 0;
    }
    @include rtl {
        padding: 0 0 20px 40px;
    }
}
.jackpot-win-animation-off {
  background: #1f2639;
  opacity: 0;
  transform: scale(0);
  transition: opacity 240ms ease-out, transform 240ms ease-out;
}
.jackpot-win-animation-on {
  background: #1f2639;
  opacity: 1;
  transform: scale(1);
  transition: opacity 240ms ease-out, transform 240ms ease-out;
    overflow: hidden;
}
.jackpot-table {
  display: table;
  width: 100%;
  height: 100%;
}
.jackpot-trow {
  display: table-row;
}
.jackpot-tcell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.jackpot-twrapper {
  display: inline-block;
  position: relative;
  img {
    width: auto;
    height: auto;
    max-width: 100vw;
    max-height: 100vh;
    visibility: hidden;
  }
}
.jackpot-win-popup {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: url(../../../images/jackpot-coins/jackpot-win-bg.jpg#{$delete-cache}) no-repeat 0 0 / contain;
    > p {
        position: absolute;
        top: 11%;
        left: 50%;
        color: #ece9dd;
        transform: translateX(-50%);
        text-transform: uppercase;
        font: bold 10vh $font-f;
        text-shadow: 4px 10px 24px rgba(0,0,0,0.7);
        white-space: nowrap;
    }
    > span {
        position: absolute;
        bottom: 25.5%;
        left: 50%;
        color: #ffffff;
        transform: translateX(-50%);
        font: bold 8vh $font-f;
        z-index: 120;
    }
    .got-it{
        position: absolute;
        margin: 10px 0 0 0;
        font-size: 14px;
        line-height: 36px;
        display: inline-block;
        padding: 0 20px;
        height: 36px;
        text-transform: uppercase;
        cursor: pointer;
        width: auto;
        min-width: 280px;
        background: $brand-color-1;
        border: 1px solid $brand-color-1;
        color: set-color($brand-color-1);
        z-index: 999;
        bottom: 4%;
        left: 50%;
        transform: translateX(-50%);
        &:hover{
            background: rgba($brand-color-1, 0.8);
        }
    }
}
.jackpot-win-coins-first,
.jackpot-win-coins-second,
.jackpot-win-coins-third {
    width: 100%;
    height: 100%;
    z-index: 110;
    position: fixed;
    top: 0;
    left: 0;
    background: url(../../../images/jackpot-coins/jackpot-win-coins.png#{$delete-cache}) no-repeat 50% 0/ contain;
    opacity: 0.2;
    transform: scale(0.2);
    animation: jackpot-win-first 1000ms linear infinite 240ms;
}
.jackpot-win-coins-second {
    animation: jackpot-win-second 1500ms linear infinite 740ms;
}
.jackpot-win-coins-third {
    animation: jackpot-win-third 2000ms linear infinite 1240ms;
}
@keyframes jackpot-win-first {
    0% {
        opacity: 0.5;
        transform: scale(0.2);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(2);
    }
}
@keyframes jackpot-win-second {
    0% {
        opacity: 0.5;
        transform: scale(0.2);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(2);
    }
}
@keyframes jackpot-win-third {
    0% {
        opacity: 0.5;
        transform: scale(0.2);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(2);
    }
}
.big-game-control{
    position: absolute;
    width: 40px;
    @include ltr {
        right: 0;
    }
    @include rtl {
        left: 0;
    }
}
.dont-game-info-text p {
    color: $text-palette-1;
    font: 14px/18px $font-f;
    font-weight: $bold-text;
}
.add-casino-game{
    background: rgba(0,0,0,0.2);
    box-shadow: none;
    text-shadow: none;
    color: #454a5a;
    border-radius: 20%;
    @include ltr {
        left: calc((100% - 140px) / 2);
    }
    @include rtl {
        right: calc((100% - 110px) / 2);
    }
}
.add-casino-game a, .add-casino-game a:active{
    text-shadow: none;
    color: $text-palette-5;
    box-shadow: none;
    background: none;
    border-radius: 0;
}
.add-casino-game:hover {
    box-shadow: 0 0 40px $skin-palette-11;
}
//big game casino END
// END OLD live casino popup
.popup-bg-contain.fixed-view-popup.live-dealer-p{
    position: fixed;
}
.popup-full-contain-b{
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: table;
}
.livecasino-popup-cell-b{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
}
.livecasino-popup-contain-b{
    display: inline-block;
    box-sizing: border-box;
    width: 940px;
    height: 620px;
    background: $skin-palette-8;
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    animation: popup-enter .3s ease-in-out;
}
.livecasino-popup-contain-b .md-progress-circular.md-theme{
    margin: 0 auto;
    top: 170px;
}
.directive-lobby-box{
    box-sizing: border-box;
    float: left;
    width: 100%;
}
.popup-header-contain{
    float: left;
    width: 100%;
    height: 86px;
    box-sizing: border-box;
    padding: 25px;
}
.title-contain-lobby-b{
    float: left;
    width: 100%;
    padding: 3px 30px 0 0;
    box-sizing: border-box;
}
.title-contain-lobby-b > h2{
    float: left;
    box-sizing: border-box;
    font: 24px/26px $font-f;
    color: $text-palette-3;
    text-transform: uppercase;
}
.chanhe-view-lobby-b{
    float: right;
    box-sizing: border-box;
}
.block-view-separator-b{
    float: left;
    width: 24px;
    height: 24px;
    font: 38px/24px icomoon;
    text-align: center;
    color: $text-palette-6;
    margin: 2px 0 0 15px;
    box-sizing: border-box;
    cursor: pointer;
    transition: color 200ms;
}
.block-view-separator-b.active{
    color: $text-palette-3;
    cursor: default;
}
.block-view-separator-b:hover{
    color: $text-palette-3;
}
.block-view-separator-b > i{
    font-style: normal;
    position: relative;
    left: -6px;
}
.column-lobby > i:before{content: "\e641";}
.row-lobby > i:before{content: "\e63f";}
.closed-b-popup{
    font: 10px/24px icomoon;
    cursor: pointer;
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    right: 5px;
    top: 6px;
    transition: color 200ms;
    color: $text-palette-5;
}
.closed-b-popup:hover{
    color: $text-palette-2;
}
.closed-b-popup:before{
    content: "\e6ee";
}
.balance-casier-lobby{
    float: right;
}
.balance-casier-lobby > button{
    float: left;
    background: none;
    border: 2px solid $brand-color-1;
    border-radius: 4px;
    font: 14px $font-f;
    color: $text-palette-1;
    text-transform: uppercase;
    padding: 0 20px;
    min-width: 110px;
    box-sizing: border-box;
    height: 32px;
    cursor: pointer;
    transition: background 200ms, color 200ms;
}
.balance-casier-lobby > button:hover{
    background: $brand-color-1;
    color: set-color($brand-color-1);
}
.lobby-balance-view {
    float: right;
    box-sizing: border-box;
    margin: 0 40px 0 25px;
}
.lobby-balance-view > p{
    float: left;
    box-sizing: border-box;
    color: $text-palette-3;
    font: 16px/32px $font-f;
}
.popup-navigation-b{
    float: left;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
}
.popup-navigation-b > ul{
    box-sizing: border-box;
    float: left;
    width: 100%;
    display: table;
    height: 50px;
    background: $skin-palette-12;
    position: relative;
}
.popup-navigation-b > ul.sub-nav-v-b{
    padding-right: 118px;
}
.sub-nav-view-b{
    position: absolute;
    right: 10px;
    top: 13px;
    height: 24px;
    width: 98px;
    background: $skin-palette-7;
    border-radius: 12px;
    box-sizing: border-box;
    color: $text-palette-3;
    font: 12px/24px $font-f;
    text-transform: uppercase;
    padding: 0 20px 0 10px;
    cursor: pointer;
    text-align: left;
    display: none;
}
.sub-nav-view-b:after{
    content: "\e674";
    font: 16px/22px icomoon;
    color: $text-palette-3;
    position: absolute;
    right: 5px;
    top: 0;
}
.popup-navigation-b > ul.sub-nav-v-b > .sub-nav-view-b{
    display: block;
}
.popup-navigation-b > ul.open-sub-nav-lobby > .sub-nav-view-b:after{
    content: "\e675";
}
.popup-navigation-b > ul > li{
    display: table-cell;
    border-left: 1px solid $skin-palette-8;
    border-right: 1px solid $skin-palette-8;
    color: $text-palette-3;
    font: 15px/18px $font-f;
    text-transform: uppercase;
    text-align: center;
    padding: 0 5px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 300ms, box-shadow 300ms;
}
.popup-navigation-b > ul > li:first-child{
    border-left: none;
}
.popup-navigation-b > ul > li:last-child{
    border-right: none;
}
.popup-navigation-b > ul > li.active,
.popup-navigation-b > ul > li:hover{
    color: $text-palette-1;
    box-shadow: 0 -3px 0 $hero-color inset;
}
.popup-navigation-b > ul > li:nth-child(n+6){
    display: none;
}
.popup-navigation-b > ul.sub-nav-v-b > li:nth-child(n+6) {
    display: none;
    position: absolute;
    width: 240px;
    right: 10px;
    top: 50px;
    z-index: 333;
    height: 32px;
    background: $skin-palette-7;
    border: none;
    line-height: 32px;
    transition: background 200ms, color 200ms;
    text-align: left;
    box-sizing: border-box;
    padding: 0 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.popup-navigation-b > ul.open-sub-nav-lobby > li:nth-child(n+6){
    display: block;
}
.popup-navigation-b > ul.sub-nav-v-b > li:nth-child(6){
    top: 40px;
    border-radius: 5px 5px 0 0;
}
.popup-navigation-b > ul.sub-nav-v-b > li:nth-child(7){top: 72px;}
.popup-navigation-b > ul.sub-nav-v-b > li:nth-child(8){top: 104px;}
.popup-navigation-b > ul.sub-nav-v-b > li:nth-child(9){top: 136px;}
.popup-navigation-b > ul.sub-nav-v-b > li:nth-child(10){top: 168px;}
.popup-navigation-b > ul.sub-nav-v-b > li:nth-child(11){top: 200px;}
.popup-navigation-b > ul.sub-nav-v-b > li:nth-child(12){top: 232px;}
.popup-navigation-b > ul.sub-nav-v-b > li:nth-child(13){top: 264px;}
.popup-navigation-b > ul.sub-nav-v-b > li:nth-child(14){top: 296px;}
.popup-navigation-b > ul.sub-nav-v-b > li:nth-child(15){top: 328px;}
.popup-navigation-b > ul.sub-nav-v-b > li:nth-child(16){top: 360px;}
.popup-navigation-b > ul.sub-nav-v-b > li:nth-child(17){top: 392px;}
.popup-navigation-b > ul.sub-nav-v-b > li:nth-last-child(2){
    border-radius: 0 0 5px 5px;
}
.popup-navigation-b > ul.sub-nav-v-b > li:nth-child(n+6):hover,
.popup-navigation-b > ul.sub-nav-v-b > li:nth-child(n+6).active{
    box-shadow: none;
    background: $text-palette-6;
}
.tab-information-contain{
    float: left;
    width: 100%;
    box-sizing: border-box;
    height: 485px;
    padding: 10px;
    position: relative;
    background: $skin-palette-8;
    border-radius: 0 0 5px 5px;
}
.tab-info-block-b{
    float: left;
    width: 100%;
    box-sizing: border-box;
    max-height: 465px;
    @include scroll($scroll: auto);
    padding: 0;
}
.tab-info-block-b > ul{
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.tab-info-block-b > ul > li{
    float: left;
    width: 290px;
    height: 224px;
    box-sizing: border-box;
    background: #c2c5cd;
    margin: 0 5px 10px;
    transition: background 300ms;
    cursor: pointer;
    position: relative;
}
.tab-info-block-b > ul > li.disabled{
    cursor: default;
}
.tab-info-block-b > ul > li:hover{
    background: #f3f3f5;
}
.numbers-view-s-lobby{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(123, 129, 145, 0.5);
    height: 50px;
    z-index: 66;
}
.numbers-view-s-lobby > ul{
    float: right;
    max-width: 100%;
    display: table;
    height: 32px;
    margin: 9px 0 0;
    table-layout: fixed;
}
.numbers-view-s-lobby > ul > li{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 5px;
}
.numbers-view-s-lobby > ul > li > span{
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    color: $text-palette-2;
    font: 14px/24px $font-f;
    font-weight: bold;
}
.numbers-view-s-lobby > ul > li.white-bg > span{
    color: $text-palette-7;
}
.numbers-view-s-lobby > ul > li:last-child > span{
    width: 32px;
    height: 32px;
    line-height: 32px;
}
.img-dealer-view{
    width: 190px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.img-dealer-view > img{
    max-width: 190px;
    max-height: 190px;
    display: block;
}
.mini-row-contain-l{
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    text-align: left;
}
.title-single-b-lobby{
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0 24px 0 0;
    position: relative;
}
.dealers-name-box-b{
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.title-single-b-lobby > h3{
    float: left;
    width: 100%;
    box-sizing: border-box;
    font: 16px/24px $font-f;
    font-weight: bold;
    color: #2e323e;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 0 5px;
}
.mini-name-lobby-b > p{
    float: left;
    box-sizing: border-box;
    font: 14px/16px $font-f;
    color: #2e323e;
    padding-right: 5px;
}
.mini-name-lobby-b > h4{
    float: left;
    box-sizing: border-box;
    font: 14px/16px $font-f;
    color: #2e323e;
}
.limits-select-box{
    float: left;
    position: relative;
    box-sizing: border-box;
    &:after {
        content: "\e674";
        font: 18px icomoon;
        position: absolute;
        right: 0px;
        top: calc((100% - 18px) / 2);
        height: 12px;
        color: #000;
        pointer-events: none;
    }
}
.limits-select-box > select{
    float: left;
    box-sizing: border-box;
    outline: none;
    font: 12px $font-f;
    color: #2e323e;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    height: 18px;
    position: relative;
    top: -1px;
    padding: 0 18px 0 2px;
}
.mini-name-lobby-b{
    float: left;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 77;
    padding: 3px 0;
}
.view-box-contain-button{
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 0 0;
}
.view-button-lobby-view > button{
    float: left;
    background: $skin-palette-4;
    height: 30px;
    border: none;
    font: 12px $font-f;
    color: $text-palette-1;
    text-transform: uppercase;
    padding: 0 20px;
    min-width: 90px;
    transition: background 200ms, color 200ms;
    cursor: pointer;
    border-radius: 4px;
}
.view-button-lobby-view > button:hover,
.tab-info-block-b > ul > li:hover .view-button-lobby-view > button{
    background: $brand-color-1;
    color: set-color($brand-color-1);
}
.view-button-lobby-view > button:disabled, .tab-info-block-b > ul > li:hover .view-button-lobby-view > button:disabled{
    cursor: default;
    background: $skin-palette-4;
}
.contain-game-lobby-single {
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.filter-row-lobby-b{
    float: left;
    width: 100%;
    background: $skin-palette-6;
    display: none;
}
.filter-row-lobby-b > ul{
    float: left;
    display: table;
    width: 100%;
    height: 32px;
}
.filter-row-lobby-b > ul > li{
    display: table-cell;
    color: $text-palette-12;
    text-transform: uppercase;
    font: 12px/14px $font-f;
    font-weight: bold;
    vertical-align: middle;
    width: 185px;
    text-align: center;
}
.filter-row-lobby-b > ul > li:first-child{
    width: 210px;
    text-align: left;
    padding: 0 0 0 25px;
}
.filter-row-lobby-b > ul > li:nth-child(2){
    width: 150px;
    text-align: left;
}
.filter-row-lobby-b > ul > li:nth-child(3){
    width: 264px;
}
.filter-row-lobby-b > ul > li:first-child:after,
.filter-row-lobby-b > ul > li:nth-child(2):after,
.filter-row-lobby-b > ul > li:last-child:after{
    font: 12px/14px icomoon;
    content: "\e670";
}
.filter-row-lobby-b > ul > li:first-child.active:after,
.filter-row-lobby-b > ul > li:nth-child(2).active:after,
.filter-row-lobby-b > ul > li:last-child.active:after{
    font: 12px/14px icomoon;
    content: "\e671";
}
//row view
.lobby-row-view-b .filter-row-lobby-b{
    display: block;
}
.lobby-row-view-b .tab-information-contain{
    padding: 10px 0 0;
}
.lobby-row-view-b .tab-info-block-b{
    max-height: 475px;
}
.lobby-row-view-b .tab-info-block-b > ul > li{
    width: 100%;
    height: 76px;
    background: $skin-palette-8;
    margin: 0;
}
.lobby-row-view-b .tab-info-block-b > ul > li:nth-child(even){
    background: darken( desaturate( adjust-hue( $skin-palette-9, 3deg ), 12 ), 1 );
}
.lobby-row-view-b .tab-info-block-b > ul > li:hover{
    background: lighten( saturate( $brand-color-1, 1 ), 7 );
    .mini-name-lobby-b.name-b-dealer-b > h4, h3, .mini-name-lobby-b.limit-b-dealer-b > h4 {
        color: set-color(lighten( saturate( $brand-color-1, 1 ), 7 ));
    }
}
.lobby-row-view-b .tab-info-block-b > ul > li.disabled{
    pointer-events: none;
}
.lobby-row-view-b .tab-info-block-b > ul > li.disabled .contain-game-lobby-single{opacity: 0.4;}
.lobby-row-view-b .mini-name-lobby-b.gamers-b-dealer-b{display: none;}
.lobby-row-view-b .contain-game-lobby-single{display: table;}
.lobby-row-view-b .mini-row-contain-l .lobby-row-view-b{display: table-row;}
.lobby-row-view-b .mini-row-contain-l .view-box-contain-button{display: none;}
.lobby-row-view-b .tab-info-block-b > ul > li.disabled .mini-row-contain-l .view-box-contain-button{
    display: block;
    position: absolute;
    left: 335px;
    bottom: 10px;
}
.lobby-row-view-b .tab-info-block-b > ul > li.disabled .mini-name-lobby-b.name-b-dealer-b > h4{
    position: relative;
    top: -16px;
}
.lobby-row-view-b .mini-row-contain-l .title-single-b-lobby,
.lobby-row-view-b .mini-row-contain-l .dealers-name-box-b,
.lobby-row-view-b .mini-row-contain-l .view-button-lobby-view,
.lobby-row-view-b .mini-row-contain-l .numbers-view-s-lobby{
    display: inline-block;
    position: static;
    width: auto;
    background: none;
    vertical-align: middle;
}
.lobby-row-view-b .mini-row-contain-l .title-single-b-lobby{
    position: relative;
    padding: 0 0 0 53px;
    width: 260px;
    max-width: 260px;
}
.lobby-row-view-b .mini-row-contain-l .lang-lobby-view{
    right: auto;
    left: 15px;
    top: 26px;
}
.lobby-row-view-b .title-single-b-lobby > h3{
    font: 16px/76px $font-f;
    color: $text-palette-1;
    padding: 0 5px 0 0;
}
.lobby-row-view-b .mini-row-contain-l .dealers-name-box-b{
    width: 200px;
    max-width: 200px;
}
.lobby-row-view-b .mini-row-contain-l{padding: 0;}
.lobby-row-view-b .mini-name-lobby-b > p{display: none;}
.lobby-row-view-b .img-dealer-view{
    float: left;
    position: relative;
    width: 66px;
    height: 66px;
    background: $skin-palette-3;
    border-radius: 50%;
    top: 6px;
}
.lobby-row-view-b .img-dealer-view > img{
    max-width: 66px;
    max-height: 66px;
    border-radius: 50%;
}
.lobby-row-view-b .mini-name-lobby-b.name-b-dealer-b{
    width: calc(100% - 68px);
    padding: 0;
}
.lobby-row-view-b .mini-name-lobby-b.name-b-dealer-b > h4{
    line-height: 76px;
    color: $text-palette-1;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 0 0 10px;
}
.lobby-row-view-b .mini-name-lobby-b.limit-b-dealer-b{
    position: absolute;
    right: 0;
    width: 190px;
    top: 28px;
    text-align: center;
}
.lobby-row-view-b .mini-name-lobby-b.limit-b-dealer-b > h4{
    text-align: center;
    color: $text-palette-3;
    width: 100%;
}
.lobby-row-view-b .limits-select-box{
    float: none;
    display: inline-block;
}
.lobby-row-view-b .numbers-view-s-lobby > ul{
    margin: 22px 0 0;
}
.lobby-row-view-b .numbers-view-s-lobby > ul > li{
    padding: 0 4px;
}
//row view END


//multi game popup
.deposit-alert-contain.popup-multigame-b{
    background: $skin-palette-8;
    padding: 0;
    box-sizing: border-box;
    width: 960px;
    height: 624px;
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 0;
    top: calc((100% - 650px) / 2);
    position: absolute;
    left: calc((100% - 960px) / 2);
}
.popup-multigame-b .live-casino-tables{
    width: 960px;
    height: 535px;
}
.popup-multigame-b .tab-info-block-b > ul{padding-left: 15px;}
.popup-multigame-b .text-deposit-alert{
    background: none;
}
.deposit-alert-contain.popup-multigame-b .icon-delete{
    z-index: 99;
    top: 8px;
    @include ltr {
        right: 10px;
    }
    @include rtl {
        left: 10px;
    }
}
.deposit-alert-contain.popup-multigame-b .icon-delete a:before{
    content: "\e6ee";
    transition: color 200ms;
    color: $text-palette-5;
    font-size: 12px;
}
.deposit-alert-contain.popup-multigame-b .icon-delete:hover a:before{
    color: $skin-palette-2;
}
.popup-multigame-b .country-b .country-block-contain, .popup-multigame-b .virtual-modern .virtual-sports-tab{
    border-color: $skin-palette-12;
    width: 100% !important;
    padding: 0;
    height: auto;
    margin: 30px 0 0;
}
.deposit-alert-contain.popup-multigame-b .games-slider ul{height: 502px;}
.deposit-alert-contain.popup-multigame-b .Featured-casino-games{width: 960px;}
.popup-multigame-b .country-b.casino-popup{
    width: 100%;
    margin: 56px 0 0 0;
    height: 21px;
    background: none;
}
.deposit-alert-contain.popup-multigame-b  .Featured-casino-games .contein-slider h3{
    color: $text-palette-3;
    text-indent: -9999em;
    @include ltr {
        text-align: left;
    }
    @include rtl {
        text-align: right;
    }
}
.popup-multigame-b .country-b .country-block-contain ul li a{
    color: $text-palette-3;
}
.popup-multigame-b .casino-multisearch > span{display: none;}
.deposit-alert-contain.popup-multigame-b  .games-slider .no-games p{color: $text-palette-3;}
.livedealer .deposit-alert-contain.popup-multigame-b .Featured-casino-games .games-slider ul li .popular-game-name p a{color: $text-palette-2;}
.deposit-alert-contain.popup-multigame-b .games-slider .popular-game-name .fav-block a:before{color: $text-palette-2;}
.deposit-alert-contain.popup-multigame-b .casino-multisearch{
    width: 350px;
    top: 25px;
    @include ltr {
        right: 20px;
    }
    @include rtl {
        left: 20px;
    }
}
.deposit-alert-contain.popup-multigame-b .casino-multisearch:before{
    font: 16px/32px icomoon;
    display: block;
    position: absolute;
    top: 0;
    content: "\e6d4";
    color: $text-palette-4;
    @include ltr {
        right: 0;
    }
    @include rtl {
        left: 0;
    }
}
.deposit-alert-contain.popup-multigame-b .casino-multisearch input[type="search"]{
    background: none;
    border: none;
    border-bottom: 1px solid $skin-palette-6;
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    border-radius: inherit;
    color: $text-palette-2;
    position: relative;
    z-index: 33;
    transition: border 200ms;
}
.deposit-alert-contain.popup-multigame-b .casino-multisearch input[type="search"]:focus{
    border-color: $skin-palette-2;
}
.deposit-alert-contain.popup-multigame-b ul.countrylist{
    position: absolute;
    width: 290px;
    top: -28px;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid darken( desaturate( adjust-hue( $skin-palette-12, -8deg ), 1 ), 5 );
    border-bottom: transparent;
    border-radius: inherit;
    background: $skin-palette-8;
    padding: 0;
    z-index: 222;
    @include ltr {
        left: 20px;
    }
    @include rtl {
        right: 20px;
    }
}
.deposit-alert-contain.popup-multigame-b ul.countrylist:before{
    width: 30px;
    height: 30px;
    display: block;
    font: 16px/30px icomoon;
    top: 1px;
    position: absolute;
    text-align: center;
    content: "\e670";
    color: $text-palette-3;
    @include ltr {
        right: 0;
    }
    @include rtl {
        left: 0;
    }
}
.deposit-alert-contain.popup-multigame-b ul.countrylist:hover:before{
    content: "\e671";
}
.deposit-alert-contain.popup-multigame-b ul.countrylist li{
    width: 100%;
    box-sizing: border-box;
    max-width: inherit;
    @include ltr {
        margin: 0;
    }
    @include rtl {
        margin: 0;
    }
}
.popup-multigame-b .country-b .country-block-contain ul .contaien-country {
    float: left;
    width: 100%;
}
.popup-multigame-b .country-b .country-block-contain ul .contaien-country li:first-child{
    border: none;
    position: static;
    @include ltr {
        margin: 0;
    }
    @include rtl {
        margin: 0;
    }
}
.popup-multigame-b .country-b .country-block-contain ul .contaien-country{
    position: relative;
    top: 0;
    padding: 32px 0 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 400ms;
}
.deposit-alert-contain.popup-multigame-b ul.countrylist:hover .contaien-country{
    max-height: 300px;
}
.deposit-alert-contain.casino.popup-multigame-b .games-slider .all-games-casino-list ul{
    height: 424px;
}
.deposit-alert-contain.casino.popup-multigame-b .games-slider .all-games-casino-list ~ .load-more-news.multiview{
    background: transparent;
}
.deposit-alert-contain.casino.popup-multigame-b .load-more-news a p{color: $text-palette-4;}
.deposit-alert-contain.popup-multigame-b ul.countrylist li a{
    display: block;
    width: 100%;
    height: 32px;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px solid darken( desaturate( adjust-hue( $skin-palette-12, -8deg ), 1 ), 5 );
    box-sizing: border-box;
    line-height: 28px;
    text-transform: uppercase;
    transition: color 200ms;
    @include ltr {
        padding: 0 30px 0 10px;
    }
    @include rtl {
        padding: 0 10px 0 30px;
    }
}
.deposit-alert-contain.popup-multigame-b ul.countrylist li a:before{
    display: none;
}
.popup-multigame-b .country-b .country-block-contain ul li a.active{
    color: $text-palette-2;
    position: absolute;
    top: 0;
    left: 0;
    border-top: transparent;
    background: none;
}
.popup-multigame-b .country-b .country-block-contain ul li a:hover{
    color: $text-palette-2;
}
//multi game popup END