.depozit-block-icon ul li {
    background: $skin-palette-11;
    box-shadow: inset 0 0 0 1px lighten( saturate( adjust-hue( $skin-palette-11, -3deg ), 1 ), 2 );
    width: 116px;
    &.active, &.active-deposit, &:hover {
        div {
            box-shadow: inset 0 -1px 0 $hero-color;
        }
    }
}
@include payments("haypost", -22155, 100);
@include payments("skrill", -16, 50);
@include payments("skrillnew", -8209, 59);
@include payments("webmoney", -91, 61);
@include payments("DengiOnline_WebMoney", -91, 61);
@include payments("terminaluabet", -8076, 80);
@include payments("qiwi", -186, 22);
@include payments("paymasterqiwi", -186, 22);
@include payments("DengiOnline_QIWI", -20599, 97);
@include payments("neteller", -251, 60);
@include payments("netellermanual", -251, 60);
@include payments("netellernew", -251, 60);
@include payments("ukash", -342, 57);
@include payments("cash", -432, 44);
@include payments("ecocard", -4116 , 77);
@include payments("ecopayznew", -4116 , 77);
@include payments("aretopayeco", -4116 , 77);
@include payments("moneta", -583, 62);
@include payments("arca", -673, 47);
@include payments("arcanew", -673, 47);
@include payments("idramnew", -747, 63);
@include payments("edram", -747, 63);
@include payments("telcell", -839, 66);
@include payments("tandem", -929, 55);
@include payments("btabank", -1012, 63);
@include payments("megapay", -1099, 55);
@include payments("osmp", -1181, 63);
@include payments("mobidram", -2178, 65);
@include payments("yandex", -3244, 75);
@include payments("DengiOnline_LiqPay", -1868, 70);
@include payments("interkassa_liqpay", -1868, 70);
@include payments("DengiOnline_EasyPay", -1976, 52);
@include payments("centili", -1355, 80);
@include payments("skrill1tap", -1463, 73);
@include payments("astropay", -1668, 67);
@include payments("yandexinvois", -1771, 61);
@include payments("yandexcash", -2466, 62);
@include payments("paytopay", -1270, 54);
@include payments("yandexbank", -2274, 72);
@include payments("wirecardnew", -2378, 54);
@include payments("wirecard", -2378, 54);
@include payments("yandexprbank", -2570, 80);
@include payments("card", -3004, 80);
@include payments("screchcard", -3015, 58);
@include payments("unionpay", -2691, 47);
@include payments("pugglepay", -5527, 70);
@include payments("dotpay", -2912, 69);
@include payments("bankcardam", -2059, 89);
@include payments("astropaydirect", -3101, 79);
@include payments("safecharge", -3736 , 69);
@include payments("otopay", -3492, 73);
@include payments("toditocash", -3606, 80);
@include payments("cerbank", -3845, 33);
@include payments("bankform", -3921, 58);
@include payments("epro", -4009 , 63);
@include payments("papaya", -4231, 80);
@include payments("voucherapi", -4355, 67);
@include payments("ym", -3244, 75);
@include payments("wm", -91, 61);
@include payments("euroset", -4456 , 80);
@include payments("svyaznoy", -4564, 80);
@include payments("interkassa_svyaznoy", -4564, 80);
@include payments("megafon", -4691, 78);
@include payments("mts", -4812, 60);
@include payments("tele2", -4894, 80);
@include payments("alfaclick", -1771, 61);
@include payments("sberbank", -5013, 48);
@include payments("beeline", -5110, 38);
@include payments("polycoin", -5205, 75);
@include payments("easypay", -5373, 80);
@include payments("stoloto", -5682, 73);
@include payments("tucompra", -5811, 75);
@include payments("interkassa", -6411, 80);
@include payments("apcopay ", -6208, 35);
@include payments("apcopay2", -6063, 70);
@include payments("apcopay3", -6297, 79);
@include payments("interkassa_visa", -6542, 48);
@include payments("interkassa_master", -6638, 52);
@include payments("astropaystreamline1", -6746, 30);
@include payments("astropaystreamline2", -6802, 30);
@include payments("astropaystreamline3", -6862, 30);
@include payments("astropaystreamline4", -6941, 80);
@include payments("astropaystreamline5", -7076, 66);
@include payments("astropaystreamline6", -7199, 30);
@include payments("astropaystreamline7", -7261, 30);
@include payments("astropaystreamline8", -7331, 45);
@include payments("astropaystreamline9", -7400, 39);
@include payments("astropaystreamline10", -7467, 46);
@include payments("astropaystreamline11", -7545, 30);
@include payments("astropaystreamline12", -7598, 46);
@include payments("astropaystreamline13", -7667, 27);
@include payments("astropaystreamline14", -7727, 43);
@include payments("upaycard", -7808, 60);
@include payments("europayment", -3921, 58);
@include payments("coinbase", -8553, 30);
@include payments("paykasa", -8628, 64);
@include payments("mypek", -91, 61);
@include payments("dusupay", -8743, 90);
@include payments("payu", -8872, 81);
@include payments("safetypay", -9012, 93);
@include payments("interkassa_visa", -9169, 85);
@include payments("interkassa_master", -9304, 79);
@include payments("interkassa_webmoney", -9430, 117);
@include payments("interkassa_w1", -9608, 72);
@include payments("paystack", -9799, 65);
@include payments("interkassa_privat24", -9914, 98);
@include payments("interkassa_bitcoin", -10048, 89);
@include payments("interkassa_advcash", -10187, 99);
@include payments("interkassa_btce", -10323, 83);
@include payments("interkassa_ecoin", -10459, 80);
@include payments("interkassa_exmo", -10598, 99);
@include payments("interkassa_okpay", -10762, 92);
@include payments("interkassa_payeer", -10901, 91);
@include payments("interkassa_perfectmoney", -11022, 105);
@include payments("interkassa_swift", -11192, 29);
@include payments("interkassa_ukrterminal", -11262, 27);
@include payments("paysafecard", -11330, 102);
@include payments("tlnakit", -11481, 85);
@include payments("payeer", -11596, 85);
@include payments("pastabank", -11890, 100);
@include payments("DengiOnline_VisaMaster", -11890, 100);
@include payments("webpay", -15429, 94);
@include payments("entropay", -11738, 110);
@include payments("boletobancario", -12101, 60);
@include payments("tbl", -12195, 84);
@include payments("flutterwave", -12871, 100);
@include payments("triopay_privat24", -9914, 98);
@include payments("paymasterprivat24", -9914, 98);
@include payments("triopay_card_privat", -9914, 98);
@include payments("triopay_walletone", -12997, 41);
@include payments("triopay_nixmoney", -13074, 50);
@include payments("triopay_okpay", -10762, 92);
@include payments("triopay_payeer", -10901, 91);
@include payments("triopay_qiwi", -186, 22);
@include payments("interkassa_qiwi", -186, 22);
@include payments("triopay_paxum", -13148, 33);
@include payments("triopay_alfaclick", -13206, 44);
@include payments("triopay_comepay", -13272, 32);
@include payments("triopay_terminal", -13329, 35);
@include payments("triopay_yandex", -13393, 40);
@include payments("triopay_tele2", -13462, 48);
@include payments("triopay_megafon", -4691, 78);
@include payments("triopay_mts", -4812, 60);
@include payments("triopay_mastercard", -6649, 41);
@include payments("paymastercards", -6649, 41);
@include payments("triopay_visa", -6542, 48);
@include payments("paymastervisa", -6542, 48);
@include payments("triopay_beeline", -5110, 38);
@include payments("triopay_webmoney", -8076, 80);
@include payments("paymasterwebmoney", -8076, 80);
@include payments("triopay_epayments", -13537, 50);
@include payments("triopay_perfectmoney", -13615, 38);
@include payments("triopay_sberbankonline", -5013, 48);
@include payments("okpay", -10762, 92);
@include payments("paybox", -14899, 72);
@include payments("quickpay", -14350, 56);
@include payments("wooppay", -14101, 96);
@include payments("kaspi", -14562, 105);
@include payments("ips", -2063, 90);
@include payments("skrilltrustly", -15016, 97);
@include payments("entercash", -20099, 100);
@include payments("enterpay", -16009, 100);
@include payments("bankform8", -15649, 61);
@include payments("bankform9", -15769, 61);
@include payments("payzwin", -16155, 99);
@include payments("vcreditos", -16280, 74);
@include payments("wechat", -12025, 47);
@include payments("ccpay", -2063, 72);
@include payments("paykwik", -16556, 100);
@include payments("start2pay", -16816, 100);
@include payments("pagoefectivo", -17618, 34);
@include payments("arkadasina", -17885, 58);
@include payments("gidx", -13715, 90);
@include payments("jeton", -18693, 90);
@include payments("alipay", -18821, 58);
@include payments("yandexsberbank", -19656, 100);
@include payments("sofort", -19789, 100);
@include payments("hipay", -20735, 66);
@include payments("payostar", -20228, 97);
@include payments("vouchermoney", -20362, 58);
@include payments("gpaysafe", -20842, 100);
@include payments("moneywave", -20969, 100);
@include payments("skrillrapidtransfer", -21277, 90);
@include payments("purplepay", -21581, 100);
@include payments("cubits", -21710, 100);
@include payments("cubits_channel", -21710, 100);
@include payments("ecovoucher", -22018, 100);