/*.body-wrapper.poolbetting {
    background: #121622;
}
.body-wrapper.poolbetting.modern {
    background: none;
}*/
.classic-poolbetting-wrap {
  float: left;
  width: 100%;
  margin: 43px 0 0 0;
  background: #121622 url(../../../images/backgrounds/pool-betting-bg.jpg#{$delete-cache}) center top no-repeat;
  background-size: 100%;
}
.classic-poolbetting {
  max-width: 1310px;
  width: 100%;
  margin: 15px auto 0;
}
.classic-poolbetting,
.classic-poolbetting * {
  box-sizing: border-box;
}
.classic-poolbetting > div {
  width: calc(100% + 20px);
  background: url(../../../images/backgrounds/pool-betting-bg.png#{$delete-cache}) center top no-repeat;
  background-color: #121623;
  border-radius: 6px;
  float: left;
  padding: 10px;
  margin: 0 0 40px -10px;
}
.classic-poolbetting .pbetting-main-j {
  float: left;
  width: calc(100% - 440px);
}
.classic-poolbetting .pbetting-right-j {
  width: 430px;
  float: right;
}
.classic-poolbetting .head-pbetting-j {
  height: 90px;
  width: 100%;
  float: left;
  margin: 5px 0 0 0;
  position: relative;
}
.pbetting-betslip-j {
  width: 100%;
  float: left;
  color: #c2c5cd;
  margin: 0 0 10px 0;
}
.pbetting-betslip-j > p {
  background-color: #2e323e;
  height: 45px;
  min-width: 90px;
  padding: 0 16px;
  float: left;
  border-radius: 5px 5px 0 0;
  font: bold 14px / 45px $font-f;
  text-align: center;
  text-transform: uppercase;
}
.pbetting-betslip-j .popuplinks-j {
  text-decoration: none;
  display: block;
  float: right;
  color: #7b8191;
  font: normal 14px /16px $font-f;
  border-bottom: 1px solid #7b8191;
  margin: 13px 0 0 0;
}
.pbetting-betslip-j .popuplinks-j:first-of-type {
  margin: 13px 17px 0 26px;
}
.pb-bslip-options-wrap-j {
  border-radius: 0 5px 5px 5px;
  background-color: #2e323e;
  width: 100%;
  float: left;
  padding: 15px;
}
.pb-bslip-options-wrap-j > ul {
  width: 100%;
  float: left;
}
.pb-bslip-options-wrap-j > ul > li {
  display: block;
  width: 100%;
  float: left;
  color: #7b8191;
  font: normal 14px/16px $font-f;
}
.pb-bslip-options-wrap-j .use-points-j {
  float: left;
  cursor: pointer;
  position: relative;
  margin: 5px 0 0 2px;
}
.pb-bslip-options-wrap-j .use-points-j input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.pb-bslip-options-wrap-j .use-points-j i {
  float: left;
  display: block;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: #222735;
  position: relative;
}
.pb-bslip-options-wrap-j .use-points-j input[type="checkbox"]:checked + i:before {
  content: '\e6f3';
  font: 7px/16px icomoon;
  height: 7px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 4px;
  color: #f3f3f5;
}
.pb-bslip-options-wrap-j .use-points-j span {
  margin: 0 0 0 6px;
}
.pb-bslip-options-wrap-j .highlighted-j {
  font-size: 12px;
  margin: 3px 0 0;
}
.pb-bslip-options-wrap-j .highlighted-j p {
  float: left;
  color: #c2c5cd;
  margin: 0 3px 0 0;
}
.pbetting-main-j h1 {
  float: left;
  color: #c2c5cd;
  font: 700 18px / 20px $font-f;
  text-transform: uppercase;
  margin: 0 0 0 14px;
}
.pbetting-main-j .clock-j {
  color: #7b8191;
  font: normal 18px / 20px $font-f;
  float: left;
  margin: 0 0 0 10px;
}
.pbetting-main-j h2 {
  color: $hero-color;
  font: normal 32px / 31px $font-f;
  width: 100%;
  float: left;
  margin: 8px 0 0 15px;
}
.pbetting-main-j .promo-box-j {
  float: right;
  height: 65px;
  color: #c2c5cd;
  overflow: hidden;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #2e323e;
  font: normal 12px / 14px $font-f;
}
.pbetting-main-j .promo-box-j p {
  font-size: 24px;
  line-height: 30px;
}
.pbetting-main-j .promo-box-j > li {
  float: left;
  display: block;
  height: 100%;
  padding: 11px 16px 0;
}
.pbetting-main-j .promo-box-j > li.hero-j {
  background-color: darken(desaturate($hero-color, 1), 7);
}
.pbetting-list-j {
  width: 100%;
  float: left;
}
.rand-fav-wrap-j {
  background-color: rgba(18, 22, 35, 0.5);
  height: 45px;
  border-radius: 5px 5px 0 0;
  padding: 10px;
}
.rand-fav-wrap-j > span {
  color: #7b8191;
  font: 700 14px / 20px $font-f;
  text-indent: 4px;
  display: block;
  float: left;
}
.rand-fav-wrap-j button {
  display: block;
  float: right;
  height: 24px;
  padding: 0 7px 0 26px;
  position: relative;
  border-radius: 3px;
  border: 1px solid #7b8191;
  color: #7b8191;
  background: none;
  transition: 200ms background, 200ms color, 200ms border-color;
  text-transform: uppercase;
  margin: 0 0 0 6px;
  font-size: 11px;
  outline: 0;
  cursor: pointer;
}
.rand-fav-wrap-j button:hover,
.rand-fav-wrap-j button.active {
  background-color: #1a7051;
  border-color: #1a7051;
  color: #f3f3f5;
}
.rand-fav-wrap-j button.fav-choice-j:before {
  content: "\e6df";
  font: 14px icomoon;
  color: $hero-color;
  display: block;
  position: absolute;
  top: 4px;
  left: 5px;
}
.rand-fav-wrap-j button.rand-choice-j:before {
  content: "\e6ea";
  font: 14px icomoon;
  display: block;
  position: absolute;
  top: 4px;
  left: 6px;
}
.pbetting-right-j .pb-bs-box-j {
  width: 100%;
  float: left;
}
.pbetting-right-j .pb-bs-box-j a {
  text-decoration: none;
  display: block;
}
.pbetting-right-j .pb-bs-box-j a img {
  display: block;
  max-width: 100%;
  height: auto;
}
.classic-poolbetting .dropdown-small-j {
  float: right;
  margin: 3px 10px 0 0;
  position: relative;
}
.classic-poolbetting .dropdown-small-j:before {
  content: "\e674";
  font: 18px icomoon;
  position: absolute;
  right: 3px;
  top: calc((100% - 18px) / 2);
  height: 12px;
  color: #f3f3f5;
  z-index: 20;
}
.classic-poolbetting .dropdown-small-j > span {
  float: left;
  display: block;
  color: #7b8191;
  font: normal 11px/24px $font-f;
  margin: 0 10px 0 0;
}
.classic-poolbetting .dropdown-small-j > div {
  min-width: 138px;
  height: 24px;
  border-radius: 3px;
  background-color: #212532;
  float: left;
  position: relative;
}
.classic-poolbetting .dropdown-small-j > div > span {
  color: #c2c5cd;
  font: normal 12px/24px $font-f;
  display: inline-block;
  height: 100%;
  padding: 0 24px 0 8px;
}
.classic-poolbetting .dropdown-small-j > div.active > ul {
  display: inline-block;
}
.classic-poolbetting .dropdown-small-j > div > ul {
  display: none;
  position: absolute;
  min-width: 138px;
  padding: 2px 8px;
  top: 100%;
  right: 0;
  list-style: none;
  margin: 1px 0 0 0;
  background: #212532;
  border-radius: 3px;
}
.classic-poolbetting .dropdown-small-j > div > ul > li {
  font: normal 12px/22px $font-f;
  color: #c2c5cd;
  border-bottom: 1px solid #2A2F3C;
  cursor: pointer;
  transition: 200ms color;
  position: relative;
}
.classic-poolbetting .dropdown-small-j > div > ul > li:hover {
  color: #f3f3f5;
}
.classic-poolbetting .dropdown-small-j > div > ul > li:last-child {
  border: 0;
}
.classic-poolbetting .dropdown-small-j > div > ul > li.active-format {
  color: $hero-color;
}
.classic-poolbetting .dropdown-small-j > div > ul > li.active-format:before {
  display: none;
}
.pbetting-compitation-group-j {
  width: 100%;
  float: left;
  margin: 0 0 3px 0;
}
.pbetting-compitation-group-j .title {
  height: 36px;
  background-color: #2e323e;
  color: #c2c5cd;
  border-radius: 5px 5px 0 0;
  margin: 0 0 4px 0;
  position: relative;
}
.pbetting-compitation-group-j .title:before {
  content: '';
  height: 2px;
  display: block;
  width: 100%;
  bottom: -3px;
  left: 0;
  position: absolute;
  background: $hero-color;
}
.pbetting-compitation-group-j .title > ul > li {
  width: calc(100% - 327px);
  float: left;
  display: block;
}
.pbetting-compitation-group-j .title .event-pbetting-j {
  width: 108px;
  margin: 0 0 0 1px;
  text-align: center;
  font: normal 12px/40px $font-f;
}
.pbetting-compitation-group-j .title p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 10px);
  float: left;
  font: 700 14px/36px $font-f;
  margin: 0 0 0 10px;
  padding: 0 0 0 26px;
  position: relative;
}
.pbetting-compitation-group-j .title p .icon-j {
  position: absolute;
  top: 12px;
  left: 0;
  color: #e6e6e6;
}
.pbetting-compitation-group-j .pbetting-row {
  list-style: none;
  width: 100%;
  float: left;
  margin: 0 0 1px 0;
  height: 32px;
  overflow: hidden;
  font: 700 12px/32px $font-f;
  color: #7b8191;
}
.pbetting-compitation-group-j .pbetting-row > li {
  width: calc(100% - 327px);
  float: left;
  background-color: #2e323e;
}
.pbetting-compitation-group-j .pbetting-row .event-pbetting-j {
  width: 108px;
  margin: 0 0 0 1px;
  position: relative;
}
.pbetting-list-data-j {
  display: table;
  table-layout: fixed;
  width: 100%;
  float: left;
  height: 100%;
}
.pbetting-list-data-j > p {
  display: table-cell;
  vertical-align: middle;
}
.pbetting-list-data-j > p.time-j {
  width: 78px;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  text-transform: capitalize;
  padding: 0 10px;
}
.pbetting-list-data-j > p.additional-market-j {
  width: 36px;
  text-align: center;
}
.pbetting-list-data-j > p.additional-market-j a {
  text-decoration: none;
  color: $hero-color;
  font: 20px $font-f;
}
.pbetting-list-data-j > p.pb-compitation-name-j {
  color: #c2c5cd;
}
.pbetting-list-data-j > p.pb-compitation-name-j > span {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pbetting-list-data-j > p:nth-child(2).pb-compitation-name-j {
  text-align: right;
  direction: rtl;
}
.pbetting-list-data-j > p.pbetting-list-vs-j {
  width: 50px;
  text-align: center;
}
.pbetting-label-j {
  float: left;
  width: 100%;
  height: 32px;
  display: block;
  cursor: pointer;
}
.pbetting-label-j div {
  float: left;
  width: 100%;
  height: 100%;
  transition: 200ms background, 200ms color;
  padding: 0 10px 0 9px;
  color: #aa8136;
}
.pbetting-label-j:hover div,
.pbetting-label-j:hover input[type="checkbox"]:checked + div {
  color: #c2c5cd;
  background-color: #505767;
}
.pbetting-label-j:hover div i {
  background-color: #2e323e;
}
.pbetting-label-j input[type="checkbox"] {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.pbetting-label-j input[type="checkbox"]:checked + div {
  background-color: #3f4553;
  color: #ffffff;
}
.pbetting-label-j input[type="checkbox"]:checked + div i {
  background-color: #2e323e;
}
ul.pbetting-row.complete .pbetting-label-j input[type="checkbox"]:checked + div {
  background-color: #1a7051;
  color: #ffffff;
}
ul.pbetting-row.complete .pbetting-label-j input[type="checkbox"]:checked + div i {
  background-color: #18463e;
}
.pbetting-label-j input[type="checkbox"]:checked + div i:before {
  content: '\e6f3';
  font: 7px/16px icomoon;
  height: 7px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 4px;
}
.pbetting-label-j span {
  float: right;
  display: block;
  width: calc(100% - 22px);
  text-align: right;
}
.pbetting-label-j i {
  height: 16px;
  width: 16px;
  display: block;
  float: left;
  border-radius: 3px;
  background-color: #212532;
  transition: 200ms background;
  margin: 8px 0 0;
  position: relative;
}
.pbetting-betslip-j .input-wrap-j input,
.pbetting-betslip-j .input-wrap-j button {
  width: calc(50% - 5px);
  height: 48px;
  border-radius: 5px;
  border: 1px solid;
  display: block;
  float: left;
  margin: 12px 0 0 0;
  transition: 200ms color, 200ms background, 200ms border;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pbetting-betslip-j .input-wrap-j button {
  float: right;
  background-color: #1a7051;
  border-color: #1a7051;
  color: #ffffff;
  cursor: pointer;
  font: normal 18px $font-f;
}
.pbetting-betslip-j .input-wrap-j button:hover {
  background-color: $hero-color;
  border-color: $hero-color;
}
.pbetting-betslip-j .input-wrap-j button:disabled {
  cursor: default;
  background-color: #3f4553;
  border-color: #3f4553;
  color: #7b8191;
}
.pbetting-betslip-j .input-wrap-j input {
  padding: 0 17px;
  color: #c2c5cd;
  font: normal 18px $font-f;
  background-color: #212532;
  border-color: #212532;
}
.pbetting-betslip-j .input-wrap-j input:focus {
  outline: 0;
  border-color: #3D424E;
}
.pbetting-betslip-j .input-wrap-j input::-webkit-input-placeholder {
  color: #7b8191;
}
.pbetting-betslip-j .input-wrap-j input:-moz-placeholder {
  color: #7b8191;
}
.pbetting-betslip-j .input-wrap-j input::-moz-placeholder {
  color: #7b8191;
}
.pbetting-betslip-j .input-wrap-j input:-ms-input-placeholder {
  color: #7b8191;
}
.pbetting-betslip-j .pool-stake-box ul li span {
  color: #c2c5cd;
  &.underline {
    border-bottom: 1px solid #c2c5cd;
    color: #FFF;
  }
}
@media screen and (max-width: 1260px) {
  .classic-poolbetting {
    width: 980px;
  }
  .classic-poolbetting .pbetting-right-j {
    width: 320px;
  }
  .classic-poolbetting .pbetting-main-j {
    width: calc(100% - 330px);
  }
  .pbetting-compitation-group-j .pbetting-row .event-pbetting-j,
  .pbetting-compitation-group-j .title .event-pbetting-j {
    width: 84px;
  }
  .pbetting-compitation-group-j .pbetting-row > li,
  .pbetting-compitation-group-j .title > ul > li {
    width: calc(100% - 255px);
  }
}

@media screen and (max-width: 1000px) {
  .classic-poolbetting {
    overflow: hidden;
  }
}

// All draws
.all-draws-classic {
  width: 884px;
  max-height: 506px;
  padding: 7px;
  background-color: #121623;
  box-sizing: border-box;
  margin: 14px auto;
  border-radius: 5px;
  * {
    box-sizing: border-box;
  }
}
.all-draws-classic .all-title-j {
  float: left;
  width: 100%;
  height: 36px;
  border-radius: 5px 5px 0 0;
  background-color: #3f4553;
  margin: 0 0 5px 0;
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    background: $hero-color;
    bottom: -2px;
  }
}
.all-draws-classic .all-title-j li {
  display: block;
  float: left;
  text-align: center;
  color: #f3f3f5;
  font: 700 14px / 36px Arial;
  margin-right: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
li.draw-col-j {
  width: 143px;
}
li.date-col-j {
  width: 120px;
}
li.state-col-j {
  width: 110px;
}
li.jackpot-col-j {
  width: 115px;
}
li.pool-col-j {
  width: 80px;
}
li.prize-col-j {
  width: 129px;
}
li.tickets-col-j {
  width: 160px;
}
.all-draws-classic-list {
  float: left;
  width: 100%;
  height: 100%;
  max-height: 492px;
  @include scroll;
  ul {
    float: left;
    width: 100%;
    &:nth-child(odd) li {
      background: #2e323e;
    }
    &:last-child li {
      margin-bottom: 0;
    }
    li {
      float: left;
      height: 32px;
      margin: 0 1px 1px 0;
      display: block;
      text-align: center;
      background: #353844;
      font: bold 12px/32px $font-f;
      color: #c2c5cd;
      transition: background 250ms, color 250ms;
      span {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        p {
          display: inline-block;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      &.draw-col-j {
        cursor: pointer;
      }
      &.draw-col-j:hover {
        background: $brand-color-1;
        color: #f3f3f5;
      }
    }
  }
}
.all-draws-contain .pbetting-label-j span{
  width: 100%;
  white-space: nowrap;
  text-align: center;
}
.all-draws-contain .pbetting-label-j:hover div{
  background: transparent;
  cursor: default;
}
.all-draws-classic .all-title-j .single-draw-title-j {
  padding: 0 0 0 20px;
}
.all-draws-classic .all-title-j .back-to-list-j {
  margin: 0;
  float: right;
  button {
    display: block;
    float: left;
    height: 20px;
    margin: 8px 0;
    cursor: pointer;
    border: 1px solid #7b8191;
    border-radius: 3px;
    background: none;
    color: #c2c5cd;
    font: 11px $font-f;
    padding: 0 12px;
    text-transform: uppercase;
    transition: background 250ms, color 250ms, border-color 250ms;
    &:hover {
      border-color: $brand-color-1;
      background: $brand-color-1;
      color: set-color($brand-color-1);
    }
  }
}
.all-draws-classic .prev-j, .all-draws-classic .next-j {
  display: block;
  float: left;
  text-decoration: none;
  width: 30px;
  cursor: pointer;
  height: 36px;
  text-align: center;
  font: 12px/36px icomoon;
  color: #7b8191;
}
.all-draws-classic .prev-j:before {
  content: "\e66f";
}
.all-draws-classic .next-j:before {
  content: "\e672";
}
.draw-info-j {
  height: 89px;
  width: 100%;
  float: left;
  margin: 0 0 5px 0;
  padding: 14px 20px 15px;
  background: #212532;
  > li {
    float: left;
    height: 100%;
    width: 150px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    background: #2e323e;
    padding: 0 15px;
    text-align: center;
    color: #c2c5cd;
    font: 12px/14px $font-f;
    &:last-child {
      margin: 0;
    }
    &.min-jackpot-j {
      width: 225px;
      background: $hero-color;
      text-align: left;
      & + li {
        width: 135px;
      }
    }
    > p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin: 11px 0 0;
      float: left;
      width: 100%;
      &:last-child {
        font: 18px/20px $font-f;
        margin: 4px 0 0;
      }
    }
  }
}
.classic-draws-scroll-contain {
  max-height: 282px;
  float: left;
  width: 100%;
  @include scroll($scroll: auto);
  .pbetting-compitation-group-j:last-of-type {
    margin: 0;
  }
}
.single-draw-classic-statistic {
  float: left;
  width: 100%;
  margin: 0 0 5px;
  max-height: 193px;
  @include scroll($scroll: auto);
  ul {
    float: left;
    width: 100%;
    &.title-j {
      background: #3f4553;
      margin-bottom: 1px;
      li {
        margin-bottom: 0;
        background: none;
      }
    }
    &:last-child li {
      margin-bottom: 0;
    }
    li {
      float: left;
      width: calc(100% / 6 - 1px);
      margin: 0 1px 1px 0;
      background: #353844;
      height: 32px;
      text-align: center;
      color: #f3f3f5;
      font: 12px/32px $font-f;
      &:last-child {
        margin-right: 0;
        width: calc(100% / 6);
      }
      &:first-child {
        font-weight: bold;
      }
    }
  }
}