$skin-palette-8: $skin-palette-8 !default;
.date-picker-b{
    float: left;
    margin: 0;
    width: 100%;
}
.input-group{
    float: left;
    width: 100%;
    position: relative;
}
.input-group ul{
    position: absolute;
    top: 46px !important;
    z-index: 9999;
    display: inline-block;
    @include ltr {
        left: auto !important;
        right: 0 !important;
    }
    @include rtl {
        left: 0 !important;
        right: auto !important;
    }
}
.input-group ul li:nth-child(2){display: none;}
.input-group ul > li:first-child{display: inline-block;}
.input-group ul:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 8px 6px;
    position: absolute;
    top: -8px;
    z-index: 22;
    @include ltr {
        right: 10px;
    }
    @include rtl {
        left: 10px;
    }
}
.input-group .dropdown-menu table {
    min-width: 224px;
    border-radius: 3px;
    overflow: hidden;
}
.input-group .dropdown-menu table[ng-switch-when="month"] tr td {
    width: 33.3333%;
}
.input-group .dropdown-menu table[ng-switch-when="year"] tr td {
    width: 20%;
}
.input-group .dropdown-menu table tr:first-child th{
    height: 30px;
    vertical-align: middle;
}
.input-group .dropdown-menu table tr:first-child th:first-child,
.input-group .dropdown-menu table tr:first-child th:last-child{
    min-width: 30px;
    width: 30px;
}
.input-group .dropdown-menu table tr th:first-child .btn-sm {
    float: left;
}
.input-group .dropdown-menu table tr th:last-child .btn-sm {
    float: right;
}
.input-group .dropdown-menu table tr td .btn-default{
    min-width: 30px;
    height: 30px;
}
.dropdown-menu table tr td .btn-default[disabled="disabled"],
.dropdown-menu table tr td .btn-default[disabled="disabled"]:hover,
.dropdown-menu table tr td .btn-default.active[disabled="disabled"],
.dropdown-menu table tr td .btn-default.active[disabled="disabled"]:hover{
    text-indent: -9999em;
    background: none;
}
.input-group .dropdown-menu table tr th .btn-sm{
    width: 30px;
    height: 30px;
}
.input-group .dropdown-menu table tr:nth-child(2) th{
    text-align: center;
    height: 20px;
    vertical-align: middle;
}
.input-group .dropdown-menu table tr th .pull-left:before,
.input-group .dropdown-menu table tr th .pull-right:after{
    position: absolute;
    top: 1px;
    @include ltr {
        left: 0;
    }
    @include rtl {
        right: 0;
    }
}
.date-p:before{
    position: absolute;
    top: calc(50% - 9px);
    left: 6px;
}
.date-view{
    height: 36px;
    width: 30px;
    position: relative;
    border: 0;
    @include ltr {
        float: left;
        padding: 0;
        border-radius: 0 5px 5px 0;
    }
    @include rtl {
        float: right;
        padding: 0 14px 0 0;
        border-radius: 5px 0 0 5px;
    }
}
.form-control{
    height: 36px;
    box-sizing: border-box;
    width: calc(100% - 30px);
    border: 0;
    @include ltr {
        float: left;
        padding: 0 0 0 14px;
        border-radius: 5px 0 0 5px;
    }
    @include rtl {
        float: right;
        padding: 0 14px 0 0;
        border-radius: 0 5px 5px 0;
    }
}
.results-center-ba-j {
    float: left;
    width: 100%;
    height: 108px;
    background: url(../../../images/backgrounds/results-header.jpg#{$delete-cache}) no-repeat 50% 50% / cover;
    background-clip: content-box;
    padding: 0 0 2px;
    box-shadow: 0 3px 0 $hero-color;
}
.results-center-ba-j h4 {
    display: block;
    float: left;
    width: 100%;
    text-transform: uppercase;
    box-sizing: border-box;
    @include ltr {
        padding: 68px 0 0 14px;
    }
    @include rtl {
        padding: 68px 14px 0 0;
    }
}
.results-table-j {
    float: left;
    width: 100%;
    overflow: hidden;
}
.results-table-j table {
    width: calc(100% + 4px);
    border-collapse: separate;
    border-spacing: 2px 1px;
    margin: 0 0 20px -2px;
    table-layout: fixed;
}
.results-table-j table .icon-arrow-down5-j-sort {
    display: inline-block;
    font-family: 'icomoon';
    vertical-align: baseline;
    @include ltr {
        margin: 0 8px 0 0;
    }
    @include rtl {
        margin: 0 0 0 8px;
    }
}
.results-table-j table .icon-arrow-down5-j-sort:before {
    content: "\e670";
}
.results-table-j table .icon-arrow-down5-j-sort.up-j-icon:before {
    content: "\e671";
}
.results-table-j table tr td, .results-table-j table tr th {
    padding: 0 10px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    @include ltr {
        text-align: left;
    }
    @include rtl {
        text-align: right;
    }
}
.results-table-j table tr td > div, .results-table-j table tr th > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.results-table-j table tr td:first-child, .results-table-j table tr th:first-child {width: 18%;}
.results-table-j table tr td:nth-child(2), .results-table-j table tr th:nth-child(2) {width: 36%;}
.results-table-j table tr td:nth-child(2), .results-table-j table tr th:nth-child(3) {width: 36%;}
.results-table-j table tr td:last-child, .results-table-j table tr th:nth-child(4) {width: 20%;}
.results-table-j ul{
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    background-color: $skin-palette-7;
    position: relative;
    overflow: hidden;
}
.results-table-j ul:before{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background: $skin-palette-8;
    z-index: 22;
}
.results-table-j ul li{
    box-sizing: border-box;
    width: 50%;
    padding: 0 10px;
    background-color: $skin-palette-7;
    margin: 0;
    color: $text-palette-3;
    box-shadow: 0 1px 0 $skin-palette-8 inset;
    @include ltr {
        float: left;
    }
    @include rtl {
        float: right;
    }
}
.results-table-j ul li:first-child, .results-table-j ul li:nth-child(2){
    box-shadow: none;
}
.results-table-j ul li:only-child {
    width: 100%;
}
.results-table-j ul li span{
    padding-left: 5px;
    color: map-get($coeff-color-map, classic);
}
.results-table-j td.result-details{
    padding: 10px;
    background-color: $skin-palette-6;
}
.results-table-j td.result-details .md-progress-circular{
    position: relative;
    top: 0;
    left: 0;
    margin: 20px auto !important;
}
.j-relative {position: relative;}
.j-absol-ovhid {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.todays-results-j {
    float: left;
    width: 100%;
}
.results-header-j {
    float: left;
    width: 100%;
}
.results-header-j h2 {
    display: block;
    @include ltr {
        float: left;
        padding: 12px 0 13px 18px;
    }
    @include rtl {
        float: right;
        padding: 12px 18px 13px 0;
    }
}
.todays-results-j > ul {
    float: left;
    width: calc( 100% - 20px );
    padding: 4px 10px;
}
.todays-results-j > ul > li {
    padding: 5px 7px;
    display: block;
    float: left;
    width: calc( 100% - 14px);
}
.todays-results-j > ul > li:last-child {
    border: 0;
    box-shadow: none;
}
.navigation-of-results-j {
    float: left;
    width: 100%;
    display: table;
    box-sizing: border-box;
    padding: 17px 10px 28px;
}
.results-table-cell-j {
    display: table-cell;
    width: 100%;
    vertical-align: bottom;
}
.results-table-cell-j.button-container-j {
    width: 1%;
    vertical-align: bottom;
    white-space: nowrap;
    @include ltr {
        padding: 0 0 0 8px;
    }
    @include rtl {
        padding: 0 8px 0 0;
        transform: translate3d(0,0,0);
    }
}
.button-container-j button {
    height: 36px;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    font-family: $font-f;
    font-size: 7 + $size-font;
    font-weight: normal;
    padding: 0 20px;
    transition: 300ms color, 300ms background;
    &:disabled {
        pointer-events: none;
        background: $form-elements-bg;
        color: rgba(set-color($form-elements-bg), 0.2);
    }
}
.navigation-of-results-j ul.search-tabs-conatiner {
    float: left;
    width: 100%;
    display: table;
    table-layout: fixed;
    .search-by-team-name.loading:after {
        @include ltr {
            left: auto;
            right: 6px;
        }
        @include rtl {
            left: 6px;
        }
    }
}
.search-tabs-conatiner > li {
    display: table-cell;
    vertical-align: top;
    width: 1%;
    height: 60px;
    position: relative;
    box-sizing: border-box;
    padding: 0 8px;
}
.search-tabs-conatiner label {
    display: block;
    width: 100%;
    float: left;
    height: 100%;
}
.search-tabs-conatiner h5 {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.results-select-j {
    height: 36px;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.results-select-j:before {
    content: "\e674";
    font: 18px icomoon;
    position: absolute;
    top: calc((100% - 18px) / 2);
    height: 12px;
    @include ltr {
        right: 14px;
    }
    @include rtl {
        left: 14px;
    }
}
.results-select-j select {
    display: block;
    width: calc(100% + 24px);
    height: 100%;
    background: transparent;
    border: 0;
    position: relative;
    box-sizing: border-box;
    z-index: 50;
    @include ltr {
        float: left;
        padding: 0 39px 0 14px;
    }
    @include rtl {
        float: right;
        padding: 0 14px 0 39px;
    }
}
.search-tabs-conatiner{
    .team-name-i{
        background: $form-elements-bg;
        height: 36px;
        float: left;
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 0 14px;
        border: none;
        color: $text-palette-4;
        font-size: 12px;
        line-height: 14px;
    }
}
.input-group ul:before{
    border-color: transparent transparent $skin-palette-8 transparent;
}
.input-group .dropdown-menu table {
    background: $skin-palette-8;
    box-shadow: 0 0 0 3px rgba(0,0,0,0.2);
    border-radius: 0;
}
.input-group .dropdown-menu table tr th{
    background: $skin-palette-8;
}
.input-group .dropdown-menu table tr:first-child th{
    background: $skin-palette-8;
}
.input-group .dropdown-menu table tr td .btn-default{
    background: none;
    border-right: 1px solid darken( adjust-hue( $skin-palette-8, 4deg ), 8 );
    border-bottom: 1px solid darken( adjust-hue( $skin-palette-8, 4deg ), 8 );
    border-top: 1px solid lighten( desaturate( adjust-hue( $skin-palette-8, 1deg ), 7 ), 4 );
    border-left: 1px solid lighten( desaturate( adjust-hue( $skin-palette-8, 1deg ), 7 ), 4 );
    color: $text-palette-4;
    font-size: 6 + $size-font;
    line-height: 12px;
}
.date-picker-b .dropdown-menu table tr td .btn-default[disabled="disabled"],
.date-picker-b .dropdown-menu table tr td .btn-default[disabled="disabled"]:hover{
    cursor: default;
    text-indent: 0;
    color: $text-palette-4;
    opacity: 0.4;
}
.dropdown-menu table tr td .btn-default:hover{
    background: darken( $skin-palette-8, 4 );
}
.dropdown-menu table tr td .btn-default.active,
.dropdown-menu table tr td .btn-default.active:hover{
    background: $hero-color;
    color: set-color($hero-color);
    border-right-color: darken($hero-color, 10);
    border-bottom-color: darken($hero-color, 10);
    border-top-color: lighten($hero-color, 10);
    border-left-color: lighten($hero-color, 10);
}
.input-group .dropdown-menu table tr th .btn-sm{
    background: none;
    border: none;
    color: $text-palette-4;
    font-size: 6 + $size-font;
    line-height: 30px;
    position: relative;
}
.input-group .dropdown-menu table tr:nth-child(2) th{
    font-weight: $style-text;
    color: $text-palette-4;
    font-size: 6 + $size-font;
    line-height: 12px;
    text-align: center;
}
.input-group .dropdown-menu table tr th .pull-left:before{
    left: 6px;
    font: 18px/30px "icomoon";
    @include ltr {
        content: "\e673";
    }
    @include rtl {
        content: "\e676";
    }
}
.input-group .dropdown-menu table tr th .pull-right:after{
    right: 0;
    font: 18px/30px "icomoon";
    @include ltr {
        content: "\e676";
    }
    @include rtl {
        content: "\e673";
    }
}
.date-p:before{
    font: 12px/18px "icomoon";
    content: "\e907";
    color: $text-palette-4;
}
.date-view{background: $form-elements-bg;}
.form-control{
    background: $form-elements-bg;
    color: $text-palette-4;
    font-size: 6 + $size-font;
    line-height: 14px;
}
.no-result-to-show-j {
    float: left;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    font-size: 26 + $size-font;
    line-height: 34px;
    color: $text-palette-4;
    box-shadow: none;
}
.results-center-ba-j h4 {
    font-size: 18 + $size-font;
    line-height: 26px;
    font-weight: $style-text;
    color: #ffffff;
}
.results-table-j table {
    color: $text-palette-2;
    font-size: 7 + $size-font;
    line-height: 16px;
}
.results-table-j table tr td, .results-table-j table tr th {
    background: $skin-palette-7;
    box-shadow: inset 0 1px 0 saturate( adjust-hue( $skin-palette-7, 2deg ), 2 );
}
.results-table-j table tr th {background: $skin-palette-8;}
.todays-results-j {background: $skin-palette-7;}
.todays-results-j > ul > li {
    color: $text-palette-2;
    font-size: 6 + $size-font;
    line-height: 18px;
    border-bottom: 1px solid darken( saturate( adjust-hue( $skin-palette-7, 4deg ), 15 ), 14 );
    box-shadow: 0 1px 0 lighten( desaturate( adjust-hue( $skin-palette-7, 1deg ), 2 ), 4 );
    transition: 300ms background;
    &:hover {
        background: $skin-palette-6;
    }
}
.button-container-j button{
    color: set-color($brand-color-1);
    background: $brand-color-1;
}
.results-header-j {
    background: $skin-palette-6;
    border-bottom: 1px solid darken( saturate( adjust-hue( $skin-palette-7, 4deg ), 15 ), 14 );
    box-shadow: 0 1px 0 lighten( desaturate( adjust-hue( $skin-palette-7, 1deg ), 2 ), 4 );
}
.results-header-j h2 {
    color: $text-palette-1;
    font-size: 10 + $size-font;
    line-height: 18px;
    font-weight: normal;
}
.search-tabs-conatiner h5 {
    color: $text-palette-3;
    font-size: 6 + $size-font;
    line-height: 14px;
    font-weight: $style-text;
}
.results-select-j {background: $form-elements-bg;}
.results-select-j:before {color: $text-palette-4;}
.results-select-j select {
    color: $text-palette-4;
    font-size: 6 + $size-font;
    line-height: 14px;
    font-weight: $style-text;
}
.results-select-j select option, .results-select-j select optgroup {
    background: $form-elements-bg;
    color: $text-palette-4;
}
label.results-live-j {
    position: relative;
    display: inline-block;
    width: auto;
    height: 14px;
    float: none;
    vertical-align: top;
    cursor: pointer;
    @include ltr {
        margin: 0 0 0 15px;
        padding: 0 0 0 25px;
    }
    @include rtl {
        margin: 0 15px 0 0;
        padding: 0 25px 0 0;
    }
}
label.results-live-j input {
    position: absolute;
    top: 0;
    opacity: 0;
    cursor: pointer;
    @include ltr {
        left: 0;
    }
    @include rtl {
        right: 0;
    }
}
label.results-live-j input + i {
    width: 16px;
    height: 16px;
    display: block;
    background-color: $skin-palette-10;
    border-radius: 2px;
    position: absolute;
    top: -2px;
    @include ltr {
        left: 0;
    }
    @include rtl {
        right: 0;
    }
}
label.results-live-j input:checked + i:before {
    content: '\e6f3';
    font: 6px/16px "icomoon";
    position: absolute;
    left: 4px;
    top: 0;
    color: $text-palette-4;
}
.todays-results-j-contain {
    float: left;
    width: 100%;
}
.todays-results-j-contain .md-progress-circular {
    margin: 50px auto;
}


.body-wrapper.results .game-center-container.left-menu-closed .scroll-contain {
    width: calc(100% - 284px);
}
@media screen and (max-width: 1260px) {
    .search-tabs-conatiner > li {
        padding: 0 4px;
    }
    .results-table-cell-j.button-container-j {
        padding-left: 4px;
    }
    .button-container-j button{
        font-size: 0;
        padding: 0 10px;
    }
    .button-container-j button:before {
        content: "\e612";
        font: normal 20px 'icomoon';
    }
}
@media screen and (min-width: 1600px) {
    .body-wrapper.results .game-center-container.left-menu-closed .scroll-contain {
        width: calc(100% - 360px);
    }
}
@media screen and (max-width: 1279px) {
    .body-wrapper.results .game-center-container.left-menu-closed .scroll-contain {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
}
sports-results {
    float: left;
    width: 100%;
    height: 100%;
    text-align: left;
    display: block;
}
@media screen and (max-width: 1260px){
    .results-table-j table tr td:nth-child(2), .results-table-j table tr th:nth-child(3) {
        font-size: 6 + $size-font;
    }
    .results-table-j table tr td:nth-child(2), .results-table-j table tr th:nth-child(2){
        width: 28%;
    }
    .results-table-j table tr td:first-child, .results-table-j table tr th:first-child{
        font-size: 4 + $size-font;
    }
    .results-table-j table tr td:last-child, .results-table-j table tr th:nth-child(4){
        font-size: 4 + $size-font;
        width: 40%;
    }
    .results-table-j ul{font-size: 5 + $size-font;}
}
//small view

//small view END
.search-by-team-name-results{
    position: relative;
    ul{
        float: left;
        width: 100%;
        background: $skin-palette-7;
        box-sizing: border-box;
        padding: 5px;
        position: absolute;
        top: 60px;
        > li{
            display: table;
            padding: 0 0 5px 0;
            width: 100%;
            > i{
                display: table-cell;
                vertical-align: top;
                font: 14px sport-icon;
                width: 20px;
                position: relative;
            }
            > span{
                color: $text-palette-2;
                display: table-cell;
                vertical-align: top;
                padding: 0 0 0 5px;
                box-shadow: 0 1px 0 $text-palette-4;
            }
        }
    }
}
.search-by-team-name{
    &.loading{
        position: relative;
        float: left;
        width: 100%;
        &:after{
            position: absolute;
            bottom: 6px;
            left: calc(50% - 13px);
            content: '';
            display: block;
            box-sizing: border-box;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border-top: 2px solid $hero-color;
            border-right: 2px solid transparent;
            animation: spinner 1200ms linear infinite;
        }
    }
}