.rg-tracker {
    position: relative
}
.rg-slider-wrapper {
    width: 100%
}
.rg-slider-trackbar {
    background: lightgrey;
    border-radius: 15px
}
.rg-tracker {
    width: 10px;
    height: 10px;
    background: $hero-color;
    border-radius: inherit
}
.rg-navigator {
    width: 100%;
    float: left
}
.rg-navigator ul li {
    display: table-cell;
    text-align: left;
    width: 1%
}
.rg-navigator ul {
    padding: 0;
    margin: 0;
    width: 100%
}
.rg-list-lastitem {
    float: right
}