
.new-wallet-slider-page-j {
    min-width: 980px;
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}
.new-wallet-slider-page-j .your-currency-j-and-refresh-balances-j {
    float: left;
    width: 100%;
}
.new-wallet-slider-page-j .your-currency-j-and-refresh-balances-j li {
    width: 50%;
    float: left;
    display: block;
    margin: 35px 0 45px;
}
.new-wallet-slider-page-j .your-currency-j-and-refresh-balances-j li:last-child {
    text-align: right;
}
.new-wallet-slider-page-j .your-currency-j-and-refresh-balances-j li:only-child {
    text-align:left;
}
.new-wallet-slider-page-j .your-currency-j-and-refresh-balances-j li.your-currency-j {
    font: 18px/20px $font-f;
    color: $brand-color-1;
}
.new-wallet-slider-page-j .your-currency-j-and-refresh-balances-j li .refresh-balances-j {
    font: 14px/16px $font-f;
    color: $text-palette-1;
    text-decoration: none;
}
.new-wallet-slider-page-j .wallet-boxes-j-global {
    float: left;
    width: 100%;
    display: table;
    table-layout: fixed;
    margin-bottom: 20px;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j {
    background: $skin-palette-10;
    box-shadow: inset 0 114px 0 $skin-palette-9;
    border: 5px solid darken( saturate( adjust-hue( $skin-palette-10, 4deg ), 2 ), 7 );
    border-bottom: 2px solid darken( adjust-hue( $skin-palette-10, 3deg ), 7 );
    border-width: 0 5px;
    display: table-cell;
    vertical-align: top;
    position: relative;
    padding: 26px 25px 25px;
    width: 25%;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.has-button-j-if {
    padding-bottom: 86px;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j:before {
    content: '';
    display: block;
    width: 52px;
    height: 52px;
    border: 4px solid $skin-palette-4;
    background: $skin-palette-12;
    border-radius: 50%;
    position: absolute;
    right: 25px;
    top: -10px;
    color: $text-palette-4;
    text-align: center;
    font: 58px/52px icomoon;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.balance:before {
    content: "\e6a5";
    text-indent: -2px;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.transfer:before {
    content: "\e6cc";
    font-size: 22px;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.bonus:before {
    content: "\e906";
    font-size: 28px;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.points:before {
    content: "\e905";
    font-size: 28px;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j:first-child {
    border-right: 1px solid darken( desaturate( adjust-hue( $skin-palette-10, 7deg ), 1 ), 10 );
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j:first-child, .new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j:nth-child(2) {
    background: $skin-palette-9;
    border-left: 0;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j:nth-child(2) {
    border-left: 1px solid darken( saturate( adjust-hue( $skin-palette-10, 6deg ), 6 ), 18 );
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j:last-child {
    border-right: 0;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j h4 {
    float: left;
    color: $text-palette-1;
    font: 18px/20px $font-f;
    font-weight: $bold-text;
    display: block;
    width: calc(100% - 66px);
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j .main-cont-j-wall {
    width: 100%;
    float: left;
    margin-top: 32px;
}
.j-table-replace-button {
    width: 100%;
    float: left;
}
.j-table-replace-button li {
    text-align:right;
    font: 16px/18px $font-f;
    border-bottom: 1px solid $skin-palette-12;
    box-shadow: 0 1px 0 lighten( desaturate( adjust-hue( $skin-palette-10, 1deg ), 7 ), 8 );
    color: $text-palette-3;
    padding: 15px 0;
    min-height: 18px;
}
.j-table-replace-button li:first-child {
    color: #c4963f;
    border-bottom: 0;
    padding-top: 0;
    padding-bottom: 18px;
    box-shadow: none;
}
.j-table-replace-button li span {float: left;}
.j-table-replace-button li button.skin-j {
    height: 36px;
    background: #1D7A32;
    color: $text-palette-1;
    border-radius: 5px;
    font: 13px/36px $font-f;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid $skin-palette-5;
    line-height: 32px;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 12px;
    float: right;
    margin-top: -9px;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.transfer label {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 12px;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.transfer label:last-of-type + .cashier-button.superbet {
    margin-top: 22px;
    vertical-align: bottom;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.transfer label:last-of-type + .cashier-button.superbet button {
    border: 2px solid $skin-palette-5;
    background-color: transparent;
    border-radius: 0;
    text-transform: uppercase;
    min-width: inherit;
    padding: 0 16px;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.transfer .money-plus-button-j-table {
    display: table;
    width: 100%;
    float: left;
    label {
        display: table-cell;
        padding-right: 12px;
        width: 30%;float: none;
    }
    .cashier-button.superbet {
        display: table-cell;
        width: 1%;
        float: none;
    }
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.transfer label .select-title-j {
    color: $text-palette-4;
    font: 12px/14px $font-f;
    margin-bottom: 8px;
    width: 100%;
    float: left;
    display: block;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.transfer label .select-box-j {
    position: relative;
    border-radius: 5px;
    background: $skin-palette-11;
    overflow: hidden;
    width: 100%;
    height: 37px;
    color: $text-palette-4;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.transfer label .select-box-j select {
    position: relative;
    z-index: 10;
    font: 13px $font-f;
    color: $text-palette-4;
    height: 100%;
    width: calc(100% + 24px);
    background-color: transparent;
    border: 0;
    padding-left: 15px;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.transfer label .select-box-j select option {
    background: $skin-palette-11;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.transfer label .select-box-j:after {
    content: "\e674";
    font: 18px icomoon;
    position: absolute;
    right: 8px;
    top: calc((100% - 18px) / 2);
    height: 12px;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.transfer label input {
    border-radius: 5px;
    background: $skin-palette-11;
    width: 100%;
    height: 37px;
    border: 0;
    padding-left: 15px;
    color: $text-palette-1;
    box-sizing: border-box;
    box-shadow: none;
    font: 13px $font-f;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.transfer label input:focus {
    box-shadow: 0 0 0 1px $hero-color;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.transfer label input::-webkit-input-placeholder,
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.transfer label input:-moz-placeholder,
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.transfer label input::-moz-placeholder,
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.transfer label input:-ms-input-placeholder {
    color: $text-palette-4;
}
.new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j .j-wall-set-button-ciont {
    position: absolute;
    z-index: 20;
    bottom: 25px;
    left: 25px;
    right: 25px;
}
.new-wallet-slider-page-j .j-wall-set-button-ciont button, .new-wallet-slider-page-j .j-wall-set-button-ciont a {
    text-decoration: none;
    float: left;
    height: 36px;
    background: #385c45;
    color: $text-palette-1;
    border-radius: 0;
    font: 14px/36px $font-f;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
}
.new-wallet-slider-page-j .j-wall-set-button-ciont button[disabled="disabled"] {
    cursor: default;
    border-color: $skin-palette-10;
    background: $skin-palette-10;
    color: $text-palette-5;
}
.new-wallet-slider-page-j .j-wall-set-button-ciont button.skin-j {
    border: 2px solid $skin-palette-5;
    line-height: 32px;
    background-color: transparent;
}
.new-wallet-slider-page-j .j-wall-set-button-ciont button.colorful-j {
    background-color: $hero-color;
}
.new-wallet-slider-page-j .j-wall-set-button-ciont.two-buttons-j button {
    width: calc( 50% - 6px);
    margin-right: 12px;
}
.new-wallet-slider-page-j .j-wall-set-button-ciont.two-buttons-j button:last-child {
    margin: 0;
}
.new-wallet-slider-page-j .wallet-box-j:after {
    height: 3px;
    width: 100%;
    content: '';
    display: block;
    position: absolute;
    background: darken( saturate( $skin-palette-10, 11 ), 19 );
    bottom: -3px;
    left: 0;
}
.bold-promo-text-j {
    float: left;
    color: $text-palette-1;
    font: $style-text 26px/22px $font-f;
    text-transform: uppercase;
    width: 125px;
    margin-top: 10px;
}
.bold-promo-text-j:first-line {
    font-size: 18px;
}
.casino-bonus .bold-promo-text-j {
    font-size: 22px;
    line-height: 24px;
}
.casino-bonus .bold-promo-text-j:first-line {
    font-size: 26px;
}
.light-promo-text-j {
    color: $text-palette-4;
    float: left;
    font: $style-text 17px/19px $font-f;
    margin-top: 34px;
    text-transform: uppercase;
    width: 100%;
}
.light-promo-text-j div {
    color: $text-palette-3;
    font: 24px $font-f;
    white-space: nowrap;
}
.light-promo-text-j div span {
    color: #aa8136;
}
.light-promo-text-j.point-texts-j {
    margin-top: -4px;
    margin-bottom: 8px;
}
.light-promo-text-j.point-texts-j span {
    margin-top: -6px;
    display: block;
    color: #aa8136;
    font: 46px $font-f;
}
@media screen and (max-width: 1260px) {
    .new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.balance.has-button-j-if {
        padding-bottom: 114px;
    }
    .new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.balance .j-wall-set-button-ciont.two-buttons-j button {
        width: 100%;
        margin: 0;
    }
    .new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.balance .j-wall-set-button-ciont.two-buttons-j button:first-child {
        margin-bottom: 8px;
    }
    .j-table-replace-button li:first-child {
        white-space: nowrap;
    }
    .j-table-replace-button li button.skin-j {
        width: 100%;
        top: 0;
        float: none;
        margin: 9px 0 0;
    }
    .new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.transfer .money-plus-button-j-table label {
        width: 100%;
        display: block;
    }
    .new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.transfer label:last-of-type + .cashier-button.superbet {
        margin-top: 6px;
        width: 100%;
        display: block;
    }
    .new-wallet-slider-page-j .wallet-boxes-j-global .wallet-box-j.transfer label:last-of-type + .cashier-button.superbet button {width: 100%;}
}