.card-icon {
  display: block;
  border-radius: 2px;
  image-rendering: pixelated;
  background: url(../../../images/save-card/cards.png#{$delete-cache}) no-repeat 0 0 / 100%;
}

.american-express { background-position: 0 0%;}
.diners-club-carte-blanche { background-position: 0 9.090909%;}
.diners-club-usa-canada { background-position: 0 18.181818%;}
.diners-club { background-position: 0 27.272727%;}
.discover { background-position: 0 36.363636%;}
.insta { background-position: 0 45.454545%;}
.jcb { background-position: 0 54.545455%;}
.laser { background-position: 0 63.636364%;}
.maestro { background-position: 0 72.727273%;}
.card-icon {
  &[class*=" 5"]{
    background-position: 0 81.818182%;
  }
  &[class*=" 4"]{
    background-position: 0 90.909091%;
  }
}
.visda-electro { background-position: 0 100%;}