.cms-jcon-ArenaOfValor:before {
  content: "\e935" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Headis:before {
  content: "\e934" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-icon-teqball:before {
  content: "\e933" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-MobileLegends:before {
  content: "\e932" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-coupon:before {
  content: "\e93c" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Drag-Racing-New:before {
  content: "\e93b" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-drag-icon:before {
  content: "\e93a" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Basketball-shot_icon:before {
  content: "\e930" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-air-hockey:before {
  content: "\e931" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-cyber_bascket:before {
  content: "\e92f" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Valorant:before {
  content: "\e92e" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-tvicon:before {
  content: "\e92d" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-box-vr:before {
  content: "\e92c" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-virtual-marble-racing:before {
  content: "\e92b" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Kabaddi:before {
  content: "\e92a" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-go-game:before {
  content: "\e928" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-fortnite:before {
  content: "\e927" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-betting-bet:before {
  content: "\e926" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-football-pro:before {
  content: "\e925" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-sis-horse-racing:before {
  content: "\e929" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-icon:before {
  content: "\e924" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-nba-2k:before {
  content: "\e923" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-kabaddi:before {
  content: "\e921" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Rainbow-Six:before {
  content: "\e922" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-PETANQUE:before {
  content: "\e920" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-clash-royale:before {
  content: "\e91f" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-e-tennis-copy:before {
  content: "\e91e" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Bodybuilding-icon:before {
  content: "\e91d" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-fifa:before {
  content: "\e91c" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-circuit:before {
  content: "\e91b" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-ps4games:before {
  content: "\e91a" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-E-Ice-Hockey:before {
  content: "\e919" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-penalty:before {
  content: "\e918" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-betonblackjack:before {
  content: "\e916" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-betonpoker:before {
  content: "\e917" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-eSports_logo_sportbook:before {
  content: "\e915" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-king-of-glory:before {
  content: "\e911" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-PUBG:before {
  content: "\e912" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Rocket-League:before {
  content: "\e913" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Warcraft-III:before {
  content: "\e914" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-StreetFighterSymbol:before {
  content: "\e910" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-eSports-icon-01:before {
  content: "\e90f" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Crossfire_Icon:before {
  content: "\e90e" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-halo-icon:before {
  content: "\e90d" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-blank:before {
  content: "\e670" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-HON .path1:before {
  content: "\e906" !important; font-family: 'icomoon' !important; text-transform: none;
  color: rgb(0, 0, 0);
}
.cms-jcon-HON .path2:before {
  content: "\e907" !important; font-family: 'icomoon' !important; text-transform: none;
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.cms-jcon-HON .path3:before {
  content: "\e908" !important; font-family: 'icomoon' !important; text-transform: none;
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cms-jcon-HON .path4:before {
  content: "\e909" !important; font-family: 'icomoon' !important; text-transform: none;
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cms-jcon-HON .path5:before {
  content: "\e90a" !important; font-family: 'icomoon' !important; text-transform: none;
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cms-jcon-HON .path6:before {
  content: "\e90b" !important; font-family: 'icomoon' !important; text-transform: none;
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cms-jcon-Vainglory:before {
  content: "\e90c" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-virtualcarracing:before {
  content: "\e905" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-callofduty:before {
  content: "\e904" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-counter-strike:before {
  content: "\21" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-league-of-legends:before {
  content: "\22" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-halo:before {
  content: "\23" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-dota:before {
  content: "\24" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-heroes-of-the-storm:before {
  content: "\25" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-hearthstone:before {
  content: "\26" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-mortal-kombat:before {
  content: "\27" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-world-of-tanks:before {
  content: "\28" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-world-of-warcraft:before {
  content: "\29" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-overwatch:before {
  content: "\2a" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-smite:before {
  content: "\2b" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-smash:before {
  content: "\2c" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-starcraft:before {
  content: "\2d" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Outright:before {
  content: "\e903" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Financials:before {
  content: "\e902" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-EBasketball:before {
  content: "\e900" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-CyberFootball:before {
  content: "\e901" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_bowls:before {
  content: "\e800" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-vbet-sport-icons_futsal:before {
  content: "\2e" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-vbet-sport-icons_tablehockey:before {
  content: "\2f" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-vbet-sport-icons_tabletennis:before {
  content: "\30" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-vbet-sport-icons_taekwondo:before {
  content: "\31" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-vbet-sport-icons_tankbiathlon:before {
  content: "\32" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-vbet-sport-icons_telecast:before {
  content: "\33" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-vbet-sport-icons_tennis:before {
  content: "\34" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-vbet-sport-icons_triathlon:before {
  content: "\35" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-vbet-sport-icons_UFC:before {
  content: "\36" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-vbet-sport-icons_ultimatefighting:before {
  content: "\37" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-vbet-sport-icons_virtualdogs:before {
  content: "\38" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-vbet-sport-icons_virtualhorses:before {
  content: "\39" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-vbet-sport-icons_virtualtennis:before {
  content: "\3a" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-vbet-sport-icons_volleyball:before {
  content: "\3b" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-vbet-sport-icons_waterpolo:before {
  content: "\3c" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-vbet-sport-icons_whatwherewhen:before {
  content: "\3d" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-vbet-sport-icons_yachting:before {
  content: "\3e" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-soccer:before {
  content: "\e66f" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_allsporticon:before {
  content: "\e600" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_alpinskiing:before {
  content: "\e601" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_americanfootball:before {
  content: "\e602" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_angling:before {
  content: "\e603" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_archery:before {
  content: "\e604" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_australianfootball:before {
  content: "\e605" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_badminton:before {
  content: "\e606" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_balls:before {
  content: "\e607" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_baseball:before {
  content: "\e608" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_basketball:before {
  content: "\e609" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_beachhandball:before {
  content: "\e60a" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_beachsoccer:before {
  content: "\e60b" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_beachvolleyball:before {
  content: "\e60c" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_biathlon:before {
  content: "\e60d" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_bobsleigh:before {
  content: "\e60e" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_boxing:before {
  content: "\e60f" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_bridge:before {
  content: "\e610" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_canoe:before {
  content: "\e611" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_chess:before {
  content: "\e612" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_cricket:before {
  content: "\e613" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_curling:before {
  content: "\e614" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_cycling:before {
  content: "\e615" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_cyclocross:before {
  content: "\e616" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_darts:before {
  content: "\e617" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_diving:before {
  content: "\e618" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_electronicsports:before {
  content: "\e619" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_eurovision:before {
  content: "\e61a" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_extremsport:before {
  content: "\e61b" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_fencing:before {
  content: "\e61c" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_figureskating:before {
  content: "\e61d" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_floorball:before {
  content: "\e61e" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_formula1:before {
  content: "\e61f" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_freestylewrestling:before {
  content: "\e620" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_gaelicfootball:before {
  content: "\e621" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_golf:before {
  content: "\e622" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_grasshockey:before {
  content: "\e623" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_greyhounds:before {
  content: "\e624" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_gymnastics:before {
  content: "\e625" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_handball:before {
  content: "\e626" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_hardathletics:before {
  content: "\e627" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_hockey-02:before {
  content: "\e628" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_hockey-26:before {
  content: "\e629" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_horsseracing:before {
  content: "\e62a" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_hurling:before {
  content: "\e62b" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_icehockey:before {
  content: "\e62c" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_judo:before {
  content: "\e62d" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_lacross:before {
  content: "\e62e" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_lightathletic:before {
  content: "\e62f" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_livemonitor:before {
  content: "\e630" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_lottery:before {
  content: "\e631" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_luge:before {
  content: "\e632" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_mafia:before {
  content: "\e633" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_minisoccer:before {
  content: "\e634" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_modernpentathlon:before {
  content: "\e635" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_motorbike:before {
  content: "\e636" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_motorsport:before {
  content: "\e637" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_nascar:before {
  content: "\e638" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_netball:before {
  content: "\e639" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_nordicCombined:before {
  content: "\e63a" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_olympic:before {
  content: "\e63b" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_oscar:before {
  content: "\e63c" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_padel:before {
  content: "\e63d" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_pesapallo:before {
  content: "\e63e" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_pokerlive:before {
  content: "\e63f" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_poker:before {
  content: "\e640" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_politics:before {
  content: "\e641" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_pool:before {
  content: "\e642" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_rally:before {
  content: "\e643" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_rinkhockey:before {
  content: "\e644" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_rowing:before {
  content: "\e645" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_rugby7:before {
  content: "\e646" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_rugbyL_rugbyL:before {
  content: "\e647" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_rugbyU:before {
  content: "\e648" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_schwingen:before {
  content: "\e649" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_shooting:before {
  content: "\e64a" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_Shorttrackspeedskating-sportsbook:before {
  content: "\e64b" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_skeleton:before {
  content: "\e64c" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_skijumping:before {
  content: "\e64d" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_skis:before {
  content: "\e64e" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_snooker:before {
  content: "\e64f" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_snowboard:before {
  content: "\e650" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_Soccer:before {
  content: "\e651" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_soccerWC2014:before {
  content: "\e652" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_softball:before {
  content: "\e653" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_specialbet:before {
  content: "\e654" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_speedskating:before {
  content: "\e655" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_speedway:before {
  content: "\e656" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_sportandfun:before {
  content: "\e657" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_sportfight:before {
  content: "\e658" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_squash:before {
  content: "\e659" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_sumo:before {
  content: "\e65a" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_surfing:before {
  content: "\e65b" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_swimming:before {
  content: "\e65c" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_SynchronizedSwimming:before {
  content: "\e65d" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_tablehockey:before {
  content: "\e65e" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_tabletennis:before {
  content: "\e65f" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_taekwondo:before {
  content: "\e660" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_tankbiathlon:before {
  content: "\e661" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_telecast:before {
  content: "\e662" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_tennis:before {
  content: "\e663" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_triathlon:before {
  content: "\e664" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_UFC:before {
  content: "\e665" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_ultimatefighting:before {
  content: "\e666" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_virtualdogs:before {
  content: "\e667" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_virtualhorses:before {
  content: "\e668" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_virtualtennis:before {
  content: "\e669" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_volleyball:before {
  content: "\e66a" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_waterpolo:before {
  content: "\e66b" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_whatwherewhen:before {
  content: "\e66c" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_wrestling:before {
  content: "\e66d" !important; font-family: 'icomoon' !important; text-transform: none;
}
.cms-jcon-Allsports_yachting:before {
  content: "\e66e" !important; font-family: 'icomoon' !important; text-transform: none;
}
