@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yxih67');
  src:  url('fonts/icomoon.eot?yxih67#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yxih67') format('truetype'),
    url('fonts/icomoon.woff?yxih67') format('woff'),
    url('fonts/icomoon.svg?yxih67#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="cms-jcon-"], [class*=" cms-jcon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cms-jcon-ArenaOfValor:before {
  content: "\e935";
}
.cms-jcon-Headis:before {
  content: "\e934";
}
.cms-jcon-icon-teqball:before {
  content: "\e933";
}
.cms-jcon-MobileLegends:before {
  content: "\e932";
}
.cms-jcon-coupon:before {
  content: "\e93c";
}
.cms-jcon-Drag-Racing-New:before {
  content: "\e93b";
}
.cms-jcon-drag-icon:before {
  content: "\e93a";
}
.cms-jcon-Basketball-shot_icon:before {
  content: "\e930";
}
.cms-jcon-air-hockey:before {
  content: "\e931";
}
.cms-jcon-cyber_bascket:before {
  content: "\e92f";
}
.cms-jcon-Valorant:before {
  content: "\e92e";
}
.cms-jcon-tvicon:before {
  content: "\e92d";
}
.cms-jcon-box-vr:before {
  content: "\e92c";
}
.cms-jcon-virtual-marble-racing:before {
  content: "\e92b";
}
.cms-jcon-Kabaddi:before {
  content: "\e92a";
}
.cms-jcon-go-game:before {
  content: "\e928";
}
.cms-jcon-fortnite:before {
  content: "\e927";
}
.cms-jcon-betting-bet:before {
  content: "\e926";
}
.cms-jcon-football-pro:before {
  content: "\e925";
}
.cms-jcon-sis-horse-racing:before {
  content: "\e929";
}
.cms-jcon-icon:before {
  content: "\e924";
}
.cms-jcon-nba-2k:before {
  content: "\e923";
}
.cms-jcon-kabaddi:before {
  content: "\e921";
}
.cms-jcon-Rainbow-Six:before {
  content: "\e922";
}
.cms-jcon-PETANQUE:before {
  content: "\e920";
}
.cms-jcon-clash-royale:before {
  content: "\e91f";
}
.cms-jcon-e-tennis-copy:before {
  content: "\e91e";
}
.cms-jcon-Bodybuilding-icon:before {
  content: "\e91d";
}
.cms-jcon-fifa:before {
  content: "\e91c";
}
.cms-jcon-circuit:before {
  content: "\e91b";
}
.cms-jcon-ps4games:before {
  content: "\e91a";
}
.cms-jcon-E-Ice-Hockey:before {
  content: "\e919";
}
.cms-jcon-penalty:before {
  content: "\e918";
}
.cms-jcon-betonblackjack:before {
  content: "\e916";
}
.cms-jcon-betonpoker:before {
  content: "\e917";
}
.cms-jcon-eSports_logo_sportbook:before {
  content: "\e915";
}
.cms-jcon-king-of-glory:before {
  content: "\e911";
}
.cms-jcon-PUBG:before {
  content: "\e912";
}
.cms-jcon-Rocket-League:before {
  content: "\e913";
}
.cms-jcon-Warcraft-III:before {
  content: "\e914";
}
.cms-jcon-StreetFighterSymbol:before {
  content: "\e910";
}
.cms-jcon-eSports-icon-01:before {
  content: "\e90f";
}
.cms-jcon-Crossfire_Icon:before {
  content: "\e90e";
}
.cms-jcon-halo-icon:before {
  content: "\e90d";
}
.cms-jcon-blank:before {
  content: "\e670";
}
.cms-jcon-HON .path1:before {
  content: "\e906";
  color: rgb(0, 0, 0);
}
.cms-jcon-HON .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.cms-jcon-HON .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cms-jcon-HON .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cms-jcon-HON .path5:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cms-jcon-HON .path6:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cms-jcon-Vainglory:before {
  content: "\e90c";
}
.cms-jcon-virtualcarracing:before {
  content: "\e905";
}
.cms-jcon-callofduty:before {
  content: "\e904";
}
.cms-jcon-counter-strike:before {
  content: "\21";
}
.cms-jcon-league-of-legends:before {
  content: "\22";
}
.cms-jcon-halo:before {
  content: "\23";
}
.cms-jcon-dota:before {
  content: "\24";
}
.cms-jcon-heroes-of-the-storm:before {
  content: "\25";
}
.cms-jcon-hearthstone:before {
  content: "\26";
}
.cms-jcon-mortal-kombat:before {
  content: "\27";
}
.cms-jcon-world-of-tanks:before {
  content: "\28";
}
.cms-jcon-world-of-warcraft:before {
  content: "\29";
}
.cms-jcon-overwatch:before {
  content: "\2a";
}
.cms-jcon-smite:before {
  content: "\2b";
}
.cms-jcon-smash:before {
  content: "\2c";
}
.cms-jcon-starcraft:before {
  content: "\2d";
}
.cms-jcon-Outright:before {
  content: "\e903";
}
.cms-jcon-Financials:before {
  content: "\e902";
}
.cms-jcon-EBasketball:before {
  content: "\e900";
}
.cms-jcon-CyberFootball:before {
  content: "\e901";
}
.cms-jcon-Allsports_bowls:before {
  content: "\e800";
}
.cms-jcon-vbet-sport-icons_futsal:before {
  content: "\2e";
}
.cms-jcon-vbet-sport-icons_tablehockey:before {
  content: "\2f";
}
.cms-jcon-vbet-sport-icons_tabletennis:before {
  content: "\30";
}
.cms-jcon-vbet-sport-icons_taekwondo:before {
  content: "\31";
}
.cms-jcon-vbet-sport-icons_tankbiathlon:before {
  content: "\32";
}
.cms-jcon-vbet-sport-icons_telecast:before {
  content: "\33";
}
.cms-jcon-vbet-sport-icons_tennis:before {
  content: "\34";
}
.cms-jcon-vbet-sport-icons_triathlon:before {
  content: "\35";
}
.cms-jcon-vbet-sport-icons_UFC:before {
  content: "\36";
}
.cms-jcon-vbet-sport-icons_ultimatefighting:before {
  content: "\37";
}
.cms-jcon-vbet-sport-icons_virtualdogs:before {
  content: "\38";
}
.cms-jcon-vbet-sport-icons_virtualhorses:before {
  content: "\39";
}
.cms-jcon-vbet-sport-icons_virtualtennis:before {
  content: "\3a";
}
.cms-jcon-vbet-sport-icons_volleyball:before {
  content: "\3b";
}
.cms-jcon-vbet-sport-icons_waterpolo:before {
  content: "\3c";
}
.cms-jcon-vbet-sport-icons_whatwherewhen:before {
  content: "\3d";
}
.cms-jcon-vbet-sport-icons_yachting:before {
  content: "\3e";
}
.cms-jcon-soccer:before {
  content: "\e66f";
}
.cms-jcon-Allsports_allsporticon:before {
  content: "\e600";
}
.cms-jcon-Allsports_alpinskiing:before {
  content: "\e601";
}
.cms-jcon-Allsports_americanfootball:before {
  content: "\e602";
}
.cms-jcon-Allsports_angling:before {
  content: "\e603";
}
.cms-jcon-Allsports_archery:before {
  content: "\e604";
}
.cms-jcon-Allsports_australianfootball:before {
  content: "\e605";
}
.cms-jcon-Allsports_badminton:before {
  content: "\e606";
}
.cms-jcon-Allsports_balls:before {
  content: "\e607";
}
.cms-jcon-Allsports_baseball:before {
  content: "\e608";
}
.cms-jcon-Allsports_basketball:before {
  content: "\e609";
}
.cms-jcon-Allsports_beachhandball:before {
  content: "\e60a";
}
.cms-jcon-Allsports_beachsoccer:before {
  content: "\e60b";
}
.cms-jcon-Allsports_beachvolleyball:before {
  content: "\e60c";
}
.cms-jcon-Allsports_biathlon:before {
  content: "\e60d";
}
.cms-jcon-Allsports_bobsleigh:before {
  content: "\e60e";
}
.cms-jcon-Allsports_boxing:before {
  content: "\e60f";
}
.cms-jcon-Allsports_bridge:before {
  content: "\e610";
}
.cms-jcon-Allsports_canoe:before {
  content: "\e611";
}
.cms-jcon-Allsports_chess:before {
  content: "\e612";
}
.cms-jcon-Allsports_cricket:before {
  content: "\e613";
}
.cms-jcon-Allsports_curling:before {
  content: "\e614";
}
.cms-jcon-Allsports_cycling:before {
  content: "\e615";
}
.cms-jcon-Allsports_cyclocross:before {
  content: "\e616";
}
.cms-jcon-Allsports_darts:before {
  content: "\e617";
}
.cms-jcon-Allsports_diving:before {
  content: "\e618";
}
.cms-jcon-Allsports_electronicsports:before {
  content: "\e619";
}
.cms-jcon-Allsports_eurovision:before {
  content: "\e61a";
}
.cms-jcon-Allsports_extremsport:before {
  content: "\e61b";
}
.cms-jcon-Allsports_fencing:before {
  content: "\e61c";
}
.cms-jcon-Allsports_figureskating:before {
  content: "\e61d";
}
.cms-jcon-Allsports_floorball:before {
  content: "\e61e";
}
.cms-jcon-Allsports_formula1:before {
  content: "\e61f";
}
.cms-jcon-Allsports_freestylewrestling:before {
  content: "\e620";
}
.cms-jcon-Allsports_gaelicfootball:before {
  content: "\e621";
}
.cms-jcon-Allsports_golf:before {
  content: "\e622";
}
.cms-jcon-Allsports_grasshockey:before {
  content: "\e623";
}
.cms-jcon-Allsports_greyhounds:before {
  content: "\e624";
}
.cms-jcon-Allsports_gymnastics:before {
  content: "\e625";
}
.cms-jcon-Allsports_handball:before {
  content: "\e626";
}
.cms-jcon-Allsports_hardathletics:before {
  content: "\e627";
}
.cms-jcon-Allsports_hockey-02:before {
  content: "\e628";
}
.cms-jcon-Allsports_hockey-26:before {
  content: "\e629";
}
.cms-jcon-Allsports_horsseracing:before {
  content: "\e62a";
}
.cms-jcon-Allsports_hurling:before {
  content: "\e62b";
}
.cms-jcon-Allsports_icehockey:before {
  content: "\e62c";
}
.cms-jcon-Allsports_judo:before {
  content: "\e62d";
}
.cms-jcon-Allsports_lacross:before {
  content: "\e62e";
}
.cms-jcon-Allsports_lightathletic:before {
  content: "\e62f";
}
.cms-jcon-Allsports_livemonitor:before {
  content: "\e630";
}
.cms-jcon-Allsports_lottery:before {
  content: "\e631";
}
.cms-jcon-Allsports_luge:before {
  content: "\e632";
}
.cms-jcon-Allsports_mafia:before {
  content: "\e633";
}
.cms-jcon-Allsports_minisoccer:before {
  content: "\e634";
}
.cms-jcon-Allsports_modernpentathlon:before {
  content: "\e635";
}
.cms-jcon-Allsports_motorbike:before {
  content: "\e636";
}
.cms-jcon-Allsports_motorsport:before {
  content: "\e637";
}
.cms-jcon-Allsports_nascar:before {
  content: "\e638";
}
.cms-jcon-Allsports_netball:before {
  content: "\e639";
}
.cms-jcon-Allsports_nordicCombined:before {
  content: "\e63a";
}
.cms-jcon-Allsports_olympic:before {
  content: "\e63b";
}
.cms-jcon-Allsports_oscar:before {
  content: "\e63c";
}
.cms-jcon-Allsports_padel:before {
  content: "\e63d";
}
.cms-jcon-Allsports_pesapallo:before {
  content: "\e63e";
}
.cms-jcon-Allsports_pokerlive:before {
  content: "\e63f";
}
.cms-jcon-Allsports_poker:before {
  content: "\e640";
}
.cms-jcon-Allsports_politics:before {
  content: "\e641";
}
.cms-jcon-Allsports_pool:before {
  content: "\e642";
}
.cms-jcon-Allsports_rally:before {
  content: "\e643";
}
.cms-jcon-Allsports_rinkhockey:before {
  content: "\e644";
}
.cms-jcon-Allsports_rowing:before {
  content: "\e645";
}
.cms-jcon-Allsports_rugby7:before {
  content: "\e646";
}
.cms-jcon-Allsports_rugbyL_rugbyL:before {
  content: "\e647";
}
.cms-jcon-Allsports_rugbyU:before {
  content: "\e648";
}
.cms-jcon-Allsports_schwingen:before {
  content: "\e649";
}
.cms-jcon-Allsports_shooting:before {
  content: "\e64a";
}
.cms-jcon-Allsports_Shorttrackspeedskating-sportsbook:before {
  content: "\e64b";
}
.cms-jcon-Allsports_skeleton:before {
  content: "\e64c";
}
.cms-jcon-Allsports_skijumping:before {
  content: "\e64d";
}
.cms-jcon-Allsports_skis:before {
  content: "\e64e";
}
.cms-jcon-Allsports_snooker:before {
  content: "\e64f";
}
.cms-jcon-Allsports_snowboard:before {
  content: "\e650";
}
.cms-jcon-Allsports_Soccer:before {
  content: "\e651";
}
.cms-jcon-Allsports_soccerWC2014:before {
  content: "\e652";
}
.cms-jcon-Allsports_softball:before {
  content: "\e653";
}
.cms-jcon-Allsports_specialbet:before {
  content: "\e654";
}
.cms-jcon-Allsports_speedskating:before {
  content: "\e655";
}
.cms-jcon-Allsports_speedway:before {
  content: "\e656";
}
.cms-jcon-Allsports_sportandfun:before {
  content: "\e657";
}
.cms-jcon-Allsports_sportfight:before {
  content: "\e658";
}
.cms-jcon-Allsports_squash:before {
  content: "\e659";
}
.cms-jcon-Allsports_sumo:before {
  content: "\e65a";
}
.cms-jcon-Allsports_surfing:before {
  content: "\e65b";
}
.cms-jcon-Allsports_swimming:before {
  content: "\e65c";
}
.cms-jcon-Allsports_SynchronizedSwimming:before {
  content: "\e65d";
}
.cms-jcon-Allsports_tablehockey:before {
  content: "\e65e";
}
.cms-jcon-Allsports_tabletennis:before {
  content: "\e65f";
}
.cms-jcon-Allsports_taekwondo:before {
  content: "\e660";
}
.cms-jcon-Allsports_tankbiathlon:before {
  content: "\e661";
}
.cms-jcon-Allsports_telecast:before {
  content: "\e662";
}
.cms-jcon-Allsports_tennis:before {
  content: "\e663";
}
.cms-jcon-Allsports_triathlon:before {
  content: "\e664";
}
.cms-jcon-Allsports_UFC:before {
  content: "\e665";
}
.cms-jcon-Allsports_ultimatefighting:before {
  content: "\e666";
}
.cms-jcon-Allsports_virtualdogs:before {
  content: "\e667";
}
.cms-jcon-Allsports_virtualhorses:before {
  content: "\e668";
}
.cms-jcon-Allsports_virtualtennis:before {
  content: "\e669";
}
.cms-jcon-Allsports_volleyball:before {
  content: "\e66a";
}
.cms-jcon-Allsports_waterpolo:before {
  content: "\e66b";
}
.cms-jcon-Allsports_whatwherewhen:before {
  content: "\e66c";
}
.cms-jcon-Allsports_wrestling:before {
  content: "\e66d";
}
.cms-jcon-Allsports_yachting:before {
  content: "\e66e";
}
