$hero-color:        #a61f67;
$brand-color-1:     #1a7051;
$brand-color-2:     #A48243;

$skin-color: #1e2639;
$text-color: $skin-color;

$asian-view-custom: true;
$custom-very-top-menu: true;

@if ($skin-second==true) {
  $white-skin: true !global;
  $skin-color: #f3f3f5 !global;
  $text-color: #1e2639 !global;
  $live-casino-background: default !global;
  $footer-background: white !global;
  $colorized-social-icons: true !global;
  $popup-form-opacify: 0.1 !global;
  $body-background: #E8E8EB !global;
  $header-nav-line-background: #373e54 !global;
  $header-first-line-background: #FFFFFF !global;
}
