<style>@page {size: auto;margin: auto;}.body-wrapper {min-width: 100%} .support-messenger{display: none}</style>
<div  ng-controller="betPrint" ng-init="printBetEvent()">
    <div class="print-info-b" ng-if="betData.viewType===2">
        <table class="booking-bet-print-table">
            <tr>
                <td>
                    <div class="logo-mini-print"><img ng-src="./skins/{{$root.conf.skin}}/images/logo.png" onload="print()"></div>
                </td>
                <td>
                    <div class="all-bet-inform">
                        <ul>
                            <li trans ng-if="betData.betType===1">Single</li>
                            <li trans ng-if="betData.betType===2">Express</li>
                            <li ng-if="betData.betType===3"><span trans>System</span> {{betData.sysVal}}/{{betData.bets.length}}</li>
                            <li trans ng-if="betData.betType===4">Chain</li>
                            <li>Bet ID: {{betData.bookId}}</li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="qr-code-b" ng-if="betData.bookIds.length === 1" barcode-generator="{{betData.bookIds[0]}}"></div>
                </td>
            </tr>
            <!--        <tr>
                        <td colspan="3" ng-if="betData.amount">
                            <h1>{{betData.amount}}</h1>
                        </td>
                    </tr>-->

            <tr ng-repeat="betEvent in betData.bets">
                <td colspan="3">
                    <div class="info-separator-b">
                        <ul>
                            <li>{{betEvent.title}}</li>
                            <li><span trans>Pick: </span> {{betEvent.marketName}} / {{betEvent.pick}} <span ng-if="betEvent.isLive">(LIVE)</span></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="booking-popup" ng-if="betData.viewType===1">

        <div class="info-booking">
            <div class="booking-logo">
                <img ng-src="skins/{{$root.conf.skin}}/images/{{$root.conf.bookingLogoUrl}}" onload="print(); window.close()" alt="">
            </div>
            <p ng-show="$root.conf.bookingBetPrint.message" ng-bind-html="$root.conf.bookingBetPrint.message|translate|html:'p'"></p>

            <h1 trans ng-if="betData.betType===1">Single</h1>
            <h1 trans ng-if="betData.betType===2">Express</h1>
            <h1 ng-if="betData.betType===3"><span trans>System</span> {{betData.sysVal}}/{{betData.bets.length}}</h1>
            <h1 trans ng-if="betData.betType===4">Chain</h1>

            <div ng-hide="betData.betType === 1 && betData.bets.length > 1">
                <h1 ng-hide="betData.betType === 3 || betData.betType === 4"><span trans>Odds</span> : {{betData.odds|oddConvert:betData.oddFormat}}</h1>
                <h1><span trans>Stake</span> : {{betData.amount|number:betData.balanceFractionSize}} {{betData.currencyName|currency}}</h1>
                <h1><span trans>Possible win:</span> {{betData.possibleWin|number:betData.balanceFractionSize}} {{betData.currencyName|currency}}</h1>
                <!-- tax type: 1 - tax on profit ; 4 - tax on stack-->
                <div ng-if="(betData.tax && betData.tax.percent && {1:1,20:1}[betData.tax.type]) && !(betData.enableExpressBonus && !(betConf.hideIfOverMaxOdds && betData.odds >= betConf.totalOddsMax) && !betData.hasSpOddTypes && betData.bets.length > betData.expressBonusVisibilityQty && betData.betType === 2 && betData.possibleWin > 0 && betData.expBonus > 0 && betData.expBonusPercentage > 0)">
                    <h1><span trans>Tax</span> : <span><b>{{betData.possibleWinTax|number:betData.balanceFractionSize}} {{betData.currencyName}}</b></span></h1>
                    <h1 ng-if="betData.tax.type===20"><span trans>Winning bonus</span> : <span><b>{{betData.possibleWinTax|number:betData.balanceFractionSize}} {{betData.currencyName}}</b></span></h1>
                    <h1><span trans>Final Payout</span> : <span><b>{{betData.finalWinTaxValue|number:betData.balanceFractionSize}} {{betData.currencyName}}</b></span></h1>
                </div>
            </div>
            <div class="booking-singles" ng-show="betData.betType === 1 && betData.bets.length > 1" ng-repeat="bet in betData.bets">
                <div>
                    <h1><span trans>Odds</span> : {{bet.price|oddConvert:betData.oddFormat}}</h1>
                    <h1><span trans>Stake</span> : {{bet.singleStake|number:betData.balanceFractionSize}} {{betData.currencyName|currency}}</h1>
                    <h1><span trans>Possible win:</span> {{bet.singlePosWin|number:betData.balanceFractionSize}} {{betData.currencyName|currency}}</h1>
                    <div ng-show="betData.tax && betData.tax.percent && {1:1,20:1}[betData.tax.type]"> <!-- tax_type: 1 - tax on profit ; 4 - tax on stack 20 - tax on profit as fictive-->
                        <h1><span trans>Tax</span> : {{(bet.singlePosWin-(betData.tax.type===1?bet.singleStake:0))*betData.tax.percent/100|number:betData.balanceFractionSize}} {{betData.currencyName|currency}}</h1>
                        <h1 ng-if="betData.tax.type===20"><span trans>Winning bonus</span> : {{bet.singlePosWin*betData.tax.percent/100|number:betData.balanceFractionSize}} {{betData.currencyName|currency}}</h1>
                        <h1><span trans>Final Payout</span> : {{bet.singlePosWin-(betData.tax.type!==20 ?((bet.singlePosWin-bet.singleStake)*betData.tax.percent/100) : 0)|number:betData.balanceFractionSize}} {{betData.currencyName|currency}}</h1>
                    </div>
                </div>
                <div class="qr-code-b" barcode-generator="{{betData.bookIds[$index]}}"></div>
                <h1 ng-bind="betData.bookIds[$index]"></h1>
            </div>

            <div ng-if="betData.enableExpressBonus && !(betConf.hideIfOverMaxOdds && betData.odds >= betConf.totalOddsMax)"
                 ng-show="!betData.hasSpOddTypes && betData.bets.length > betData.expressBonusVisibilityQty && betData.betType === 2 && betData.possibleWin > 0 && betData.expBonus > 0 && betData.expBonusPercentage > 0">
                <h1><span trans>Bonus percentage : </span><span><b>{{betData.expBonusPercentage}}</b></span></h1>
                <h1><span trans>Accumulator Bonus : </span><span><b>{{(betData.expBonus)|number:betData.balanceFractionSize}} {{betData.currencyName|currency}}</b></span></h1>
                <h1><span trans>Total win : </span><span><b>{{betData.totalPossibleWin|number:betData.balanceFractionSize}} {{betData.currencyName|currency}}</b></span></h1>

                <div ng-if="betData.tax && betData.tax.percent && {1:1,20:1}[betData.tax.type]"> <!-- tax_type: 1 - tax on profit ; 4 - tax on stack 20 - tax on profit as fictive-->
                    <h1><span trans>Tax : </span><span><b>{{betData.possibleWinBonusTax |number:betData.balanceFractionSize}} {{betData.currencyName|currency}}</b></span></h1>
                    <h1 ng-if="betData.tax.type===20"><span trans>Winning bonus : </span><span><b>{{betData.possibleWinBonusTax |number:betData.balanceFractionSize}} {{betData.currencyName|currency}}</b></span></h1>
                    <h1><span trans>Final Payout : </span><span><b>{{betData.finalWinBonusTaxValue | number:betData.balanceFractionSize}} {{betData.currencyName|currency}}</b></span></h1>
                </div>
            </div>

            <div ng-if="betData.bookIds.length === 1" >
                <div class="qr-code-b" barcode-generator="{{betData.bookIds[0]}}"></div>
                <h1 ng-bind="betData.bookIds[0]"></h1>
            </div>
            <p ng-show="$root.conf.bookingBetPrint.bottomMessage" ng-bind-html="$root.conf.bookingBetPrint.bottomMessage|translate|html:'p'"></p>
        </div>
    </div>
</div>
