<div class="float-left width-100">
    <div ng-controller="featuredgameCtrl" ng-init="loadFeaturedGames();" class="featured-game-list-b" ng-show="featuredGames.length" no-animate>

        <vbet-loader ng-show="featuredGamesLoading"></vbet-loader>

        <div ng-show="featuredGamesGroups" ng-mouseover="multiSlideRotationPaused = true" ng-mouseleave="multiSlideRotationPaused = false">
            <div class="title-b-wg">
                <h3 trans>Featured games</h3>
                <div class="mini-slider-b-contain">
                    <div class="change-b-slide" ng-show="featuredGamesGroups.length > 1" ng-repeat="slideItem in featuredGamesGroups track by $index" ng-click="multiSlideFeaturedGames($index);" ng-class="{'active': $parent.multiSlideIndex === $index}"></div>
                </div>
            </div>

            <div class="games-view-slider-contain" ng-controller="cmsPagesCtrl" ng-init="loadFeatureGamesBackgrounds('featured-games');">
                <ul class="column-{{ featuredGamesGroups[multiSlideIndex].games.length }}">
                    <!-- defoult 3 columns ---------- or add class="column-2" 2 columns ---- class="column-1" one column-->
                    <li ng-repeat="game in featuredGamesGroups[multiSlideIndex].games track by game.id" ng-click="goToUrl(game, isIframe ? 'iframe' : '')">
                        <div class="date-championship-logo">
                            <p ng-style="{'background-image': $root.conf.teamDefaultLogo ? 'url(images/team-logo-default.png)' : 'url({{$root.conf.teamLogosPath}}c/b/{{Math.floor(game.import_id / 2000)}}/{{game.import_id}}.png)'}">
                                {{ game.start_ts|formatDate:'full':null:$root.env.timeFormat }}
                            </p>
                        </div>
                        <div no-animate="disable" class="game-full-information-w game-bg-{{ game.sport.alias }} {{ game.sport.alias }}"
                             ng-init="bgImage = featureGamesBackgrounds[game.sport.alias].image || featureGamesBackgrounds['Default'].image || (backgroundsCompetitionsMaps[game.competition.id] && $root.conf.featuredGames.backgroundsCompetitionsPath + backgroundsCompetitionsMaps[game.competition.id]) || (backgroundsCompetitionsMaps['default'] && $root.conf.featuredGames.backgroundsCompetitionsPath + backgroundsCompetitionsMaps['default'])"
                             style="{{(bgImage?'background-image: url('+bgImage+')':'')}}">
                            <div class="team-names-wrapper-b">
                                <ul>
                                    <li>
                                        <p ng-style="{'background-image': $root.conf.teamDefaultLogo ? 'url(images/team-logo-default.png)' : 'url({{$root.conf.teamLogosPath}}e/s/{{Math.floor(game.team1_id / 2000)}}/{{game.team1_id}}.png)'}">
                                            <b title="{{ game.team1_name }}">{{ game.team1_name }}</b>
                                        </p>
                                        <span ng-if="game.events.P1.price" class="{{game.events.P1.price_change == null? '' : ({true: 'up-', false: 'down'}[game.events.P1.price_change > 0] + (game.events.P1.price_change % 2)) }}">
                                            <i>{{game.events.P1.price|oddConvert:env.oddFormat:null:'WINNER'}}</i>
                                        </span>
                                    </li>
                                    <li ng-if="game.events.X.price">
                                        <p ng-style="{'background-image':'url(images/draw.png)'}">
                                            <b title="{{'Draw'|translate}}" ng-bind="'Draw'|translate"></b>
                                        </p>
                                        <span  class="{{game.events.X.price_change == null? '' : ({true: 'up-', false: 'down'}[game.events.X.price_change > 0] + (game.events.X.price_change % 2)) }}">
                                            <i>{{game.events.X.price|oddConvert:env.oddFormat:null:'WINNER'}}</i>
                                        </span>
                                    </li>
                                    <li>
                                        <p ng-style="{'background-image': $root.conf.teamDefaultLogo ? 'url(images/team-logo-default.png)' : 'url({{$root.conf.teamLogosPath}}e/s/{{Math.floor(game.team2_id / 2000)}}/{{game.team2_id}}.png)'}">
                                            <b title="{{ game.team2_name }}">{{ game.team2_name }}</b>
                                        </p>
                                        <span ng-if="game.events.P2.price" class="{{game.events.P2.price_change == null? '' : ({true: 'up-', false: 'down'}[game.events.P2.price_change > 0] + (game.events.P2.price_change % 2)) }}">
                                            <i>{{game.events.P2.price|oddConvert:env.oddFormat:null:'WINNER'}}</i>
                                        </span>
                                    </li>

                                </ul>
                            </div>
                            <div class="game-link-wrapper-b">
                                <a  trans>Bet Now</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
