<div class="better-homepage" ng-init="setTitle('')">
    <div ng-repeat="row in $root.conf.homepage track by $index" class="row"
         ng-style="{'max-width': row.maxWidth}"
         ng-class="{'guide': !row.fullWidth}">
        <div class="row-child">
            <div ng-repeat="item in row.items|orderBy:'order' track by $index" class="{{item.class}} {{item.templateUrl}}">
                <div ng-if="item.templateUrl && item.templateUrl.indexOf('productsSlider') === -1"
                            ng-class="{'kill-height-til-media': item.mediaHeight}" ng-style="{'height': (item.height || item.mediaHeight), 'max-height': item.maxHeight}"
                     ng-include="item.templateUrl|fixPath"></div>
                <products-slider ng-if="item.templateUrl && item.templateUrl.indexOf('productsSlider') !== -1"
                            ng-class="{'kill-height-til-media': item.mediaHeight}" ng-style="{'height': (item.height || item.mediaHeight), 'max-height': item.maxHeight}"
                            slug="{{item.slug || item.sliderSlug}}"></products-slider>
                <div ng-if="item.sliderSlug"
                     ng-class="{'kill-height-til-media': item.mediaHeight}"
                     ng-style="{'height': (item.height || item.mediaHeight), 'max-height': item.maxHeight}"
                     banner-slider
                     interval="{{conf.featuredGames.rotationPeriod}}" slug="{{item.sliderSlug}}"></div>
                <div ng-if="item.dataType" ng-switch="item.dataType">
                    <div ng-switch-when="casinoPromotedGames">
                        <p ng-if="item.label || item.linkUrl" class="homepage-main-title">{{item.label|translate}}<a href="{{item.linkUrl}}">{{item.linkLabel|translate}}</a></p>
                        <div class="casino-games-list-h visible-games-count-5"  casino-promoted-games small-item="item.smallItem" page-category="home" limit="item.limit" games-category="item.category" games-provider="item.provider"></div>
                    </div>
                    <jackpot-slider ng-switch-when="casinoJackpotSlider" type="casino" ng-style="{'height': (item.height || item.mediaHeight), 'max-height': item.maxHeight}" class="casino-games-list-h" load-jackpot-data="true" ></jackpot-slider>
                    <jackpot-slider ng-switch-when="globalJackpotSlider" type="global" ng-style="{'height': (item.height || item.mediaHeight), 'max-height': item.maxHeight}" class="casino-games-list-h" load-jackpot-data="true" ></jackpot-slider>
                    <jackpot-slider ng-switch-when="sportsbookJackpotSlider" type="sportsbook" ng-style="{'height': (item.height || item.mediaHeight), 'max-height': item.maxHeight}" class="casino-games-list-h" load-jackpot-data="true" ></jackpot-slider>
                    <div ng-switch-when="casinoJackpotAndTournaments">
                        <casino-jackpot-and-tournaments load-jackpot-data="true" ></casino-jackpot-and-tournaments>
                    </div>
                    <div ng-switch-when="casinoBiggestWinners">
                        <casino-biggest-winners  title="Last Winners" template-url="templates/directive/casino-biggest-winners-v2.html" limit="item.limit"  class="winners-list" ></casino-biggest-winners>

                    </div>
                    <div ng-switch-when="search">
                        <homepage-search-widget class="float-width-height" casino="item.casino" sport="item.sport"></homepage-search-widget>
                    </div>

                </div>
                <div ng-if="item.iframeUrl">
                    <iframe ng-src="{{(item.iframeUrl + '?language=' + $root.env.lang)|url}}" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<style ng-controller="cmsPagesCtrl" ng-init="loadPage('homepage-backgrounds-' + env.lang, 'lang')">
    .body-wrapper.homepage {
        {{mainPage.thumbnail ? 'background-image: url('+mainPage.thumbnail+');' : ''}}
        {{mainPage.custom_fields.size ? "background-size: " + mainPage.custom_fields.size[0] + ";" : mainPage.thumbnail ? "background-size: 100%;" : ""}}
        {{mainPage.custom_fields.position ? 'background-position: ' + mainPage.custom_fields.position[0] : mainPage.thumbnail ? "background-position: 50% 0" : ""}};
        {{mainPage.custom_fields.attachment ? "background-attachment:" + mainPage.custom_fields.attachment[0] + ";" : ""}}
        {{mainPage.custom_fields.color ? "background-color: " + mainPage.custom_fields.color[0] + ";" : ""}}
        {{mainPage.custom_fields.repeat ? "background-repeat: " + mainPage.custom_fields.repeat[0] : mainPage.thumbnail ? "background-repeat: no-repeat" : ""}};
    }
    .seo-about-text-j:not(.ng-hide) {
        display: block !important;
    }
</style>
