<div>
    <div class="wc-countdown">
        <div class="wc-countdown-rectangle">
            <div class="wc-countdown-icon"></div>
            <div class="wc-countdown-logo"></div>
        </div>
        <div class="wc-countdown-holder">
            <ul countdown="1528988400">
                <li>
                    <p>
                        <span ng-bind="countdown.days"></span>
                    </p>
                    <sup>{{timerText[0]}}</sup>
                </li>
                <li>
                    <p>
                        <span ng-bind="countdown.hours"></span>
                    </p>
                    <sup>{{timerText[1]}}</sup>
                </li>
                <li>
                    <p>
                        <span ng-bind="countdown.minutes"></span>
                    </p>
                    <sup>{{timerText[2]}}</sup>
                </li>
                <li>
                    <p>
                        <span ng-bind="countdown.seconds"></span>
                    </p>
                    <sup>{{timerText[3]}}</sup>
                </li>
            </ul>
        </div>
        <a href="#/sport/?type=0&sport=1&competition=2969&region=10001" trans>View matches</a>
    </div>
</div>