<div>
    <div class="wc-countdown">
        <div class="wc-countdown-rectangle">
            <div class="wc-countdown-icon"></div>
            <div class="wc-countdown-logo"></div>
        </div>
        <div class="wc-countdown-holder">
            <ul>
                <li>
                    <a class="wc-start-text" href="#/russia2018/?p=calendar" trans>Bet on World Cup 2018</a>
                </li>
            </ul>
        </div>
        <a href="#/sport/?type=0&sport=1&competition=2969&region=10001" trans>View matches</a>
    </div>
</div>