<div class="copyright-j" ng-show="!conf.footer.disableCopyrightBlock">
    <div ng-if="conf.footer.poweredByText !== ''">
        &copy; <span ng-show="(now|date:'yyyy') > conf.footer.copyrightSince">{{conf.footer.copyrightSince}} - </span>{{now|date:'yyyy'}}
        <a href="#/" ng-show="!conf.footer.poweredByText">{{conf.footer.siteName || conf.site_name}}</a>
        <a href="#/" ng-show="conf.footer.poweredByText" ng-bind-html="::conf.footer.poweredByText|translate|html"></a>
    </div>
    <div ng-if="conf.footer.poweredByText === '' || conf.footer.poweredByText === null">
        <a href="//www.betconstruct.com" target="_blank" ng-bind-html="'Powered by BetConstruct'|translate|html:'p'"></a>
        <span trans>All rights reserved.</span>
    </div>
</div>