<div class="guide">

    <div class="payment-content-block" ng-show="conf.footer.showPaymentSystems">
        <ul>
            <li ng-repeat="payment in paymentSystemNames track by $index" class="{{payment.name}}" ng-click="openDepositWithPayment($event, payment.name)" ng-class="{'default-cursor': !conf.footerPaymentsClickable}">
                <span ng-hide="payment.image" class="{{payment.name}} paymentIcon"></span>
                <img ng-src="{{payment.image + '?' + $root.releaseDate}}" class="paymentImage" ng-show="payment.image">
            </li>
        </ul>
    </div>
    <div class="footer-custom-sprite" ng-show="conf.footer.imageInsteadPayments">
        <img ng-src="{{spriteURL}}"/>
    </div>
</div>
