<div class="classic-view-wrapper-v3 classic-version-euro2016" ng-controller="sportsbookCtrl">
    <!-- System Calculator-->
    <div id="system-claculator-container"
         ng-if="$root.showSystemCalculator"
         draggable
         allow-other-mouse-events
         drag-from="calculator-draggable-header">
        <include-template template-path="templates/sport/classic/systemCalculator.html"></include-template>
    </div>
    <!-- System Calculator END-->
    <div class="classic-view-column-v3">
        <div class="left-column-v3 ng-hide"></div>
        <!--center-column-->
        <div class="center-column-v3">
            <include-template class="games-view-wrapper-v3 live-calendar-16-j"
                              ng-controller="LiveCalendarController as liveCalCtrl"
                              ng-init="checkIfEnabled('liveCalendar');"
                              template-path="templates/livecalendar/oneDaySelectionViewContent.html">
            </include-template>
        </div>
        <!--center-column END-->
        <!--right-column-->
        <include-template class="virtual-sports-right-b" template-path="templates/sport/classic/right/main.html"></include-template>
        <!--right-column END-->
    </div>
</div>
