<div ng-include="::'templates/header/version_' + conf.header.version + '/verytopmenu.html'|fixPath" class="block-size-visible-b"></div>
<div class="header-bg"></div>
<div class="header block-size-visible-b">
    <ng-include src="::'templates/header/version_' + conf.header.version + '/breadcrumb.html'|fixPath"></ng-include>
    <div ng-hide="conf.integrationMode">
        <div ng-include="::'templates/header/version_' + conf.header.version + '/clock.html'|fixPath"></div>
        <div class="transparent-line"></div>
        <div ng-include="::'templates/header/version_' + conf.header.version + '/settings.html'|fixPath"></div>
        <div ng-include="::'templates/header/version_' + conf.header.version + '/profilemenu.html'|fixPath"></div>
        <div ng-include="::'templates/header/version_' + conf.header.version + '/logo.html'|fixPath"></div>
    </div>
    <div class="top-menu" ng-hide="::conf.integrationMode">
        <div class="main-nav">
            <ul ng-show="env.authorized">
                <ng-include src="::'templates/header/version_' + conf.header.version + '/bonuses.html'|fixPath"></ng-include>
                <ng-include src="::'templates/header/version_' + conf.header.version + '/favorites.html'|fixPath"></ng-include>
                <ng-include src="::'templates/header/version_' + conf.header.version + '/mybets.html'|fixPath"></ng-include>
                <ng-include src="::'templates/header/version_' + conf.header.version + '/balance.html'|fixPath"></ng-include>
                <li class="last-child">
                    <ng-include src="::'templates/header/dynamicmessage.html'|fixPath"></ng-include>
                </li>
            </ul>

            <ul class="not-sign" ng-show="!env.authorized">
                <ng-include src="::'templates/header/version_' + conf.header.version + '/favorites.html'|fixPath"></ng-include>
                <div class="sign-in-reg-buttons">
                    <ng-include src="::'templates/header/version_' + conf.header.version + '/registrationbutton.html'|fixPath"></ng-include>
                    <ng-include src="::'templates/header/version_' + conf.header.version + '/signinbutton.html'|fixPath"></ng-include>
                </div>
            </ul>
        </div>
        <div ng-include="::'templates/header/version_' + conf.header.version + '/topmenu.html'|fixPath"></div>
    </div>
</div>
<ng-include class="subtop-header-menu-j" ng-show="$root.currentPage.hasSubHeader && $root.currentPage.isInSports && $location.path() !== '/'" no-animate src="::'templates/sport/toptab.html'|fixPath"></ng-include>