<div class="category-nav" ng-show="!conf.rfid.loginWIthRFID || env.authorized">
    <ul ng-class="{'menu-dropdown': $root.topMenuDropDown, 'menu-dropdown-show': topMenuLength > conf.visibleItemsInTopMenu}">

        <li ng-repeat="item in ::topMenu track by item.name"
            ng-if="item.showCondition"
            ng-class="{'active': item.classObject.active,
                       '{{::item.staticClass}}{{::item.dynamicClass}}': true,
                       'topmenu-{{::item.name}}': true}">
            <div ng-if="!item.popup && !item.broadcast" class="top-menu-sub-a-t2">
                <a ng-href="{{item.classObject.active ? $location.absUrl() : item.href}}" ng-bind="item.displayName"
                   ng-click="item.click()"
                   ng-show="!item.specialCase" target="{{ item.target || '_self' }}">
                </a>
                <a ng-href="{{item.href}}" ng-click="item.click()" class="poolbetting-menu-item"
                   class-rotate="poolbetting,jackpot" class-rotate-intervals="5000,2000"
                   ng-if="item.specialCase === 'poolbetting'">
                    <p class="poolbetting-title" ng-bind="item.displayName"></p>

                    <p class="jackpot" trans>Jackpot</p>
                    <span>{{(poolBettingJackpot * (poolBettingCurrency.toto_rate || 1))|number: 0 + Math.abs(poolBettingCurrency.rounding) }} {{poolBettingCurrency.name|currency}}</span>
                </a>

                <div class="sub-menu-view" ng-if="item.subMenu">
                    <ul>
                        <li ng-repeat="subMenuItem in item.subMenu">
                            <a ng-href="{{subMenuItem.href}}">{{subMenuItem.displayName | translate}}</a>
                        </li>
                    </ul>
                </div>

                <a ng-href="{{item.href}}" ng-click="item.click()"
                   ng-if="item.specialCase === 'gamesSpecialText'" class="games-item-box"
                   target="{{ item.target || '_self' }}">
                    <i ng-bind="item.displayName"></i>
                    <span class="under-item-text"><i>{{conf.gameMenuSpecialText|translate}}</i></span>
                </a>

                <a ng-href="{{item.href}}" ng-click="item.click()"
                   ng-if="item.specialCase === 'liveDealerMenuSpecialText'" class="games-item-box"
                   target="{{ item.target || '_self' }}">
                    <i ng-bind="item.displayName"></i>
                    <span class="under-item-text"><i>{{conf.liveDealerMenuSpecialText|translate}}</i></span>
                </a>
            </div>

            <div ng-if="item.popup || item.broadcast" class="top-menu-sub-a-t">
                <a ng-if="item.popup"
                   ng-click="$root.topMenuDropDown=false;closeSlider(); openPopup(item.link,menuItem[env.lang].title,item.popup)"
                   ng-bind="item.title"></a>
                <a ng-if="menuItem[env.lang].broadcast"
                   ng-click="$root.topMenuDropDown=false;closeSlider(); broadcast(item.broadcast)"
                   ng-bind="item.title"></a>
            </div>

        </li>

        <div class="top-menu-more" ng-show="topMenuLength > conf.visibleItemsInTopMenu" title="More"
             ng-click="$root.topMenuDropDown=!$root.topMenuDropDown;" hide-on-click
             state-flag-var="$root.topMenuDropDown" trans="attr-only">{{topMenuLength - conf.visibleItemsInTopMenu}}
        </div>
    </ul>
</div>
