<div>
    <div class="affiliate-content {{env.lang}} page{{$location.search().page}}">
        <div class="shadow-landing-aff"></div>
          <div class="big-button">
                <div class="info-affilate">
                    <ul>
                        <li>
                            <p class="way-to-victory"><span trans>ON THE WAY</span><span trans>TO VICTORY!</span></p>
                            <p class="more-100-percent"><span trans>100%</span><span trans>MORE!</span></p>
                        </li>
                        <li><a href="#/" ng-click="broadcast('openRegForm'); $event.stopPropagation();" trans>Register Now</a></li>
                        <li><div class="more">
                            <a href="#/" trans>know more...</a>
                        </div></li>
                    </ul>
                </div>
          </div>

        <div class="sub-info-affilate">
            <div class="mini-aff-contain">
                <ul class="join-bet-win">
                    <li><p><span>1</span><span trans>Join</span></p></li>
                    <li><p><span>2</span><span trans>Bet</span></p></li>
                    <li><p><span>3</span> <span trans>Win</span></p></li>
                </ul>
                <ul class="register-deposit-getmore">
                    <li><p><span>1</span><span trans>Register</span></p></li>
                    <li><p><span>2</span><span trans>Deposit</span></p></li>
                    <li><p><span>3</span> <span trans>Get more</span></p></li>
                </ul>
            </div>
        </div>


    </div>
</div>