<div class="tpl-container news-page" no-animate>
    <!--Меню sport news-->
    <div ng-controller="cmsSportNewsCtrl" watch-resize>
        <div class="spor-news-nav-contein" ng-init="init(true);loadSports();setTitle('News');">
            <div class="nav-news-sport">
                <ul>
                    <div class="news-sport-contain" ng-show="sports && !conf.hideNewsTab">
                        <li><h3 trans>sport news</h3></li>
                        <li ng-class="{'active-item': !selectedNewsSport.name}"><a
                                ng-click="selectNewsSport({name:undefined})" trans>all</a></li>
                        <li ng-repeat="sport in sports" ng-class="{'active-item':sport.name === selectedNewsSport.name}"
                            ng-if="$index < maxVisibleSports">
                            <a ng-click="selectNewsSport(sport);closeNews();">{{ sport.title | translate }}</a>
                        </li>
                    </div>
                    <li class="last-item" ng-show="sportsMore.length"><a trans>More</a>
                        <div class="contein-games" ng-hide="hideSportListDropdown">
                            <div class="arrow-sport"></div>
                            <h3 trans>Select a Sport</h3>
                            <div class="meny-games" ng-repeat="column in sportsMore">
                                <ul ng-repeat="letterGroup in column">
                                    <li>{{ letterGroup[0].title.charAt(0) }}</li>
                                    <li ng-repeat="sport in letterGroup"><a
                                            ng-click="selectNewsSport(sport);closeNews();"> {{ sport.title | translate
                                        }} </a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--popup  promotion news block START-->

        <div class="popup-news" ng-show="landingNews.id">
            <div class="popup-news-table">
                <div class="popup-news-row">
                    <div class="popup-news-column">

                        <div class="popup_block-news">

                            <div ng-click="closeNews()" class="popup-news-close-icon"></div>
                            <a name="lnews-{{landingNews.id}}" class="anchor"></a>
                            <h3 ng-bind-html="landingNews.title" class="promo-bonus-title"></h3>
                            <div class="big-news-block">
                                <div class="popup-news-content">
                                    <div class="popup-news-content-left">
                                        <span class="date-promo-b">{{ landingNews.start_date }}</span>
                                        <div class="promo-picture-block"><a><img ng-src="{{landingNews.thumbnail}}"
                                                                                 alt=""></a></div>
                                        <div class="button_bet" ng-show="landingNews.gameExists">
                                            <a href="#/sport/?type={{landingNews.custom_fields.type[0]}}&sport={{landingNews.custom_fields.sport[0]}}&game={{landingNews.custom_fields.game[0]}}&competition={{landingNews.custom_fields.competition[0]}}&region={{landingNews.custom_fields.region[0]}}">
                                                <p trans>Place A bet!</p><span></span></a>
                                        </div>
                                        <div class="mini-social-icons">
                                            <p trans>Share</p>
                                            <ul>
                                                <li class="social-facebook"><a
                                                        ng-href="https://www.facebook.com/sharer/sharer.php?u={{landingNews.permalink}}"
                                                        target="_blank">facebook</a></li>
                                                <li class="social-twitter">
                                                    <a ng-href="https://twitter.com/share?text={{landingNews.titleRaw}}&url=1&via={{$root.conf.twitterAccount}}&hashtags={{$root.conf.twitterHashTag}},{{landingNews.categoryTitle}}"
                                                       target="_blank">Tweet</a>
                                                </li>
                                                <li class="social-googlePlus"><a
                                                        ng-href="https://plus.google.com/share?url={{landingNews.permalink}}"
                                                        target="_blank">google+</a></li>
                                                <li class="permalink"><a href=""
                                                                         ng-click="showPermaLink(landingNews.permalink)">permalink</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>


                                    <p class="all-text-news-b" ng-bind-html="landingNews.content"></p>
                                </div>
                            </div>
                            <!--                            <div class="closed-arrow-b"><a ng-click="closeNews()" trans>close</a></div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--popup promotion  news block END-->


        <vbet-loader ng-show="articleLoader && !newsAreLoading"></vbet-loader>

        <!--Меню sport news-->
        <div class="block-meny-news">
            <div ng-repeat="group in recentNewsInGroups track by group.id" class="block-sport-news"
                 ng-class="{'news-initial': !newsAmountIncreased}">
                <div class="list-news">
                    <ul ng-repeat="news in group.news track by news.id" ng-class="'news-column-' + $index">
                        <li>
                            <h3 ng-hide="$root.conf.hidePromotionNewsDate" title="{{news.titleRaw}}"><a ng-click="showNews(news, group.id);$event.stopPropagation();" ng-bind-html="news.title"></a></h3>
                            <p ng-hide="$root.conf.hidePromotionNewsDate">{{ news.start_date + cmsTimeZone |formatDate: 'full':null:$root.env.timeFormat }}</p>
                            <div class="picture-news-block">
                                <a ng-click="showNews(news);$event.stopPropagation();"><img ng-src="{{news.thumbnail}}"
                                                                                            alt=""></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="load-more-news" ng-show="!noMoreNews">
                <a ng-if="$root.conf.autoLoadNews" load-more bottom-offset="600" exception="newsAreLoading"
                   ng-click="loadMoreNews()" ng-show="!newsAreLoading"><p trans>Load more</p><span></span></a>
                <a ng-if="!$root.conf.autoLoadNews" ng-click="loadMoreNews()" ng-show="!newsAreLoading"><p trans>Load
                    more</p><span></span></a>
                <a trans class="loading-more" ng-show="newsAreLoading">Loading</a>
            </div>
        </div>


        <!--popup promotion  news block START-->
        <div class="popup-news" ng-if="selectedNews.id">
            <div class="popup-news-table">
                <div class="popup-news-row">
                    <div class="popup-news-column">
                        <div class="popup_block-news">
                            <div ng-click="closeNews()" class="popup-news-close-icon"></div>
                            <a name="news-{{selectedNews.id}}" class="anchor"></a>
                            <h3 ng-bind-html="selectedNews.title" class="promo-bonus-title"></h3>
                            <div class="big-news-block">
                                <div class="popup-news-content">
                                    <div class="popup-news-content-left">
                                          <span class="date-promo-b">{{ selectedNews.start_date + cmsTimeZone | formatDate:'full':null:$root.env.timeFormat
                                              }}</span>
                                        <div class="promo-picture-block"><a><img ng-src="{{selectedNews.thumbnail}}"
                                                                                 alt=""></a></div>
                                        <div class="button_bet" ng-show="selectedNews.gameExists" ng-click="goToTop();">
                                            <a href="#/sport/?type={{selectedNews.custom_fields.type[0]}}&sport={{selectedNews.custom_fields.sport[0]}}&game={{selectedNews.custom_fields.game[0]}}&competition={{selectedNews.custom_fields.competition[0]}}&region={{selectedNews.custom_fields.region[0]}}">
                                                <p trans>Place A bet!</p><span></span></a>
                                        </div>
                                        <div class="mini-social-icons">
                                            <p trans>Share</p>
                                            <ul>
                                                <li class="social-facebook"><a
                                                        ng-href="https://www.facebook.com/sharer/sharer.php?u={{selectedNews.permalink}}"
                                                        target="_blank">facebook</a></li>
                                                <li class="social-twitter">
                                                    <a ng-href="https://twitter.com/share?text={{selectedNews.titleRaw|uri}}&url={{selectedNews.permalink}}&via={{$root.conf.twitterAccount}}&hashtags={{$root.conf.twitterHashTag}},{{selectedNews.categoryTitle}}"
                                                       target="_blank">Tweet</a>
                                                </li>
                                                <li class="social-google"><a
                                                        ng-href="https://plus.google.com/share?url={{selectedNews.permalink}}"
                                                        target="_blank">google+</a></li>
                                                <li class="mini-permalink"><a href=""
                                                                              ng-click="showPermaLink(selectedNews.permalink)"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>


                                    <p ng-bind-html="selectedNews.content" class="all-text-news-b"></p>
                                </div>
                            </div>
                            <!--                            <div class="closed-arrow-b"><a ng-click="closeNews()" trans>close</a></div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--popup promotion news block END-->
    </div>
</div>
