<div class="content-wrapper-t" ng-controller="eSportsMainController" ng-init="setTitle('esport')">
    <div id="system-claculator-container"
         ng-if="$root.showSystemCalculator"
         draggable
         allow-other-mouse-events
         drag-from="calculator-draggable-header">
        <include-template template-path="templates/sport/classic/systemCalculator.html"></include-template>
    </div>
    <div class="classic-version-euro2016" ng-style="{'background-image': 'url(' + page.thumbnail_images.full.url + ')'}">
        <div class="classic-view-wrapper-v3">
            <div class="classic-view-column-v3 {{leftMenuClosed ? 'left-menu-closed-v3' : ''}}">
                <div class="left-column-v3" ng-include="'templates/sport/esports/left.html'"></div>
                <div class="center-column-v3" ng-class="{'game-pinned': env.isLiveGamePinned}" ng-include="'templates/sport/esports/center/main.html'"></div>
                <div class="right-column-v3">
                    <div class="scroll-c-b">
                    <!--video and animation-->
                    <div class="animation-video-box-v3" ng-class="{'active': hideVideoAndAnimationBox}" ng-if="openGame.video_id && !pinnedGames[openGame.id] && !enlargedGame">
                        <div class="animation-video-contain-v3" ng-if="openGame.type===1">
                            <div class="animation-video-title-row-v3">
                                <div class="anime-video-switcher-v3">
                                    <ul>
                                        <li class="video-view-icon-v3" ng-click="openGame.activeFieldType='video'; playerRemoved = false;"
                                            ng-show="conf.videoEnabled && (openGame.video_id || openGame.video_data) && !pinnedGames[openGame.id] && (!enlargedGame || openGame.id !== enlargedGame.id)"
                                            ng-class="{'active': openGame.activeFieldType==='video' && !playerRemoved}">
                                        </li>
                                        <li class="animation-view-icon-v3" ng-show="openGame.has_animation" ng-click="openGame.activeFieldType='field'"
                                            ng-class="{'active': openGame.activeFieldType==='field' || playerRemoved || pinnedGames[openGame.id]}">
                                        </li>
                                    </ul>
                                </div>
                                <div class="contain-v-a-fanction-icons-v3">
                                    <ul>
                                        <li class="arrow-closed-anime-b-v3" ng-click="toggleVideoAndAnimationBox()" ng-class="{'active': hideVideoAndAnimationBox}"></li>
                                        <li class="pin-icon-video-v3" ng-show="openGame.video_data && openGame.activeFieldType == 'video' && openGame.tv_type !== conf.defaultStreaming.tvType && !pinnedGames[openGame.id]" ng-click="openGame.activeFieldType='field'; detachVideo('dragable');"></li>
                                        <li class="resize-icon-full-video-v3" ng-show="openGame.video_data && openGame.activeFieldType == 'video'" ng-class="{'active': openGame.activeFieldType == 'video' && !conf.detachedVideoSizes[openGame.tv_type],'disabled': !(openGame.activeFieldType == 'video' &&!conf.detachedVideoSizes[openGame.tv_type])}" ng-click="openGame.activeFieldType='field'; detachVideo('fullScreen');openVideoGame(openGame);"></li>
                                        <li class="sound-icon-v3 " ng-click="env.sound = 0;" ng-show="openGame.activeFieldType==='field' && env.sound > 0" title="Sound" trans="attr-only"></li>
                                        <li class="sound-icon-v3 active" ng-click="env.sound = 0.75;" ng-show="openGame.activeFieldType==='field' && env.sound === 0" title="Sound" trans="attr-only"></li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-if="openGame.video_data && !hideVideoAndAnimationBox" class="video-animation-vox-v3 animation-control">

                               <section class="e-s-video-player game-video">
                                   <div class="game-video-container">
                                       <div class="video-player-container">
                                           <div class="video-control-buttons" ng-show="!$root.conf.video.providersThatSupportHls[providerId]">
                                               <div class="play-pause-control" ng-show="videoIsLoaded">
                                                   <span ng-click="togglePause();" ng-show="!paused" class="video-pause"></span>
                                                   <span ng-click="togglePause();" ng-show="paused" class="video-play"></span>
                                               </div>
                                               <div class="sound-volume-control" ng-show="videoIsLoaded">
                                                   <span ng-click="toggleMute(1)" ng-show="!mute" class="video-mute"></span>
                                                   <span ng-click="toggleMute(0)" ng-show="mute" class="video-unmute"></span>
                                               </div>
                                           </div>

                                           <hls-player ng-if="$root.conf.video.providersThatSupportHls[providerId]" provider-id="{{openGame.tv_type}}" stream-url="{{openGame.video_data}}"></hls-player>

                                           <flashplayer ng-if="!$root.conf.video.providersThatSupportHls[providerId]" id="gamevideo{{openGame.id}}" stream-url="{{openGame.video_data}}" provider-id="{{openGame.tv_type}}" initially-muted="{{ env.sound }}"></flashplayer>

                                           <div class="video-detached-game-name">
                                               <div>{{enlargedGame.sport.name}} : {{enlargedGame.team1_name}}
                                                   {{enlargedGame.team2_name ? '&mdash; ' + enlargedGame.team2_name : ''}}</div>
                                           </div>
                                       </div>
                                   </div>
                               </section>

                            </div>
                        </div>
                    </div>
                    <live-games-slider interval="10000"></live-games-slider>
                    <!--video and animation END-->
                    <include-template class="virtual-sports-right-b" template-path="templates/sport/classic/right/main.html"></include-template>
                    </div>
                </div>
                <ng-include ng-if="conf.videoEnabled && pinnedGameType === 'dragable'" src="::'templates/sport/classic/av-pinned.html'|fixPath" style="position: fixed; z-index: 999999999;"></ng-include>
            </div>
        </div>
    </div>
</div>
