<div class="checkbox-separator">
    <ng-include ng-if="conf.gdpr.enabled" src="::'templates/slider/registration/gdpr.html'|fixPath"></ng-include>
    <div class="tooltip-wrapper-j">
        <div class="mini-checkbox-b" ng-init="resetError[agree] = true" ng-class="{'error': !resetError[agree] && registerform.agree.$error.required}">
            <input ng-model="registrationData.agree" type="checkbox" id="checkbox-id1" name="agree" required>

            <label ng-if="'registration-tc-text'|translate:null:true" for="checkbox-id1" ng-class="{'error': !resetError[agree] && registerform.agree.$error.required}">
                <span ng-bind-html="'registration-tc-text'|translate:['<a href=\'' + (conf.registration.customLink.link || '#/?help=general-terms-and-conditions&lang=' + env.lang) + '\' target=\'_blank\'>' + ('Terms &amp; Conditions'|translate) + '</a>', conf.registration.minimumAllowedAge]|html"></span>
            </label>

            <label ng-if="!('registration-tc-text'|translate:null:true)" for="checkbox-id1" ng-class="{'error': !resetError[agree] && registerform.agree.$error.required}">
                <span trans>I agree to all</span>
                <a class="info-tooltip" href="#/?help=general-terms-and-conditions&lang={{env.lang}}" target="_blank" ng-if="!conf.registration.disableTermsLink && !conf.registration.customLink.enabled">
                    <span trans >Terms &amp; Conditions</span>
                </a>
                <a class="info-tooltip"  ng-href="{{ conf.registration.customLink.link }}" target="_blank" ng-if="conf.registration.customLink.enabled">
                    <span trans >Terms &amp; Conditions</span>
                </a>
                    <a class="info-tooltip" ng-if="conf.registration.disableTermsLink && !conf.registration.customLink.enabled">
                    <span trans >Terms &amp; Conditions</span>
                    <p><span class="arrow-sport"></span>
                        <span trans>You can read our Terms and Conditions by clicking corresponding links in page footer.</span>
                    </p>
                </a>
                <span ng-show="conf.registration.minimumAllowedAge==18" class="hintReq" trans>and I am over 18 years of age and have read and accepted the general terms and conditions.</span>
                <span ng-show="conf.registration.minimumAllowedAge==21" class="hintReq" trans>and I am over 21 years of age and have read and accepted the general terms and conditions.</span>
                <span ng-show="conf.registration.ageRestrictionMessage" class="hintReq" ng-bind="conf.registration.ageRestrictionMessage | translate"></span>
            </label>
        </div>
    </div>
</div>