@font-face {
    font-family: Arial;
    src: url('../../fonts/arm/arnamu.eot');
    src: url('../../fonts/arm/arnamu.eot') format('embedded-opentype'),
    url('../../fonts/arm/arnamu.woff2') format('woff2'),
    url('../../fonts/arm/arnamu.woff') format('woff'),
    url('../../fonts/arm/arnamu.ttf') format('truetype'),
    url('../../fonts/arm/arnamu.svg#arnamu') format('svg');
    font-weight: normal;
    font-style: normal;
    unicode-range:U+0530-058F;
}
@font-face {
    font-family: Arial;
    src: url('../../fonts/arm/arnamu_bold.eot');
    src: url('../../fonts/arm/arnamu_bold.eot') format('embedded-opentype'),
    url('../../fonts/arm/arnamu_bold.woff2') format('woff2'),
    url('../../fonts/arm/arnamu_bold.woff') format('woff'),
    url('../../fonts/arm/arnamu_bold.ttf') format('truetype'),
    url('../../fonts/arm/arnamu_bold.svg#arnamu_bold') format('svg');
    font-weight: bold;
    font-style: normal;
    unicode-range:U+0530-058F;
}
