<div class="mixed-view-content" ng-controller="cashBackCashOutCtrl">
    <div class="mixed-view-body">
        <div class="mixed-view-body-ins">
            <div class="balance-lightbox-j">
                <div class="mixed-tickets-content-j">
                    <vbet-loader ng-show="isLoading"></vbet-loader>
                    <div class="cashback-out">
                        <div class="cashback-amount-block" ng-repeat="bonus in availableBonuses track by bonus.BonusDefinitionId">
                            <span class="bonus-category">{{bonus.CategoryName|translate}}</span>
                            <div class="amount-line">
                                <div>
                                    <p>
                                        <span class="amount-title" trans>Available For Cashout</span>
                                        <span class="amount-value" ng-if="!bonus.cashBackCashOut" trans>*** ***</span>
                                        <span class="amount-value" ng-if="bonus.cashBackCashOut">{{bonus.cashBackCashOut.Amount|number:$root.conf.balanceFractionSize}} <i>{{$root.profile.currency_name|currency}}</i></span>
                                    </p>
                                </div>
                                <div>
                                    <button ng-if="!bonus.cashBackCashOut.Amount" ng-disabled="bonus.cashBackCashOut && !bonus.cashBackCashOut.Amount" ng-click="calculateCashOutAmount(bonus.BonusDefinitionId)" ng-class="{'default': !bonus.cashBackCashOut}" trans>Get Cashback Amount</button>
                                    <button ng-if="bonus.cashBackCashOut.Amount" ng-click="processCashOutAmount(bonus.BonusDefinitionId, bonus.cashBackCashOut.Amount)" trans>Cashback Cashout</button>
                                </div>
                            </div>
                        </div>
                        <p class="non-bonus" ng-if="!isLoading && !availableBonuses.length" trans>You do not have available bonuses</p>
                    </div>
                </div>
             <div class="promotions-balance-j">
                 <div ng-controller="cmsPagesCtrl" ng-init="gePageBanners('casino','casino-cash-back-out-' + $root.env.lang);" >
                     <vbet-big-slider class="big-slider-casino-directive" ng-if="casinoTopBanners.length" images="casinoTopBanners" link-click-handler="openCBannerLink" slider-template="true"></vbet-big-slider>
                 </div>
             </div>
            </div>
        </div>
    </div>
</div>
