<div>
    <br/>
    <br/>
    <div class="settings-info-contain deposit-limit">
        <div style="text-align: center"><img src="images/VBET/GamStop.png" alt="" /></div>
        <br/>
        <br/>
        <p trans> If you are considering self-exclusion, you may wish to register with GAMSTOP. GAMSTOP is a free service that enables you to self-exclude from all online gambling companies licensed in Great Britain. to find out more and to sign up with GAMSTOP please visit <a href="https://www.gamstop.co.uk" target="_blank">www.gamstop.co.uk</a>.</p>
    </div>
</div>