<!-- Range from -->
<li class="range-filter-box">
    <p trans>Range</p>
    <div class="mini-form-box-b">
        <div class="date-picker-b">
        <div class="picker-contain">
            <div class="input-group"
                 ng-click="boxStates.openedFrom = !boxStates.openedFrom;boxStates.openedTo = false; boxStates.transactionDropdownOpened = false;boxStates.categoryDropdownOpened = false;">
                <input type="text"
                       class="form-control"
                       placeholder="{{'From'|translate}}"
                       datepicker-popup="{{datePickerFormat}}"
                       min-date="datePickerLimits.minFromDate"
                       max-date="datePickerLimits.maxFromDate || today"
                       ng-model="requestData.dateFrom"
                       is-open="boxStates.openedFrom"
                       disabled="disabled"
                       datepicker-options="dateOptions"
                       ng-change="adjustDate('from')"
                       ng-required="true"
                       close-text="Close"
                />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default date-view"
                        ng-click="boxStates.openedFrom = !boxStates.openedFrom;boxStates.openedTo = false; boxStates.transactionDropdownOpened = false;boxStates.categoryDropdownOpened = false;$event.stopPropagation();">
                    <i class="date-p"></i>
                </button>
            </span>
            </div>
        </div>
    </div>
    </div>
</li>

<!--Range to -->
<li ng-if="!hideToFilter">
    <p></p>
    <div class="mini-form-box-b">
        <div class="date-picker-b">
            <div class="picker-contain">
                <div class="input-group"
                     ng-click="boxStates.openedTo = !boxStates.openedTo;boxStates.openedFrom = false; boxStates.transactionDropdownOpened = false;boxStates.categoryDropdownOpened = false;">
                    <input type="text" class="form-control"
                           placeholder="{{'To'|translate}}"
                           datepicker-popup="{{datePickerFormat}}"
                           min-date="datePickerLimits.minToDate"
                           max-date="datePickerLimits.maxToDate || today"
                           ng-model="requestData.dateTo"
                           is-open="boxStates.openedTo"
                           disabled="disabled"
                           datepicker-options="dateOptions"
                           ng-change="adjustDate('to')"
                           ng-required="true"
                           close-text="Close"/>
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default date-view"
                            ng-click="boxStates.openedTo = !boxStates.openedTo;boxStates.openedFrom = false; boxStates.transactionDropdownOpened = false;boxStates.categoryDropdownOpened = false;$event.stopPropagation();">
                        <i class="date-p"></i>
                    </button>
                </span>
                </div>
            </div>
        </div>
    </div>
</li>
