<div>
    <div class="promotions-balance-j" ng-class="{'no-banners-balance': !balanceTopBanners.length}" ng-controller="cmsPagesCtrl" ng-init="gePageBanners('balance','withdraw-banner-' + $root.env.lang);">
        <div >
            <vbet-big-slider class="big-slider-casino-directive" ng-if="balanceTopBanners" images="balanceTopBanners" link-click-handler="openCBannerLink" slider-template="true"></vbet-big-slider>
        </div>
    </div>
    <div class="mixedWallet-j">
        <form autocomplete="off" name="cashierForm" id="cashierForm" novalidate>
            <div class="casino-main-switcher-container">
                <div class="switcher-titles left-part">
                    <p trans class="from-to-p">From</p>
                    <div class="main-casino-p-wrap">
                        <p class="main-casino-p ellipsis-text" ng-if="cashierFormModel.fromProduct === 'Casino' && (casinoEnabled || calculatedConfigs.pokerEnabled)" trans="">Casino</p>
                        <p class="main-casino-p ellipsis-text" ng-if="cashierFormModel.fromProduct === 'Sport'" trans>Main</p>
                    </div>
                </div>
                <div ng-if="casinoEnabled" class="switch-btn-wrap">
                    <button type="button" class="switch-btn" aria-label="Switch button" ng-click="changeCashierFormModelFromProduct(cashierFormModel.fromProduct === 'Sport'?'Casino': 'Sport', true)">
                        <i class="cms-jcon-switch"></i>
                    </button>
                </div>
                <div class="switcher-titles">
                    <p trans class="from-to-p">To</p>
                    <div class="main-casino-p-wrap">
                        <p class="main-casino-p ellipsis-text" ng-if="cashierFormModel.toProduct === 'Casino' && (casinoEnabled || calculatedConfigs.pokerEnabled)" trans="">Casino</p>
                        <p class="main-casino-p ellipsis-text" ng-if="cashierFormModel.toProduct === 'Sport'" trans>Main</p>
                    </div>
                </div>
            </div>
            <label class="input-block-mixedWJ">
                <p trans>Amount</p>
                <input name="amount" type="number" numpad numpad-force placeholder="0.00" min="{{transferMinLimit}}" fix-input-number
                       max="{{({'Sport': profile.calculatedBalance, 'Casino': profile.casino_balance}[cashierFormModel.fromProduct])}}"
                       autocomplete="off" ng-model="cashierFormModel.amount" step="{{transferMinLimit}}" required
                       trans>
                <button class="max-btn" type="button" ng-disabled="transferInProgress || cashierFormModel.fromProduct === cashierFormModel.toProduct" ng-click="getMaxTransferAmount()" trans>Max</button>
            </label>
            <button class="transfer-btn" disabled="true" ng-disabled="cashierForm.amount.$invalid || transferInProgress || cashierFormModel.fromProduct === cashierFormModel.toProduct" ng-click="transfer()">
                <span trans ng-show="!transferInProgress">Transfer</span>
                <span trans ng-show="transferInProgress">Wait...</span>
            </button>
        </form>

        <table>
            <tr>
                <th colspan="2"><p trans>Main</p></th>
            </tr>
            <tr>
                <td><p trans>Balance</p></td>
                <td><p>{{profile.balance|number:conf.balanceFractionSize}}</p><button ng-show="!conf.disableDepositPage"   ng-click="env.sliderContent = 'deposit'" title="If your balance less, top up your balance now." trans>Deposit</button></td>
            </tr>
            <tr ng-if="profile.points_balance!==undefined && profile.points_balance!==null && conf.showPointsBalance">
                <td><p trans>Points</p></td>
                <td><p>{{profile.points_balance}}</p><button trans ng-show="conf.pointsShopEnabled">Go to shop</button></td>
            </tr>
            <tr ng-if="profile.bonus_balance">
                <td><p trans>Main Bonus</p></td>
                <td><p>{{(profile.bonus_balance + profile.bonus_win)|number:conf.balanceFractionSize}}</p><button ng-show="conf.enableBonusCancellation" ng-click="cancelBonus('Sport');" trans>Cancel</button></td>
            </tr>
        </table>
        <table ng-show="casinoEnabled || calculatedConfigs.pokerEnabled">
            <tr>
                <th colspan="2"><p trans>Casino</p></th>
            </tr>
            <tr>
                <td><p trans>Balance</p></td>
                <td><p>{{profile.casino_balance|number:conf.balanceFractionSize}}</p><button ng-show="!conf.disableDepositPage" ng-click="env.sliderContent = 'deposit'" title="If your balance less, top up your balance now." trans>Deposit</button></td>
            </tr>
        </table>
        <table ng-show="casinoEnabled || calculatedConfigs.pokerEnabled">
            <tr>
                <th colspan="2"><p trans>Total</p></th>
            </tr>
            <tr class="total-balance-table-wallet-mixed">
                <td><p trans>Balance</p></td>
                <td><p>{{(profile.calculatedBalance + (profile.casino_balance || 0))|number:conf.balanceFractionSize}}</p></td>
            </tr>
        </table>
    </div>
</div>
