<div class="mixed-view-content" ng-controller="mixedBalanceCtrl">
    <div class="mixed-view-head" ng-init="env.paymentsSubTub = 'paymentsMainPage'">
        <div class="group-tabs-wrapper">
            <div class="first-level-history-tab">
                <ul>
                    <li ng-click="env.sliderContent = 'deposit'; env.paymentsSubTub = 'paymentsMainPage';" ng-class="{'active':env.sliderContent === 'deposit'}" ng-if="!conf.disableDepositPage"><span trans>Deposit</span></li>
                    <li ng-click="env.sliderContent = 'cashier'; env.paymentsSubTub = 'paymentsMainPage';" ng-if="conf.transferEnabled && env.authorized && (casinoEnabled || calculatedConfigs.pokerEnabled)" ng-class="{'active':env.sliderContent === 'cashier'}" ><span trans>Transfer</span></li>
                    <li ng-click="env.sliderContent = 'myWallets'; env.paymentsSubTub = 'paymentsMainPage';" ng-if="$root.conf.myWalletsEnabled" ng-class="{'active':env.sliderContent === 'myWallets'}" ><span trans>My Wallets</span></li>
                    <li ng-click="env.sliderContent = 'withdraw'; env.paymentsSubTub = 'paymentsMainPage';" ng-class="{'active':env.sliderContent === 'withdraw' && env.paymentsSubTub !== 'buddyTransfer'}" ng-if="!conf.disableWithdrawPage"><span trans>Withdraw</span></li>
                    <li ng-click="env.sliderContent = 'balanceHistory'; env.paymentsSubTub = 'paymentsMainPage';" ng-class="{'active':env.sliderContent === 'balanceHistory'}" ng-if="env.authorized"><span trans>History</span></li>
                    <li ng-click="env.sliderContent = 'depositRequest'; env.paymentsSubTub = 'paymentsMainPage';" ng-class="{'active':env.sliderContent === 'depositRequest'}" ng-if="env.authorized && conf.depositRequestURL"><span trans>Deposit Request</span></li>
                    <li ng-click="env.sliderContent = 'buddytransfer'" ng-class="{'active':env.sliderContent === 'buddytransfer'}" ng-if="env.authorized && conf.buddyTransfer.enabled && conf.buddyTransfer.iconInTab"><span trans>Buddy transfer</span></li>
                </ul>
            </div>
            <div ng-if="env.sliderContent === 'withdraw' || env.sliderContent ===  'deposit'" class="second-level-history-tab">
                <ul ng-init="env.paymentsSubTub = 'paymentsMainPage'">
                    <li ng-click="env.paymentsSubTub = 'paymentsMainPage'" ng-class="{'active': (env.paymentsSubTub == 'paymentsMainPage')}"><span ng-if="env.sliderContent === 'withdraw'" trans>Make withdraw</span><span ng-if="env.sliderContent === 'deposit'"trans>Make deposit</span></li>
                    <li ng-click="env.paymentsSubTub = 'status'" ng-class="{'active': (env.paymentsSubTub == 'status')}" ng-show="env.authorized"><span ng-if="env.sliderContent === 'withdraw'"  trans>Withdraw status</span><span ng-if="env.sliderContent === 'deposit'"  trans>Deposit status</span></li>
                </ul>
            </div>
            <div class="float-width" ng-if="env.authorized && env.sliderContent === 'balanceHistory'">
                <div class="second-level-history-tab" ng-if="conf.showProfitLossTab">
                    <ul>
                        <li ng-click="filterBalanceHistory('all')" ng-class="{'active': (balanceHistoryFilter === 'all')}"><span trans>All transactions</span></li>
                        <li ng-click="filterBalanceHistory('net')" ng-class="{'active': (balanceHistoryFilter === 'net')}"><span trans>Net deposit</span></li>
                    </ul>
                </div>
                <div class="all-history-filter-container">
                    <div class="filter-columns-container" ng-init="boxStates={categoryDropdownOpened: false, transactionDropdownOpened: false, openedFrom: false, openedTo: false}">
                        <ul>
                            <li ng-show="balanceHistoryFilter === 'all'">
                                <p trans>Transaction Type</p>
                                <div class="select-box-period-b"
                                     ng-click="boxStates.transactionDropdownOpened=!boxStates.transactionDropdownOpened;boxStates.openedTo = false; boxStates.openedFrom = false; boxStates.categoryDropdownOpened = false;"
                                     ng-class="{'active': boxStates.transactionDropdownOpened}"> <!--active-->
                                    <p >{{balanceHistoryParams.balanceTypes[balanceHistoryParams.balanceType]}}</p>
                                    <ul>
                                        <li ng-repeat="(key, value) in balanceHistoryParams.balanceTypes track by $index" ng-if="value !== null"
                                            ng-click="balanceHistoryParams.balanceType=key;boxStates.transactionDropdownOpened = false; $event.stopPropagation();">
                                            {{value}}
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li ng-show="balanceHistoryFilter === 'all' && balanceHistoryParams.availableProducts[0] && balanceHistoryParams.availableProducts[1]">
                                <p trans>Category</p>
                                <div class="select-box-period-b" ng-click="boxStates.categoryDropdownOpened=!boxStates.categoryDropdownOpened;boxStates.openedTo = false; boxStates.openedFrom = false; boxStates.transactionDropdownOpened = false;"
                                     ng-class="{'active': boxStates.categoryDropdownOpened}" > <!--active-->
                                    <p>{{balanceHistoryParams.availableProducts[balanceHistoryParams.balanceCategory]|translate:null:'balance_history_' + balanceHistoryParams.availableProducts[balanceHistoryParams.balanceCategory]}}</p>
                                    <ul>
                                        <li ng-repeat="(key, value) in balanceHistoryParams.availableProducts track by $index"
                                            ng-click="changeBalanceCategory(key); boxStates.transactionDropdownOpened = false;">
                                            {{value|translate:null:'balance_history_' + value}}
                                        </li>
                                    </ul>

                                </div>
                            </li>
                        </ul>
                        <ul ng-include="::'templates/livebox/historyFilter.html'|fixPath"></ul>
                        <ul>
                            <li ng-if="balanceHistoryFilter === 'net'" class="total-gold-card">
                                <ul>
                                    <li>
                                        <p trans>Total deposits</p>
                                        <strong ng-show="netDepositHistoryTotal.InAmount !== undefined">
                                            {{::netDepositHistoryTotal.InAmount|number:conf.balanceFractionSize}} {{currency_name|currency}}
                                        </strong>
                                    </li>
                                    <li>
                                        <p trans>Total withdrawals</p>
                                        <strong ng-show="netDepositHistoryTotal.OutAmount !== undefined">
                                            {{::netDepositHistoryTotal.OutAmount|number:conf.balanceFractionSize}} {{currency_name|currency}}
                                        </strong>
                                    </li>
                                    <li>
                                        <p trans>Net deposit</p>
                                        <strong ng-show="netDepositHistoryTotal.NetDeposit !== undefined">
                                            {{::netDepositHistoryTotal.NetDeposit|number:conf.balanceFractionSize}} {{currency_name|currency}}
                                        </strong>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="mybets-filter-show-b">
                        <button trans="" ng-click="balanceHistoryFilter === 'all' ? loadMixedBalanceHistory() : loadNetDeposit()" ng-disabled="!balanceHistoryLoaded">SHOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mixed-view-body">
        <div class="mixed-view-body-ins">
            <div class="balance-lightbox-j">
                <section ng-if="env.sliderContent === 'cashier'" ng-controller="cashierCtrl" ng-init="initCashier();" ng-include="::'templates/livebox/mixedWallet.html'|fixPath" class="mixedWallet-iwrap-j"></section>
                <section ng-if="env.sliderContent === 'myWallets'" ng-controller="myWalletsCtrl" ng-include="::'templates/livebox/myWallets.html'|fixPath" class="mixedWallet-iwrap-j"></section>
                <section ng-if="env.sliderContent === 'depositRequest'" ng-init="formatDepositRequestURL()" class="depositRequest">
                    <iframe ng-src="{{depositRequestURL|url}}"></iframe>
                </section>

                <section ng-if="($root.env.sliderContent === 'withdraw' && !$root.conf.disableWithdrawPage) || ($root.env.sliderContent === 'deposit' && !$root.conf.disableDepositPage)" ng-include="::'templates/livebox/mixedPayments.html'|fixPath"></section>
                <section ng-if="env.sliderContent === 'balanceHistory'">
                    <vbet-loader ng-show="!balanceHistoryLoaded || !balanceHistoryTypesLoaded"></vbet-loader>
                    <ng-include ng-show="balanceHistoryLoaded && balanceHistoryTypesLoaded" src="::'templates/livebox/mixedBalanceHistory.html'|fixPath"></ng-include>
                </section>
                <section ng-if="env.sliderContent === 'buddytransfer'">
                    <ng-include src="::'templates/livebox/mixedBuddyTransfer.html'|fixPath;"></ng-include>
                </section>
            </div>
        </div>
    </div>
</div>
