<div>
    <div class="sc-add">
        <ul class="sc-add-table" ng-class="{'active': value.Currency === currency_name}">
            <li class="sc-add-section">
                <i class="card-icon"></i>
            </li>
            <li class="sc-add-info">
                <p>9332 - XXXX - XXXX - 0866</p>
                <span trans>Main card</span>
            </li>
            <li class="sc-deposit">
                <button trans>Deposit</button>
            </li>
            <li class="sc-remove">
                <span trans>Remove</span>
            </li>
        </ul>
        <div class="sc-add-another"  ng-class="{'active': multiCurrency.showCurrencyList}" ng-click="multiCurrency.showCurrencyList = !multiCurrency.showCurrencyList">
            <div class="sc-add-dropdown" ng-class="{'active': multiCurrency.showCurrencyList}">
                <i></i>
                <p trans>Add another currency</p>
            </div>
            <div class="sc-add-new-card">
                <p>Add another card</p>
            </div>
        </div>
    </div>
    <div class="promotions-balance-j" ng-class="{'no-banners-balance': !balanceTopBanners.length}" ng-controller="cmsPagesCtrl" ng-init="gePageBanners('balance','withdraw-banner-' + $root.env.lang);">
        <div>
            <vbet-big-slider class="big-slider-casino-directive" ng-if="balanceTopBanners" images="balanceTopBanners" link-click-handler="openCBannerLink" slider-template="true"></vbet-big-slider>
        </div>
    </div>
</div>
