<div class="float-left width-100" ng-if="!conf.integrationMode && !conf.footer.disable && $location.path() !='/popup/' && $location.path().indexOf('/widget/') === -1">
    <div class="guide" ng-controller="footerCtrl">
        <div class="footer-j">
            <div class="footer-section left" ng-include="::'templates/footer/helppages.html'|fixPath"></div>

            <div class="footer-section right">
                <ng-include src="::'templates/footer/social.html'|fixPath"></ng-include>
                <ng-include src="::'templates/footer/copyright.html'|fixPath"></ng-include>
                <div class="age-restriction-block">
                    <div class="age-restriction-j" ng-show="conf.footer.ageRestriction">{{ ::conf.footer.ageRestriction[$location.host()] || conf.footer.ageRestriction['default'] || conf.footer.ageRestriction }}+</div>
                    <div class="age-restriction-message" ng-if="$root.conf.footer.ageRestrictionMessage" ng-bind="$root.conf.footer.ageRestrictionMessage|translate"></div>
                </div>
                <div class="back-block-j">
                     <button ng-click="broadcast('feedback.toggle')" ng-if="(env.authorized && conf.footer.feedbackButton.enabledLogin) || (!env.authorized && conf.footer.feedbackButton.enabledLogOut)" trans>Feedback</button>
                     <button ng-if="conf.footer.enableToTopButton" class="back-to-top-hide" ng-click="scrollToTop(true)" class-on-scroll=",back-to-top-hide" trans>back to top</button>
                </div>
                <ng-include class="float-width" src="::'templates/footer/links.html'|fixPath"></ng-include>
                <div class="footer-custom-template" ng-include="::'templates/footer/customTemplate.html'|fixPath"></div>
            </div>
        </div>
        <div class="extended-license-footer" ng-if="conf.cegSealId || conf.apgSealId || conf.footer.license_logos || conf.footer.about_company_text[env.lang] || conf.footer.about_company_text['eng']">
            <div ng-show="conf.footer.license_logos && conf.footer.enableLicenseRowVersion" class="gamble-logos-j">
                <div ng-repeat="row in conf.footer.license_logos">
                    <div ng-repeat="logo in row" class="{{logo.class}}" ng-hide="logo.hide_on ? logo.hide_on.indexOf(env.lang) !== -1 : logo.show_on ? logo.show_on.indexOf(env.lang) === -1 : false">
                        <span ng-switch="logo.type">
                            <iframe ng-switch-when="iframe" ng-src="{{logo.iframe | html : 'url'}}" style="{{logo.css}}" width="{{logo.width}}" height="{{logo.height}}" frameborder="0" scrolling="no"></iframe>
                            <div ng-switch-when="ceg" id="ceg-seal-container" data-ceg-seal-id="{{logo.id}}" data-ceg-image-size="{{logo.size}}" data-ceg-image-type="basic-small"></div>
                            <div ng-switch-when="apg" id="apg-seal-container" data-apg-seal-id="{{logo.id}}" data-apg-image-size="{{logo.size}}" data-apg-image-type="basic-small"></div>
                            <a ng-switch-default ng-href="{{logo.href}}" target="{{(logo.target || logo.href[0] === '#') ? (logo.target || '') : '_blank'}}" style="{{logo.css}}" route-reload reload="{{logo.href[0] === '#' ? 'true' : 'false'}}"><img ng-src="{{logo.img}}" width="{{logo.width}}" height="{{logo.height}}"> <p ng-if="logo.description" ng-bind="logo.description|translate"></p> </a>
                        </span>
                    </div>
                </div>
            </div>
            <ul>
                <li ng-bind-html="(conf.footer.about_company_text[env.lang] || conf.footer.about_company_text['eng'])|html"></li>
                <li ng-show="conf.footer.license_logos && !conf.footer.enableLicenseRowVersion" class="gamble-logos-j">
                    <ul ng-repeat="row in conf.footer.license_logos">
                        <li ng-repeat="logo in row" class="{{logo.class}}" ng-hide="logo.hide_on ? logo.hide_on.indexOf(env.lang) !== -1 : logo.show_on ? logo.show_on.indexOf(env.lang) === -1 : false">
                            <span ng-switch="logo.type">
                                <iframe ng-switch-when="iframe" ng-src="{{logo.iframe | url }}" style="{{logo.css}}" width="{{logo.width}}" height="{{logo.height}}" frameborder="0" scrolling="no"></iframe>
                                <div ng-switch-when="ceg" id="ceg-seal-container" data-ceg-seal-id="{{logo.id}}" data-ceg-image-size="{{logo.size}}" data-ceg-image-type="basic-small"></div>
                                <div ng-switch-when="apg" id="apg-seal-container" data-apg-seal-id="{{logo.id}}" data-apg-image-size="{{logo.size}}" data-apg-image-type="basic-small"></div>
                                <a ng-switch-default ng-href="{{logo.href}}" target="{{(logo.target || logo.href[0] === '#') ? (logo.target || '') : '_blank'}}" style="{{logo.css}}" route-reload reload="{{logo.href[0] === '#' ? 'true' : 'false'}}"><img ng-src="{{logo.img}}" width="{{logo.width}}" height="{{logo.height}}"><p ng-if="logo.description" ng-bind="logo.description|translate"></p> </a>
                            </span>
                        </li>
                    </ul>
                </li>
                <li ng-if="conf.cegSealId" class="ceg-seal-t">
                    <div id="ceg-seal-container" data-ceg-seal-id="{{conf.cegSealId}}" data-ceg-image-size="96" data-ceg-image-type="basic-small"></div>
                </li>
                <li ng-if="conf.apgSealId" class="ceg-seal-t">
                    <div id="apg-seal-container" data-apg-seal-id="{{conf.apgSealId}}" data-apg-image-size="96" data-apg-image-type="basic-small"></div>
                </li>
            </ul>
        </div>
        <carousel
                class="float-width"
                ng-if="$root.conf.footer.slider"
                html-to-include="'templates/directive/footer-slider-images.html'"
                items-per-page="5"
                items="$root.conf.footer.slider">
        </carousel>


    </div>
    <ng-include ng-if="$root.conf.footer.operatedBy && $root.conf.footer.operatedBy.link" src="::'templates/footer/operatedby.html'|fixPath"></ng-include>
    <ng-include src="::'templates/footer/paymentmethods.html'|fixPath"></ng-include>
    <ng-include src="::'templates/footer/chatwidget.html'|fixPath"></ng-include>
</div>
