<div class="slider-mini" ng-show="casinoGames">
    <div class="arrow-left-s"><a href="#"></a></div>
    <div class="arrow-right-s"><a href="#"></a></div>
    <ul>
        <li>
            <a class="block-black-hover" href="#">
                <p class="game-name-play" trans>Poker Tournament</p>
                <span class="text-cotegory-game" trans>Biggest tournament of this year.</span>
                <p class="play_game-now" trans>Play now!</p>
            </a>
            <img ng-src="skins/{{conf.skin}}/images/mini-slider/slide-1.png" alt="">
        </li>
        <li>
            <a class="block-black-hover" href="#">
                <p class="play_game-now" trans>Play now!</p>
            </a>
            <img ng-src="skins/{{conf.skin}}/images/mini-slider/slide-2.png" alt="">
        </li>
        <li>
            <a class="block-black-hover" href="#">
                <p class="play_game-now" trans>Play now!</p>
            </a>
            <img ng-src="skins/{{conf.skin}}/images/mini-slider/slide-3.png" alt="">
        </li>
        <li>
            <a class="block-black-hover" href="#">
                <p class="play_game-now" trans>Play now!</p>
            </a>
            <img ng-src="skins/{{conf.skin}}/images/mini-slider/slide-4.png" alt="">
        </li>
        <li>
            <a class="block-black-hover" href="#">
                <p class="game-name-play" trans>Poker Tournament</p>
                <span class="text-cotegory-game" trans>Biggest tournament of this year.</span>
                <p class="play_game-now" trans>Play now!</p>
            </a>
            <img ng-src="skins/{{conf.skin}}/images/mini-slider/slide-1.png" alt="">
        </li>
        <li>
            <a class="block-black-hover" href="#">
                <p class="play_game-now" trans>Play now!</p>
            </a>
            <img ng-src="skins/{{conf.skin}}/images/mini-slider/slide-2.png" alt="">
        </li>
        <li>
            <a class="block-black-hover" href="#">
                <p class="play_game-now" trans>Play now!</p>
            </a>
            <img ng-src="skins/{{conf.skin}}/images/mini-slider/slide-3.png" alt="">
        </li>
        <li>
            <a class="block-black-hover" href="#">
                <p class="play_game-now" trans>Play now!</p>
            </a>
            <img ng-src="skins/{{conf.skin}}/images/mini-slider/slide-4.png" alt="">
        </li>

    </ul>
</div>