<div
        class="reg-commercial-banner"
        ng-controller="cmsPagesCtrl"
        ng-init="loadBanners(bannerType, true);"
        ng-show="bannerObjects[bannerType][$root.env.authorized].length"
>
    <div class="reg-commercial-scroll">
        <div
                class="reg-commercial-content"
                ng-if="bannerObjects[bannerType][$root.env.authorized].length"
                ng-init="sliderRotate(5, bannerObjects[bannerType][$root.env.authorized])"
                ng-mouseover="slider.over=true"
                ng-mouseleave="slider.over=false"
        >
            <a ng-href="{{bannerObjects[bannerType][$root.env.authorized][slider.index].link}}"
               target="{{bannerObjects[bannerType][$root.env.authorized][slider.index].linktarget}}">
                <img ng-src="{{bannerObjects[bannerType][$root.env.authorized][slider.index].image}}">
            </a>
            <h3 class="commercial-title" ng-show="bannerObjects[bannerType][$root.env.authorized][slider.index].title"
                ng-bind="bannerObjects[bannerType][$root.env.authorized][slider.index].title"></h3>
            <div ng-show="bannerObjects[bannerType][$root.env.authorized][slider.index].content"
                 ng-bind-html="bannerObjects[bannerType][$root.env.authorized][slider.index].content|html"></div>
        </div>
    </div>
    <div class="reg-steps-footer" ng-if="bannerObjects[bannerType][$root.env.authorized].length">

        <div class="hp-slider-pagination" ng-show="bannerObjects[bannerType][$root.env.authorized].length > 1">
            <div class="reg-pagination" ng-show="!$root.conf.sliderArrows">
                <small ng-class="{active: slider.index === $index}" ng-click="slider.index = $index"
                       ng-repeat="sliderDots in bannerObjects[bannerType][$root.env.authorized] track by sliderDots.id"></small>
            </div>
            <div class="reg-pagination" ng-show="$root.conf.sliderArrows">
                <button ng-click="slider.index = slider.index - 1;slider.index = slider.index < 0 ? bannerObjects[bannerType][$root.env.authorized].length - 1 : slider.index"></button>
                <button class="slider-amount-btn">{{slider.index+1}}/{{bannerObjects[bannerType][$root.env.authorized].length}}</button>
                <button ng-click="slider.index = slider.index + 1;slider.index = slider.index > bannerObjects[bannerType][$root.env.authorized].length - 1 ? 0 : slider.index"></button>
            </div>
        </div>

        <div class="reg-social">
            <a class="social-{{::value.key}}" ng-repeat="value in ::$root.conf.footer.socialLinks track by value.key" ng-href="{{::value.url[env.lang] || value.url.default}}" target="{{::value.target || '_blank'}}" title="{{::value.title[env.lang] || value.title.default}}"></a>
        </div>
    </div>
</div>
