<div class="block-sign-in-form" ng-init="resetPasswordResult(true)">
    <div class="form-contain">
        <div class="form-register-layout signin">
            <div class="popup-layout-registration">
                <div class="vertical-middle-wrapper">
                    <div class="all-popup-separator">
                        <div class="register-steps-b">
                            <div class="register-contain-new">
                                <div class="back-popup-form"
                                     ng-if="$root.partnerConfig.smsVerification.resetPassword &&  resetPasswordState.page !== 'main' && !passwordResetComplete && !passwordResetCompleteViaSms"
                                     ng-click="resetPasswordResult(true, 'main')"></div>
                                <div class="closed-popup-form"
                                     ng-click="broadcast('slider.close'); resetPasswordResult();"></div>
                                <div class="logo-form-b">
                                    <img ng-src="{{conf.logo.secondImage ? conf.logo.secondImage : 'skins/' + conf.skin + '/images/logo.png'}}"/>
                                </div>
                                <div class="register-information-b">
                                    <h2 ng-show="!passwordResetComplete && !passwordResetFailed && !usernameOrEmailInvalid && !passwordResetCompleteViaSms"
                                        ng-bind-html="'Reset password'|translate:null:'reset-password-text'|html"></h2>
                                    <h3></h3>
                                </div>


                                <form class="float-width" name="resetPasswordMainForm" novalidate="novalidate"
                                      ng-if="$root.partnerConfig.smsVerification.resetPassword && resetPasswordState.page === 'main'">

                                    <p class="via-reset" trans>Reset password via</p>
                                    <div class="button-sms">
                                        <button name="" type="button" trans
                                                ng-click="resetPasswordResult(true, 'phone')">SMS
                                        </button>
                                    </div>
                                    <div class="reg-or">
                                        <span trans>or</span>
                                    </div>
                                    <div class="button-mail">
                                        <button name="" type="button" trans
                                                ng-click="resetPasswordResult(true, 'email')">mail
                                        </button>
                                    </div>

                                </form>


                                <form class="float-width" name="resetPasswordViaSmsForm"
                                      ng-submit="resetPasswordViaSms(resetPasswordViaSmsForm)" novalidate="novalidate"
                                      ng-if="resetPasswordState.page === 'phone'"
                                      ng-show="!passwordResetCompleteViaSms && !passwordResetFailed">

                                    <div class="form-sign-in forgot-password">
                                        <div class="field-separator">
                                            <label trans>Your login or phone number.</label>
                                            <div class="form-text"
                                                 ng-class="{'error': resetPasswordViaSmsForm.phone.$dirty && resetPasswordViaSmsForm.phone.$invalid}">
                                                <div class="tooltip-wrapper-j">
                                                    <input name="phone" type="text" required
                                                           ng-model="resetPasswordData.phone"
                                                           placeholder="{{'Enter login or phone number starting with 00'|translate}}"
                                                           ng-change="resetPasswordViaSmsForm.phone.$setValidity('wrong', true)">
                                                    <div class="form-error-icon-j"
                                                         ng-show="resetPasswordViaSmsForm.phone.$dirty && resetPasswordViaSmsForm.phone.$invalid"
                                                         ng-click="resetPasswordViaSmsForm.phone.$invalid = false"></div>
                                                    <div class="tooltip-j"
                                                         ng-show="resetPasswordViaSmsForm.phone.$dirty && resetPasswordViaSmsForm.phone.$error.wrong">
                                                        <div trans>The login or number is wrong</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field-separator" ng-if="recaptcha.version && recaptcha.version !== 3">
                                            <div class="bet-status-recaptcha" ng-controller="recaptchaCtrl" ng-init="init()">
                                                <input type="hidden" name="g_recaptcha_response"
                                                       ng-model="resetPasswordData.g_recaptcha_response"
                                                       ng-required="false"/>
                                                <div class="tooltip-wrapper-j" ng-if="recaptcha.key">
                                                    <div class="g-recaptcha" data-callback="recaptchaUpdateCallback"
                                                         data-sitekey="{{recaptcha.key}}"
                                                         data-theme="{{recaptcha.theme || 'dark'}}"
                                                         data-size="{{recaptcha.size || 'normal'}}"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="button-confirm">
                                        <button name="" type="submit"
                                                ng-disabled="!resetPasswordViaSmsForm.$dirty || resetPasswordViaSmsForm.$invalid || sendingForgotPasswordViaSms || ({1:1,2:1}[recaptcha.version] && !resetPasswordData.g_recaptcha_response)"
                                                trans>Send sms
                                        </button>
                                    </div>

                                </form>

                                <form class="float-width" name="resetPasswordForm" ng-submit="resetPassword()"
                                      novalidate="novalidate"
                                      ng-if="!$root.partnerConfig.smsVerification.resetPassword || resetPasswordState.page === 'email'"
                                      ng-show="!passwordResetComplete && !passwordResetFailed && !usernameOrEmailInvalid">

                                    <div class="form-sign-in forgot-password">
                                        <div class="field-separator">
                                            <label trans>Email Address</label>
                                            <div class="form-text"
                                                 ng-class="{'error': resetPasswordForm.email.$dirty && resetPasswordForm.email.$invalid}">
                                                <div class="tooltip-wrapper-j">
                                                    <input name="email" type="email"
                                                           placeholder="Enter your email address" required
                                                           ng-model="resetPasswordData.email"
                                                           ng-pattern="/^[\w!.%+\-]+@[\w\-]+(?:\.[\w\-]+)+$/" trans>
                                                    <div class="form-error-icon-j"
                                                         ng-show="resetPasswordForm.email.$dirty && resetPasswordForm.email.$invalid"
                                                         ng-click="resetPasswordForm.email.$invalid=false"></div>
                                                    <div class="tooltip-j"
                                                         ng-show="resetPasswordForm.email.$dirty && resetPasswordForm.email.$invalid">
                                                        <div trans
                                                             ng-show="resetPasswordForm.email.$dirty && resetPasswordForm.email.$invalid">
                                                            Please enter a valid email address
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="button-confirm">
                                        <button name="" type="submit"
                                                ng-disabled="!resetPasswordForm.$dirty || resetPasswordForm.$invalid || sendingForgotPassword"
                                                trans>Reset password
                                        </button>
                                    </div>

                                </form>


                                <div class="registration-ok" ng-show="passwordResetComplete">
                                    <p><span trans>Password reset complete.</span><span
                                            trans>Please check your email.</span></p>
                                    <button class="registration-done-btn" ng-click="resetPasswordResult()" trans>OK
                                    </button>
                                </div>
                                <div class="registration-ok" ng-show="passwordResetCompleteViaSms">
                                    <p><span trans>Password reset complete.</span><span
                                            trans>Please check your phone.</span></p>
                                    <button class="registration-done-btn" ng-click="resetPasswordResult()" trans>OK
                                    </button>
                                </div>
                                <div class="registration-failed" ng-show="passwordResetFailed">
                                    <p><span>{{passwordResetFailed|translate}}</span></p>
                                    <button class="registration-done-btn" ng-click="resetPasswordResult()" trans>OK
                                    </button>
                                </div>
                                <div class="registration-failed" ng-show="usernameOrEmailInvalid">
                                    <p><span trans>Username or email invalid</span></p>
                                    <button class="registration-done-btn" ng-click="resetPasswordResult()" trans>OK
                                    </button>
                                </div>
                            </div>
                            <div ng-include="::'templates/slider/contact_support.html'|fixPath"></div>
                        </div>
                    </div>
                </div>
                <div class="close" ng-click="broadcast('slider.close')"></div>
            </div>
        </div>
    </div>
</div>
