<div ng-if="!showAuthenticationPopup" ng-init="loginFormInit();">
    <h3 trans>Sign in</h3>
    <div ng-click="$event.stopPropagation();"  class="help-b" ng-if="!conf.liveChat.isSfChat && conf.liveChat.siteId && conf.liveChat.codePlan">
        <a pass-click-to="{{ conf.liveChat.buttonId ? conf.liveChat.buttonId : (conf.liveChat.comm100ButtonId || 'live-chat-button1') }}"  ng-attr-iframe="{{!conf.liveChat.buttonIsDiv ? 'true' : ''}}" ng-attr-find="{{!conf.liveChat.buttonIsDiv ? 'a' : ''}}"><span trans>Contact Support</span></a>
    </div>
    <div ng-if="conf.liveChat.isSfChat" ng-click="startSFChat()" title="Live Chat" trans="attr-only" class="help-b"><a><span trans>Contact Support</span></a></div>
    <div title="Live Agent" trans="attr-only" class="help-b" ng-show="!!isLiveAgent" ng-click="startLiveAgent()">
        <a trans>Contact Support</a>
    </div>
    <div title="Live Agent" trans="attr-only" class="help-b" ng-show="!!conf.liveChat.zopimInHeader" ng-click="" onclick="showZopimChat();">
        <a trans>Contact Support</a>
    </div>
    <form name="forms.signinform" ng-submit="login()">
        <div class="social-sign-in">
            <button ng-show="conf.facebookIntegration.enable && !fbLoggedIn && !cannotLoginWIthFbId || (conf.odnoklassnikiIntegration.enable && !odnoModel.cannotLoginWIthOdno)"
                    class="facebook-sign-in"
                    ng-controller="facebookCtrl"
                    ng-click="loginToFb()">
                <span class="ellipsis-text" trans>Login with Facebook</span>
            </button>
            <button ng-if="conf.odnoklassnikiIntegration.enable"
                    ng-hide="cannotLoginWIthFbId || odnoModel.cannotLoginWIthOdno"
                    class="ok-sign-in"
                    ng-controller="OdnoklassnikiCtrl as odnoCtrl"
                    ng-click="login()">
                <span class="ellipsis-text" trans>Login with Odnoklassniki</span>
            </button>
        </div>
        <div class="form-sign-in odno-ki" ng-class="{'error-animation':signInError  && forms.signinform.$pristine}">
            <label trans>Username</label>
            <div class="form-text" ng-class="{'error':signInError  && forms.signinform.$pristine}">
                <input ng-model="user.username" id="signinform-login-input" numpad type="text" placeholder="Your login" required="required" trans focus-on="login.formOpened" dont-scroll-on-focus ng-change="params.needVerification=false"  autocomplete="off">
            </div>
            <label>{{'Password'|translate:null:'Password_login'}}</label>
            <div class="form-text" ng-class="{'error':signInError && forms.signinform.$pristine}" ng-init="showPass={'passwordType':'password'}">
                <input ng-model="user.password" id="signinform-password-input" numpad type="{{showPass.passwordType}}" placeholder="Enter your password" focus-on="login.formOpened.andUsernameIsAvailable" required="required"  autocomplete="off" trans ng-keypress="passwordKeyPress($event)">
                <i class="view-passward" ng-if="$root.conf.enableShowPassword" ng-mousedown="showPass.passwordType='text'" ng-mouseup="showPass.passwordType='password'" ng-mouseleave="showPass.passwordType='password'"></i>
                <div ng-if="conf.showCapsLockHint && capsLockIsOn"  class="capslock-is-on-j" trans>Caps Lock is On</div>
            </div>
            <label ng-if="params.needVerificationCode" trans>Enter verification code</label>
            <div ng-if="params.needVerificationCode" class="form-text" ng-class="{'error':signInError && forms.signinform.$pristine}">
                <input ng-model="user.login_code" id="signinform-password-input" numpad type="text" placeholder="You will receive verification code on your Email" required="required"  autocomplete="off" trans>
            </div>
            <label for="signinform-remember-me" class="sign-in-checkbox-j" ng-show="conf.rememberMeCheckbox.enabled">
                <input ng-model="user.remember" id="signinform-remember-me" type="checkbox">
                <span trans>Remember me</span>
            </label>

            <div ng-controller="facebookCtrl">
                <div class="signin-error-message" ng-show="cannotLoginWIthFbId && fbLoggedIn" ng-click="env.showSlider = true; env.sliderContent = 'register';$event.stopPropagation()">
                    <p trans>If you want to be able to login with your Facebook account you need to first Sign up with Facebook account.</p>
                </div>
                <div class="signin-error-message" ng-show="odnoModel.cannotLoginWIthOdno" ng-click="env.showSlider = true; env.sliderContent = 'register';$event.stopPropagation()">
                    <p trans>If you want to be able to login with your Odnoklassniki account you need to first Sign up with Odnoklassniki account.</p>
                </div>
            </div>
            <div class="signin-error-message" ng-show="signInError && forms.signinform.$pristine">
                <p ng-bind="signInError"></p>
            </div>
        </div>
        <div class="button-sign">
            <ul>
                <li><a ng-click="openForgotPasswordForm();$event.stopPropagation()" ng-hide="conf.header.disableRegistrationAndLogin || !conf.enableForgotPassword" title="Forgot your password?" trans>Forgot your password?</a></li>
                <li><a ng-click="register();$event.stopPropagation()" ng-hide="!conf.registration.enable || conf.header.disableRegistrationAndLogin" trans>Create an account</a></li>
            </ul>

            <div class="loader-btn">
                <vbet-loader class="small-progress" ng-show="busy"></vbet-loader>
                <input name="" type="submit" value="{{({true:'Verify', false:'Sign in'}[params.needVerification])|translate}}" ng-disabled="busy || forms.signinform.$invalid || forms.signinform.$pristine" ng-class="{loading:busy}" trans>
            </div>
        </div>
    </form>
</div>

<div class="slider-authentication-qr" ng-if="showAuthenticationPopup" ng-include="::'templates/slider/authentication-slider.html'|fixPath"></div>
