<div ng-controller="RegistrationController as regCtrl" ng-init="registration.byEmail = true; registration.step = 1;regFormInit()"
    class="form-register-layout {{conf.registration.type}}-registration">
    <form name="registerform"  ng-keypress="keyPress($event)" class="registration-form" novalidate="novalidate" id="simplified-reg-form">
    <!--registration step1-->
    <div class="popup-layout-registration"  ng-show="registration.step === 1 && !registration.complete && !registration.failed">
            <div class="vertical-middle-wrapper">
                <div class="all-popup-separator">
                    <div class="register-steps-b">
                            <div class="register-contain-new">
                            <div class="closed-popup-form"  ng-click="broadcast('slider.close')"></div>
                            <div class="logo-form-b"></div>
                            <div class="register-information-b">
                                <h2>{{"New to {1} ?"|translate:[conf.site_name]}}</h2>
                                <h3 trans>Sign up now, it's easy!</h3>
                            </div>
                            <div class="mail-use-b" ng-show="conf.registration.enableRegisterByPhoneNumber">
                                <p ng-class="{active: registration.byEmail}" ng-click="registerByPhone=false; registration.byEmail=true">Use your email</p>
                                <p ng-class="{active: registerByPhone}" ng-click="registration.byEmail=false; registerByPhone=true">Use phone number</p>
                            </div>
                                <div class="reg-form-steps phone-number" ng-if="registerByPhone">
                                        <div ng-show="!registrationByPhoneFailed && !registrationByPhoneSuccessFul">
                                            <div class="name-info-registration-b">
                                                <p trans>Enter your mobile phone number and choose your currency.</p>
                                                <p trans>Your password will be sent to your mobile phone by SMS.</p>
                                            </div>
                                            <div class="input-separator-b" ng-class="{'error': (registerform.regphonenumber.invalid || registerform.regphonenumber.dublicate) && registerform.regphonenumber.$pristine}">
                                                <div class="form-error-text">
                                                    <div class="error-icon-f"></div>
                                                    <p ng-show="registerform.regphonenumber.invalid" trans>Please enter a valid phone number.</p>
                                                    <p ng-show="registerform.regphonenumber.dublicate" trans>Dublicate phone number.</p>
                                                </div>
                                                <label trans>Phone number</label>
                                                <input type="text" placeholder="Enter your phone number" name="regphonenumber" ng-model="$parent.registrationPhoneNumber" required prevent-input="[^0-9]+" ng-pattern="conf.registration.phoneNumberPattern" trans>
                                            </div>

                                            <div class="input-separator-b">
                                                <label trans>Currency</label>
                                                <div class="select-block">
                                                    <select name="regcurrency" ng-model="registrationData.currency_name" ng-options="c for c in  conf.availableCurrencies track by c" ng-disabled="currencyDisabled"></select>
                                               </div>
                                            </div>
                                            <div class="button-confirm">
                                                <button type="button" ng-click="registerUsingPhoneNumber(); $event.stopPropagation();" ng-disabled="registerform.regphonenumber.$invalid" trans>Confirm</button>
                                            </div>
                                        </div>

                                        <div ng-show="registrationByPhoneFailed" class="error">
                                            <p trans>Failed to send sms</p>
                                            <p trans>Please try later or contact support.</p>
                                            <div class="button-confirm"><button type="button" ng-click="broadcast('slider.close')" trans>OK</button></div>
                                        </div>
                                        <div ng-show="registrationByPhoneSuccessFul" class="success">
                                            <p trans>Registration complete.</p>
                                            <p trans>You will receive SMS with your password shortly.</p>
                                            <div class="button-confirm"><button  type="button" ng-click="broadcast('slider.close')" trans>OK</button></div>
                                        </div>

                                </div>


                            <div class="reg-form-steps" ng-show="registration.byEmail">


                                <div ng-repeat="regItem in RegConfig.step1 track by $index" class="{{regItem.name}} field-separator">
                                    <ng-include src="getTemplate('templates/slider/registration-fields.html')"></ng-include>
                                </div>
                                    
                            </div>
                                <include-template ng-if="conf.registration.type === 'partial'" template-path="templates/slider/registration/tcCheckbox.html"></include-template>
                                <div class="button-confirm">
                                    <button trans
                                            type="button"
                                            ng-show="conf.registration.simplified && conf.registration.type !== 'partial'"
                                            ng-click="registration.step = 2"
                                            ng-disabled="!step1DataIsValid()"
                                            title="{{step1DataIsValid()? '': ('Please enter username and password to continue'|translate)}}"
                                            >Confirm</button>
                                    <button trans
                                            type="button"
                                            ng-show="conf.registration.type === 'partial'"
                                            ng-click="resetError = {}; register();"
                                            ng-disabled="!step1DataIsValid()"
                                            title="{{step1DataIsValid()? ('Continue'|translate): ('Please enter username and password to continue'|translate)}}"
                                            >Register</button>
                                </div>
                                <div class="account-link-b">
                                    <p trans>Already have an account?</p>
                                    <span ng-click="broadcast('openLoginForm')" trans>sign in</span>
                                </div>
                        </div>
                        <div class="live-chat-b-contain">
                            <div ng-click="" class="help-b" ng-if="!conf.liveChat.isSfChat && conf.liveChat.siteId && conf.liveChat.codePlan">
                                <span ng-show="conf.registration.supportText">{{conf.registration.supportText|translate}}</span>
                                <a pass-click-to="live-chat-button1" find="a"><span trans>Contact Support</span></a>
                            </div>
                            <div ng-if="conf.liveChat.isSfChat" ng-click="startSFChat()" title="Live Chat" trans="attr-only" class="help-b"><a><span trans>Contact Support</span></a></div>

                            <div title="Live Agent" trans="attr-only" class="help-b" ng-show="!!isLiveAgent" ng-click="startLiveAgent()">
                                <span ng-show="conf.registration.supportText">{{conf.registration.supportText|translate}}</span>
                                <a trans>Contact Support</a>
                            </div>

                            <div title="Live Agent" trans="attr-only" class="help-b" ng-show="!!conf.liveChat.zopimInHeader" ng-click="" onclick="showZopimChat();">
                                <span ng-show="conf.registration.supportText">{{conf.registration.supportText|translate}}</span>
                                <a trans>Contact Support</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="close" ng-click="broadcast('slider.close')"></div>
        </div>
    <!--registration step1 END-->


    <!--registration step2-->

    <div class="popup-layout-registration" ng-if="conf.registration.type !== 'partial'" ng-show="registration.step === 2 && !registration.complete && !registration.failed">
        <div class="vertical-middle-wrapper">
            <div class="all-popup-separator">
                <div class="register-steps-b step-2">
                    <div class="name-step-2">
                        <h2 trans>Finalising registration</h2>
                    </div>

                        <div class="register-contain-new">
                            <div class="closed-popup-form" ng-click="broadcast('slider.close')"></div>
                            <div class="reg-form-steps">
                                <div ng-repeat="regItem in RegConfig.step2.leftCol track by $index" class="field-separator {{regItem.name}}">
                                    <ng-include src="getTemplate('templates/slider/registration-fields.html')"></ng-include>
                                </div>
                            </div>
                        </div>

                        <div class="register-contain-new">
                            <div class="closed-popup-form"  ng-click="broadcast('slider.close')"></div>
                            <div class="reg-form-steps">
                                <div ng-repeat="regItem in RegConfig.step2.rightCol track by $index" class="field-separator {{regItem.name}}">
                                    <ng-include src="getTemplate('templates/slider/registration-fields.html')"></ng-include>
                                </div>
                                <include-template template-path="templates/slider/registration/tcCheckbox.html"></include-template>
                           </div>
                        </div>
                        <div class="finish-register-buttons">
                             <div class="button-confirm step-2">
                                <vbet-loader class="small-progress" ng-show="registration.busy"></vbet-loader>
                                <button  type="button" ng-click="registration.step = 1" trans>Back</button>
                                <button type="button"
                                        ng-click="resetError = {}; register();"
                                        ng-class="{'loading':registration.busy}"
                                        disabled="true"
                                        ng-disabled="registration.busy || userAge < conf.registration.minimumAllowedAge">{{'Register'|translate}}</button>
                            </div>
                        </div>
                    <div class="live-chat-b-contain">
                        <div ng-click="" class="help-b" ng-if="!conf.liveChat.isSfChat && conf.liveChat.siteId && conf.liveChat.codePlan">
                            <span ng-show="conf.registration.supportText">{{conf.registration.supportText|translate}}</span>
                            <a pass-click-to="live-chat-button1" find="a"><span trans>Contact Support</span></a>
                        </div>
                        <div ng-if="conf.liveChat.isSfChat" ng-click="startSFChat()" title="Live Chat" trans="attr-only" class="help-b"><a><span trans>Contact Support</span></a></div>

                        <div title="Live Agent" trans="attr-only" class="help-b" ng-show="!!isLiveAgent" ng-click="startLiveAgent()">
                            <span ng-show="conf.registration.supportText">{{conf.registration.supportText|translate}}</span>
                            <a trans>Contact Support</a>
                        </div>

                        <div title="Live Agent" trans="attr-only" class="help-b" ng-show="!!conf.liveChat.zopimInHeader" ng-click="" onclick="showZopimChat();">
                            <span ng-show="conf.registration.supportText">{{conf.registration.supportText|translate}}</span>
                            <a trans>Contact Support</a>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <div class="close" ng-click="broadcast('slider.close')"></div>
    </div>
    </form>
    <!--registration step2-->

    <div class="popup-layout-registration registration-ok" ng-show="registration.complete">
        <script-runner script-data="scriptContent" ng-if="scriptContent"></script-runner>
        <div class="vertical-middle-wrapper">
            <div class="all-popup-separator">
                <div class="register-steps-b popup-errors">
                    <div class="register-contain-new popup-err-success">
                        <div class="closed-popup-form" ng-click="broadcast('slider.close')"></div>
                        <div class="name-popup-registratin-b">
                            <h4 trans>Success</h4>
                        </div>

                        <div class="icon-popup-registration-b success-icon">
                            <span></span>
                        </div>

                        <div class="inform-reg-popup">
                            <h5>
                                <span trans>Registration complete.</span>
                            </h5>
                            <h6 ng-if="conf.registration.mailIsSentAfterRegistration">
                                <span trans>Please check your email.</span>
                                <u ng-if="!conf.GmsPlatform" ng-click="resendEmail()" trans>Resend</u>
                            </h6>
                        </div>
                        <div class="finish-register-buttons">
                            <div class="button-confirm">
                                <button class="registration-done-btn" ng-click="closeRegistrationResult()" trans>OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <div class="close" ng-click="broadcast('slider.close')"></div>
    </div>

    <div class="popup-layout-registration registration-failed" ng-show="registration.failed">
        <div class="vertical-middle-wrapper">
            <div class="all-popup-separator">
                <div class="register-steps-b popup-errors">
                    <div class="register-contain-new popup-err-success">
                        <div class="closed-popup-form" ng-click="broadcast('slider.close')"></div>
                        <div class="name-popup-registratin-b">
                            <h4>Error</h4>
                        </div>

                        <div class="icon-popup-registration-b error-icon">
                            <span></span>
                        </div>

                        <div class="inform-reg-popup">
                            <h5>
                                <span trans>Registration failed due to technical error.</span>
                            </h5>
                            <h6>
                                <span trans>Please try again later.</span>
                            </h6>
                        </div>
                        <div class="finish-register-buttons">
                            <div class="button-confirm">
                                <button class="registration-done-btn" ng-click="closeRegistrationResult()" trans>OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="close" ng-click="broadcast('slider.close')"></div>
    </div>
</div>
