<div class="block-sign-in-form">
    <div class="form-contain">
        <h3 ng-show="!passwordResetComplete && !passwordResetFailed && !usernameOrEmailInvalid" trans>Type your new password</h3>
        <form name="resetPasswordForm" ng-submit="sendNewPassword()" novalidate="novalidate" ng-show="!passwordResetComplete && !passwordResetFailed && !usernameOrEmailInvalid">
            <div class="form-sign-in">
                <label trans>Password</label>
                <div class="tooltip-wrapper-j" ng-class="{'error' : resetPasswordForm.password1.$dirty && resetPasswordForm.password1.$invalid}">
                    <input name="password1" type="password" placeholder="Please type your new password" required ng-model="resetPasswordData.password1" autocomplete="off" trans ng-pattern="passwordRules['ng-pattern'] || ''" ng-minlength="passwordRules['ng-minlength'] || ''" ng-maxlength="passwordRules['ng-maxlength'] || ''" >
                    <div class="form-error-icon-j"></div>
                    <div class="tooltip-j">
                        <div ng-repeat="val in passwordRules.validationMessages"
                             ng-show="resetPasswordForm.password1.$error[val.name]">
                            {{val.message|translate}}
                        </div>
                    </div>
                </div>

                <label trans>Repeat Password</label>
                <div class="tooltip-wrapper-j" ng-class="{'error' : resetPasswordForm.password2.$dirty && resetPasswordData.password1 && resetPasswordData.password1 !== resetPasswordData.password2 }">
                    <input name="password2" type="password" placeholder="Please type your new password again" required ng-model="resetPasswordData.password2" autocomplete="off" trans>
                    <div class="form-error-icon-j"></div>
                    <div class="tooltip-j">
                        <div trans>Passwords are different</div>
                    </div>
                </div>
            </div>
            <div class="button-sign">
                <input name="" type="submit" value="{{'Change'|translate}}" ng-disabled="sendingNewPassword || !resetPasswordForm.$dirty || resetPasswordForm.$invalid || (resetPasswordForm.password2.$modelValue !== resetPasswordForm.password1.$modelValue)  ">
            </div>
        </form>
        <div class="registration-ok" ng-show="passwordResetComplete">
            <p><span trans>Your password has been changed.</span></p>
            <button class="registration-done-btn" ng-click="resetPasswordResult()" trans>OK</button>
        </div>
        <div class="registration-failed" ng-show="passwordResetFailed">
            <p><span>{{passwordResetFailed|translate}}</span></p>
            <button class="registration-done-btn" ng-click="resetPasswordResult()" trans>OK</button>
        </div>
        <div class="registration-failed" ng-show="usernameOrEmailInvalid">
            <p><span trans>Username or email invalid</span></p>
            <button class="registration-done-btn" ng-click="resetPasswordResult()" trans>OK</button>
        </div>
    </div>
</div>
