<div class="open-bets-buttons">
    <button ng-click="closeOpenBets()" ng-class="{'active': openBetsState.open === false}" trans>Bet slip</button>
    <button data-count="{{openBets.length}}" ng-click="openOpenBets();" ng-class="{'active': openBetsState.open === true}" trans>Open bets</button>
</div>
<div class="contain-open-bets single-open-bets" ng-if="openBetsState.open">
    <p>
        {{::'You can view all your bets in'|translate}}
        <span ng-click="$root.broadcast('open.history'); goToTop(true); $event.stopPropagation()" trans>Bet History</span>
    </p>
    <div class="slider-open-bets" ng-repeat="bet in openBets" ng-class="{'open': bet.openEvents}"
         ng-init="bet.openEvents = true" ng-hide="openBetsLoading || $root.editBet.loading">
        <p ng-click="bet.openEvents = !bet.openEvents">
            <span ng-bind="betTypes[bet.type]|translate"></span>
            <span ng-if="bet.type === 3"> {{::bet.system_min_count}}/{{::bet.events.length}}</span>
            <i class="edit-bets-icon"
               ng-show="bet.cashoutEnabled && (bet.type == 2 || bet.type == 1)  && minCashoutValue <= bet.cash_out && !$root.editBet.edit"
               ng-click="$event.stopPropagation(); addEvents(bet, true, closeOpenBets);">
            </i>
        </p>
        <div class="open-bets-time-id">
            <p ng-bind="bet.date_time|formatDate:'noLocaleTranslate':null:$root.env.timeFormat"></p>
            <span>ID: <b>{{::bet.id}}</b></span>
        </div>
        <div class="mini-list-events-b-v3">
            <ul>
                <li ng-repeat="event in bet.events" class="clock-status" ng-class="{'won': event.outcome == 3 , 'lost':event.outcome == 1 }">
                    <p ng-bind="event.game_start_date|formatDate:'noLocaleTranslate':null:$root.env.timeFormat"></p>
                    <div class="bet-event-teams-name-v3">
                        <div class="title-event-b-v3">
                            <span ng-click="gotoBetGame(matchInfo[event.game_id].gamePointer)">{{::event.game_name}}</span>
                            <b class="open-bets-games-score" ng-bind="matchInfo[event.game_id].text_info"></b>
                        </div>
                        <div class="status-icon-open-bets" title="{{event.outcome == 3 ? 'Won' : 'Unsettled'}}"></div>
                    </div>
                    <div class="open-bets-games-info" ng-show="event.is_live">
                        <b>Live</b>
                    </div>
                    <div class="single-event-info-view-v3">
                        <ul>
                            <li>
                                <p>{{::event.market_name ? event.market_name : ''}}</p>
                            </li>
                            <li>
                                <p>{{::event.eventName ? event.eventName : event.event_name}}</p>
                                <div class="bet-price-view-b-v3">
                                    <span class="bet-price-v3" ng-bind="event.coeficient|oddConvert:$root.env.oddFormat"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="bet-accept-changes-b-v3" ng-show="bet.outcome == 0 && bet.cash_out !== undefined">
                    <div class="button-view-contain-v3">
                        <button class="open-bets-cashout-button" ng-class="{'rule-active': bet.auto_cash_out_amount != null}" ng-mouseover="autoCashoutRule.showInfo = true; getAutoCashOutDetails(bet.id, bet.auto_cash_out_amount)" ng-mouseleave="autoCashoutRule.showInfo = false" ng-click="$root.broadcast('open.cashoutDialog', {bet: bet}); $event.stopPropagation();" ng-disabled="bet.id === $root.editBet.oldBetId">
                            <span>Cash-out</span>
                            <b>{{bet.cash_out}} {{::$root.profile.currency_name|currency}}</b>
                        </button>
                        <div class="hover-auto-cashout-rule" ng-show="bet.auto_cash_out_amount != null && autoCashoutRule.theValueReaches">
                            <div class="auto-cashout-rule">
                                <h4 trans>Rule active</h4>
                                <p>{{('If the value reaches '| translate)}}<span>{{ autoCashoutRule.theValueReaches}}</span> <b>{{ $root.profile.currency_name|currency}}</b></p>
                                <p>{{('Cash out '| translate)}}<span ng-if="!autoCashoutRule.isPartial"><span>{{ autoCashoutRule.theValueReaches}}</span> <b>{{ $root.profile.currency_name|currency}}</b></span></p>
                            </div>
                            <button ng-click="cancelAutoCashOutRule(bet.id)" trans>Cancel rule</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="open-bets-possible-wrapper">
            <div class="bet-win-view-v3 stake-row"  >
                <p>
                    <i trans>Stake:</i>
                </p>
                <span>
                <b>{{::bet.amount | number:$root.conf.balanceFractionSize}} {{$root.profile.currency_name|currency}}</b>
                </span>
            </div>
            <div class="bet-win-view-v3 total-possible-row"  >
                <p>
                    <i trans>Possible win:</i>
                </p>
                <span>
                <b>{{::bet.possible_win | number:$root.conf.balanceFractionSize}} {{$root.profile.currency_name|currency}}</b>
            </span>
            </div>
        </div>
    </div>
    <vbet-loader ng-show="openBetsLoading || $root.editBet.loading"></vbet-loader>
</div>