$skin-second: false;
@import '../../../css/mixins'; @import 'functions/colors'; @import '../../../css/createSkin';

.VivaroBet .conteiner:not(.show-fix):not(.show-game) .responsive-header-mainMenu-j > li.header-left-small-b-j:not(.ng-hide) ~ li:not(.header-left-small-b-j) {
  @include ltr {
    padding-left: 20px !important;
  }
}
.VivaroBet .conteiner:not(.show-fix):not(.show-game) .responsive-header-mainMenu-j > li.header-left-small-b-j:not(.ng-hide) ~ li:not(.header-left-small-b-j) {
  @include rtl {
    padding-right: 20px !important;
  }
}

.header-nav-contain > ul > li > .top-menu-sub-a-t > a[href*="#/russia2018"]{
  background: #05527f;
  &:hover{
    background: #066298;
  }
}
.header-nav-contain > ul > li.active > .top-menu-sub-a-t > a[href*="#/russia2018"]{
  background: #066298;
}
.live-chat-round-icon{
  transition: transform 240ms;
  transform: translate3d(136px,0,0);
  @include rtl {
    transform: translate3d(-136px,0,0);
  }
  &:hover{
    transform: translate3d(24px,0,0);
    @include rtl {
      transform: translate3d(-24px,0,0);
    }
  }
}
// custom license-footer
.license-footer-fr {
  float: left;
  width: 100%;
  display: table;
  > li {
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    > a {
      float: left;
      display: block;
      > img {
        float: left;
        width: 102px;
      }
    }
    > p {
      color: $text-palette-1;
    }
    &.license-number {
      padding-right: 30px;
      > p {
        margin-left: 10px;
        white-space: nowrap;
      }
    }
    &.license-adult > a {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      color: #ffffff;
      background: #ff0000;
      border-radius: 50%;
      text-align: center;
      font: 20px/48px $font-f;
    }
    &.license-both-img {
      padding: 0 30px;
      a + a {
        margin-top: 10px;
        clear: both;
      }
    }
    &.license-info > p {
      max-width: 410px;
    }
    &.license-betco {
      padding-left: 30px;
      a {
        margin-top: 10px;
        > img {
          width: 154px;
        }
      }
    }
  }
}
// custom license-footer end

.Vbet, .Vbetcn{
  .logo-nav-wrapper{
    z-index: 222;
  }
}
.extended-license-footer > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

// ID card authentication popup Start
.id-card-auth {
  .pu-head-j,
  .pu-contain-j > p {
    display: none;
  }
}
.id-card-authentication {
  float: left;
  width: 500px;
  min-height: 306px;
  .close-j {
    top: 6px;
    @include ltr {
      right: 6px;
    }
    @include rtl {
      left: 6px;
    }
  }
  .select-doc-a {
    li {
      > h2{
        margin-bottom: 20px;
        font: 16px/18px $font-f;
        @include ltr {
          float: left;
        }
        @include rtl{
          float: right;
        }
      }
      > p {
        margin: 0;
        color: $text-palette-4;
        font-size: 12px;
      }
      .youtube-video-link {
        color: $text-palette-3;
        font: 14px/18px $font-f;
        transition: color 240ms;
        @include ltr {
          float: right;
        }
        @include rtl {
          float: left;
        }
        &:hover {
          color: $text-palette-2;
        }
        &:before {
          content: "\ea9f";
          display: inline-block;
          font: 14px/14px icomoon;
          @include ltr {
            margin-right: 8px;
          }
          @include rtl {
            margin-left: 8px;
          }
        }
      }
    }
    .button-confirm > button {
      margin-top: 0;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  .md-progress-circular {
    right: 50%;
    bottom: 50%;
    margin-right: -50px;
    margin-bottom: -50px;
  }
}

// ID card authentication popup End


// Full banner Start

.guide {
  max-width: 1670px;
}
.poker .slider-landing-overlay .guide {
  max-width: calc(100% - 8%);
}
.better-homepage {
  min-height: 1000px;
  .row {
    background: none;
    &:first-of-type {
      width: 100%;
      max-width: 100%;
      padding: 0;
      position: absolute;
      top: 0;
      left: 0;
      + .row {
        margin-top: 24%;
      }
    }
    .row-child > div > div > div[banner-slider] {
      padding: 0;
    }
  }
  .hp-slider-pagination {
    top: 70px;
    width: 70vw;
    min-width: 732px;
    max-width: 1500px;
    pointer-events: none;
    box-sizing: content-box;
    padding-left: 10px;
    padding-right: 10px;
    @include ltr {
      left: 50%;
      transform: translateX(-50%);
    }
    @include rtl {
      right: 50%;
      transform: translateX(50%);
    }
    button {
      position: relative;
      top: -50px;
      pointer-events: auto;
    }
  }
  .jackpot-pools {
    background: rgba($skin-palette-12, 0.6);
    box-shadow: 0 -10px 0 0 rgba($skin-palette-12, 0.6);
  }
}
.hp-slider-pagination {
  top: 30px;
  bottom: auto;
}
.slider-landing-overlay .hp-slider-pagination {
  bottom: auto;
}
.hp-slider-17.liveDealer .hp-slider-pagination {
  top: auto;
  bottom: calc(100% - 10px);
}
.reg-steps-footer .hp-slider-pagination {
  top: auto;
}
.featured-game-list-b {
  background: rgba($skin-palette-12, 0.85);
}

// Full banner End

@media screen and (max-width: 1440px) {
  .guide {
    width: calc(100% - 40px);
  }
}

// casino Start Start

@media screen and (min-width: 1260px) {
  .casino {
    .slide-casino-new-img-b .banner-set-img a > img {
      width: 100%;
    }
    .casino-jackpots-board {
      > div.float-width {
        height: 100%;
        background: -moz-linear-gradient(top, lighten( saturate( adjust-hue( $skin-color, -5deg ), 9 ), 1 ) 0%, darken( saturate( adjust-hue( $skin-color, -3deg ), 18 ), 8 ) 80%, darken( saturate( adjust-hue( $skin-color, -3deg ), 18 ), 8 ) 100%);
        background: -webkit-linear-gradient(top, lighten( saturate( adjust-hue( $skin-color, -5deg ), 9 ), 1 ) 0%, darken( saturate( adjust-hue( $skin-color, -3deg ), 18 ), 8 ) 80%, darken( saturate( adjust-hue( $skin-color, -3deg ), 18 ), 8 ) 100%);
        background: linear-gradient(to bottom, lighten( saturate( adjust-hue( $skin-color, -5deg ), 9 ), 1 ) 0%, darken( saturate( adjust-hue( $skin-color, -3deg ), 18 ), 8 ) 80%, darken( saturate( adjust-hue( $skin-color, -3deg ), 18 ), 8 ) 100%);
      }
    }
  }
}
// casino Start End

//telegrem logo on header
.header-top-row {
  .telegram {
    width: 34px;
    background: url(../images/telegram.png#{$delete-cache}) no-repeat 0 0 / cover;
  }
}

// Poker page banner sizes
.poker {
  .button-group-j {
    bottom: initial;
    top: 70%;
  }
  .intro-info-j {
    bottom: initial;
    top: calc(70% - 40px);
    transform: translateY(-50%);
  }
}