$skin-second: false;
@import '../../../css/mixins'; @import 'functions/colors'; @import '../../../css/createSkin';
.header-nav-contain > ul > li > .top-menu-sub-a-t > a[href*="#/russia2018"]{
  background: #05527f;
  &:hover{
    background: #066298;
  }
}
.header-nav-contain > ul > li.active > .top-menu-sub-a-t > a[href*="#/russia2018"]{
  background: #066298;
}
.live-chat-round-icon{
  transition: transform 240ms;
  transform: translate3d(136px,0,0);
  @include rtl {
    transform: translate3d(-136px,0,0);
  }
  &:hover{
    transform: translate3d(24px,0,0);
    @include rtl {
      transform: translate3d(-24px,0,0);
    }
  }
}
// custom license-footer
.license-footer-fr {
  float: left;
  width: 100%;
  display: table;
  > li {
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    > a {
      float: left;
      display: block;
      > img {
        float: left;
        width: 102px;
      }
    }
    > p {
      color: $text-palette-1;
    }
    &.license-number {
      padding-right: 30px;
      > p {
        margin-left: 10px;
        white-space: nowrap;
      }
    }
    &.license-adult > a {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      color: #ffffff;
      background: #ff0000;
      border-radius: 50%;
      text-align: center;
      font: 20px/48px $font-f;
    }
    &.license-both-img {
      padding: 0 30px;
      a + a {
        margin-top: 10px;
        clear: both;
      }
    }
    &.license-info > p {
      max-width: 410px;
    }
    &.license-betco {
      padding-left: 30px;
      a {
        margin-top: 10px;
        > img {
          width: 154px;
        }
      }
    }
  }
}
// custom license-footer end

.new-games-page-j .j-resize-950-1280 li.PGDTLC .wrapper-game-link .game-link-tj:after{
  display: none;
}
.Vbet, .Vbetcn{
   .logo-nav-wrapper{
    z-index: 222;
  }
}
.extended-license-footer > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}