
<div ng-if="!openGame.video_provider[2] && (!$root.conf.externalAnimation || (!externalAnimation.show && !externalAnimation.loading))" class="float-width">
    <audio id="{{openGame.id}}" ng-src="{{animationSoundsMap[openGame.last_event.type] + '.mp3'}}" autoplay="" ng-if="animationSoundOn() && animationSoundsMap[openGame.last_event.type]" ng-init="changeVolume()"></audio>
    <audio id="{{openGame.id}}" ng-src="{{animationSoundsMap[openGame.last_event.type] + '.ogg'}}" autoplay="" ng-if="animationSoundOn() && animationSoundsMap[openGame.last_event.type] && !isMp3Supported" ng-init="changeVolume()"></audio>

    <div class="multilive-visualisation" ng-class="{'statistic': $root.conf.kievAnimationSettings.statistic}" ng-if="openGame.activeFieldType === 'field' && $root.conf.customAnimationURL && $root.conf.sportsWithAnimations[openGame.sport.alias] === 'kiev'">
        <kiev-animation team1="openGame.team1_name" team2="openGame.team2_name" id="openGame.id" sound="$root.env.sound>0"></kiev-animation>
    </div>

    <sportsbook-animations
            ng-if="openGame.activeFieldType === 'field' && $root.conf.sportsWithAnimations[openGame.sport.alias] === 'sportsbook-animations'"
            language="$root.env.lang"
            sport-alias="openGame.sport.alias"
            field="openGame.info.field"
            type-id="openGame.last_event.type_id"
            side="openGame.last_event.side"
            team1-name="openGame.team1_name"
            team2-name="openGame.team2_name"
            team1-score="openGame.info.score1"
            team2-score="openGame.info.score2"
            team1-points="openGame.stats.passes.team1_value"
            team2-points="openGame.stats.passes.team2_value"
    ></sportsbook-animations>

    <feedconstruct-animations ng-if="openGame.activeFieldType === 'field' && $root.conf.sportsWithAnimations[openGame.sport.alias] === 'feedconstruct'" open-game="openGame"></feedconstruct-animations>

    <div ng-if="vbet5AvailableAnimations[openGame.sport.alias] && openGame.activeFieldType === 'field' && ($root.conf.sportsWithAnimations[openGame.sport.alias] === 'VBET5' || $root.conf.sportsWithAnimations[openGame.sport.alias] === 'external')">

        <!-- Soccer animation control -->
        <div class="game-control soccer" ng-if="openGame.sport.alias === 'Soccer'">
            <ul class="game-team-names">
                <li title="{{ openGame.team1_name }}">{{ openGame.team1_name }}</li>
                <li class="teams-score"><span>{{openGame.info.score1}} : {{openGame.info.score2}}</span></li>
                <li title="{{ openGame.team2_name }}">{{ openGame.team2_name }}</li>
            </ul>
            <!-- Soccer animation control -->
            <!-- Field with animations -->

            <div class="field-container tl-hide" >
                <div class="field" ng-class="{'hide-animation-event': openGameFinished}">
                    <div ng-if="openGame.last_event.type === 'Attack'" class="animation-container {{openGame.last_event.type}}" ng-class="{'home': (openGame.last_event|rtlConvert:'side') === '1', 'away': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <div class=" attack-div">
                            <div class="attack-dir"></div>
                        </div>
                        <p trans title="Attack">Attack</p>
                    </div>
                    <div ng-if="openGame.last_event.type === 'BallSafe'" class="animation-container {{openGame.last_event.type}} " ng-class="{'home': (openGame.last_event|rtlConvert:'side')=== '1', 'away': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <div>
                            <div trans title="Ball Safe">Ball Safe</div>
                            <div ng-bind="openGame['team'+openGame.last_event.side + '_name']"></div>
                        </div>
                    </div>
                    <div ng-if="openGame.last_event.type === 'Corner'" class="animation-container {{openGame.last_event.type}}" ng-class="{'home': (openGame.last_event|rtlConvert:'side') === '1', 'away': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <div>
                            <div class=" ball"></div>
                        </div>
                        <p class="text-event" trans title="Corner">Corner</p>
                    </div>
                    <div ng-if="openGame.last_event.type === 'DangerousAttack'" class="animation-container {{openGame.last_event.type}} " ng-class="{'home': (openGame.last_event|rtlConvert:'side') === '1', 'away': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <!--<audio id="{{openGame.id}}" ng-src="{{openGame.last_event.type === 'DangerousAttack'? 'audio/soccer/DangerousAttack.mp3': ''}}" autoplay="autoplay" ng-if="animationSoundOn()"></audio>
                        <audio id="{{openGame.id}}" ng-src="{{openGame.last_event.type === 'DangerousAttack'? 'audio/soccer/DangerousAttack.ogg': ''}}" autoplay="autoplay" ng-if="animationSoundOn() && !isMp3Supported"></audio>-->
                        <div class=" attack-div">
                            <div class="attack-dir"></div>
                        </div>
                        <p trans title="Dangerous Attack">Dangerous Attack</p>
                    </div>
                    <div ng-if="openGame.last_event.type === 'ExtraTimeFirstHalf'" class="animation-container {{openGame.last_event.type}}" ng-class="{'home': (openGame.last_event|rtlConvert:'side') === '1', 'away': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <div class=" text-event" trans title="Extra Time First Half">Extra Time First Half</div>
                    </div>
                    <div ng-if="openGame.last_event.type === 'ExtraTimeHalfTime'" class="animation-container {{openGame.last_event.type}}" ng-class="{'home': (openGame.last_event|rtlConvert:'side') === '1', 'away': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <div class=" text-event" trans title="Extra Time Half Time">Extra Time Half Time</div>
                    </div>
                    <div ng-if="openGame.last_event.type === 'ExtraTimeSecondHalf'" class="animation-container {{openGame.last_event.type}}" ng-class="{'home': (openGame.last_event|rtlConvert:'side') === '1', 'away': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <div class=" text-event" trans title="Extra Time Second Half">Extra Time Second Half</div>
                    </div>
                    <div ng-if="openGame.last_event.type === 'Finished'" class="animation-container {{openGame.last_event.type}}" ng-class="{'home': (openGame.last_event|rtlConvert:'side') === '1', 'away': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <div class=" text-event" trans title="Finished">Finished</div>
                    </div>
                    <div ng-if="openGame.last_event.type === 'FirstHalf'" class="animation-container {{openGame.last_event.type}}" ng-class="{'home': (openGame.last_event|rtlConvert:'side') === '1', 'away': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <div class=" text-event" trans title="First Half">First Half</div>
                    </div>
                    <div ng-if="openGame.last_event.type === 'FreeKick'" class="animation-container {{openGame.last_event.type}}" ng-class="{'home': (openGame.last_event|rtlConvert:'side') === '1', 'away': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <div class=" ripple"></div>
                        <div class="arrow"></div>
                        <div class="ball"></div>
                        <div class="text-event" trans title="Free Kick">Free Kick</div>
                    </div>
                    <div ng-if="openGame.last_event.type === 'Goal'" class="animation-container {{openGame.last_event.type}}" ng-class="{'home': (openGame.last_event|rtlConvert:'side') === '1', 'away': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <!-- <audio id="{{openGame.id}}" ng-src="{{openGame.last_event.type === 'Goal'? 'audio/soccer/Goal.mp3':''}}"  ng-if="animationSoundOn()"></audio>
                         <audio id="{{openGame.id}}" ng-src="{{openGame.last_event.type === 'Goal'? 'audio/soccer/Goal.ogg':''}}"  ng-if="animationSoundOn() && !isMp3Supported"></audio>-->
                        <div class=" ball-cont">
                            <div class="ball"></div>
                        </div>
                        <p class="goal-text"><span trans title="Goal">Goal</span>!!!</p>
                        <p class="team" title="{{openGame['team'+openGame.last_event.side + '_name']}}" ng-bind="openGame['team'+openGame.last_event.side + '_name']"></p>
                    </div>
                    <div ng-if="openGame.last_event.type === 'GoalKick'" class="animation-container {{openGame.last_event.type}}" ng-class="{'home': (openGame.last_event|rtlConvert:'side') === '1', 'away': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <div class=" ripple"></div>
                        <div class="arrow"></div>
                        <div class="ball"></div>
                        <div class="text-event" trans title="Goal Kick">Goal Kick</div>
                    </div>
                    <div ng-if="openGame.last_event.type === 'HalfTime'" class="animation-container {{openGame.last_event.type}}" ng-class="{'home': (openGame.last_event|rtlConvert:'side') === '1', 'away': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <div class=" text-event" trans title="Half Time">Half Time</div>
                    </div>
                    <div ng-if="openGame.last_event.type === 'NotStarted'" class="animation-container {{openGame.last_event.type}}" ng-class="{'home': (openGame.last_event|rtlConvert:'side') === '1', 'away': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <div class=" text-event" trans title="Not Started">Not Started</div>
                    </div>
                    <div ng-if="openGame.last_event.type === 'Offside'" class="animation-container {{openGame.last_event.type}}" ng-class="{'home': (openGame.last_event|rtlConvert:'side') === '1', 'away': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <div class=" line"></div>
                        <div class="ball"></div>
                        <p trans title="Offside">Offside</p>
                    </div>
                    <div ng-if="openGame.last_event.type === 'Penalty'" class="animation-container {{openGame.last_event.type}}" ng-class="{'away': (openGame.last_event|rtlConvert:'side') === '1', 'home': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <div class=" arrow"></div>
                        <div class="ball"></div>
                        <div class="text-event" trans title="Penalty">Penalty</div>
                    </div>
                    <div ng-if="openGame.last_event.type === 'PreExtraHalf'" class="animation-container {{openGame.last_event.type}}" ng-class="{'home': (openGame.last_event|rtlConvert:'side') === '1', 'away': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <div class=" text-event" trans title="Pre Extra Half">Pre Extra Half</div>
                    </div>
                    <div ng-if="openGame.last_event.type === 'RedCard'" class="animation-container {{openGame.last_event.type}}" ng-class="{'home': (openGame.last_event|rtlConvert:'side') === '1', 'away': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <!--<audio id="{{openGame.id}}" ng-src="{{openGame.last_event.type === 'RedCard'?'audio/soccer/RedCard.mp3':''}}"  ng-if="animationSoundOn()"></audio>
                        <audio id="{{openGame.id}}" ng-src="{{openGame.last_event.type === 'RedCard'?'audio/soccer/RedCard.ogg':''}}"  ng-if="animationSoundOn() && !isMp3Supported"></audio>-->
                        <div class=" rotator">
                            <div class="card"></div>
                        </div>
                        <div class="text-event" trans title="Red Card">Red Card</div>
                    </div>
                    <div ng-if="openGame.last_event.type === 'SecondHalf'" class="animation-container {{openGame.last_event.type}}" ng-class="{'home': (openGame.last_event|rtlConvert:'side') === '1', 'away': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <div class=" text-event" trans title="Second Half">Second Half</div>
                    </div>
                    <div ng-if="openGame.last_event.type === 'Substitution'" class="animation-container {{openGame.last_event.type}}" ng-class="{'home': (openGame.last_event|rtlConvert:'side') === '1', 'away': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <div class=" sub-cont"></div>
                        <div class="text-event" trans title="Substitution">Substitution</div>
                    </div>
                    <div ng-if="openGame.last_event.type === 'ThrowIn'" class="animation-container {{openGame.last_event.type}}" ng-class="{'home': (openGame.last_event|rtlConvert:'side') === '1', 'away': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <p trans title="Throw In">Throw In</p>
                        <div>
                            <div class="ball"></div>
                        </div>
                    </div>
                    <div ng-if="openGame.last_event.type === 'YellowCard'" class="animation-container {{openGame.last_event.type}}" ng-class="{'home': (openGame.last_event|rtlConvert:'side') === '1', 'away': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <!-- <audio id="{{openGame.id}}" ng-src="{{openGame.last_event.type === 'YellowCard'? 'audio/soccer/YellowCard.mp3':''}}"  ng-if="animationSoundOn()"></audio>
                         <audio id="{{openGame.id}}" ng-src="{{openGame.last_event.type === 'YellowCard'? 'audio/soccer/YellowCard.ogg':''}}"  ng-if="animationSoundOn() && !isMp3Supported"></audio>-->
                        <div class="rotator">
                            <div class="card"></div>
                        </div>
                        <div class="text-event" trans title="Yellow Card">Yellow Card</div>
                    </div>
                    <div ng-if="openGame.last_event.type === 'GoalkeeperSave'" class ="animation-container {{openGame.last_event.type}}" ng-class="{'home': (openGame.last_event|rtlConvert:'side') === '1', 'away': (openGame.last_event|rtlConvert:'side') === '2'}">
                        <div></div>
                        <p trans title="Goalkeeper Save">Goalkeeper Save</p>
                    </div>

                    <div class="gate-l"></div>
                    <div class="gate-r"></div>
                </div>
            </div>
        </div>

        <!-- Tennis animation control -->
        <div class="game-control tennis tennis-{{openGame.info.field}}" ng-if="openGame.sport.alias === 'Tennis'">
            <ul class="game-team-names">
                <li title="{{ openGame.team1_name }}">{{ openGame.team1_name }}</li>
                <li class="teams-score"><span>{{openGame.info.score1}} : {{openGame.info.score2}}</span></li>
                <li title="{{ openGame.team2_name }}">{{ openGame.team2_name }}</li>
            </ul>
            <div class="field-container tl-hide">
                <div class="field field-{{openGame.info.field}}" ng-class="{'hide-animation-event': openGameFinished}">
                    <div class="{{openGame.last_event.type}} side_{{openGame.last_event|rtlConvert:'side'}} {{openGame.last_event.court_side}}">
                        <div ng-if="openGame.last_event.type === 'BallInPlay'">
                            <div class="ball_container">
                                <div class="ball"></div>
                                <div class="ball_shadow"></div>
                            </div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'Ace'">
                            <div class="ball_container">
                                <div class="ball"></div>
                                <div class="ball_shadow"></div>
                            </div>
                            <div trans class="set" title="Ace">Ace</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'Point' && (!$root.conf.hidePointsForCompetitions['k' + openGame.competition.id] || $root.conf.hidePointsForCompetitions['k' + openGame.competition.id] && $root.env.authorized)">
                            <div class="score_1"><span>{{openGame.stats.passes.team1_value}}</span></div>
                            <div class="score_2"><span>{{openGame.stats.passes.team2_value}}</span></div>
                            <div trans class="point_text" title="Point">Point</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'ServiceFault'">
                            <div trans class="fault_text" title="Service Fault">Service Fault</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'DoubleFault'">
                            <div trans class="fault_text" title="Double Fault">Double Fault</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'Finished'">
                            <div trans class="set" title="Finished">Finished</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'FirstSet'">
                            <div trans class="set" title="First Set">First Set</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'SecondSet'">
                            <div trans class="set" title="Second Set">Second Set</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'ThirdSet'">
                            <div trans class="set" title="Third Set">Third Set</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'FourthSet'">
                            <div trans class="set" title="Fourth Set">Fourth Set</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'FifthSet'">
                            <div trans class="set" title="Fifth Set">Fifth Set</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'InjuryBreak'">
                            <div trans class="set" title="Injury Break">Injury Break</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'RainDelay'">
                            <div trans class="set" title="Rain Delay">Rain Delay</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'Timeout'">
                            <div trans class="set" title="Timeout">Timeout</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Basketball animation control -->
        <div class="game-control basketball" ng-if="openGame.sport.alias === 'Basketball'">
            <ul class="game-team-names">
                <li title="{{ openGame.team1_name }}">{{ openGame.team1_name }}</li>
                <li class="teams-score"><span>{{openGame.info.score1}} : {{openGame.info.score2}}</span></li>
                <li title="{{ openGame.team2_name }}">{{ openGame.team2_name }}</li>
            </ul>
            <!-- Field with animations -->
            <div class="field-container">
                <div class="field" ng-class="{'hide-animation-event': openGameFinished}">
                    <div ng-if="openGame.info.pass_team && (openGame.last_event.type !== 'Finished')" class="game-possession" ng-class="{team1: 'away', team2: 'home'}[(openGame.info|rtlConvert:'pass_team')]"></div>
                    <div class="animation-container {{openGame.last_event.type}}" ng-class="{1:'home', 2:'away'}[(openGame.last_event|rtlConvert:'side')]">
                        <div ng-if="openGame.last_event.type === 'FirstQuarter'">
                            <div trans class="text-event" title="First Quarter">First Quarter</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'FirstQuarterEnded'">
                            <div trans class="text-event" title="First Quarter Ended">First Quarter Ended</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'SecondQuarter'">
                            <div trans class="text-event" title="Second Quarter">Second Quarter</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'SecondQuarterEnded'">
                            <!-- TYPO in word second, need to test-->
                            <div trans class="text-event" title="Second Quarter Ended">Second Quarter Ended</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'ThirdQuarter'">
                            <div trans class="text-event" title="Third Quarter">Third Quarter</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'ThirdQuarterEnded'">
                            <div trans class="text-event" title="Third Quarter Ended">Third Quarter Ended</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'FourthQuarter'">
                            <div trans class="text-event" title="Fourth Quarter">Fourth Quarter</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'FourthQuarterEnded'">
                            <div trans class="text-event" title="Fourth Quarter Ended">Fourth Quarter Ended</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'Overtime'">
                            <div trans class="text-event" title="Overtime">Overtime</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'OvertimeEnded'">
                            <div trans class="text-event" title="Overtime Ended">Overtime Ended</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'Foul'">
                            <div class="timeout-container">
                                <div trans title="Foul">Foul</div>
                                <div>{{openGame.last_event.team_name}}</div>
                            </div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'FreeThrow'">
                            <div class="basket"></div>
                            <div class="arrow"></div>
                            <div class="b_ball"></div>
                            <div trans class="text-event" title="Free Throw">Free Throw</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'Free1Throw'">
                            <div class="basket"></div>
                            <div class="arrow"></div>
                            <div class="b_ball"></div>
                            <div trans class="text-event" title="Free 1-Point Throw">Free 1-Point Throw</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'Free2Throws'">
                            <div class="basket"></div>
                            <div class="arrow"></div>
                            <div class="b_ball"></div>
                            <div trans class="text-event" title="Free 2-Point Throw">Free 2-Point Throw</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'Free3Throws'">
                            <div class="basket"></div>
                            <div class="arrow"></div>
                            <div class="b_ball"></div>
                            <div trans class="text-event" title="Free 3-Point Throw">Free 3-Point Throw</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'MissedFreeThrow'">
                            <div trans class="text-event" title="Missed Free Throw">Missed Free Throw</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'Attack'">
                            <div class="attack-div">
                                <div class="attack-dir"></div>
                            </div>
                            <p trans title="Attack">Attack</p>
                        </div>
                        <div ng-if="openGame.last_event.type === 'OnePoint'">
                            <div class="basket"></div>
                            <div class="ball_container">
                                <div class="b_ball"></div>
                            </div>
                            <div trans class="text-event" title="One Point">One Point</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'TwoPoints'">
                            <div class="basket"></div>
                            <div class="ball_container">
                                <div class="b_ball"></div>
                            </div>
                            <div trans class="text-event" title="Two Points">Two Points</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'ThreePoints'">
                            <div class="basket"></div>
                            <div class="ball_container">
                                <div class="b_ball"></div>
                            </div>
                            <div trans class="text-event" title="Three Points">Three Points</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'Timeout'">
                            <div trans class="text-event" title="Timeout">Timeout</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'Finished'">
                            <div trans class="text-event" title="Finished">Finished</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Volleyball animation control -->
        <div class="game-control volleyball" ng-if="openGame.sport.alias === 'Volleyball'">
            <ul class="game-team-names">
                <li title="{{ openGame.team1_name }}">{{ openGame.team1_name }}</li>
                <li class="teams-score"><span>{{openGame.info.score1}} : {{openGame.info.score2}}</span></li>
                <li title="{{ openGame.team2_name }}">{{ openGame.team2_name }}</li>
            </ul>
            <div class="field-container tl-hide">
                <div class="field" ng-class="{'hide-animation-event': openGameFinished}">
                    <div class="{{openGame.last_event.type}} side_{{openGame.last_event|rtlConvert:'side'}}">
                        <div ng-if="openGame.last_event.type === 'BallInPlay'">
                            <div class="ball_container">
                                <div class="v_ball"></div>
                                <div class="v_ball_shadow"></div>
                            </div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'Point'">
                            <div class="point_container">
                                <div trans class="point_text">Point</div>
                            </div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'Fault'">
                            <div trans class="text-event">Fault</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'Finished'">
                            <div trans class="text-event">Finished</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'Timeout'">
                            <div trans class="text-event">Timeout</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'FirstSet'">
                            <div trans class="text-event">First Set</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'SecondSet'">
                            <div trans class="text-event">Second Set</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'ThirdSet'">
                            <div trans class="text-event">Third Set</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'FourthSet'">
                            <div trans class="text-event">Fourth Set</div>
                        </div>
                        <div ng-if="openGame.last_event.type === 'FifthSet'">
                            <div trans class="text-event">Fifth Set</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="{2:1,4:1}[openGame.scout_provider]" class="powered-by-w"><p/></div>
    </div>
</div>

<div ng-if="!hideVideoAndAnimationBox && openGame.activeFieldType === 'field' && openGame.video_provider[2]" class="height-100 float-width">
    <div ng-if="openGame.animation_data === undefined" ng-init="getVideoData(openGame, false, true)"></div>
    <div class="float-width height-100">
        <iframe class="float-width height-100" ng-if="openGame.animation_data" ng-src="{{ openGame.animation_data|url }}" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen></iframe>
    </div>
</div>

<external-live-match-animation ng-if="$root.conf.externalAnimation && openGame.activeFieldType === 'field' && !openGame.video_provider[2]" animation-type="livematchpro"></external-live-match-animation>
