<div>
    <div class="hp-slider-17" ng-show="!loadingProcess" ng-mouseover="over=true" ng-mouseleave="over=false">
        <div class="hp-slide-17" no-animate ng-repeat="banner in banners[$root.env.authorized] track by $index" cms-analytics="banner" ng-class="{'active': $parent.slide==$index}">
            <a ng-if="banner.linkType=='url' && !banner.videoLink"
               route-reload
               reload="{{$root.$location.path() === '/' ? false : banner.link.indexOf($root.$location.path()) > -1}}"
               ng-href="{{banner.link}}"
               ng-click="bannerClick(banner)" target="{{banner.linktarget}}">
                <img ng-src="{{ banner.imageurl }}" alt="">
            </a>

            <a ng-if="banner.linkType=='broadcast' && !banner.videoLink"
               ng-click="$root.$broadcast(banner.link);bannerClick(banner)">
                <img ng-src="{{ banner.imageurl }}" alt="">
            </a>
            <a ng-if="banner.videoLink"
               ng-click="$root.$broadcast('youtube.videourl', banner.videoLink)">
                <img ng-src="{{ banner.imageurl }}">
            </a>

            <p ng-if="banner.content" ng-bind-html="banner.content|html:'p'"></p>
            <div ng-if="banner.linkType=='html'" ng-bind-html="banner.text|html:'p'"></div>
            <span class="hp-slider-action-button-17" ng-if="banner.custom_fields.button[0] && banner.custom_fields.button[0]!== 'hide'" ng-bind="banner.custom_fields.button[0]" trans></span>
        </div>
        <div class="hp-slider-pagination" ng-show="banners[$root.env.authorized].length > 1">
            <div class="display-float" ng-show="!$root.conf.sliderArrows">
                <small ng-repeat="banner in banners[$root.env.authorized] track by $index" ng-class="{'active':$parent.slide==$index}" ng-click="$parent.slide=$index"></small>
            </div>
            <div class="display-float" ng-show="$root.conf.sliderArrows">
                <button ng-click="slide = slide - 1;slide = slide < 0 ? banners[$root.env.authorized].length - 1 : slide"></button>
                <button class="slider-amount-btn">{{slide + 1}}/{{banners[$root.env.authorized].length}}</button>
                <button ng-click="slide = slide + 1;slide = slide > banners[$root.env.authorized].length - 1 ? 0 : slide"></button>
            </div>
        </div>
    </div>
    <vbet-loader ng-show="loadingProcess"></vbet-loader>
</div>
