<div>
    <div class="new-default-popup-j cashout-j" ng-if="cashoutPopup.active" ng-class="{'error' : cashoutDialog.type == 'confirm' && !cashoutSuccess, 'success' : cashoutDialog.type == 'confirm' && cashoutSuccess}">
        <div class="pp-table-j">
            <div class="table-row-j">
                <div class="table-cell-j">
                    <center ng-show="cashoutRequestInProgress"><vbet-loader></vbet-loader></center>
                    <div class="popup-wrapper-j" ng-show="!cashoutRequestInProgress">
                        <div class="pu-head-j">
                            <div>
                                <span trans>Cash-out</span>
                                <div class="popup-info-tooltip">
                                    <div class="popup-info-tooltip-content">
                                        <ul class="cashout-id-wrapper">
                                            <li>
                                                <p>ID:{{cashoutBet.id}}</p>
                                            </li>
                                            <li>
                                                <span>({{cashoutBet.date_time|formatDate}})</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <a class="close-j" ng-click="closePopUp()"></a>
                        </div>
                        <div class="pu-cont-tabs" ng-show="cashoutDialog.type != 'confirm'" ng-hide="conf.disableCashOut.auto">
                            <ul>
                                <li ng-click="switchCashOutDialogType('cashout')" ng-class="{'active' : cashoutDialog.type != 'autoCashout'}" trans>Manual</li>
                                <li ng-click="switchCashOutDialogType('autoCashout')" ng-class="{'active' : cashoutDialog.type != 'cashout'}">
                                    <i class="cms-jcon-settings-new"></i><span trans>Auto</span>
                                </li>
                            </ul>
                        </div>
                        <div class="cash-out-ask"
                             ng-if="cashoutDialog.type !== 'autoCashout' && cashoutDialog.type !== 'confirm'">
                            <h4 trans>In case of Cashout amount change</h4>
                            <div
                                 ng-class="{'active': cashoutPopupOpened}"
                                 ng-click="cashoutPopupOpened = !cashoutPopupOpened"
                               >
                                <p class="settings-icon-betslip-v3">{{modes[cashoutPopup.selectedMode]}}</p>
                                <ul>
                                    <li ng-class="{'active': cashoutPopup.selectedMode === 0}" ng-click="changeCashOutMode(0)"><p ng-bind="::modes[0]"></p></li>
                                    <li ng-class="{'active': cashoutPopup.selectedMode === 1}" ng-click="changeCashOutMode(1)"><p ng-bind="::modes[1]"></p></li>
                                    <li ng-class="{'active': cashoutPopup.selectedMode === 2}" ng-click="changeCashOutMode(2)"><p ng-bind="::modes[2]"></p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="pu-contain-j" ng-show="cashoutDialog.type == 'confirm' && !cashoutSuccess && cashoutRule.manualError">
                            <p ng-show="unknownError" trans>Error occurred.</p>
                            <p ng-bind="cashoutRule.manualError|translate"></p>
                        </div>
                        <div class="pu-contain-j" ng-show="cashoutDialog.type == 'confirm' && cashoutSuccess && !cashoutRule.created && !cashoutRule.canceled">
                            <span ng-show="cashoutSuccess != true">({{cashoutSuccess }} {{$root.profile.currency_name}})</span>
                            <p trans>Cash-out done.</p>
                        </div>
                        <div class="pu-contain-j" ng-show="cashoutDialog.type == 'confirm' && cashoutRule.created && !cashoutRule.error && !cashoutRule.canceled">
                            <p trans>Auto Cash-Out rule has been created.</p>
                        </div>
                        <div class="pu-contain-j" ng-show="cashoutDialog.type == 'confirm' && cashoutRule.canceled && !cashoutRule.error && !cashoutRule.created">
                            <p trans>Auto Cash-Out rule has been canceled.</p>
                        </div>
                        <div class="pu-contain-j" ng-show="cashoutDialog.type == 'confirm' && cashoutRule.error">
                            <span>{{cashoutRule.message}}</span>
                        </div>
                        <div class="pu-contain-j" ng-show="cashoutDialog.type != 'confirm'">
                            <div class="auto-cashout-wrapper" ng-if="cashoutDialog.type == 'autoCashout' && cashoutBet.auto_cash_out_amount === null">
                                <p trans>If the value reaches</p>
                                <div class="auto-cashout-input">
                                    <input class="cashout-amount-head" type="text" ng-model="triggerAutoCashOut.amount"
                                           ng-focus="changeTriggerAmount()"
                                           ng-change="changeTriggerAmount()" ng-disabled="cashoutBet.auto_cash_out_amount != null || autoCashOutAmount.disabled"
                                           comma  comma-enable={{$root.conf.enableCommaSeparateNumber}}
                                           comma-decimal="enable" comma-dot="{{$root.conf.enableDotInsteadComma}}"
                                           prevent-input="{{inputRegEx}}"
                                           numpad numpad-letters="disabled" maxlength="10" auto-focus="{{cashoutTypes.auto === 'full'}}" >
                                    <div class="cashout-range-box" ng-hide="autoCashOutAmount.disabled">
                                        <ul>
                                            <li>{{autoCashOutAmount.min|number:conf.balanceFractionSize}} {{cashoutBet.currency|currency}}</li>
                                            <li>{{autoCashOutAmount.max|number:conf.balanceFractionSize}} {{cashoutBet.currency|currency}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <ul ng-show="!conf.disableCashOut.partial">
                                    <li>
                                        <div class="cashout-option">
                                            <label>
                                                <input type="radio" name="autoCashoutType" ng-model="cashoutTypes.auto" value="full">
                                                <p trans>Full Cash Out</p>
                                            </label>
                                        </div>
                                    </li>
                                    <li ng-class="{'disabled' : cashoutTypes.auto != 'partial'}">
                                        <div class="cashout-option">
                                            <label>
                                                <input type="radio" name="autoCashoutType" ng-model="cashoutTypes.auto" value="partial">
                                                <p trans>Partial Cash Out</p>
                                            </label>
                                        </div>
                                        <div class="cashout-amount-slider">
                                            <p ng-show="!triggerAutoCashOut.error && triggerAutoCashOut.amount > 0 && cashoutBet.cash_out > $root.partnerConfig.min_bet_stakes[$root.profile.currency_name]" trans>Insert an amount or use the slider to adjust it.</p>
                                            <p ng-show="cashoutBet.cash_out <= $root.partnerConfig.min_bet_stakes[$root.profile.currency_name]" trans>Cash-out amount.</p>
                                            <input type="text" class="cashout-amount-head" comma  comma-enable={{conf.enableCommaSeparateNumber}}
                                                   comma-decimal="enable" comma-dot="{{conf.enableDotInsteadComma}}"
                                                   prevent-input="{{inputRegEx}}"
                                                   numpad numpad-letters="disabled" maxlength="10"
                                                   ng-model="cashoutPopup.inputValue" ng-change="changeBackCashoutValue(triggerAutoCashOut.amount)"
                                                   ng-focus="changeBackCashoutValue(triggerAutoCashOut.amount)"
                                                   ng-disabled="(autoCashOutAmount.disabled && cashoutDialog.type != 'autoCashout') || (cashoutBet.auto_cash_out_amount != null)"
                                                   auto-focus="{{cashoutTypes.auto === 'partial'}}" >
                                            <div class="cashout-range-box" ng-show="!triggerAutoCashOut.error && triggerAutoCashOut.amount > 0">
                                                <ul>
                                                    <li ng-show="cashoutDialog.type == 'autoCashout'">0 {{cashoutBet.currency|currency}}</li>
                                                    <li ng-show="cashoutDialog.type == 'autoCashout'">{{triggerAutoCashOut.amount|number:conf.balanceFractionSize}} {{cashoutBet.currency|currency}}</li>
                                                </ul>
                                                <div class="cashout-range-input-wrapper" ng-if="cashoutDialog.type == 'autoCashout'">
                                                    <small style="width: {{cashoutPopup.sliderValue}}%"></small>
                                                    <input type="range" min="0" max="100" value="100" step="0.01"  ng-model="cashoutPopup.sliderValue" ng-change="changeCashoutValue(cashoutPopup.sliderValue, triggerAutoCashOut.amount)" ng-disabled="cashoutBet.auto_cash_out_amount != null">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="auto-cashout-rule" ng-if="cashoutDialog.type == 'autoCashout' && cashoutBet.auto_cash_out_amount != null">
                                <h4 ng-show="!cashoutRule.loading" trans>Rule active</h4>
                                <p ng-show="!cashoutRule.loading">{{::'If the value reaches'|translate}} <span>{{ cashoutRule.valueReachesAmount }}</span> <b>{{cashoutBet.currency|currency}}</b></p>
                                <p ng-show="!cashoutRule.loading">{{::'Cash out'| translate}} <span ng-if="cashoutRule.partialAmount"><span>{{ cashoutRule.partialAmount }}</span> <b>{{cashoutBet.currency|currency}}</b></span></p>
                                <vbet-loader class="page-center" ng-show="cashoutRule.loading"></vbet-loader>
                            </div>
                            <ul class="cashout-options" ng-if="cashoutDialog.type == 'cashout'">
                                <li ng-class="{'disabled' : cashoutTypes.manual != 'full'}">
                                    <div class="cashout-option">
                                        <label ng-click="newCashoutData.partial_price = ''; canCashOut.enabled = true">
                                            <input type="radio" name="cashoutType" ng-model="cashoutTypes.manual" value="full">
                                            <p><b trans>Full Cash Out</b></p>
                                            <strong>{{cashoutBet.cash_out|number:conf.balanceFractionSize}} {{cashoutBet.currency|currency}}</strong>
                                        </label>
                                    </div>
                                </li>
                                <li ng-class="{'disabled' : cashoutTypes.manual != 'partial'}" ng-show="!conf.disableCashOut.partial">
                                    <div class="cashout-option">
                                        <label ng-click="newCashoutData.partial_price = cashoutPopup.inputValue">
                                            <input type="radio" name="cashoutType" ng-model="cashoutTypes.manual" value="partial">
                                            <p><b trans>Partial Cash Out</b></p>
                                        </label>
                                    </div>
                                    <div class="cashout-amount-slider">
                                        <p ng-show="cashoutBet.cash_out > $root.partnerConfig.min_bet_stakes[$root.profile.currency_name]" trans>Insert an amount or use the slider to adjust it.</p>
                                        <p ng-show="cashoutBet.cash_out <= $root.partnerConfig.min_bet_stakes[$root.profile.currency_name]" trans>Cash-out amount.</p>
                                        <input type="text" class="cashout-amount-head" comma  comma-enable={{conf.enableCommaSeparateNumber}}
                                               comma-decimal="enable" comma-dot="{{conf.enableDotInsteadComma}}"
                                               prevent-input="{{inputRegEx}}"
                                               numpad numpad-letters="disabled" maxlength="10"
                                               ng-focus="changeBackCashoutValue(cashoutBet.cash_out)"
                                               ng-model="cashoutPopup.inputValue" ng-change="changeBackCashoutValue(cashoutBet.cash_out)" auto-focus="{{cashoutTypes.manual === 'partial'}}">
                                        <div class="cashout-range-box">
                                            <ul>
                                                <li>0 {{cashoutBet.currency|currency}}</li>
                                                <li>{{cashoutBet.cash_out|number:conf.balanceFractionSize}} {{cashoutBet.currency|currency}}</li>
                                            </ul>
                                            <div class="cashout-range-input-wrapper">
                                                <small style="width: {{cashoutPopup.sliderValue}}%"></small>
                                                <input type="range" min="0" max="100" value="100" step="0.01" ng-model="cashoutPopup.sliderValue" ng-change="changeCashoutValue(cashoutPopup.sliderValue, cashoutBet.cash_out)">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div ng-show="cashoutBet.type==='1'" class="all-info-cashout-j">
                                <span>{{cashoutBet.events[0].competition_name|removeParts:[cashoutBet.events[0].sport_name]}}</span>
                                <br/>
                                <span>{{cashoutBet.events[0].game_name}}</span>
                                <br/>
                                <span trans>Pick:</span> <span>{{cashoutBet.events[0].event_name}}</span>
                            </div>
                            <p class="warning-j" ng-show="newCashoutData.priceChanged" trans>Cash-out amount has changed</p>
                            <p class="warning-j" ng-show="!cashoutPopup.originalPrice && !newCashoutData.new_price" trans>The event has already finished, calculations will complete soon.</p>
                            <p class="warning-j" ng-show="!canCashOut.enabled && (cashoutPopup.inputValue && cashoutPopup.inputValue >= 0)" trans>Please enter a valid Cash-out amount.</p>
                            <p class="warning-j" ng-show="cashoutDialog.type == 'autoCashout' && autoCashOutAmount.disabled" trans>Auto Cash-out rule can't be created at the moment.</p>
                            <p class="warning-j" ng-show="cashoutDialog.type == 'autoCashout' && triggerAutoCashOut.error && (triggerAutoCashOut.amount && triggerAutoCashOut.amount >= 0)" trans>The specified amount is out of the acceptable range.</p>
                        </div>

                        <div class="pu-button-wrap-j">

                            <button class="brand-color-1" ng-click="doCashout(cashoutBet, newCashoutData)" ng-show="cashoutDialog.type == 'cashout'" ng-disabled="!canCashOut.enabled" trans>Cash-out</button>
                            <button class="brand-color-1" ng-click="createAutoCashOutRule(cashoutBet.id);$event.stopPropagation();" ng-show="cashoutDialog.type == 'autoCashout' && cashoutBet.auto_cash_out_amount == null" ng-disabled="!canCashOut.enabled || triggerAutoCashOut.error || autoCashOutAmount.disabled" trans>Create rule</button>
                            <button class="brand-color-1" ng-click="cancelAutoCashOutRule(cashoutBet.id);$event.stopPropagation();" ng-show="cashoutDialog.type == 'autoCashout' && cashoutBet.auto_cash_out_amount != null" ng-disabled="!canCashOut.enabled" trans>Cancel rule</button>
                            <button class="brand-color-1" ng-click="cashoutPopup.active = false; $event.stopPropagation(); " trans ng-show="cashoutDialog.type == 'confirm'">Ok</button>
                            <button ng-click="changeBackCashoutValue(); cashoutPopup.active = false; $event.stopPropagation(); " trans ng-show="cashoutDialog.type == 'cashout' || (cashoutDialog.type == 'autoCashout' && cashoutBet.auto_cash_out_amount == null)" class="cancel-j">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
