<div class="hp-slider-17">
    <div class="hp-slide-17" no-animate ng-repeat="slide in productSlides  track by $index" ng-class="{'active': $index === selectedIndex}">
        <a ng-href="{{::slide.url}}" target="{{:: slide.custom_fields.target[0] || '_self'}}" ng-class="{'pointer-events-none': !slide.url}"  ng-click="openUrl(slide.url)">
            <img ng-src="{{slide.thumbnail_images.full.url}}"/>
            <div class="slider-landing-overlay">
                <div class="guide">
                    <h2>{{slide.title}}</h2>
                    <div class="float-width">
                        <p class="primary-info-slide" ng-bind-html="slide.content|html:'p'"></p>
                    </div>
                </div>
            </div>
        </a>
        <bc-jackpot ng-if="slide.custom_fields.jackpot_src[0]" jackpot-id="slide.custom_fields.jackpot_src[0]" jackpot-source="jackpotSource"></bc-jackpot>
    </div>
    <div class="slider-landing-overlay">
        <div class="guide">
            <h1 class="{{pageName}}-icon" ng-if="pageName && pageName + ' label'|translate:null:true">{{pageName + ' label' | translate}}</h1>
            <h1 class="{{pageName}}-icon" ng-if="pageName && !(pageName + ' label'|translate:null:true)">{{pageName | translate}}</h1>
            <div class="hp-slider-pagination" ng-mouseover="rotationPaused = true" ng-mouseleave="rotationPaused = false" ng-show="productSlides.length > 1">
                <div class="display-float" ng-if="!$root.conf.sliderArrows">
                    <small ng-class="{'active': $index == selectedIndex}" ng-repeat="slide in productSlides track by $index" ng-click="selectSlide($index)"></small>
                </div>
                <div class="display-float" ng-if="$root.conf.sliderArrows">
                    <button ng-click="selectSlide(selectedIndex - 1)"></button>
                    <button class="slider-amount-btn">{{selectedIndex + 1}}/{{productSlides.length}}</button>
                    <button ng-click="selectSlide(selectedIndex + 1)"></button>
                </div>
            </div>
        </div>
    </div>
</div>
