<div class="last-minute-bets-j" ng-class="gameWidgetType">
    <div class="lmb-time-selector">
        <ul ng-if="gameWidgetType === 'lastMinutesBets'">
            <li>
                <h3 trans>Last minute bets</h3>
            </li>
            <li ng-click="setMinutes($root.conf.homePageLastMinuteBets.timeOptions[2])" ng-class="{'active-j':minutesFilter == $root.conf.homePageLastMinuteBets.timeOptions[2]}">{{$root.conf.homePageLastMinuteBets.timeOptions[2]}} <span trans>minutes</span></li>
            <li ng-click="setMinutes($root.conf.homePageLastMinuteBets.timeOptions[1])" ng-class="{'active-j':minutesFilter == $root.conf.homePageLastMinuteBets.timeOptions[1]}">{{$root.conf.homePageLastMinuteBets.timeOptions[1]}} <span trans>minutes</span></li>
            <li ng-click="setMinutes($root.conf.homePageLastMinuteBets.timeOptions[0])" ng-class="{'active-j':minutesFilter == $root.conf.homePageLastMinuteBets.timeOptions[0]}">{{$root.conf.homePageLastMinuteBets.timeOptions[0]}} <span trans>minutes</span></li>
        </ul>
        <ul ng-if="gameWidgetType === 'popularGamesWidget'">
            <li>
                <h3>{{gameWidgetTitle | translate}}</h3>
            </li>
        </ul>
    </div>
    <div class="lmb-sport-select-j">
        <p ng-if="loadCompleted && liveGameViewData && liveGameViewData.length === 0" class="last-bets-nogames-t" trans>No games found</p>
        <ul ng-show="loadCompleted">
            <li ng-show="liveGameViewData.length > 0" ng-repeat="sport in liveGameViewData track by $index" ng-class="{'active-j':selectedSport.id == sport.id,'all-sports-section':'allSport' === sport.alias}" class="{{sport.alias}}" title="{{ sport.name }}" ng-click="selectSport(sport)"><span>{{sport.name}}</span></li>
        </ul>
    </div>
    <div class="lmb-table-wrap-j" ng-class="{'lmb-empty-list': liveGameViewData.length === 0}">
        <vbet-loader ng-show="!loadCompleted"></vbet-loader>
        <div class="lmb-table-j" ng-show="loadCompleted && selectedSport.game.length">
            <ul class="lmb-title-j">
                <li ng-class="{'extanded-date-m': gameWidgetType === 'highlights' && $root.conf.showPromotedGamesOnWidget.timeFormat}">
                    <div class="sport-game-icon-dashboard"></div>
                    <div class="market-info-b" trans>Time</div>
                </li>
                <li trans ng-bind = "gameWidgetType === 'popularGamesWidget' ? '' : 'Team 1'|translate"></li>
                <li></li>
                <li trans ng-bind = "gameWidgetType === 'popularGamesWidget' ? '' : 'Team 2'|translate"></li>
                <li trans>1</li>
                <li ng-show="selectedSport.hasXEvent" trans>X</li>
                <li trans>2</li>
                <li class="statistic-view-icon"></li>
                <li class="video-animation-view-icon"></li>
                <li></li>
            </ul>
            <ul ng-repeat="game in selectedSport.game | orderBy:'start_ts' track by game.id" ng-click="(gameWidgetType === 'popularGamesWidget' || gameWidgetType === 'lastMinutesBets') && goToUrl(game, gameWidgetMode)">
                <li ng-class="{'extanded-date-m': gameWidgetType === 'highlights' && $root.conf.showPromotedGamesOnWidget.timeFormat}">
                    <div class="sport-game-icon-dashboard icon  {{game.sport.alias}}"></div>
                    <div class="market-info-b">{{ game.start_ts| formatDate:'noLocaleTime':null:$root.env.timeFormat}}</div>
                </li>
                <li ng-click="(gameWidgetType !== 'popularGamesWidget') && (gameWidgetType !== 'lastMinutesBets') && goToUrl(game, gameWidgetMode)">
                    <div class="market-info-b market-name-j" title="{{game.team1_name}}">{{game.team1_name}}</div>
                </li>
                <li>
                    <div class="market-info-b" ng-hide="gameWidgetType === 'liveNow'">vs</div>
                    <div class="score-live-game-b" ng-hide="gameWidgetType !== 'liveNow' || !game.info.score1 ">
                        <span>{{game.info.score1}}</span><span>{{game.info.score2}}</span>
                    </div>
                </li>
                <li ng-click="(gameWidgetType !== 'popularGamesWidget') && (gameWidgetType !== 'lastMinutesBets') && goToUrl(game, gameWidgetMode)">
                    <div class="market-info-b market-name-j" title="{{game.team2_name}}">{{game.team2_name}}</div>
                </li>
                <li ng-click="bet(game.events.P1, game, $event); " ng-class="{'active': isEventInBetSlip(game.events.P1)}">
                    <div class="market-info-b" ng-class="{'blocked': ((game.events.P1.price | oddConvert:'decimal') == 1 || game.is_blocked)}"><span class="price"><span class="{{game.events.P1.price_change == null? '' : ({true: 'up-', false: 'down'}[game.events.P1.price_change > 0] + (game.events.P1.price_change % 2)) }}">{{game.events.P1.price | oddConvert:$root.env.oddFormat:null:'WINNER'}}</span></span>
                    </div>
                </li>
                <li ng-show="selectedSport.hasXEvent" ng-click="bet(game.events.X, game, $event);" ng-class="{'active': isEventInBetSlip(game.events.X)}">
                    <div class="market-info-b" ng-class="{'blocked': ((game.events.X.price | oddConvert:'decimal') == 1 || game.is_blocked)}"><span class="price"><span class="{{game.events.X.price_change == null? '' : ({true: 'up-', false: 'down'}[game.events.X.price_change > 0] + (game.events.X.price_change % 2)) }}">{{game.events.X.price | oddConvert:$root.env.oddFormat:null:'WINNER'}}</span></span>
                    </div>
                </li>
                <li ng-click="bet(game.events.P2, game, $event); " ng-class="{'active': isEventInBetSlip(game.events.P2)}">
                    <div class="market-info-b" ng-class="{'blocked': ((game.events.P2.price | oddConvert:'decimal') == 1 || game.is_blocked)}"><span class="price"><span class="{{game.events.P2.price_change == null? '' : ({true: 'up-', false: 'down'}[game.events.P2.price_change > 0] + (game.events.P2.price_change % 2)) }}">{{game.events.P2.price | oddConvert:$root.env.oddFormat:null:'WINNER'}}</span></span>
                    </div>
                </li>
                <li ng-if="gameWidgetType !== 'lastMinutesBets'" class="video-animation-view-icon">
                    <div class="video-animation-icon " ng-class="{'animation':!game.video_id && game.last_event}" ng-hide="!game.video_id && !game.last_event"></div>
                </li>
                <li ng-if="gameWidgetType !== 'lastMinutesBets'" class="statistic-view-icon">
                    <div class="statistic-b-new" ng-if="$root.conf.enableH2HStat &&  game.is_stat_available" ng-click="openStatistics(game)"></div>
                </li>
                <li>
                    <div class="favorite-icon-dashboard icon" ng-click="toggleGameFavorite(game)" ng-show="gameWidgetType === 'liveNow'" ng-class="{'active': $root.myGames.indexOf(game.id) !== -1}"></div>
                    <a ng-click="goToUrl(game, gameWidgetMode); $event.stopPropagation();" class="market-info-b">+{{game.markets_count}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
