<div class="float-width">
    <div ng-if="jackpotData.length" class="jackpot-pools">
        <a ng-controller="cmsPagesCtrl" ng-init="loadBanners('casino-jackpot-banner', true)" class="jp-banner"
           ng-href="{{bannerObjects['casino-jackpot-banner-iframe'][$root.env.authorized][0].link}}" target="{{bannerObjects['casino-jackpot-banner-iframe'][$root.env.authorized][0].linktarget}}"
           style="background-image: url({{bannerObjects['casino-jackpot-banner-iframe'][0].image}})">
            <span>{{jackpotData[jackpotIndex].Name|translate}}</span>
            <div class="jackpot-banner-amount">
                <jackpot-counter
                        max-duration-speed="400"
                        point="jackpotData[0].CurrencyFraction"
                        comma="true"
                        show-currency="true"
                        currency="{{jackpotData[jackpotIndex].Currency}}"
                        amount="{{jackpotData[jackpotIndex].CollectedAmountTotal}}">
                </jackpot-counter>
            </div>
        </a>
    </div>
</div>
