<div class="float-width" ng-show="openGame.type === 1">
    <div class="statistic-view-v3">
        <div class="live-game-container no-select-j" ng-show="openGame.type == 1">
            <div class="game-content">
                <div class="game-info game-{{openGame.sport.alias.toLowerCase()}}" ng-show="!openGameLoading">
                    <button class="unpin-button" ng-class="{'active': $root.env.isLiveGamePinned && !noClassicScroll}" ng-show="$root.conf.enableLiveSectionPin && (openGame.sport.alias !== 'HorseRacing') && !(enlargedGame && openGame.id === enlargedGame.id) && $root.conf.sportsLayout === 'classic'" ng-click="toggleLiveSectionPin()" trans="attr-only" title="Pin/Unpin"></button>
                    <div class="sport-title" ng-click="broadcast('liveGame.headerClicked', openGame);$event.stopPropagation();" ng-if="liveGamesSoccerTemplate.indexOf(openGame.sport.alias) !== -1 || $root.conf.esportsGames.indexOf(openGame.sport.alias) !== -1">
                        <b class="mini-icon-1 mini-icon-{{openGame.sport.id}} {{openGame.sport.alias}}" title="{{openGame.sport.alias}}"></b>
                        <span class="ellipsis-text" title="{{openGame.competition.name}}">
                        <b ng-show="$root.conf.showGameIds">{{openGame.game_number}}</b> {{openGame.region.name}} - {{openGame.competition.name}}
                    </span>
                        <span ng-if="openGame.sport.alias === 'HorseRacing'" title="{{ openGame.team2_name ?  openGame.team2_name: '' }}">{{ openGame.team2_name ?  openGame.team2_name: '' }} {{ openGame.start_ts| formatDate: "LT"}}</span>
                    </div>
                    <div class="live-score-include-holder">
                        <ng-include src="::'templates/directive/live-game-scores-info.html'" class="float-width">

                        </ng-include>
                        <div class="last-event-and-stats-toggle">
                            <ul>
                                <li>
                                    <div class="game-detailed-stats" ng-if="(liveGamesSoccerTemplate.indexOf(openGame.sport.alias) !== -1 || $root.conf.esportsGames.indexOf(openGame.sport.alias) !== -1) && openGame.live_events">
                                        <div class="hover-sp items-{{openGame.live_events.length}}">
                                            <div class="football-gamer-name" ng-repeat="gameEvent in openGame.live_events|orderBy:'add_info_order':true">
                                                <div ng-class="gameEvent.event_type+'-icon'" class="{{gameEvent.event_icon}}"></div>
                                                <span ng-class="gameEvent.team">
                                                <tshirt shirt="{{ openGame.info['shirt'+ gameEvent.team.slice(-1) + '_color'] }}" shorts="{{ openGame.info['short'+ gameEvent.team.slice(-1) + '_color'] }}"></tshirt>
                                            </span>
                                                <p>{{gameEvent.event_type.replace('_', ' ')|capitalise|translate}} {{ gameEvent.add_info }} {{openGame[gameEvent.team + '_name']}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="euro2016-changeStatsMode-j" ng-if="openGame.last_event && (openGame.sport.alias === 'Soccer' || openGame.sport.alias === 'CyberFootball')">
                                        <input type="button" ng-click="changeStatsMode(2)" ng-class="{'active': flipMode === 2}"  value="{{'Timeline'|translate}}"/>
                                        <input type="button" ng-click="changeStatsMode(0)" ng-class="{'active': !flipMode}" value="{{'H2H Chart'|translate}}"/>
                                        <input type="button" ng-click="changeStatsMode(1)" ng-class="{'active': flipMode === 1}" value="{{'Table'|translate:null:'Game Table'}}"/>
                                    </div>
                                </li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="game-additional-info-v3">
        <p   additional-game-info game="openGame" ng-show="openGame.add_info_name || openGame.info.add_info || openGame.tv_info || openGame.openGame.is_neutral_venue || additionalInfo && (!$root.conf.hidePointsForCompetitions['k' + openGame.competition.id] || $root.conf.hidePointsForCompetitions['k' + openGame.competition.id] && $root.env.authorized)">
            <span ng-show="openGame.is_neutral_venue" trans >Neutral field</span>
            <span class="text-info" ng-if="additionalInfo">{{ additionalInfo }} </span>
            <span ng-if="openGame.add_info_name" ng-bind="openGame.add_info_name"></span>
            <span ng-if="openGame.info.add_info" ng-bind="openGame.info.add_info"></span>
            <span ng-if="openGame.info.tv_info" ng-bind="openGame.info.tv_info"></span>

        </p>
        <div class="game-additional-icons">
            <i class="statistics-icon-j"
               ng-show="$root.conf.enableH2HStat && openGame.is_stat_available"
               ng-click="openStatistics(openGame);$event.stopPropagation();"
               statistics-on-hover
               stats-game ="openGame"
               stats-competition-name="{{openGame.competition.name}}"></i>
            <ul>
                <li class="column-view-j" ng-click="switchMarketsInOneColumn(false)" ng-class="{'active': !marketsInOneColumn.enabled}"></li>
                <li class="list-view-j" ng-click="switchMarketsInOneColumn(true)" ng-class="{'active': marketsInOneColumn.enabled}"></li>
            </ul>
        </div>
    </div>
</div>
<div class="float-width" ng-show="openGame.type !== 1">
    <div class="game-additional-info-v3">
        <p ng-show="openGame.is_neutral_venue || getGameAdditionalInfoV3">
            <span ng-show="openGame.is_neutral_venue" trans >Neutral field</span>
            <span ng-if="openGame">{{ getGameAdditionalInfoV3 }} </span>
        </p>
    </div>
</div>
