<div class="verify-account">
    <div trans ng-show="showRequiredMessage">Please upload an image and select the type of your chosen method of identification.</div>
    <div trans ng-show="notSupported">Your browser doesn't support file uploading, Please update or use Google Chrome</div>
    <div trans ng-show="fileUploaded">Your file is successfully uploaded</div>
    <div trans ng-show="uploadError">There was an error during file upload, please try again.</div>
    <form method="POST" name="forms.passportImageForm" enctype='multipart/form-data' ng-hide="notSupported || loadingProgress" ng-submit="submitForm();" novalidate>
        <ul>
            <li>
                <label>
                    <p trans>Please select your type of ID</p>
                    <div class="select-holder">
                        <select required ng-model="accountVerificationData.selectedImageType" name="selectedImageType">
                            <option value="" trans>Not selected</option>
                            <option ng-repeat="(key, value) in imageTypes track by key" value="{{value.value}}">{{::value.name|translate}}</option>
                        </select>
                    </div>
                </label>
            </li>
            <li>
                <label>
                    <input type="file" name="passportImage" id="{{inputId}}" accept="image/*" class="passportUpload"/>
                    <p trans>File location</p>
                    <ul class="fileUpload-button">
                        <li>
                            <input name="imageFile" id="uploadFilePassport" trans="attr-only" placeholder="Choose File" disabled="disabled" ng-model="accountVerificationData.imageFile" required/>
                        </li>
                        <li>
                            <span trans>Browse</span>
                        </li>
                    </ul>
                </label>
            </li>
        </ul>
        <button ng-disabled="disablePassportVerificationSubmitButton" type="submit" title="{{'Please upload an image and select the type of your ID'|translate}}" trans>Verify</button>
    </form>
    <center><vbet-loader ng-show="loadingProgress"></vbet-loader></center>
</div>