<div class="float-width" ng-show="popular.data.length">
    <div class="sports-item-v3 {{::popular.color}}"
         ng-class="{'active': popular.expanded}"
         ng-click="toggle();">
        <p ng-bind="::title|translate"></p>
        <div class="arrow-view-v3"></div>
        <div class="sport-games-count-v3">
            <span>{{popular.data.length}}</span>
        </div>
    </div>
    <div class="region-item-row-v3">
        <div class="region-items-box">
            <div class="full-region-info-v3 active">
                <div class="games-list-nav-v3">
                    <div class="games-list-mini-view-v3">
                        <div class="competition-view-v-3">
                            <div class="competition-title-v3" ng-repeat="item in popular.data track by item.id" ng-class="{active: item.id == $root.$location.search()[searchField] }">
                                <label title="{{ ::getCompetitionTitle(item) }}" ng-click="selectPopular(type, item)"  class="{{$root.conf.classForSport[item.sport.id] || ''}}">
                                    <span class="sport-icon-v3 favorite-competitions-icon-t {{item.sport.alias}}"></span>
                                    <span ng-bind="::(item.name || item.team1_name + (item.team2_name?  (' - ' + item.team2_name):''))"></span>
                                    <span class="pg-start-time">{{item.start_ts|formatDate:'HH:mm'}}</span>
                                    <div class="flag-view-v3 flag-icon flag-{{::item.region.alias | removeUselessSymbolsByRegexp: '[,\' ]+': 'g': 'true'}}"></div>
                                </label>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
