<div class="animation-video-box-v3"
     ng-show="selectedTab"
     ng-class="{'active': hideVideoAndAnimationBox}">
    <div class="animation-video-contain-v3 pm-stream-block">
        <div class="animation-video-title-row-v3">
            <div class="contain-v-a-fanction-icons-v3">
                <ul>
                    <li class="arrow-closed-anime-b-v3" ng-click="hideVideoAndAnimationBox = !hideVideoAndAnimationBox" ng-class="{'active': hideVideoAndAnimationBox}"></li>
                </ul>
            </div>
            <div class="pm-stream-tabs">
                <span ng-if="tabs.channel" ng-click="(selectedTab !== channelTab) && getVideo(channelTab)" ng-class="{'active': channelTab === selectedTab}" ng-bind="channelTab|translate"></span>
                <span ng-if="tabs.stream"  ng-click="(selectedTab !== streamTab) && getVideo(streamTab)" ng-class="{'active': streamTab === selectedTab}" ng-bind="streamTab|translate"></span>
            </div>
        </div>

        <div class="video-animation-vox-v3 animation-control">
            <hls-player ng-if="!hideVideoAndAnimationBox && data.video_data && !loading && !data.video_data.message"
                        provider-id="{{data.tv_type}}"
                        stream-url="{{data.video_data}}"
                        controls
            >
            </hls-player>
            <vbet-loader ng-show="loading"></vbet-loader>
            <div class="game-video-container" ng-if="!$root.env.authorized">
                <p ng-if="!$root.conf.integrationMode" trans ng-click="$root.broadcast('openLoginForm');$event.stopPropagation();" class="login-link">You need to be logged in to be able to play video.</p>
                <p ng-if="$root.conf.integrationMode" trans class="login-link">You need to be logged in to be able to play video.</p>
            </div>
            <div class="game-video-container" ng-if="$root.env.authorized && $root.profile.totalBalance === 0">
                <p ng-class="{'pointer-events-none': $root.conf.integrationMode}" class="login-link" ng-click="!$root.conf.disableDepositPage && broadcast('toggleSliderTab', 'deposit');$event.stopPropagation();"> You need to have non-zero balance to be able to play video.</p>
            </div>
            <div class="game-video-container" ng-if="data.video_data && data.video_data.message">
                <p  ng-bind="data.video_data.message|translate"></p>
            </div>
        </div>

        <div class="animation-video-title-row-v3">
            <div class="contain-v-a-fanction-icons-v3">
                <ul>
                    <li class="sound-icon-v3 " ng-click="$root.env.sound = 0;" ng-show="$root.env.sound  > 0" title="Sound" trans="attr-only"></li>
                    <li class="sound-icon-v3 active" ng-click="$root.env.sound = 0.75;" ng-show="$root.env.sound  === 0" title="Sound" trans="attr-only"></li>
                </ul>
            </div>
            <div class="anime-video-switcher-v3">
                <ul>
                    <li class="video-view-icon-v3" class="active">
                    </li>
                </ul>
            </div>
            <div class="chanel-grayhound-s" ng-show="!hideVideoAndAnimationBox && data.video_data && selectedTab === 'Channel'" >
                <select  name="selectedChannel" ng-model="selectedChannel" ng-change="getVideo()" ng-options="item as (item.channel_name|translate) for item in channels track by item.channel">
                </select>
            </div>
        </div>
    </div>
</div>
