<div class="red-tiger-content" ng-show="rtgJackpot" ng-repeat="pot in rtgJackpot.pots track by $index">
    <div ng-if="pot.type === 'time'" class="red-tiger-block">
        <img src="images/red-tiger/daily-drop.png" alt="">
        <div class="red-tiger-bg">
            <ul>
                <li ng-bind="pot.currencySymbol"></li>
                <li><jackpot-counter point="point" max-length="8" comma="true" max-duration-speed="400" amount="pot.amount"></jackpot-counter></li>
            </ul>
        </div>
        <p class="red-tiger-timer">{{'Must pay before'|translate}} <span countdown="{{pot.time.target}}"  ng-bind="'🕒 ' + countdown.hours + ':' + countdown.minutes + ':' + countdown.seconds"></span></p>
    </div>

    <div ng-if="pot.type === 'progressive'" class="red-tiger-block">
        <img src="images/red-tiger/mega-drop.png" alt="">
        <div class="red-tiger-bg">
            <ul>
                <li ng-bind="pot.currencySymbol"></li>
                <li><jackpot-counter point="point" max-length="8" comma="true" max-duration-speed="400" amount="pot.amount"></jackpot-counter></li>
            </ul>
        </div>
    </div>
</div>
