<!--
<div style=" width: 100%; height: 100%;">
    <div ng-show="isLoading" style="text-align: center;transform: translateY(-50%);position: absolute;width: 100%;top: 50%; color: white;"> {{info.message}}</div>
    <div class="statistics-p" ng-show="!isLoading">
        <div class="statistics-block-p" ng-show="statistics.H2H.team1">
            <ul>
                <li>
                    <div class="inset-table-p names-p">
                        <ul>
                            <li class="header-p">
                                <p trans>H2H</p>
                            </li>
                        </ul>
                        <ul>
                            <li class="second-level-header-p">
                                <p trans>TEAM</p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <p><b ng-bind="statistics.team1_name" title="{{statistics.team1_name}}"></b></p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <p><b ng-bind="statistics.team2_name" title="{{statistics.team2_name}}"></b></p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="inset-table-p data-p">
                        <ul>
                            <li class="header-p">
                                <p trans>RESULT</p>
                            </li>
                            <li class="header-p"><p></p></li>
                            <li class="header-p"><p></p></li>
                            <li class="header-p"><p></p></li>
                            <li class="header-p"><p></p></li>
                            <li class="header-p"><p></p></li>
                            <li class="header-p">
                                <p>{{'Performance'|translate:null:'Statistics Performance'}}</p>
                            </li>
                            <li class="header-p"><p></p></li>
                            <li class="header-p"><p></p></li>
                            <li class="header-p"><p></p></li>
                        </ul>
                        <ul>
                            <li class="second-level-header-p"><p></p></li>
                            <li class="second-level-header-p"><p></p></li>
                            <li class="second-level-header-p"><p></p></li>
                            <li class="second-level-header-p"><p></p></li>
                            <li class="second-level-header-p"><p></p></li>


                            <li class="second-level-header-p"><p trans>ALL</p></li>
                            <li class="second-level-header-p"><p title="{{'Home'|translate:null:'Statistics Home'}}">{{'H'|translate:null:'Statistics H'}}</p></li>
                            <li class="second-level-header-p"><p title="{{'Away'|translate:null:'Statistics Away'}}">{{'A'|translate:null:'Statistics A'}}</p></li>
                            <li class="second-level-header-p"><p ng-bind="(sportBasedStats[statsGame.sport].AGPM1.abbr || statsTableTexts.AGPM1.abbr)|translate:null:'Statistics '+ (sportBasedStats[statsGame.sport].AGPM1.abbr || statsTableTexts.AGPM1.abbr)" title="{{(sportBasedStats[statsGame.sport].AGPM1.title || statsTableTexts.AGPM1.title)|translate:null:'Statistics '+ (sportBasedStats[statsGame.sport].AGPM1.title || statsTableTexts.AGPM1.title)}}"></p></li>
                            <li class="second-level-header-p"><p ng-bind="(sportBasedStats[statsGame.sport].AGPM2.abbr || statsTableTexts.AGPM2.abbr)|translate:null:'Statistics '+ (sportBasedStats[statsGame.sport].AGPM2.abbr || statsTableTexts.AGPM2.abbr)" title="{{(sportBasedStats[statsGame.sport].AGPM2.title || statsTableTexts.AGPM2.title)|translate:null:'Statistics '+ (sportBasedStats[statsGame.sport].AGPM2.title || statsTableTexts.AGPM2.title)}}"></p></li>
                        </ul>
                        <ul>
                            <li>
                                <p ng-class="{'active': statistics.H2H.team1.scores[0].score1 > statistics.H2H.team1.scores[0].score2}" ng-bind="statistics.H2H.team1.scores[0].score1 != undefined ? statistics.H2H.team1.scores[0].score1 + ':' + statistics.H2H.team1.scores[0].score2: '-'"></p>
                            </li>
                            <li>
                                <p ng-class="{'active': statistics.H2H.team1.scores[1].score1 > statistics.H2H.team1.scores[1].score2}" ng-bind="statistics.H2H.team1.scores[1].score1 != undefined ? statistics.H2H.team1.scores[1].score1 + ':' + statistics.H2H.team1.scores[1].score2 : '-'"></p>
                            </li>
                            <li>
                                <p ng-class="{'active': statistics.H2H.team1.scores[2].score1 > statistics.H2H.team1.scores[2].score2}" ng-bind="statistics.H2H.team1.scores[2].score1 != undefined ? statistics.H2H.team1.scores[2].score1 + ':' + statistics.H2H.team1.scores[2].score2 : '-'"></p>
                            </li>
                            <li>
                                <p ng-class="{'active': statistics.H2H.team1.scores[3].score1 > statistics.H2H.team1.scores[3].score2}" ng-bind="statistics.H2H.team1.scores[3].score1 != undefined ? statistics.H2H.team1.scores[3].score1 + ':' + statistics.H2H.team1.scores[3].score2 : '-'"></p>
                            </li>
                            <li>
                                <p ng-class="{'active': statistics.H2H.team1.scores[4].score1 > statistics.H2H.team1.scores[4].score2}" ng-bind="statistics.H2H.team1.scores[4].score1 != undefined ? statistics.H2H.team1.scores[4].score1 + ':' + statistics.H2H.team1.scores[4].score2 : '-'"></p>
                            </li>
                            <li>
                                <p ng-bind="statistics.H2H.team1.all.persent"></p>
                            </li>
                            <li>
                                <p ng-bind="statistics.H2H.team1.Home.persent"></p>
                            </li>
                            <li>
                                <p ng-bind="statistics.H2H.team1.Away.persent"></p>
                            </li>
                            <li class="agpm-container-p">
                                <ul class="agpm-wrapper-p">
                                    <li>
                                        <div>
                                            <p ng-bind="statistics.H2H.team1.AGPM"></p>
                                            <p ng-bind="statistics.H2H.team2.AGPM"></p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="agpm-container-p">
                                <ul class="agpm-wrapper-last-p">
                                    <li>
                                        <div>
                                            <p ng-bind="statistics.H2H.AGPM"></p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <p ng-class="{'active': statistics.H2H.team2.scores[0].score1 > statistics.H2H.team2.scores[0].score2}" ng-bind="statistics.H2H.team2.scores[0].score1 != undefined ? statistics.H2H.team2.scores[0].score1 + ':' + statistics.H2H.team2.scores[0].score2 : '-'"></p>
                            </li>
                            <li>
                                <p ng-class="{'active': statistics.H2H.team2.scores[1].score1 > statistics.H2H.team2.scores[1].score2}" ng-bind="statistics.H2H.team2.scores[1].score1 != undefined ? statistics.H2H.team2.scores[1].score1 + ':' + statistics.H2H.team2.scores[1].score2 : '-'"></p>
                            </li>
                            <li>
                                <p ng-class="{'active': statistics.H2H.team2.scores[2].score1 > statistics.H2H.team2.scores[2].score2}" ng-bind="statistics.H2H.team2.scores[2].score1 != undefined ? statistics.H2H.team2.scores[2].score1 + ':' + statistics.H2H.team2.scores[2].score2 : '-'"></p>
                            </li>
                            <li>
                                <p ng-class="{'active': statistics.H2H.team2.scores[3].score1 > statistics.H2H.team2.scores[3].score2}" ng-bind="statistics.H2H.team2.scores[3].score1 != undefined ? statistics.H2H.team2.scores[3].score1 + ':' + statistics.H2H.team2.scores[3].score2 : '-'"></p>
                            </li>
                            <li>
                                <p ng-class="{'active': statistics.H2H.team2.scores[4].score1 > statistics.H2H.team2.scores[4].score2}" ng-bind="statistics.H2H.team2.scores[4].score1 != undefined ? statistics.H2H.team2.scores[4].score1 + ':' + statistics.H2H.team2.scores[4].score2 : '-'"></p>
                            </li>


                            <li>
                                <p ng-bind="statistics.H2H.team2.all.persent"></p>
                            </li>
                            <li>
                                <p ng-bind="sportBasedStats[statsGame.sport].home ? statistics.H2H.team2.Home.persent : '-'"></p>
                            </li>
                            <li>
                                <p ng-bind="sportBasedStats[statsGame.sport].away ? statistics.H2H.team2.Away.persent : '-'"></p>
                            </li>
                            <li class="agpm-container-p"><p></p></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        &lt;!&ndash;Second&ndash;&gt;
        <div class="statistics-block-p second-static-block-p">
            <div class="static-header-p">
                <p>{{statsGame.region}} - {{statsGame.competition}}</p>
            </div>
            <ul>
                <li>
                    <div class="inset-table-p names-p">
                        <ul>
                            <li class="second-level-header-p">
                                <p trans>TEAM</p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <p><b ng-bind="statistics.team1_name" title="{{statistics.team1_name}}"></b></p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <p><b ng-bind="statistics.team2_name" title="{{statistics.team2_name}}"></b></p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="inset-table-p data-p">
                        <ul>
                            <li class="second-level-header-p"><p title="{{'Position'|translate:null:'Statistics Position'}}" trans>POS</p></li>
                            <li class="second-level-header-p"><p title="{{'Played'|translate:null:'Statistics Played'}}" trans>PLD</p></li>
                            <li class="second-level-header-p"><p title="{{'Points or Percentage'|translate:null:'Statistics Points or Percentage'}}" trans>PTS</p></li>
                            <li class="second-level-header-p"><p></p></li>
                        </ul>
                        <ul>
                            <li>
                                <p ng-bind="statistics.H2Hleague.team1.POS || '-'"></p>
                            </li>
                            <li>
                                <p ng-bind="statistics.H2Hleague.team1.PLD || '-'"></p>
                            </li>
                            <li>
                                <p ng-bind="statistics.H2Hleague.team1.PTS || '-'"></p>
                            </li>
                            <li><p></p></li>
                        </ul>
                        <ul>
                            <li>
                                <p ng-bind="statistics.H2Hleague.team2.POS || '-'"></p>
                            </li>
                            <li>
                                <p ng-bind="statistics.H2Hleague.team2.PLD || '-'"></p>
                            </li>
                            <li>
                                <p ng-bind="statistics.H2Hleague.team2.PTS || '-'"></p>
                            </li>
                            <li><p></p></li>
                        </ul>
                    </div>
                </li>
                <li class="last-table-cell-p">
                    <div class="inset-table-p inset-last-table-p data-p">
                        <ul>
                            <li class="second-level-header-p"><p trans>NEXT MATCH</p></li>
                        </ul>
                        <ul>
                            <li>
                                <p ng-bind="statistics.H2Hleague.team1.nextMatch.date ? (statistics.H2Hleague.team1.nextMatch.date|formatDate:'unixDate') : '-'"></p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <p ng-bind="statistics.H2Hleague.team2.nextMatch.date ? (statistics.H2Hleague.team2.nextMatch.date|formatDate:'unixDate') : '-'"></p>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        &lt;!&ndash;Third&ndash;&gt;
        <div class="statistics-block-p third-static-block-p">
            <ul>
                <li>
                    <div class="inset-table-p names-p">
                        <ul>
                            <li class="header-p">
                                <p trans>LAST 5</p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <p><b ng-bind="statistics.team1_name" title="{{statistics.team1_name}}"></b></p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <p><b ng-bind="statistics.team2_name" title="{{statistics.team2_name}}"></b></p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="inset-table-p data-p">
                        <ul>
                            <li class="header-p">
                                <p trans>FORM</p>
                            </li>
                            <li class="header-p"><p></p></li>
                            <li class="header-p"><p></p></li>
                            <li class="header-p"><p></p></li>
                            <li class="header-p"><p></p></li>
                            <li class="header-p"><p></p></li>
                        </ul>
                        <ul>
                            <li>
                                <p ng-class="{'green': statistics.playedMatches.team1.scores[0].state === 'won', 'yellow': statistics.playedMatches.team1.scores[0].state === 'draw', 'red': statistics.playedMatches.team1.scores[0].state === 'lost'}" ng-bind="statistics.playedMatches.team1.scores[0].score1 != undefined ? statistics.playedMatches.team1.scores[0].score1 + ':' + statistics.playedMatches.team1.scores[0].score2 : '-'"></p>
                            </li>
                            <li>
                                <p ng-class="{'green': statistics.playedMatches.team1.scores[1].state === 'won', 'yellow': statistics.playedMatches.team1.scores[1].state === 'draw', 'red': statistics.playedMatches.team1.scores[1].state === 'lost'}" ng-bind="statistics.playedMatches.team1.scores[1].score1 != undefined ? statistics.playedMatches.team1.scores[1].score1 + ':' + statistics.playedMatches.team1.scores[1].score2 : '-'"></p>
                            </li>
                            <li>
                                <p ng-class="{'green': statistics.playedMatches.team1.scores[2].state === 'won', 'yellow': statistics.playedMatches.team1.scores[2].state === 'draw', 'red': statistics.playedMatches.team1.scores[2].state === 'lost'}" ng-bind="statistics.playedMatches.team1.scores[2].score1 != undefined ? statistics.playedMatches.team1.scores[2].score1 + ':' + statistics.playedMatches.team1.scores[2].score2 : '-'"></p>
                            </li>
                            <li>
                                <p ng-class="{'green': statistics.playedMatches.team1.scores[3].state === 'won', 'yellow': statistics.playedMatches.team1.scores[3].state === 'draw', 'red': statistics.playedMatches.team1.scores[3].state === 'lost'}" ng-bind="statistics.playedMatches.team1.scores[3].score1 != undefined ? statistics.playedMatches.team1.scores[3].score1 + ':' + statistics.playedMatches.team1.scores[3].score2 : '-'"></p>
                            </li>
                            <li>
                                <p ng-class="{'green': statistics.playedMatches.team1.scores[4].state === 'won', 'yellow': statistics.playedMatches.team1.scores[4].state === 'draw', 'red': statistics.playedMatches.team1.scores[4].state === 'lost'}" ng-bind="statistics.playedMatches.team1.scores[4].score1 != undefined ? statistics.playedMatches.team1.scores[4].score1 + ':' + statistics.playedMatches.team1.scores[4].score2 : '-'"></p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <p ng-class="{'green': statistics.playedMatches.team2.scores[0].state === 'won', 'yellow': statistics.playedMatches.team2.scores[0].state === 'draw', 'red': statistics.playedMatches.team2.scores[0].state === 'lost'}" ng-bind="statistics.playedMatches.team2.scores[0].score1 != undefined ? statistics.playedMatches.team2.scores[0].score1 + ':' + statistics.playedMatches.team2.scores[0].score2 : '-'"></p>
                            </li>
                            <li>
                                <p ng-class="{'green': statistics.playedMatches.team2.scores[1].state === 'won', 'yellow': statistics.playedMatches.team2.scores[1].state === 'draw', 'red': statistics.playedMatches.team2.scores[1].state === 'lost'}" ng-bind="statistics.playedMatches.team2.scores[1].score1 != undefined ? statistics.playedMatches.team2.scores[1].score1 + ':' + statistics.playedMatches.team2.scores[1].score2 : '-'"></p>
                            </li>
                            <li>
                                <p ng-class="{'green': statistics.playedMatches.team2.scores[2].state === 'won', 'yellow': statistics.playedMatches.team2.scores[2].state === 'draw', 'red': statistics.playedMatches.team2.scores[2].state === 'lost'}" ng-bind="statistics.playedMatches.team2.scores[2].score1 != undefined ? statistics.playedMatches.team2.scores[2].score1 + ':' + statistics.playedMatches.team2.scores[2].score2 : '-'"></p>
                            </li>
                            <li>
                                <p ng-class="{'green': statistics.playedMatches.team2.scores[3].state === 'won', 'yellow': statistics.playedMatches.team2.scores[3].state === 'draw', 'red': statistics.playedMatches.team2.scores[3].state === 'lost'}" ng-bind="statistics.playedMatches.team2.scores[3].score1 != undefined ? statistics.playedMatches.team2.scores[3].score1 + ':' + statistics.playedMatches.team2.scores[3].score2 : '-'"></p>
                            </li>
                            <li>
                                <p ng-class="{'green': statistics.playedMatches.team2.scores[4].state === 'won', 'yellow': statistics.playedMatches.team2.scores[4].state === 'draw', 'red': statistics.playedMatches.team2.scores[4].state === 'lost'}" ng-bind="statistics.playedMatches.team2.scores[4].score1 != undefined ? statistics.playedMatches.team2.scores[4].score1 + ':' + statistics.playedMatches.team2.scores[4].score2 : '-'"></p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="last-table-cell-p">
                    <div class="inset-table-p inset-last-table-p data-p">
                        <ul>
                            <li class="header-p"><p title="{{(sportBasedStats[statsGame.sport].AGPM1.title || statsTableTexts.AGPM1.title)|translate:null:'Statistics '+(sportBasedStats[statsGame.sport].AGPM1.title || statsTableTexts.AGPM1.title)}}" ng-bind="(sportBasedStats[statsGame.sport].AGPM1.abbr || statsTableTexts.AGPM1.abbr)|translate:null:'Statistics '+(sportBasedStats[statsGame.sport].AGPM1.abbr || statsTableTexts.AGPM1.abbr)"></p></li>
                        </ul>
                        <ul>
                            <li>
                                <p ng-bind="statistics.playedMatches.team1.AGPM || '-'"></p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <p ng-bind="statistics.playedMatches.team2.AGPM || '-'"></p>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="last-table-cell-p">
                    <div class="inset-table-p inset-last-table-p data-p">
                        <ul>
                            <li class="header-p"><p title="{{(sportBasedStats[statsGame.sport].AGPM2.title || statsTableTexts.AGPM2.title)|translate:null:'Statistics '+(sportBasedStats[statsGame.sport].AGPM2.title || statsTableTexts.AGPM2.title)}}" ng-bind="(sportBasedStats[statsGame.sport].AGPM2.abbr || statsTableTexts.AGPM2.abbr)|translate:null:'Statistics '+(sportBasedStats[statsGame.sport].AGPM2.abbr || statsTableTexts.AGPM2.abbr)"></p></li>
                        </ul>
                        <ul>
                            <li>
                                <p ng-bind="statistics.playedMatches.team1.totalAGPM || '-'"></p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <p ng-bind="statistics.playedMatches.team2.totalAGPM || '-'"></p>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
-->













<!--New statistics-->


<div class="statistics-p">
    <div ng-show="isLoading" style="text-align: center;transform: translateY(-50%);position: absolute;width: 100%;top: 50%; color: white;"> {{info.message}}</div>
    <table ng-show="!isLoading">
        <thead class="first-static-block-p">
            <tr>
                <th><p trans>H2H</p></th>
                <th colspan="5"><p class="text-left-p" trans>FORM</p></th>
                <th colspan="5"><p>{{'Performance'|translate:null:'Statistics Performance'}}</p></th>
            </tr>
            <tr class="second-level-header-p">
                <td><p class="text-left-p" trans>TEAM</p></td>
                <td colspan="5"><p></p></td>
                <td><p trans>All</p></td>
                <td><p title="{{'Home'|translate:null:'Statistics Home'}}">{{'H'|translate:null:'Statistics H'}}</p></td>
                <td><p title="{{'Away'|translate:null:'Statistics Away'}}">{{'A'|translate:null:'Statistics A'}}</p></td>
                <td><p ng-bind="(sportBasedStats[statsGame.sport].AGPM1.abbr || statsTableTexts.AGPM1.abbr)|translate:null:'Statistics '+ (sportBasedStats[statsGame.sport].AGPM1.abbr || statsTableTexts.AGPM1.abbr)" title="{{(sportBasedStats[statsGame.sport].AGPM1.title || statsTableTexts.AGPM1.title)|translate:null:'Statistics '+ (sportBasedStats[statsGame.sport].AGPM1.title || statsTableTexts.AGPM1.title)}}"></p></td>
                <td><p ng-bind="(sportBasedStats[statsGame.sport].AGPM2.abbr || statsTableTexts.AGPM2.abbr)|translate:null:'Statistics '+ (sportBasedStats[statsGame.sport].AGPM2.abbr || statsTableTexts.AGPM2.abbr)" title="{{(sportBasedStats[statsGame.sport].AGPM2.title || statsTableTexts.AGPM2.title)|translate:null:'Statistics '+ (sportBasedStats[statsGame.sport].AGPM2.title || statsTableTexts.AGPM2.title)}}"></p></td>
            </tr>
            <tr>
                <td><p class="name-p" ng-bind="statistics.team1_name" title="{{statistics.team1_name}}"></p></td>
                <td><p ng-class="{'active': statistics.H2H.team1.scores[0].score1 > statistics.H2H.team1.scores[0].score2}" ng-bind="statistics.H2H.team1.scores[0].score1 != undefined ? statistics.H2H.team1.scores[0].score1 + ':' + statistics.H2H.team1.scores[0].score2: '-'"></p></td>
                <td><p ng-class="{'active': statistics.H2H.team1.scores[1].score1 > statistics.H2H.team1.scores[1].score2}" ng-bind="statistics.H2H.team1.scores[1].score1 != undefined ? statistics.H2H.team1.scores[1].score1 + ':' + statistics.H2H.team1.scores[1].score2 : '-'"></p></td>
                <td><p ng-class="{'active': statistics.H2H.team1.scores[2].score1 > statistics.H2H.team1.scores[2].score2}" ng-bind="statistics.H2H.team1.scores[2].score1 != undefined ? statistics.H2H.team1.scores[2].score1 + ':' + statistics.H2H.team1.scores[2].score2 : '-'"></p></td>
                <td><p ng-class="{'active': statistics.H2H.team1.scores[3].score1 > statistics.H2H.team1.scores[3].score2}" ng-bind="statistics.H2H.team1.scores[3].score1 != undefined ? statistics.H2H.team1.scores[3].score1 + ':' + statistics.H2H.team1.scores[3].score2 : '-'"></p></td>
                <td><p ng-class="{'active': statistics.H2H.team1.scores[4].score1 > statistics.H2H.team1.scores[4].score2}" ng-bind="statistics.H2H.team1.scores[4].score1 != undefined ? statistics.H2H.team1.scores[4].score1 + ':' + statistics.H2H.team1.scores[4].score2 : '-'"></p></td>

                <td><p class="active" ng-bind="statistics.H2H.team1.all.persent"></p></td>
                <td><p class="active" ng-bind="statistics.H2H.team1.Home.persent"></p></td>
                <td><p class="active" ng-bind="statistics.H2H.team1.Away.persent"></p></td>
                <td class="statistics-border-p"><p class="active" ng-bind="statistics.H2H.team1.AGPM"></p></td>
                <td rowspan="2"><p class="active" ng-bind="statistics.H2H.AGPM"></p></td>
            </tr>
            <tr>
                <td><p class="name-p" ng-bind="statistics.team2_name" title="{{statistics.team2_name}}"></p></td>
                <td><p ng-class="{'active': statistics.H2H.team2.scores[0].score1 > statistics.H2H.team2.scores[0].score2}" ng-bind="statistics.H2H.team2.scores[0].score1 != undefined ? statistics.H2H.team2.scores[0].score1 + ':' + statistics.H2H.team2.scores[0].score2 : '-'"></p></td>
                <td><p ng-class="{'active': statistics.H2H.team2.scores[1].score1 > statistics.H2H.team2.scores[1].score2}" ng-bind="statistics.H2H.team2.scores[1].score1 != undefined ? statistics.H2H.team2.scores[1].score1 + ':' + statistics.H2H.team2.scores[1].score2 : '-'"></p></td>
                <td><p ng-class="{'active': statistics.H2H.team2.scores[2].score1 > statistics.H2H.team2.scores[2].score2}" ng-bind="statistics.H2H.team2.scores[2].score1 != undefined ? statistics.H2H.team2.scores[2].score1 + ':' + statistics.H2H.team2.scores[2].score2 : '-'"></p></td>
                <td><p ng-class="{'active': statistics.H2H.team2.scores[3].score1 > statistics.H2H.team2.scores[3].score2}" ng-bind="statistics.H2H.team2.scores[3].score1 != undefined ? statistics.H2H.team2.scores[3].score1 + ':' + statistics.H2H.team2.scores[3].score2 : '-'"></p></td>
                <td><p ng-class="{'active': statistics.H2H.team2.scores[4].score1 > statistics.H2H.team2.scores[4].score2}" ng-bind="statistics.H2H.team2.scores[4].score1 != undefined ? statistics.H2H.team2.scores[4].score1 + ':' + statistics.H2H.team2.scores[4].score2 : '-'"></p></td>
                <td><p class="active" ng-bind="statistics.H2H.team2.all.persent"></p></td>
                <td><p class="active" ng-bind="sportBasedStats[statsGame.sport].home ? statistics.H2H.team2.Home.persent : '-'"></p></td>
                <td><p class="active" ng-bind="sportBasedStats[statsGame.sport].away ? statistics.H2H.team2.Away.persent : '-'"></p></td>
                <td class="statistics-border-p"><p class="active" ng-bind="statistics.H2H.team2.AGPM"></p></td>
            </tr>
        </thead>
        <thead class="second-static-block-p">
            <tr>
                <th colspan="11"><p>{{statsGame.region}} - {{statsGame.competition}}</p></th>
            </tr>
            <tr class="second-level-header-p">
                <td><p class="text-left-p" trans>TEAM</p></td>
                <td><p title="{{'Position'|translate:null:'Statistics Position'}}" trans>POS</p></td>
                <td><p title="{{'Played'|translate:null:'Statistics Played'}}" trans>PLD</p></td>
                <td><p title="{{'Points or Percentage'|translate:null:'Statistics Points or Percentage'}}" trans>PTS</p></td>
                <td><p></p></td>
                <td colspan="6"><p class="text-left-p" trans>NEXT MATCH</p></td>
            </tr>
            <tr>
                <td><p class="name-p" ng-bind="statistics.team1_name" title="{{statistics.team1_name}}"></p></td>
                <td><p class="active" ng-bind="statistics.H2Hleague.team1.POS || '-'"></p></td>
                <td><p class="active" ng-bind="statistics.H2Hleague.team1.PLD || '-'"></p></td>
                <td><p class="active" ng-bind="statistics.H2Hleague.team1.PTS || '-'"></p></td>
                <td><p></p></td>
                <td colspan="6"><p class="statistics-date-p" ng-bind="statistics.H2Hleague.team1.nextMatch.date ? (statistics.H2Hleague.team1.nextMatch.date|formatDate:'unixDate') : '-'"></p></td>
            </tr>
            <tr>
                <td><p class="name-p" ng-bind="statistics.team2_name" title="{{statistics.team2_name}}"></p></td>
                <td><p class="active" ng-bind="statistics.H2Hleague.team2.POS || '-'"></p></td>
                <td><p class="active" ng-bind="statistics.H2Hleague.team2.PLD || '-'"></p></td>
                <td><p class="active" ng-bind="statistics.H2Hleague.team2.PTS || '-'"></p></td>
                <td><p></p></td>
                <td colspan="6"><p class="statistics-date-p" ng-bind="statistics.H2Hleague.team2.nextMatch.date ? (statistics.H2Hleague.team2.nextMatch.date|formatDate:'unixDate') : '-'"></p></td>
            </tr>
        </thead>
        <thead class="third-static-block-p">
            <tr>
                <th><p trans>LAST 5</p></th>
                <th colspan="5"><p class="text-left-p" trans>FORM</p></th>
                <th colspan="3"><p title="{{(sportBasedStats[statsGame.sport].AGPM1.title || statsTableTexts.AGPM1.title)|translate:null:'Statistics '+(sportBasedStats[statsGame.sport].AGPM1.title || statsTableTexts.AGPM1.title)}}" ng-bind="(sportBasedStats[statsGame.sport].AGPM1.abbr || statsTableTexts.AGPM1.abbr)|translate:null:'Statistics '+(sportBasedStats[statsGame.sport].AGPM1.abbr || statsTableTexts.AGPM1.abbr)"></p></th>
                <th colspan="3"><p title="{{(sportBasedStats[statsGame.sport].AGPM2.title || statsTableTexts.AGPM2.title)|translate:null:'Statistics '+(sportBasedStats[statsGame.sport].AGPM2.title || statsTableTexts.AGPM2.title)}}" ng-bind="(sportBasedStats[statsGame.sport].AGPM2.abbr || statsTableTexts.AGPM2.abbr)|translate:null:'Statistics '+(sportBasedStats[statsGame.sport].AGPM2.abbr || statsTableTexts.AGPM2.abbr)"></p></th>
            </tr>
            <tr>
                <td><p class="name-p" ng-bind="statistics.team1_name" title="{{statistics.team1_name}}"></p></td>
                <td><p ng-class="{'green': statistics.playedMatches.team1.scores[0].state === 'won', 'yellow': statistics.playedMatches.team1.scores[0].state === 'draw', 'red': statistics.playedMatches.team1.scores[0].state === 'lost'}" ng-bind="statistics.playedMatches.team1.scores[0].score1 != undefined ? statistics.playedMatches.team1.scores[0].score1 + ':' + statistics.playedMatches.team1.scores[0].score2 : '-'"></p></td>
                <td><p ng-class="{'green': statistics.playedMatches.team1.scores[1].state === 'won', 'yellow': statistics.playedMatches.team1.scores[1].state === 'draw', 'red': statistics.playedMatches.team1.scores[1].state === 'lost'}" ng-bind="statistics.playedMatches.team1.scores[1].score1 != undefined ? statistics.playedMatches.team1.scores[1].score1 + ':' + statistics.playedMatches.team1.scores[1].score2 : '-'"></p></td>
                <td><p ng-class="{'green': statistics.playedMatches.team1.scores[2].state === 'won', 'yellow': statistics.playedMatches.team1.scores[2].state === 'draw', 'red': statistics.playedMatches.team1.scores[2].state === 'lost'}" ng-bind="statistics.playedMatches.team1.scores[2].score1 != undefined ? statistics.playedMatches.team1.scores[2].score1 + ':' + statistics.playedMatches.team1.scores[2].score2 : '-'"></p></td>
                <td><p ng-class="{'green': statistics.playedMatches.team1.scores[3].state === 'won', 'yellow': statistics.playedMatches.team1.scores[3].state === 'draw', 'red': statistics.playedMatches.team1.scores[3].state === 'lost'}" ng-bind="statistics.playedMatches.team1.scores[3].score1 != undefined ? statistics.playedMatches.team1.scores[3].score1 + ':' + statistics.playedMatches.team1.scores[3].score2 : '-'"></p></td>
                <td><p ng-class="{'green': statistics.playedMatches.team1.scores[4].state === 'won', 'yellow': statistics.playedMatches.team1.scores[4].state === 'draw', 'red': statistics.playedMatches.team1.scores[4].state === 'lost'}" ng-bind="statistics.playedMatches.team1.scores[4].score1 != undefined ? statistics.playedMatches.team1.scores[4].score1 + ':' + statistics.playedMatches.team1.scores[4].score2 : '-'"></p></td>
                <td colspan="3"><p ng-bind="statistics.playedMatches.team1.AGPM || '-'"></p></td>
                <td colspan="3"><p ng-bind="statistics.playedMatches.team2.AGPM || '-'"></p></td>
            </tr>
            <tr>
                <td><p class="name-p" ng-bind="statistics.team2_name" title="{{statistics.team2_name}}"></p></td>
                <td><p ng-class="{'green': statistics.playedMatches.team2.scores[0].state === 'won', 'yellow': statistics.playedMatches.team2.scores[0].state === 'draw', 'red': statistics.playedMatches.team2.scores[0].state === 'lost'}" ng-bind="statistics.playedMatches.team2.scores[0].score1 != undefined ? statistics.playedMatches.team2.scores[0].score1 + ':' + statistics.playedMatches.team2.scores[0].score2 : '-'"></p></td>
                <td><p ng-class="{'green': statistics.playedMatches.team2.scores[1].state === 'won', 'yellow': statistics.playedMatches.team2.scores[1].state === 'draw', 'red': statistics.playedMatches.team2.scores[1].state === 'lost'}" ng-bind="statistics.playedMatches.team2.scores[1].score1 != undefined ? statistics.playedMatches.team2.scores[1].score1 + ':' + statistics.playedMatches.team2.scores[1].score2 : '-'"></p></td>
                <td><p ng-class="{'green': statistics.playedMatches.team2.scores[2].state === 'won', 'yellow': statistics.playedMatches.team2.scores[2].state === 'draw', 'red': statistics.playedMatches.team2.scores[2].state === 'lost'}" ng-bind="statistics.playedMatches.team2.scores[2].score1 != undefined ? statistics.playedMatches.team2.scores[2].score1 + ':' + statistics.playedMatches.team2.scores[2].score2 : '-'"></p></td>
                <td><p ng-class="{'green': statistics.playedMatches.team2.scores[3].state === 'won', 'yellow': statistics.playedMatches.team2.scores[3].state === 'draw', 'red': statistics.playedMatches.team2.scores[3].state === 'lost'}" ng-bind="statistics.playedMatches.team2.scores[3].score1 != undefined ? statistics.playedMatches.team2.scores[3].score1 + ':' + statistics.playedMatches.team2.scores[3].score2 : '-'"></p></td>
                <td><p ng-class="{'green': statistics.playedMatches.team2.scores[4].state === 'won', 'yellow': statistics.playedMatches.team2.scores[4].state === 'draw', 'red': statistics.playedMatches.team2.scores[4].state === 'lost'}" ng-bind="statistics.playedMatches.team2.scores[4].score1 != undefined ? statistics.playedMatches.team2.scores[4].score1 + ':' + statistics.playedMatches.team2.scores[4].score2 : '-'"></p></td>
                <td colspan="3"><p ng-bind="statistics.playedMatches.team1.totalAGPM || '-'"></p></td>
                <td colspan="3"><p ng-bind="statistics.playedMatches.team2.totalAGPM || '-'"></p></td>
            </tr>
        </thead>
    </table>
</div>
