<div class="float-width" ng-if="betSlip.mode === 'suggested'">
    <vbet-loader ng-show="!suggestedBetsList.length && !noSuggestions"></vbet-loader>
    <p class="info-all-bets" ng-show="noSuggestions">
        {{::'Suggestions are not available at the moment. '|translate}}
        <span ng-click="getSuggestedBets('suggestedBets.get', {type: 'live'})" trans>Try again</span>
        {{::'or'|translate}}
        <span ng-click="selectBetSlipMode('betting')" trans>Go To BetSlip</span>
    </p>
    <div class="suggest-contain-list" ng-if="!noSuggestions && showSuggestions && suggestedBetsList.length" ng-class="{'suggested-prematch': params.type === 'preMatch'}">
        <div class="suggest-text">
            <h2 ng-bind="(params.type === 'preMatch' ? 'Suggested pre-match' : 'Suggested live') | translate"></h2>
            <p trans>We think that these bets may also be interesting to you. Try to win even more.</p>
        </div>
        <div class="suggest-list">
            <div ng-repeat="bet in suggestedBetsList track by bet.eventInfo.id">
                    <div class="suggest-mini-list suggested-sport-{{bet.gameInfo.sport.alias}}">
                        <div class="suggest-teams-name" ng-switch="params.type">
                            <div class="suggest-title-event-live" ng-switch-when="live">
                                <p>{{ ::bet.gameInfo.team1_name }} <span ng-bind="bet.gameInfo.info.set_count === 1 ? bet.gameInfo.stats.score_set1.team1_value : bet.gameInfo.info.score1"></span></p>
                                <p>{{ ::bet.gameInfo.team2_name }} <span ng-bind="bet.gameInfo.info.set_count === 1 ? bet.gameInfo.stats.score_set1.team2_value : bet.gameInfo.info.score2"></span></p>
                                <div class="suggest-info-sport-time">
                                    <b class="suggest-sport-icon {{bet.gameInfo.sport.alias}}"></b>
                                    <p>
                                        <span ng-bind="bet.gameInfo.info.current_game_state|convertSetName:bet.gameInfo.sport.alias|translate"></span>
                                        <span trans="attr-only" title="Game time"  ng-hide="bet.gameInfo.info.current_game_state == 'notstarted' && bet.gameInfo.current_game_time == 0" ng-bind="bet.gameInfo.info.current_game_time"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="suggest-title-event-prematch" ng-switch-when="preMatch">
                                <p><i class="{{bet.gameInfo.sport.alias}}"></i>{{ ::bet.gameInfo.title }}</p>
                            </div>
                        </div>
                        <div class="suggest-single-event-info">
                            <div class="suggest-market-info">
                                <p>{{ ::bet.marketInfo.name }}</p>
                            </div>
                            <div class="single-events-b-v3" title="{{::(bet.eventInfo.type === 'P1' && bet.gameInfo.team1_name) || (bet.eventInfo.type === 'P2' && bet.gameInfo.team2_name) ||
                                   (bet.eventInfo.base !== undefined ? (bet.eventInfo.name + bet.eventInfo.base) : bet.eventInfo.name)}}"
                                 ng-class="{'active': isEventInBetSlip(bet.eventInfo)}"
                                 ng-click="params.type === 'live' ? addSingleEvent(bet, $event) : ''">
                                <b class="p-v" ng-class="{'factor-top': bet.eventInfo.price_change > 0, 'factor-bottom': bet.eventInfo.price_change < 0}">{{bet.eventInfo.price|oddConvert:$root.env.oddFormat}}</b>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="suggest-buttons">
            <button ng-click="addToBetslip()" trans>Add all to BetSlip</button>
            <button ng-click="hide()" ng-show="params.type === 'preMatch'" trans>No, thanks</button>
        </div>
        <div class="suggest-no-show" ng-show="params.type === 'preMatch'">
            <p ng-click="hide(true)" trans>Don`t show again</p>
        </div>
    </div>
</div>
