<div class="float-width" ng-if="betSlip.mode === 'suggested' && showSuggestions">
    <vbet-loader ng-show="loadProcess"></vbet-loader>
    <p class="info-all-bets" ng-show="!loadProcess && (suggestedBetMap|count) === 0">
        {{::'Suggestions are not available at the moment. '|translate}}
        <span ng-click="getSuggestedBets({type: 'live'})" trans>Try again</span>
        {{::'or'|translate}}
        <span ng-click="selectBetSlipMode('betting')" trans>Go To BetSlip</span>
    </p>
    <div class="suggest-contain-list" ng-if="!loadProcess && (suggestedBetMap|count)" ng-class="{'suggested-prematch': params.type === 'preMatch'}">
        <div class="suggest-text">
            <h2 ng-bind="(params.type === 'preMatch' ? 'Suggested pre-match' : 'Suggested live') | translate"></h2>
            <p trans>We think that these bets may also be interesting to you. Try to win even more.</p>
        </div>
        <div class="suggest-list">
            <div ng-repeat="eventId in eventIds track by eventId" ng-if="suggestedBetMap[eventId]">
                    <div class="suggest-mini-list suggested-sport-{{suggestedBetMap[eventId].gameInfo.sport.alias}}">
                        <div class="suggest-teams-name" ng-switch="params.type">
                            <div class="suggest-title-event-live" ng-switch-when="live">
                                <p>{{ ::suggestedBetMap[eventId].gameInfo.team1_name }} <span ng-bind="suggestedBetMap[eventId].gameInfo.info.set_count === 1 ? suggestedBetMap[eventId].gameInfo.stats.score_set1.team1_value : suggestedBetMap[eventId].gameInfo.info.score1"></span></p>
                                <p>{{ ::suggestedBetMap[eventId].gameInfo.team2_name }} <span ng-bind="suggestedBetMap[eventId].gameInfo.info.set_count === 1 ? suggestedBetMap[eventId].gameInfo.stats.score_set1.team2_value : suggestedBetMap[eventId].gameInfo.info.score2"></span></p>
                                <div class="suggest-info-sport-time">
                                    <b class="suggest-sport-icon {{suggestedBetMap[eventId].gameInfo.sport.alias}}"></b>
                                    <p>
                                        <span ng-if="suggestedBetMap[eventId].gameInfo.info.current_leg === undefined" ng-bind="suggestedBetMap[eventId].gameInfo.info.current_game_state|convertSetName:suggestedBetMap[eventId].gameInfo.sport.alias|translate"></span>
                                        <span ng-if="suggestedBetMap[eventId].gameInfo.info.current_leg !== undefined" ng-bind="suggestedBetMap[eventId].gameInfo.info.current_game_state|convertSetNameWithLeg:suggestedBetMap[eventId].gameInfo.info|translate"></span>
                                        <span trans="attr-only" title="Game time"  ng-hide="suggestedBetMap[eventId].gameInfo.info.current_game_state == 'notstarted' && suggestedBetMap[eventId].gameInfo.current_game_time == 0" ng-bind="suggestedBetMap[eventId].gameInfo.info.current_game_time"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="suggest-title-event-prematch" ng-switch-when="preMatch">
                                <p><i class="{{suggestedBetMap[eventId].gameInfo.sport.alias}}"></i>{{ ::suggestedBetMap[eventId].gameInfo.title }}</p>
                            </div>
                        </div>
                        <div class="suggest-single-event-info">
                            <div class="suggest-market-info">
                                <p>{{ ::suggestedBetMap[eventId].marketInfo.name }}</p>
                            </div>
                            <div class="single-events-b-v3" title="{{::(suggestedBetMap[eventId].eventInfo.type === 'P1' && suggestedBetMap[eventId].gameInfo.team1_name) || (suggestedBetMap[eventId].eventInfo.type === 'P2' && suggestedBetMap[eventId].gameInfo.team2_name) ||
                                   (suggestedBetMap[eventId].eventInfo.base !== undefined ? (suggestedBetMap[eventId].eventInfo.name + suggestedBetMap[eventId].eventInfo.base) : suggestedBetMap[eventId].eventInfo.name)}}"
                                 ng-class="{'active': isEventInBetSlip(suggestedBetMap[eventId].eventInfo)}"
                                 ng-click="params.type === 'live' ? addSingleEvent(suggestedBetMap[eventId], $event) : ''">
                                <i ng-if="$root.conf.boostedBets.enabled && $root.boostedBetsEventIds && $root.boostedBetsEventIds[suggestedBetMap[eventId].eventInfo.id]" title="{{'Boosted odd'|translate}}" class="boosted"></i>
                                <b class="p-v {{suggestedBetMap[eventId].eventInfo.price_change == null? '' : ({true: 'up-', false: 'down'}[suggestedBetMap[eventId].eventInfo.price_change > 0] + (suggestedBetMap[eventId].eventInfo.price_change % 2)) }}">{{suggestedBetMap[eventId].eventInfo.price|oddConvert:$root.env.oddFormat}}</b>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="suggest-buttons">
            <button ng-click="addToBetslip()" trans>Add all to BetSlip</button>
            <button ng-click="hide()" ng-show="params.type === 'preMatch'" trans>No, thanks</button>
        </div>
        <div class="suggest-no-show" ng-show="params.type === 'preMatch'">
            <p ng-click="hide(true)" trans>Don`t show again</p>
        </div>
    </div>
</div>
<div class="info-all-bets" ng-if="betSlip.mode === 'suggested' && !showSuggestions">
    {{::'You have refused getting suggestions. To enable them please click'|translate}}<span ng-click="$root.$broadcast('toggleSuggestedExpress', true)" trans>here</span>
</div>
