<div class="upcoming-races" ng-show="games.length">
    <h2 trans>Upcoming races</h2>
    <div class="race-info">
        <div class="
        one-race-info" ng-repeat="game in games track by game.id" ng-click="navigation.goTo('game', game.id, game.from, game.to)">
            <p>
                <b ng-bind="game.start_ts|formatDate:'hour':null:$root.env.timeFormat"></b>
                <span class="ellipsis-text" ng-bind="game.name"></span>
                <i class="cms-jcon-stream" ng-if="streamConfig && streamConfig[game.id]" ng-click="$root.broadcast('setPrematchStream', streamConfig[game.id]);$event.stopPropagation();"></i>
            </p>
            <div class="add-info-h">
                <b class="flag-icon flag-{{::game.regionAlias | removeUselessSymbolsByRegexp: '[,\' ]+': 'g': 'true'}}"></b>
                <span class="reg" ng-bind="game.regionName"></span>
            </div>
        </div>
    </div>
</div>
