<div class="game-video-container">
    <p ng-if="!openGame.is_guest && !env.authorized && !conf.integrationMode" trans
       ng-click="broadcast('openLoginForm');$event.stopPropagation();" class="login-link">You need to be logged in to be able to play video.</p>
    <p ng-if="!openGame.is_guest && !env.authorized && conf.integrationMode" trans class="login-link">You need to be logged in to be able to play video.</p>

    <p ng-if="!openGame.is_guest && env.authorized && !openGame.allow_zero_balance && profile.totalBalance === 0" trans ng-class="{'pointer-events-none': conf.integrationMode}" ng-click="!conf.disableDepositPage && broadcast('toggleSliderTab', 'deposit');$event.stopPropagation();"> You need to have non-zero balance to be able to play video.</p>

    <div class="flash-loader-overlay" ng-hide="!$root.env.authorized || videoState.frameUrl || videoState.videoIsLoaded">
        <div class="box">
            <div class="container cylinder">
                <div class="hand"></div>
            </div>
        </div>
    </div>

    <i ng-if="!conf.video.autoPlay && openGame.video_data === undefined && !customStreaming && (openGame.is_guest || (env.authorized && profile.totalBalance !== 0 || openGame.allow_zero_balance))" ng-click="broadcast('game.restoreVideo', openGame.id)" class="video-play-button"></i>
    <div ng-if="!playerRemoved && (openGame.video_data || customStreaming) && (openGame.is_guest || env.authorized && (profile.totalBalance > 0 || openGame.allow_zero_balance))" ng-init="soundVolume = env.sound" class="video-player-container">

        <div class="video-control-buttons">
            <div class="play-pause-control" ng-show="videoState.videoIsLoaded">
                <span ng-click="togglePause();" ng-show="!paused" class="video-pause"></span>
                <span ng-click="togglePause();" ng-show="paused" class="video-play"></span>
            </div>
            <div class="sound-volume-control" ng-show="videoState.videoIsLoaded">
                <span ng-click="toggleMute(1)" ng-show="env.sound > 0" class="video-mute"></span>
                <span ng-click="toggleMute(0)" ng-show="env.sound === 0" class="video-unmute"></span>
            </div>
        </div>
        <iframe ng-if="videoState.frameUrl" ng-src="{{ videoState.frameUrl }}" ng-class="{'bootsreaming': customStreaming}" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen></iframe>

        <div ng-if="openGame.video_data || customStreaming" id="{{playerId}}" ng-init="embedPlayer();"></div><!--id="gamevideo{{openGame.id}}"-->
        <div class="video-detached-game-name" ng-if="!customStreaming">
            <div ng-show="enlargedGame">{{enlargedGame.sport.name}} : {{enlargedGame.team1_name}}
                {{enlargedGame.team2_name ? '&mdash; ' + enlargedGame.team2_name : ''}}</div>
            <div ng-show="openGame && !enlargedGame">{{openGame.sport.name}} : {{openGame.team1_name}}
                {{openGame.team2_name ? '&mdash; ' + openGame.team2_name : ''}}</div>
        </div>
    </div>
</div>
