<div ng-switch="$routeParams.widgetid">
    <!-- Live Games Slider Widget -->
    <div class="list-bet-block" ng-if="conf.enableAddToBetSlipFromWidget" ng-show="false" ng-include="::'templates/sport/betslip.html'|fixPath"></div>

    <div ng-switch-when="livegame" ng-controller="widgetCtrl" ng-init="getLiveGamesList()" class="gameing-wrapper">
        <div class="contain-gameing" ng-controller="classicViewCenterController">
            <div class="centr-market-contain">
                <div class="game-center-container">
                    <div class="scroll-contain" ng-class="{'pin-live-section' : !noClassicScroll && env.isLiveGamePinned && conf.enableLiveSectionPin && (openGame.sport.alias !== 'HorseRacing') && !(enlargedGame && openGame.id === enlargedGame.id)}">
                        <div ng-if="newSlideAvailable" class="live-slide-widget">
                            <span class="left-slide" ng-click="widgetSlide('prev')" ng-show="liveGames.length > 1"></span>
                            <div class="game-contain-j"
                                 ng-init="openGameFullDetails(activeSlideGame)"
                                 ng-click="broadCastGameDetails(openGame)"
                                 ng-mouseenter="pauseSlider()"
                                 ng-mouseleave="continueSlide()">
                                <div class="scroll-j-tr">
                                    <div class="scroll-j-td">
                                        <span class="close-multiv-j" ng-click="removeGameFromList(game.id)" ng-show="!openGameLoading"></span>
                                        <div class="live-game-container" ng-show="openGame.type == 1">
                                            <div class="game-content">
                                                <div class="game-info game-{{openGame.sport.alias.toLowerCase()}}" ng-show="!openGameLoading">
                                                    <button class="unpin-button"
                                                            ng-class="{'active': env.isLiveGamePinned && !noClassicScroll}"
                                                            ng-disabled="noClassicScroll"
                                                            ng-show="conf.enableLiveSectionPin && (openGame.sport.alias !== 'HorseRacing') && !(enlargedGame && openGame.id === enlargedGame.id)"
                                                            ng-click="toggleLiveSectionPin()"
                                                            trans="attr-only"
                                                            title="Pin/Unpin">
                                                    </button>
                                                    <div class="game-detailed-stats" ng-if="openGame.sport.alias === 'Soccer' && openGame.live_events">
                                                        <span class="icon-stat-details"></span>
                                                        <div class="hover-sp" ng-class="{'to-right': openGame.info.current_game_time>60, 'to-center': (openGame.info.current_game_time >30 && openGame.info.current_game_time <= 60)}">
                                                            <div class="football-gamer-name" ng-repeat="gameEvent in openGame.live_events|orderBy:'add_info_order':true">
                                                                <div ng-class="gameEvent.event_type+'-icon'" class="{{gameEvent.event_icon}}"></div>
                                                                <span ng-class="gameEvent.team">
                                                                    <tshirt shirt="{{ openGame.info['shirt'+ gameEvent.team.slice(-1) + '_color'] }}" shorts="{{ openGame.info['short'+ gameEvent.team.slice(-1) + '_color'] }}"></tshirt>
                                                                </span>
                                                                <p>{{gameEvent.event_type.replace('_', ' ')|capitalise|translate}} {{ gameEvent.add_info }} {{openGame[gameEvent.team + '_name']}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sport-title" ng-click="broadcast('liveGame.headerClicked', openGame);$event.stopPropagation();" ng-if="liveGamesSoccerTemplate.indexOf(openGame.sport.alias) !== -1">
                                                        <b class="mini-icon-1 mini-icon-{{openGame.sport.id}}" title="{{openGame.sport.alias}}"></b>
                                                        <span class="ellipsis-text" title="{{openGame.competition.name}}">
                                                            <b ng-show="conf.showGameIds">{{openGame.game_number}}</b> {{openGame.competition.name}}
                                                        </span>
                                                        <span ng-if="openGame.sport.alias === 'HorseRacing'" title="{{ openGame.team2_name ?  openGame.team2_name: '' }}">{{ openGame.team2_name ?  openGame.team2_name: '' }}&nbsp;&nbsp;&nbsp; {{ openGame.start_ts| formatDate: "LT"}}</span>
                                                    </div>
                                                    <ng-include src="::'templates/directive/live-game-scores-info.html'|fixPath"></ng-include>
                                                    <div class="add-info" ng-if="!!openGame.info.current_game_state">
                                                        {{ (openGame.info.current_leg === undefined?(openGame.info.current_game_state|convertSetName:openGame.sport.alias): (openGame.info.current_game_state|convertSetNameWithLeg:openGame.info))|translate }} {{ (openGame.info.current_game_time)[0] === '-'? ('will start in'|translate)+' '+ (openGame.info.current_game_time).substring(1): openGame.info.current_game_time }}
                                                    </div>
                                                    <ng-include src="::'templates/directive/live-game-scores-statistics.html'|fixPath"></ng-include>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="scroll-j-tr" ng-class="{'stats-block-shown':(openGame.last_event && showStatsBlock )}">
                                    <div class="scroll-j-td">
                                        <div class="scroll-j-scroll-wrap">
                                            <div class="scroll-j-scroll">
                                                <vbet-loader ng-show="openGameLoading"></vbet-loader>
                                                <!-- Score control -->
                                                <div class="market-contain-b  pin-{{openGame.sport.alias}}" ng-show="!openGameLoading && openGame">
                                                    <!-- race markets -->
                                                    <div ng-if="openGame.sport.alias === 'HorseRacing'">
                                                        <div class="race-market">
                                                            <ul class="header">
                                                                <li ng-click="raceCardsColumnClick('cloth');$event.stopPropagation();"
                                                                    class="arr-up"
                                                                    ng-class="{'arr-down': raceCardsPredicate === 'cloth' && raceCardsReverce}">No.
                                                                </li>
                                                                <li></li>
                                                                <li><p trans>Horse</p><span class="text-small" trans>Trainer/Jockey</span></li>
                                                                <li><span class="text-small" trans>Age</span><span class="text-small" trans>Weight</span></li>
                                                                <li trans>Form</li>
                                                                <li trans>
                                                                    Previous
                                                                    odds
                                                                </li>
                                                                <li ng-click="raceCardsColumnClick('price');$event.stopPropagation();"
                                                                    class="odds arr-up" ng-if="conf.enableNewHorseRacingTemplate"
                                                                    ng-class="{'arr-down': raceCardsPredicate === 'price' && raceCardsReverce}">Odds
                                                                </li>
                                                                <li class="odds" ng-if="conf.enableNewHorseRacingTemplate">SP</li>
                                                            </ul>
                                                            <ul ng-repeat="raceStat in openGame.info.race.raceStats | orderBy:raceCardsOrder:raceCardsReverce track by raceStat.id">
                                                                <li>
                                                                    {{raceStat.runnerNum}}<br /> <span ng-show="raceStat.drawn">({{raceStat.drawn}})</span>
                                                                </li>
                                                                <li class="jockey-colors"><img ng-src="{{raceStat.jockeyInfo.colourFileUrl}}" /></li>
                                                                <li class="main-name" title="{{raceStat.lastRunDays}} {{raceStat.historyStatistics.c}} {{raceStat.historyStatistics.d}} {{raceStat.historyStatistics.cd}} {{raceStat.historyStatistics.bf}}">
                                                                    <div>
                                                                        <p>
                                                                            {{raceStat.name}} <sup title="Days since last run">{{raceStat.last_run_days}}</sup>
                                                                            <b ng-if="!raceStat.historyStatistics.cd && raceStat.historyStatistics.c" title="Course">{{raceStat.historyStatistics.c}}</b>
                                                                            <b ng-if="!raceStat.historyStatistics.cd && raceStat.historyStatistics.d" title="Distance">{{raceStat.historyStatistics.d}}</b>
                                                                            <b ng-if="raceStat.historyStatistics.cd" title="Course and Distance">{{raceStat.historyStatistics.cd}}</b>
                                                                            <b ng-if="raceStat.historyStatistics.bf" title="Beaten Favourite">{{raceStat.historyStatistics.bf}}</b>
                                                                        </p>
                                                                        <span class="text-small">{{raceStat.trainerName}} <b ng-show="raceStat.jockeyInfo.name">/ {{raceStat.jockeyInfo.name}}</b></span>
                                                                    </div>
                                                                </li>
                                                                <li><div class="text-small">{{raceStat.age}}<span class="text-small">{{raceStat.weight}}</span></div></li>
                                                                <li>{{raceStat.formFigures}}</li>
                                                                <li class="odds  preview" ng-bind="raceStat.event.previousPrice?(raceStat.event.previousPrice|oddConvert:env.oddFormat):''"></li>
                                                                <li class="odds" ng-class="{'no-odd': !raceStat.event.price && raceStat.event.sp_enabled, 'no-odd-both':!raceStat.event.price && !raceStat.event.sp_enabled}" ng-if="conf.enableNewHorseRacingTemplate">
                                                                    <div class="bets" ng-click="bet(raceStat.event, (openGame.market | firstElement), openGame) ; $event.stopPropagation();" ng-if="raceStat.event.price" ng-class="{'active': isEventInBetSlip(raceStat.event)}">
                                                                        <span class="{{raceStat.event.price_change == null? '' : ({true: 'up-', false: 'down'}[raceStat.event.price_change > 0] + (raceStat.event.price_change % 2)) }}">{{raceStat.event.price|oddConvert:env.oddFormat:null:openGame.market.display_key}}</span>
                                                                    </div>
                                                                </li>
                                                                <li class="odds" ng-class="{'no-odd': !raceStat.event.sp_enabled}" ng-if="conf.enableNewHorseRacingTemplate">
                                                                    <div class="bets" ng-click="bet(raceStat.event, (openGame.market | firstElement), openGame, 'sp') ; $event.stopPropagation();" ng-if="raceStat.event.sp_enabled" ng-class="{'active': isEventInBetSlip(raceStat.event,'sp')}">
                                                                        {{raceStat.event.sp_enabled?'SP':''}}
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <ul class="favorite" ng-if="openGame.info.race.favourite && conf.enableNewHorseRacingTemplate">
                                                                <li></li>
                                                                <li></li>
                                                                <li class="main-name">
                                                                    Favourite
                                                                </li>
                                                                <li></li>
                                                                <li></li>
                                                                <li class="disabled-cell" ng-class="{'no-odd-both': !openGame.info.race.favourite.sp_enabled}"></li>
                                                                <li class="fixed-small odds" ng-class="{'no-odd': !openGame.info.race.favourite.sp_enabled}">
                                                                    <div class="bets" ng-click="bet(openGame.info.race.favourite, (openGame.market | firstElement), openGame, 'sp') ; $event.stopPropagation();" ng-if="openGame.info.race.favourite.sp_enabled" ng-class="{'active': isEventInBetSlip(openGame.info.race.favourite,'sp')}">
                                                                        {{openGame.info.race.favourite.sp_enabled?'SP':''}}
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <ul class="favorite" ng-if="openGame.info.race.second_favourite && conf.enableNewHorseRacingTemplate">
                                                                <li></li>
                                                                <li></li>
                                                                <li class="main-name">
                                                                    2nd Favourite
                                                                </li>
                                                                <li></li>
                                                                <li></li>
                                                                <li class="disabled-cell" ng-class="{'no-odd-both': !openGame.info.race.second_favourite.sp_enabled}"></li>
                                                                <li class="fixed-small odds" ng-class="{'no-odd': !openGame.info.race.second_favourite.sp_enabled}">
                                                                    <div class="bets" ng-click="bet(openGame.info.race.second_favourite, (openGame.market | firstElement), openGame, 'sp') ; $event.stopPropagation();" ng-if="openGame.info.race.second_favourite.sp_enabled" ng-class="{'active': isEventInBetSlip(openGame.info.race.second_favourite,'sp')}">
                                                                        {{openGame.info.race.second_favourite.sp_enabled?'SP':''}}
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <ul class="non-runner" ng-repeat="raceStat in openGame.info.race.nonRunners" ng-if="conf.enableNewHorseRacingTemplate">
                                                                <li>
                                                                    {{raceStat.runnerNum}}<br /> <span ng-show="raceStat.drawn">({{raceStat.drawn}})</span>
                                                                </li>
                                                                <li class="jockey-colors"><img ng-src="{{raceStat.jockeyInfo.colourFileUrl}}" /></li>
                                                                <li class="main-name" title="{{raceStat.lastRunDays}} {{raceStat.historyStatistics.c}} {{raceStat.historyStatistics.d}} {{raceStat.historyStatistics.cd}} {{raceStat.historyStatistics.bf}}">
                                                                    <div>
                                                                        <p>
                                                                            {{raceStat.name}}<sup title="Days since last run">{{raceStat.lastRunDays}}</sup>
                                                                            <b ng-if="!raceStat.historyStatistics.cd && raceStat.historyStatistics.c" title="Course">{{raceStat.historyStatistics.c}}</b>
                                                                            <b ng-if="!raceStat.historyStatistics.cd && raceStat.historyStatistics.d" title="Distance">{{raceStat.historyStatistics.d}}</b>
                                                                            <b ng-if="raceStat.historyStatistics.cd" title="Course and Distance">{{raceStat.historyStatistics.cd}}</b>
                                                                            <b ng-if="raceStat.historyStatistics.bf" title="Beaten Favourite">{{raceStat.historyStatistics.bf}}</b>
                                                                        </p>
                                                                        <span class="text-small">{{raceStat.trainerName}} <b ng-show="raceStat.jockeyInfo.name">/ {{raceStat.jockeyInfo.name}}</b></span>
                                                                    </div>
                                                                </li>
                                                                <li><div class="text-small">{{raceStat.age}}<span class="text-small">{{raceStat.weight}}</span></div></li>
                                                                <li>{{raceStat.formFigures}}</li>
                                                                <li></li>
                                                                <li><div title="Non Runner">Non Runner</div></li>
                                                            </ul>
                                                        </div>
                                                        <div class="each-way" ng-show="conf.showEachWay">
                                                            <div ng-show="(openGame.market|firstElement).ew_coeff > 1">
                                                                <span>EW:</span>
                                                                {{'1/'+ (openGame.market|firstElement).ew_coeff}}&nbsp;
                                                                {{eachWayPlace((openGame.market|firstElement).ew_place)}}
                                                            </div>
                                                            <div ng-show="!((openGame.market|firstElement).ew_coeff) || (openGame.market|firstElement).ew_coeff < 2" trans>Win Only</div>
                                                            <div class="rule-four" ng-show="openGame.info.race.rule4" trans>There may be a Rule 4 on this Race</div>
                                                        </div>
                                                    </div>

                                                    <!-- race markets END -->

                                                </div>
                                                <div ng-show="env.live && !openGameLoading" class="live-indicator-text hide-on-mv-j">
                                                    <p trans>The time display shown within live betting serves as an indicator. The company takes no responsibility for the correctness and currentness of the displayed information like score or time.</p>
                                                </div>
                                                <div ng-show="openGame && openGame.markets_count === 0 && !openGameLoading" class="no-games-information">
                                                    <p trans>We are not accepting bets on this event at the moment.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <span class="right-slide" ng-click="widgetSlide('next')" ng-show="liveGames.length > 1"></span>
                        </div>
                        <p class="no-widget-games" ng-show="!liveGames.length" trans>There are no Live Events at the moment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Popular Games Widget -->
    <div ng-switch-when="populargames">
        <div>
            <game-widget ng-if="conf.showPromotedGamesOnWidget.enabled" sport-tabs-quantity="5" game-widget-type="'popularGamesWidget'" game-widget-mode="'iframe'" game-widget-title="'Popular Games'"></game-widget>
        </div>
    </div>

    <!-- Last Minutes bets Games Widget -->
    <div ng-switch-when="lastminutesbets">
        <div>
            <game-widget sport-tabs-quantity="15" game-widget-type="'lastMinutesBets'" game-widget-mode="'iframe'" game-widget-title="'Last minute bets'" class="last-minutes-widget-b"></game-widget>
        </div>
    </div>

    <!-- Bet Now Widget bets Games Widget -->
    <div ng-switch-when="betnow">
        <div ng-init="isIframe=true">
            <ng-include src="::'templates/sport/dashboard/betnowwidget.html'|fixPath"></ng-include>
        </div>
    </div>

    <div ng-switch-when="euro2016">
        <div>
            <ng-include src="::'templates/sport/championship/classic/main.html'|fixPath"></ng-include>
        </div>
    </div>
    <div ng-switch-when="news">
        <div ng-init="isWidget=true">
            <div class="news-block-section">
                <div ng-include="::'templates/homepage/newsWidget.html'|fixPath" class="tpl-container"></div>
            </div>
        </div>
    </div>

    <!--featuredgames widget-->
    <div ng-switch-when="featuredgames">
        <div ng-init="isIframe=true">
            <ng-include src="::'templates/homepage/featuredGamesSlider.html'|fixPath"></ng-include>
        </div>
    </div>

    <!--freebet widget-->
    <div ng-switch-when="freebet">
        <div ng-init="isIframe=true">
            <ng-include src="::'templates/freebet/main.html'|fixPath"></ng-include>
        </div>
    </div>

    <!--animation widget-->
    <div ng-switch-when="animation" ng-controller="widgetCtrl" ng-init="openGameById($location.search().gameid)">
        <div ng-init="isIframe=true">
           <div class="video-animation-vox-v3 animation-control">
               <include-template template-path="templates/sport/classic/animations.html"></include-template>
           </div>
       </div>
    </div>
    <!--casino jackpot widget  todo can be removed-->
    <div ng-switch-when="casino-jackpot-counter">
        <div ng-init="isIframe=true">
           <jackpot-slider type="casino" template-type="widget" jackpot-index="$routeParams.jackpotIndex || 0" load-jackpot-data="true"></jackpot-slider>
       </div>
    </div>
    <!--jackpot widget-->
    <div ng-switch-when="jackpot-counter">
        <div ng-init="isIframe=true">
           <jackpot-slider type="{{$routeParams.type||'casino'}}" jackpot-index="$routeParams.jackpotIndex || 0" template-type="widget" load-jackpot-data="true"></jackpot-slider>
       </div>
    </div>
    <!--sportsBook jackpot widget-->  <!-- todo can be removed-->
    <div ng-switch-when="sportsbook-jackpot-counter">
        <div ng-init="isIframe=true">
            <sportsbook-jackpot ></sportsbook-jackpot>
        </div>
    </div>
    <!--betting calculator widget-->
    <div ng-switch-when="betting-calculator">
        <div ng-init="isIframe=true">
           <ng-include src="::'templates/sport/classic/systemCalculator.html'|fixPath"></ng-include>
        </div>
    </div>
</div>
