<div class="betSettingsContainer-j" 
     ng-class="{'active': $parent.showBetSettings}" 
     ng-show="$parent.betSlip.mode === 'betting' && !$parent.betSlip.superbetSelector">
    <i ng-click="$parent.showBetSettings=!$parent.showBetSettings; $parent.newsDependBetSetting()"></i>
    <div class="betslipOptions-j">
        <div>
            <p trans>Betting options</p>
            <span trans>Automatically accept price changes</span>
            <label>
                <input type="radio" ng-model="$parent.acceptPriceChanges" value="0" ng-disabled="$parent.isBetsInProgress" ng-click="$parent.showBetSettings=!$parent.showBetSettings">
                <span trans>Always ask</span>
            </label>
            <label>
                <input type="radio" ng-model="$parent.acceptPriceChanges" value="1" ng-disabled="$parent.isBetsInProgress" ng-click="$parent.showBetSettings=!$parent.showBetSettings">
                <span trans>Accept Higher odds</span>
            </label>
            <label>
                <input type="radio" ng-model="$parent.acceptPriceChanges" value="2" ng-disabled="$parent.isBetsInProgress" ng-click="$parent.showBetSettings=!$parent.showBetSettings">
                <span trans>Accept Any odds</span>
            </label>
        </div>
    </div>
</div>