<div ng-if="$root.conf.betStatus.enabled" ng-controller="betStatusCtrl" class="bet-status-container {{resultMap[betStatus.details.StateName] || betStatus.details.StateName.toLowerCase()}}" ng-class="{closed: !betStatus.open}">
    <p class="bet-status-select" ng-click="toggleBetStatus()" trans>Get Bet Status</p>
    <div class="bet-status-content" ng-if="betStatus.open && !$root.env.sliderContent && !$root.env.showSlider">
        <p ng-show="betStatus.details.StateName">
            {{betStatus.details.StateName|translate}}
            <i class="remove-icon-betslip-v3" title="Clear" trans ng-click="clearBetStatus()"></i>
        </p>
        <vbet-loader ng-if="betStatus.loading" class="small-progress"></vbet-loader>
        <div class="bet-status-input">
            <span trans>Bet/Ticket Number</span>
            <div class="bet-status-get">
                <div>
                    <input type="text" ng-model="betStatus.ticketNumber" prevent-input="[^0-9]">
                </div>
                <div ng-click="getBetStatus()">
                    <button ng-disabled="!betStatus.ticketNumber || betStatus.displayRecaptcha && !betStatus.g_recaptcha_response" trans></button>
                </div>
            </div>
            <div class="bet-status-recaptcha" ng-if="betStatus.displayRecaptcha" ng-controller="recaptchaCtrl" ng-init="init()">
                <input type="hidden" name="g_recaptcha_response" ng-model="betStatus.g_recaptcha_response" ng-required="false"/>
                <div class="tooltip-wrapper-j" ng-if="recaptcha.key">
                    <div class="g-recaptcha" data-callback="recaptchaUpdateCallback" data-sitekey="{{recaptcha.key}}" data-theme="{{recaptcha.theme || 'dark'}}" data-size="{{recaptcha.size || 'normal'}}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
