<div ng-init="setTitle('Sport')" class="content-wrapper-t">
    <div ng-controller="sportsbookCtrl" ng-if="!env.isOffline && calculatedConfigs.sportEnabled" class="size-h-container">
        <div ng-include="::'templates/sport/asian/main.html'|fixPath"
             ng-if="$root.conf.sportsLayout === 'asian' && $location.path() !== '/poolbetting/'"></div>
        <div ng-include="'optional_modules/comboView/templates/main.html'|fixPath"
             ng-if="$root.conf.sportsLayout === 'combo' && $location.path() !== '/poolbetting/'"
             class="alternative-sportsbook-wrapper"
        ></div>

        <div class="classic-version-euro2016" ng-include="::'templates/sport/classic/main.html'|fixPath"
             ng-if="$root.conf.sportsLayout === 'classic' && $location.path() !== '/poolbetting/'"></div>

        <div ng-include="::'templates/poolbetting/new.html'|fixPath"
             ng-if="$location.path() === '/poolbetting/' && $root.conf.newPoolBettingPage"></div>

        <div ng-if="$root.conf.sportsLayout === 'modern' || $location.path() === '/poolbetting/'" class="float-width"
             ng-class="{'sports-on-top': $root.conf.sportsAlwaysOnTop}">
            <div class="tpl-container explorer-container" ng-include="::'templates/sport/explorer.html'|fixPath"
                 ng-if="$location.path() === '/sport/' || $location.path().indexOf('customsport') !== -1" class-on-scroll="block-fixed,block-no-fixed"></div>
            <div class="modern-calc-w">
                <div id="system-claculator-container" ng-if="$root.showSystemCalculator" draggable allow-other-mouse-events drag-from="calculator-draggable-header">
                    <div ng-include="::'templates/sport/classic/systemCalculator.html'|fixPath"></div>
                </div>
            </div>

            <div class="conteiner-content {{selectedSportAlias}}"
                 ng-if="$location.path() !== '/poolbetting/' || !$root.conf.newPoolBettingPage"
                 ng-class="selectedSportAlias + '-' + selectedRegionAlias">
                <div class="content">
                    <div class="games-center">

                        <div class="left-b-game" id="gamesContainer" ng-include="::'templates/sport/games.html'|fixPath"
                             ng-if="($location.path() === '/sport/' || $location.path().indexOf('customsport') !== -1)"></div>
                        <div class="left-b-game" ng-include="::'templates/poolbetting/main.html'|fixPath"
                             ng-if="$location.path() === '/poolbetting/' && !$root.conf.newPoolBettingPage"></div>

                        <div ng-if="!$root.conf.disableBetSlip" class="right-block-list betslip-sticky" ng-class="{'betslip-open':betslipOpen}">

                            <ng-include class="include-viewSwitcher-j" src="::'templates/sport/viewswitcher.html'|fixPath"></ng-include>
                            <pre-match-stream-channels channels="prematchChannels" availability="$root.profile.balance > 0" ng-if="!$root.env.live" env="$root.env"></pre-match-stream-channels>

                            <div class="betslip-toggle" ng-click="betslipOpen=!betslipOpen"
                                 ng-class="{'betslip-button-open':betslipOpen }"><p>BetSlip</p><span
                                    class="betslip-bets-count" ng-bind="$root.betSlipBetsCount"></span></div>
                            <div class="list-bet-block" ng-if="$location.path() !== '/poolbetting/'"
                                 ng-include="::'templates/sport/betslip.html'|fixPath"></div>
                            <div ng-controller="twitterController"
                                 ng-include="::'templates/homepage/twitterWidget.html'|fixPath"
                                 class="twitter-news-contain" ng-if="$root.conf.twitterFeed.enabled" ng-show="tweets.length"
                                 ng-init="loadTwitterFeed()"></div>
                            <div class="mini-games" ng-if="$root.conf.enableMiniGameUnderBetslip && $root.casinoEnabled"
                                 ng-include="'optional_modules/casino/templates/specialgames/minigames.html'|fixPath"></div>

                            <div class="right-banner-container" ng-if="$root.conf.enableBannerUnderBetslip"
                                 ng-controller="cmsSportNewsCtrl"
                                 ng-include="::'templates/sport/classic/banners.html'|fixPath"></div>

                            <div class="sport-news" ng-include="::'templates/sport/sportnews.html'|fixPath"
                                 id="sport-news-sidebar" ng-if="$root.conf.enableNews && $root.conf.enableNewsInModernView"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-slider popup" ng-if="betBuilderGame" ng-include="::'templates/sport/betBuilder/main.html'|fixPath"></div>
    </div>
    <div ng-if="env.isOffline" ng-include="::'templates/offline.html'|fixPath"></div>
</div>
