<div ng-controller="cmsSportNewsCtrl" ng-init="loadRecentNews(0, 5); showSportNewsSidebar = $root.conf.disableModernNewsTab ? true : false">

    <div ng-hide="$root.conf.disableModernNewsTab" ng-click="showSportNewsSidebar = !showSportNewsSidebar">
        <h2 trans>sport news</h2> <span class="toggle-news" ng-class="{'open': showSportNewsSidebar, 'closed': !showSportNewsSidebar}"></span>
    </div>

    <ul ng-repeat="news in recentNews" ng-show="showSportNewsSidebar" no-animate>
        <li><a href="#/news/?news={{ news.id }}#lnews-{{ news.id }}"><img ng-src="{{news.thumbnail_images.thumbnail.url || news.thumbnail}}" alt=""></a></li>
        <li>
            <p><a href="#/news/?news={{ news.id }}#lnews-{{ news.id }}" ng-bind-html="news.title" ng-click="gaSend('send', 'event', 'news', 'betslip news click', {'page': $location.path(), 'eventLabel': news.categoryTitle});gaSend('send', 'event', 'news', 'betslip news by ID', {'page': $location.path(), 'eventLabel': news.id});"></a></p>
            <span ng-bind="news.date|formatDate:'full':null:$root.env.timeFormat"></span>
        </li>
    </ul>
</div>
