<div class="container-p gameing-wrapper" no-animate ng-init="setTitle('Virtual sports')">
    <!-- System Calculator-->
    <div id="system-claculator-container" ng-if="$root.showSystemCalculator" draggable allow-other-mouse-events drag-from="calculator-draggable-header">
        <ng-include src="::'templates/sport/classic/systemCalculator.html'|fixPath"></ng-include>
    </div>
    <!-- System Calculator-->
    <div class="center-container-p">
        <div class="old-classic-scroll-contain">
            <div class="contain-gameing">
                <div class="centr-market-contain virtual-games">
                    <div ng-include="::'templates/sport/virtualsports.html'|fixPath"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-container-p">
        <div class="old-classic-scroll-contain">
            <div class="right-betslip-contain">
                <ng-include class="include-viewSwitcher-j" src="::'templates/sport/viewswitcher.html'|fixPath"></ng-include>
                <div class="betslip-toggle" ng-click="betslipOpen=!betslipOpen" ng-class="{'betslip-button-open':betslipOpen }"><p>BetSlip</p><span class="betslip-bets-count" ng-bind="$root.betSlipBetsCount"></span></div>
                <div class="list-bet-block" ng-if="$location.path() !== '/poolbetting/'" ng-include="::'templates/sport/betslip.html'|fixPath"></div>
                <div class="mini-games" ng-if="conf.enableMiniGameUnderBetslip && $root.casinoEnabled" ng-include="'optional_modules/casino/templates/specialgames/minigames.html'|fixPath"></div>
                <div class="right-banner-container" ng-if="conf.enableBannerUnderBetslip" ng-controller="cmsSportNewsCtrl" ng-include="::'templates/sport/classic/banners.html'|fixPath"></div>
            </div>
        </div>
    </div>
</div>