{
  "name": "vbet.com",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [
      "templates",
      "templates/draw",
      "sass"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "sass/skin-second.scss",
      "imports": [
        "../../css/_mixins.scss",
        "sass/functions/_colors.scss",
        "../../css/_createSkin.scss",
        "../../css/_skinning.scss",
        "../../css/_main.scss",
        "../../css/_gameAnimationsSoccer.scss",
        "../../css/_gameAnimationsTennis.scss",
        "../../css/_gameAnimations.scss",
        "../../css/_media.scss",
        "../../css/_classic.scss",
        "../../css/_mainSecond.scss",
        "../../css/_introjs.scss",
        "../../css/_barcode.scss",
        "../../css/_rgSlider.scss",
        "../../css/_rzSlider.scss",
        "../../css/_hopscotch.scss",
        "../../css/_fonts.scss",
        "../../css/_animations.scss",
        "../../css/_flags.scss",
        "../../css/_asianSkinning.scss",
        "../../css/_asian.scss",
        "../../css/_faq.scss",
        "../../css/_popups.scss",
        "../../css/_registration.scss",
        "../../css/_lastMinuteBets.scss",
        "../../css/_regionalCup.scss",
        "../../css/_liveScoreSoccerTimeline.scss",
        "../../css/_recentBets.scss",
        "../../css/_freeWinners.scss",
        "../../css/_buddyToBuddy.scss",
        "../../css/_dashboard.scss",
        "../../css/_footer.scss",
        "../../css/_featuredGame.scss",
        "../../css/_aboutUs.scss",
        "../../css/_calculator.scss",
        "../../css/_poolBetting.scss",
        "../../css/_results.scss",
        "../../css/_snippets.scss",
        "../../css/_twitter.scss",
        "../../css/_widgets.scss",
        "../../css/_gameLandings.scss",
        "../../css/_games.scss",
        "../../css/_print.scss",
        "../../css/_liveCasinoPopup.scss",
        "../../css/_liveCalendar.scss",
        "../../css/_howToPlay.scss",
        "../../css/_userSettings.scss",
        "../../css/_winners.scss",
        "../../css/_playOff.scss",
        "../../css/_hoverSubheader.scss",
        "../../css/_mixedView.scss",
        "../../css/_loyaltyPoints.scss",
        "../../css/_registrationFr.scss",
        "../../css/_casino.scss",
        "../../css/_threeSkillGamesLanding.scss",
        "../../fonts/icomoon/icons.scss",
        "../../fonts/sport/_sportIcons.scss",
        "../../css/_header.scss",
        "../../css/_euro2016Structure.scss",
        "../../css/_euro2016Left.scss",
        "../../css/_euro2016CentreColumn.scss",
        "../../css/_euro2016Dashboard.scss",
        "../../css/_euro2016Betslip.scss",
        "../../css/_liveScore.scss",
        "../../css/_liveMultiview.scss",
        "../../css/_euro2016Media.scss",
        "../../css/_euro2016Results.scss",
        "../../css/_euro2016MultiColumn.scss",
        "../../css/_homepage.scss",
        "../../css/_exchangeShop.scss",
        "../../css/_statisticsOnHover.scss",
        "../../css/_miniGames.scss",
        "../../css/_comboBetslip.scss",
        "../../css/_comboCentre.scss",
        "../../css/_comboLeft.scss",
        "../../css/_comboLiveOverview.scss",
        "../../css/_comboStructure.scss",
        "../../css/_spinner.scss",
        "../../css/_draw.scss",
        "../../css/_firstDepositBonus.scss",
        "../../css/_betterHomepage.scss",
        "../../css/_tournaments.scss",
        "../../css/_sliderAnimations.scss",
        "../../css/_freeBet.scss",
        "../../css/_liveCasino.scss",
        "../../css/_payments.scss",
        "../../css/_asianSecondType.scss",
        "../../css/_russia2018.scss"
      ]
    },
    {
      "path": "sass/skin.scss",
      "imports": [
        "../../css/_mixins.scss",
        "sass/functions/_colors.scss",
        "../../css/_createSkin.scss",
        "../../css/_skinning.scss",
        "../../css/_main.scss",
        "../../css/_gameAnimationsSoccer.scss",
        "../../css/_gameAnimationsTennis.scss",
        "../../css/_gameAnimations.scss",
        "../../css/_media.scss",
        "../../css/_classic.scss",
        "../../css/_mainSecond.scss",
        "../../css/_introjs.scss",
        "../../css/_barcode.scss",
        "../../css/_rgSlider.scss",
        "../../css/_rzSlider.scss",
        "../../css/_hopscotch.scss",
        "../../css/_fonts.scss",
        "../../css/_animations.scss",
        "../../css/_flags.scss",
        "../../css/_asianSkinning.scss",
        "../../css/_asian.scss",
        "../../css/_faq.scss",
        "../../css/_popups.scss",
        "../../css/_registration.scss",
        "../../css/_lastMinuteBets.scss",
        "../../css/_regionalCup.scss",
        "../../css/_liveScoreSoccerTimeline.scss",
        "../../css/_recentBets.scss",
        "../../css/_freeWinners.scss",
        "../../css/_buddyToBuddy.scss",
        "../../css/_dashboard.scss",
        "../../css/_footer.scss",
        "../../css/_featuredGame.scss",
        "../../css/_aboutUs.scss",
        "../../css/_calculator.scss",
        "../../css/_poolBetting.scss",
        "../../css/_results.scss",
        "../../css/_snippets.scss",
        "../../css/_twitter.scss",
        "../../css/_widgets.scss",
        "../../css/_gameLandings.scss",
        "../../css/_games.scss",
        "../../css/_print.scss",
        "../../css/_liveCasinoPopup.scss",
        "../../css/_liveCalendar.scss",
        "../../css/_howToPlay.scss",
        "../../css/_userSettings.scss",
        "../../css/_winners.scss",
        "../../css/_playOff.scss",
        "../../css/_hoverSubheader.scss",
        "../../css/_mixedView.scss",
        "../../css/_loyaltyPoints.scss",
        "../../css/_registrationFr.scss",
        "../../css/_casino.scss",
        "../../css/_threeSkillGamesLanding.scss",
        "../../fonts/icomoon/icons.scss",
        "../../fonts/sport/_sportIcons.scss",
        "../../css/_header.scss",
        "../../css/_euro2016Structure.scss",
        "../../css/_euro2016Left.scss",
        "../../css/_euro2016CentreColumn.scss",
        "../../css/_euro2016Dashboard.scss",
        "../../css/_euro2016Betslip.scss",
        "../../css/_liveScore.scss",
        "../../css/_liveMultiview.scss",
        "../../css/_euro2016Media.scss",
        "../../css/_euro2016Results.scss",
        "../../css/_euro2016MultiColumn.scss",
        "../../css/_homepage.scss",
        "../../css/_exchangeShop.scss",
        "../../css/_statisticsOnHover.scss",
        "../../css/_miniGames.scss",
        "../../css/_comboBetslip.scss",
        "../../css/_comboCentre.scss",
        "../../css/_comboLeft.scss",
        "../../css/_comboLiveOverview.scss",
        "../../css/_comboStructure.scss",
        "../../css/_spinner.scss",
        "../../css/_draw.scss",
        "../../css/_firstDepositBonus.scss",
        "../../css/_betterHomepage.scss",
        "../../css/_tournaments.scss",
        "../../css/_sliderAnimations.scss",
        "../../css/_freeBet.scss",
        "../../css/_liveCasino.scss",
        "../../css/_payments.scss",
        "../../css/_asianSecondType.scss",
        "../../css/_russia2018.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}